[2021-01-28 14:40] iviangita commented on #371
Quick update: draft in progress :)

Here's the link to the doc for our common reference: https://docs.google.com/document/d/1-ysqAIbqx4KY3WEiVqnX8SUVC8197cKiFdxJSWOjgLc/edit#

We'll notify Santi once it's ready for review :)

[2021-01-28 17:15] knobsdao commented on #340
Hey @tamarandom. Yes, I'm in contact with them thanks Jess. We disconnected a bit, but I can circle back and take this forward.

[2021-01-28 18:13] liviade1 commented on #264
the call was cancelled for the 3rd time today. Alex couldn't come and we decided to listen to this sign of the universe 🙃 and wait at least a week to see if this flows. So I'll block this issue for now.

[2021-01-28 18:28] JuankBell commented on #183
Uptaded 28 jan, Roadmap until 11 march. (first generation of Gravitons on hatch week) :D

Gravity WG manifesto: https://docs.google.com/document/d/1yrEcPoOW8Q1qDE-YWWF0MhXlcvpiMk0jmdQx25nfZ6k/edit#

[2021-01-28 18:28] #183 closed

[2021-01-29 10:05] tamarandom commented on #340
@knobsdao Awesome! Thank you!

[2021-01-29 11:33] Zeptimus commented on #329
https://forum.tecommons.org/t/tec-transparency-audit-proposal/235 :-D

[2021-01-29 11:33] #329 closed

[2021-01-29 14:58] markoprljic opened #390 "New Discord / Implement SourceCred"
## 📋 Anything to add?

SOURCE CRED EXPLORER https://tecommons.github.io/tec-sourcecred/#/explorer
Get someone from 1Hive to help with this.

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@markoprljic

## 🔗 Work doc - inspirational links

[2021-01-29 15:45] markoprljic commented on #2
1. Jess will start with Interviews
2. Draft Storyboard doc
3. Share with the group for more ideas

[2021-01-29 15:46] markoprljic opened #391 "Onboarding video / Storyboard"

[2021-01-30 14:52] iviangita commented on #388
Hi @tamarandom @Santigs, below is the copy I drafted. Hope you can review and let me know if there's anything you want to change. :)

P.S. Twitter has 280 character limit. If more details need to be added, I suggest to put them in a nice graphic instead.

"OPEN CALL FOR LEGAL EXPERTS: Do you have a legal background and strong interest in decentralized technologies? We'd love you in our Legal WG! Y

[2021-01-31 08:58] tamarandom commented on #388
Hey @iviangita Looks good to me.

[2021-02-01 07:00] markoprljic commented on #388
Need feedback from @Santigs to complete this task and close issue.

[2021-02-01 07:02] markoprljic commented on #383
Needs another meeting with @jessicazartler to complete this task. Target before Sprint Retro.

[2021-02-01 07:04] markoprljic commented on #301
@jessicazartler needs to review, blocking @metaverde to move forward.

[2021-02-01 07:11] markoprljic commented on #307
@krisjpi When do you think you can dedicate some time to work with @metaverde on this issue? To speed things up we could also ask other people to contribute. Please let us know if this works for you so.

[2021-02-01 07:12] markoprljic commented on #305
@krisjpi Related to[ this issue](https://app.zenhub.com/workspaces/samurai-shark-5fff2ff3773cf800118fd99c/issues/tecommons/coordination/307), I have a similar question. Can you give an estimate on this?
Thanks!

[2021-02-01 07:58] Santigs commented on #388
Looks good to me too guys.
Thank you @iviangita for writing it and @tamarandom and @markoprljic for reviewing it!

[2021-02-01 12:24] Zeptimus commented on #331
We will reach out to Soft Gov @liviade1  and Gravity @JuankBell to discuss the details and their availability.

[2021-02-01 12:28] Zeptimus commented on #263
Close

[2021-02-01 12:28] #263 closed

[2021-02-01 13:25] freedumbs00 commented on #380
Tokens minted and dispersed

[2021-02-01 13:33] markoprljic commented on #165
Looks like we have made the decision to use:

- Hubspot
- Substack

@knobsdao @cranders1 Can we close this issue?

[2021-02-01 14:29] markoprljic commented on #384
@Zeptimus signaling support from Transparency WG.

[2021-02-01 15:40] #388 closed

[2021-02-01 15:40] iviangita commented on #388
Posted w/ Jess' edits! Here's the [tweet](https://twitter.com/tecmns/status/1356265609869189128?s=20). :)

Closing now :)

[2021-02-01 16:18] jessicazartler commented on #383
Had 2nd meeting this morning - all good moving forward, will coordinate with Ivy if I need anything further or add to the weekly Tweet document closing :D

[2021-02-01 16:18] #383 closed

[2021-02-01 17:43] jessicazartler opened #392 "Praise Quant / News Blog: Jan. 15 - Feb. 1"
## 📋 Anything to add?

Bi-weekly praise & news blog

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [x] Jess create draft w/ big news headlines
- [x] Craig write & publish
- [x] Jess distribute

## 🤼‍ Reviewer

@GriffGreen

## 🔗 Work doc - inspirational links
https://docs.google.com/document/d/1bOzENvd5kjEOEBfGryurm12uguikViBT2xGnTjsX6F4/edit

[2021-02-01 17:43] jessicazartler commented on #392
@cranders1 draft is ready :D

[2021-02-01 22:50] jessicazartler commented on #301
Got admin powers for Discord -- started building the basic channels, have a work session with MetaVerde Wednesday to polish/discussion and decide next steps to push forward the Discord

[2021-02-02 04:56] knobsdao commented on #165
@markoprljic Yes! @cranders1 I made a TEC Hubspot (sent the logins to @jessicazartler).

Thinking about your comment on capturing emails. There is a [HubSpot WordPress plugin](https://www.hubspot.com/products/wordpress) that may be useful. The other option is to capture them from SubStack directly, which would make sense if the CTA is a "Join Our Newsletter". If something different, then HubSpot.

[2021-02-02 05:00] knobsdao commented on #164
CSV with Trusted Seed Members who also hold Impact Hours (up to Jan 25th) is ready and up in CS' HubSpot. Crafting the email campaign from CS' side is next.

[2021-02-02 12:27] tamarandom commented on #274
Hey @eduardovegap ! Is there any reason to leave this one open? It was the issue opened for Sprint 1.

We have #385 that Jake & I created last week with the specific TEC and CS people we will be reaching out to. More issues like that for other onboarders would be great too.

[2021-02-02 14:54] cranders1 commented on #164
Thnx Dan

[2021-02-02 14:59] markoprljic commented on #164
This is great news @knobsdao Thanks a million!
With that I will close this issue 🙌

[2021-02-02 14:59] #164 closed

[2021-02-02 15:00] cranders1 commented on #165
Thnx for update @knobsdao. Its all still greek to me. Hubspot & Substack.

I need guidance on both platforms. Whenever you have space for a work session Dan.

@jessicazartler if you can send me the login credentials or the like, I can start peering inside :)

[2021-02-02 15:16] markoprljic commented on #325
There is a [HubSpot WordPress plugin](https://www.hubspot.com/products/wordpress) that may be useful.

[2021-02-02 15:16] markoprljic commented on #165
@knobsdao Yes, there's this issue related. I'm adding your note on Hubspot WP plugin. https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/325

[2021-02-02 15:20] markoprljic commented on #165
@cranders1 @knobsdao Next step after this has been decided is this issue. Moving on there :)

[2021-02-02 15:20] #165 closed

[2021-02-02 15:21] markoprljic commented on #325
[Related issue (closed)](https://github.com/TECommons/coordination/issues/165) regarding Hubspot and Substack.
@rosamoc

[2021-02-02 15:37] freedumbs00 commented on #62
I wan't to assign Eduadro to this and pass it all off to him @jessicazartler and @tamarandom

[2021-02-02 15:44] freedumbs00 commented on #195
I as well would move this to Edaurdo

[2021-02-02 15:46] freedumbs00 commented on #301
Can Eduardo get involved in this as well?

[2021-02-02 15:51] freedumbs00 commented on #54
Want to assign Eduardo

[2021-02-02 15:54] freedumbs00 commented on #48
Can we assign Eduardo here too?

[2021-02-02 15:56] jessicazartler commented on #48
Whoever takes this on can contact our contributor and Santi's friend @rosamoc
She is an SEO expert - does this for a living

[2021-02-02 15:58] freedumbs00 commented on #48
Thank you Jess!  @eduardovegap you're up.

[2021-02-02 16:02] markoprljic commented on #54
Eduardo?

Someone needs to provide credentials to access social media profiles.

[2021-02-02 16:03] freedumbs00 commented on #54
@jessicazartler We need the good's so Eduardo can take this on.

[2021-02-02 16:12] markoprljic commented on #54
Assets can be found in the [TEC Marketing Figma](https://www.figma.com/file/kyXvCY9ttgQEtsLyzSnu16/TEC-Marketing?node-id=208%3A665). I updated the issue with the link to the file.

[2021-02-02 16:19] jessicazartler commented on #54
@markoprljic the profile is awesome - anyway you could make the cover the warped universe/nft blob style?
@eduardovegap will send you the sign in credentials via TG

[2021-02-02 16:30] jessicazartler commented on #301
Yeah sure I'll DM him thanks

[2021-02-02 16:35] jessicazartler commented on #195
Messaged Angela to see if she wants to present Gitcoin Research group this week - will circle back

[2021-02-02 16:36] jessicazartler commented on #62
@iviangita has offered to assist with this since she is handling agenda/recurring twitter scheduling - we just have to tell her who is presenting a few days ahead if possible

[2021-02-02 16:39] markoprljic commented on #195
Since we have this issue https://github.com/TECommons/coordination/issues/62 does that mean we can close this one?
@jessicazartler @tamarandom

[2021-02-02 16:41] jessicazartler commented on #298
https://medium.com/token-engineering-commons/towards-robust-and-resilient-economies-and-communities-8effcc5bc20d

[2021-02-02 16:41] #298 closed

[2021-02-02 17:28] tamarandom commented on #316
Hey @natenatesoo, can you pass me your article. I don't know what editing it needs but in answer to @jessicazartler's call for a volunteer on the comms call just now, I raise my hand. (I'm a pretty decent editor.)

[2021-02-02 17:43] tamarandom commented on #195
I see what happened. I accidentally reopened #62 because I didn't remove the #repeating label when I closed it. Fixed!! ;)

This issue to to make sure that it gets done every week. It is a weekly repeating task. It should only have 1 owner so I'll untag @jessicazartler and let @eduardovegap consult her as needed.

[2021-02-02 17:49] jessicazartler commented on #195
Angela will present this week :D thanks @liviade for the idea!!!! And so we just need to find someone for next week @vegayp updated in curate sheet

[2021-02-02 18:02] tamarandom commented on #195
@jessicazartler @liviade1 : Pass, shoot, score!! 🙌🏼

[2021-02-02 18:45] tamarandom opened #393 "Proposal for the Github weights in Source Cred"
Simple feedback on Github weights for SourceCred.
https://tecommons.github.io/tec-sourcecred/#/explorer

Share the proposal with @Santigs and @mateodaza

[2021-02-02 18:46] jessicazartler commented on #316
Updated in description
https://docs.google.com/document/d/1MqiJsWZqV18wrzZhJC6kcgaOX0jiej2Tj6ZinJFNSVg/edit?usp=sharing

Thanks Tamara!!!

[2021-02-02 20:52] tamarandom commented on #316
@natenatesoo I linked a first pass edit in a link at the bottom of that doc. Let me know what you think & I can do a second pass Thursday or later this week.

[2021-02-03 04:00] cranders1 commented on #392
Hey @jessicazartler @GriffGreen - PQ blog ready for revision & link check

[2021-02-03 07:37] Santigs commented on #393
We will share all sourcecred parameters next week

[2021-02-03 08:07] markoprljic commented on #304
Updated the working doc with a few more ideas/needs https://docs.google.com/document/d/1Cr_GSoGaW7SfslvIMwtFvoyj1U7i1EWWvtO2Euj7_e4/edit#heading=h.9xfi6hl05umd

[2021-02-03 17:55] jessicazartler commented on #392
on it now will let you know when I finish

[2021-02-03 18:39] jessicazartler commented on #392
@cranders1 finished - just a few tiny things but DAMN this blog looks gooooood! Fantastic, I really love your writing and creative expression - beauty! Let me know when you publish and I'll get on distribution - thank you so much for your awesome work!

[2021-02-03 18:46] #372 closed

[2021-02-03 18:46] #265 closed

[2021-02-03 18:51] liviade1 commented on #215
- audit proposal from transparency
- Source Cred proposal
- flagging proposal from Gravity

[2021-02-03 18:53] liviade1 opened #394 "being onboarded to the hatch"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-03 18:54] #394 closed

[2021-02-03 18:58] tamarandom commented on #384
This is something @krisjpi has planned for CS.

[2021-02-04 00:11] cranders1 commented on #392
done. saw you already in there cleaning it up. much thnx.

[2021-02-04 03:18] GriffGreen commented on #392
Looks great! @jessicazartler  @cranders1 I sent the higher res IH lists directly to craig
i hope they get used over the ones in the google doc :-D

[2021-02-04 04:05] iviangita commented on #331
UPDATE from the Stewards Call: @eduardovegap and @JuankBell volunteered to participate in the trial audit. :D

[2021-02-04 08:37] tamarandom opened #395 "Hatch Outreach WG : Continue FAQ based on the feedback from onboarding active community members"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-04 08:57] tamarandom commented on #316
@natenatesoo : second pass draft ready for you to look at. [https://docs.google.com/document/d/1XgWzi3OvhC1eSv-urVOkOjNqAEtILM3PtUobqYX4Rus/edit](https://docs.google.com/document/d/1XgWzi3OvhC1eSv-urVOkOjNqAEtILM3PtUobqYX4Rus/edit)

[2021-02-04 14:06] cranders1 commented on #392
Original images inserted

[2021-02-04 15:43] jessicazartler commented on #392
https://twitter.com/tecmns/status/1357331827178971141
Bump, set, spike! Nice job team!! @cranders1 @iviangita

[2021-02-04 15:43] #392 closed

[2021-02-04 17:59] markoprljic opened #396 "We need more MEMES"
## 📋 Anything to add?

Dedicated Time for Team Meme Production
Meme party Fridays / new Discord has meme channel
make a meme for the AMA call :D
make memes as I go and not plan

## 🤼‍ Reviewer

@freedumbs00

[2021-02-04 18:01] jessicazartler opened #397 "Meme party! Organizing (RECURRING)"
## 📋 Anything to add?

Let's aim for at least one rad meme per sprint - we could have a 30min sesh on Fridays w/ JJ and Griff/Marko welcome to join when you can!

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@tamarandom @markoprljic @GriffGreen @freedumbs00

## 🔗 Work doc - inspirational links

[2021-02-04 18:11] markoprljic commented on #396
There's already an issue for this https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/397

[2021-02-04 20:04] tamarandom opened #398 "Timing on the TEC Community call"
## 📋 Anything to add?

We've grown so much!!!

Tonight there were between 20-25 attendees and 9 WG giving updates. It's the Spotlight that suffers the most from the time management issues as they have to rush through their presentation. It feels like we are not honoring the people that we've invited to present. Also the community that would benefit from these presentations. And maybe even a Q&A at

[2021-02-04 22:33] tamarandom commented on #397
@jessicazartler j'adore !

[2021-02-05 11:31] tamarandom commented on #30
@cranders1 @liviade1 Is this issue still relevant or can we close it?

[2021-02-05 11:34] tamarandom commented on #152
@GriffGreen @cranders1 @eduardovegap Is this issue still relevant? If so, what are the next steps to take here?

[2021-02-05 11:37] tamarandom commented on #153
@GriffGreen @cranders1 @eduardovegap This is all good in the Forums for proposals. Is there anything left to do in this issue or can we close it?

[2021-02-05 11:42] tamarandom commented on #173
@GriffGreen, @iviangita can take this one.

What about:
1) playlist for CommonsStack
2) latest videos (which are the commons simulator, the CS Reviews and the spotlight on Trent.

[2021-02-05 11:43] eduardovegap commented on #153
I think we can close it.

[2021-02-05 11:45] tamarandom commented on #193
@Santigs I see SourceCred and I think of you. I think this issue refers to SourceCred work that you are @mateodaza will soon be posting.

[2021-02-05 11:46] eduardovegap commented on #152
Not anymore, since we are reaching out to people to Onboard them. What IT is relevant, is the process of keeping channels open and going with the people from that list / onboarded ones, but I don't see why the content would be different from any other created comms.

[2021-02-05 11:47] tamarandom commented on #197
Hey @cranders1 ! Is this a dupe of #166?

[2021-02-05 11:53] tamarandom commented on #203
Closing this!

[2021-02-05 11:53] #203 closed

[2021-02-05 11:55] tamarandom commented on #216
@liviade1 These are being covered under separate issues already. Can we close this issue out now? It was a carry-over from the CS repository!

[2021-02-05 11:57] tamarandom commented on #217
@liviade1 @GriffGreen These are covered in #234 #244 and #253, right? I'll close this now then.

[2021-02-05 11:57] #217 closed

[2021-02-05 12:05] tamarandom commented on #273
@Santigs Is this something you can take on in Legal? I'll tag it for the next sprint so we can discuss it.
@GriffGreen The piece of work is how the TEC could possible receive contributions, right?

[2021-02-05 13:44] tamarandom commented on #148
+ @markoprljic to refine this issue and assignee to a single person.

[2021-02-05 13:51] GriffGreen commented on #217
:-D probably
Thank you for the clean up @liviade1 ?

[2021-02-05 13:52] tamarandom commented on #387
Done!

[2021-02-05 14:09] tamarandom opened #399 "Juan Carlos / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:09] tamarandom opened #400 "Santi / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:10] tamarandom opened #401 "Marko / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:10] tamarandom opened #402 "Jake / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:10] tamarandom opened #403 "Craig / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:11] tamarandom opened #404 "Eduardo / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:11] tamarandom opened #405 "Zep / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:11] tamarandom opened #406 "Sebnem / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:11] tamarandom opened #407 "Ivy / TEC Stewards Apply for Swiss Membership (Details in the Epic!)"

[2021-02-05 14:12] tamarandom opened #408 "TEC Stewards Apply for Swiss Membership (You can apply for the scholarship!) and PLEASE log bugs/other issue you find!"
## 📋 Anything to add?

The Swiss Membership has already undergone round 1 of user testing!
The TEC Stewards are round 2!
After this round of user testing, we should be ready to go live.
You help here is so important!

- [ ] Get 450 DAI and >0.01 ETH in your Trusted Seed ETH address

- [ ] Apply on the app :  https://develop--tech-dapp.netlify.app/pay-dues

- [ ] Important!! Find any bugs or issues

[2021-02-05 14:15] tamarandom commented on #406
I will follow up with Sebnem on this. Can't find her handle in Github.

[2021-02-05 14:31] tamarandom opened #409 "Rename the Onboarding WG"
## 📋 Anything to add?

The name Onboarding makes people think this is where new community members are being onboarded into the TEC. This is not the case. The Onboarding WG is actually onboarding Hatchers and Projects.

Renaming this group will cause a lot less confusion.

(Added to the Community Stewards Agenda for discussion).

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subt

[2021-02-05 14:41] #1 closed

[2021-02-05 14:48] cranders1 commented on #30
Tracking stakeholders is ongoing and will continue through hatch, eventually through Hubspot.
The source cred component of this issue seems somewhat out of place to me, at least I'm not directly involved in those convos.

[2021-02-05 14:51] cranders1 commented on #152
@knobsdao is leading this effort from the CSTK side. Sounds like he is close and the initial email should go out soon.

[2021-02-05 14:52] cranders1 commented on #153
Agree with eduardo

[2021-02-05 14:59] cranders1 commented on #197
I guess. The CRM Github stuff is confusing as hell to me. Seems like numerous people make related issues and assign them to me.

I have volunteered to head-up the CSTK to TEC CRM transition. Could be 1 of 4 or 5 issues?
Working with Dan directly.
But until Dan does all the stuff necessary, I have no action items other than pestering him, which I have been doing too much already.

Once we transitio

[2021-02-05 15:02] #153 closed

[2021-02-05 15:09] tamarandom commented on #197
Hey @cranders1 !  Right now, the only issues related to CRM are this one and and #166.

[2021-02-05 15:17] tamarandom commented on #398
Update : Won't do!

The spotlight is only supposed to be 5 minutes long as a quick pitch to the TEC community and not a longer presentation. I misunderstood!

[2021-02-05 15:17] #398 closed

[2021-02-05 15:32] markoprljic commented on #10
@eduardovegap Maybe this?

[2021-02-05 15:35] markoprljic commented on #197
Do we need this issue since we already have a similar?

[2021-02-05 15:37] markoprljic commented on #309
@eduardovegap This one?

[2021-02-05 15:48] Zeptimus opened #410 "Gravity Trial Audit"
## 📋 Anything to add?

@Zeptimus and @iviangita will prepare the documentation and contact @JuankBell to work on it

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 15:52] GriffGreen opened #411 "Add meeting T&C's to the Discord T&C's"
## 📋 Anything to add?

https://docs.google.com/document/d/1-ysqAIbqx4KY3WEiVqnX8SUVC8197cKiFdxJSWOjgLc/edit#

I don't have the discord terms link...

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 15:54] JuankBell commented on #135
The guideline for graduated sanctions and scale of conflicts was posted in the forum, https://forum.tecommons.org/t/scale-of-conflicts-graduated-sanction-guideline/234

[2021-02-05 15:54] #135 closed

[2021-02-05 15:56] JuankBell commented on #410
Yes!

[2021-02-05 15:56] Zeptimus opened #412 "Hatcher Outreach Trial Audit"
## 📋 Anything to add?

@iviangita and @Zeptimus will prepare the documentation and contact @eduardovegap

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 15:57] GriffGreen commented on #239
This needs to be done still and should be done this sprint

[2021-02-05 16:05] JuankBell commented on #411
Discord terms Link: https://docs.google.com/document/d/1NTp3KT20iNbVL2VvcZNusXtSnejIXwtyCXOA1cXaVIA/edit

[2021-02-05 16:05] GriffGreen opened #413 "Add the T&C's to the Discord"
## 📋 Anything to add?

Once the Discord T&C's are approved by @Santigs, @JuankBell , @liviade1, @Zeptimus  then we need to make sure everyone signs them before they join the server.

This issue is for implementing that process in the discord, it is a blocker for launching the discord.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

[2021-02-05 16:18] Zeptimus commented on #330
We are re-opening it to for on the funding section.

[2021-02-05 16:23] Zeptimus commented on #229
https://docs.google.com/document/d/1NTp3KT20iNbVL2VvcZNusXtSnejIXwtyCXOA1cXaVIA/edit

[2021-02-05 17:11] #9 closed

[2021-02-05 17:13] jessicazartler commented on #105
Asked Sebnem for a final answer if she will submit or decided no.. will circle back soon and update

[2021-02-05 17:14] jessicazartler commented on #106
In talks with Angela, she is super busy with Gitcoin grants research group -- I will ask her again next week on our next call together

[2021-02-05 17:16] jessicazartler commented on #5
Dup #384

[2021-02-05 17:16] #5 closed

[2021-02-05 17:19] jessicazartler commented on #148
@sembrestels when do you need this by? Or can you let me know when the interface is fully ready? Thanks!

[2021-02-05 17:20] markoprljic commented on #401
I don't understand what this issue is about. Can you clarify?

[2021-02-05 17:21] jessicazartler commented on #182
Durgadas has offered to take this on but he is not on Github so @markoprljic if you can coordinate with him to check on this - thanks!

[2021-02-05 17:21] JuankBell commented on #399
yay!!!

[2021-02-05 17:21] jessicazartler commented on #198
Shermin said she is working on a draft - have a check in with her next week

[2021-02-05 17:23] liviade1 opened #414 "prepare presentation to ETH Denver"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ] prepare slides
- [ ] get feedback from the stewards
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 17:23] jessicazartler commented on #301
Set up basic categories and had a work session with MetaVerde to handoff the lead on taking this forward but this one is done! :D

[2021-02-05 17:23] #301 closed

[2021-02-05 17:25] liviade1 commented on #376
We got a free subscription :D click here to enter the team as a writer
https://app.gitbook.com/invite/token-engineering-commons?invite=-MRe_ELNPr23yao7rvcs

[2021-02-05 17:25] markoprljic commented on #148
This issue needs better description and provide more context.

[2021-02-05 17:25] eduardovegap opened #415 "Proposal / Akasha Hub"

[2021-02-05 17:27] liviade1 commented on #59
@Zeptimus @JuankBell can we add the progress here?

[2021-02-05 17:28] jessicazartler commented on #309
I am storyboarding and finalizing questions to begin setting up the interviews next week, will ask for help from Eduardo when I need assistance

[2021-02-05 17:28] jessicazartler commented on #318
Sprint backlog for now - other priorities onboarding video/how to become a hatcher piece

[2021-02-05 17:29] liviade1 commented on #272
@Santigs do you think we need the source cred proposal to be approved for us to move forward with a plan for contribution reward after the hatch?

[2021-02-05 17:29] jessicazartler commented on #320
Content finished - we will have one meeting next week to finalize design - will create a separate issue for that - ya team Marko/JJ!

[2021-02-05 17:29] #320 closed

[2021-02-05 17:30] jessicazartler commented on #355
They will not be submitting as they have their own token and funding from Microsoft - thanks!

[2021-02-05 17:30] #355 closed

[2021-02-05 17:31] liviade1 opened #416 "onboard Dan to become a hatcher"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 17:31] jessicazartler commented on #389
Accelerating‌ ‌Sustainable‌ ‌&‌ ‌Ethical‌ ‌Design‌ ‌for‌ ‌Token‌ ‌Ecosystems‌ ‌🥳🏓 for now :D

[2021-02-05 17:31] #389 closed

[2021-02-05 17:31] liviade1 opened #417 "Onboard Juank to become a hatcher"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 17:34] liviade1 commented on #234
We just need to incorporate comments

[2021-02-05 17:34] jessicazartler opened #418 "How to Become a Hatcher forum post/blog"
## 📋 Anything to add?

Drafting a piece for How to Become a Hatcher

-Rehashing legal rec & proposal/vote
-FAQ from onboarding group
-Point to CSTK dapp article when finished

## ⏰ Urgency/Due Date/Blockers?

Dependency is the CTSK token dapp being done

## ❓ Why is it important?

## 🎉 Subtasks

- [x] Write draft
- [ ] Get feedback from Griff/Craig/Eduardo
- [ ] Post & distribute

## 🤼‍ Reviewer

[2021-02-05 17:36] jessicazartler opened #419 "Update Welcome to TEC Forum Section with How to Become a Hatcher info"
## ⏰ Urgency/Due Date/Blockers?

Dependent on #418

[2021-02-05 17:36] tamarandom commented on #197
Update : @knobsdao will send email to CS TS to opt-into email comms from TEC. Then the CRM can go live.

[2021-02-05 17:37] markoprljic opened #420 "Tokenlog problem cannot vote"
## 📋 Anything to add?

Connected with wallet on xDAI
Wallet has IHT
Click to Vote on Tokenlog
Vote button is disabled
Cannot add more votes and vote

![Image 2021-02-05 at 6.22.10 pm.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/034e8083-7200-4634-a9cb-4ce732d5980c)

## ❓ Why is it important?

Cannot vote!

## 🤼‍ Reviewer

@freedumbs00

[2021-02-05 17:38] tamarandom commented on #166
Dupe of #197.

[2021-02-05 17:38] #166 closed

[2021-02-05 17:39] liviade1 commented on #414
Hey @jessicazartler @tamarandom @Zeptimus @GriffGreen @freedumbs00 @JuankBell @cranders1 @eduardovegap @Santigs @metaverde feel free to drop topics here you think should be in the talk to represent the TEC in the best way possible 🙏

[2021-02-05 17:41] jessicazartler commented on #339
Will send them a msg and check in

[2021-02-05 17:42] jessicazartler commented on #105
Dup #342

[2021-02-05 17:42] #105 closed

[2021-02-05 17:43] markoprljic commented on #377
Jess is working on storyboard/formulating questions.

[2021-02-05 17:45] tamarandom commented on #249
Consolidated into one issue!

[2021-02-05 17:46] tamarandom commented on #239
consolidated into one issue.

[2021-02-05 17:48] markoprljic commented on #182
Seems not :/ We need someone else.

[2021-02-05 17:50] jessicazartler commented on #318
Dup #292

[2021-02-05 17:50] #318 closed

[2021-02-05 17:53] jessicazartler commented on #350
Have a call with them next week, I don't think they will submit.. but will circle back

[2021-02-05 17:54] jessicazartler commented on #62
@eduardovegap need presenter for 2/11 -- will check with Shermin to see if she is up for it but need to fill Feb.

[2021-02-05 17:55] #229 closed

[2021-02-05 17:55] #239 closed

[2021-02-05 17:56] #249 closed

[2021-02-05 17:57] liviade1 opened #421 "propose a process for how to change the code of conduct and T&Cs"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 17:57] markoprljic commented on #7
Please send login details to @eduardovegap and he will proceed with updating the profile.
Related issue https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/54

[2021-02-05 17:59] jessicazartler commented on #148
![image](https://user-images.githubusercontent.com/43972522/107070927-f90a3480-67b1-11eb-8082-daebf3c72157.png)

Content for this ☝️

[2021-02-05 18:01] jessicazartler commented on #7
Must contact @HBesso31 for credentials - he set it up - I am not even sure if it is REALLY necessary.. but could be nice to have... don't think Linkedin is our audience and it's so spammy there.. up to you guys if you think we want to do more on this..

[2021-02-05 18:03] markoprljic commented on #7
Yes we should have it.

On Fri, Feb 5, 2021 at 7:01 PM Jessica Zartler <notifications@github.com>
wrote:

--
*Marko Prljić*
*Design Scientist*
---------------------------------------
Website: http://www.markoprljic.com
Dribbble: http://markoprljic.dribbble.com
Twitter: http://twitter.com/markoprljic
LinkedIn: http://linkedin.com/in/markoprljic

[2021-02-05 18:04] freedumbs00 opened #422 "Onboard Craig as a Hatcher"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 18:07] #7 closed

[2021-02-05 18:08] jessicazartler commented on #397
Fixed thanks Tam!

[2021-02-05 18:08] GriffGreen commented on #414
Your Economy Your Choice... show off the dandelion voting chart... its so fucking coool!!

The importance of a Cultural build

The role of Commons Stack

Emphasize The IDENTITY of the TEC

Meme the fuck out of the slides

[2021-02-05 18:09] GriffGreen opened #423 "Deploy the Commons Upgrade vote and Demo it."
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-05 18:11] jessicazartler commented on #414
You can use stuff from the website content doc as it is all the best phrasing distilled
https://docs.google.com/document/d/1VOM39PVE41_GYKUbdZCZIu_xySDp60tLTXqup2-t27I/edit#

+ the Jake meme pinned on Twitter

Let me know if you want to bounce any ideas or need a second pair of eyes when you are finished - good luck - you got this! :D

[2021-02-05 18:14] freedumbs00 commented on #420
Submitted to Tokenlog github and  @wslyvh

[2021-02-05 18:14] #420 closed

[2021-02-05 18:15] #62 closed

[2021-02-05 18:21] markoprljic commented on #182
@Zeptimus to help, thanks, buddy! :)

[2021-02-05 18:23] markoprljic commented on #294
@jessicazartler This issue is about refactoring the forum post, maybe add intro text and repost on Medium? Not actually writing the whole post, right?

Can you deliver in this sprint?

[2021-02-05 18:26] markoprljic commented on #316
@jessicazartler Putting you on the issue just as a reminder to publish on Medium when you sync with Nate on this.

[2021-02-05 18:30] jessicazartler commented on #316
This looks great to me don't think it needs further edits @tamarandom you said go yes if Nate is good?
Messaging Nate now about Medium and once up, will move to distribution

[2021-02-05 18:30] jessicazartler commented on #294
Yups :D

[2021-02-05 19:33] Santigs commented on #272
Yes, I'd like to share all the parameters as they are now, and vote them. There are lots of things which could be changed and that affect the outcome, last thing I want is someone not liking the outcome and not have gone through voting.

[2021-02-05 20:16] wslyvh commented on #420
It's closed already? Is it resolved, or what was the problem?

[2021-02-05 22:53] jessicazartler commented on #397
For every 20 memes, we get one appropriate enough to share on TEC twitter haha you can see the crazy ones that didn't make it in the new TEC Discord channel - Happy first meme party - thanks to everyone who participated!!!!
https://twitter.com/tecmns/status/1357819053415534592

See you again next Friday?

[2021-02-05 23:28] GriffGreen commented on #418
https://docs.google.com/document/d/1jJAlLi6zE4lktvnzyloscNyyDc9UHPy6BuhI7yT-Qv0/edit

Reviewed and improved

[2021-02-05 23:42] jessicazartler commented on #418
Awesome thank you! Let me know when it's ready for me to go in

[2021-02-06 01:13] knobsdao commented on #197
Updates: @markoprljic @cranders1 @tamarandom I ran into a blocker recently in CS' HubSpot. Setting up dedicated CTA buttons is a paid feature and I initially planned to have a one click opt-in. Could a button directing to the TEC website be the best option? We could set up an email signup linked to HS there or something similar.

I'm trying to find the best way. Open to discuss it in more detail.

[2021-02-06 05:31] markoprljic commented on #197
@knobsdao Yes that could work as well.

[2021-02-06 15:40] cranders1 commented on #414
Awesome Livi. Will ponder and provide feedback. Attending sessions will help stimulate creativity. Looking forward to your talk.

[2021-02-07 11:08] #401 closed

[2021-02-07 14:40] tamarandom opened #424 "Metaverde / User Testing & Apply for Swiss Membership (Details in the Epic!)"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-07 14:57] tamarandom commented on #304
Hey @jessicazartler and @markoprljic : For the part of this issue related to categories, it's all done, right? I'm attaching the screenshot of what it looks like now.

CC @krisjpi @eduardovegap

What are the requirements for the "pinned messages & info" ?

![Screen Shot 2021-02-07 at 3.53.19 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/dffe4b9b-e181-49da-8171-25ec49798fd8)

[2021-02-07 15:49] tamarandom commented on #303
Working session with @eduardovegap @metaverde and myself. Here is a first pass of what it **_can_** look like.

Would love feedback for any part of this journey from @jessicazartler @liviade1  @GriffGreen @krisjpi @markoprljic  🙏🏽 🥚 🐣 🐥  🙌🏽

https://docs.google.com/document/d/1Ma4bkLyk1ys_qT22PvD99QQkztketuwF-UxeOoxZ2-k/edit

[2021-02-07 18:00] freedumbs00 commented on #422
Onboarded Craig Friday the 5th.  Closing issue

[2021-02-07 18:00] #422 closed

[2021-02-07 18:54] markoprljic commented on #303
Great start! Left comment in the doc.

[2021-02-07 23:34] eduardovegap commented on #48
Hello @rosamoc, how can I reach you? :D

[2021-02-08 09:36] rosamoc commented on #48
Hi @eduardovegap
my telegram: @rosamoc

[2021-02-08 11:11] Zeptimus commented on #405
Done

[2021-02-08 11:11] #405 closed

[2021-02-08 14:07] tamarandom commented on #173
Hey @iviangita

Here's an update :

Include the Research Roundup and the TEC youtube videos on the Commons Stack channel (these predate the TEC Youtube channel) if they have not already been imported.

Yes to the suggested new video being commons stack based on most views and this one : https://www.youtube.com/watch?v=zhq6YsEuLYc&ab_channel=CommonsStack

[2021-02-08 16:21] jessicazartler commented on #304
Depends how micro you want to go with tasks -- part one was categories that was me ---- now part two needs to be done
Pinned messages for each category which is Meta -- up to you, you could leave this task or make a new one

[2021-02-08 18:21] Zeptimus commented on #414
I would talk about the Commons book and the rules and boundaries we are trying to implement that are based on elionor's research. And I would add slides with a picture of us celebrating any event like praise, giving or cagatio to show that we together and know to have fun.

[2021-02-08 23:50] JuankBell commented on #414
Invite people to the Graviton trainings :D

[2021-02-09 06:47] metaverde commented on #304
[Link to pins so far.](https://docs.google.com/document/d/1HX2gr4YZiTioR41hUOIPMdztL3UGe5FpYYM7wtQODPA/edit?usp=sharing)
It's editable.
I think that's safe here?

I'll fancify my inputs as I adapt to the formats.

[2021-02-09 07:14] iviangita commented on #371
Hi @Santigs, we're handing over the [meeting attendance terms](https://docs.google.com/document/d/1-ysqAIbqx4KY3WEiVqnX8SUVC8197cKiFdxJSWOjgLc/edit#) to you - we've made a few changes based on our last meeting. Adrian also added his inputs and comments - for your final review/touch and approval please. :)

cc: @Zeptimus

[2021-02-09 07:46] iviangita commented on #173
Thanks @tamarandom! Our suggestion is to add the CS videos as "end screens" or "cards" in the TEC videos, instead of uploading them on the TEC Youtube channel.

The end screen looks like this:

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/a3593c3f-e7f8-40a8-bcf2-ded5020c5f73)

The card looks like this:

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9e

[2021-02-09 07:53] iviangita commented on #387
This one is related to [Issue 388](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/388), which we closed already. Checking with @Santigs if he wants us to re-share the tweet from time to time so I can reopen the issue and label it as a repeating task

[2021-02-09 08:06] metaverde commented on #413
Planning to put the T and C in the #🌈welcome channel on the TEC Discord.

[2021-02-09 08:38] Santigs commented on #387
Thank you Ivi, no need to reopen by now. It seems we have onboarded two new lawyers into the WG

[2021-02-09 08:39] Santigs commented on #371
Perfect, I will ask Ricardo to take a look and may also include Shawn if he joins us in this week meeting,

[2021-02-09 08:40] iviangita commented on #387
@Santigs great, thanks! Closing :)

[2021-02-09 08:40] #387 closed

[2021-02-09 08:41] markoprljic commented on #304
Yes :)

Sure, let us know when you are close to done.

Makes sense to me.

[2021-02-09 09:38] tamarandom commented on #303
@markoprljic @metaverde @eduardovegap Please have a look at the new discord onboarding doc. It has been updated to incorporate feedback from @krisjpi .

https://docs.google.com/document/d/1Ma4bkLyk1ys_qT22PvD99QQkztketuwF-UxeOoxZ2-k/edit

[2021-02-09 09:47] eduardovegap commented on #303
I love the NBA example, I think that should be the way the T&C should be presented. I am glad is taking shape.

[2021-02-09 10:20] markoprljic commented on #303
Love the NBA as well.
Great onboarding so far. Moving on!

[2021-02-09 11:43] Zeptimus commented on #408
@GriffGreen added this link https://develop--tech-dapp.netlify.app/pay-dues as the New link the the Swiss membership dapp.

[2021-02-09 11:55] tamarandom commented on #173
Awesome @iviangita !! From our working session just now :

Youtube Small improvements :

Commons Stack channel
[ ] Can the order of the playlists be changed so that the more recent+important ones are at the top.
[ ] Remove playlist “TEC calls”? The content in that playlist is from Oct 24 and before.
[ ] Can we add playlist “Commons Stack Reviews”

TEC channel
[ ] add playlist “Commons Stack” inclu

[2021-02-09 13:35] markoprljic commented on #182
@Zeptimus Any progress on this?

Thanks! :)

[2021-02-09 13:42] tamarandom commented on #408
Thanks @Zeptimus !! I just made the update in the issue body too so everyone sees it. 🙌🏽

[2021-02-09 13:45] tamarandom commented on #387
ALLLLLLL RIGHT!!! Excellent ! 🙌🏽

[2021-02-09 14:25] markoprljic commented on #322
Content locked! https://www.figma.com/proto/SKZCNjAWvoPqZA7xeS8HGb/TEC-Website?node-id=520%3A233&viewport=-1070%2C629%2C0.09054715931415558&scaling=min-zoom

Next up: visual design.

[2021-02-09 15:09] jessicazartler opened #425 "Post & Distribute Nate's article"
## 📋 Anything to add?

Post on Medium publication/distribute in channels

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-09 16:40] #54 closed

[2021-02-09 17:52] markoprljic commented on #377
Someone made this https://eth10k.surge.sh/ and that made me think we could cut out interview audio in a similar fashion and have bg images, short clips accompany the narrative.

@jessicazartler @sembrestels @freedumbs00

[2021-02-09 19:04] freedumbs00 commented on #377
I think thats awesome

[2021-02-09 20:47] tamarandom commented on #395
The FAQ will inform the TEC Hatch article. Priority bumped up.

[2021-02-09 20:54] jessicazartler commented on #418
@tamarandom is it this doc for FAQs?
https://docs.google.com/document/d/1JWZ2ZXlh4oyIvUWgN9Dg8CdSuExh0Mn_Fq1adJ9W1Pw/edit#

Lemme know when you get there and I'll include it in the content - thanks for the idea!!

[2021-02-09 21:46] jessicazartler commented on #425
https://twitter.com/tecmns/status/1359252686269472771

[2021-02-09 21:46] #425 closed

[2021-02-09 22:21] jessicazartler commented on #377
Yeah of course, we can add a music track, audio effects and I can add images/graphics/subtitles over stuff

[2021-02-10 00:15] jessicazartler commented on #397
Next Meme Party 2/19

[2021-02-10 00:16] jessicazartler commented on #350
They will not be submitting, they have their own funding streams & grants program

[2021-02-10 00:16] #350 closed

[2021-02-10 00:17] jessicazartler commented on #342
Sebnem will not be submitting for HG2TG but is supporting a few others to submit proposals, requested she reach out to @eduardovegap when any she is supporting are ready - thanks!

[2021-02-10 00:17] #342 closed

[2021-02-10 12:31] Zeptimus opened #426 "Add CS videos as end screens in the TEC Youtube channel"
## 📋 Anything to add?

TEC channel
[ ] Add “End screen” to videos (last 1 video and going froward) to :
Commons Simulator → TEC Lab and Garden Swarm
CS Reviews → Community Call
Research Roundup → TEC Lab
Trusted Seed video → Community Call
cc: @iviangita

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

To promote CS videos on TEC channel

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewe

[2021-02-10 14:39] liviade1 opened #427 "source cred hack session"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@liviade1 @Santigs

## 🔗 Work doc - inspirational links
https://docs.google.com/document/d/1mp5W2hDsdYw-PiFY49ohafE7GVyfLSMewZphEZ7mrcM/edit

[2021-02-10 14:42] liviade1 commented on #427
Hey @Santigs @mateodaza I thought friday would work but it's a little tight for me.
Can we schedule a session for monday? I'm free anytime between 2 and 5 pm CET

[2021-02-10 15:04] Santigs commented on #427
Monday 4pm works for me

[2021-02-11 06:46] tamarandom commented on #418
Hey @jessicazartler ! That is the one for Proposal!! This is the one for Hatchers which you can see is just starting :
https://docs.google.com/document/d/16FYhIodALP2tDldtuxuDbg-3Q4E7llgSatdlhHO6Sos/edit#heading=h.8mwcgxmyttz8

[2021-02-11 08:11] tamarandom commented on #397
@jessicazartler Is it the same time on Friday every 2 weeks? If yes, then we can add it to the TEC calendar.

[2021-02-11 12:54] freedumbs00 commented on #349
Angela is heading the balancer cadCad.  Upon speaking with her she decided to make proposal for TE instead and not balancer.  She will be submitting within the next few weeks.   Closing issue.

[2021-02-11 12:54] #349 closed

[2021-02-11 13:19] GriffGreen commented on #397
Booooo! Lets do it this Friday too!

[2021-02-11 13:33] markoprljic opened #428 "Define SEO Keywords and hashtags"
We want to start with 10 to 15 keywords and then she would refine that list. **The list would be used for all communication channels from youtube titles, to blog titles and hashtags.**

- Every page of the web would have 2 keywords.
- The list of words should from very general to very specific range.

Also, we need to start sending links to the web, for example if we use the keyword “cryptoeconomi

[2021-02-11 13:37] markoprljic opened #429 "SEO"
## 📋 Anything to add?

Establish SEO keywords and best practices.

## ❓ Why is it important?

Reach!

## 🤼‍ Reviewer

@eduardovegap @rosamoc @jessicazartler

[2021-02-11 14:03] freedumbs00 commented on #402
I Donated and I'm closing.

[2021-02-11 14:03] #402 closed

[2021-02-11 17:12] markoprljic commented on #322
![TEC - Homepage.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/23f5b172-4f3e-4bf0-9313-e6e53c8b71b3)

[2021-02-11 17:12] markoprljic commented on #322
Figma preview https://www.figma.com/proto/SKZCNjAWvoPqZA7xeS8HGb/TEC-Website?node-id=539%3A3&viewport=35%2C1132%2C0.5199555158615112&scaling=min-zoom

[2021-02-12 07:26] metaverde commented on #319
I'm still not clear on whether we are migrating TEC channels from TE Discord or connecting the two servers with bots for those channels or if there was a third option?

I think if people will still be on both Discords connecting the two servers with bots for those channels is the best option.

[2021-02-12 07:41] metaverde commented on #304
I'm thinking we don't need a calendar _and_ an announcements channel?
The TEC google calendar is pinned on #announcements and #general channels.
The google calendar doesn't need its own channel and upcoming events should be in the #announcements channel anyway.

[2021-02-12 08:56] markoprljic opened #430 "Design new banners for various announcements"
## 📋 Anything to add?

Old banners
![Image 2021-02-12 at 9.54.54 am.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/20d2ef08-54c2-4a8c-8ce0-d187b0b570c3)

![Image 2021-02-12 at 9.55.02 am.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/1999667f-e46f-4743-bfa5-c5f30df5fd4b)

## ❓ Why is it important?

Consistency with new brand and website.

## 🤼‍ Reviewer

@je

[2021-02-12 09:05] markoprljic commented on #319
Not sure, my gut says we migrate convos first but keep the bridge.

[2021-02-12 09:06] markoprljic commented on #304
Yeah, I agree, let's cut the channels we. don't need. Keep just announcements IMO.

[2021-02-12 14:32] markoprljic commented on #430
New banners
![Image 2021-02-12 at 3.31.08 pm.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/b1835785-2526-415b-80c2-7197df3c9185)

[2021-02-12 18:56] jessicazartler commented on #430
These look AWESOME! So crisp and amazing!!!

Just one request for an edit -- can we stick with warped universe/NFT and remove the sacred geometry? Love geometry but don't think it fits.. thank you so much - love them! Lemme know where the templates lives when its finalized so I can share it with stewards - thank you!!!!

[2021-02-12 19:00] jessicazartler commented on #319
We are fully migrating to new TEC and deleting all TEC channel out of TE EXCEPT one bridge channel
And will have one bridge channel on TEC side for TE -- does that make sense?
Thank you for asking and all of your hard work!

[2021-02-12 19:02] jessicazartler commented on #397
haha yeah I would love every week.. today I am busy with ETH Denver hackathon but will def join next week -- feel free to throw it out to a few folks and go for it! Lemme know the good one(s) and I'll Tweet them - thanks!

[2021-02-12 19:04] jessicazartler commented on #418
Thank you! I will be working on this next week when Kris' CS blog about dapp is done - thanks!

[2021-02-12 20:50] freedumbs00 commented on #430
I think its important moving forward.  Its what we want to see later.  Kind of an interlude or good foreshadowing.

[2021-02-13 01:00] GriffGreen commented on #408
Thx @Zeptimus and @tamarandom

[2021-02-13 01:21] GriffGreen commented on #418
I don't think the Swiss Membership DApp will change... while we are still working on the final little bugs... i think its good enough to have screen shots... still needs some work before the video tho :-/

[2021-02-13 06:52] markoprljic commented on #430
Those are part of the wg subbrands. Have you seen them? I'd keep them as such and for announcement banners it's optional.

[2021-02-13 16:41] metaverde commented on #319
Hmmm.
Ok.
Vyvy-vi and I have given up on getting permissions to actually do anything on the server and have cloned it.
We'll turn over ownership when we get the onboarding journey done.
I don't actually have weeks and weeks to work on something that shouldn't take a weekend to complete.
We'll probably need permissions to grab the channels off the TE Discord when we get there, or someone at TEC can

[2021-02-14 10:27] markoprljic commented on #377
@jessicazartler Any progress or update on this?

[2021-02-14 10:28] markoprljic commented on #309
Hi @jessicazartler how are we progressing with the interviews?

[2021-02-15 10:45] Zeptimus commented on #182
Hey guys, i updated the manifesto would be nice @freedumbs00 @JessicaZartler @markop  one of you take it a look and accept or decline the sugestions. Regarding the members i think it would be a nice idea on next comms sync to encourage other members of comms to add their names motivations etc there.

https://docs.google.com/document/d/17w_UVi7lJjUNtj1Ji1WGd7Osk-E0edmfIRNoGRSP3yI/edit#heading=h.4qr

[2021-02-15 11:37] markoprljic commented on #384
@krisjpi @Zeptimus Hi guys, can one of you assist and help with this task? If you know someone else who can contribute please suggest.

[2021-02-15 11:40] markoprljic opened #431 "Update Google Slide template for announcement banners"
## 📋 Anything to add?

## 🔗 Work doc - inspirational links
Current template https://docs.google.com/presentation/d/19mxN1g6XDQcYg5sFujRlWbwpqqfb5rQ6gUKDcWEtEWI/edit?usp=sharing

NEW Template https://docs.google.com/presentation/d/19mxN1g6XDQcYg5sFujRlWbwpqqfb5rQ6gUKDcWEtEWI/edit#slide=id.gc0405232ba_0_76

Please duplicate to your Drive and edit there. DO NOT CHANGE THE ORIGINAL template. Thank you

[2021-02-15 11:41] markoprljic opened #432 "Prepare Google Slides Presentation Template"
## 🔗 Work doc - inspirational links

Curerent Template https://docs.google.com/presentation/d/1sy5WU0J7F4lw43iltf-DRlGIfln_oVXnm9lWZbjsPe4/edit?usp=sharing

[2021-02-15 12:57] Zeptimus commented on #412
Note: Add feedback on the comment section

[2021-02-15 12:57] Zeptimus opened #433 "Soft Gov Trial Audit"
## 📋 Anything to add?

@iviangita and @Zeptimus will prepare the documentation and contact @liviade1
Note: Add feedback on the comment section
## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-15 14:29] eduardovegap commented on #409
This has been accomplished.

[2021-02-15 14:29] #409 closed

[2021-02-15 15:30] eduardovegap commented on #428
@jessicazartler do you wanna do a small session for this?

[2021-02-15 17:01] jessicazartler commented on #64
Updated via @GriffGreen - Eduardo, Jeff and I have a meeting tomorrow to work on turning this into content and explore options maybe an animated video..
![Hatch diagram](https://user-images.githubusercontent.com/43972522/107975032-789fbc80-6f85-11eb-8787-c00750b9bda8.jpg)

[2021-02-15 17:51] jessicazartler commented on #428
Finished on our call this morning - thank you @eduardovegap !

[2021-02-15 20:34] jessicazartler commented on #309
I am posting around and contacting people to schedule some interviews this WED/FRI :D  Do you want to be interviewed? :D Thanks for checking in

[2021-02-15 20:36] jessicazartler commented on #430
Cool sounds good! Now that I saw the whole story, I like it! :D When should we start using these? Thank you! Nice work!!

[2021-02-15 20:52] jessicazartler commented on #303
If you all want to present in the Comms meeting tomorrow and walk us through as if we were new user we can give some feedback.. would be cool

[2021-02-15 20:55] jessicazartler commented on #304
Sounds good for channels.. I am not seeing anything in the pins doc?? Went in the new Discord and also saw it is still in progress.. if you can send me the content or let me know when it is all up and I can edit or you could ask @eduardovegap also to review content as he supported with the links/info in the forum...

Also, is there a way to permanently display pins on channels? Right now it is onl

[2021-02-15 22:29] jessicazartler commented on #182
INTEGRATED/UPDATED -- Thank you so much @Zeptimus @GriffGreen for your feedback, one last question for Griff, otherwise I incorporated all feedback and added a few things.. will bring up in Comms meetings to make sure we have all current contributors listed and revisit time commitments.. otherwise going to go ahead and close - thank you everyone!

[2021-02-15 22:29] #182 closed

[2021-02-15 23:16] jessicazartler commented on #220
@tamarandom I am still confused.. are we using this same issue every time? or should we make a new one every time?

[2021-02-16 07:42] tamarandom opened #434 "Article idea : Article about the Working Groups"
## 📋 Anything to add?

Article proposed by Sebnem, loop her into this.

To be fleshed out but essentially :
- Who are the working groups
- Why are the working groups
- How do they function?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-16 11:41] #416 closed

[2021-02-16 11:41] #417 closed

[2021-02-16 11:42] #414 closed

[2021-02-16 11:42] markoprljic commented on #309
@jessicazartler Yes, I'll was thinking to send you audio recording :)

[2021-02-16 11:43] liviade1 opened #435 "prepare graviton training presentation"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-16 13:50] iviangita commented on #407
Applied and got my CSLOVE airdrop

@tamarandom can I consider this done and close the issue even there are still bugs in Dapp? Or should I wait until the devs fix the bugs? :)

[2021-02-16 17:13] #316 closed

[2021-02-16 17:23] GriffGreen opened #436 "Make the TEC Identity PERVASIVE"
## 📋 Anything to add?

We had an impromptu identity hack sesh with Chuy, Jake and Tam... and came up with this:

What does the TEC do?

We are `Advancing Token Engineering!`

NEXT STEPS:

Let's run fast with this.... its a great intro for every direction that anyone wants to go...

------
We are `Advancing Token Engineering!`

And TE is more than just tokens, its about building social-economic sys

[2021-02-16 17:23] tamarandom commented on #406
Sebnem has a lot on her plate at the moment and would rather join the Swiss Association after the final round of user testing instead of now! ;)

[2021-02-16 17:23] #406 closed

[2021-02-16 17:35] tamarandom opened #437 "Add Community Stewards to to the Forum & pin manifesto on #stewards discord channel"
## 📋 Anything to add?

Oh no! The community Stewards WG is not on the forum.
Even though the manifesto is still WIP, we should still have a section on the forum and link to the WIP version.

Use the manifesto for the pinned message on new discord server.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational l

[2021-02-17 02:02] cranders1 commented on #403
done
https://etherscan.io/tx/0xf1239297a52da4998420b8c50cde22387fa1ec9dd674a24bf7282d39a688ea1a

[2021-02-17 02:02] #403 closed

[2021-02-17 11:15] #436 closed

[2021-02-17 11:15] markoprljic commented on #436
TEC - Advancing Token Engineering

[2021-02-17 11:17] markoprljic commented on #323
Hi @rosamoc the new website design is ready to be ported to WP. Are you available to do this?
Is there anything you need from someone to get started, or are you blocked by anything?

Please let me know. Thanks!

[2021-02-17 16:22] jessicazartler commented on #309
VIDEO! We wanna see yo face :D

[2021-02-17 16:37] eduardovegap commented on #108
@liviade1 can we change the name of this to AMA and place the link for wednesday call?

@tamarandom we can make it recurrent.

[2021-02-17 16:38] jessicazartler opened #438 "Gravity Medium post - review/distribution"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

Get the word out about how awesome Gravity is!

## 🎉 Subtasks

- [x] Jess review/edit post
- [ ] Support Juan in posting
- [ ] Distribute - Twitter/TG/Discord community channels

## 🤼‍ Reviewer

@JuankBell @tamarandom

## 🔗 Work doc - inspirational links
https://docs.google.com/document/d/1vsEjahySae5EHbw9HEVfSsdwha

[2021-02-17 16:43] eduardovegap commented on #303
shall we close this? @tamarandom or is it more sessions of onboarding journey that needs to be done?

[2021-02-17 17:53] tamarandom opened #439 "Outreach to Hatchers in the community or new to the community"
## 📋 Anything to add?

In the community :
- [ ] Sponnet - Tamara + Jake
- [ ] Amin - Tamara + Jake
- [ ] Fabio - Tamara + Jake
- [ ] Merlin - Tamara + Jake
- [ ] Kris - Jake + Eduardo
- [ ] Chuy - Eduardo / Tamara **NOT IN TEC_CURATE**
- [ ] Angela - Livia + Tamara
- [ ] Sebnem - Eduardo + Juanka.
- [ ] Ygg - Jake + Eduardo

New to the community :
Not part of the Trusted Seed Yet but very interest

[2021-02-17 18:13] #271 closed

[2021-02-17 18:20] JuankBell commented on #252
reviewed & approved: https://docs.google.com/document/d/1S5EoWbsFt3uQ5Wj6yyUJKyApFyjCQ-EloZAr6W55N3U/edit#

[2021-02-17 18:20] #252 closed

[2021-02-17 18:33] tamarandom commented on #303
Left to do :
(Kai ) bridges to TG
Determine to whom to pass

Invite TEC stewards now ! https://discord.gg/tQUjt4BB4C

[2021-02-17 18:35] GriffGreen opened #440 "Find someone to own the administration of the Discord"
## 📋 Anything to add?

@metaverde did an incredible job at managing the creation of the discord, now she needs someone to take ownership of it.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@metaverde

## 🔗 Work doc - inspirational links

[2021-02-18 07:59] iviangita opened #441 "Prepare Miro board for TEC Sprint Review/Retro (every end of sprint)"
## 📋 Anything to add?

https://miro.com/app/board/o9J_lYcRTik=/?track=true&utm_source=notification&utm_medium=email&utm_campaign=approve-request&utm_content=go-to-miro

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-18 15:38] markoprljic commented on #323
Oh sure! Here's the issue with preview and Figma link #322
Let me know if you have any questions.

[2021-02-18 15:39] markoprljic commented on #322
Figma source https://www.figma.com/file/SKZCNjAWvoPqZA7xeS8HGb/TEC-Website?node-id=396%3A410

[2021-02-18 15:41] markoprljic commented on #307
Since this issue only mentioned sign up bot, does this mean we can close this issue?
@metaverde  @krisjpi Can you give an update on this, please?

Thank you.

[2021-02-18 15:42] markoprljic commented on #428
@eduardovegap Can we consider this issue done? Can we move it in Review/QA?

[2021-02-18 15:44] rosamoc commented on #323
Thank you Marko,

I like it!!
Just one question, about the titles, are they an image or there is a special font for them?

[2021-02-18 15:44] rosamoc commented on #323
I'm thinking about the responsive website

[2021-02-18 15:47] markoprljic commented on #323
Yes, these are all web fonts. We use Bai Jamjuree font and you can find all assets in this repo https://github.com/TECommons/tec-branding-assets

[2021-02-18 15:58] rosamoc commented on #323
Ok , perfect!

And one more question, is the design psd?

[2021-02-18 16:12] markoprljic commented on #323
No, it is in the Figma file that I shared link in the original issue.
Here https://www.figma.com/file/SKZCNjAWvoPqZA7xeS8HGb/TEC-Website?node-id=396%3A410

[2021-02-18 16:55] GriffGreen opened #442 "Decide if we should create a Community Management Working Group?"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ] First we decide
- [ ] Find an Owner for the process

----------- proposed process---------

- [ ] Advertise the need?
- [ ] Interview Candidates?
- [ ] Choose a Candidate

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-18 17:06] #435 closed

[2021-02-18 17:06] metaverde commented on #390
We won't be implementing SourceCred on the Discord server at this time.
And the Discord server is up.

[2021-02-18 17:06] #322 closed

[2021-02-18 17:07] #430 closed

[2021-02-18 17:26] metaverde commented on #413
This is complete.
I'm not seeing how to close the issue.

[2021-02-18 17:35] rosamoc commented on #323
OK Thank you!!

[2021-02-18 18:06] jessicazartler commented on #430
Where can I access these to start using/sharing around? Thanks!

[2021-02-18 20:52] tamarandom commented on #413
Hey @metaverde. Hmmm. It might be due to permissions. I'm seeing that there is a pending invite for your account in this repo. Let me try deleting it and re-adding you. I just did it so let me know if you have the new invite and can close it now! (Github changes can take time so if it's not working tomorrow, let me know)

![Screen Shot 2021-02-18 at 9.48.43 PM.png](https://images.zenhubusercontent

[2021-02-18 21:14] tamarandom opened #443 "Discord : handover of Discord"
## 📋 Anything to add?

We have a fantastic new discord server.

To whom can Metaverde pass ownership? @krisjpi ? or someone else?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-18 21:15] tamarandom commented on #443
Dupe of #440

[2021-02-18 21:15] #443 closed

[2021-02-18 21:20] tamarandom opened #444 "Discord server : bridges to TG"
## 📋 Anything to add?

We should close #303 but the last two outstanding steps are :

This : to have Kai (?) set up the bridges (between Discord & TG, and Discord to Discord).

We need more exact specification on this. Who can own it?

#440 - to whom can administration be passed and

[2021-02-18 21:21] tamarandom commented on #303
Opened new issues for the last two pieces to put into place so we can close this one!

#440
$444

[2021-02-18 21:21] #303 closed

[2021-02-19 06:54] markoprljic commented on #430
@jessicazartler This is related to the issue #431 which is going to be done in the next sprint. Stay tuned!

[2021-02-19 08:44] tamarandom opened #445 "Graviton mediation request from Metagame"
## 📋 Anything to add?

How can we help out here?

kyle stargarden.ai 🐙: Any folks from Graviton want to volunteer to mediate a dispute that has happened in Metagame?

kyle stargarden.ai 🐙: Perhaps @liviade could make a recommendation?  I am interested to reach out for help on this issue.  It's been a significant drain on community morale and energy.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it

[2021-02-19 11:42] iviangita commented on #407
Membership is done!

[2021-02-19 11:42] #407 closed

[2021-02-19 11:52] #173 closed

[2021-02-19 11:55] tamarandom opened #446 "Weekly Hatcher Outreach sessions open to all to attend"
## 📋 Anything to add?

We need a more scalable solution than 1-1 with individual hatchers.

How about we host a weekly Hatch Outreach session open to anyone in the community to attend.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-19 11:58] tamarandom commented on #379
Hey @freedumbs00 ! I did some simple testing. Added tokens to issues and such. Do we need a more thorough kind of QA on this?

[2021-02-19 12:02] tamarandom commented on #395
It's still a WIP but @GriffGreen did a good amount of work on adding to it already!
https://docs.google.com/document/d/16FYhIodALP2tDldtuxuDbg-3Q4E7llgSatdlhHO6Sos/edit#

[2021-02-19 12:50] markoprljic commented on #323
@rosamoc We're planning our next sprint today. Can you please confirm if you will be able to work and complete this in the coming 2 weeks? Thank you.

[2021-02-19 13:02] tamarandom commented on #108
Good idea, @eduardovegap ! The outreach to proposals should be of interest for the new community members too. I can see one AMA serve both purposes. @liviade1 does this make sense to you too? Or maybe there are reasons to have a separate one?

[2021-02-19 13:05] tamarandom commented on #220
Hey @jessicazartler generally it makes sense to use the #repeating label for repeating tasks. They don't fall off the board that way. After they are closed, we resurrect them for the next Sprint.

 For example, after we close this one, before the Sprint Planning we will reopen it and bring it back into the Sprint. That's a lot less work that maintaining a list of repeating tasks and making new one

[2021-02-19 14:08] tamarandom commented on #438
Hey @jessicazartler ! this is all done, right? Great post @JuankBell !!

[2021-02-19 14:11] #375 closed

[2021-02-19 14:15] GriffGreen opened #447 "VOTE To support the Commons Swarm in getting funding from 1hive"
https://1hive.org/#/proposal/128

[2021-02-19 14:31] rosamoc commented on #323
@markoprljic Yes Marco, for now there is no problem to have it finished in two weeks. If I have any problem next week I will tell you something. In any case, your will be informed.

[2021-02-19 15:21] markoprljic commented on #323
Thank you so much!

[2021-02-19 15:56] markoprljic opened #448 "Hatch Content"
Content production for the Hatch.

[2021-02-19 16:30] krisjpi commented on #307
I think this can be closed @tamarandom as like you said, this only references the sign up/verification bot, which is currently working. I am happy to add additional bot functionality to the server as needed though!

[2021-02-19 16:30] #307 closed

[2021-02-19 16:33] markoprljic commented on #294
@tamarandom Following up from our call today, is it safe to close this issue? Are we dropping this piece?

[2021-02-19 16:33] krisjpi commented on #305
So for this one @tamarandom, I think it may still be relevant. I will observe and investigate the best way to handle spam that we are seeing in the server. Some of the spam should be handled by the verification bot/claiming a role, but there may be more efforts required if we notice that server members are receiving a lot of unsolicited spam via DM.

Let me know if this becomes an issue, and I wil

[2021-02-19 16:44] markoprljic commented on #305
Thanks @krisjpi Let's keep this one open until we see the need.

[2021-02-19 17:19] Zeptimus commented on #410
Close, thanks Juan :)

[2021-02-19 17:19] #410 closed

[2021-02-19 17:19] liviade1 opened #449 "assist on the launch of sourcecred"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-19 17:21] tamarandom commented on #371
Update : completed.

[2021-02-19 17:21] #371 closed

[2021-02-19 17:23] tamarandom opened #450 "Add to Discord : Meeting attendance terms"
## 📋 Anything to add?

Ivy, can you pass this document to vyvy-vi when it is final please.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-19 17:23] eduardovegap commented on #370
Updated to reflect that Hatcher Outreach now takes care of looking for Spotlight pitch.

[2021-02-19 17:24] tamarandom commented on #244
Update : closed

[2021-02-19 17:24] #244 closed

[2021-02-19 17:24] liviade1 opened #451 "soft gov trial audit"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-19 17:25] tamarandom commented on #242
update : one last final review

[2021-02-19 17:26] JuankBell commented on #242
Last review on this document: https://docs.google.com/document/d/1S5EoWbsFt3uQ5Wj6yyUJKyApFyjCQ-EloZAr6W55N3U/edit#

[2021-02-19 17:26] tamarandom commented on #399
Closed!

[2021-02-19 17:26] tamarandom commented on #399
Closed!

[2021-02-19 17:26] #399 closed

[2021-02-19 17:28] #25 closed

[2021-02-19 17:30] markoprljic commented on #319
@JuankBell Making you the owner of this now.

[2021-02-19 17:30] liviade1 opened #452 "Onboard Jorge as a hatcher"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-19 17:35] tamarandom commented on #234
Update: next step to merge into gitbook then close ;)

[2021-02-19 17:37] tamarandom commented on #433
Dupe of #451

[2021-02-19 17:37] #433 closed

[2021-02-19 17:38] GriffGreen commented on #447
@liviade1 @famole @knobsdao @Harthor @cranders1 @ataberkcasur @anthonyoliai @sembrestels @jessicazartler @eduardovegap @mendesfabio @freedumbs00 @iviangita @LinuxIsCool @JuankBell @krisjpi @markoprljic @marthendalnunes @natenatesoo @Zeptimus @Santigs @tamarandom

[2021-02-19 17:39] Santigs commented on #234
Here's the link to the Hatch Terms created in Legal WG
https://docs.google.com/document/d/1voxAC_XZfbElTF8NRDTrB4Kaz3Js2J9ShvHx5FsUcdA/edit?usp=sharing

[2021-02-19 17:40] liviade1 commented on #447
voted already :))

[2021-02-19 17:41] GriffGreen commented on #447
u da best! :-D!!! @liviade1

[2021-02-19 17:45] #438 closed

[2021-02-19 17:46] tamarandom commented on #413
Update : Closed!

[2021-02-19 17:46] #413 closed

[2021-02-19 17:48] tamarandom commented on #434
sync with @ataberkcasur on this.

[2021-02-19 17:59] markoprljic commented on #384
@Zeptimus You said you did some research already, how far did you come and where did you hit the wall?

[2021-02-19 18:00] tamarandom commented on #274
Closed (from Sprint 3)

[2021-02-19 18:00] #274 closed

[2021-02-19 18:04] tamarandom commented on #108
Update : Closed!

[2021-02-19 18:04] #108 closed

[2021-02-19 18:06] tamarandom commented on #304
Update : Closed

[2021-02-19 18:06] #304 closed

[2021-02-19 18:07] tamarandom commented on #283
updated : posted

[2021-02-19 18:07] #283 closed

[2021-02-19 18:08] tamarandom commented on #428
Update : closed

[2021-02-19 18:08] #428 closed

[2021-02-19 18:10] JuankBell commented on #134
Using Gravity is a voluntary process. Our boundary of action is when people doesn't trust in our platform, or isn't in will and disposition to solve the issue though dialogue. Disputes can strategically scale to arbitration or litigation as follows in the TEC legal hatch terms: https://docs.google.com/document/d/1voxAC_XZfbElTF8NRDTrB4Kaz3Js2J9ShvHx5FsUcdA/edit

To be able manage conflict within o

[2021-02-19 18:10] #134 closed

[2021-02-19 18:11] tamarandom commented on #59
Update : collaboration between Soft Gov & Transparency to write proposal

[2021-02-19 18:12] tamarandom commented on #59
looping in @Zeptimus

[2021-02-19 18:13] Santigs commented on #447
voted

[2021-02-19 18:26] Jeff-Emmett commented on #447
Voted!  Go go commons swarm!

On Fri, Feb 19, 2021 at 1:13 PM Santi <notifications@github.com> wrote:

[2021-02-19 18:28] JuankBell commented on #445
I'm reaching out!

[2021-02-19 21:44] jessicazartler commented on #447
Staked yesterday :D Good luck!

[2021-02-19 22:34] jessicazartler commented on #438
Yes ma'ama jamma thank you!

[2021-02-19 22:36] cranders1 commented on #447
done

[2021-02-19 22:39] jessicazartler commented on #220
Ahhhhh okay, thank you for clarifying, I feel like you have explained but it had been confusing me - got it now - THANK YOU! :D

[2021-02-19 22:40] jessicazartler commented on #430
Awesome thank you!

[2021-02-19 23:23] knobsdao commented on #447
🌱🐝

[2021-02-19 23:27] jessicazartler commented on #294
It is in progress, I am just checking in with Griff as he had asked for this piece and wanted to get his inputs - will circle back after I hear from him

[2021-02-20 11:43] Santigs commented on #400
Trying this weekend.
First transaction whent through but experiencing problems with the second.
Still waiting

https://github.com/commons-stack/tech-dapp/issues/181

[2021-02-20 14:29] tamarandom commented on #400
Thanks @Santigs This is super helpful. Looking into it! Will you let me/us know if/when the tx completes.

[2021-02-20 15:20] tamarandom commented on #220
Yay! 🙏🏼

[2021-02-20 15:23] tamarandom commented on #305
Hey @krisjpi @markoprljic I agree. Let's assume that the bot check works as expected. ;) This can sit in the product backlog for another sprint or two and the we can close it once we know it's doing it's job.

[2021-02-20 15:24] tamarandom commented on #307
Hey @krisjpi @markoprljic Good by me to close this. If more bots are needed, we can open new issues to address them as need arises.

[2021-02-20 15:26] tamarandom commented on #447
more done here!

[2021-02-21 06:27] markoprljic opened #453 "Success Story: The Hatch"

[2021-02-21 06:29] markoprljic commented on #440
@JuankBell Volunteered.

Juan, can you confirm to take on this task?

[2021-02-21 07:20] Santigs commented on #400
Finally, the transaction went through!
I got the Thank you email from Giveth.
![Screenshot 2021-02-21 at 08 20 44](https://user-images.githubusercontent.com/34634436/108618362-b4bb9d00-741d-11eb-8d79-457eb7be23a5.png)

[2021-02-21 09:08] tamarandom commented on #400
Excellent! Welcome to the Association!!
I'll close this issue and the one in the Swiss Asso. dApp repository!

[2021-02-21 09:08] #400 closed

[2021-02-21 09:29] tamarandom commented on #319
Hey @JuankBell !

@vyvy-vi would like to know whom to set as the moderators and role permissions for TEC Team on our new Discord :

Moreover, on which classification should the following roles be assigned:
- Moderators(I suppose ppl will volunteer) ( *moderators might have ban, mute, kick permissions on the server and maybe on the bots )
- TEC Team(I am not sure regarding the role and what power l

[2021-02-21 12:25] famole commented on #447
voted!

[2021-02-21 17:05] Vyvy-vi commented on #447
Voted :)

[2021-02-22 10:59] markoprljic commented on #323
Hi @rosamoc
Let me know when you start with this. Would be great to get a progress update during this week.
Thanks!

[2021-02-22 11:06] rosamoc commented on #323
Hi @markoprljic I have already started. I think I'm going to need Elementor Pro: Because of menus and buttons functionality. When I finish the first phase I will confirm it.
Yes I will keep you updated.

[2021-02-22 11:08] markoprljic commented on #323
Great news Rosa! 🤗
Thank you.

[2021-02-22 13:28] markoprljic opened #454 "Set up Secret Wiki"

[2021-02-22 13:28] markoprljic opened #455 "Create a list of people to invite to Keybase"

[2021-02-22 13:29] markoprljic opened #456 "Provide all credentials from our communication channels (social media)"

[2021-02-22 13:29] markoprljic opened #457 "New Discord - Transfer admin powers to Juan"

[2021-02-22 13:30] markoprljic opened #458 "Twitter - Fix 2FA Authentication Issue (unknown phone number)"

[2021-02-22 13:37] markoprljic commented on #384
The outcome of the planning session with Zepti:

- We will create a Secret Wiki which will hold a list of all credentials incl. the list of people who have access to the Secret Wiki itself
- @Zeptimus  is the gatekeeper and maintainer of the Secret Wiki
- New members who need limited access to certain platforms will be given permissions on the application level (i.e. create a user  with limited pe

[2021-02-22 13:42] markoprljic commented on #456
This issue is part of the Digital Security Epic https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/384

We need everyone who has access to any platform to provide credentials to @Zeptimus
Once you have provided credentials to Zepti please remove yourself as an assignee confirming that you have completed this task.

If you know someon

[2021-02-22 13:43] markoprljic commented on #457
@metaverde Please grant admin powers of our new discord to @JuankBell
Thank you.

[2021-02-22 17:34] jessicazartler commented on #384
NICE! Thanks guys!!!

[2021-02-22 17:35] jessicazartler commented on #456
Wrote @Zeptimus he should have everything from me, I asked him to lmk if he needs any further support on this - thanks Marko!

[2021-02-22 17:54] markoprljic commented on #457
Related https://github.com/TECommons/coordination/issues/319#issuecomment-782826830

[2021-02-23 05:57] markoprljic commented on #456
@Zeptimus What's the current status of gathering all credentials? What's missing? Who do we need to ask to provide it?

[2021-02-23 06:48] markoprljic commented on #431
Updated Google Slides for various Announcement banners including variations for

1. General announcement
2. Community Call
3. Speaker
4. Quote
5. Working Group

Please use master slides for each announcement type.

https://docs.google.com/presentation/d/19mxN1g6XDQcYg5sFujRlWbwpqqfb5rQ6gUKDcWEtEWI/edit#slide=id.gc0405232ba_0_76

[2021-02-23 06:55] markoprljic commented on #319
Hi @JuankBell any update on this?

[2021-02-23 08:26] rosamoc commented on #323
@markoprljic  Hi Marko, just two questions:
1. Where do the buttons and links go?
2. For the responsive versions, do you have a design already made or do I adapt it as best as I can?
Thank you!

[2021-02-23 08:52] markoprljic commented on #323
@rosamoc

1. Link all to forum
2. Adapt and we'll see later if improvement needed

[2021-02-23 10:07] Zeptimus commented on #454
We gonna use Keybase so its ready, should i close this issue?

[2021-02-23 10:08] Zeptimus commented on #455
I'd like to sync with @jessicazartler on that one

[2021-02-23 10:10] Zeptimus commented on #456
We will be using Keybase and its ready to go i'd like to sync with you guys to explain a bit how it works and onboard members

[2021-02-23 10:10] Zeptimus commented on #458
@jessicazartler @eduardovegap Do you guys know something?

[2021-02-23 10:10] rosamoc commented on #323
@markoprljic ok thank you!

[2021-02-23 11:03] rosamoc commented on #323
@markoprljic this one? https://tecommons.medium.com/

[2021-02-23 11:06] markoprljic commented on #454
Yes please

[2021-02-23 11:07] markoprljic commented on #323
No. I meant forum https://forum.tecommons.org/

[2021-02-23 11:09] rosamoc commented on #323
@markoprljic OK thanks

[2021-02-23 11:09] markoprljic commented on #456
I believe most of us already use keybase, or used before.

Can you outline here what everyone needs to do do gain access?

[2021-02-23 11:15] Zeptimus commented on #454
Close

[2021-02-23 11:15] #454 closed

[2021-02-23 11:22] Zeptimus commented on #456
Keybase handles to invite its enough (work inside keybase still in progress but looking good)

[2021-02-23 12:02] tamarandom commented on #450
Tagging @Vyvy-vi here so you can reach out when the document is final!

[2021-02-23 12:41] Vyvy-vi commented on #457
I think @metaverde would have to that
(I've got server perms as an Admin but @metaverde is the Server Owner, so they would have to transfer ownership to Juan)
I assigned Juan the `community moderator` role, which is the highest role I can assign(Admin roles are only distributed by the server Owner, I think)

[2021-02-23 12:44] markoprljic commented on #457
Thanks for clarification Vyvy.
@metaverde can you please assist with this? Thanks.

[2021-02-23 14:36] #431 closed

[2021-02-23 14:52] markoprljic opened #459 "Twitter account management and publishing process"
## 📋 Anything to add?

We need to decide on the process for publishing on Twitter.
For CS Twitter, Ivy has a weekly twitter plan we keep in excel. It looks like this https://docs.google.com/spreadsheets/d/1QJnratmpodDOuTY-21Lgr6wHr8AK4BOBa-cBI37rHNo/edit#gid=0

We could do the same for TEC.
Ask Ivy if she can manage the tweets (already has weekly scheduling for TEC tweets)

Who should be responsib

[2021-02-23 15:06] iviangita commented on #382
Added TEC AMA in the recurring content

[2021-02-23 15:11] jessicazartler commented on #382
Awesome! Thanks @iviangita !!

[2021-02-23 15:19] jessicazartler commented on #459
I am currently responsible and have already handed off recurring Tweets to Ivy and she is working from this sheet that we did together based on templates I created:
https://docs.google.com/document/d/1Sf9p05e8rjeUZaFFrjoRPmUOdTJcb8sk7xhK3UC8rNw/edit?usp=sharing
See https://github.com/TECommons/coordination/issues/383

In addition to these recurring, I find content from around i.e. memes, inspiring

[2021-02-23 15:37] jessicazartler commented on #458
DMed you Zepti :D There is a phone # associated - thank you for all your hard work on this!

[2021-02-23 15:37] jessicazartler commented on #455
Sure, we msg me anytime, we can hop on a call or talk about it in stewards/comms

[2021-02-23 16:20] jessicazartler opened #460 "Create New Graphics for Each WG from Markos Designs"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [x] Comms
- [x] Soft Gov
- [x] Legal
- [x] Transparency
- [x] Gravity
- [x] Hatcher Outreach
- [x] Parameters
- [x] Commons Swarm

## 🤼‍ Reviewer

@markoprljic

## 🔗 Work doc - inspirational links
https://docs.google.com/presentation/d/19mxN1g6XDQcYg5sFujRlWbwpqqfb5rQ6gUKDcWEtEWI/edit#slide=id.gc040

[2021-02-23 16:38] jessicazartler commented on #460
Sent to stewards:

NEW TEC GRAPHICS/SLIDE TEMPLATES ARE OUT! 🥳

HUGE thank you to @markop for the awesome design/branding!!! 👏🏼🤩 I've taken his slides/logos/resources and made slides for each working group now — you can find them here:

https://docs.google.com/presentation/d/1zcisOx79Ia5bCwzxQALYR29J4DN-_0ndIBJHo0yE5Dg/edit#slide=id.gc048f8b484_1_359

Please use the new ones going forward - double

[2021-02-23 16:38] #460 closed

[2021-02-23 16:47] markoprljic commented on #459
Grat, thanks @jessicazartler

So, I assume you and @iviangita can be considered managers for the Twitter publishing?

[2021-02-23 17:30] #458 closed

[2021-02-23 17:35] tamarandom commented on #459
Yes! This looks great, @jessicazartler !

From my POV you have your finger on the pulse, so to speak, so I'd support you tweeting or retweeting for TEC as long as you enjoy it. Are the other people that tweet from tecmns as well?

What Ivy has been doing great for CS is the pre-planned calendar (it's a xls so you can look at the full week or full month in one glance - see it here : https://docs.go

[2021-02-23 17:35] #440 closed

[2021-02-23 17:43] jessicazartler commented on #148
@sembrestels let us know when you need this and deadline :D Thank you!

[2021-02-23 17:46] markoprljic commented on #459
I assume this issue can be moved to In Review or Close?

[2021-02-23 17:57] jessicazartler opened #461 "The Great Migration --- Change ALL Comms Materials to have NEW Discord Link"
## 📋 Anything to add?

When we migrate, we need to delete all channels out of TE and leave a bridge channel to our new TEC discord with a pinned message
We also need to change all of our archive links/platform links to reflect this

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

So people go to the correct place

## 🎉 Subtasks

- [x] All blog posts
- [x] TE Calendar events
- [x] Socia

[2021-02-23 17:58] jessicazartler commented on #461
@markoprljic maybe @cranders1 / @iviangita are willing to support with this? I can also help

[2021-02-23 21:46] jessicazartler commented on #397
THIS WEEK EVENT INVITE (shared w/ Stewards and in Comms/General/Memes)
https://calendar.google.com/event?action=TEMPLATE&tmeid=NDlvazFuZXN0bmRqa2gwcGU3MGV1cnViNmwgNW1rZXAxYWQxajg2MGs2ZzdpN2ZyOHBscTBAZw&tmsrc=5mkep1ad1j860k6g7i7fr8plq0%40group.calendar.google.com

[2021-02-24 01:03] cranders1 commented on #461
I can take care of all the medium posts. Just  post the proper link here :)

[2021-02-24 05:02] markoprljic commented on #325
Hi Rosa, just wanted to check in on the SEO tags that you and Edu have been working on. You do have a list of those?
This is related to the website and possibly setting up the SEO plugin and settings inside the WP theme.
Do you have everything you need to set it up?

[2021-02-24 05:04] markoprljic opened #462 "Create sub brands for Omega and Stewards WG's"
## 📋 Anything to add?

Same as for other WG's, banners and geometry symbols that represent those, create for missing WG's.

[2021-02-24 05:06] #457 closed

[2021-02-24 05:08] markoprljic commented on #456
@Zeptimus Let me know what you received all logins for everything and close the issue. Thanks!

[2021-02-24 05:09] markoprljic commented on #461
https://discord.gg/v32dUaGC

[2021-02-24 05:11] markoprljic commented on #323
@rosamoc We have a question regarding email newsletter setup, can you give your feedback here? https://github.com/commons-stack/iteration0/issues/565

Thanks!

[2021-02-24 05:14] markoprljic commented on #397
Since this is done and recurring I'll move it back to Product Backlog.

[2021-02-24 05:49] markoprljic commented on #462
Added Omega and Stewards. Updated Branding github repo with new logos. Updated Google Slides template with preview of all WG banners.
@jessicazartler Please update the slides for new WG's. Thanks.

![Image 2021-02-24 at 6.47.42 am.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/5f596fed-77fd-45af-a528-8872ae13ba3d)

[2021-02-24 05:49] #462 closed

[2021-02-24 07:03] iviangita commented on #426
New video added to Commons Stack playlist:
https://www.youtube.com/watch?v=wHwiX7TIvaI

This can go to end screens of TEC Lab and Commons Swarm :)

[2021-02-24 08:15] iviangita commented on #461
Sure, I can do this for Twitter and the calendar events

[2021-02-24 10:16] rosamoc commented on #325
@markoprljic  We agreed with Edu that a first list of keywords would be made (not made by me but by the people who write the contents) and that later I would review it to see the most searched words in google. Then this list would be sent to everyone for review and final OK.
For now I have not received any list....

[2021-02-24 10:28] markoprljic commented on #325
Thank you very much for the clarification Rosa.

@eduardovegap Sorry if I missed it, but where can we find the SEO keywords list? Has it been approved? Thanks.

[2021-02-24 11:31] eduardovegap commented on #325
¡Hey there Rosa!

I sent it to you through Telegram, but the two ticks aren't checked, let me know if you didn't receive them on our conversation to resend it!

[2021-02-24 11:46] iviangita opened #463 "Transparency - Medium article"
## 📋 Anything to add?

Objective: communicate to the outside and to the inside of the organization the short term and long term scope of the Transparency Working Group

Goals: Facilitate equity of access to information, provide easy mutual monitoring strategies and accountability in Decentralized organizations

Questions to answer: Why transparency?

Theoric bases: Ostrom, DAO2DAO relations

## ⏰

[2021-02-24 11:59] Zeptimus commented on #426
Awesome, ill update common swarm

[2021-02-24 12:22] iviangita commented on #459
I created a Twitter calendar for TEC so we can easily have an overview of the topics/content we will publish for each week. I also added a tab for the wording to be used. Feel free to drop any suggested topics/content as well as the wording. Let me know if there's anything confusing in the calendar so I can improve it. :)

https://docs.google.com/spreadsheets/d/1TEag2jkNqgpFX9oqsqHZ_cQc6UboggIb6Rx

[2021-02-24 13:01] markoprljic commented on #459
This is great @iviangita thank you so much.

Yes, we should definitely share this with everyone, also I'm thinking of a way for people to easily find this sheet to send their suggestions maybe. Considering pinning a message on Discord.  Open to hearing other ideas.

Issue moved to QA.

[2021-02-24 14:30] markoprljic commented on #432
Presentation template for Google Slides can be found here https://docs.google.com/presentation/d/1sy5WU0J7F4lw43iltf-DRlGIfln_oVXnm9lWZbjsPe4/edit?usp=sharing

Please duplicate to your drive and edit. If you will need any other slide variation please let me know and I'll update it. Thank you!

[2021-02-24 14:30] #432 closed

[2021-02-24 15:31] rosamoc commented on #325
Yes, I just read it.

[2021-02-24 15:31] rosamoc commented on #325
Thank you!

[2021-02-24 15:52] markoprljic commented on #319
I recall the decision from Jess saying:

I also noticed Kay setting up bridges for our new discord. Should we proceed as decided earlier?

[2021-02-24 18:13] tamarandom commented on #427
Hey @mateodaza ! This was yesterday and today, right? Can we close this one?

[2021-02-24 18:16] jessicazartler commented on #462
YYYaaaay! Thanks Marko, these look so awesome! <3 Will make those 2 now

[2021-02-24 18:18] tamarandom commented on #195
Hey @eduardovegap !  For tomorrow .... can you confirm it will be Electric Circus?

[2021-02-24 18:25] jessicazartler commented on #462
Oh @markoprljic can you add the two new symbols so I can make them - omega/stewards -- here on the symbols page slide?
https://docs.google.com/presentation/d/19mxN1g6XDQcYg5sFujRlWbwpqqfb5rQ6gUKDcWEtEWI/edit#slide=id.gc0405232ba_0_137

[2021-02-24 18:34] jessicazartler commented on #461
Thank you @cranders1 @iviangita !!! Good question Ivy -- @JuankBell what is the timing looking like? We will wait for your green light (we must also let TE know I gave Angela the heads up but let me know when we will do the "migration" and delete all the old channels from TE and have just the bridge remaining

[2021-02-24 18:42] jessicazartler commented on #195
Also @eduardovegap I am confirming with Shermin/Token Kitchen whether she wants March 4 or 11 -- and we can have Dacade on whichever week she doesn't choose? If that is okay, she is quite full schedule so I thought we would let her choose first as Dacade is more flexible

[2021-02-24 18:46] #451 closed

[2021-02-24 18:55] markoprljic commented on #462
Yes they should be in the branding github repo. Sorry for not labeling them properly yet 😕

[2021-02-24 18:57] markoprljic commented on #461
@jessicazartler can you please also sync with Kay, he actually added a bunch of bridges and wants to know whether to delete them and leave just one?

[2021-02-24 19:58] jessicazartler commented on #461
@JuankBell is handling this -- we just discussed in Stewards -- @JuankBell can you reach out to Kay (GleeRoyale) and inform him that we are wanting to keep/bridge all of the TEC channels and talk with him? Would super appreciate it! Thank you all -- it takes a village

[2021-02-24 21:12] JuankBell commented on #319
Thanks everyone for their work in this issue!

Share with you some of the notes from today's stewards call.

Don't delete old channels, they are good archives. a lot of valuable information is there.
we have to fix the bridges and look into this phase aiming to help all members engage and adapt to the new server.

**New Discord Server ideas / suggestions / plan  :**
Thursday Community call (tomorr

[2021-02-24 21:42] jessicazartler commented on #319
This was some weeks ago - decentralized coordination --- please refer to Juan's post as the plan as it was discussed in stewards today - thank you!

[2021-02-24 21:46] jessicazartler commented on #462
Ohhh okay cool! Found them, thanks so much!

[2021-02-24 21:57] jessicazartler commented on #459
Sounds great, thank you both!

[2021-02-24 22:21] tamarandom commented on #459
🙌🏼 @iviangita Looks great!

[2021-02-24 23:12] tamarandom commented on #437
Done & Done.

[2021-02-24 23:12] #437 closed

[2021-02-24 23:14] tamarandom commented on #321
Progressing!

I made a copy to preserve the original Manifesto we hacked together. Sentimental! 🙄  It's referenced at the bottom of the new one.

https://docs.google.com/document/d/1cqdURiW7Qv50J_Ha9FLr9IvdqnZGuhlsffL6O1ivHnA/edit#heading=h.ekbihd26krj7

[2021-02-24 23:16] tamarandom commented on #188
@markoprljic I have a call with @eduardovegap tomorrow at 10am to finish the Hatcher Outreach section. Shall we do Comms at the same time?

[2021-02-25 07:27] geleeroyale commented on #461
Ok - saw this - will finish bridging the rest and ask if I am unsure about a particular room!

[2021-02-25 07:28] markoprljic commented on #461
Thank you Kay.

[2021-02-25 08:52] markoprljic commented on #188
Friday? What do we have for comms, please remind me.

[2021-02-25 12:08] freedumbs00 commented on #233
Everything has been done.  Closing issue

[2021-02-25 12:08] #233 closed

[2021-02-25 12:08] #379 closed

[2021-02-25 12:14] freedumbs00 commented on #287
@GriffGreen  https://docs.google.com/document/d/1fLqlfMyQgUr8U6zZogu9NyTFAU6GxrzrygZRrxVIg90/edit

Closing issue

[2021-02-25 12:14] #287 closed

[2021-02-25 12:16] freedumbs00 commented on #373
@GriffGreen   Are we sure this is still the direction we want to take?  I know people will use the site and play with the sliders and use tokenlog and vote but how many people are actually going to create parameters and submit issues?

[2021-02-25 12:21] freedumbs00 commented on #284
@GriffGreen   I don't think this is the direction we are heading.  Encouraging to vote is more appropriate.

[2021-02-25 12:21] tamarandom commented on #188
Here you go @markoprljic ! ;)
https://miro.com/app/board/o9J_lbkGJHQ=/

I'll add this link to the body of this issue & dm you for a time slot on Friday.

[2021-02-25 12:22] freedumbs00 commented on #289
@GriffGreen  is this still applicable?  We are going to be using 1hive and Celeste now.

[2021-02-25 12:25] freedumbs00 commented on #348
BadgerDao will not be making a proposal.  They're better as potential Hatchers.

[2021-02-25 12:25] #348 closed

[2021-02-25 16:17] jessicazartler commented on #294
Finished writing - one last glance by KrisJ/if Griff has time then I will be publishing :D

https://docs.google.com/document/d/1eMjuxzf_AWwNuj-4yucUC5vYvF72Ol_pad2lNkWLgzs/edit

[2021-02-25 18:16] jessicazartler commented on #309
@Zeptimus @eduardovegap you mentioned you were up for supporting -- created this list of people/intvw questions - are you all up for taking some of these interviews and doing recordings then passing the video files for me to edit?

Shouldn't take more than 15min call each to finish - DM me with questions or we can have a quick sync on this tomorrow :D
https://docs.google.com/document/d/1RSzWsn24IF

[2021-02-25 18:25] Zeptimus commented on #309
Yeah, how do we coordinate it? im up to take some interviews even help with the editing part if needed

[2021-02-25 18:58] geleeroyale commented on #319
Alright - all channels should be bridged now. some rooms did not offer an obvious bridge target on the other side - these are unbridged for now:

[code]

[2021-02-25 19:47] rosamoc commented on #323
@markoprljic You can now visit the page (It is not open to everyone) . The newsletter section is not yet available. But in the meantime you can check it out and give your opinion. I tried to make it as close to your design as possible, but a screen is not the same as a fixed design.
https://tecommons.org/?page_id=380

[2021-02-25 21:10] tamarandom commented on #319
Hey @geleeroyale

@JuankBell @markoprljic @jessicazartler What are your thoughts on this? If we are keeping all the WG bridged then I propose we add #stewards and #params to the TE Discord and bridge it as well. To whom do I make that request though? And is that the direction we go?

And for #tec-voting @liviade1 do we want that channel on the new TEC Discord? Under the "Open" channels?

[2021-02-25 22:20] jessicazartler commented on #319
Thank you @geleeroyale you rock!! FYI for you and @tamarandom those channels were never created on TE side so there is nothing to bridge as they are "new" channels..

For voting, would you like to create a voting channel on TEC side where we could track voting or point to forum voting? and have it there for discussions? I think that could be good..

[2021-02-25 23:44] Santigs opened #464 "Hatch DAO Proposal Terms"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-26 03:56] cranders1 commented on #461
@jessicazartler @markoprljic
Discord links updated on all Medium posts
Whoop

[2021-02-26 08:01] tamarandom commented on #319
Hey @jessicazartler I tend to agree. A channel dedicated to votes will make it easy for everyone to see when there is an action they need to take wrt voting versus the votes getting buried in another channel.

For the two wg without channels on TE Discord, I asked Angela if she would mind if we add them to TE discord so that we can bridge them to TEC discord. It would be inconsistent to have the o

[2021-02-26 10:20] markoprljic commented on #323
Thanks Rosa. So far so good, just a couple of things:

- please make the background full width
- Buttons seem to be images, can we make them with CSS?
- would you be able to style all Headings with CSS instead of images?
- can you replace the Favicon with one from the [branding repo](https://github.com/TECommons/tec-branding-assets/tree/main/Logo)?

Thanks.

[2021-02-26 10:22] markoprljic commented on #324
@jessicazartler @freedumbs00
You can go ahead and proofread the draft site here https://tecommons.org/?page_id=380

Once you're done please submit a bullet list of revisions (if any) in the comment of this issue.
Thanks.

[2021-02-26 13:46] Vyvy-vi commented on #319
I noticed that there is a #🔑 -tec-tokenholders channel
What is the purpose of this channel?

[2021-02-26 14:12] Vyvy-vi commented on #319
@tamarandom @geleeroyale A `#🌱-tec-voting` channel has been added in the **OPEN** channels category on the TEC server.
Is this the correct category for the channel? (This can now be bridged to the TE discord)

[2021-02-26 14:35] markoprljic commented on #396
@freedumbs00 Can we do an Uncle Sam "we need you" meme for our call to join TEC? https://memegenerator.net/instance/70384764/uncle-sam-we-need-you

You da man for that stuff. Wanna do it? :)

[2021-02-26 15:02] markoprljic commented on #319
@JuankBell  Praise bot and Bridged channels are done as far as I can see.
When is the official TEC Discord migration party happening?

[2021-02-26 15:09] markoprljic commented on #384
@Zeptimus Hi man! :) What's the status of this issue? How are we doing?

[2021-02-26 15:22] Zeptimus commented on #384
All the information i know its writed, would be cool to add at least 2 or 3 members more as owner in the app so more people can manage it if something happen to me :D. Im lacking information about TEC medium to close this issue

[2021-02-26 15:26] markoprljic commented on #456
@jessicazartler Do you know who has Medium credentials? If you do, please direct them to @Zeptimus so that we can close the issue. Thanks!

[2021-02-26 15:27] markoprljic commented on #384
Awesome!

Please add @GriffGreen @tamarandom and myself as the owners.

[2021-02-26 15:30] Zeptimus commented on #384
I need keybase handle, email adress or phone number maybe you guys can send me on telegram any of those and i invite you

[2021-02-26 16:57] rosamoc commented on #323
@markoprljic
Yes. One question,  the background do you mean the black one? Not boxed? Full width?

[2021-02-26 17:00] markoprljic commented on #323
Not boxed, full width please

[2021-02-26 20:52] GriffGreen opened #465 "Disputable Voting General Discussion Thread"
Similar to https://forum.tecommons.org/t/dandelion-voting-parameters-general-discussion/107

[2021-02-26 21:51] jessicazartler commented on #195
@eduardovegap Shermin w/ Token Kitchen will present March 11 -- added also to the curate sheet

[2021-02-26 21:56] jessicazartler commented on #461
Dang you're fast!! You da best THANK YOU!!!

[2021-02-26 22:07] jessicazartler commented on #456
Me and Craig -- I'll DM you Zepti

[2021-02-26 22:07] jessicazartler commented on #456
Thanks guys!

[2021-02-26 23:23] jessicazartler commented on #324
Looks great! Some feedback, links & CTAs:

-I think we should bring back our tagline under TEC at the top like we had "‌Sustainable‌ ‌&‌ ‌Ethical‌ ‌Design‌ ‌for‌ ‌Token‌ ‌Ecosystems‌" ‌

-I think the definition section text can be a bit bigger to fill the space a little more

-Overall, there are way too many CTAs - I think we should have two at the top right -- JOIN US / STAY UPDATED
Join us can l

[2021-02-27 06:07] markoprljic commented on #324
Yes!

No, it was meant to be this way in the original design.

I  don't think the same. Each CTA is meant to be present on every section on the landing page, they all link to the forum.

Subscribe to updates will be added in the footer and that is linked directly to our Hubspot.

[2021-02-27 17:10] divine-comedian commented on #465
1st draft ready for review - https://docs.google.com/document/d/12QBf_pEkZ85aPjIQ-0uDn_Y9Jd0u3D1FTgNLxisjbus/edit?usp=sharing

@freedumbs00  @GriffGreen

[2021-02-27 18:27] tamarandom opened #466 "0mega / WG category on the Forum"
## 📋 Anything to add?

 https://forum.tecommons.org/c/working-groups/13

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-27 18:28] tamarandom opened #467 "Labs WG / Represent on the Forum"
## 📋 Anything to add?

https://forum.tecommons.org/c/working-groups/13

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-28 05:03] GriffGreen opened #468 "Disputable Voting Params Blogposts Epic"

[2021-02-28 05:07] GriffGreen commented on #455
I have a keybase account, lets be friends :-D

@giveth

:-D

[2021-02-28 06:16] markoprljic commented on #461
To all who's helping with this, please make sure to generate a link from discord that does not expire.
Here's the one I generated https://discord.gg/xEQQrt489Z

![Image 2021-02-28 at 7.15.38 am.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/dc651836-e1ec-44f0-8c33-5486e3e7d48d)

[2021-02-28 18:47] GriffGreen opened #469 "Confirm that the Support Required Forum Post works for Disputable voting"

[2021-02-28 18:48] GriffGreen opened #470 "Confirm that the Minimum Quorum Forum Post works for Disputable voting"

[2021-02-28 19:15] GriffGreen opened #471 "Confirm that the Vote Duration Forum Post works for Disputable voting"

[2021-02-28 19:19] GriffGreen opened #472 "Fix the Vote Execution Delay Forum Post so it works for Disputable voting"

[2021-02-28 19:28] GriffGreen opened #473 "Forum post for Disputable Voting's Delegated Voting Period"

[2021-02-28 19:30] GriffGreen opened #474 "Forum post for Disputable Voting's Quiet Ending (Include both parameters in 1 Post)"

[2021-02-28 19:30] GriffGreen opened #475 "Forum post for Disputable Voting's Agreement (Include both Parameters)"

[2021-02-28 19:31] GriffGreen opened #476 "Forum post for Disputable Voting's Action Amount"

[2021-02-28 19:31] GriffGreen opened #477 "Forum post for Disputable Voting's Challenge Amount"

[2021-02-28 19:32] GriffGreen opened #478 "Forum post for Disputable Voting's Challenge Duration"

[2021-02-28 21:15] GriffGreen opened #479 "Review Each of the Previous Parameters Posts and confirm they are still applicable"
## 📋 Anything to add?

The Vesting Cliff and Vesting Period pieces have been moved to the Augmented Bonding Curve.... are there other pieces that have changed since the original posts were written?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-02-28 21:38] GriffGreen opened #480 "Create a video showing people how to propose Params"
@marthendalnunes @freedumbs00 Lets make it super easy to propose params!

I hope to show them how to star from scratch, and how to start with someone else's params.

[2021-03-01 08:31] tamarandom commented on #321
Done! Shared with the TEC Stewards for review and input.
This is a living document now and will be updated as necessary.

[2021-03-01 08:31] #321 closed

[2021-03-01 08:44] tamarandom commented on #384
⚡️ Sent in TG ⚡️

[2021-03-01 08:47] tamarandom commented on #195
@jessicazartler @eduardovegap Does that mean Dacade will be this week? Mar 4? I checked the xls but it's not in there. ;( Do we need someone for this week?

[2021-03-01 09:01] tamarandom commented on #188
Done.
The Commons Swarm and TEC Params have the most detailed milestones due to the nature of these deliveries being the crux of the Hatch and Commons upgrade. Other working groups are nearing operational modes and continue will continue pieces of work as they arise.
https://miro.com/app/board/o9J_lbkGJHQ=/

[2021-03-01 09:01] #188 closed

[2021-03-01 10:15] iviangita commented on #461
Done updating the Discord links in the calendar and Twitter content :)

[2021-03-01 10:42] tamarandom commented on #395
Hey @eduardovegap!  @natenatesoo's work on the FAQ is shaping up nicely : https://docs.google.com/document/d/16UI-EfD4qcwBaAv3Eexlv01SOK7oiDt4gkVT5rEY6X4/edit#

[2021-03-01 10:49] tamarandom opened #481 "TEC Swag shop & TECLOVE token for Hatchers"
## 📋 Anything to add?

Someone else's idea but as it came up, we can follow the pattern we are using for Commons Stack.
In brief, this:

swag.<url> = on rinkeby network only accepts SWAGTEC tokens

Token that is airdropped to Hatchers.
They can use that token to acquire swag at the swag shop.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Revie

[2021-03-01 11:11] markoprljic commented on #461
Thanks @iviangita

Blog posts to be updated (and Medium profile I assume). @jessicazartler are you going to do that?

[2021-03-01 15:19] iviangita commented on #426
New videos for end screens:

https://www.youtube.com/watch?v=oF3nsRVSyJc - TEC AMA and Community Call
https://www.youtube.com/watch?v=gW48YxdcxTc&t=4s - Community Call

[2021-03-01 15:46] #90 closed

[2021-03-01 16:02] rosamoc commented on #323
@markoprljic Done!

[2021-03-01 16:05] eduardovegap commented on #412
Shall we close this one @Zeptimus?

[2021-03-01 16:07] eduardovegap commented on #277
can we close this one? it's very similar to #207 @tamarandom

[2021-03-01 17:08] markoprljic commented on #323
@rosamoc LOOKING GREAT! WOOOHOOOO! Thanks a ton! :)))

One little thing, not sure if you had trouble with it ... in the footer Submit button can you make it white button so It stands out?

Other than that this is great! Ready to go live IMO

[2021-03-01 17:10] rosamoc commented on #323
@markoprljic No, no, just a little more work to do it but not impossible, I'm going to do it. ;-)

[2021-03-01 17:15] iviangita opened #482 "Twitter content: Invite hatchers to Hatcher Outreach Community Call"
## 📋 Anything to add?

Context from @eduardovegap:

We will have our first hatch outreach community call, to welcome people who is interested on being hatchers. Yes, It's an open call, where we will welcome everyone intersted on being a hatcher for the TEC, and explain how it works, what it's about and explaining the process to become one.

## ⏰ Urgency/Due Date/Blockers?

Before March 4

## ❓ Why

[2021-03-01 17:21] iviangita commented on #482
Hi @jessicazartler @markoprljic @eduardovegap, hope you can review the content I drafted before I publish :)

_🐣 We're pipping!

Would you like to be our hatcher? Learn how to become one and find out what's in it for you!

Join our first Hatcher Outreach Community Call tomorrow at 1pm CET: https://discord.gg/mEv63xeWGn

Look forward to welcoming you! 🐥

#TokenEngineering_

I also created 2 options

[2021-03-01 17:34] markoprljic commented on #323
🤗

[2021-03-01 17:37] markoprljic commented on #482
Thanks @iviangita looking good!

I think Version 1 if the banner is more clear and action driven. Let's go with that.

[2021-03-01 18:08] jessicazartler commented on #90
The summary turned into https://forum.tecommons.org/t/tec-funding-proposals-what-kinds-of-projects-should-apply/191

Not sure if there is anything else to glean out of it.. I think most of the valuable thoughts/insight were captured there.. I will have one more look back and see if there is anything else we could make out of it just in case, but I think that was most of it..

[2021-03-01 18:24] jessicazartler commented on #195
@eduardovegap can you confirm Dacade for this week? Thank you!

[2021-03-01 18:27] jessicazartler commented on #461
@cranders1 already did it :D see above his comment - thank you! :D

[2021-03-01 19:48] eduardovegap commented on #195
@jessicazartler @tamarandom I wrote them to confirm, waiting for reply.

[2021-03-01 21:18] jessicazartler commented on #482
Agree with Tamara on the first graphic and one more suggestion:

"Would you like to be our hatcher? Learn how to become one and find out what's in it for you!"

Many people don't know what a hatcher is.. so maybe we could say "Would you like to become a founding member of the TEC? Learn more about the benefits and the mission that drives us"

Or something like that - thanks Ivy! Fantastic work!

[2021-03-01 21:38] eduardovegap commented on #482
Agree with their feedback and @jessicazartler change to the tone of the approach.

[2021-03-01 21:43] eduardovegap commented on #195
@iviangita Dacade P2P confirmed.

[2021-03-01 21:52] eduardovegap commented on #195
quick question @jessicazartler are we using new discord for this calls?

[2021-03-01 23:07] tamarandom commented on #277
Hey @eduardovegap ! #207 is an epic. You won't see that if you are on github.com directly as epics are part of the zenhub view. If you look on zenhub, it becomes clear : https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/207

This issue, #277, is a repeating task. Label is "#repeating : sprint" and it's the one that get pulled into e

[2021-03-02 00:05] jessicazartler commented on #195
We are talking about this tomorrow in Comms - should be will confirm tomorrow - we discussed starting in old and migrating together to new... tomorrow we'll decide

[2021-03-02 05:18] markoprljic commented on #195
YES! Please :)

[2021-03-02 08:30] tamarandom opened #483 "Disable / delete the "old" new Discord server"
## 📋 Anything to add?

The "new" new Discord server is going live.
This one : https://discord.gg/hyQQrAdad4

The "old" new Discord server link is still out in the wild.
We need to disable or delete that server, please.

@krisjpi is there anyone other than you that can do this? ;)

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗

[2021-03-02 09:46] rosamoc commented on #323
@markoprljic Done!! When you think it is ready, I will publish it

[2021-03-02 10:24] markoprljic commented on #323
Looking good! Now ... getting into the nitty-gritty :D
We're having our weekly sync today at 6PM CET, I'd love you to join :)

Main navigation alignment:

![Image 2021-03-02 at 11 22 57 am](https://user-images.githubusercontent.com/5704285/109634658-c6055780-7b49-11eb-8cab-3ee72f9362c9.jpg)

Footer adjustments:

![Image 2021-03-02 at 11 17 15 am](https://user-images.githubusercontent.com/5704285/1

[2021-03-02 10:41] tamarandom opened #484 "Discord : Roles and Perms"
## 📋 Anything to add?

Note: Pulling this out of #319 to be addressed  as a separate issue.

I am thinking that the TEC Team should include *at least* all of the TEC Stewards (I will create a separate issue for @Vyvy-vi to do that now) but the think work around whom else and what perms is still an open question as far as I know.

---
Hey @JuankBell !

@vyvy-vi would like to know whom to set as the

[2021-03-02 10:47] tamarandom opened #485 "Discord : Add TEC Stewards to TEC Team ;)"
## 📋 Anything to add?

We will need to match some names to handles, perhaps. For those that are not immediately obvious, will you mention them in the comments and we will hive mind the answers.

The TEC Stewards are :

- [x] Soft Gov WG - Livia(liviade#1387)
- [x] Gravity WG - Juan Carlos(juankbell#7458)
- [x] Legal WG - Santi(santigs#9769)
- [x] Hatch Outreach WG - Eduardo(eduardovegap#0422)
- [x

[2021-03-02 11:26] Vyvy-vi commented on #485
The roles have been assigned. (I made an edit to the list above to reflect the changes)
What is the username for Jake?
Moreover, are the above-assigned discord usernames correct?

[2021-03-02 11:27] Vyvy-vi commented on #485
Moreover, should I set up Pinning permissions for all the stewards in their working groups?

[2021-03-02 12:32] iviangita commented on #482
@markoprljic @jessicazartler @eduardovegap thanks for the feedback! Here's the final copy for release:

🥚 We're pipping!

Would you like to become a Hatcher, that is, a founding member of the TEC? Learn more about the benefits and the mission that drives us! 🐣

Join our first Hatcher Outreach Community Call tomorrow at 1pm CET: https://discord.gg/mEv63xeWGn

#TokenEngineering

![Hatcher Outreach -

[2021-03-02 12:32] #482 closed

[2021-03-02 13:31] Vyvy-vi commented on #483
I think only kris can do that since they own that server.

[2021-03-02 13:35] Vyvy-vi commented on #485
The roles have been assigned-!
Closing the issue :D

[2021-03-02 13:36] #485 closed

[2021-03-02 13:41] Vyvy-vi commented on #484
#485 Added stewards to TEC Team role.
The powers included with that role:
PIN permissions in channels
DELETE messages
*Note- these permissions are grouped together by discord 😅

[2021-03-02 13:45] Vyvy-vi commented on #484
The current list of moderators:
![Uploading Screenshot 2021-03-02 at 1.42.35 PM.png…]()

[2021-03-02 14:21] divine-comedian opened #486 "Hatch Phase TL;DR"
This is document is a basic summary of the hatch process that will be shown to potential hatchers

https://docs.google.com/document/d/1Ji2vV5c_PCXt2q0G-1wTddyOaUp5ESKWht2UKcoE7S0/edit?usp=sharing

[2021-03-02 14:26] tamarandom commented on #485
Nice!

[2021-03-02 14:32] divine-comedian commented on #486
final draft ready for review @GriffGreen  @freedumbs00

[2021-03-02 14:34] rosamoc commented on #323
@markoprljic OK perfect! I'll be there, but I'll have to go a little earlier. Thank you! See you there!

[2021-03-02 14:37] eduardovegap commented on #486
Thank you Mitch, I gave some notes. Shall we make an illustration for the vault part? I think there was one, mainly because I feel it's the only confusing part to understand. And I would divided in steps to make it easier.

[2021-03-02 15:01] Zeptimus commented on #426
hey ivy! should i wait until next community call or should i add those to the last community call? Thanks

[2021-03-02 15:03] Zeptimus commented on #412
yes! thanks Edu :D

[2021-03-02 15:03] #412 closed

[2021-03-02 15:10] iviangita commented on #450
Hi @Vyvy-vi, here's the final document :)

https://docs.google.com/document/d/1-ysqAIbqx4KY3WEiVqnX8SUVC8197cKiFdxJSWOjgLc/edit?usp=sharing

Closing! :D

[2021-03-02 15:10] #450 closed

[2021-03-02 16:02] iviangita commented on #426
You can add them in the previous community calls :)

[2021-03-02 16:25] divine-comedian commented on #465
final copy posted to - https://forum.tecommons.org/t/disputable-voting-parameters-general-discussion/267

[2021-03-02 16:39] divine-comedian commented on #486
@eduardovegap  I hear ya!  If someone is able to make an illustration sure. All the flow charts I've seen thus far make it feel more complicated, I divided it into 3 steps roughly and named them

[2021-03-02 16:56] freedumbs00 commented on #486
This is a great idea.

[2021-03-02 17:00] freedumbs00 commented on #465
Love it @divine-comedian .   Closing this issue

[2021-03-02 17:00] #465 closed

[2021-03-02 17:28] #456 closed

[2021-03-02 17:46] #455 closed

[2021-03-02 17:47] markoprljic commented on #319
Confirmed, channels bridged and praise bot there.

[2021-03-02 17:47] #319 closed

[2021-03-02 17:48] liviade1 opened #487 "Onboard Jess as a Hatcher"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@tamarandom

## 🔗 Work doc - inspirational links

[2021-03-02 17:52] krisjpi commented on #483
Sorry for the delay, had to get 2FA involved, but it is now deleted! The only TEC server that exists now is the legitimate server! Join us over there - https://discord.gg/vun8mEQWew

[2021-03-02 17:52] #483 closed

[2021-03-02 17:59] tamarandom commented on #483
🙌🏼

[2021-03-02 18:40] jessicazartler opened #488 "Review Hatcher pieces"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [x] TL;DR https://docs.google.com/document/d/1Ji2vV5c_PCXt2q0G-1wTddyOaUp5ESKWht2UKcoE7S0/edit
- [x] FAQ https://docs.google.com/document/d/16UI-EfD4qcwBaAv3Eexlv01SOK7oiDt4gkVT5rEY6X4/edit?usp=sharing

## 🤼‍ Reviewer

@eduardovegap @tamarandom @GriffGreen

## 🔗 Work doc - inspirational links

[2021-03-02 19:12] jessicazartler commented on #292
This piece was scaffolded and in progress - Griff had suggested wait for Celeste..

I will continue working on it once I have deep dived into Celeste now that it is further along (notes/Forum post/maybe record a Q&A sesh with @Griff to produce content while learning)

[2021-03-02 20:50] Vyvy-vi commented on #450
![Screenshot 2021-03-02 at 8 50 00 PM](https://user-images.githubusercontent.com/62864373/109713297-09ea7200-7bc7-11eb-8cd5-a16761174d3a.png)
It was added to the rules-! :D

[2021-03-03 06:01] markoprljic commented on #325
@rosamoc Since the website is almost done, did you also include any SEO plugins and added the keywords from Eduardo?

[2021-03-03 06:15] iviangita commented on #426
@Zeptimus new video for endscreen :)

https://www.youtube.com/watch?v=6f1v_J3K-Ws - TEC Lab and Commons Swarm

[2021-03-03 06:46] markoprljic commented on #323
@rosamoc Did you test the Hubspot integration, subscribe to newsletter is sending emails to our Hubspot account?
@knobsdao Can you please check as well? I tried logging in to Hubspot but need the code sent to email and I didn't have access to it. Thanks.

[2021-03-03 06:53] markoprljic commented on #48
Hi @rosamoc I'm bringing up this task as something up next after you're done with the website. Do you think you can work on this in the next 2 weeks after we close the current sprint? Let me know please. Thanks!

[2021-03-03 09:47] rosamoc commented on #325
@markoprljic Not yet, next step

[2021-03-03 09:49] rosamoc commented on #323
@markoprljic It's not working, I'm going to fix it.

[2021-03-03 09:55] rosamoc commented on #48
Hi @markoprljic after the website, next steps:
- Final keyword list
- Make the SEO of the website according to keywords

What do you mean about SEO on medium? Review the articles and modify them according to the keywords? Or explain to the person who writes the articles how SEO should be done?

[2021-03-03 10:51] Zeptimus commented on #426
Done ! :D

[2021-03-03 11:48] markoprljic commented on #48
What do you recommend? I'm not an expert in SEO and was hoping you to suggest whatever we need to do now and make sure we continue doing that in the future.
Maybe a list of things that writers should be aware of when writing articles, sounds like a good idea. And also improving existing articles.

Open to hear your suggestions and ideas :)

[2021-03-03 11:48] iviangita opened #489 "Transparency WG Audit"
## 📋 Anything to add?

@Zeptimus @iviangita Transparency WG will do the first transparency audit and go through the Advice Process to see how it works in reality

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-03 11:50] Zeptimus commented on #331
Update: We gather feedback from Hatchers putreach, Gravity and Soft Gov. Thanks guys

[2021-03-03 11:50] #331 closed

[2021-03-03 12:07] rosamoc commented on #48
@markoprljic Steps of an SEO project
1. Keyword list (everyone should know it and keep it in mind before writing any content).
2. Optimize website
3. Adapt contents (social media, blog...) to this list. Yes, as you say, I can make a list of the most important things to do in each social network.
4. Google analytics / social media analytics.

Now we are still at point 1.

[2021-03-03 12:17] markoprljic commented on #48
Splendid! :)

I think this issue can be turned into an Epic now.

[2021-03-03 12:24] markoprljic commented on #48
I'm closing this issue now and creating new issues based on the list @rosamoc you pointed out above.

[2021-03-03 12:24] #48 closed

[2021-03-03 12:27] markoprljic opened #490 "SEO - Keyword list"
## 📋 Anything to add?

Submit the SEO keywords list.  **Everyone should know it and keep it in mind before writing any content.**

## ❓ Why is it important?

Increase SEO across channels.

## 🎉 Subtasks

- [x] Submit SEO keywords list
- [ ] Share with Stewards
- [ ] Make it accessible for content producers (writers)

## 🤼‍ Reviewer

@markoprljic

## 🔗 Work doc - inspirational links

[2021-03-03 12:43] markoprljic opened #491 "SEO - Adapt contents (social media, blog...) to SEO Keyword list"
## 📋 Anything to add?

Increase SEO on existing publications.

## 🎉 Subtasks

- [ ] Check the [SEO Keywords list ](https://github.com/TECommons/coordination/issues/490)
- [ ] Go through all existing content on Medium and Social media profiles and update where possible based on the defined SEO Keywords

## 🤼‍ Reviewer

@markoprljic @rosamoc

## 🔗 Work doc - inspirational links

SEO Keywords Issue h

[2021-03-03 12:46] markoprljic opened #492 "SEO - Set up Google analytics / Social media analytics"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-03 12:48] markoprljic commented on #492
@rosamoc I would need a bit more context and steps needed to complete this in order to assign more people (if needed).
When you find the time please let me know what the process looks like and what is required for each step in order to successfully set up analytics for channels and platforms. I'll update the issue description accordingly.

[2021-03-03 12:57] rosamoc commented on #492
@markoprljic Yes, for this it is needed:
- Open a google account and get the google analytics proprietary code to insert it in the plugin of the site
- I don't know if it would be interesting to set up a standard report with google data studio. You can link it with several external sources (hubspot, analytics, social media...) and thus have more accurate data.

[2021-03-03 14:48] knobsdao commented on #323
@markoprljic @rosamoc I'll be mindful of/watching the HubSpot. There's an option to add other team members - right now there's only the one tied to the TEC gmail but could add more if you want (this will also useful for comms to test email campaigns going forward, etc.).

[2021-03-03 17:07] jessicazartler commented on #491
I would prefer to ask a contributor to do this as my plate is full and now PMing Gitcoin Grants Round 9 for CS ecosystem

Perhaps Nate has bandwidth? Also onboarding/sending you a new contributor for Comms - Thank you!

[2021-03-03 17:16] rosamoc commented on #323
@markoprljic I have already made the modifications to the design

[2021-03-03 17:19] markoprljic commented on #491
Thanks @jessicazartler .

@natenatesoo would you be up for this?

[2021-03-03 17:20] markoprljic commented on #323
Perfect! Thank you very very very many much @rosamoc This issue is closed! Yeeeeeee! :)

[2021-03-03 17:20] #323 closed

[2021-03-03 17:25] markoprljic commented on #459
Decided! We're using the tweeter planning sheet from @iviangita https://docs.google.com/spreadsheets/d/1TEag2jkNqgpFX9oqsqHZ_cQc6UboggIb6Rxctly15fU/edit?usp=sharing

There's a tab called SUBMIT YOUR CONTENT where anyone can submit content they want to be published on twitter.

[2021-03-03 17:25] #459 closed

[2021-03-03 18:37] JuankBell commented on #253
Reviewed and approved! https://docs.google.com/document/d/1voxAC_XZfbElTF8NRDTrB4Kaz3Js2J9ShvHx5FsUcdA/edit

[2021-03-03 18:37] #253 closed

[2021-03-03 18:39] JuankBell commented on #232
Reviewed and moving this info into the gitbook! https://docs.google.com/document/d/1S5EoWbsFt3uQ5Wj6yyUJKyApFyjCQ-EloZAr6W55N3U/edit#

[2021-03-03 18:39] #232 closed

[2021-03-03 18:40] JuankBell commented on #251
Reviewed and moving into the Gitbook: https://docs.google.com/document/d/1S5EoWbsFt3uQ5Wj6yyUJKyApFyjCQ-EloZAr6W55N3U/edit#

[2021-03-03 18:40] #251 closed

[2021-03-03 18:47] #386 closed

[2021-03-03 18:47] JuankBell commented on #386
done! https://forum.tecommons.org/t/scale-of-conflicts-graduated-sanction-guideline/234

[2021-03-03 19:17] natenatesoo commented on #491
Yeah, I can help with this! I am almost done with the FAQ gitbook page, and once its done, I will work on the SEO for content.  Do I have access to all relevant information?

[2021-03-03 21:45] jessicazartler commented on #294
https://medium.com/token-engineering-commons/wielding-promethean-fire-the-importance-of-te-public-goods-9afba0ce5a43

Moving to distribution

[2021-03-03 21:46] #294 closed

[2021-03-03 22:52] tamarandom commented on #294
It's beautiful!

[2021-03-04 09:20] #385 closed

[2021-03-04 09:20] tamarandom commented on #385
Excellent work, all! Closing this for this Sprint. A new one will be created for next sprint!

[2021-03-04 09:42] tamarandom opened #493 "Tamara / Hatch Outreach (see Epic for details)"
**Sprint 6**
Sharing updates in the comments section!

**Sprint 5**
- [x] Tannr  - mtg planned
- [x] Federico - mtg planned
- [x] Fabian - mtg planned
- [x] Amin
- [x] Wesley - mtg planned
- [x] Angela - mtg planned

[2021-03-04 09:42] tamarandom opened #494 "Eduardo / Hatch Outreach <-- Campaign for people that haven't activated their TS"

[2021-03-04 09:42] tamarandom opened #495 "Jake / Hatch Outreach (see Epic for details)"

[2021-03-04 09:42] tamarandom opened #496 "Livia / Hatch Outreach (see Epic for details)"
- [ ] Jorge (Juanka's brother)

[2021-03-04 09:45] tamarandom commented on #395
Great work @natenatesoo and @eduardovegap !! Closing!

[2021-03-04 10:56] markoprljic commented on #492
@Zeptimus You can access gmail? Do we have Google Analytics installed? We would need to do that for the website. Would you be up to setting this up so that Rosa can add it to our website?

[2021-03-04 11:26] geleeroyale commented on #319
Yes - did those bridges. Sorry, forgot to mention it here. If anything needs to change just ping me :)

[2021-03-04 11:27] Zeptimus commented on #492
I'll need to sync with jess for the 2FA since i restarted my computer, never used google analytics before but i can try give me the weekend and ill give an update :)

[2021-03-04 11:34] markoprljic commented on #492
Re: setting up GA, first we want to get the code to implement on the site. When you log in to Google and go to Analytics you'll be able to create new site and generate GA code.  https://support.google.com/analytics/answer/1008015?hl=en

Setting up funnels and all that stuff can be done at later stage, and maybe we do want someone with more experience to take on this? @rosamoc Would you be up to ta

[2021-03-04 11:40] markoprljic commented on #418
Updated FAQ doc https://docs.google.com/document/d/16UI-EfD4qcwBaAv3Eexlv01SOK7oiDt4gkVT5rEY6X4/edit#heading=h.t62y5prlm779

Hatch TL;DR for potential hatchers https://docs.google.com/document/d/1Ji2vV5c_PCXt2q0G-1wTddyOaUp5ESKWht2UKcoE7S0/edit

[2021-03-04 11:43] markoprljic commented on #310
@jessicazartler Do we want to ask Mount Manu (recently joined Discord) if he'd like to contribute to video editing?

[2021-03-04 11:44] markoprljic commented on #149
@freedumbs00 So I've been having a discussion with Jeff in this issue https://github.com/TECommons/Token-Log-Hatch-Params/issues/56#issuecomment-790034354 and he hacked on your doc here https://docs.google.com/document/d/1rNE37FvYxkNSbIRvYXTQlOReJzXExUq_IDYv4Oem4NE/edit

Let me know if this helps.

[2021-03-04 11:45] markoprljic commented on #490
@eduardovegap or @rosamoc Can you please share the SEO keywords list you have? Thanks.

[2021-03-04 11:49] markoprljic commented on #491
Thanks @natenatesoo :)

Right now we have the SEO keywords (waiting for the list to be uploaded to the corresponding issue). Once that is up you could start working on it. The task would be to go through all existing content on Medium and Social media profiles and update where possible / needed based on the defined SEO Keywords.

I'll tag this for the next sprint and we can discuss it further. Tha

[2021-03-04 11:54] rosamoc commented on #492
@markoprljic  Yes I can do it! To start I would need the GA code, if you give me access to the google analytics account (with my email) I configure everything myself, both the web and all other tracking tools.

[2021-03-04 11:56] rosamoc commented on #490
@markoprljic @eduardovegap Yes, We have the first list but I have to make an excel with the most searched words based on this first list. When I have it, I will send it to you.
Or do you need this first list that I haven't reviewed yet?

[2021-03-04 11:58] markoprljic commented on #492
You made my day! Thanks @rosamoc :)
Best would be to sync with @Zeptimus so he can add you to Google account with your email address.

@Zeptimus When you can please, can you DM Rosa (or the other way around) to add her as a user to our GA?

[2021-03-04 11:59] markoprljic commented on #490
No rush, whenever you have that list ready, it's for the next sprint.
Also, @natenatesoo will be updating articles, social media etc. based on that list.

[2021-03-04 12:00] rosamoc commented on #491
@markoprljic @natenatesoo I have to make a document with the SEO recommendations to do in each social network and on the website. I am also elaborating the list of keywords. To do the SEO you have enough with the list or you also need the document with the recommendations?

[2021-03-04 12:03] markoprljic commented on #491
Recommendations would be extremely useful, yes.

[2021-03-04 12:04] rosamoc commented on #491
OK

[2021-03-04 13:52] tamarandom commented on #220
Update : In draft & going through reviews now.

[2021-03-04 13:54] tamarandom commented on #195
Update : Done! The updates are in the body of issue!

[2021-03-04 13:56] tamarandom commented on #441
Done!

[2021-03-04 13:59] tamarandom commented on #156
Hey @LinuxIsCool - I'm going to close this issue. You've got it way under control outside of our Sprints. 🙏🏼

[2021-03-04 14:04] cranders1 commented on #220
Published, just not yet pushed through socials yet. Ivy forthcoming.
https://medium.com/token-engineering-commons/co-laborations-the-great-discord-migration-params-params-params-459c70bd686b

[2021-03-04 14:15] freedumbs00 commented on #149
@markoprljic    This has now been taken care of by @divine-comedian with his TL/DR for the Hatch.  I don't think that original doc. will even be used for anything now.   As this was for a rough draft and Mitch has ready for publication I'm closing this issue.

[2021-03-04 14:15] #149 closed

[2021-03-04 14:27] freedumbs00 commented on #495
Where is this epic?

[2021-03-04 14:32] eduardovegap commented on #490
thanks @rosamoc <3

[2021-03-04 15:58] tamarandom commented on #495
https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/207

Though it bears mentioning that Epics are a Zenhub feature. So you will not see it directly on github.com. 🙏🏼

[2021-03-04 16:10] tamarandom commented on #220
Nice!

[2021-03-04 16:28] tamarandom commented on #211
@ataberkcasur @liviade1 @GriffGreen , this is closed now, right? Now it's just a matter of formatting it into the pdf. Can we close this one this Sprint?

[2021-03-04 16:30] ataberkcasur commented on #211
@tamarandom correct. We just need to grind on the visuals and that's it.

[2021-03-04 16:32] tamarandom commented on #397
@markoprljic The process is to close them. It's much more satisfying to close! And we see more accurately what has been closed this sprint and what hasn't that way.

When we prep the Sprint board for Sprint Planning all #repeating tasks are pulled back in.

[2021-03-04 16:33] tamarandom commented on #277
Hey @eduardovegap After our session today and the Hatch Outreach Epic, this one we close for good, yeah?

[2021-03-04 16:33] #277 closed

[2021-03-04 16:35] tamarandom commented on #446
Hey @eduardovegap ! We have a weekly time on our calendars and you had the first one! Yay. Closing this out!

[2021-03-04 16:35] #446 closed

[2021-03-04 16:43] markoprljic commented on #397
Noted!

[2021-03-04 17:05] #242 closed

[2021-03-04 17:32] jessicazartler commented on #461
@markoprljic just remembered YouTube! Reopening until we confirm --- @Zeptimus @iviangita can we go through and change all the links in YouTube across the board? Or have you done this already? Thank you!

[2021-03-04 17:53] iviangita commented on #461
@jessicazartler I’ve updated this already in the settings so the videos this week have the new link, but I haven’t updated the link in the old videos yet

[2021-03-04 18:07] markoprljic opened #497 "Make an open list of TEngineers and TE projects to pass around"
## 📋 Anything to add?

Make a list of TEngineers and TE projects. Find people and projects all over the internet, telegram, discord, social media.
Where to find people and projects:

- The cadCad group (@cadCAD_org for telegram)
- TE academy group
- The commonstack telegram
- BlockScience

## ⏰ Urgency/Due Date/Blockers?

The sooner the better.

## ❓ Why is it important?

We need this to reach out

[2021-03-04 18:32] jessicazartler commented on #397
I scheduled a recurring calendar invite for Fridays 3:30pm EST - I usually check with Griff and see what time is good for him and coordinate

[2021-03-04 18:41] Zeptimus commented on #492
awesome! ill sync with her

[2021-03-04 19:06] jessicazartler commented on #149
Just to bring some context - there is the work that is being done for TEC - which is kind of like the Alpha of the dashboard -- this will be iterated on/documented/refined/used for the rest of the ecosystem when the Commons Stack takes forward further documentation and potential network collaborations to iterate on these designs. Right now, this was built specifically for our use case, but the tem

[2021-03-04 19:09] jessicazartler commented on #310
Sure, that would be great :D right now is the interview collection then planning to get on a call to discuss producing/editing

[2021-03-04 19:46] eduardovegap commented on #404
Done! Thanks @GriffGreen and @freedumbs00 for the support on this.

[2021-03-04 19:46] #404 closed

[2021-03-04 20:56] mount-manu commented on #497
I claim this @markoprljic, would you please assign it to me?

[2021-03-05 01:15] natenatesoo commented on #491
So, it is my understanding that a Keywords List has already been made.  This is just to evaluate and update the Keywords List and apply them to our Blog Posts/Social Media Channels. If this is correct, can we append this issue with the Keyword List/Intent document?  Also, Do we have any Search Analytics tools available?

[2021-03-05 05:20] markoprljic commented on #497
Thanks @mount-manu this is great!

@freedumbs00 @liviade1 Tagging you here for assistance and instructions on how Manu should proceed with this, what is the deliverable of this issue and what are the next steps after completion? Please let us know and I'll update the issue description.

Thanks!

[2021-03-05 05:29] markoprljic commented on #310
@mount-manu Is taking this issue, waiting for [interviews](https://github.com/TECommons/coordination/issues/309) and [storyboard](https://github.com/tecommons/coordination/issues/391) to be sent.

[2021-03-05 05:33] markoprljic commented on #491
That is correct @natenatesoo Once @rosamoc finishes the final editing of SEO Keywords and recommendations doc she will provide it to you and update the [linked issue ](https://github.com/TECommons/coordination/issues/490)in the description of this one.

The analytics tool is being set up by @rosamoc as well. We use Google Analytics. If you want to be added to the GA account please send @Zeptimus y

[2021-03-05 05:51] freedumbs00 commented on #497
The TEC Lab calls on Fridays are full of the right people.  The cadCad group and TE academy.  @cadCAD_org for telegram.  The commonstack telegram has quite a few.  Anyone with BlockScience

[2021-03-05 06:16] markoprljic commented on #149
Thanks @jessicazartler
For the Param Glossary let's go on with [Jeff's doc. ](https://docs.google.com/document/d/1rNE37FvYxkNSbIRvYXTQlOReJzXExUq_IDYv4Oem4NE/edit)

[2021-03-05 10:29] tamarandom commented on #30
@cranders1 @liviade1 Cool. There seems to be no reason to then leave it in out backlog. The cred part falls under different issues related to the Source Cred launch.

Closing! ;)

[2021-03-05 10:29] #30 closed

[2021-03-05 10:30] tamarandom commented on #268
Hey @eduardovegap ! I took care of this. There may be a few more to catch and we can continually update that xls, but we can close this issue now.

[2021-03-05 10:30] #268 closed

[2021-03-05 10:30] tamarandom commented on #487
Woo woo done!

[2021-03-05 10:30] #487 closed

[2021-03-05 11:17] Zeptimus commented on #491
@rosamoc She should have full access by now if there's anything else i can help let me know :)

[2021-03-05 11:20] rosamoc commented on #491
@Zeptimus I have access as an editor, yes  but I can not see the "GA Tracking ID", please could you send me this information? For now I only need this. Thank you!

[2021-03-05 11:21] markoprljic commented on #461
@iviangita Once you do that please close the issue. Thanks.

[2021-03-05 11:22] #384 closed

[2021-03-05 11:40] markoprljic commented on #411
I think this has been added to Discord to rules-must-check channel. @Zeptimus I believe you can close it.

[2021-03-05 13:13] tamarandom opened #498 "Hatch outreach : Organize the recommended people / contacts to reach out to"
## 📋 Anything to add?

They've been dropped into the Curate xls but need to be organized.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 13:21] freedumbs00 commented on #373
This is becoming a "How to video" on How to Propose TEC Hatch Dao Params

[2021-03-05 13:24] tamarandom commented on #484
hey @liviade1 @JuankBell does it make sense for Soft Gov to take on the Roles and Permission as they are related to Ostrom's principle on boundaries?

[2021-03-05 13:42] Zeptimus commented on #411
Yes sry, Close!

[2021-03-05 13:42] #411 closed

[2021-03-05 13:43] tamarandom commented on #193
@Santigs The talks have been had. Fortunately, I was able to sit on in a few of them. Closing this issue.

[2021-03-05 13:43] #193 closed

[2021-03-05 13:44] tamarandom commented on #197
Hey @markoprljic - Are we ok to close this?

[2021-03-05 13:45] #216 closed

[2021-03-05 13:45] tamarandom commented on #216
Hey @liviade1 - Closing!

[2021-03-05 13:47] #447 closed

[2021-03-05 13:57] #424 closed

[2021-03-05 13:57] #408 closed

[2021-03-05 13:58] markoprljic commented on #197
The pleasure is all yours :)

[2021-03-05 14:02] freedumbs00 commented on #64
Just a thought but we could make this a fun meme/video with lego people and breakdown the process and share it in almost a little story like way.

[2021-03-05 14:23] tamarandom commented on #452
Opened #496 as a place to list all individual Hatch Outreach per Sprint.

[2021-03-05 14:23] #452 closed

[2021-03-05 14:24] tamarandom commented on #484
Hey @JuankBell - Confirmed with @liviade1 that this can be taken on by Soft Gov.

[2021-03-05 14:40] markoprljic commented on #64
Yes, I think @eduardovegap was considering hiring someone to create a video for this BUT now we also have @mount-manu who could be interested in supporting this issue.

[2021-03-05 14:45] GriffGreen opened #499 "Discord onboarding has really bad metrics :-( need to improve the process"
## 📋 Anything to add?

I think ~25 people out of 80 people who are in the hello world channel made got stuck right there. That is over 30% failure rate!!!

## ⏰ Urgency/Due Date/Blockers?

This is pretty critical...

## ❓ Why is it important?

First impressions are very very important

## 🎉 Subtasks

- [x] Look at where the failures are happening
- [x] determine options for making it easier (e.g.

[2021-03-05 15:22] JuankBell commented on #484
Yes! until now the initial criteria I have been thinking to apply to distribute roles is this:

- To receive praise: people must check the rules and have the role of verified CC
- To give praise, admins must give the role of praise giver.
- Make all Stewards TEC Team,
- Community moderators are people with activities related to the Discord/forum/Working groups maintenance.
- Admins: Griff (project

[2021-03-05 15:56] tamarandom commented on #197
🤗

[2021-03-05 15:56] #197 closed

[2021-03-05 15:59] tamarandom commented on #211
Hey @ataberkcasur Cool. And that's being tracked in
https://github.com/commons-stack/iteration0/issues/574#issuecomment-790922827
So I will close this on.

GREAT WORK, Ata!

[2021-03-05 16:01] tamarandom commented on #204
Closing this Epic! All the issues are closed! Woot.

[2021-03-05 16:01] #204 closed

[2021-03-05 16:02] tamarandom opened #500 "Bring new members into the Hatcher Outreach team"
## 📋 Anything to add?

Train the trainers.

Who would like to volunteer?
Get them to be 2nds on upcoming Hatch Outreach calls.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 16:03] tamarandom commented on #163
Closing this Epic! All the issues are closed! Woot!

[2021-03-05 16:03] #163 closed

[2021-03-05 16:08] Zeptimus commented on #330
Close, https://docs.google.com/spreadsheets/d/1P2hbPZwdNHRfKXjz6_3iJss2e2-0KeojTu8QPuLb19s/edit#gid=236417183

[2021-03-05 16:08] Zeptimus commented on #330
Close, https://docs.google.com/spreadsheets/d/1P2hbPZwdNHRfKXjz6_3iJss2e2-0KeojTu8QPuLb19s/edit#gid=236417183

[2021-03-05 16:08] #330 closed

[2021-03-05 16:09] tamarandom opened #501 "Create a lightweight process to track and support new contributors"
## 📋 Anything to add?

Doesn't have to be fancy but a shared xls that we add new people to could be a start.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 16:17] Zeptimus opened #502 "Update the transparency roadmap"
## 📋 Anything to add?
@iviangita

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 16:33] jessicazartler commented on #310
I am setting up a call to sync with him and discuss next steps.. interviews are ongoing and we aim to finish them all by end next week

[2021-03-05 16:40] jessicazartler commented on #149
Thank you, sounds good!

(Wanted to file Jake's docs as there is a lot of good stuff in there to be integrated - wanted to have them all in one place for reference as we will build this into a piece at some point)

Huge thanks to @Jeff-Emmett for that work!

[2021-03-05 16:42] jessicazartler commented on #461
@markoprljic we didn't discuss @JuankBell are we going to delete working group voice channels from TE Discord as they are no longer being used and people may get confused? We could leave general and simulations since they are being used but delete TEC working groups.. What do you all think is the best flow for this?

Angela with TE said she is okay with whatever we decide.

[2021-03-05 16:46] markoprljic commented on #461
Delete.

[2021-03-05 16:48] tamarandom opened #503 "Hatch Outreach 1-1 - follow-up message"
## 📋 Anything to add?

This was @Jeff-Emmett's suggestion.

Craft a follow-up message to send after the Hatcher Outreach session with FAQ, Next steps, roadmap, links... this kind of thing.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 16:55] tamarandom commented on #427
Closing! We can have another hack sesh is needed.

[2021-03-05 16:55] #427 closed

[2021-03-05 17:01] tamarandom commented on #461
+1

[2021-03-05 17:11] tamarandom commented on #486
Closing! Thanks @divine-comedian looks great!

[2021-03-05 17:11] #486 closed

[2021-03-05 17:11] freedumbs00 opened #504 "Publish the Tl/DR by Mitch"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 17:13] freedumbs00 opened #505 "Designs for swag for TEC shop"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 17:20] #449 closed

[2021-03-05 17:20] #215 closed

[2021-03-05 17:20] tamarandom commented on #310
Update : Assigned to Mount Manu.

[2021-03-05 17:21] liviade1 opened #506 "onboard heater as a hatcher"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 17:26] liviade1 opened #507 "help onboard ygg as a hatcher"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 17:26] liviade1 opened #508 "Submit SourceCred proposal to start a committee"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 17:27] #508 closed

[2021-03-05 17:29] tamarandom commented on #396
@freedumbs00 You're AWESOME. Closing. ;)

[2021-03-05 17:29] #396 closed

[2021-03-05 17:32] tamarandom opened #509 "Integrating all legal docs into Gitbook"
## 📋 Anything to add?

with @liviade1 and Shawn

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 17:35] tamarandom opened #510 "Data analysis for Source Cred & integration with Praise"
## 📋 Anything to add?

With @mateodaza and @santteegt

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## Advice process:
@liviade1

## 🔗 Work doc - inspirational links

[2021-03-05 17:38] tamarandom commented on #393
Done.

[2021-03-05 17:38] #393 closed

[2021-03-05 17:40] tamarandom opened #511 "Source Cred data review session"
## 📋 Anything to add?

Date TBD

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 17:43] JuankBell commented on #463
Super!!! i want to help with this!! :D

[2021-03-05 17:44] Zeptimus commented on #59
https://docs.google.com/document/d/1A-tJgOm8mUF6Fqq2MF6ukZyhChVmFF7uqKQ2feD-azs/edit

[2021-03-05 17:50] jessicazartler commented on #64
I was pulled off this issue to work on other things - I have a sync with Manu next week and could pull Jeff in to show what he has drawn out so far and see where Manu can take it.. those circle diagrams are missing a few things and hard to read - the miro board drawings are much more agent centric and easier to understand the context https://miro.com/app/board/o9J_krl8Cv0=/

@eduardovegap let me k

[2021-03-05 17:57] tamarandom opened #512 "Setup hack sesh for review of Gitbook - where does it need help?"
## 📋 Anything to add?

Create a list of areas where Gitbook needs filling, create Epic+ issues & assign them to contributors.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 18:10] tamarandom commented on #500
Update : @JuankBell and @cranders1 raise their hands!

[2021-03-05 18:32] tamarandom opened #513 "Discord : Get the Groove bot working on all the Voice Channels"
## 📋 Anything to add?

Please!? ;)

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-05 18:49] Vyvy-vi commented on #513
done-!
However, there is a _small_ catch.
Groovy can play music only in 1 channel at a time(*unless we pay premium to use it's secondary servers, ref: <https://groovy.bot/premium>)

We could however get secondary music bots, if needed :)

[2021-03-05 18:49] #513 closed

[2021-03-05 18:59] eduardovegap commented on #64
@markoprljic yes! we can meet with @mount-manu to see posibilities, let me know when you guys are available, i started working with Mitch on a script for the visuals, this diagram will be much helpful,

[2021-03-05 19:00] Vyvy-vi commented on #499
:/ Yes, very bad onboarding metrics
The current process-
-> Captcha bot -> Emoji reaction in [#rules](https://discord.com/channels/810180621930070088/810183289863798815)

The following problems seem to arrise-
1- People don't get go to the #rules channel:
Possible fix: Make the process more clear. Set up a bot that welcomes the user and pings them/dms them in #hello-world with instructions on how-

[2021-03-05 19:18] Vyvy-vi commented on #484
I have put the role restrictions for this, now only TEC Team and Admins can see the Stewards channel :+1:

[2021-03-05 19:50] freedumbs00 commented on #380
Tokens minted and dispersed for the last two quants.

[2021-03-05 19:52] freedumbs00 commented on #504
Published and closed

[2021-03-05 19:52] #504 closed

[2021-03-05 22:09] jessicazartler commented on #149
Pulled from Hatch Outreach FAQ doc https://docs.google.com/document/d/16UI-EfD4qcwBaAv3Eexlv01SOK7oiDt4gkVT5rEY6X4/edit#

The following parameters will be voted on during the Hatching Process:

Support Required
Minimum Quorum
Vote Duration
Vote Buffer
Vote Execution Delay
TollGate Fee
Hatch Minimum Goal
Hatch Maximum Goal
Hatch Period
Hatch Exchange Rate
Hatch Tribute
Hatch Oracle Ratio
Maximum IH

[2021-03-05 22:42] #488 closed

[2021-03-05 22:42] jessicazartler commented on #488
I created this issue for myself after Eduardo requested my feedback and input. I have finished reviewing/commenting on these docs so I will close this task. (That FAQ is a beast! Great work!) There are other issues related to these pieces, this was my personal issue to make sure I make time for this to support Eduardo. Feel free to create or add to other issues. Tam and I have a sync as well on Mo

[2021-03-05 22:43] jessicazartler commented on #292
Deep diving into Celeste.. will ask @GriffGreen if I need support and will ask for his review when I get into the next phase of writing next week/sprint

[2021-03-05 22:47] jessicazartler commented on #64
Scheduled for Tuesday 10am EST / 4pm CET - meeting of the minds to sync on hatcher content - go team! Jeff/I will support the scaffolding then Mitch/Eduardo/Manu will run with it and create from there :D

[2021-03-05 22:51] jessicazartler commented on #461
Done.

[2021-03-05 22:54] jessicazartler commented on #163
This was a BEAST! Congratulations and great work to @krisjpi @knobsdao @cranders1 for their work on pushing through all the blockers and getting this done!! Thank you guys so much!!

[2021-03-06 08:34] Vyvy-vi commented on #499
Some data from the server-
| Joined server | Completed Captcha | Acknowledge CC | Interacted in Server |
| :-: | :-: | :-: | :-: |
| 95 | 80 | 56 | 25 |

[2021-03-06 09:07] markoprljic commented on #292
@jessicazartler confirmed on TG that she's taking this into the sprint.

[2021-03-06 09:09] #461 closed

[2021-03-06 20:14] divine-comedian commented on #470
Changed description in [Disputable Voting Parameters](https://forum.tecommons.org/t/disputable-voting-parameters-general-discussion/267/6) to reflect differences between Disputable Voting and Dandelion Voting in relation to Minimum Quorum

[2021-03-06 20:27] divine-comedian commented on #471
Altered the text a bit to emphasize the differences of Vote Duration between Dandelion Voting and Disputable Voting

[2021-03-06 20:30] divine-comedian commented on #474
combined parameters into one paragraph on [Disputable Voting Parameters](https://forum.tecommons.org/t/disputable-voting-parameters-general-discussion/267)

[2021-03-06 20:41] divine-comedian commented on #472
altered text a bit in[Vote Execution Delay]( https://forum.tecommons.org/t/vote-execution-delay-and-what-it-means/130) to distinguish dandelion voting - need some more clarity of disputable voting vote execution delay @GriffGreen .

Disputable Voting there is no rage quit because of the ABC right? So people can exit any time they want following what the 'sell curve' is and the decided exit tribute

[2021-03-06 20:45] divine-comedian opened #514 "Standardize Parameter Names on the Forum"
As per this document - https://docs.google.com/spreadsheets/d/1NBizA4mbj4iFuTkcfg3M1Q7v-9exhMcja8u2BshV5V8/edit#gid=0
standardize the use of parameters names across all forum posts.

[2021-03-06 22:26] freedumbs00 commented on #470
Great job Mitch.  Closing this issue.

[2021-03-06 22:26] #470 closed

[2021-03-06 22:26] freedumbs00 commented on #471
aaahhh yeah..   closing issue.

[2021-03-06 22:26] #471 closed

[2021-03-07 21:02] freedumbs00 commented on #474
Thanks Mitch.  Closing issue

[2021-03-07 21:02] #474 closed

[2021-03-07 21:04] freedumbs00 commented on #472
You're right.  There is no "Rage Quit" once the curve is launched.   The dandelion is the only instance it can be acted.

[2021-03-07 22:07] divine-comedian commented on #468
This is the current working doc for the undisputed disputable blogposts - https://docs.google.com/document/d/1__kysKxgqtArILNc-1bJ6i8Oxq_ogrq7NEg1ZGS8hx8/edit?usp=sharing

agreement parameters are still in the works
Please add content, review and suggest edits!

@GriffGreen

[2021-03-08 12:59] freedumbs00 commented on #315
@GriffGreen   We currently only have one person with access to the hosted servers on Digital Ocean.  The problem is Discourse will not allow you to do anything through the app itself.  Everything has to be maintained through the Linux servers on Digital.  Only Kay has access to that.  If we want anything done in the future for anything backend it's completely reliant on that.

[2021-03-08 13:02] freedumbs00 commented on #477
I'm assigning @divine-comedian.  We are not ready yet but you can prepare.  I will be adding you to more of these for the Upgrade.

[2021-03-08 13:10] freedumbs00 commented on #507
@liviade1   Juan and I onboarded YGG.  He recorded it and posted on our youtube channel for a case use.  Juan also took fantastic notes and submitted them in the google doc.   https://docs.google.com/document/d/1Vja9gRNE06RTOTjKWws4uFc06jWlpYFiK3dowWozBbI/edit#

https://www.youtube.com/watch?v=Cn0KnqzOB7M.   This the part A

https://youtu.be/fyGTQdO1DQc.   Part B

[2021-03-08 13:10] #507 closed

[2021-03-08 13:19] markoprljic commented on #376
@liviade1 Would you be interested to get help from @divine-comedian on writing and updating the documentation of our TEC Gitbook?
Also, @divine-comedian please look around https://app.gitbook.com/invite/token-engineering-commons?invite=-MRe_ELNPr23yao7rvcs and let us know if you have ideas where you could contribute.

Thanks.

[2021-03-08 13:27] markoprljic commented on #309
@jessicazartler Just checking in to see if you managed to coordinate with @Zeptimus on assisting with interviews and what's the progress status? Thanks.

[2021-03-08 13:54] Zeptimus commented on #309
Hey marko all the progress its being added on this doc https://docs.google.com/document/d/1RSzWsn24IFFlik6yjmEAtZb4-HM9Cgf_WE8cJljOGKU/edit

[2021-03-08 14:12] markoprljic commented on #309
Do you guys think we can set up calls for the remaining interviewees this week? @Zeptimus @eduardovegap @jessicazartler

[2021-03-08 15:40] freedumbs00 opened #515 "Find someone else for the backend of Discord to help"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-08 15:41] freedumbs00 commented on #515
@JuankBell   What we had talked about in the call.   I'll move forward on this

[2021-03-08 15:43] freedumbs00 commented on #280
@LinuxIsCool  My Man!!!   This is it..   A..... B.... C....

[2021-03-08 16:10] divine-comedian commented on #473
https://docs.google.com/document/d/1__kysKxgqtArILNc-1bJ6i8Oxq_ogrq7NEg1ZGS8hx8/edit?usp=sharing

[2021-03-08 16:10] divine-comedian commented on #472
https://docs.google.com/document/d/1__kysKxgqtArILNc-1bJ6i8Oxq_ogrq7NEg1ZGS8hx8/edit?usp=sharing

[2021-03-08 19:34] jessicazartler commented on #346
Dup #198  closing

[2021-03-08 19:34] #346 closed

[2021-03-08 19:36] jessicazartler commented on #309
Yes, goal is to get them done by end of the week.. how you going Zepti & Eduardo?

[2021-03-08 19:41] Zeptimus commented on #309
I have all exept Jess and Livi defenitly can do it by this week. I think i could do also Sem since i can sneak on his agenda

[2021-03-08 19:46] markoprljic commented on #309
You can do with me @Zeptimus unless someone else already got assigned 😊

[2021-03-08 19:50] Zeptimus commented on #309
Edu got you assigned but if there is any bandwith problems contact me i would love to do it :D

[2021-03-08 20:01] jessicazartler commented on #309
My bandwidth is very low this week just to let you know, I have taken on 3 intvws and that's prob all I can do this week - thanks guys for supporting! Also maybe we can check with stewards about anyone else they feel is important to be in the video -- 15-20 is MORE than enough as we want to keep the video not too long and also - someone has to edit all these! haha thanks guys

[2021-03-08 22:37] GriffGreen commented on #395
I'm still working on this! Major break thru on the Trusted Seed framing that I want to get out:

Main point: The Trusted Seed is all we need to talk about... to be a member of the Trusted Seed you have to join the Legal entity... and we really don't have to talk about the Commons Stack Association... thats like the Trusted Seed's Slave Name.

[2021-03-09 00:50] natenatesoo commented on #395
Lol.  Sounds good! I'll work on rephrasing some of the answers that omit the Trusted Seeds government name.  Also, what is the best vehicle for this FAQ?  Will we have a website going up, or should we try to incorporate it within the TEC Handbook?  Blog Post?

[2021-03-09 10:12] Vyvy-vi commented on #499
Some suggestions from @markoprljic on improving the process:
https://discord.com/channels/810180621930070088/810180622165213218/818003788438568991

[2021-03-09 13:47] markoprljic commented on #309
I went ahead and interviewed myself :D Sending the recording to @jessicazartler Anyone else I should send it?

[2021-03-09 14:01] iviangita commented on #463
@JuankBell that's great, your help is very much welcome! Here's the [link](https://docs.google.com/document/d/1toVjBhD78RZHxyjOxQGI26eKGkpjDIzQ9ZKZ6xsuWG0/edit#) to my working doc, I'll ping you for more details :)

[2021-03-09 15:21] tamarandom commented on #484
Hi @Vyvy-vi ! The Stewards channel should be open to all to see/post as it's one of the Working Groups and practicing transparency along with others.

@JuankBell The conversation around a separate communication channel for Stewards' communications of a more private nature would be separate from the public WG channel.

[2021-03-09 16:24] jessicazartler commented on #391
Dup #377

[2021-03-09 16:24] #391 closed

[2021-03-09 17:26] freedumbs00 commented on #515
Was not informed of everyone actually involved.  Closing issue.

[2021-03-09 17:26] #515 closed

[2021-03-09 17:38] markoprljic opened #516 "Distribute Mitch's new content piece"
## 📋 Anything to add?

https://forum.tecommons.org/t/the-hatch-tl-dr/272

Get into the praise quant blog.
Sharing in various channels in our ecosystem, Jess has a distribution list.

## 🤼‍ Reviewer

@markoprljic

[2021-03-09 17:40] markoprljic commented on #516
@iviangita Is this something for you?

@jessicazartler Can you share your approach, distribution list, strategy etc?

[2021-03-09 18:09] jessicazartler commented on #309
Nope thanks Marko! Got it in my folder - very nice!!!! Thank you :D

[2021-03-09 18:12] freedumbs00 commented on #469
Reviewed.  Closing issue

[2021-03-09 18:13] freedumbs00 commented on #514
Great to have your contribution Mitch. Closing issue.

[2021-03-09 18:13] #514 closed

[2021-03-09 18:17] jessicazartler commented on #516
The piece must be appropriate for the channel and the message should not be spammy, something tailored to the group that is why people in that group would care. Would also be great to have different people taking on different channels to post so not all comes from one person.

Here are the main channels - this can be built out -  but again, depends on the piece. We could also have sharing template

[2021-03-09 18:42] jessicazartler opened #517 "Review/feedback on Shermin's TEC blog"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@Jeff-Emmett @tamarandom

## 🔗 Work doc - inspirational links
https://docs.google.com/document/d/1g6JNGcXeUOm31SY56TSP1d2uzO4GXM-ke3OzMkHmGBM/edit?usp=sharing

[2021-03-09 20:36] Vyvy-vi commented on #484
@tamarandom The restrictions have been removed :+1:

[2021-03-09 22:43] eduardovegap commented on #419
https://docs.google.com/document/d/1tsEPNb-gLEh9FKOGLBPt0prfWrOwjmnnjtPdCpy8lxo/edit

Currently work in progress document for this piece.

[2021-03-09 22:45] eduardovegap commented on #64
@jessicazartler shall we work on this issue for this diagram visuals? Can we assign Mitch and Manu to this one? or shall we create a new one?

[2021-03-09 22:47] jessicazartler commented on #64
Go for it - you can use this one

[2021-03-10 06:53] markoprljic opened #518 "5 Steps TEC Hatch"
## 📋 Anything to add?

High Level Simplified piece on the hatch for "busy Token Engineer audience"
Medium/forum post with graphic/visual (egg diagram)

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@jessicazartler

## 🔗 Work doc - inspirational links
https://docs.google.com/document/d/1Ji2vV5c_PCXt2q0G-1wTddyOaUp5ESKWht2UKcoE7S0/edit

[2021-03-10 06:54] markoprljic commented on #518
@jessicazartler Here's the issue. Can you update the description and provide more context on design needs? Thanks.

[2021-03-10 07:12] markoprljic commented on #499
@Vyvy-vi

Discord onboarding ideas from weekly comms call:

- Start-here channel (basic info, what do you want to know/learn about TEC, list of WG’s and one liner for each)
- BOT that sends a greeting for every new channel user joins and links to pinned message (pinned messages must be informative)
- Griff’s suggestion of the flow
- Forum channel? Bridged forum posts
- DM Bot to send a list of con

[2021-03-10 07:14] markoprljic commented on #309
Update from comms call:

- All materials will be completed this week
- @mount-manu will take it from there, cut all clips and suggest the creative direction (storyboard)
- no blockers to complete it this sprint

[2021-03-10 07:15] markoprljic commented on #418
Hatcher Campaign Content https://docs.google.com/document/d/1uwklhfJyGKoiVSC3yQTRL4y-Az_QaLOx3nWGctVeDCg/edit

[2021-03-10 11:01] Vyvy-vi commented on #499
I suppose we could set up a custom discord bot for the walkthrough of the server.
What do y'all prefer to work with: js, python or ruby?

(Afaik, there aren't any bots currently out there that provide something similar to a custom walkthrough, but Ig making an onboarding bot should not be very complex)

[2021-03-10 13:03] rosamoc commented on #492
@markoprljic @Zeptimus Code has been added

[2021-03-10 13:06] rosamoc commented on #490
@markoprljic @eduardovegap I have already completed the list. The next step is to review it and complete it if necessary. It is an excel file, how do I send it to you?

[2021-03-10 13:08] #492 closed

[2021-03-10 13:16] rosamoc commented on #490
@markoprljic Ok here you are.
[TEC SEO.xlsx](https://github.com/TECommons/coordination/files/6116056/TEC.SEO.xlsx)

[2021-03-10 13:21] markoprljic commented on #491
@natenatesoo There has been an update for this issue. Rosa has submitted the[ SEO keywords list](https://github.com/TECommons/coordination/issues/490#issuecomment-795400021), you can take it from here. Let me know when you start working on this.

Thanks.

[2021-03-10 14:01] Jeff-Emmett commented on #64
I believe this issue was originally also for a visual of the TE Commons
"system flow", for which I also drew the below diagram. (This can
definitely wait until the hatch diagrams are done.)

I think diagrams like the one below (can be found on the same TEC Miro
board) will be helpful for people to understand the actions available to
participants in the TEC, when TEC comms moves on to explain how t

[2021-03-10 16:37] tamarandom commented on #500
so did @iviangita !

[2021-03-10 16:44] tamarandom opened #519 "update TEC roadmap"
## 📋 Anything to add?

Code freeze should be the indication to update the commons swarm section of the TEC Roadmap.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-10 17:21] eduardovegap commented on #152
Closing it down, any update, please let us now @cranders1

[2021-03-10 17:21] #152 closed

[2021-03-10 17:22] eduardovegap commented on #356
Griff contacted, lets send them documents.

[2021-03-10 17:32] tamarandom commented on #503
Hey ! Here is the message that I've been using! (at the bottom) https://docs.google.com/document/d/1DcUsEQ0XpHhCsA97c0HZhX2RofOaTEzLTE-51PGlWFs/edit#

[2021-03-10 17:34] tamarandom commented on #418
Update : Eduardo's latest : https://docs.google.com/document/d/1tsEPNb-gLEh9FKOGLBPt0prfWrOwjmnnjtPdCpy8lxo/edit

[2021-03-10 18:44] JuankBell commented on #463
Wow Ivy! I hadn't seen this! great work!

[2021-03-10 20:41] jessicazartler commented on #518
Added doc/note @eduardovegap is taking this forward thanks!

[2021-03-11 08:13] mount-manu commented on #368
I'm all over this, please assign @markoprljic

[2021-03-11 08:16] mount-manu commented on #364
This _also_ looks appetizing @markoprljic, please assign

[2021-03-11 10:39] mount-manu commented on #364
Here's a reference of similar work by the same video producer I'll leverage for this task:
https://user-images.githubusercontent.com/55956086/110774035-fa9ca180-8222-11eb-9435-ff4cacb5acbf.mp4

[2021-03-11 11:05] markoprljic commented on #368
Oh, thanks for sniffing around and reminding me to close this epic! :D :D :D

[2021-03-11 11:05] #368 closed

[2021-03-11 11:07] #360 closed

[2021-03-11 11:07] #361 closed

[2021-03-11 11:08] #359 closed

[2021-03-11 11:08] #167 closed

[2021-03-11 11:08] #362 closed

[2021-03-11 11:08] #367 closed

[2021-03-11 11:08] #363 closed

[2021-03-11 11:10] markoprljic commented on #364
Yeah! Looking good @mount-manu I'll keep this epic open and add any video related issues here.

[2021-03-11 11:48] tamarandom commented on #439
Hey @eduardovegap Everyone on the Outreach Team has their own issue assigned where they can track the people they are contacting and the "single source of truth" is the Curate. We can close this issue as it's out of date almost as soon as it was created.

[2021-03-11 11:57] eduardovegap commented on #439
@tamarandom noted and closed.

[2021-03-11 11:57] #439 closed

[2021-03-11 13:40] Zeptimus commented on #463
@JuankBell I loop you here, We only want 1 member assigned following the accountability practice, we talked before, also wanna have a good score on the audit ha-ha :p thanks you so much buddy you are the best! :D

[2021-03-11 13:40] Zeptimus commented on #312
@Zeptimus

[2021-03-11 13:52] tamarandom opened #520 "Github / change org name "tecommons" to something else"
## 📋 Anything to add?

This is a requirement for legal association who is *not* about to protect the TEC directly (because it is launching itself) but *only* the individual members. So this name will not work.

Possibility : Cultural Build or Commons Culture Build

The clean-up for this may be messy. Make a plan.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [

[2021-03-11 14:33] JuankBell commented on #208
In dialogue we trust! :D

![Captura de Pantalla 2021-03-11 a la(s) 9.32.01 a. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/17fb04c3-6487-4fcc-bb28-9a8e1078c546)

[2021-03-11 14:33] #208 closed

[2021-03-11 17:09] jessicazartler commented on #362
@markoprljic let us know when it's up & we can move to promote it :D Thank you so much for all your hard work!

[2021-03-11 17:19] markoprljic commented on #362
Oh good that you reminded me. We need to deploy on our domain!

@rosamoc is this something you can do? We want to release the website 😊

[2021-03-12 09:42] rosamoc commented on #362
@markoprljic Done!! Website online!!

[2021-03-12 11:01] markoprljic opened #521 "TEC Website Bug Fixes and Updates"
Epic for TEC website updates and bug fixes. When creating new issues make sure to add them to this epic.

[2021-03-12 11:21] tamarandom opened #522 "tecommons.org buggy rendering on iphone"
## 📋 Anything to add?

Screenshot :

![photo_2021-03-12_10-59-59.jpg](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/ec7dfbc7-9c11-4d97-a3b7-6538a04ab834)

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-12 11:54] tamarandom commented on #506
Done! Closing this for you @liviade1 !

[2021-03-12 11:54] #506 closed

[2021-03-12 14:45] jessicazartler commented on #362
Awesome @rosamoc !!!!! AMAZING WORK!!! Thank you so much!

Just a few things @markoprljic :

1. The Discord link at the bottom is broken - change to https://discord.gg/VSD3fbCn
 2. You can delete the period at the end of the tagline, taglines don't usually have periods
 3. I would delete the Linkedin, it's not a main channel and not active, we could add it back later
 4. I don't think all the CTAs

[2021-03-12 15:00] rosamoc commented on #362
@jessicazartler @markoprljic Points 1, 2 and 3 done! For point 4 could you tell me exactly which URLs they are? Thank you!

[2021-03-14 18:34] Zeptimus commented on #426
Done! :D

[2021-03-15 10:27] Zeptimus commented on #59
Close: https://forum.tecommons.org/t/mutual-accountability-methods/286

[2021-03-15 10:27] #59 closed

[2021-03-15 14:19] Zeptimus commented on #502
Close: updated on manifesto.

[2021-03-15 14:19] #502 closed

[2021-03-16 15:18] #324 closed

[2021-03-16 15:20] markoprljic commented on #309
**Current status**

TO INTERVIEW:
Livia Deschermayer, TEC Steward (zepti)
Jessica Zartler, TEC Steward (zepti)
Sem Brestels (paulo)
Craig (edu)
Nate (edu)
Jeff Emmett, Token Engineering Researcher (jess) scheduled
Michael Zargham, Token Engineer (jess) scheduling for weekend

[2021-03-16 15:20] #490 closed

[2021-03-16 17:44] markoprljic commented on #220
@jessicazartler Can you paste the link to the doc here and @cranders1 can distribute it?
Thanks.

[2021-03-16 17:49] markoprljic opened #523 "Content Distribution Process"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-16 18:25] freedumbs00 opened #524 "Making voting with TokenLog for Soft Gov"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-16 19:25] Zeptimus commented on #309
Update:livi already done, Jess its going to self interview, and sem its super busy with the hatch (he is not at home)

[2021-03-16 21:05] jessicazartler commented on #220
Craig is writing and has link once he's finished

[2021-03-17 07:25] iviangita commented on #195
Hi @eduardovegap @jessicazartler! Who will be the speaker this week Mar 18? :D

[2021-03-17 12:10] markoprljic opened #525 "DISTRIBUTION - How to Become a Hatcher"
## 📋 Anything to add?

Eduardos peice needs distribution.
https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/418

## 🤼‍ Reviewer

@eduardovegap

## 🔗 Work doc - inspirational links
https://docs.google.com/document/d/1tsEPNb-gLEh9FKOGLBPt0prfWrOwjmnnjtPdCpy8lxo/edit

[2021-03-17 12:10] markoprljic commented on #525
cc/ @eduardovegap

[2021-03-17 13:10] tamarandom commented on #525
Hey @markoprljic My opinion is that this piece is not ready for distribution. Has someone else already signed off on it? Can we please hold off until we have a process in place which includes reviewing and approving prior to distribution.

As @jessicazartler takes on leading partnerships and ecosystem among her other crucial tasks, we will need to put into place the process for content distributio

[2021-03-17 13:38] jessicazartler commented on #195
I forget, @eduardovegap did Dacade/Electric Circus go together or was Dacade still to go? I don't have anyone else lined up.. do you? Thank you so much for the reminder @iviangita!

[2021-03-17 15:03] markoprljic opened #526 "Hubspot integration in Wordpress not working"
## 📋 Anything to add?

Subscribing to emails on the website is not sending records to Hubspot account. @knobsdao looked it up on HubSpot, yet the info isn't there. Are the emails being recorded elsewhere? Ideally, we want them to go straight to Hbubspot but a spreadsheet is good enough for Dan to make the data sync.

[2021-03-17 15:09] cranders1 commented on #220
https://medium.com/token-engineering-commons/the-tec-presents-dashboards-gitbooks-grants-festivals-d050b1fe640e

[2021-03-17 18:14] JuankBell commented on #255
https://forum.tecommons.org/t/monitoring-proposals/154 <- Discussion initiated here

& also we have been discussing about this on the soft gov agenda & notes :D
https://docs.google.com/document/d/1R8yLfht6GvGHr8VDvyZ-sVP1s54rPLY4MtXPBOqHtO0/edit#

To consolidate in the TEC Handbook
https://token-engineering-commons.gitbook.io/tec-handbook/

[2021-03-17 18:45] tamarandom opened #527 "Incubator"
## 📋 Anything to add?

(Livia will update details)

Incubator channel and role
Process & concept

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-17 18:47] #270 closed

[2021-03-17 18:49] liviade1 commented on #484
Hi @Vyvy-vi is it possible to have a role that lasts a certain period of time? Like a month?
So new members could be assigned with a "incubator" role?
I created this incubator chat under onboarding to help with new members

[2021-03-17 18:52] liviade1 commented on #484
My thought is that we don't need a TEC Team role, but just incubator, stewards, contributors, subject matter experts and praise givers.
I'm happy to chat about this too!

[2021-03-17 18:56] kristoferlund commented on #526
👍 Great, I'll have a look.

[2021-03-18 12:02] tamarandom commented on #519
The miro board is updated but still pending official (and imminent!) code freeze.

[2021-03-18 12:08] tamarandom commented on #493
The session with Stefaan will have to be next Sprint, or beyond, but was able to find a common time with all the rest for this sprint.

[2021-03-18 12:26] JuankBell commented on #445
As there was no previous criteria to frame the situation within the org, involved parts had a subjective point of view that made it difficult to build a bridge or reach an agreement, that is why the approach taken was to listen and document future actions for each part to prevent this from happening again.

Relations between Gravity and Metagame members were built, and the suggestion we have made

[2021-03-18 12:26] #445 closed

[2021-03-18 14:40] tamarandom commented on #195
Done for this week! Let brainstorming for next week begin!

[2021-03-18 15:24] tamarandom commented on #498
HUGE progress on this. We are tracking to the curate list. The missing piece here is adding to that list after every session. That's an operational improvement we will have to incorporate into the process.

[2021-03-18 15:24] #498 closed

[2021-03-18 15:25] tamarandom commented on #221
Thinking about how to make this better. I feel like I have not touted strong enough the actions we bring into every sprint. Somehow encouraging those actions along the two weeks we have them. I plan to do that better next Sprint. Hold me to it, folks.

[2021-03-18 15:27] tamarandom commented on #481
Our main dev on this has been highly focused on a project he's getting off the ground and the gitcoin grant process. We should be able to finish this in the next Sprint though.

[2021-03-18 16:47] #156 closed

[2021-03-18 16:49] tamarandom commented on #503
The message at the bottom of the script doc is good. Modify and personalize as necessary. There are also a list on useful links that you may want to include in the follow-up messages. Depending on how your conversation goes. 🙏🏼

Closing this issue!

[2021-03-18 16:49] #503 closed

[2021-03-18 16:54] tamarandom commented on #397
Awesome! @jessicazartler as it's not a recurring in the cal, may I close this issue for good?

[2021-03-18 16:55] tamarandom commented on #220
@cranders1 ! Awesome article & you can close this issue every sprint! (As long as it's tagged #repeating, we will bring it back into the next Sprint automatically)

[2021-03-18 17:04] #376 closed

[2021-03-18 17:17] Vyvy-vi commented on #484
We could have such a role.
By certain period of time, is it that after a month or something, the role gets removed from the people, who were assigned it OR does it rely on the role being deleted altogether from the server?

I think both of the above can be set up. (However, I am not sure if any of the existing bots handle that. If needed, we could set up a new one)

[2021-03-18 17:48] freedumbs00 commented on #397
@tamarandom Griff has now just started scheduling the party at what time works for him each week.  I am going to close this for everyone.  Yah!!

[2021-03-18 18:28] freedumbs00 commented on #380
Tokens minted and dispersed

[2021-03-18 18:56] jessicazartler commented on #220
@cranders1 just checking - did you send to @iviangita to do the Tweet already - do you already do this every time? Thank you, looks awesome!!

[2021-03-18 18:56] tamarandom commented on #222
Hey @GriffGreen - Is there any action left on this issue? I'm thinking it can be closed.

[2021-03-18 18:58] tamarandom commented on #381
Hey @liviade1 - it looks like beyond updating this, is should be moved to gitbook, right?

[2021-03-18 19:03] freedumbs00 commented on #505
Should I submit those ideas for designs here or in the Telegram channel for the Swag shop?

[2021-03-18 19:56] tamarandom commented on #397
Excellent!

[2021-03-18 20:09] tamarandom commented on #220
@jessicazartler The blog post is already in the schedule for every other Friday. @cranders1 and I were chatting about whether we should move it to Wed (or Tues, if that's not too tight a schedule) though.

[2021-03-19 06:54] tamarandom commented on #395
Update : Magic happening here  https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/hatch-101/welcome-hatchers

[2021-03-19 06:56] tamarandom commented on #500
Closing!

We've had the training session with Juan Carlos, Ivy and Craig.
Those of us scheduling new session, please remember to pull in our new Hatch Team members!

[2021-03-19 06:56] #500 closed

[2021-03-19 06:58] tamarandom commented on #351
@liviade1 I'd like to have a convo with the Disco group, can I take this one on this Sprint with your support and knowledge transfer?

[2021-03-19 08:18] tamarandom commented on #505
@freedumbs00 The shop ;)

[2021-03-19 09:56] tamarandom commented on #373
@freedumbs00 Nice! Do we pull this into the next Sprint?

[2021-03-19 09:58] tamarandom commented on #194
Hey @JuankBell - @liviade1 and I have penned the

Community Stewards WG manifesto

[2021-03-19 10:02] tamarandom commented on #138
Hey @JuankBell - Does this issue still need to be open?

[2021-03-19 10:14] tamarandom commented on #305
Hey @krisjpi @markoprljic - Going to close this out now.

There is a separate issue, #499, to review the discord onboarding journey to achieve a higher success rate. That one will take into account the need for spam-bot preventative measures.

[2021-03-19 10:14] #305 closed

[2021-03-19 10:19] tamarandom commented on #522
hey @markoprljic - This happens on all 3 browsers on my iPhone :  Safari, FF and Tor.

[2021-03-19 10:25] tamarandom commented on #516
@natenatesoo @jessicazartler -

By TEC News blog, does that mean Medium? (https://tecommons.medium.com). In theory we can post to medium without it having to also be part of the bi-weekly blog post. That's why I ask.

Plus, more!
[ ] TEC Forum
[ ] TEC Gitbook

[2021-03-19 10:28] Zeptimus commented on #489
Update: https://forum.tecommons.org/t/transparency-wg-audit/290

[2021-03-19 10:28] #489 closed

[2021-03-19 10:31] tamarandom commented on #192
Hey @mateodaza @Santigs This has been done. Nice work. Closing this issue!

[2021-03-19 10:31] #192 closed

[2021-03-19 10:36] tamarandom commented on #8
Hey @jessicazartler @markoprljic Reading the description and thinking, that's Clubhouse. 😂

[2021-03-19 10:37] tamarandom commented on #18
Hey @liviade1 - would you mind dropping an update in here.

[2021-03-19 10:39] tamarandom commented on #467
The Labs is not a Working Group. It's an educational initiative.

Closing!

[2021-03-19 10:39] #467 closed

[2021-03-19 10:41] tamarandom commented on #234
@liviade1 @Santigs  Is this one ready to close or do we pull it into the next Sprint?

[2021-03-19 10:58] tamarandom commented on #11
Hey @jessicazartler We mean once the TEC token is live, right? So after the Commons Upgrade.

[2021-03-19 11:06] markoprljic commented on #522
Assigning this to @kristoferlund Hopefully he can fix this. Kristofer, what do you think?

[2021-03-19 11:10] #325 closed

[2021-03-19 11:14] markoprljic commented on #480
@freedumbs00 You meant to record a video walkthrough on using the Hatch Dashboard? If so, you think you can do this in the coming sprint?

[2021-03-19 11:35] markoprljic commented on #148
I think we said ther won't be any content needed here. Closing it.

[2021-03-19 11:35] #148 closed

[2021-03-19 12:34] tamarandom commented on #148
For the video part, I don't see any reason not to keep an issue open "for contributors". @sembrestels was really keen on the idea of having this and while it should not block the Hatch it would be a "nice to have" if someone in the community wants to champion it. I wouldn't be surprised if @mount-manu was interested.

The scope does not have to be a big production.

For the rest of the content of

[2021-03-19 12:38] markoprljic commented on #148
I think this issue relates to the content that goes below the video in the screenshot above.

[2021-03-19 13:00] tamarandom commented on #148
I did too, at first. Then I thought it probably is the content for that entire front page. Unless we already have an issue open for that?

For the video : any reason **not** to leave this issue open "for contributors" so if there is someone in the community that wants to champion it, they can?

[2021-03-19 13:12] tamarandom commented on #444
These last bits have been resolved. Closing.

[2021-03-19 13:12] #444 closed

[2021-03-19 13:16] markoprljic commented on #148
In any case, it needs a clear task description in order for anyone to start working in it.

[2021-03-19 13:32] liviade1 commented on #57
all the agreements are now on github so this proposal will happen in the next sprint

[2021-03-19 13:35] #22 closed

[2021-03-19 13:48] freedumbs00 commented on #479
We got everything.  Closing issue

[2021-03-19 13:48] #479 closed

[2021-03-19 13:49] freedumbs00 commented on #373
Yeah

[2021-03-19 13:50] freedumbs00 commented on #480
Yes

[2021-03-19 14:17] Santigs commented on #37
After talking with the users responsible for SourceCred in the 1Hive community, they suggested not to touch the parameters of the edges from the graph, only play with the Nodes. Touching any edge affects the whole graph.
They suggested only set to zero the emoticons if we are not using them.

I also had a meeting with Santiago to define the dashboard we will have to show the information to the com

[2021-03-19 14:27] markoprljic commented on #523
@natenatesoo You want to look at the repo I created specifically for content distribution and check the flow in columns https://github.com/tecommons/content-distribution#workspaces/content-production-and-distribution-60549332d7d741001bbea827/board?repos=349409011 Let me know what you think.

[2021-03-19 14:52] Zeptimus opened #528 "Paramms Audit"
## 📋 Anything to add?
@iviangita @freedumbs00

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 14:53] Zeptimus opened #529 "Legal audit"
## 📋 Anything to add?
@iviangita @Santigs

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 15:04] tamarandom opened #530 "Hatch Swag / create domain name & server setup"
Will fill out the details and sync with Kay on this one.

[2021-03-19 15:04] tamarandom opened #531 "Hatch Swag / dshop frontened on rinkeby network"
Will update and sync with Ludo on this one.

[2021-03-19 15:04] tamarandom opened #532 "Hatch Swag / new token"

[2021-03-19 15:04] tamarandom opened #533 "Hatch Swag / design THE Hatch t-shirt and Hat (or other products?)"

[2021-03-19 15:05] tamarandom opened #534 "Hatch Swag / doc the process to later hand off"

[2021-03-19 15:22] GriffGreen opened #535 "Create a proposal for Mission Vision Values"
## 📋 Anything to add?

This is here for contributors. Who knows?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 15:29] GriffGreen opened #536 "Griff to create a proposal for Mission Vision Values (#535 - for me!)"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 15:47] mount-manu commented on #148
Unsurprisingly, I _am_ interested in committing to this. And yes, I'd appreciate a clear task description (and, if applicable, an expected date of completion so that I can prioritize this accordingly among the other video production tasks I'm already working on).

[2021-03-19 15:49] markoprljic commented on #148
Great!
@jessicazartler can you please provide descriptive instructions for this issue and reopen it?

Thanks.

[2021-03-19 16:14] jessicazartler commented on #148
Yes, @markoprljic it was intended for the content that goes below the video in the screenshot above. I was looking for some guidance from @sembrestels for if and when we still need this - I would imagine we at least need a review of that content. I will write a brief description and we just need to check with Sem where this is at @tamarandom - thanks guys!

[2021-03-19 17:07] liviade1 commented on #484
Ah, that's not a big, only if it was easy :)
It would still be nice to have the incubator role tho so stewards can know who are the new people that might need help with onboarding.

[2021-03-19 17:08] GriffGreen opened #537 "Validate the Dashboard with the Newest Deployment of the TEC Hatch DAO"
## 📋 Anything to add?

@marthendalnunes is on this with @sembrestels

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 17:09] GriffGreen opened #538 "FREEEEEZE THE GOD DAMN HATCH!!"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 17:11] #234 closed

[2021-03-19 17:13] GriffGreen opened #539 "Determine the ability to use the Open Price instead of the Reserve Ratio"
## 📋 Anything to add?

@sembrestels we need to chat about this ;-)

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 17:14] markoprljic commented on #140
Hey @mount-manu I know you're already overloaded with work here but I thought maybe you had someone who could help us with this issue? Let me know please.

[2021-03-19 17:15] liviade1 opened #540 "Moving CV proposals to Advice Process"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 17:15] JuankBell commented on #463
Made a suggestion to publish the 1st gen graviton list as an appendix of the article :D

[2021-03-19 17:17] markoprljic commented on #140
Maybe @freedumbs00 ? :)
Thought we could find some cool icon library that would fit the badges list on the forum? Thinking out loud.

[2021-03-19 17:21] liviade1 opened #541 "create a proposal for mission vision values"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 17:25] tamarandom commented on #419
Update : @griff doing final edit before passing.

[2021-03-19 17:30] GriffGreen opened #542 "Find the part of Cryptosnews talk where Griff talks about Token Engineering and link it and put it in the Twitter content list"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@chuygarcia92

## 🔗 Work doc - inspirational links

[2021-03-19 17:30] tamarandom commented on #418
Update : Issue #419 tracking review and distribution. Closing this now.

[2021-03-19 17:31] JuankBell opened #543 "Prepare Gravity presentation for Metafest"
## 📋 Anything to add?

Make a selection of the Graviton training slides https://docs.google.com/presentation/d/15UvsnS9oX5czAKIGHZUqJLhrORpPebWsZeCqmUz9BUE/edit#slide=id.gb55e79f42e_0_114

to present in the Metafest

Wednesday 24th march, 1pm EST-7pm CET

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational l

[2021-03-19 17:31] GriffGreen opened #544 "Find the part of Griff's Metafest talk where Griff talks about Token Engineering and link it and put it in the Twitter content list"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 17:34] #516 closed

[2021-03-19 17:34] eduardovegap commented on #497
@mount-manu check https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=0 this is our curated original list that we are using for onboarding hatchers, in case you wanna use it as reference.

[2021-03-19 17:35] mount-manu commented on #140
We need designs for all accomplishments in all sections ('Getting Started', 'Community', 'Posting', and 'Trust Level') and not just the ones that are star-shaped, correct?

[2021-03-19 17:39] mount-manu commented on #497
Awesome! Will incorporate it into the one I've been working on, thanks for the heads up

[2021-03-19 17:39] tamarandom commented on #464
Update : tp be updated after Hatch params but that can be new issue. Closing.

[2021-03-19 17:39] #464 closed

[2021-03-19 17:43] liviade1 commented on #243
https://github.com/aragon/aragon-wiki/blob/e4f9648b7ab7dc5992d908539ebd976854442941/docs/association/legal/CLA.md @Santigs @GriffGreen

[2021-03-19 17:43] JuankBell opened #545 "Gravity - 1hive outreach"
## 📋 Anything to add?

Chuy mentioned there has been some disturbances during pollen distribution in 1hive, it would be good to assign a graviton to approach and follow the issue.

## ❓ Why is it important?

- Help related organization to promote wellbeing in their communities
- Develop relations between Gravity and other organizations
- Practice our methodology to test it, receive feedback and de

[2021-03-19 17:43] tamarandom opened #546 "Start work on Praise / source cred distribution terms"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 17:44] tamarandom opened #547 "Continue work on Proposal terms"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 17:54] markoprljic commented on #309
@Zeptimus @jessicazartler @PJColombo @eduardovegap I'm seeing just a couple of interviews to be done. Wanted to let you know that Manu is being blocked by this to complete his issue on video editing. Would be great if we can get these done and passed over to him early next week. What do you think?

[2021-03-19 17:56] markoprljic commented on #140
I assume all of them, yes. Keep in mind this is a low priority issue but we can start thinking about it already :)

[2021-03-19 18:00] JuankBell commented on #194
Make a forum post to explain the step by step offboarding process & include an offboarding possibility in the Gravity Typeform https://the-commons-stack.typeform.com/to/rCVsK5RK

[2021-03-19 18:00] tamarandom commented on #395
Update : Closing.

[2021-03-19 18:00] #395 closed

[2021-03-19 18:02] eduardovegap opened #548 "Keeping FAQ Updated"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 18:06] tamarandom opened #549 "Champion of Proposals"
## 📋 Anything to add?

Define the next steps for gaining momentum for requesting proposals.
Open Epic/ Issues to track them!

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 18:14] tamarandom commented on #285
Update : for after the proposals are sumbitted.

[2021-03-19 18:20] GriffGreen opened #550 "IHT Token Audit"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-19 18:43] kristoferlund commented on #526
I'm pretty sure I solved it, have a look at the topmost row below. Someone with access to hubspot please verify. @knobsdao?

![image](https://user-images.githubusercontent.com/9698363/111828144-225acc00-88eb-11eb-8b2a-f392a2e2ba33.png)

[2021-03-19 21:00] knobsdao commented on #526
Yeah! Solved! Just found your entry and tried with my own email. All good.

[2021-03-19 21:07] #526 closed

[2021-03-19 21:08] mount-manu commented on #309
To clarify, I have the interviews from:

1. Angela
2. Eduardo
3. Griff
4. Jake
5. Lívia
6. Tamara
7. YGG
8. Marko
9. Santi
10. Sebnem
11. Simon
and 12. Zeptimus

Who's missing?

[2021-03-19 21:14] Zeptimus commented on #309
I believe I also send durgadas ivy and Juan if you don't have them poke me and I re-send them to you, if u ask me Jess sem and more TE must be there 👯

[2021-03-19 21:45] mount-manu commented on #309
Correct, my bad, I've updated the bespoke list: I've 15 interviews.

[2021-03-19 22:14] kristoferlund commented on #522
Now better. Still not 100% though, what do you think? Wordpress + the graphical editor (Elementor) makes it rather difficult to fine tune the looks for different screen sizes.

![screenshot_20210319-230657](https://user-images.githubusercontent.com/9698363/111846971-2f39e880-8908-11eb-957a-066ae252278e.png)

[2021-03-20 06:18] markoprljic commented on #522
@tamarandom Can you do another test and let us know if it's better?

[2021-03-20 09:40] tamarandom commented on #522
Thanks @markoprljic - I did see @kristoferlund's update. ;) But my response is not a simple yes/no answer so I did not reply straight away. Let me share it now. This surfaces a larger question and here's my POV on it:

It all comes down to how we much we value a web2 presence for the TEC and, from there, to determine how much effort we want to invest in that direction. If the answer to that questi

[2021-03-20 09:52] markoprljic commented on #522
Thanks for the extensive review and feedback @tamarandom I completely agree with you on all points and I'm very much aware of the issues. Being limited with resources at this stage I was satisfied with what we currently have, even if not perfect.
Next step would be fixing mobile views (possibly within the WP Elementor settings), and after that IF we can (and I pray we do) build our own front-end t

[2021-03-20 13:00] tamarandom commented on #522
You got it, @markoprljic. Your designs are rockstar⚡⚡⚡ , the mobile render constraints of WP do not allow them their full justice.

Closing!