[2021-10-01 17:15] acidlazzer opened #975 "Animated TEC Discord icon"
## 👇🏽  What is this issue about? Give as much detail as you can.
This can help to add more personality to the discord server and take advantage of the tools provided by the plataform.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. TEC discord server icon is animated
2. People like it
3. It´s cool :D

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Proce

[2021-10-01 17:30] #687 closed

[2021-10-01 17:30] #796 closed

[2021-10-01 18:50] tamarandom commented on #921
Hey @chuygarcia92 - Can we hold off on promoting this until Soft Gov has a chance to look it over again.
cc: @liviade1

There are some things that are off, example, CV is not signaling.

 https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/governance/cultural-layer-and-tools/conviction-voting-signaling

[2021-10-01 18:51] tamarandom commented on #921
Another example, we probably need to take out. This is not accurate: https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/governance/fund-allocation-layer-and-tools/discord-emoji-voting-and-telegram-bots

[2021-10-01 18:51] tamarandom commented on #921
Closing this issue for now. Will reopen if/when needed.

[2021-10-01 18:51] #921 closed, assigned to chuygarcia92

[2021-10-01 20:30] saunic commented on #958
### **Action Plan (so far)**
Remember that this is just the first iteration and this process can be repeated once first iteration of dashboard is released. For each session mentioned below, the collab boards will be posted beforehand (as pre-work) so that people can start entering their ideas async, to save time on the call.

From here on, I will be using these terms:
M1 = members who are availabl

[2021-10-02 10:48] ghost commented on #958
This project has potential to become the heart of the community.  Full support from me.

[2021-10-03 05:47] AL0YSI0US commented on #899
## ♿ Accessibility Support 👉🏾 [ MIRO BOARD ](https://miro.com/app/board/o9J_ltXbQjU=/?invite_link_id=274288856770)

-REVIEWED
✅ Mission
✅ Community
✅ Ecosystem
✅ Get Involved

![image](https://user-images.githubusercontent.com/75811965/135741066-11415205-c9bb-4ee1-9d2e-4c66ebb1a460.png)

## Errors
**Mission**
+ Empty Link (x2)
+ Missing Alternative Text (x1)
+ Missing form label (x1)

**Community*

[2021-10-03 19:18] divine-comedian commented on #928
live on the forum!

https://forum.tecommons.org/t/outlining-the-rewards-system-process-v2/646

[2021-10-03 22:51] eduardovegap commented on #909
https://forum.tecommons.org/t/communitas-working-group/649 The post has been added.

[2021-10-03 22:51] #909 closed, assigned to eduardovegap

[2021-10-04 09:13] eduardovegap opened #976 "Update "Welcome to the TEC" section of the Forum"
## 👇🏽  What is this issue about? Give as much detail as you can.
The section of Welcome to the TEC, is outdated, with information before the Hatch.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Updated links and text
2. Probably have a timeline post.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this

[2021-10-04 19:13] saunic commented on #958
Based on the Communitas call, we could update the onboarding quest to start everyone off with an exploratory quest that helps them gain information about the community first, and pair them with an onboarding co-ordinator like a buddy system.

The onboarding co-ordinator's focus will be on making the new member feel safe to be able to ask them clarifying questions. Once the new member feels ready t

[2021-10-04 20:00] tamarandom opened #977 "Recording Communitas call"
## 👇🏽  What is this issue about? Give as much detail as you can.
There is a new time for the Communitas call. Is is not at 8pm CET every Monday.

@Zeptimus and @iviangita what's the best way to get this into a recording schedule> @eduardovegap mentioned he started the recording bot but .... did we do it right!? ;)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue d

[2021-10-04 20:06] Zeptimus commented on #977
yeah i checked it it didnt get well recorded, for next one i can just put my other cumputer on the meeting but ill be on common swarm (the real me haha :D)

[2021-10-05 03:51] Vyvy-vi commented on #953
I think moving to another platform might be the most feasible option...
Potential choices -
- Jitsi
- Zoom (free and used by everyone)
- NextCloud (self hosted)
- GoogleMeet (free and used by everyone)
- Wire (self hosted)
- Bevy (paid)
- Element (needs people to have element set up)

[2021-10-05 07:35] #932 closed, assigned to PabloCGL, hurek

[2021-10-05 07:35] #931 closed, assigned to kristoferlund

[2021-10-05 07:35] #930 closed, assigned to kristoferlund

[2021-10-05 07:36] AL0YSI0US commented on #958
This is all just Awesome!

I do a lot of metaphorical hand holding and mentoring in my travels, and am always pleased with the results.
I appreciate hearing words like on boarding, mentoring, guiding etc.
It was refreshing to make sense of this new working group I'm so stoked it exists!
I look forward to more of the communitas energy.

[2021-10-05 08:01] tamarandom opened #978 "Onboarding: Revisit/improve the survey bot questions"
## 👇🏽  What is this issue about? Give as much detail as you can.

The below is what we currently send:

Welcome to the TEC!

1- How would you like to be addressed? (Could be a name, nickname, handle, etc.). We would also love to welcome you to our communities on Twitter and Telegram, in case you want to drop your handles!

2- Where did you hear about the TEC? What brings you here?

All info is wel

[2021-10-05 14:27] iviangita commented on #948
Hey @amanwithwings I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2021-10-06 15:03] iviangita commented on #877
I submitted a pull request with @Vyvy-vi's help, he will test it before making it live :)

[2021-10-06 15:57] tamarandom opened #979 "Discord bot announce for the Orientation meeting on Wed at 6pm CET"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-06 16:07] tamarandom commented on #977
Ah, too bad. It was electric. Maybe it's time for you to get me recording too. 😆  I will be in this call for the coming number of weeks and can commit to doing the recordings (just need help knowing how!)

[2021-10-06 16:11] Zeptimus commented on #977
Yeah!!! lets have a quick call for setting up obs before next comunitas call let me know when is it a good. I feel late mornings should work very good for us since there is no many calls there :p

[2021-10-06 16:18] tamarandom opened #980 "Support Communitas WG"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-06 17:30] chuygarcia92 commented on #953
I'd also like to propose [Butter](app.butter.us) I think it has great tools that will help keeping each WG under a determined amount of time. Here's their Youtube channel with some demos:

https://www.youtube.com/channel/UCa0Ibbj5NXV9VKkRVAGPD8A

And as far as I know it's free to use :)

[2021-10-06 17:38] tamarandom commented on #835
Update: done

[2021-10-06 17:39] chuygarcia92 commented on #969
@acidlazzer will be supporting this issue

[2021-10-06 17:42] chuygarcia92 commented on #802
I feel this issue can be solved with the "Social Fridays" idea, where the TEC, Metagame and 1Hive will promote the same content inviting newcomers to the DAO space to engage with these 3 communities on Fridays.
I'll be working with Metagame's and 1Hive's Comms contributors to put this together hopefully for next week.

[2021-10-06 17:45] chuygarcia92 commented on #545
@JuankBell how would you feel about checking in around the beginning of November to see if we could post a funding proposal in 1Hive? We should have a clearer idea by then about the status of new Gravitons :)

[2021-10-06 18:35] tamarandom commented on #949
This is an example of the template that PrimeDAO uses: https://docs.google.com/document/d/135ZH2AByCU7cmXbG501Cu4Xl8LgMcJiHpb_-XzhNlzY/edit

[2021-10-07 04:03] mount-manu-zz commented on #364
Closing this; too general: if a particular video idea comes up, I'll open a specific issue for it.

[2021-10-07 07:05] Vyvy-vi commented on #953
That looks neat!
Maybe we can try this out?

[2021-10-07 08:05] tamarandom commented on #871
Hi @eduardovegap @iviangita I'm thinking we can close this issue now. Everyone that has been contacted is good enough. It's not the best use of time to chase people to order free swag. Sound good?

I'm looking at the list and most of these are not even builders. There are very few people that have really contributed to building the TEC up before the Hatch. It seems to me this is a good time to sto

[2021-10-07 11:29] iviangita opened #981 "Swag shop "Processing" error - HELP!"
## 👇🏽  What is this issue about? Give as much detail as you can.
People get stuck at the final final step of order submission in our [swag shop](https://swag.tecommons.org/#/checkout/payment), which is built on Origin Protocol. After clicking "Payment", it stops at "Processing" stage.

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/bf41d661-3821-4c50-a2e9-367a0cad7863)

[2021-10-07 11:57] kristoferlund opened #982 "Create and update period"
## Rules

![image](https://user-images.githubusercontent.com/9698363/136382117-1edc64d2-f2ed-4663-a7cf-6b509c664897.png)

[2021-10-07 12:16] kristoferlund opened #983 "Assign quantifiers"
## Rules

![image](https://user-images.githubusercontent.com/9698363/136383052-512f09f9-a2bb-4170-a432-c8982788ff9f.png)

[2021-10-07 12:23] kristoferlund commented on #983
@hurek and @PabloCGL, check the suggested formula for determining "min pool size". Does it work?

[2021-10-07 12:24] kristoferlund opened #984 "Close period"
## Rules

![image](https://user-images.githubusercontent.com/9698363/136383958-801e51a8-b328-4ec3-9532-d665e049a038.png)

[2021-10-07 12:51] kristoferlund opened #985 "Authentication layer unit tests"

[2021-10-07 12:53] kristoferlund opened #986 "Object model with relations"

[2021-10-07 12:56] kristoferlund opened #987 "Frontend authentication layer"

[2021-10-07 12:56] kristoferlund opened #988 "Login screen"

[2021-10-07 12:56] kristoferlund opened #989 "Firstpage / dashboard skeleton"

[2021-10-07 12:57] kristoferlund opened #990 "Page: Quant periods"

[2021-10-07 12:58] kristoferlund opened #991 "Page: Create period"

[2021-10-07 12:58] kristoferlund opened #992 "Page: Quant period details"

[2021-10-07 13:28] PabloCGL commented on #983
The formula makes sense to me, but the math in the examle is slightly off 😁

[2021-10-07 13:49] tamarandom opened #993 "Discord bots documentation"
## 👇🏽  What is this issue about? Give as much detail as you can.
documentation for the discord bots in @iviangita  infra/ops doc!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@iviangita

## 🔗  Are there

[2021-10-07 14:09] kristoferlund opened #994 "Set up Rewards Committee"
- [ ] Amend the old SourceCred proposal - suggested members etc
- [ ] Snapshot vote to ratify members

[2021-10-07 14:18] tamarandom opened #995 "Setup sesh.fyi on our Discord! // Testing Discord Events!"
## 👇🏽  What is this issue about? Give as much detail as you can.
The sesh bot is a took we can plug in to handle the event announcements much more easily.
https://sesh.fyi/

We can test it out and see if it works for us!

We might lost the image banner but this tool allows us to follow exact calendar events so that changes to the calendar (bi-weekly, for example) are automatically accounted for wi

[2021-10-07 14:19] tamarandom commented on #671
Closing this issue now! Thanks for everything @Vyvy-vi

[2021-10-07 14:20] kristoferlund opened #996 "Gitbook: Rules for Praise and Quantification"

[2021-10-07 14:20] kristoferlund opened #997 "Gitbook: TEC Rewards System Process"

[2021-10-07 14:22] kristoferlund opened #998 "Gitbook: Rules for Praise and Quantification"

[2021-10-07 14:24] kristoferlund opened #999 "Forum post: Rules for Praise"

[2021-10-07 14:32] kristoferlund opened #1000 "Fork meeting tracker bot and adapt for our needs"
## 👇🏽  What is this issue about? Give as much detail as you can.
Fork the Blueridger bot and adapt to fit out needs - https://github.com/blueridger/MeetingAttendanceDiscordBot

## How will it work?
This is the initial idea, exact functionality to be decided / discovered.
- Use a separate Discord channel (meeting tracker channel) for tracking meeting attendance
- Meeting facilitator activates bot b

[2021-10-07 14:41] kristoferlund opened #1001 "Twitter tracker bot based on Orbit"

[2021-10-07 15:57] tamarandom opened #1002 "Copy for T&C / Code of Conduct"
## 👇🏽  What is this issue about? Give as much detail as you can.
The Terms and Conditions for joining the server need to be confirmed.

They current copy is in the Onboarding journey frame in this miro board:
https://miro.com/app/board/o9J_lYcRTik=/

(related to #978, the issue to finalize the survey questions)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done

[2021-10-08 08:30] #996 closed, assigned to nobody

[2021-10-08 08:49] kristoferlund opened #1003 "Meeting tracker bot"
Fork the Blueridger bot and adapt to fit out needs.

https://github.com/blueridger/MeetingAttendanceDiscordBot

[2021-10-08 08:51] kristoferlund opened #1004 "Google Spreadsheet for token allocations"
Recalculate praise score and Source Cred grain to TEC allocations.

[2021-10-08 13:35] eduardovegap commented on #871
Noted! Closing the issue.

[2021-10-08 19:14] kristoferlund opened #1005 "Handle request error message - expired jwt token"

[2021-10-08 19:15] kristoferlund opened #1006 "Refreshing JWT tokens to prevent bad UX / unexpected user logout"

[2021-10-09 08:20] tamarandom opened #1007 "Promotion for the Book Club - visual design"
## 👇🏽  What is this issue about? Give as much detail as you can.
Hey @acidlazzer ! Would you be able to create a graphic to promote the Book Club?

The two people that have the details about it are:
witwiki#0518
Mettodo#7010

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Graphic that promoted the what, where and when for the Book Club Witwiki and Mettod

[2021-10-09 22:11] acidlazzer commented on #1007
Sure! I got this 👍

[2021-10-10 16:55] AL0YSI0US commented on #1001
Can I be present whenever someone's hacking at this?
I want to learn more about orbit / webhooks (if that's what's involved) deeply interested with fly on the wall energy. 🪰

[2021-10-10 18:38] eduardovegap commented on #955
This has been updated, the only thing left would be to verify if the bot announcement is running correctly @Vyvy-vi

[2021-10-10 23:19] eduardovegap commented on #949
I love that example @tamarandom, I think the only part that I added but still need rephrasing is the "how the propose guarantee results"

this is my active working document: https://docs.google.com/document/d/17R-9Ro-rPLWvRNG5gK-sJqnWSFhcICNeeaC-UOEqsYg/edit

[2021-10-11 08:40] tamarandom commented on #877
@GriffGreen do you know who has access to / manages the praise-bot on Telegram? @hurek gave feedback to @iviangita that he does not have access to the bot.

[2021-10-11 08:57] Vyvy-vi commented on #877
I think the bot on Telegram auto-deploys

[2021-10-11 10:30] tamarandom commented on #877
@Vyvy-vi hmmm... you happen to know where is the text stored?

[2021-10-11 11:12] kristoferlund commented on #1001
@Vyvy-vi will be looking into this after taking a stab at the meeting tracker bot.

[2021-10-11 13:38] kristoferlund opened #1008 "Pseudonym random generator dictionary"
## 👇🏽  What is this issue about?
We need a dictionary to be able to generate random pseudonyms used during quantification.

Either one long list, ideally 500 names or more.

Or even better, two shorter lists that can be combined, creating more possible and fun combinations.

## ✨  What does success look like?
1. One or two dictionary files in csv format

## Who should be part of the Advice Process

[2021-10-11 13:52] tamarandom commented on #981
Hi @iviangita ! Amin reached out to me as he has been unable to make a purchase from the shops for the last few days. Without someone that can fix this, we are going to need to take the shops down. ;(

I would propose throwing out a **call for help** on both the TEC and CS discord servers but in the mean time we should probably take these frontends down so that they are not wasting people's time.

[2021-10-11 13:54] Zeptimus opened #1009 "Discord and Forum Analytics"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-11 14:14] tamarandom commented on #977
Hey @Zeptimus @iviangita - I was not able to get OBS to either window or display capture on either my desktop or laptop today! Sorry but I think I am not going to be able to record the Communitas call today. The audio works fine, which can be a last resort option.

[2021-10-11 14:20] Zeptimus commented on #977
dw i got ur back 🤜🤛

[2021-10-11 19:00] tamarandom opened #1010 "Deploy Discord channels improvements"
## 👇🏽  What is this issue about? Give as much detail as you can.

@Vyvy-vi created this staging TEC discord server to try out the new channels. Once they are all validated we can deploy to the main TEC discord.

Gideon did all work in this thorough [TEC Discord Audit](https://docs.google.com/document/d/17ArOa1BikAk20Czf1vbmZjT_ll0OQSc9rUrdFm9SAGc/edit#heading=h.zcd1ybjkbzjb) and what we need now i

[2021-10-12 08:57] AL0YSI0US commented on #960
Not sure if its helpful to see any of the sourcecred bots but I thought I would drop them in here and let y'all decide.

+ SourceCred [Meeting attendance bot](https://github.com/blueridger/MeetingAttendanceDiscordBot) 🤖 - Thena is the magical being who created this bot.

bonus
+ [cred-voting-discord-bot](https://github.com/blueridger/cred-voting-discord-bot) - Thena made this one too

[2021-10-12 09:17] geleeroyale commented on #981
Are you sure? Of course I can take them down immediately

[2021-10-12 10:13] kristoferlund commented on #908
Eduardo, [11 Oct 2021 at 18:36:55]:
Description: The intention of this Working Group is to nurture, grow and guide the TEC community. The points of focus are new member orientation, current member community building, and organisational design: namely, guiding folks into the TEC and helping folks navigate the TEC from the inside.

Steward: eduardovegap#0422 + Tam2140#9361

Weekly call time: Monday'

[2021-10-12 14:05] kristoferlund opened #1011 "Quantification period, detail page"
## Layout
![image.png](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/360245d9-6b5d-4e03-9722-3fd5123aeb5a)

## Edit period name
![image.png](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/7a9768f8-0fe6-4d60-ab7b-02d47d5e22bb)

[2021-10-12 15:10] divine-comedian commented on #1008
here's a google sheet we can export in csv when it's ready -

https://docs.google.com/spreadsheets/d/1vGGenNyCzKl0Brhp_e4MFfCKryIfCV77cpwU-OvIiH8/edit?usp=sharing

[2021-10-12 18:59] tamarandom commented on #1007
Yay!! Think we can have something we can use to promote the book club before Thurs or Friday? The book club happens on Saturday. CC: @iviangita

[2021-10-12 19:01] acidlazzer commented on #1007
![55432634-7F4F-49B0-ACBC-034E151CF344](https://user-images.githubusercontent.com/84995397/137013844-45201633-0ee3-4295-9d0b-14d88b78460b.jpeg)
Approved by Mettodo :)

[2021-10-12 19:26] 0xGabi commented on #11
We started the communication with the DeepDAO team and we are working on a document to explain how to request the data for Gardens.

[2021-10-12 20:54] tamarandom commented on #979
Hey @Vyvy-vi ! While we are working on this. Another change to the call announcement bot:

The Steward agenda link is broken. This is the correct one: https://docs.google.com/document/d/1VQNgAThqMLaQrF21uoQabWelnyJKLtX-TbqOl8kVb0Q/

[2021-10-12 21:27] kristoferlund commented on #1008
I added an "adjective tab" and a rand formula to try out the combination.

Algorithm says for example:

[code]

[2021-10-12 22:11] tamarandom commented on #1007
Might I ask that we include an image of the book itself instead of the book emoji?

https://books.google.fr/books/about/The_Sovereign_Individual.html?id=WuQblPwwAjgC&printsec=frontcover&source=kp_read_button&hl=en&newbks=1&newbks_redir=1&redir_esc=y

[2021-10-13 00:48] acidlazzer commented on #1007
Updated :D
![book club3](https://user-images.githubusercontent.com/84995397/137048104-e579f832-97a6-4240-aa16-a6d51645e4ee.jpg)

[2021-10-13 04:42] tamarandom commented on #1007
Thanks @acidlazzer. Can you please send an editable file that I can make some
small changes to rather than asking you.

For example, “4am EST” certainly looks bizarre, right? Better we share the time zones that this club is intended to include!

I am happy to make those small changes myself.

[2021-10-13 07:09] kristoferlund commented on #960
Thanks! The first bot you mention is the one @Vyvy-vi is looking at.

[2021-10-13 08:05] tamarandom commented on #957
@eduardovegap and I drafted this: https://docs.google.com/document/d/1uAbihCPiVAEMerkmVwP77TMXENkKUmiIx5pSyZMLw8o/edit

It's still a work in progress but we are getting there!!

[2021-10-13 08:37] tamarandom commented on #981
@geleeroyale - We have found a glimmer of hope so let's hold off for another couple of days. But if this solution does not work, then, yes, we will have to take down all three of the shops.

[2021-10-13 08:57] tamarandom commented on #908
Added! Repurposed the logo from the Hatcher Outreach group.

![Screen Shot 2021-10-13 at 10 57 12 AM](https://user-images.githubusercontent.com/703624/137101244-7aa76e93-59a1-4596-a487-5200aed32854.png)

![Screen Shot 2021-10-13 at 10 56 34 AM](https://user-images.githubusercontent.com/703624/137101145-920bc33b-13e6-4963-ba67-5e592413692b.png)

[2021-10-13 08:57] #908 closed, assigned to tamarandom

[2021-10-13 08:58] tamarandom commented on #1009
Can we add analytics for Medium too??

[2021-10-13 09:00] tamarandom commented on #955
Hey @Vyvy-vi, I know you were looking at improving this bot to make it easier to edit. Just want to throw this on your radar fort this change before that's done!!

[2021-10-13 11:58] tamarandom commented on #1007
![book club2.jpg](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/6f6d6ffa-2e9b-45ef-bb18-48319231c94c)

Will check with Witwiki and @mettodo on this version. Closing now and THANKS for taking this on, @acidlazzer !!

[2021-10-13 11:58] #1007 closed, assigned to acidlazzer

[2021-10-13 12:08] Zeptimus commented on #1009
Medium its probably going to be cover by hubspot it feels its more like a comms issue like twitter annalytics. What do you think @chuygarcia92 ?

[2021-10-13 12:51] Zeptimus opened #1012 "Transparency survey"
## 👇🏽  What is this issue about? Give as much detail as you can.
Conduct a transparency survey in the community that will very useful to get more ideas on what should be included on the audit report.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. We make sure we dont miss important pices on the audit
2. The goal its to see thethoughts from  a mix betwee

[2021-10-13 17:52] chuygarcia92 commented on #11
This is the WIP document: https://hackmd.io/@1sBtuDmrRBG360k8-EXf2A/Hy2KqfJSY/edit

[2021-10-13 18:04] chuygarcia92 commented on #910
Update from @Zeptimus:
the TEC token would need to be transferable so it can be listed in a DEX that's recognized by coingecko like Honeyswap.. we'll be on standby for this one until the community has started debates around this parameter

[2021-10-14 11:08] kristoferlund commented on #942
[TEC - Rewards System.pdf](https://app.zenhub.com/files/306706322/38bb3539-8b9d-4181-a26c-9923c587de84/download)

![Praise _ Rewards System - TEC Reward System Process.jpeg](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/1b18dad7-5937-4a86-b255-40a1923727f4)

[2021-10-14 11:08] #942 closed, assigned to nobody

[2021-10-14 11:09] #928 closed, assigned to divine-comedian

[2021-10-14 11:09] #935 closed, assigned to nobody

[2021-10-14 11:17] kristoferlund opened #1013 "Nominate and vote for Rewards Committee members"
## 👇🏽  What is this issue about? Give as much detail as you can.
The Rewards Committee is responsible for a number of tasks in the Rewards System:
- Manage the Praise and SourceCred instances
- Set quantification parameters
- Request funds from the TEC
- Approves the token distribution and payout
and more.

Full description will be available in the TEC GitBook.

## ✨  What does success look like?

[2021-10-14 11:19] kristoferlund commented on #994
Duplicate of #1013, closing.

[2021-10-14 11:24] kristoferlund opened #1014 "Revisit reward committee proposal and propose changes"
## 👇🏽  What is this issue about? Give as much detail as you can.

Amend the SourceCred committee proposal and add new details regarding the Rewards Committee.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Proposal amended
2. Community approves changes

## Who should be part of the Advice Process? (People who should be consulted about this issue. Those

[2021-10-14 11:30] kristoferlund opened #1015 "Forum post: First quantification parameters"
## 👇🏽  What is this issue about? Give as much detail as you can.

Before first quant, post the quant parameters to the forum. Make this routine for future quants as well. When there are proposed changes, post these on the forum before activation.

- Budget allocations
  - How much of the period budget is allocated to contributors / quantifiers / rewards wg respectively?
  - How much of the contrib

[2021-10-14 11:37] kristoferlund opened #1016 "Funding request from the TEC Treasury/Common Pool"
## 👇🏽  What is this issue about? Give as much detail as you can.

Make initial funding request from the TEC Treasury/Common Pool with the value denominated in wxDAI, receive TEC or convert it to TEC after receipt in wxDAI.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Funds paid out to Rewards DAO

## Who should be part of the Advice Process? (People w

[2021-10-14 11:40] kristoferlund opened #1017 "Conduct first quant after Commons Upgrade!"
## 👇🏽  What is this issue about? Give as much detail as you can.

- [ ] Initiate praise quantification process
- [ ] ...  more info to come

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are ther

[2021-10-14 11:52] kristoferlund opened #1018 "Quantifier pool - list, add, remove"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-14 11:53] kristoferlund commented on #992
Duplicate of #1011, closing

[2021-10-14 11:53] #992 closed, assigned to kristoferlund

[2021-10-14 14:34] #877 closed

[2021-10-14 14:34] iviangita commented on #877
DONE! Thank you so much @Vyvy-vi @tamarandom for providing support in this issue 🙏🏽

**Discord**
![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/a39d7d51-d65b-4895-a8f3-d3403d49a56b)

**Telegram**
![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/2af4d228-b444-4ec2-9559-8048fded42b2)

[2021-10-14 17:02] tamarandom opened #1019 "Retrospective action: select 3 forum posts that could become blog posts"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-15 05:07] tamarandom commented on #899
@AL0YSI0US This is so thorough! We don't have dedicated front-end devs. We could really use some support there. I've tagged this "help needed".  Can anyone help us make our website accessibility compliant by making the changes @AL0YSI0US has thoroughly detailed!

[2021-10-15 07:03] AL0YSI0US commented on #899
@tamarandom I had a Great call This past evening with @mcsmith89 & Dan, were itching to bring exactly what you're saying we don't have to the commons!

( 👇🏾 I took notes! )
+ [TEC Accessibility Jam Notes](https://docs.google.com/document/d/e/2PACX-1vRwKMxIcGx3a3-4UrS_XCaX2xRrc8HKQ2TtVJPL-NHAZ8XBT7KOhrShow6SVX4bQ2lvq_jPXIGGIB27/pub)

[2021-10-15 07:17] tamarandom commented on #1008
I really enjoy reading these lists! They make me laugh a lot.

[2021-10-15 10:09] AL0YSI0US commented on #948
When I think of transparency in correlation to a DAO infrastructure some of these things come to mind:
+ gated entry [NFT, POAP etc.]
+ accessibility to working documents (password protection)
+ open / private channels
+ open / private threads
+ offline message groups
+ hidden discord members (ghost players)
+ documentation
+ Cultural practices / customs
+ accountability processes
+ governance pra

[2021-10-15 10:13] AL0YSI0US commented on #943
🤔 Is this for the forums authentication? (discourse)

[2021-10-15 10:49] kristoferlund commented on #943
Nope, this is for logging into the new Praise system. The UI I showed yesterday where you do quantifications etc.

[2021-10-15 11:21] tamarandom opened #1020 "(1) revisions and (2) promotion of the TEC timeline"
## 👇🏽  What is this issue about? Give as much detail as you can.
Circle round with each WG Lead on any updates they want to share with the wider community. Update this timeline.!
https://miro.com/app/board/o9J_lbkGJHQ=/

[Screen Shot 2021-10-15 at 1.21.19 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/66d69a47-6546-4f04-959a-39751b8c940d)

## ✨  What does success look like?

[2021-10-15 11:26] tamarandom opened #1021 "Continue work on the buy-in proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
This is the draft started by myself, @divine-comedian @GriffGreen @Zeptimus with a boost from @laurenluz.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. determine the final elements
2. post the drafted proposal on the forum for advice process
3. community vote on snapshot before Oct 21/22

[2021-10-15 11:37] tamarandom commented on #747
Hi Freshelle. This is great, thank you! I just had one questions and I dropped it in the doc.
I added the doc to our gitbook TEC-Source:
https://app.gitbook.com/o/-MRe_DImEWCFDsZ_TQd2/s/-Mj5bOyMOomkgNfE--be/c/pLhuCnzAF3zXCzau8kfA/working-groups/stewards-wg

Closing!

[2021-10-15 11:41] tamarandom commented on #980
We had a GREAT sprint for Communitas. There was a lot of community members who came and have contributed significantly to that success. Looking forward to all Communitas will able to deliver these next few sprints. Closing this issue.

[2021-10-15 11:41] #980 closed, assigned to tamarandom

[2021-10-15 11:44] tamarandom commented on #874
Going to come back to this after we have a better idea of the final figure that will be allocated to this in the buy-in proposal. So likely the sprint after the next one.

[2021-10-15 11:45] tamarandom commented on #981
Wow. We're back in business!
![Screen Shot 2021-10-15 at 1.43.57 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/1a07279e-41c0-4623-b151-6653868330a4)

[2021-10-15 11:45] #981 closed, assigned to nobody

[2021-10-15 11:46] tamarandom commented on #749
@Razga someone told me you might be interested in this.

[2021-10-15 11:51] tamarandom commented on #954
Angela has offered to join the Steward council next week to work with the Stewards on how we can bring our communities closer together. Discord should be one of the multiple ways we can do that.
Agenda:https://docs.google.com/document/d/1T1XxYQPHyAN6biQSlThLLeFO7Ihb8hidjJKd5MeKb7Y/edit#heading=h.w8pm90oqale

[2021-10-15 11:53] tamarandom commented on #999
That is this one, right? https://forum.tecommons.org/t/rules-of-praise-and-quantification/667

Can we close this?

[2021-10-15 11:54] tamarandom commented on #434
@metaverde on a call the other week you mentioned that you were up for writing. Would this be something that would be of interest to you to write about? It could make a really nice article on our Medium channel.

[2021-10-15 12:48] tamarandom commented on #949
Hi @eduardovegap! Shall we leave this open and pull it into the next sprint to incorporate the changes that were suggested that make sense to you?

[2021-10-15 14:54] eduardovegap commented on #949
@tamarandom yes! will label it as next sprint

[2021-10-15 14:56] eduardovegap commented on #977
How do we resolve this in a way that's reliable? :D

[2021-10-15 14:58] Zeptimus commented on #977
Ivy it's taking care and if she someday cant i can back her i think we can close this one

[2021-10-15 15:07] Zeptimus commented on #965
Done: https://www.youtube.com/watch?v=rZR7ui88E8Y

[2021-10-15 15:07] #965 closed, assigned to Zeptimus

[2021-10-15 15:21] iviangita commented on #964
This is already a work in progress: https://docs.google.com/document/d/1IgG94l6cCO3d0Zrfsi6ucUEp99A96P_s2uOTQhmB-Tc/edit?usp=sharing

[2021-10-15 15:24] iviangita commented on #977
I'm taking this :)

[2021-10-15 15:24] #977 closed, assigned to iviangita

[2021-10-15 15:34] mcsmith89 commented on #899
The notes are looking great @AL0YSI0US! We're happy to help hop in and clear out some of the issues after the discussion yesterday - not sure how we can facilitate getting access to the main WordPress or if there is a repo and staging site to commit changes @tamarandom?

[2021-10-15 16:00] innov8tor3 commented on #625
Hey @tamarandom , Bankless DAO have some info on other DAOs, 140+ when I last checked, but not sure where Bankless are headed at the moment, I had difficulties in their culture, but might just have been me.

You may need permission to their Notion to be able to see the list ...

I have felt this is an important step for a while, because folk want to know where they can go to decide which projects

[2021-10-15 16:08] JuankBell commented on #966
moved! https://app.zenhub.com/workspaces/gravity-614b594733915b001237f06e/board?repos=409276305

[2021-10-15 16:08] #999 closed, assigned to liviade1

[2021-10-15 16:09] #915 closed, assigned to liviade1

[2021-10-15 16:10] Zeptimus opened #1022 "Ethereum based forum accounts"
## 👇🏽  What is this issue about? Give as much detail as you can.
 Tam saw the option to create an account using an Ethereum address on Gnosis forum and we think its a very cool feature to add.  @Vyvy-vi  would you be interested on give it a look? They also use Discourse as we do

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who sh

[2021-10-15 16:11] JuankBell commented on #920
![Captura de Pantalla 2021-10-15 a la(s) 11.08.28 a. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/73701a75-d5c4-478a-94a4-b534475924c0)
Twitter with 100 followers
And Github repo: https://app.zenhub.com/workspaces/gravity-614b594733915b001237f06e/board?repos=409276305

[2021-10-15 16:11] #968 closed, assigned to liviade1

[2021-10-15 16:11] eduardovegap opened #1023 "Reorganization of Discord Menu"
## 👇🏽  What is this issue about? Give as much detail as you can.

We need a better alignment of the menus and channels of the discord server, so the idea is to present and get approval on a proposal that's sync with the onboarding journey.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Having the menus and the pin/content messages ready.
2. Having the c

[2021-10-15 16:11] #927 closed, assigned to liviade1

[2021-10-15 16:13] tamarandom opened #1024 "Try out: Friday morning co-working"
## 👇🏽  What is this issue about? Give as much detail as you can.
My Friday mornings I don't usually have any meetings. So it's a good time for me to chill in the cafe with some music and I would like to invite anyone interested to join me.

Though I think announcing it in the #cafe was not the best to get attention. Will invite people from #general next week.

![Screen Shot 2021-10-15 at 6.12.15 P

[2021-10-15 16:13] liviade1 commented on #969
We are working on the flow here - Catarina will be jumping in to help with the design too, I'll connect you with her also @acidlazzer
https://miro.com/app/board/o9J_lYcRTik=/

[2021-10-15 16:14] eduardovegap opened #1025 "Member experience Flow Chart"
## 👇🏽  What is this issue about? Give as much detail as you can.

We want to have a visual understanding of the onboarding journey, what happens after validation, so the process could be clear and adapted.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Having a consensus of the flow chart and agreement upon.
2. implementation of the flow chart into the

[2021-10-15 16:14] liviade1 commented on #856
The template @eduardovegap created for snapshot will be repurposed for CV https://docs.google.com/document/d/17R-9Ro-rPLWvRNG5gK-sJqnWSFhcICNeeaC-UOEqsYg/edit

[2021-10-15 16:14] natenatesoo commented on #952
Reviewed and Proposed Changes for Community Call.

[2021-10-15 16:14] #952 closed, assigned to natenatesoo

[2021-10-15 16:16] eduardovegap opened #1026 "Provide copy for guide-bot : Content creation and verification for onboarding journey."
## 👇🏽  What is this issue about? Give as much detail as you can.

We should check the info that's placed on the fixed channels and the guide answer.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Answers and content aligned with gitbook.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Tho

[2021-10-15 16:19] liviade1 commented on #818
Let's sync on this  we are working on advice process as well for the decision making flow

[2021-10-15 16:26] Zeptimus commented on #818
its been on the product backlog for some time now, there are not updates at all i feel if you are looking at it   i could take support role and give feedback if needed

[2021-10-15 16:29] tamarandom commented on #1019
@natenatesoo volunteered one!

[2021-10-15 16:33] #966 closed, assigned to JuankBell

[2021-10-15 16:33] natenatesoo opened #1027 "Medium Article from Forum Post: Praise Quant and Rules"
## 👇🏽  What is this issue about? Give as much detail as you can.
I will be writing a Medium Article following the Forum Post by @liviade1 about the rules of praise quantification.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.  Adaptation of this forum post into a Medium Article.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People wh

[2021-10-15 16:47] tamarandom commented on #821
Soft Gov will be using Rewards System & request funding for special projects via CV.

[2021-10-15 16:47] #821 closed

[2021-10-15 16:48] tamarandom commented on #823
Update: @natenatesoo is waiting for response from Boardroom.

[2021-10-15 16:49] innov8tor3 commented on #970
Is the Grassroots Economics tag related to the actual organisation based in Kenya, led by Will Ruddick? Or is that just coincidence?

The basis of the Kenyan organisation is formed around true mutual credit. MC indeed works best when capital is scarce, and is counter cyclical in nature to the money economy, based on my work with a UK based MC group.

We know one other large scale incidence, based

[2021-10-15 16:51] tamarandom commented on #814
Update: Closing. A lot has been done to improve Gitbook!

[2021-10-15 16:52] tamarandom commented on #975
Nice! CC: @Vyvy-vi

[2021-10-15 17:00] tamarandom opened #1028 "Idea about a short and simple welcoming video"
## 👇🏽  What is this issue about? Give as much detail as you can.
There is already an issue to make an orientation video #892 but that one is on hold until after the commons upgrade. A simple video for people that can't make the orientation call due to timing would be nice to have before.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂

[2021-10-15 17:02] tamarandom commented on #802
Update: @eduardovegap has something that might be scheduled for the 27 Oct.

[2021-10-15 17:12] tamarandom commented on #1002
Code of conduct: https://app.gitbook.com/o/-MRe_DImEWCFDsZ_TQd2/s/-MRe_M_mUIIB11A-MQyZ/code-of-conduct

[2021-10-15 17:13] tamarandom commented on #967
Closing. This happened over the last Sprint.

[2021-10-15 17:14] #967 closed, assigned to mount-manu-zz

[2021-10-15 17:16] tamarandom commented on #925
@eduardovegap will update the text. Thanks @Vyvy-vi

[2021-10-15 17:20] tamarandom commented on #741
This is being rolled into the new onboarding journey. Will be a #help FAQ channel with static content.

[2021-10-15 17:20] #741 closed

[2021-10-15 17:29] tamarandom commented on #245
Update from Santi: Document finished just waiting for bonding curve parameters and shape to be voted by the community to implement those variables into the document and final touches Shawn will introduce after today's meeting

[2021-10-15 17:35] tamarandom commented on #953
Possible option:
- There is a livestream on YouTube.
- Someone can join the #can't-join channel and stream it there for those that can't join.

[2021-10-15 17:36] tamarandom commented on #953
@natenatesoo volunteers. We can test this out and see if it works!

[2021-10-15 17:37] tamarandom commented on #557
Update: Closing. Thanks @JuankBell

[2021-10-15 17:37] GriffGreen opened #1029 "ABC Smart Contracts Final"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-15 17:37] tamarandom commented on #795
Closing!

[2021-10-15 17:38] GriffGreen opened #1030 "Update the Front End of Gardens to work with wxDai"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-15 17:39] GriffGreen opened #1031 "Finalize ABC Front End (tec-convert)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-15 17:42] tamarandom opened #1032 "Testing tokenlog"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-15 17:49] tamarandom commented on #884
This is being rolled into the new discord onboarding journey!

[2021-10-15 18:19] tamarandom commented on #733
At the moment, the bot does not support bi-weekly meetings. So Lab and Legal will not work. BUT they will soon, we are migrating to sesh.fyi which will allow any Steward to edit the announcements directly on discord via a bot.

[2021-10-16 21:30] mount-manu-zz commented on #970
Yes @innov8tor3 this issue is related to them. This is still in the early stages but the idea is to incentivize microfranchise development through token engineering.

I'm of the opinion that, once you have a stable currency backed by mutual credit (like they do), the next step is to build grassroots business systems that equip people with the necessary skills needed to grow a successful micro-ente

[2021-10-17 02:04] gideonro commented on #1023
Just added link to the audit document.

[2021-10-17 16:58] Vyvy-vi commented on #975
Yes 💯
That would be awesome!

Would @acidlazzer or anyone else be interested in making a GIF for the animated server icon?

[2021-10-17 18:41] acidlazzer commented on #975
I´m working on that! :D

[2021-10-18 08:32] #1008 closed, assigned to divine-comedian

[2021-10-18 08:33] kristoferlund commented on #986
@hurek Once you have the data model set, post an image here for reference.

[2021-10-18 08:37] #926 closed, assigned to nobody

[2021-10-18 08:41] kristoferlund commented on #942
## Updated version

[TEC - Rewards System.pdf](https://app.zenhub.com/files/306706322/23e3d056-273e-4aae-959e-6060eb061a1f/download)

![Praise _ Rewards System - TEC Reward System Process.jpeg](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/ccb5048e-2b55-48a8-9695-2d4c7f91eab8)

[2021-10-18 08:53] kristoferlund commented on #994
Duplicate of #1013, closing

[2021-10-18 08:53] #994 closed, assigned to mateodaza

[2021-10-18 09:24] tamarandom commented on #977
@iviangita @Zeptimus I figured out how to make it work on osx:
"Security & Privacy > Screen Recording > check OBS icon"

So I will be recording Communitas tonight!

[2021-10-18 18:17] tamarandom opened #1033 "Discord onboarding journey"
## 👇🏽  What is this issue about? Give as much detail as you can.
<need to refine this issue with the latest updates>

This is the diagram @MS shared for flowchart draft.
![Blank_diagram5.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/7aef2e4d-4e54-482f-bb4d-62d466b4414f)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Finalize the gui

[2021-10-18 19:04] chuygarcia92 commented on #975
@acidlazzer is the coolest guy ![logo tec gif.gif](https://images.zenhubusercontent.com/6000e68bc28f519103606a04/65b2a55f-61de-48c3-ae1e-27383ed99035)

[2021-10-18 19:04] #975 closed, assigned to chuygarcia92

[2021-10-18 20:57] chuygarcia92 commented on #953
I feel this might be a config issue in the community hall voice channel, since we held an AMA in the Agave server with over 100 people in the room and we were able to share a screen with a presentation, it's also logical that we could even achieve more than this since we're all the way up in NITRO 🔥

[2021-10-19 06:47] csggene3 commented on #970
So this type of application imo is the true "killer app" for token engineering and obviously the ultimate endgame for any tokenomics system hoping for truly widespread adoption ie beyond the first world. I'm currently trying to help a couple friends I've made in Africa get into some kind of UBI project, but the projects like Proof of Humanity still have a long way to go. Microfranchise development

[2021-10-19 11:46] kristoferlund opened #1034 "The Discord Praise Bot"
## 👇🏽  What is this issue about? Give as much detail as you can.
Developing the new praise bot for Discord.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Bot done, tested and integrated with backend

## Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@Vyvy-vi
@hurek

## 🔗

[2021-10-19 11:48] kristoferlund opened #1035 "The Telegram Praise Bot"
## 👇🏽  What is this issue about? Give as much detail as you can.
Developing the new praise bot for Telegram.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Bot done, tested and integrated with backend

## Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@Vyvy-vi
@hurek

## 🔗

[2021-10-19 12:36] tamarandom commented on #899
Tagging: @mcsmith89

[2021-10-19 13:42] tamarandom commented on #1033
Comms WG is requesting to have a way to channel creatives (designers, video producers, content creators, social media manager) to the Comms WG. Not necessarily in this guide but on the radar for Onboarding team.

cc: @mount-manu

[2021-10-19 17:25] eduardovegap commented on #949
Final document opened for final / grammar review.

https://docs.google.com/document/d/17R-9Ro-rPLWvRNG5gK-sJqnWSFhcICNeeaC-UOEqsYg/edit

[2021-10-19 17:26] eduardovegap commented on #1002
Working document for the Revisited T&C (first page)

https://docs.google.com/document/d/1h0J0L0VAJ2UZH_Jwy1n6M2kI4ozlmlOV-Mb3uFH78yQ/edit

[2021-10-19 19:13] mcsmith89 commented on #899
Hey Everyone!

Meeting with Kristofer Thursday morning to figure out the structure and setup for website & changes. Will provide updates on here after that.

[2021-10-20 09:25] eduardovegap commented on #976
https://forum.tecommons.org/t/how-to-join-contribute/98
How to join and contribute - Updated

[2021-10-20 09:34] eduardovegap commented on #976
https://forum.tecommons.org/t/1-what-is-the-tec/97/5
What is the TEC - Updated.

[2021-10-20 10:49] eduardovegap commented on #976
https://forum.tecommons.org/t/welcome-to-the-tec-category/96/6 - Pin post Updated.

https://forum.tecommons.org/t/tec-hatch-and-commons-upgrade/101/4 - post updated and edited to showcase where we are now.

https://forum.tecommons.org/t/submit-a-proposal-for-funding/102 - updated info.

With these, the welcome section is updated.

[2021-10-20 10:49] #976 closed, assigned to eduardovegap

[2021-10-20 16:18] tamarandom commented on #949
Dropped in a bunch of edits last night. Thanks @eduardovegap !!

[2021-10-20 16:19] tamarandom opened #1036 "Record the Orientation weekly call"
## 👇🏽  What is this issue about? Give as much detail as you can.
On the call now, it just occurred to me that we are not recording these. Wondering whether anyone things there is any reason *not* to record them. I am leaning to us recording them going forward!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the

[2021-10-20 16:29] tamarandom opened #1037 "Do we have documentation for Praise bot / system?"
## 👇🏽  What is this issue about? Give as much detail as you can.
We are being asked on the Orientation call whether someone can deploy Praise on their own Discord servers for their own community. Do we have docs or a github repo we can point them to? It was requested by Yonks.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who shou

[2021-10-20 16:31] Zeptimus commented on #1036
i was recording those back in the days, but then stopped coz they were the same every week but if we wanna get them im available at that time normally

[2021-10-20 16:59] TeamYonks commented on #1037
Thanks @tamarandom for opening this issue!!

[2021-10-20 23:19] GriffGreen commented on #1037
We are completely revamping the Praise system... so they might want to consider checking that out...

That said... here is the Telegram bot:
https://github.com/commons-stack/CommonsStackBot

I think this is the Discord Bot:
https://github.com/hurek/Praise-Bot-Discord

@hurek or @Vyvy-vi can confirm that this is the most up-to-date version of the discord bot... there might be another repo floating

[2021-10-21 08:26] tamarandom opened #1038 "New banners for Stewards and Communitas meetings"
## 👇🏽  What is this issue about? Give as much detail as you can.
@acidlazzer would you have cycles to work with me on new banners for the new call announcement bot? Let me know when you can fit this into your schedule.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. New call announcement banners for Stewards and Communitas WG calls
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️

[2021-10-21 08:29] tamarandom commented on #1036
I see this point. I am thinking we can record a few just to have them available in a playlist on Youtube so newcomers can easily find them and see the presentation if they can't make the meeting itself. Maybe we record the next 3-4? What do you think?

[2021-10-21 08:31] Zeptimus commented on #1036
thats a good point, lets do it!

[2021-10-21 19:07] acidlazzer commented on #1038
I am in! Text you at discord :)

[2021-10-21 19:16] tamarandom commented on #1033
This is a part of the @mcsmith89 working doc here:  https://docs.google.com/document/d/1h0J0L0VAJ2UZH_Jwy1n6M2kI4ozlmlOV-Mb3uFH78yQ/edit#heading=h.ehu0ecbxkxs

[2021-10-21 20:15] tamarandom opened #1039 "Update Comms WG section on Gitbook"
## 👇🏽  What is this issue about? Give as much detail as you can.

https://app.gitbook.com/o/-MRe_DImEWCFDsZ_TQd2/s/-MRe_M_mUIIB11A-MQyZ/cultural-components/communications

![Screen Shot 2021-10-21 at 10.14.17 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/6b512087-f667-40a6-b003-86986ccf1d5e)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue

[2021-10-23 02:22] mcsmith89 commented on #1025
@tamarandom @eduardovegap - LBS has added an awesome additional to the original doc I created:
https://docs.google.com/document/d/1h0J0L0VAJ2UZH_Jwy1n6M2kI4ozlmlOV-Mb3uFH78yQ/edit#heading=h.11a9d6ihw8su

I vote we consider v3 of the diagram section that LBS has created as our new working diagram. Can we add them to this GH issue? I think we can keep the original document as a central area for all

[2021-10-25 12:20] kristoferlund opened #1040 "Setup the Reward Board / Aragon Rewards DAO"
See details at Notion: https://www.notion.so/fmckl/Setup-the-Aragon-Rewards-DAO-Mitch-Mateodaza-bdadac3a161e416691ac40396cccfb35

[2021-10-25 14:01] tamarandom commented on #1019
Looping in @mount-manu

[2021-10-25 14:22] iviangita opened #1041 "Medium, Youtube and other platform analytics"
## 👇🏽  What is this issue about? Give as much detail as you can.
Start generating analytics data for our platforms until a strategic group handles it (Check the last Labs call from YGG where he developed a tool to analyse Medium profiles)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (Peop

[2021-10-25 14:25] iviangita opened #1042 "Add Snapshot to https://tecommons.org/"
## 👇🏽  What is this issue about? Give as much detail as you can.
The TEC Snapshot link should be added to the website for easier access to the community since it will be used in making decisions

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue.

[2021-10-25 14:50] iviangita opened #1043 "Update the Transparency WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
We will add Transparency Training to our proposal so we can go back to it when we're ready. We will also make the final changes so the proposal is more comprehensible.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who

[2021-10-25 17:09] chuygarcia92 commented on #10
I had a call with Ronald today. Some of the first steps between PB and TEC will be the following:

- Short-term contribution to community's newsletter
- E-mail brief
- TEC Webinar - Some notes on possible content
- PB Spotlight in TEC's community call

[2021-10-25 17:34] natenatesoo commented on #1019
Rules of Praise Quantification!

[2021-10-25 18:58] tamarandom opened #1044 "Training guide for new Guides"
## 👇🏽  What is this issue about? Give as much detail as you can.
@eduardovegap is doing all of the welcoming to Discord single handedly. Having 2-3 other Guides can help take some of this responsibility off his shoulders.

While we are working on the Onboarding experience, creating a simple guide for new TEC Guides will make it easier to onboard new folk in that role.

## ✨  What does success look

[2021-10-25 19:34] tamarandom commented on #955
Closing: will be done in #995

[2021-10-25 19:34] #955 closed, assigned to Vyvy-vi

[2021-10-25 19:35] tamarandom commented on #869
Closing. Will be taken care of in #995

[2021-10-25 19:38] tamarandom commented on #1036
Did it this week!

[2021-10-26 03:51] saunic commented on #958
Some questions I can think of so far that need to be answered:
- How can we prevent spam on the posts and messaging sections?
- How can we remove people who are not good for the community like spammers? How can we determine if someone is not good for the community? Should we be deciding whether someone is bad or good?
- How will we decide which posts should go to the featured posts/hottest content

[2021-10-26 12:56] iviangita opened #1045 "Call to action for Twitter mentions"
## 👇🏽  What is this issue about? Give as much detail as you can.
The goal is to create a standard response to every type of mentions on Twitter and identify the appropriate call to action.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those

[2021-10-26 14:39] tamarandom commented on #709
Just came across Ocean's examples for visual branding: https://oceanprotocol.com/art
And this list of come great examples of style guides: https://medium.com/ebaqdesign/top-100-style-guides-of-best-brands-39152ebde62c

Throwing this out there in case someone in the community is inspired to take it on. We have the branding assets github repo already mentioned in an earlier thread which would be the

[2021-10-26 15:21] tamarandom opened #1046 "Actionable actions and follow-ups from the TEC-TE Stewards' council"
## 👇🏽  What is this issue about? Give as much detail as you can.
Notes here: https://docs.google.com/document/d/1T1XxYQPHyAN6biQSlThLLeFO7Ihb8hidjJKd5MeKb7Y/edit

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. What does an immediate, short and long term actionable plan look like?
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who

[2021-10-26 21:17] kristoferlund commented on #899
Awesome with the detailed Miro board @AL0YSI0US!

@mcsmith89, the repo is here: https://github.com/CommonsBuild/tec-web

What do you need from me to make the changes?

[2021-10-27 04:20] Vyvy-vi commented on #953
While livestreaming with 100 people works, Video Calls strictly have a 25 member cap, afaik.

[2021-10-27 06:00] kristoferlund commented on #1003
Duplicate of #1000

[2021-10-27 06:00] #1003 closed, assigned to Vyvy-vi

[2021-10-27 08:51] kristoferlund opened #1047 "Twitter tracker bot"
## 👇🏽  What is this issue about? Give as much detail as you can.

The alternative to integrating with Orbit for tracking social activity is building a simple Twitter bot ourselves.

See also: #1001

## How will it work?

- Create a separate Discord channel used as a Twitter feed. The channel would serve the dual purpose of tracking Twitter activity for SourceCred as well as being a source of infor

[2021-10-27 08:54] kristoferlund commented on #1001
@Vyvy-vi we didn't talk about the Orbit option today. Let's not rule that out. If Orbit data could be fed into SourceCred reasonably easy perhaps that is a better option than developing the Twitter bot we talked about (See #1047). Could you investigate both tracks and propose which one to choose?

[2021-10-27 09:02] kristoferlund opened #1048 "Investigate: Automate SourceCred user onboarding"
## 👇🏽  What is this issue about? Give as much detail as you can.

We would like to make the SourceCred user onboarding as smooth as possible. Currently onboarding is mostly done manually.

**🔍 To investigate: Can we use automation developed by 1Hive to onboard users?**

We need to onboard users from:
- GitHub
- Discord
- Discourse
- Twitter

## ✨  What does success look like? (i.e., the criteria t

[2021-10-27 15:38] tamarandom commented on #949
What are the next steps? I'm thinking:
1) update the forum template
2) create a forum post about the new template
3) add the template to gitbook for easy reference going forward.

@eduardovegap @liviade1 @natenatesoo

[2021-10-27 15:52] AL0YSI0US commented on #1000
This bot out of the package will not track someone if they have been in attendance for less than 5 minutes, most of our meetings are in the ballpark of an hour. It should have a place to configure the time % to desired outcome.

[2021-10-27 22:12] mcsmith89 commented on #899
Thanks! I am connecting with the dev team and will provide updates for anything needed

[2021-10-27 22:14] mcsmith89 commented on #1044
Thanks! I was just discussing this with LBS today on our check-in. This seems like the natural next priority post MVP survey/onboard question launch?

[2021-10-28 11:21] kristoferlund opened #1049 "Rewards Committee"
## 👇🏽  What is this issue about? Give as much detail as you can.

The Rewards Committee is responsible for:
- Manage the SourceCred and Praise params
  - Inform community about params
  - Do advice process or voting if params need changing
- Manage the funds allocated for rewards
- Administer the Quantifier pool - the group of people volunteering to do quantifications
- Oversee each quantification

[2021-10-28 11:28] kristoferlund commented on #1004
Token distributions will most likely be made in a Jupyter notebook instead. Closing this issue.

[2021-10-28 11:28] #1004 closed, assigned to nobody

[2021-10-28 11:35] kristoferlund commented on #987
Issue moved to [CommonsBuild/praise_frontend #6](https://github.com/CommonsBuild/praise_frontend/issues/6) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:35] #987 closed, assigned to kristoferlund

[2021-10-28 11:37] kristoferlund commented on #1005
Issue moved to [CommonsBuild/praise_frontend #7](https://github.com/CommonsBuild/praise_frontend/issues/7) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:37] #1005 closed, assigned to nobody

[2021-10-28 11:37] #1018 closed, assigned to nobody

[2021-10-28 11:37] kristoferlund commented on #1018
Issue moved to [CommonsBuild/praise_frontend #8](https://github.com/CommonsBuild/praise_frontend/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:38] #1011 closed, assigned to nobody

[2021-10-28 11:38] kristoferlund commented on #1011
Issue moved to [CommonsBuild/praise_frontend #10](https://github.com/CommonsBuild/praise_frontend/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:39] kristoferlund commented on #990
Issue moved to [CommonsBuild/praise_frontend #11](https://github.com/CommonsBuild/praise_frontend/issues/11) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:39] #990 closed, assigned to kristoferlund

[2021-10-28 11:39] kristoferlund commented on #989
Issue moved to [CommonsBuild/praise_frontend #12](https://github.com/CommonsBuild/praise_frontend/issues/12) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:39] #989 closed, assigned to kristoferlund

[2021-10-28 11:40] #962 closed, assigned to nobody

[2021-10-28 11:41] #988 closed, assigned to kristoferlund

[2021-10-28 11:41] kristoferlund commented on #988
Issue moved to [CommonsBuild/praise_frontend #13](https://github.com/CommonsBuild/praise_frontend/issues/13) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:41] #991 closed, assigned to kristoferlund

[2021-10-28 11:41] kristoferlund commented on #991
Issue moved to [CommonsBuild/praise_frontend #14](https://github.com/CommonsBuild/praise_frontend/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:45] #1006 closed, assigned to hurek

[2021-10-28 11:45] kristoferlund commented on #1006
Issue moved to [CommonsBuild/praise_backend #9](https://github.com/CommonsBuild/praise_backend/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:45] #945 closed, assigned to hurek

[2021-10-28 11:45] kristoferlund commented on #945
Issue moved to [CommonsBuild/praise_backend #10](https://github.com/CommonsBuild/praise_backend/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:45] kristoferlund commented on #985
Issue moved to [CommonsBuild/praise_backend #11](https://github.com/CommonsBuild/praise_backend/issues/11) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:45] #985 closed, assigned to PabloCGL

[2021-10-28 11:46] kristoferlund commented on #1034
Issue moved to [CommonsBuild/praise_backend #12](https://github.com/CommonsBuild/praise_backend/issues/12) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:46] #1034 closed, assigned to PabloCGL

[2021-10-28 11:46] #1035 closed, assigned to PabloCGL

[2021-10-28 11:46] kristoferlund commented on #1035
Issue moved to [CommonsBuild/praise_backend #13](https://github.com/CommonsBuild/praise_backend/issues/13) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:46] kristoferlund commented on #986
Issue moved to [CommonsBuild/praise_backend #14](https://github.com/CommonsBuild/praise_backend/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:46] #986 closed, assigned to kristoferlund, hurek

[2021-10-28 11:47] #982 closed, assigned to hurek

[2021-10-28 11:47] kristoferlund commented on #982
Issue moved to [CommonsBuild/praise_backend #15](https://github.com/CommonsBuild/praise_backend/issues/15) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:47] #983 closed, assigned to hurek

[2021-10-28 11:47] kristoferlund commented on #983
Issue moved to [CommonsBuild/praise_backend #16](https://github.com/CommonsBuild/praise_backend/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:47] kristoferlund commented on #984
Issue moved to [CommonsBuild/praise_backend #17](https://github.com/CommonsBuild/praise_backend/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:47] #984 closed, assigned to hurek

[2021-10-28 11:47] kristoferlund commented on #984
Issue moved to [CommonsBuild/praise_backend #18](https://github.com/CommonsBuild/praise_backend/issues/18) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-28 11:48] #961 closed, assigned to nobody

[2021-10-28 13:12] divine-comedian commented on #997
awaiting to reestablish access credentials - what other info do we need to add?

[2021-10-29 15:06] tamarandom commented on #1021
Signed, sealed, delivered. @divine-comedian quarterbacked it to the Forum.
https://forum.tecommons.org/t/the-initial-buy-in/670/12

There is some questions raised by @Zeptimus about the proposed multi-sig holders and he is suggesting an alternative. There is nothing more for me to do until that is resolved. @Zeptimus will take the lead on that piece of work.

[2021-10-29 15:06] #1021 closed, assigned to tamarandom

[2021-10-29 15:07] tamarandom commented on #1020
This is the Sprint! 21 FTW.

[2021-10-29 15:10] tamarandom commented on #844
Looking like we will have a good version to post on the Forum for advice process in Sprint 21.

[2021-10-29 15:13] iviangita commented on #1042
UPDATE: Already reached out to @kristoferlund to make the changes to the website 🙏

[2021-10-29 15:14] tamarandom commented on #959
![TEC Steward WG Slides (2).png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/297b6ed5-5678-4059-b0c6-605864d5ae5a)

Drafted process from the notes captured in the Stewards' Council on this topic and visual of the journey. https://docs.google.com/document/d/198yv-rDT1cNIT_LDW6gQaCnSZstIZ_RdVi4mrDMFLb0/edit

[2021-10-29 15:14] #959 closed, assigned to tamarandom

[2021-10-29 15:17] tamarandom opened #1050 "Stewards manifesto"
## 👇🏽  What is this issue about? Give as much detail as you can.
Related to #959
Update the manifesto to include the WG funding and latest on+offboarding journey.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Update and share (@stewards) the updated manifesto
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulte

[2021-10-29 15:18] tamarandom commented on #1046
This is where we will be tracking actions to take for now: https://docs.google.com/spreadsheets/u/1/d/1vKr991CRiAWR42UA31MeFLp3n6hBqZ3cRtEtiIcC5j8/edit?usp=drive_web&ouid=100603646152821457059

[2021-10-29 15:21] tamarandom commented on #1038
These are the slides that were originally made by @markoprljic. I made a few changes to a few in order to test the new sesh.fyi bot. I like that it's in slides format because that's easier for most stewards to edit vs a psd. Want you @acidlazzer to know where they live!

https://docs.google.com/presentation/d/18qTPGk4yIa9ql2qj2y9gRhIoTM-z80NCc8w_MWi5rlY/edit#slide=id.gd611fbdc33_0_53

[2021-10-29 15:24] tamarandom commented on #954
Closing! This is going to be in progress for a little while.

Going to track actions to bring TE+TEC closer together in #1020.

For Discord, specifically:
1. Patty will be joining TE next week and will look at Discord with Peter.
2. We can all meet together to look ata Discord links in mid-Nov. or have them join Communitas one Monday evening.

[2021-10-29 15:24] #954 closed, assigned to tamarandom

[2021-10-29 15:26] tamarandom commented on #1037
Thanks @GriffGreen and best luck @TeamYonks!

Closing.

[2021-10-29 15:26] #1037 closed, assigned to GriffGreen

[2021-10-29 15:27] tamarandom commented on #1024
Did it again this week and @eduardovegap and I hung together for a while. I like this a lot actually. My Friday morning seems to work best. Will close this issue but probably keep this routine.

[2021-10-29 15:27] #1024 closed, assigned to tamarandom

[2021-10-29 15:29] tamarandom commented on #995
@Vyvy-vi and I have tested this out in the last Sprint. We will roll it out this Sprint. There are some tweaks and changes that is necessary to make but we hope to make it as smooth as we can.

[2021-10-29 15:29] tamarandom commented on #995
Tracking the rollouts here: https://docs.google.com/spreadsheets/d/1ZSUA8zYOJdkb2HTCAXVlZwHfBSMGbxLEnSOWFeCry3k/edit

[2021-10-29 15:30] tamarandom commented on #979
This is going to be fixed in #995

[2021-10-29 15:30] #979 closed, assigned to nobody

[2021-10-29 15:31] tamarandom commented on #957
@eduardovegap and I had anther look this Sprint. I expect Sprint 21 is the one where we can publish it on the Forum for advice process.

[2021-10-29 15:34] tamarandom commented on #1028
@eduardovegap How would you feel about taking this on? Something short that covers the key topics in the orientation call. Would be nice to include a few Stewards. Maybe 3-4 stewards, 1 minute each? Or whatever a better idea is.

[2021-10-29 15:36] tamarandom commented on #679
Closing!

[2021-10-29 15:36] Zeptimus opened #1051 "Transparency offboarding process for credentials"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-29 15:37] Zeptimus commented on #1009
Done!

[2021-10-29 15:37] #1009 closed, assigned to Zeptimus

[2021-10-29 15:37] Zeptimus commented on #964
Done, next step its deploy it

[2021-10-29 15:37] #964 closed, assigned to iviangita

[2021-10-29 15:38] Zeptimus opened #1052 "Clarify the "approval voting" for lasertag multisig process and benefit"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-29 15:44] iviangita commented on #964
The new approach is posted on the forum for advice process: https://forum.tecommons.org/t/transparency-audit-report-a-new-approach/673

[2021-10-29 15:57] tamarandom opened #1053 "Custody and distribution of WG funding"
## 👇🏽  What is this issue about? Give as much detail as you can.
Write out the process for where the funds will be held and how they will be distributed (probably monthly, probably voted by the Steward WG)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about

[2021-10-29 16:08] chuygarcia92 commented on #958
advances for this project will be presented in the next Comms WG call on Nov 2, feedback will be much appreciated :)

[2021-10-29 16:09] divine-comedian commented on #997
pending additions on gitbook, please review  @liviade1

[2021-10-29 16:10] tamarandom opened #1054 "Retro action: focus on params parties "live token engineering""
## 👇🏽  What is this issue about? Give as much detail as you can.
- Make a list of discord communities to target
- Frame the Params Party as Education

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.  Params parties on other discord servers
2. Messaging beyond "params parties", more focused on educational aspects and live token engineering
3.

## 🧍🏻‍♀️🧍🏻‍♂

[2021-10-29 16:11] natenatesoo commented on #823
Yeah! And Close.

[2021-10-29 16:12] tamarandom opened #1055 "Hatcher relations campaign: the time is now to design our economy"
## 👇🏽  What is this issue about? Give as much detail as you can.
Reach out to our Hatchers to let them know about where we are with the CCD and that the time is now to configure our economy.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Draft message
2. Individual outreach, invitations to params parties
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advi

[2021-10-29 16:13] chuygarcia92 commented on #1039
I'll make sure the new comms manifesto gets on github as soon as we put it up next sprint

[2021-10-29 16:13] natenatesoo commented on #1027
Written, not posted.  Add to next sprint (to start a Forum Insight Sections for Medium)

[2021-10-29 16:15] #974 closed, assigned to nobody

[2021-10-29 16:15] JuankBell opened #1056 "Prepare soft gov call of the 16th of November, covering Livi on her Graviton training session"
## 👇🏽  What is this issue about? Give as much detail as you can.

As Livi is going to lead the Graviton training session of the 16th november, i proposed myself to facilitate the previous call and spread the load of that day.  We proposed to talk about personal motivations for decision making.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. We have both

[2021-10-29 16:15] natenatesoo commented on #953
Update?

[2021-10-29 16:18] JuankBell commented on #920
This is the only question that is now blocking this issue. What would be address where funds will be collected? A multsig? custodied by who?

[2021-10-29 16:18] tamarandom opened #1057 "Initial buy-in: get this voted on"
## 👇🏽  What is this issue about? Give as much detail as you can.
Next steps are:
- finalize the choice for the multi-sig holders
- edit the proposal, incorporate some feedback from the forum
- put the proposal up for vote on Snapshot
- create the gnosis safe

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the A

[2021-10-29 16:18] divine-comedian opened #1058 "Assign memebers of LASERTAG multisig"
## 👇🏽  What is this issue about? Give as much detail as you can.
following the buy-in proposal we need to choose who will sit on the multisig to sign transactions and also be part of the research group for exploring new strategic options for the acquired TEC from the buy-in

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Achieve consensus on multisig mem

[2021-10-29 16:19] GriffGreen opened #1059 "Catherding to Set Param Party Calendar"
2 times set:

Friday - 90 minutes
2pm NYC/8pm Berlin

Monday - 90 minutes
11am NYC/5pm Berlin

NEED TO HAVE HOSTS!!

https://docs.google.com/spreadsheets/d/1Ud5yubetILtzOOcE7xqxefG0SodvXi0Xv6RgH-pTT70/edit#gid=0

3 doodles for setting the other times

## Final Debate WED
https://doodle.com/poll/fkufvrrc4t9f9pua

## FIRESIDE PARAMS CHAT
### EU/AFRICA-APAC Times
https://doodle.com/poll/idqduua9xz5ea

[2021-10-29 16:23] divine-comedian commented on #998
This is up on the gitbook pending changes to be accepted - I copied almost verbatim the post @liviade1  made on the TEC forum

https://forum.tecommons.org/t/rules-of-praise-and-quantification/667

[2021-10-29 16:23] chuygarcia92 commented on #1054
This is an initial list of the communities I'll approach to organize Param Parties starting around Nov 10th and until Nov 18th:
• 1Hive
• Metagame
• ForefrontDAO
• dOrg
• Gitcoin
• VitaDAO
• PrimeDAO
• Ocean Protocol
• Symmetric
• BrightID
• Shapeshift

[2021-10-29 16:26] chuygarcia92 opened #1060 "Google Cal for Param Parties"
## 👇🏽  What is this issue about? Give as much detail as you can.
Putting together a custom calendar for scheduling param parties (both in TEC and other communities)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. There's one single source for param parties schedules
2. Contributors from different communities and hatchers can easily find a param party tha

[2021-10-29 16:27] chuygarcia92 commented on #973
October is almost done and there are changes happening around twitter planning and Comms, so I'll go ahead and close this issue.

[2021-10-29 16:27] #973 closed, assigned to chuygarcia92

[2021-10-29 16:28] #1058 closed, assigned to nobody

[2021-10-29 16:28] divine-comedian commented on #1058
redundant issue

[2021-10-29 16:31] eduardovegap commented on #654
Currently using this document for keeping track of newcomers, under the label "New members". https://docs.google.com/spreadsheets/d/169yWkwvAI_t1ucN5yRdFK4-EbDuWcIMKazScO-dCw6Q/edit#gid=1160000136

[2021-10-29 16:39] tamarandom commented on #1042
boardroom link instead of snapshot!
https://app.boardroom.info/tecommons

[2021-10-29 16:45] tamarandom commented on #1002
Done

[2021-10-29 16:45] #1002 closed, assigned to eduardovegap

[2021-10-29 16:46] #925 closed, assigned to eduardovegap

[2021-10-29 16:46] tamarandom commented on #925
Will be completed as part of #995

[2021-10-29 16:46] tamarandom commented on #925
Will be completed as part of #995

[2021-10-29 16:47] tamarandom commented on #1023
Update: this is ready on the Staging discord server.

[2021-10-29 16:48] chuygarcia92 commented on #1060
This is the shareable link for the calendar, however it might be a good idea to spread it once we've programmed most of next week's parties

https://calendar.google.com/calendar/u/0?cid=ZHRpbnQzYmE2NnY0cDJqN25uZWdlZnB2dmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2021-10-29 16:48] tamarandom commented on #978
Done.

[2021-10-29 16:48] #978 closed, assigned to eduardovegap

[2021-10-29 16:58] divine-comedian commented on #1054
link for TEC param party calendar

https://calendar.google.com/calendar/u/0?cid=ZHRpbnQzYmE2NnY0cDJqN25uZWdlZnB2dmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2021-10-29 17:07] natenatesoo opened #1061 "Twitter Spaces Interview"
## 👇🏽  What is this issue about? Give as much detail as you can.
Start a Twitter Spaces Interview format to update our community on interesting projects going on within the TEC. For those not present, a transcript of the interview will be available on our Medium Page.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Planning an interview, and executing in

[2021-10-29 17:09] tamarandom commented on #8
@eduardovegap volunteers to own this.

[2021-10-29 17:11] tamarandom commented on #662
Sad face. Closing. Maybe it will make a comeback!

[2021-10-30 10:40] Big-Gray-Al commented on #1054
You might also consider rally.io  they are focused on the creator economy. That was my entry point to the ethereum ecosystem and they have multiple new creators launching coins every week.  So params is a somewhat constant point of discussion for their coin creators

[2021-10-31 15:10] divine-comedian commented on #1054
interesting! thanks for the reference

[2021-10-31 22:19] eduardovegap opened #1062 "Gene's outreach to Hatchers Campaign"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?
https://docs.google.com/spreadsheets

[2021-11-01 10:23] kristoferlund opened #1063 "Configure SourceCred before first quant"
## 👇🏽  What is this issue about? Give as much detail as you can.

We need to make sure the SourceCred config is up to date before the first quantification.
- Weights
- Grain settings
- Currency details (Replace TCRED?)
- Starting date - which date do we start the calculations?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
- [ ] All SourceCred params confi

[2021-11-01 12:01] kristoferlund opened #1064 "Reward allocations / Distribution / Analysis"
Find details on Notion: https://www.notion.so/fmckl/Rewards-analysis-distribution-e31e5a92c9164d228ad2670919710bdb

[2021-11-01 12:07] #943 closed, assigned to hurek

[2021-11-01 15:13] kristoferlund commented on #1042
Added the icon. A bit unclear what would be the best link text though. We are not linking to Boardroom as such but to the voting page that allows you to interact with a Snapshot vote.

![image](https://user-images.githubusercontent.com/9698363/139694450-d37e85c9-edbb-4324-9287-1a75ac2fa99f.png)

[2021-11-01 15:36] AL0YSI0US commented on #958
I wanna say that this may fall into the gravity process. The whatchamacallit sanctions, graduated perhaps? (I haven't learned them yet)

Makes sense to have an assigned Graviton or cycle gravitons to monitor the dashboard to maintain it's integrity.

Trauma and neurodiversity informed banter:

I don't believe there are bad people in the world, there are plenty of people lacking the awareness and r

[2021-11-01 16:36] iviangita opened #1065 "Ivy's transition from TEC Twitter"
## 👇🏽  What is this issue about? Give as much detail as you can.
I'm stepping away from TEC Twitter to focus more on Transparency WG and support comms in Commons Stack. I will create a handover document and sync with the person taking over to explain the tasks I will leave behind.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Created a handover documen

[2021-11-02 15:51] iviangita opened #1066 "Update credentials document"
## 👇🏽  What is this issue about? Give as much detail as you can.
Time to update the credentials document since some contributors have left and some have joined

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input

[2021-11-03 16:58] tamarandom commented on #1038
@acidlazzer - do you have a location with the latest versions of these banners? In whatever format they are in. @Vyvy-vi  will use them for testing.

[2021-11-03 17:22] tamarandom commented on #1038
@acidlazzer shared!!! https://drive.google.com/drive/folders/1dnNzaDHHl7BVskkRMyAUgJ423GsRnBa1?usp=sharing

[2021-11-03 17:53] UncleBimBim commented on #709
Hi @tamarandom I'd be happy to help with this. Is there a thread or location where all our current and existing brand assets and style guide notes are located?

I can see this:
https://github.com/CommonsBuild/tec-branding-assets/blob/main/Colors/TEC%20Colors.png

Nothing about tone of voice/written communications (this isn't my strong suit but can help facilitate its completion).

[2021-11-03 20:04] tamarandom commented on #709
Oh Excellent! @acidlazzer just shared that he may have made some work on this.

[2021-11-03 21:27] tamarandom commented on #709
Looping in @chuygarcia92 @mount-manu about this too. The might already be some work in this direction and I wouldn't want there to be duplicate efforts. One of the three of them would know!

If not, @UncleBimBim, your help here would be extraordinary! That link is correct. It's the styles that we have been using to date.

[2021-11-04 11:04] tamarandom opened #1067 "Call for Legal WG help"
## 👇🏽  What is this issue about? Give as much detail as you can.
@iviangita has accepting being the acting Steward of Legal for the present. The primary task is to put out a call for legal advisory support as Shawn has accepted a FT position at a company and must step away from the TEC.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️

[2021-11-04 14:21] iviangita commented on #1067
Hi @tamarandom, here's the open call we released last time. Can we reuse it? I put my name as the contact person, let me know if there are other persons to be contacted too.

OPEN CALL FOR LEGAL EXPERTS: Do you have a legal background & strong interest in decentralized technologies? We'd love to have you in our Legal WG! Your expertise will be a huge help in shaping our legal strategies. If intere

[2021-11-04 17:01] tamarandom commented on #1067
Awesome! I added it to the community slides too.

[2021-11-08 12:16] tamarandom commented on #956
Thanks to @acidlazzer for doing this on the down low so we could make it a surprise for all!

[2021-11-08 12:16] #956 closed, assigned to acidlazzer

[2021-11-08 12:56] Zeptimus commented on #1052
Done we end up ussing rank choice voting with group of 7

[2021-11-08 12:56] Zeptimus commented on #1052
Done we end up ussing rank choice voting with group of 7

[2021-11-08 12:56] #1052 closed, assigned to Zeptimus

[2021-11-09 04:25] liviade1 commented on #822
"80,000 wxDAI (32%) worth of TEC will go directly to fund the distributions of the reward system and the management of those funds will be set by the Reward Board." according to the initial buy in proposal

[2021-11-09 04:25] #822 closed

[2021-11-09 04:27] liviade1 commented on #998
already merged

[2021-11-09 04:28] #998 closed, assigned to liviade1

[2021-11-09 08:52] tamarandom opened #1068 "Onboarding Experience - New landing flow"
## 👇🏽  What is this issue about? Give as much detail as you can.

There are 3 parts that are being updated  as part of this new flow:
- Survey
- Guide
- Channels

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable inp

[2021-11-09 09:18] tamarandom opened #1069 "Deploy new survey questions on old bot"
## 👇🏽  What is this issue about? Give as much detail as you can.
The survey questions are ready! We can start using them right away on the old bot and see how it affects the flow and use the additional info immediately to make the onboarding journey smoother.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. The new survey questions are live!
2.
3.

## 🧍🏻‍

[2021-11-09 09:21] tamarandom commented on #1033
Dupe of #1025

[2021-11-09 09:21] #1033 closed, assigned to mcsmith89

[2021-11-09 09:24] tamarandom commented on #1010
@Vyvy-vi' staging TEC discord with the new channels and flow: https://discord.gg/Yqv8kGvdgV

[2021-11-09 09:26] tamarandom opened #1070 "Onboarding journey : message to community that channels will move around"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Share the new flow on a community call
2. The day / day before we deploy, share a message to @all that our channels will be updated.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue.

[2021-11-11 15:04] tamarandom opened #1071 "TEC discord deployment server access"
## 👇🏽  What is this issue about? Give as much detail as you can.
@Vyvy-vi is creating dicord bots for the TEC server and is hosting them on his own servers.

@geleeroyale @GriffGreen - is there a better place, a shared server, where he can move these bots to?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the

[2021-11-11 16:26] tamarandom opened #1072 "Finish the guide-bot content map"
## 👇🏽  What is this issue about? Give as much detail as you can.
@Vyvy-vi and I started with what @eduardovegap had in [this doc ](https://docs.google.com/document/d/1hCpDD4zyZ8BZ54qevU0miyfhGbrk44_AFumqXRebFQI/edit#) and we made changes where needed but also mapped it out on this [miro board ](https://miro.com/app/board/o9J_lYcRTik=/
).

We can start with a very simple guide-bot and extend as nee

[2021-11-11 18:02] tamarandom opened #1073 "Retro action: #twitter-feed on our Discord server"
## 👇🏽  What is this issue about? Give as much detail as you can.

Hey @Vyvy-vi do you want to take this on next Sprint!?
Should probably be close to our #amplify channel

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valu

[2021-11-11 18:05] tamarandom opened #1074 "Optimism retroactive public funding"
## 👇🏽  What is this issue about? Give as much detail as you can.
Paperwork needed for this. Praise @chuygarcia92 for taking this on!!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there link

[2021-11-12 10:05] geleeroyale commented on #1071
I can set up an instance for @Vyvy-vi  - pls ping me withyour public ssh key (discord geleeroyale#3288)

[2021-11-12 12:47] tamarandom opened #1075 "Stop everything you're doing and play with the params dashboard until you can explain to a toddler"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-12 12:47] tamarandom commented on #1075
Check!

[2021-11-12 12:47] #1075 closed, assigned to tamarandom

[2021-11-12 13:42] tamarandom opened #1076 "Commons upgrade checklist"
## 👇🏽  What is this issue about? Give as much detail as you can.

Before we push the button. Make sure we have checklist from every WG and sign-off from each WG steward that has blocking tasks to confirm when done.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. List of every blocking piece of work and Steward to give the sign-off on it.
2.
3.

## 🧍🏻‍♀️🧍

[2021-11-12 13:46] tamarandom commented on #382
@chuygarcia92 - I'll make you the owner for now, ok? Or we can put on @Razga straight away? What do you think?

[2021-11-12 13:50] tamarandom commented on #1071
Woohoo!!

[2021-11-12 13:50] tamarandom commented on #1062
Closing!

[2021-11-12 13:50] #1062 closed, assigned to nobody

[2021-11-12 13:56] #997 closed, assigned to divine-comedian

[2021-11-12 14:53] Vyvy-vi commented on #1073
Yes, sure!

I think something like tweetshift bot can be used here, instead of making our own

[2021-11-12 15:19] iviangita opened #1077 "Forum post of the doc "Treasury Concerns from a Legal Perspective""
## 👇🏽  What is this issue about? Give as much detail as you can.

Make a forum post for the [treasury concerns document](https://docs.google.com/document/d/106IyS530eFXKHJzn69l2Ep4cIDaQeoL6UuhKF7kKqFI/edit?usp=sharing) so more people can engage in this topic

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the A

[2021-11-12 16:14] eduardovegap opened #1078 "Make progress on Graphic content for User Journey. :-D"
## 👇🏽  What is this issue about? Give as much detail as you can.

We want to layout a visual version of the journey.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Having a draft of what the journey for a user would look like
2. Consensus on its parts and content.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consult

[2021-11-12 16:33] Zeptimus commented on #1051
Close https://forum.tecommons.org/t/tec-offboarding-credentials-and-access/699

[2021-11-12 16:33] #1051 closed, assigned to Zeptimus

[2021-11-12 16:39] Zeptimus commented on #1066
https://docs.google.com/spreadsheets/d/1wfPGwNP7pWUx6WRCdO7HRA_GGJG_5IUGFZQ21EsUrb0/edit#gid=0

[2021-11-12 16:40] Zeptimus commented on #1042
Close

[2021-11-12 16:40] #1042 closed, assigned to iviangita

[2021-11-12 16:41] iviangita commented on #1041
Here's the report: https://docs.google.com/presentation/d/1Df2ajD3JneQr6bez82WgRz6M-_QNccRujEWydRRUMeY/edit?usp=sharing

[2021-11-12 16:41] Zeptimus opened #1079 "Discord and Forum analytics"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-12 16:42] eduardovegap commented on #8
@natenatesoo and I will start with this, this monday with a test, and share here the working document for everyone else to be aware of the content

[2021-11-12 16:44] Zeptimus commented on #1057
https://app.boardroom.info/tecommons/proposal/cHJvcG9zYWw6dG9rZW4tZW5naW5lZXJpbmctY29tbW9uczpkZWZhdWx0OjB4MTEzZWZmNjA3MTBhNzM0MGQzNWVlMThkYzUxMTkxY2ZlODU3M2I2MTczMDdmMGM1NTA4OWU2ZWQ4YTg1NzUzNQ==

Multisig vote will come today after this finish

[2021-11-12 16:52] tamarandom commented on #1057
Hey Zep, so we close this after the vote closes and the new vote on the multi-sig holders gets passed too. Sound good? I assigned it to you as the relieving quarterback while @divine-comedian is on vacay.

[2021-11-12 16:54] eduardovegap commented on #1055
Updated the document: https://docs.google.com/spreadsheets/u/1/d/169yWkwvAI_t1ucN5yRdFK4-EbDuWcIMKazScO-dCw6Q/edit#gid=1160000136

Done.

[2021-11-12 16:54] #1055 closed, assigned to eduardovegap

[2021-11-12 17:06] #97 closed

[2021-11-12 17:06] #224 closed

[2021-11-12 17:07] #1032 closed, assigned to GriffGreen

[2021-11-12 17:10] #1060 closed, assigned to chuygarcia92

[2021-11-12 17:10] #776 closed

[2021-11-12 17:13] liviade1 opened #1080 "fit the decision making process in the covenant and propose it"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-12 17:15] JuankBell commented on #920
Multisig created https://gnosis-safe.io/app/#/safes/0xE6439D8bc494f30Eb5afCF7C7Bc9e97bB989225f/balances, now we just need to make a "gravity committee" of people who will manage the funds. This can be done after the Gitcoin grant is created.

[2021-11-12 17:17] liviade1 opened #1081 "manage next steps for reward board"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?
https://docs.google.com/document/d/1

[2021-11-12 17:17] #969 closed, assigned to liviade1

[2021-11-12 17:18] liviade1 opened #1082 "test decision making infographic and incorporate feedback"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-12 17:21] laurenluz opened #1083 "Give Lauren access to the Twitter :)"
## 👇🏽  What is this issue about? Give as much detail as you can.
I'm running the Twitter for Giveth and leading a bunch of param parties so I see a lot of good stuff to RT / respond to from TEC! Would love to have to have the power to support :D

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process

[2021-11-12 17:24] JuankBell opened #1084 "Ask Gravitons if they want to appear in the side bar of the server"
## 👇🏽  What is this issue about? Give as much detail as you can.
We want to ease access to Gravitons, so we are now displaying this role in the server, but to not put people in awkward places, Juan will ask all gravitons if they would like to be displayed in this way.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Easy access to Gravitons
2.  Decentrali

[2021-11-12 17:39] #254 closed

[2021-11-12 17:39] tamarandom commented on #254
Closing

[2021-11-12 17:49] tamarandom commented on #949
Update: we should have this template linked in Boardroom. @natenatesoo will open new issue for that.

[2021-11-12 17:49] #949 closed, assigned to eduardovegap

[2021-11-12 17:56] natenatesoo opened #1085 "Boardroom Finalization"
## 👇🏽  What is this issue about? Give as much detail as you can.
Making sure all aspects of Boardroom are prepped and ready for community use.  This includes the following:

- [ ] Overview.md file describing Decision-Making & Governance Process

- [ ] Discourse Forum - Proposals Section to be available for community engagement through Boardroom\

- [ ] Update Calendar for the next two months and d

[2021-11-12 18:06] tamarandom commented on #995
Hey @ZarMarquez this is the one I would LOVE your help with! I will need to show you what it entails. Shouldn't take more than 30 minutes or so though and will be a good time for us to hang out and get to know each other!

[2021-11-12 18:35] tamarandom commented on #1042
Nice!

[2021-11-12 20:05] acidlazzer commented on #956
Glad to be part of this!

[2021-11-12 20:07] acidlazzer commented on #1078
Nice initiative, showing some progress soon!

[2021-11-12 21:51] liviade1 commented on #856
updated!

[2021-11-12 21:51] #856 closed

[2021-11-13 08:20] Big-Gray-Al commented on #868
Bringing your attention to the epic that I have just created for getting a build pipeline started on the praise system.

Assuming it comes together on schedule, We will probably need some help from the non-technical community to do user testing in the next week or two.

https://app.zenhub.com/workspaces/praise-617a8e3dfa496c001053f251/issues/commonsbuild/praise_frontend/22

[2021-11-14 17:19] tamarandom commented on #995
Hey @Vyvy-vi I am testing out Discord Events you shared. Setup the Communitas call tomorrow. The event is setup. There isn't a repeat option. And it doesn't say there will be any reminder. Discord will probably be building out the features for this but for the present, we would still need another option for the banner call reminders.

And it looks like it just shows up here in this event channel:

[2021-11-14 21:01] ZarMarquez commented on #995
Sounds good @tamarandom! I'm more than happy to help with this. I'll poke around their website to get a better grasp before we meet. My schedule is pretty flexible, let know what works best for you.

[2021-11-15 16:47] tamarandom commented on #868
Hey @Big-Gray-Al, This is excellent though not so related to this issue. ;)
Yes, I think we can rally up some people to do user testing when it is ready! Good to have the heads up.

[2021-11-15 19:17] tamarandom commented on #1069
target for this week!

[2021-11-15 19:24] tamarandom commented on #1044
Idea: Check whether Gravitons might be interested in this type of role? (thanks Durgadas)

[2021-11-15 19:25] tamarandom commented on #957
Target this week! (Wed/Thurs)

[2021-11-15 19:29] tamarandom commented on #1072
@liviade1 : Can you provide better phrasing for "what is praise"?

This is what there is now:

Praise is a reward mechanism based on gratitude that is quantified into Impact Hours which will turn into TEC tokens.

The TEC borrowed the Praise system from the Commons Stack to create a culture of gratitude. Multiple community members have the ability to "dish praise" to other members for their contri

[2021-11-16 09:41] tamarandom commented on #497
Hey @Ekeneodigwe! This is the contact list that the TEC has built a number of months ago. Please see if it can help you with the Commons Stack partnership db!

[2021-11-16 11:14] tamarandom commented on #1085
Hey @natenatesoo  - Should we make a quick edit to that Overview file so that the page isn't totally blank? Even if we don't have the final version ready yet?

![Screen Shot 2021-11-16 at 12.11.56 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/c9afff63-5a47-4bb2-b7d0-007a9442c500)

[2021-11-17 00:34] eduardovegap commented on #8
https://docs.google.com/document/d/1Nu0Mdwg7rCIlTTgptOO35ydvEP13uLUsjkrVYcK8BKw/edit

[2021-11-17 11:26] tamarandom commented on #957
The final draft if ready!! Sharing with the Stewards today and will post to the Forum tonight if there is not any glaring error we missed in drafting.
https://docs.google.com/document/d/1uAbihCPiVAEMerkmVwP77TMXENkKUmiIx5pSyZMLw8o/edit#

[2021-11-17 17:20] tamarandom opened #1086 "LASERTAG multisig vote 🥳"
## 👇🏽  What is this issue about? Give as much detail as you can.

Closing #1057 since that vote passed and this is a separate part now.

@Zeptimus - assigning to you, right?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have

[2021-11-17 17:21] tamarandom commented on #1057
Since this vote passed, closing. Opened #1086 to track the multisig nomination vote.

[2021-11-17 17:21] #1057 closed, assigned to Zeptimus

[2021-11-17 17:54] tamarandom opened #1087 "WG Funding proposals"
## 👇🏽  What is this issue about? Give as much detail as you can.

Epic for all the WG funding proposals

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issu

[2021-11-17 17:58] Ionneto commented on #995
Just fell in here by coincidence when looking for some sesh info, being using it for some months now in communities I manage and can tell you that I haven't found a single better tool for this goal, even discord events ain't nowhere close to it yet.

Reach me as Zeugh#0001 on disc if you need any help with it

[2021-11-17 17:59] Ionneto commented on #1079
[statbot ](https://statbot.net/) has shown itself to be the best one for me so far, premium version pretty complete for discord data

[2021-11-17 20:33] tamarandom opened #1088 "Weekly adding Discord Events for upcoming TEC calendar"
## 👇🏽  What is this issue about? Give as much detail as you can.
We tested out Discord events and it's working pretty well for us. Right now, it does not support recurring meetings but @Zeptimus volunteered to take on populating the Events. Eventually Discord should add new functionality and then it won't need to be done manually.

## ✨  What does success look like? (i.e., the criteria to meet to

[2021-11-17 20:38] tamarandom commented on #995
Hey @ionneto That's great! The main issue we ran into testing it out was the posting on the channel immediately after the end of the call. It looks like scheduling the posting on a channel (for example, an hour before the call starts) is on their roadmap but not available yet.

[2021-11-17 20:55] tamarandom commented on #1088
Hey @ZarMarquez I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2021-11-17 20:55] tamarandom commented on #957
Phew! https://forum.tecommons.org/t/communitas-wg-3-month-funding-proposal/706

[2021-11-17 20:55] #957 closed, assigned to tamarandom

[2021-11-17 21:25] Zeptimus commented on #1079
Hey Ionneto  for now we are using the stats that discord give it self for free and this is the result. [https://app.zenhub.com/files/306706322/b755cd26-3ae8-43e0-9f84-5557c2161ac5/download](https://app.zenhub.com/files/306706322/b755cd26-3ae8-43e0-9f84-5557c2161ac5/download)

What would be the benefits of using statbot instead? Thanks for sharing and would love to see you on a transparency call to

[2021-11-17 22:09] ZarMarquez commented on #1088
Hi @tamarandom. I don't have access to create events at TEC since I'm just a member. Does discord allow temporary mod access to the calendar feature only?

[2021-11-17 22:14] tamarandom commented on #1088
Try now. Created role for creating events perms.

[2021-11-18 08:57] Ionneto commented on #995
I'm not really sure what you mean by that. In JuiceboxDAO we have a specific events channel where it has all the upcoming agenda and it always has the last message being the full list of events, then anyone can click any of the links and RSVP to the event they want.

Not ideal maybe, and not in the best possible place, but the !link option that connects it to google agenda kind of solves it for ev

[2021-11-18 09:00] Ionneto commented on #1079
Would gladly jump in a call with you guys, really admire the work you're doing. following quietly from my corner of DAO world.

I think statbot is way more complete than the ones that discord gives, you can access their site and see an example it shows you.

They have member and channel message counters, voice timers, join and leave of members broken down by the hour and some bit more flavor to br

[2021-11-18 09:01] tamarandom commented on #995
I went to have a look. Like this....right? Yeah, we may have to deprioritize the call reminders on the channel itself. Thanks for chiming in, @Ionneto, really appreciate hearing this feedback!
![Screen Shot 2021-11-18 at 10 00 28 AM](https://user-images.githubusercontent.com/703624/142384003-f235bcd0-f145-4598-8520-903988ddfd3e.png)

[2021-11-18 09:55] kristoferlund opened #1089 "Rewards WG startup"
## 👇🏽  What is this issue about? Give as much detail as you can.

The last two months we have been running a project for upgrading the TEC rewards system, making it ready for prime time after the Commons Upgrade.   We have also been planning to start a Rewards Committee responsible for managing the rewards budget, facilitating the bi-weekly quantifications, etc.

We believe it is a good idea to me

[2021-11-18 09:59] kristoferlund opened #1090 "Write Rewards WG manifesto"
## 👇🏽  What is this issue about? Give as much detail as you can.

The Rewards WG will steward the periodic reward quantifications.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. The WG manifesto should cover all responsibilities previously described in the following docs:
[🔗  The SourceCred committee proposal](https://forum.tecommons.org/t/sourcecred-co

[2021-11-18 10:00] kristoferlund opened #1091 "Write the Reward WG roadmap"

[2021-11-18 10:02] kristoferlund opened #1092 "Create a forum category and write a post announcing the WG"

[2021-11-18 10:10] kristoferlund opened #1093 "Add WG info to GitBook"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?
https://token-engineering-commons.gitbook.io/te

[2021-11-18 10:11] kristoferlund opened #1094 "Create a Discord voice channel for WG"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-18 10:14] kristoferlund opened #1095 "Create WG logo / banners"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about this iss

[2021-11-18 10:29] kristoferlund opened #1096 "Website & GitBook link cleanup"
## 👇🏽  What is this issue about? Give as much detail as you can.
We have two GitBooks:

TEC Source: https://token-engineering-commons.gitbook.io/tec-source/
TEC Handbook: https://token-engineering-commons.gitbook.io/tec-handbook/

Problem: Linking to `app.gitbook.com/@token-engineering-commons...` takes you to the login page instead of the handbook public url.

Links need to be corrected on both g

[2021-11-18 14:45] kristoferlund commented on #1014
Closed in favour of #1090

[2021-11-18 14:45] #1014 closed, assigned to mateodaza

[2021-11-18 15:00] kristoferlund commented on #1013
Closed as rewards committee is being transformed to a WG.

[2021-11-18 15:00] kristoferlund commented on #1013
Closed as rewards committee is being transformed to a WG.

[2021-11-18 15:00] #1013 closed, assigned to mateodaza

[2021-11-18 15:04] #1016 closed, assigned to mateodaza

[2021-11-18 15:04] kristoferlund commented on #1016
Funding comes by way of the initial buy-in.

[2021-11-18 15:05] kristoferlund commented on #944
Process for deciding quantification params remains to be decided.

[2021-11-18 15:05] #944 closed, assigned to mateodaza

[2021-11-18 15:08] kristoferlund opened #1097 "First quant - preparations and execution"
See notion for details: https://www.notion.so/fmckl/Preparations-for-first-quant-df927dd3bff140b59588e9975c1a0a5a

[2021-11-18 15:11] #1017 closed, assigned to mateodaza

[2021-11-18 15:11] kristoferlund commented on #1017
Planning for first quant moved to other issue.

[2021-11-18 15:12] #1049 closed, assigned to nobody

[2021-11-18 18:39] kristoferlund commented on #937
Replaced by #1097

[2021-11-18 18:39] #937 closed, assigned to nobody

[2021-11-18 18:46] kristoferlund opened #1098 "1Hive pollen bot for SC admin tasks"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about this iss

[2021-11-18 18:47] kristoferlund opened #1099 "SourceCred Twitter bot"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about this iss

[2021-11-18 19:03] kristoferlund opened #1100 "Recruit quantifiers for quant #1"
## 👇🏽  What is this issue about? Give as much detail as you can.

Recruit and onboard the quantifers for first quant post Commons Upgrade.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or d

[2021-11-19 06:48] graial commented on #1100
I dont know if id qualify as a quant at my current membership level but I would certainly be interested in sitting in on the process to observe in order to better understand the workflow and decision making process

This would help us develop our use cases.

[2021-11-19 08:02] kristoferlund opened #1101 "Forum post: The Quantifier role"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about this iss

[2021-11-19 12:14] Zeptimus commented on #1088
I created events for today, should i step ahead and add next week too? The app let me create events until nov 30

[2021-11-19 12:44] tamarandom commented on #1088
YES! Thank would be awesome, @Zeptimus !! TYSM

[2021-11-21 17:09] tamarandom opened #1102 "Video of param party hosted on Gticoin"
## 👇🏽  What is this issue about? Give as much detail as you can.

@GriffGreen shared this. It is a very good params party. What can we do with it? @Zeptimus can we somehow add it to our YouTube? @chuygarcia92 do we want to promote this more?

https://www.youtube.com/watch?v=wd5krPdr7WA&t=2985s

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍

[2021-11-21 23:27] Zeptimus commented on #1102
https://www.youtube.com/watch?v=-CRK55bO6es I edited the call the explanation of why TEC its at the begining and then the param party

[2021-11-22 12:22] eduardovegap commented on #1044
Working document: https://docs.google.com/document/d/1y4kaZM5nWypg1iVf4m-7yvv5BDB6odxwrhpnqGsX0ZE/edit

[2021-11-22 16:14] Zeptimus opened #1103 "Update TEC soft gov decision tracking"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-22 20:03] tamarandom opened #1104 "Discord integrations with Hubspot? Surveys in Hubspot?"
## 👇🏽  What is this issue about? Give as much detail as you can.
Recommendation from Durgadas.
He looped @Vyvy-vi and @ZarMarquez into the mix.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
Durgadas

##

[2021-11-22 20:04] tamarandom opened #1105 "Calendly for Orientation 1-1's"
## 👇🏽  What is this issue about? Give as much detail as you can.
9:01 PM] Vyvy-vi: I'm wondering, if we can maybe set up a shared version of Calendly for Orientation Guides
[9:01 PM] Vyvy-vi: :D I set one up for my use, and it's awesome! - https://calendly.com/vyvy-vi

This. 👆  😁

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who s

[2021-11-24 16:42] tamarandom opened #1106 "Discord discord.tecommons.org to a discord invite"
## 👇🏽  What is this issue about? Give as much detail as you can.
Update https://discord.tecommons.org/ to redirect to a discord invite.

@Vyvy-vi has some ideas on how to do this with Cloudflare (which we are not currently using).

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
- [ ] `https://discord.tecommons.org/` redirects to an invite for our discord se

[2021-11-24 16:58] mcsmith89 opened #1107 "Create avatar for Discord 'your-guide' bot."
## 👇🏽  What is this issue about? Give as much detail as you can.
We would like to have a TEC branded avatar for the 'your-guide' bot.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. An avatar that helps the guide feel branded to the TEC experience.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue.

[2021-11-24 17:02] tamarandom opened #1108 "Using Announcements on Discord"
## 👇🏽  What is this issue about? Give as much detail as you can.
To/From Commons Stack, Token Engineering, Giveth, etc... (let's make the full list)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗

[2021-11-25 13:33] tamarandom commented on #1023
Launched! Closing this issue now.

[2021-11-25 13:33] #1023 closed, assigned to gideonro

[2021-11-25 13:34] tamarandom commented on #1010
Launched yesterday. Closing this issue!

[2021-11-25 13:34] #1010 closed, assigned to Vyvy-vi

[2021-11-25 13:35] tamarandom commented on #995
We're going to pause on sesh.fyi and use Discord events. @Vyvy-vi are there any server side actions to make needed to disable or delete sesh? Let's do it then close this!

[2021-11-25 13:43] #880 closed

[2021-11-25 14:59] tamarandom commented on #1073
Setup with Vy.

![Screen Shot 2021-11-25 at 3.57.20 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/dada5910-d887-4292-ae19-2d1f68f316b0)

[2021-11-25 14:59] #1073 closed, assigned to Vyvy-vi

[2021-11-25 15:07] tamarandom commented on #1108
@Vyvy-vi and I setup the one for Commons Stack and Giveth.

TE discord doesn't have an Announcements channel. Closing this for now. Any others can be setup but we just need to know which ones and add them to the Ecosystem section.

[2021-11-25 15:07] #1108 closed, assigned to nobody

[2021-11-25 15:08] tamarandom commented on #995
@Vyvy-vi kicked the bot. Solved.

[2021-11-25 15:08] #995 closed, assigned to Vyvy-vi

[2021-11-25 15:09] tamarandom commented on #1069
Update: won't do this. @Vyvy-vi will deploy on the new bot. Clsoing.

[2021-11-25 15:09] #1069 closed, assigned to Vyvy-vi

[2021-11-25 15:12] #1071 closed, assigned to geleeroyale

[2021-11-25 15:12] tamarandom commented on #1071
@Vyvy-vi confirmed he has access. All is good. Closing.

[2021-11-25 16:15] JuankBell commented on #1056
Done! :)

[2021-11-25 16:15] #1056 closed, assigned to JuankBell

[2021-11-25 16:16] JuankBell commented on #920
@Razga reviewed it :) https://gitcoin.co/grants/3951/gravity-conflict-management-dao grant inactive but will start for round 12

[2021-11-25 16:21] JuankBell commented on #971
List of Gravitons for the second cohort TBA. Idea about minting a special poap for 1st and 2nd gen of gravitons.

[2021-11-25 17:07] liviade1 opened #1109 "make reward wg manifesto"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@ https://docs.google.com/document/d/1NTElbsIUf9_ov0Z9PyRX9y0zVRII04_551XyT9x5HqY/edit#

##

[2021-11-25 17:07] #1109 closed, assigned to liviade1

[2021-11-25 17:08] liviade1 commented on #1090
https://docs.google.com/document/d/1NTElbsIUf9_ov0Z9PyRX9y0zVRII04_551XyT9x5HqY/edit#

[2021-11-25 17:08] #1090 closed, assigned to liviade1

[2021-11-25 19:53] tamarandom opened #1110 "Boardroom did not update the new lasertag snapshot vote ;("
## 👇🏽  What is this issue about? Give as much detail as you can.
Does anyone know how the snapshot to Boardroom sync work or why it might have failed here?
This one has 11 :
![Screen Shot 2021-11-25 at 8.50.52 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/ba025f02-093d-4909-88ca-8a659088d51b)

And the NEW snapshot has 10:
![Screen Shot 2021-11-25 at 8.52.33 PM.png](https://

[2021-11-26 06:08] Ekeneodigwe commented on #1108
I am wondering If the Commons Stack and Giveth announcement channels have been set up shouldn't the cross posting should  be viable? I am thinking so because the testing this announcement channel message @tamarandom did on Commons Stack Server was not seen on Giveth Server

[2021-11-26 07:02] tamarandom commented on #1108
To be more clear this time, ;) @Ekeneodigwe

TEC <--> Commons Stack
TEC <--> Giveth

[2021-11-26 14:40] iviangita commented on #882
Closing this issue as we opened a new one: https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/1077

Since only few people join the Legal bi-weekly calls and we don't have any legal expert in the group yet, we will bring the discussion to the forum so more people can engage in the discussion and get more insights.

[2021-11-26 14:40] #882 closed

[2021-11-26 14:41] iviangita commented on #1077
Related zenhub issue: https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/882

[2021-11-26 15:35] tamarandom commented on #1050
Updated with the new evolution of terms and on/off-boarding process. This is a first draft and will go into advice process with the Stewards WG in the next Sprint.
https://docs.google.com/document/d/1cqdURiW7Qv50J_Ha9FLr9IvdqnZGuhlsffL6O1ivHnA

[2021-11-26 15:35] #1050 closed, assigned to tamarandom

[2021-11-26 15:48] divine-comedian opened #1111 "Mint tokens for new Reward Board"

[2021-11-26 15:49] divine-comedian opened #1112 "Burn tokens for inactive members"

[2021-11-26 15:51] divine-comedian commented on #1040
Livia made a great point that we have an existing Rewards DAO so for the sake of simplicity we could use this same DAO - it seems to have all the required apps and the current voting settings seem reasonable:

Quorum is 41% - so at least 3 people have to vote on every round
Support required is 81% - so 1 person can block a vote if up to 4 people are voting, and 2 people can block the vote in any s

[2021-11-26 15:57] divine-comedian commented on #1111
We'll need a clear list of Reward Board members who will participate in the voting processes required in the DAO and then mint 1 DAO token for each of them.

[2021-11-26 16:05] tamarandom commented on #844
Posted on the Forum. https://forum.tecommons.org/t/steward-wg-3-month-funding-proposal/713

[2021-11-26 16:05] #844 closed

[2021-11-26 16:29] iviangita commented on #243
Work in progress: https://docs.google.com/document/d/118ZLdlE7DoenME3c_IaZ4SWHqHsUkumA681ZYRNnjBY/edit?usp=sharing

Last comment from Shawn: I think the biggest thing the document is missing is a better delineation between "hey if you want to delete your comments off Discord and you can, go ahead" versus "hey you helped draft the Terms & Conditions and you can't just take that back because the com

[2021-11-26 16:33] Zeptimus commented on #1103
close, https://docs.google.com/spreadsheets/d/12_PK_G9-gGxPOm-mdl5dlfdh9GSZGuI5gkTLkWlfNcY/edit#gid=0

[2021-11-26 16:40] divine-comedian opened #1113 "Complete the First Quantification of the New Rewards System"
## 👇🏽  What is this issue about? Give as much detail as you can.
We'll need to prepare the Reward Board WG for performing the first quantification as well as recruit and train our Quantifiers. This epic is to track all the resources and issues around completing this first quant by quantifiers

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Quantifiers un

[2021-11-26 16:41] iviangita opened #1114 "Revoking access to TEC platforms"
## 👇🏽  What is this issue about? Give as much detail as you can.
After posting the proposed process for offboarding credentials on the [forum](https://forum.tecommons.org/t/tec-offboarding-credentials-and-access/699) and no one objects, we will proceed with the process of revoking access of inactive contributors to TEC platforms.

## ✨  What does success look like? (i.e., the criteria to meet to c

[2021-11-26 16:42] divine-comedian opened #1115 "Create Onboarding Process for Quantifiers"

[2021-11-26 16:42] divine-comedian opened #1116 "Recruit Quantifiers"

[2021-11-26 16:45] iviangita opened #1117 "Medium and Youtube analytics"
## 👇🏽  What is this issue about? Give as much detail as you can.
Monitor and make a monthly report of Medium and Youtube analytics

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links o

[2021-11-26 16:49] iviangita commented on #1117
Closing this one, sorry! We keep the original issue and make it repeating: https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/1041

[2021-11-26 16:49] #1117 closed, assigned to iviangita

[2021-11-26 16:56] iviangita opened #1118 "Check the requirements/needs to get Dune analytics set up"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-26 17:00] iviangita opened #1119 "Update/revise the Transparency Audit forum post"
## 👇🏽  What is this issue about? Give as much detail as you can.
Some things are unclear about the new audit process, so we will revise the forum post. https://forum.tecommons.org/t/transparency-audit-report-a-new-approach/673

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who shoul

[2021-11-26 17:02] iviangita commented on #1065
Closing this! Handed over my Twitter duties as well as the repeating tweet document to @Razga :)

[2021-11-26 17:02] #1065 closed, assigned to iviangita

[2021-11-26 17:03] #1070 closed, assigned to eduardovegap

[2021-11-26 17:03] eduardovegap commented on #1070
done.

[2021-11-26 17:03] eduardovegap commented on #1026
Done.

[2021-11-26 17:03] #1026 closed, assigned to eduardovegap

[2021-11-26 17:07] tamarandom commented on #1072
Closing for the MVP which is launchd already. We can continue to improve in future iterations.

[2021-11-26 17:07] #1072 closed, assigned to tamarandom

[2021-11-26 17:10] tamarandom commented on #1020
We've been tracking these critical pieces of work and the key dates for debates and votes. With the extension on the table, we will need to revise those dates over the course of this Sprint.

Demo with feedback #834
Covenant #849
LASERTAG multisig (pending quadratic rank choice voting) #1086
Final params (Voting primaries & runoff)
Legal T&C (needs the final parameters to be voted in first) #245 &

[2021-11-26 17:10] JuankBell opened #1120 "Gain momentum in Gravity Wg calls"
Now that the graviton training is finalized, we need to retake coordination activities in the working group, so much things to do.

## 👇🏽  What is this issue about? Give as much detail as you can.

Since Gravity is not only conflict mediation but also continued learning, this issue involves nurturing, or following-up, on the ideas dealing with the creation of book clubs, role plays, and research g

[2021-11-26 17:11] #599 closed

[2021-11-26 17:11] tamarandom commented on #1076
This is the basis for the checklist but is there more? What else are we missing? Creating the voter pamphlets, is one.

Demo with feedback #834
Covenant #849
LASERTAG multisig (pending quadratic rank choice voting) #1086
Final params (Voting primaries & runoff)
Legal T&C (needs the final parameters to be voted in first) #245 & #246
(important, not blocking) WG funding proposals Epic #1087

[2021-11-26 17:13] tamarandom commented on #1053
Process covered in the proposal. https://forum.tecommons.org/t/steward-wg-3-month-funding-proposal/713
For custody, a multisig that will be created for this purpose with members of the WG.

[2021-11-26 17:13] #1053 closed, assigned to tamarandom

[2021-11-26 17:14] tamarandom opened #1121 "Stewards WG funding: create multisig"
## 👇🏽  What is this issue about? Give as much detail as you can.
Timing: It will need to be done before we submit the proposal for funding.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are ther

[2021-11-26 17:19] tamarandom opened #1122 "host a params party"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-26 17:21] chuygarcia92 commented on #1074
the W8 form was sent and my address confirmed. I'll share the tx here when I get the funds to check next steps.

[2021-11-26 17:30] tamarandom commented on #849
After @liviade1 has the updated covenant, it should be looked at by Legal before going to community  vote.

[2021-11-26 17:37] chuygarcia92 commented on #922
Updated document:
https://docs.google.com/spreadsheets/d/1DsjlaW1wBDjBw3OimNrqMvfjwdaGcVWpgMxiAcY3AtE/edit?usp=sharing

[2021-11-26 17:38] tamarandom commented on #1084
I volunteer!

[2021-11-26 17:39] chuygarcia92 commented on #1039
this was updated with temporary but valid information while the new documentation is ready along with the funding proposal

[2021-11-26 17:46] tamarandom commented on #1028
With the orientation videos now on YouTube, we can close this.

[2021-11-26 17:46] #1028 closed, assigned to nobody

[2021-11-26 17:48] tamarandom commented on #1019
Idea: the new dates would be a good forum post to convert to a medium post.

[2021-11-26 17:48] chuygarcia92 commented on #140
requesting help from a TEC Discourse admin to grant "Steward" badges
do you know if design is needed @Vyvy-vi? @acidlazzer might already have something that could work :)

[2021-11-26 17:49] eduardovegap opened #1123 "New deck for Orientation."
We need to improve the presentation we provide on the orientation call.

We are using the current document as reference.

## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those w

[2021-11-26 17:51] tamarandom opened #1124 "Hatcher outreach for params, encourage participation"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-26 17:54] eduardovegap commented on #1124
@acidlazzer can we have the list of attending for Poaps? :D

[2021-11-26 17:55] tamarandom commented on #1086
On snapshot! Clsoing.

[2021-11-26 17:55] #1086 closed, assigned to Zeptimus

[2021-11-26 17:55] acidlazzer commented on #1124
Param parties attendees list! https://docs.google.com/spreadsheets/d/1SgGDSTG6dDqH3qqOD9nazp73upLRbXi4HZMSAVfsFZE/edit?usp=sharing

[2021-11-26 17:56] chuygarcia92 commented on #1054
still doing local (TEC Discord server) params parties next week, other communities were a success last week!

[2021-11-26 17:56] acidlazzer commented on #1123
Working on that! <3

[2021-11-26 18:05] tamarandom commented on #1102
Closing. @Zeptimus will make it the feature video for the next few weeks.

[2021-11-26 18:05] #1102 closed, assigned to nobody

[2021-11-26 18:06] tamarandom commented on #1110
Update: known issue with Boardroom which is currently manually updating once a week.

[2021-11-26 18:06] #1110 closed, assigned to nobody

[2021-11-26 18:34] #1081 closed, assigned to liviade1

[2021-11-26 18:37] liviade1 opened #1125 "add reward wg manifesto to the gitbook and to the community call slides"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-26 18:40] liviade1 opened #1126 "schedule a call with catarina and acid lazer to integrate feedback for the visuals"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-26 18:41] liviade1 opened #1127 "finish snapshot config with pedro"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-26 18:42] tamarandom opened #1128 "Community survey about improving the Community call"
## 👇🏽  What is this issue about? Give as much detail as you can.
@ZarMarquez created the form and this issue is to track and plan next steps.

Purpose: to create a survey that captures action-oriented data for our Community Calls. This data will be used to improve our calls and the user/member experience.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. A

[2021-11-26 18:45] tamarandom opened #1129 "Extension of voting period, new dates"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-11-26 21:57] Vyvy-vi commented on #140
Some custom design would be really cool!

[2021-11-28 20:02] acidlazzer commented on #1123
Presentation ready! :) https://docs.google.com/presentation/d/1n7W9zaamNxjDPRpd7s7gW8LSbiwcuej1BWmi0xuRO08/edit?usp=sharing

[2021-11-29 09:09] #1093 closed, assigned to nobody

[2021-11-29 09:21] kristoferlund commented on #1116
Duplicate of #1100

[2021-11-29 09:21] #1116 closed, assigned to nobody

[2021-11-29 12:57] #1094 closed, assigned to Vyvy-vi

[2021-11-29 12:57] Vyvy-vi commented on #1094
Voice Channel created.

[2021-11-29 16:22] iviangita commented on #1043
We have updated the funding proposal, but still confirming the number of hours for setting up Dune analytics - @Zeptimus is on top of it

https://docs.google.com/document/d/1FrCvZz_otDLVop2nFGkRveTNz84hME-40KP-FEQNfso/edit?usp=sharing

[2021-11-29 16:26] iviangita commented on #1119
Status: we finished revising, getting feedback from @natenatesoo

https://docs.google.com/document/d/1IgG94l6cCO3d0Zrfsi6ucUEp99A96P_s2uOTQhmB-Tc/edit?usp=sharing

[2021-11-30 09:01] kristoferlund opened #1130 "Clean pollen bot from 1hive content"
## 👇🏽  What is this issue about? Give as much detail as you can.
Re-brand the pollen bot to make it look and feel TEC

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. No mention of "pollen" or "1hive"
2.
3.

[2021-11-30 09:02] kristoferlund opened #1131 "Clean pollen bot from 1hive content"
## 👇🏽  What is this issue about? Give as much detail as you can.
Re-brand the pollen bot to make it look and feel TEC

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. No mention of "pollen" or "1hive"
2.
3.

[2021-11-30 09:06] kristoferlund opened #1132 "Setup Discord plugin for TEC SourceCred so we can use data from the meeting tracker bot"
## 👇🏽  What is this issue about? Give as much detail as you can.
We need to have the Discord plugin configured for the TEC SourceCred instance. Meeting tracker bot will most likely need it, the 1hive pollen bot will maybe need it.

But, we don't want the plugin top track any channels or generate any cred or grain.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue d

[2021-11-30 09:18] kristoferlund opened #1133 "Move pollen bot repositories to the TEC GitHub"
## 👇🏽  What is this issue about? Give as much detail as you can.
Three repositories need to be moved:
1. Pollen bot
2. Onboarding script
3. Cred fetcher

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Repos moved :)
2.
3.

[2021-11-30 13:21] kristoferlund commented on #1048
Replaced by #1098

[2021-11-30 13:21] #1048 closed, assigned to Vyvy-vi

[2021-11-30 13:26] kristoferlund commented on #1130
Duplicate of #1131

[2021-11-30 13:26] #1130 closed, assigned to Vyvy-vi

[2021-11-30 13:37] kristoferlund opened #1134 "Describe how the Reward Board works in detail"
## 👇🏽  What is this issue about? Give as much detail as you can.

Details such as:
- How to join
- How to leave
- What votes are being conducted
- What funds are being managed
- The quantification review process
- etc.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. A doc and a forum post describing the inner workings of the Reward Board
2.
3.

##  Who s

[2021-11-30 17:00] hozzjss commented on #1133
I don't think i can edit this issue so i'll write here that i have moved all three repos here

https://github.com/CommonsBuild/pollen-cred-fetcher
https://github.com/CommonsBuild/pollen-bot
https://github.com/CommonsBuild/pollen-onboarding

[2021-12-01 13:50] mcsmith89 commented on #1107
I think this looks great @acidlazzer i submitted to @Vyvy-vi and if we are good with it I will close issue.

[2021-12-01 14:30] kristoferlund commented on #1133
Great, closing this issue then!

[2021-12-01 14:30] #1133 closed, assigned to hozzjss

[2021-12-01 14:32] kristoferlund commented on #1094
Thanks!

[2021-12-01 17:15] tamarandom opened #1135 "Steward 6-month terms process and timeline"
## 👇🏽  What is this issue about? Give as much detail as you can.
Prepare and plan this. First one should probably happen in end January.

Terms
The Stewardship term is 6 months.
There will be two affirmation windows per year. At that time, all Stewards who wish to continue in their role will post a message of commitment on the Forum (where is tbd!). (*This has yet happened. The first of these will

[2021-12-01 17:16] tamarandom commented on #938
Update:

Channel list = done
Guide-bot = done
Survey = in progress

@Vyvy-vi any blockers on the survey I can help with?

[2021-12-02 14:14] Vyvy-vi commented on #938
Survey has also been completed.
However, it isn't entirely integrated into the Guide-Bot, for now...

[2021-12-02 14:14] #938 closed, assigned to Vyvy-vi

[2021-12-02 14:29] divine-comedian commented on #1040
JK here is the new reward board with proper tokens minted

https://xdai.aragon.blossom.software/#/rewardboardtec/

[2021-12-02 16:14] divine-comedian commented on #1112
new board is created

https://xdai.aragon.blossom.software/#/rewardboardtec/

no need to burn

[2021-12-02 16:14] #1112 closed, assigned to nobody

[2021-12-02 16:15] divine-comedian commented on #1111
DONE!
![image](https://user-images.githubusercontent.com/67759413/144460188-c5a4db93-6b93-43cf-b174-0fec7b81ebec.png)

https://xdai.aragon.blossom.software/#/rewardboardtec/0x4fa865e524512b8007c1d63125f476bffe5e8e85/

[2021-12-02 16:15] #1111 closed, assigned to nobody

[2021-12-02 16:30] tamarandom commented on #1111
Excellent!!!

[2021-12-02 16:56] divine-comedian commented on #1134
huge updates in the original notion doc - please review

https://www.notion.so/Reward-Board-Requirements-and-Guidelines-2766d6ca769f4c1daa6bca6e58860326

[2021-12-02 18:53] tamarandom opened #1136 "Recruit new guides & onboard them!"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-03 16:12] divine-comedian commented on #1101
@Zeptimus  to create thorough onboarding tutorial with text/images adding to current onboarding doc @mcsmith89  to assist

current doc - https://docs.google.com/document/d/1I7OZrkGZaHUCQ1Ji-4B0DGWoHK1slECzoXQLvzCV_YM/edit?usp=sharing

[2021-12-03 16:21] divine-comedian opened #1137 "Create Quant Review Call agenda"
We've decided to remove the power from the reward board to modify the reward distribution - instead we will have a collaborative review process when all quantifiers have finished their praise assigned. There will be a synchronous call with all quantifiers that can attend and a couple reward board members. Some rough notes around the objectives for this call:

Final Quant Review:
- objectives of fi

[2021-12-03 16:23] divine-comedian commented on #1137
document started here - https://hackmd.io/I0_ESWd7SC6yCU3aJ4nIgA

[2021-12-03 16:27] divine-comedian opened #1138 "Create animated tutorial for quantifiers"
## 👇🏽  What is this issue about? Give as much detail as you can.
Chuy mentioned he will have an animation team in comms and a great project for them will be to make a animated guide on how to use the reward system dashboard as a quantifier

We'll need to define the objectives of the video and work with comms to produce this video - realistically this work won't start until sometime in january so t

[2021-12-03 19:32] GriffGreen opened #1139 "Add our MVV to the website replacing the outdated mission"
## 👇🏽  What is this issue about? Give as much detail as you can.

The Mission on the website is different than the in the gitbook 😱

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. The website matches our content in the gitbook
2. Bonus points for doing a website vs gitbook content review

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People w

[2021-12-04 06:04] luisotravez commented on #8
Hey is there any way I can help with this? Sounds awesome!

[2021-12-06 09:42] kristoferlund commented on #1138
Good idea!

[2021-12-06 09:47] kristoferlund commented on #1101
Great to see work started on this!

[2021-12-06 09:49] kristoferlund commented on #1040
@divine-comedian  Is this the DAO with 24h vote period?

[2021-12-06 10:20] kristoferlund opened #1140 "create a #quantifier-support channel for reward board WG to assist quantifiers"

[2021-12-06 12:10] kristoferlund opened #1141 "Create Discord scheduled event for Rewards WG"

[2021-12-06 12:26] divine-comedian commented on #1040
now, yes

[2021-12-06 16:29] divine-comedian commented on #1140
Where should we put this? under Working Groups or in the Community category? I would think that community would be better

[2021-12-07 12:56] Vyvy-vi commented on #1140
Should this channel be restricted to be specifically for quantifiers and Reward Board WG?

[2021-12-07 13:34] divine-comedian commented on #1140
I think its safe to make it unrestricted - we can pin resources for people who are interested in becoming a quantifier - if it becomes a problem we can add restrictions later

[2021-12-07 13:41] #1040 closed, assigned to mateodaza, divine-comedian

[2021-12-07 16:36] Vyvy-vi commented on #1107
:D Awesome icon -

![icon for the onboarding bot, smiling robot with a tec logo](https://cdn.discordapp.com/attachments/910937345312850020/914957729334968320/unknown.png)

[2021-12-07 16:36] #1107 closed, assigned to acidlazzer

[2021-12-07 19:40] mcsmith89 commented on #1101
@Zeptimus happy to connect soon around this - will follow-up in Discord too.

[2021-12-08 09:10] natenatesoo commented on #1085
Yes. I have a blueprint for it which will include the Advice Process and decision-making methods.  However, do we have established rules around Snapshot voting (how many days should a vote be open for, and the use of proposal templates, etc.)?

[2021-12-08 09:11] natenatesoo commented on #8
@luisotravez are you in the TEC Discord?  DM me if possible.

[2021-12-08 13:35] Zeptimus commented on #1101
I polished it a bit https://docs.google.com/document/d/1I7OZrkGZaHUCQ1Ji-4B0DGWoHK1slECzoXQLvzCV_YM/edit there are some questions that we could do the advice process on the call before posting for advice process in the community i won't be able to attend today but i left some questions that i would love some input

We missing some pictures @kristoferlund  could you grab them from the dashboard and

[2021-12-08 19:04] #1092 closed, assigned to liviade1

[2021-12-08 19:04] #1091 closed, assigned to liviade1

[2021-12-09 03:49] luisotravez commented on #8
I am! What's your username? I'm going to write in the Comms channel

[2021-12-09 08:18] natenatesoo commented on #8
@natesuits on discord.

[2021-12-09 16:14] mcsmith89 opened #1142 "Review of praise channel messages"
## 👇🏽  What is this issue about? Give as much detail as you can.
We are looking to perform a sample audit of the message within the praise channel on Discord. The goal is to look for any inconsistencies in the data making sure everyone was picked up by the praise bot etc. The initial prompt for this review is the praise bot not marking confirmation for Juankbell.

## ✨  What does success look like

[2021-12-10 14:20] eduardovegap commented on #1088
are you Ok @Zeptimus with keep doing this? Just checking if you want relief from this :D

[2021-12-10 14:20] eduardovegap commented on #1124
we can use this issue to outreach top TH.

[2021-12-10 14:21] eduardovegap commented on #1123
done.

[2021-12-10 14:21] #1123 closed, assigned to acidlazzer

[2021-12-10 15:17] divine-comedian opened #1143 "Create Automated template for Distribution Reports"
![image](https://user-images.githubusercontent.com/67759413/145597618-14e13ede-1e08-4aac-82bc-796f01a2c9e3.png)

[2021-12-10 16:30] tamarandom commented on #1103
Hey @liviade1 @Zeptimus I just took off the "repeating" tag on this issue so it stays closed!

[2021-12-10 16:36] #1067 closed, assigned to iviangita

[2021-12-10 16:36] iviangita commented on #1067
Pablo (PabloA#7958) is on board! :D

[2021-12-10 16:36] Zeptimus commented on #1103
hey @tamarandom  its actually going to happen continously since we are taking decisions every period of time

[2021-12-10 16:46] tamarandom opened #1144 "Brainstorm new content focused on Stewarding"
## 👇🏽  What is this issue about? Give as much detail as you can.
Not sure what this looks like yet but want to brainstorm Steward interviews or spotlight or articles. Something to share some of the knowledge and culture with other communities that are looking to implement same or similar. Share some lessons learned, rituals, coordination tooling. TBD.

## ✨  What does success look like? (i.e., the

[2021-12-10 16:49] tamarandom commented on #1046
There is a call with TE Academy to talk our discords on Dec 15 at 3pm CET.

@Vyvy-vi @mcsmith89 @eduardovegap @natenatesoo (prob to early for you!) : any of you can make it?

[2021-12-10 16:51] tamarandom commented on #1103
ok, raised it from the dead. 🧟

[2021-12-10 16:54] tamarandom opened #1145 "Retro action: Rally our top token holders to come to debates"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-10 16:55] tamarandom opened #1146 "Retro action: Find support for gravity!"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-10 16:55] tamarandom opened #1147 "Retro action: Assign a buddy for new contributors."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-10 17:00] iviangita commented on #849
Pablo (new legal contributor) will review the Covenant over the weekend and give his feedback if it's ready to proceed with the community vote. Bringing this to next sprint!

[2021-12-10 17:02] iviangita commented on #246
WIP -  https://docs.google.com/document/d/1BltyTWMCkyJZktdEZu7o7hM1vI8v_JJmqhX74LNGNFM/edit?usp=sharing

[2021-12-10 17:04] tamarandom commented on #849
Excellent!

[2021-12-10 17:09] JuankBell opened #1148 "Make a Graviton get together :)"
## 👇🏽  What is this issue about? Give as much detail as you can.
Have a meetup where Gravitons can share and sync with Gravity's next steps.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Continue engagement after the Graviton training
2. Promote engagement for responsibilities regarding Gravity's development
3. Cool networking

## 🧍🏻‍♀️🧍🏻‍♂️  Who shoul

[2021-12-10 17:11] tamarandom commented on #1012
Wondering whether this can be a "survey on the forum" instead of a survey that is sent out. We did not get  many results for the community call survey (9 responses). We might have better results on the forum.

[2021-12-10 17:14] tamarandom opened #1149 "Transparency of funding flows"
## 👇🏽  What is this issue about? Give as much detail as you can.
The idea is for Transparency to publish a set of guidelines of how each WG can make transparent their funding flows.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who wi

[2021-12-10 17:20] #585 closed

[2021-12-10 17:20] tamarandom opened #1150 "Gravity WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Finalize, publish on Forum
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Wh

[2021-12-10 17:20] tamarandom commented on #920
Woot!

[2021-12-10 17:20] #920 closed, assigned to JuankBell

[2021-12-10 17:23] tamarandom opened #1151 "TEC spotlight on 1hiveTV"
## 👇🏽  What is this issue about? Give as much detail as you can.
Working on this now... should be recording this next Sprint!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or doc

[2021-12-10 17:26] tamarandom commented on #1084
Process definition, active gravitons training session? This will be great!!

[2021-12-10 17:29] tamarandom commented on #1146
Update: starting with a hack session with @GriffGreen

[2021-12-10 17:34] #834 closed

[2021-12-10 17:34] #1029 closed, assigned to sembrestels

[2021-12-10 17:46] tamarandom opened #1152 "Checklist to retire Commons Swarm and Params WG"
## 👇🏽  What is this issue about? Give as much detail as you can.

Checklist to retire WGs:
[ ] website
[ ] discord
[ ] forum
[ ] presentation decks
[ ] github
[ ][ gitbook ](https://app.gitbook.com/o/-MRe_DImEWCFDsZ_TQd2/s/-MRe_M_mUIIB11A-MQyZ/cultural-components/working-groups)

Params: Ended 1/20
Commons Swarm: 2/15

## ✨  What does success look like? (i.e., the criteria to meet to call this iss

[2021-12-10 17:55] tamarandom commented on #1129
Closed. Forum posted.

[2021-12-10 17:55] #1129 closed, assigned to liviade1

[2021-12-10 17:56] tamarandom commented on #1128
What are the next steps here? Who would like to own this?

[2021-12-10 17:59] tamarandom commented on #1128
Thanks @ZarMarquez !!! Closing this now. @natenatesoo will be reaching out via dm to new ppl in the Community call right after the call.

[2021-12-10 17:59] #1128 closed, assigned to ZarMarquez

[2021-12-10 18:01] tamarandom commented on #1085
Let's check in on it this Sprint. Both @natenatesoo and I requested access to update the page but no news yet!!

[2021-12-10 18:05] GriffGreen opened #1153 "Create a "Challenger" Terms and Conditions"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@GriffGreen

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in th

[2021-12-10 18:11] GriffGreen opened #1154 "Fix the weird calculations in the Gardens front end in CV"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-10 18:12] GriffGreen opened #1155 "Add Terms and Conditions check box to the Proposals and Challenges boxes"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-10 18:16] mcsmith89 commented on #1142
@Vyvy-vi Feel free to DM me with a CSV of sample praise messages if you'd like? I can start to run a preliminary analysis on what exports if it helps out :)

[2021-12-10 18:18] tamarandom commented on #1139
Who can work on this? @kristoferlund do you have someone?? @chuygarcia92 ??

[2021-12-10 18:19] liviade1 opened #1156 "table for ostrom's principles in the TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-10 18:20] tamarandom commented on #1044
Good, closed! Woo.

[2021-12-10 18:20] #1044 closed, assigned to eduardovegap

[2021-12-10 18:24] natenatesoo opened #1157 "Continuation of the Community Call Survey"
## 👇🏽  What is this issue about? Give as much detail as you can.
Continue to gather information that will help guide and improve the structure of our Community Call.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Distribute survey for new members at each Community Call.
2. Continue to update the metrics and findings of the survey with Stewards.
3.

## 🧍

[2021-12-10 18:28] tamarandom commented on #1038
Since we moved to Events (native Discord) we aren't using these banners anymore. Closing

[2021-12-10 18:28] #1038 closed, assigned to acidlazzer

[2021-12-10 18:33] tamarandom opened #1158 "Bring awareness to the 0mega WG"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-10 18:36] tamarandom commented on #1158
looping in @natenatesoo who volunteered to write a medium article for this awareness effort.

[2021-12-10 18:42] tamarandom commented on #1046
and @Zeptimus ? ;)

[2021-12-10 18:43] GriffGreen commented on #1076
Legal has a bunch of T&Cs but the only one that is critical for the upgrade is the ABC... the CV related ones don't exist for most groups and is a lot lower risk than the ABC

[2021-12-10 21:16] mcsmith89 commented on #1046
What's the message and knowledge expectations to represent TEC on this @tamarandom? Right now that would be 09:00 my time, and it is highly likely I can attend :) (95% confidence).

[2021-12-12 06:49] Fobey123 commented on #1143
wonderful stuff,keep going ser.

[2021-12-14 08:03] tamarandom commented on #906
Hey @Vyvy-vi @kristoferlund I think we should close this. With the other priorities, this one is pretty low on the list. It will happen along with the Praise redesign and development. Any reason not to close it now?

[2021-12-14 08:08] tamarandom opened #1159 "Survey bot data - temp and perm solutions for making this accessible"
## 👇🏽  What is this issue about? Give as much detail as you can.
The data fro the survey is currently available on the #orientation-data channel and the plan is to eventually make it available on notion, airtable or google sheets.

Stop-gap measure to make it available in a simple CSV file.

Communitas will use this as the basis for their new member outreach touch points.

## ✨  What does success

[2021-12-14 09:49] Zeptimus commented on #1046
i can attend it too is it on our server or on te server should we create an event?

[2021-12-14 09:52] Vyvy-vi commented on #1046
I could attend

[2021-12-14 10:13] tamarandom commented on #1046
Awesome! I tried to add you all to the cal entry but I don't think I have the perms to do so. I'll create a twin cal entry so I can invite you. It will be on Zoom.... https://us02web.zoom.us/j/6985323627?pwd=YmxXaWNrdk1uSmV5bUFsaTJEWEtNZz09

[2021-12-14 10:17] tamarandom commented on #1046
Done!

[2021-12-14 10:19] tamarandom commented on #1046
@mcsmith89 it will be a brainstorm/prioritization of how we can better link the TEA and TEC discord communities. Cross server events, channel bridges, and other ideas to foster community closeness.

[2021-12-14 12:01] mcsmith89 commented on #1046
Sounds like a plan @tamarandom

[2021-12-14 18:38] tamarandom opened #1160 "LASERTAG coordination"
## 👇🏽  What is this issue about? Give as much detail as you can.

The LASERTAG multisig voted in are: Paul, Zargham, Gideon, Angela, Griff, Tam, Mitch

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Creation of multi-sig
2. Discord or TG group with all the above
3. (do we want/need a simple statement for this group?)

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of

[2021-12-14 19:03] tamarandom opened #1161 "For some reason Juanka praise is not going through."
## 👇🏽  What is this issue about? Give as much detail as you can.

![Screen Shot 2021-12-14 at 8.00.58 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/8073956b-9cdb-45f9-9b58-331516d31b98)

@mcsmith89 pointed this out to me too and he and @Vyvy-vi are already looking at it. Just want to drop it here so we don't lose track of it.

## ✨  What does success look like? (i.e., the c

[2021-12-14 19:07] mcsmith89 commented on #1161
Thanks for opening this! I also have this issue opened to work with @Vyvy-vi on - https://github.com/CommonsBuild/coordination/issues/1142

[2021-12-14 19:08] mcsmith89 commented on #1161
I am happy to perform the analysis @tamarandom once I can grab a healthy set of sample data from the channel and that should help uncover similarities that may be causing the issue.

[2021-12-14 19:36] #1127 closed, assigned to liviade1

[2021-12-14 20:43] #1161 closed, assigned to Vyvy-vi

[2021-12-14 20:43] tamarandom commented on #1161
Oh I'll close this one then!
Dupe of #1142

[2021-12-14 21:18] Zeptimus commented on #1077
Is there anything i need to do here @iviangita ?

[2021-12-15 13:41] kristoferlund commented on #906
Close it!

[2021-12-15 13:44] kristoferlund commented on #1139
The website texts can be edited through the CMS, no hacking needed.

https://tecommons.org/admin/

![image](https://user-images.githubusercontent.com/9698363/146197454-a4c611ec-43b9-45a2-b42b-cead50469871.png)

[2021-12-15 18:19] #1126 closed, assigned to liviade1

[2021-12-16 12:32] iviangita commented on #1066
UPDATE: No access has recently been revoked. Closing this!

[2021-12-16 12:32] #1066 closed, assigned to iviangita

[2021-12-16 15:06] tamarandom opened #1162 "Survey bot feature request: I select my interest(s) and am assigned the corresponding role(s)"
## 👇🏽  What is this issue about? Give as much detail as you can.
![Screen Shot 2021-12-16 at 3.55.53 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/0a9497d6-de97-48e0-8c5a-5c043d8164dc)

This. Also this is a point where someone can self-select a role for themselves. Which will allow more direct messaging to each specific group.

## ✨  What does success look like? (i.e., the

[2021-12-16 15:06] tamarandom opened #1163 "Survey bot feature request: I select my interest(s) and am assigned the corresponding role(s)"
## 👇🏽  What is this issue about? Give as much detail as you can.
![Screen Shot 2021-12-16 at 3.55.53 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/0a9497d6-de97-48e0-8c5a-5c043d8164dc)

This. Also this is a point where someone can self-select a role for themselves. Which will allow more direct messaging to each specific group.

## ✨  What does success look like? (i.e., the

[2021-12-16 22:03] tamarandom commented on #1139
Great! @chuygarcia92 is there a volunteer in Comms perhaps that can take this issue on?

[2021-12-17 09:11] Vyvy-vi commented on #906
I think we can maybe close this for now :+1:

[2021-12-17 09:11] #906 closed, assigned to Vyvy-vi

[2021-12-18 00:13] mcsmith89 commented on #1142
Update - @Vyvy-vi and I discussed how the data should come over and will provide in the near future :)

[2021-12-20 13:50] divine-comedian commented on #1160
small hiccup - Angela was not informed of the LASERTAG multisig nor her nomination - will need to followup if she is still willing to take on the role or find a replacement via the outlined voting method

[2021-12-20 16:18] Zeptimus commented on #1103
Done :D

[2021-12-23 09:06] iviangita commented on #1119
Posted on the forum: https://forum.tecommons.org/t/transparency-audit-report-a-new-approach/673/3

[2021-12-23 09:06] #1119 closed, assigned to iviangita

[2021-12-23 15:12] tamarandom commented on #1106
@krisjpi is there any way you can help @Vyvy-vi with the dns part of this?

[2021-12-26 19:31] mount-manu-zz commented on #939
Already working closely with Lisa (CEO); we've coordinated a podcast interview and a giveaway campaign; we have a group chat with Griff and others from ED and that's how we've been moving things forward so I'd say we have enough inertia to consider this issue close

[2021-12-26 19:31] #939 closed, assigned to mount-manu-zz

[2021-12-27 13:09] divine-comedian commented on #1160
following this vote - https://snapshot.org/#/tecommons.eth/proposal/0xcad826c818f3bfc821e746cc3f72f378bee5e935de7092864294a47710785c77

I've reached out to Gabi for an address - once I have all the addresses I will create the gnosis safe and the appropriate DM channel to coordinate

[2021-12-27 17:07] divine-comedian commented on #1160
safe is created!
https://gnosis-safe.io/app/xdai:0xF41dEFf41016216346270e302DC0a5Dd4913DAdA/balances

DM chat is made with multisig signers
closing this one out

[2021-12-27 17:08] #1160 closed, assigned to divine-comedian

[2021-12-28 10:05] mount-manu-zz opened #1164 "TE as a Social Movement (Medium article, evergeen)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-12-28 10:08] mount-manu-zz opened #1165 "WGs: Explanation & Interrelationships (Medium article, evergeen)"
## 👇🏽  What is this issue about? Give as much detail as you can.

This isssue is about writing an article describing the Working Groups in the TEC. How are they created, how do they organize, what's their working style, how do they relate to one another..

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advi

[2021-12-29 16:51] tamarandom commented on #1160
Hero!

[2021-12-29 16:55] tamarandom commented on #849
Covenant update on Dev 7th on the Forum:
https://forum.tecommons.org/t/tec-community-covenant/572/10

TEC Community Covenant
The Token Engineering Commons is a self-governed organization with the purpose of advancing the field of token engineering. The TEC supports the creation of ethical, safe, resilient and diverse economic systems to benefit societies around the world.

The TEC’s mission is to

[2021-12-29 16:59] tamarandom commented on #1087
Update:

WG funding drafts:
Stewards → on the Forum
Comms →  in WG advice process
Transparency → in WG advice process
Gravity → in WG advice process
Communitas →  on the Forum
Legal → in WG advice process
Labs → (in progress)
0mega →
TE Ethics Participatory Research: Principles and Practice on the Forum
TE Consilience Library - an 0Mega WG initiative on the Forum

These WG will not submit funding:

[2022-01-03 15:28] iviangita commented on #849
Here are Shawn's comment:

_yeah, third paragraph I'd consider changing "short-term profits" with "short-term gain".  Third paragraph of DAO Enforcement - if coins aren't earning money, I'd consider a different word than staking which has a common understanding in crypto as earning an APY.  If it does earn an APY, this comment can be ignored.  I like the link to the polycentric voting and Celeste.

[2022-01-03 15:28] #849 closed

[2022-01-03 16:28] Zeptimus commented on #948
Closing, thanks @amanwithwings and AL0YSI0US

[2022-01-03 16:28] #948 closed, assigned to amanwithwings

[2022-01-03 16:30] Zeptimus commented on #826
Close, we are proposing a new process for the audit.

[2022-01-03 16:30] #826 closed

[2022-01-03 16:30] Zeptimus commented on #746
Close, we are proposing a new process for the audit.

[2022-01-03 16:30] #746 closed

[2022-01-03 16:32] Zeptimus commented on #1118
After talking with fabio  the bounty for dune normally goes between  500 and 1500 USD depending on the needs.

[2022-01-03 16:32] #1118 closed, assigned to Zeptimus

[2022-01-03 16:34] Zeptimus commented on #1114
we reach out to the platform admins nate and chuy and they said there is no plans to revoke access to anyone and close

[2022-01-03 16:34] #1114 closed, assigned to Zeptimus

[2022-01-03 16:43] Zeptimus commented on #1088
yeah its fine i got it :D

[2022-01-03 18:05] iviangita commented on #426
@Zeptimus please add this video https://youtu.be/PT3ccsldeso to the end screen of the TEC latest community call, thank you!!!

[2022-01-03 21:54] mcsmith89 commented on #1142
@tamarandom @Vyvy-vi I have a simple beginning to the praise data being reviewed including output of people who had praise in the channel without the praise bot recognizing it. Where should I keep my analysis as I go through? Also, is it helpful if I place my (very basic) py scripts somewhere as I continue?

**Example Output:**
![image](https://user-images.githubusercontent.com/60235653/147984538-

[2022-01-03 21:59] #1025 closed, assigned to mcsmith89

[2022-01-04 01:56] Vyvy-vi commented on #1142
A repo would be nice

[2022-01-05 11:53] Zeptimus commented on #426
done!

[2022-01-05 18:54] tamarandom commented on #246
Update: there is no way to do this in Gardens atm. This is something that has to be addressed w/Gardens before we can complete. cc @divine-comedian @GriffGreen @laurenluz

Follow the request to Gardens here: https://github.com/1Hive/gardens/issues/500

[2022-01-07 13:28] tamarandom commented on #1076
We're tracking this in every Steward call. Also labelled "blocking commons upgrade" in this repo. Closing.

[2022-01-07 13:28] #1076 closed, assigned to tamarandom

[2022-01-07 16:35] Zeptimus commented on #1043
Done

[2022-01-07 16:35] #1043 closed, assigned to iviangita

[2022-01-07 16:36] Zeptimus commented on #1149
done

[2022-01-07 16:36] #1149 closed, assigned to Zeptimus

[2022-01-07 16:42] Zeptimus opened #1166 "Finalize Giving credentials process"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-01-07 16:43] eduardovegap commented on #751
We need to coordinate with Chuy on the translation effort.

[2022-01-07 16:43] JuankBell commented on #1146
A lot of support received from Griff, Heather, Chuy and gravity contributors. Thanks. Right now we are more clear on how to coordinate after the commons upgrade

[2022-01-07 16:43] #1146 closed, assigned to JuankBell

[2022-01-07 16:45] eduardovegap commented on #1147
This will be accomplished ideally, when the guides get launched, so for next sprint we could start pairing potential contributors first with guides or members who have the time bandwith to support it.

[2022-01-07 16:47] JuankBell commented on #863
Done with help of Durgadas on past days. missing to share, communicate and receive feedback :)
 https://docs.google.com/spreadsheets/d/159PXnpqmSALyo0Ps3Pk7HyzEkSeapNnBG5005Qh4qU0/edit#gid=752293848

[2022-01-07 16:50] eduardovegap commented on #1105
Temporaly i have set up this one: https://calendly.com/vegayp/60?

We can set up one for each guides.

[2022-01-07 16:52] JuankBell commented on #1120
Temptative schedule:

- The funding proposal will be posted in the forum: 11th January and open applications until the 20th of January.
- The review process for the applications will be done by the TEC stewards between the 20th of january to the 25th of january
- The Gravity Community will review the TEC steward’s process and collectively agree on the assigned positions between the 25-28th of Jan

[2022-01-07 16:55] JuankBell commented on #971
Only missing to distribute the cool POAP. Third Graviton training to be prepared for Q2 of 2022

![Captura de Pantalla 2022-01-07 a la(s) 11.53.31 a. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/25b89e9e-ac3d-4e9d-968c-3ad1bf75fceb)

[2022-01-07 16:55] eduardovegap commented on #1136
https://docs.google.com/document/d/1y4kaZM5nWypg1iVf4m-7yvv5BDB6odxwrhpnqGsX0ZE/edit

this document has been passed on to the guides, the following process has been followed:

- Meet with each of the volunteers (Manu, Gene, David) to be Guides and workshop with them the previous document.

- Invite them to welcome people on the orientation channel, as well as getting familiar with the process (Mou

[2022-01-07 16:57] #1124 closed, assigned to eduardovegap

[2022-01-07 16:57] eduardovegap commented on #802
After we launched, we could think on retake this.

[2022-01-07 16:58] eduardovegap commented on #1036
This was accomplished, but did we record a call with the new orientation deck?

[2022-01-07 17:01] eduardovegap opened #1167 "Create tag role for Hatchers on Discord."
## 👇🏽  What is this issue about? Give as much detail as you can.

To create a better comunication with Hatchers, create a role category on discord.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗

[2022-01-07 17:01] #1167 closed, assigned to eduardovegap

[2022-01-07 17:14] JuankBell commented on #1150
Final review document for Gravity's funding proposal :)
https://docs.google.com/document/d/1u0mF9x5vEIYOgK5CWI-hH6Vwnfg8Hy7VrVB_LL-Q0Zc/edit#

Temptative schedule:
This funding proposal will be posted in the forum: 11th january and open applications until the 20th of January.
The review process for the applications will be done by the TEC stewards between the 20th of january to the 25th of january

[2022-01-07 17:14] tamarandom commented on #1054
Cleanup. This is well done. Closing this issue.

[2022-01-07 17:14] #1054 closed, assigned to divine-comedian

[2022-01-07 17:25] tamarandom commented on #904
CC: @chuygarcia92

[2022-01-07 17:30] tamarandom opened #1168 "Preparations for deluge of newcomers to the Discord"
## 👇🏽  What is this issue about? Give as much detail as you can.

Following the launch of $TEC!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀

[2022-01-07 17:35] #972 closed, assigned to GriffGreen

[2022-01-07 17:38] #1080 closed, assigned to liviade1

[2022-01-07 17:44] chuygarcia92 commented on #922
we're looking at a solid list of contributors now, so closing this issue :)

[2022-01-07 17:44] #922 closed, assigned to chuygarcia92

[2022-01-07 17:45] chuygarcia92 commented on #1074
got 0.8 ETH from Optimism RPGF! before we close this issue: should we aim to put this ETH in the lasertag multisig?

[2022-01-07 17:45] tamarandom commented on #1100
@divine-comedian, any reason not to close this? Hit the target number?

[2022-01-07 17:50] JuankBell opened #1169 "Gravity selection process for role applications"
## 👇🏽  What is this issue about? Give as much detail as you can.

People will use [this form](https://forms.gle/ckmBaCT8oRiYkKMD8) to apply to the roles we are designing in the Funding proposal of Gravity. To make this process more formal and transparent, at least 3 TEC stewards could make some sense on the applications and design a structure to be presented to the gravity working group for feedba

[2022-01-07 17:52] #1154 closed, assigned to nobody

[2022-01-07 17:53] #291 closed

[2022-01-07 17:57] liviade1 opened #1170 "Ostrom's metrics for measuring ecosystem health"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Set a list of examples of implementation in the TEC
2. define at least 1 metric for each principle
3. Set a pace for revision with Transparency wg

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about

[2022-01-07 17:57] liviade1 opened #1171 "forum post for measuring ecosystem health"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Set a list of examples of implementation in the TEC
2. define at least 1 metric for each principle
3. Set a pace for revision with Transparency wg

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about

[2022-01-07 17:58] #1170 closed, assigned to liviade1

[2022-01-07 17:59] #1156 closed, assigned to liviade1

[2022-01-07 17:59] GriffGreen opened #1172 "Make Proposal on Snapshot for What We Hold Constant For the ABC"
## 👇🏽  What is this issue about? Give as much detail as you can.
![Screen Shot 2022-01-07 at 11.56.00 AM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/c9a8e52b-fc9b-4ccc-9139-94c9568cf360)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted ab

[2022-01-07 18:00] tamarandom commented on #1151
recorded... in  post-production.

[2022-01-07 18:02] liviade1 opened #1173 "Host params fireside chat"
## 👇🏽  What is this issue about? Give as much detail as you can.
During next soft gov call tuesday the 11th

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this

[2022-01-07 18:06] #1125 closed, assigned to liviade1

[2022-01-07 18:06] GriffGreen opened #1174 "Make a snapshot vote for when the vesting should start..."
There are 4 options... The Freeze can start

#1 At the HatchDAO vote (Jan 13th)
#2 When CV Opens (Jan 19th/20th)
#3 When the ABC opens (Jan 24th/28th)
#4 Whenever Griff, Sem, Paulo, Nuggan and Vitor decide.

Should this be dependent on the proposal?

[2022-01-07 18:08] tamarandom commented on #1074
Idea from Sprint Planning: Gitcoin (multiple coins) and RPGF (eth) to be sent to the LASERTAG multisig, intention to use for future LP.

[2022-01-07 18:11] chuygarcia92 commented on #910
check in with the giveth team, talk to @GriffGreen for guidance on this topic

Vitor needs to add an API for speculative supply

[2022-01-07 18:24] chuygarcia92 commented on #1139
bring the website to the Hubspot TEAM is something that is being considered
how to integrate efforts under the same organizational workspace for platforms to be coherent is a raising concern that the hubspot team can make happen

[2022-01-07 18:26] #1122 closed, assigned to tamarandom

[2022-01-07 18:26] tamarandom commented on #1122
Not doing. Closing.

[2022-01-07 18:29] chuygarcia92 opened #1175 "Setting up Dework platform with TEAMs as projects"
## 👇🏽  What is this issue about? Give as much detail as you can.
Setting up dework.xyz and respective multisigs for TEAMs

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Project management is done through dework, as well as compensation for bounties and recurring activities
2. Gnosis safes are associated with each TEAM, contributing to the Transparency W

[2022-01-07 19:00] JuankBell opened #1176 "Setting up the Dework space for Gravity"
## 👇🏽  What is this issue about? Give as much detail as you can.
People in the Gravity Working group recognize and its familiar to the Dework space, having clarity on the distribution of loads and rewards
https://dework.xyz/o/gravity-dao-4UHhckKWxf8whABj2pY8mV

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. We have a minimum viable  integration between D

[2022-01-09 16:21] divine-comedian commented on #1100
yes! we hit 31 a few days ago! mission success.

[2022-01-09 16:21] #1100 closed, assigned to nobody

[2022-01-09 22:40] tamarandom opened #1177 "For Guides: Canned answers for common questions"
## 👇🏽  What is this issue about? Give as much detail as you can.

We see a lot of the same questions on our Discord server.
- is there someone that can help my project with tokenomics?
- how do I become a token engineer?

Adding a canned reply for these most common questions to the Guide for Guides will make it a lot easier for new guides to provide informed info to newcomers.

## ✨  What does suc

[2022-01-10 00:07] bustavo commented on #904
Hello, I am beginning to translate the articles to Spanish. I just wanted to know if the translation should consider only text or if I should generate an HTML file including the external links included on the original article?

Also... should I just create a pull request for the new file with the translation to this repository?

Thanks!

[2022-01-10 13:02] iviangita commented on #201
@mount-manu is taking this on moving forward, thanks Manu! :)

[2022-01-10 18:42] ghost commented on #1136
Thanks for curating the spreadsheet Mount Manu.

[2022-01-10 20:11] Zeptimus commented on #1036
Ill get it this week edu last week didnt remeber of recording that call

[2022-01-11 08:08] #1141 closed, assigned to nobody

[2022-01-11 08:08] #1089 closed, assigned to nobody

[2022-01-11 12:09] Zeptimus commented on #1172
done https://forum.tecommons.org/t/how-should-we-adjust-the-abc-to-deal-with-the-unknowns-presented-by-ragequitting/800

[2022-01-11 12:09] #1172 closed, assigned to Zeptimus

[2022-01-11 19:49] Zeptimus commented on #1101
updated with the screen shots: https://docs.google.com/document/d/1I7OZrkGZaHUCQ1Ji-4B0DGWoHK1slECzoXQLvzCV_YM/edit

[2022-01-12 15:04] mcsmith89 commented on #1101
Looking good - I like that it is starting simple. We could shoot a simple Loom to compliment in the near future until we do a full animated experience with Comms too.

[2022-01-13 05:59] bustavo commented on #904
Following up on this issue.. here is a Google Docs with the first article translated. I added comments and a glossary of terms that I think should be open for discussion.

If you wish to be added as an editor to the document, please let me know by providing me your Google email so I can add you as an editor.

https://docs.google.com/document/d/1RKI_lelv36II3UE1f8CayDLuT4Mq1ZFcgrfWS3KWUyA/

[2022-01-13 20:15] bustavo commented on #904
Another follow-up... here is a Google Docs with the second article translated.
https://docs.google.com/document/d/1quvYVB1DEoHApKwrQpziiaWoEWRQyyKoxXS1yFczcjM

Again, if you wish to be added as an editor to the document, please let me know by providing me your Google email so I can add you as an editor.

[2022-01-13 23:20] #855 closed

[2022-01-13 23:21] GriffGreen commented on #1155
https://github.com/1Hive/gardens/issues/500

[2022-01-13 23:22] GriffGreen commented on #1155
https://github.com/CommonsBuild/coordination/issues/246

[2022-01-13 23:22] #1059 closed, assigned to GriffGreen

[2022-01-14 11:42] Zeptimus commented on #1166
Done https://forum.tecommons.org/t/how-to-get-access-to-tec-platforms-access-management/813

[2022-01-14 11:42] #1166 closed, assigned to Zeptimus

[2022-01-14 16:48] #1173 closed, assigned to liviade1

[2022-01-17 15:27] iviangita commented on #426
Hi @Zeptimus, here's the new video to be added to the to the end screen of the TEC latest community call, thanks!

https://youtu.be/rnQwbD5-njM

[2022-01-17 16:25] Zeptimus commented on #1088
done this week

[2022-01-17 16:40] Zeptimus opened #1178 "OPEN FOR CONTRIBUTORS: Set up TEC duneanalytics"
## 👇🏽  What is this issue about? Give as much detail as you can.

To show transparency around the TEC economy and support material for the [transparency audit](https://forum.tecommons.org/t/transparency-audit-report-a-new-approach/673)

NOTE: Before starting this task, reach out to @Zeptimus or @iviangita

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2

[2022-01-17 20:12] Zeptimus commented on #426
done :D

[2022-01-20 16:49] tamarandom commented on #1036
I had to skip the orientation call this week but @Zeptimus got this one!

[2022-01-21 11:21] tamarandom opened #1179 "Snapshot: change snapshot instance to use TEC tokens"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@liviade1 @natenatesoo @Zeptimus

## 🔗  Are there links or docs related to this issue?

## 👀

[2022-01-21 16:33] tamarandom commented on #1151
This is in 1Hive's hands now. Kudos to @iviangita @eduardovegap and @divine-comedian! Will close this after it goes live.

[2022-01-21 16:41] Zeptimus commented on #1079
done this month :D

[2022-01-21 16:41] tamarandom commented on #1135
My expectation is that we will have a 2-3 week window starting the first week of Feb. where each Steward can affirm their commitment to being a Steward on the Forum.  Going forward this would happen every 6 months.

This issue is to add this process, with specifics, to the Manifesto.

[2022-01-21 16:41] Zeptimus commented on #1041
done ! :D

[2022-01-21 16:45] Zeptimus opened #1180 "Structure transparency issues for the audit"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about

[2022-01-21 16:46] tamarandom commented on #1046
Output was the TEA x TEC joint Introduction to TE monthly which went very well! Thanks to @mcsmith89 and Heater and Patti for getting that done! Thanks to @JuankBell for presenting the TEC there! Ongoing, we are invited by TEA to continue to joint host that call. Current thinking is that the Stewards will rotate in presenting the TEC on that call.

This is the full list of brainstorm from the Stew

[2022-01-21 16:46] tamarandom commented on #1121
Better hurry... time is running out! ;)

[2022-01-21 16:53] tamarandom commented on #1020
The timeline has essentially turned into tracking critical tasks to key milestones in the Stewards calls. As we move from building/project to operations mode, it would be great to have a higher level road map and each WG have a, even if fuzzy, expectation for the next 3, 6 and 9 months out.

[2022-01-21 16:57] tamarandom opened #1181 "Medium editorial guidelines, protocol"
## 👇🏽  What is this issue about? Give as much detail as you can.
To facilitate guest contributors for Medium we should publish some basic guidelines and the protocol.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. What should be posted on Forum vs Medium is easy to find out
2. What kind of content is wanted for Medium is thought about and shared
3.

##

[2022-01-21 16:59] tamarandom commented on #1165
I tagged this Communitas because it will be a go-to resource for newcomers into our community.

[2022-01-21 17:01] iviangita commented on #245
Griff and I have added the chosen parameters to the ABC Terms - it's ready! Next step would be to upload it to IPFS (Zep will coordinate with Sem)

https://docs.google.com/document/d/1YmbGQhGspIlxhFzmzc1saWG0wzPLwz42lOF2E5NDXXk/edit

[2022-01-21 17:03] eduardovegap commented on #1136
Done.
We have opened a Thread on our discord called "Guides" to keep track of the microtasks.

[2022-01-21 17:03] #1136 closed, assigned to eduardovegap

[2022-01-21 17:04] #1145 closed, assigned to nobody

[2022-01-21 17:05] tamarandom opened #1182 "Retro action: Promote the ABC opening as the Launch!"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-01-21 17:13] eduardovegap commented on #1105
is set up: https://calendly.com/tecguides/30min

guidesatttec@gmail.com is the email provided and created.
We can either each of us create a meeting with our names or use a single meeting. To be decided.

[2022-01-21 17:16] tamarandom commented on #1174
Done! Closing.

[2022-01-21 17:16] #1174 closed, assigned to JuankBell

[2022-01-21 17:18] JuankBell commented on #1174
Snapshot vote done!

[2022-01-21 17:18] JuankBell commented on #1174
https://snapshot.org/#/tecommons.eth/proposal/0x15a47bed4e8cb92de3f5f4dd0802b8f84877e9c67e3ea5ed14d58d37e046d645

[2022-01-21 17:19] tamarandom commented on #1150
Closing. It's on the forum! Thanks @JuankBell !!

[2022-01-21 17:21] mount-manu-zz opened #1183 "Newsletter content creation & distribution via HubSpot"
Managing the development, organization and execution of our marketing efforts through Hubspot's CRM & CMS

[2022-01-21 17:21] tamarandom commented on #1087
Update: Hey @chuygarcia92 @iviangita @Zeptimus @JuankBell, I think these are the last 3 WG to put proposals on the Forum for Advice Process. Let me know if I missed it!

WG funding drafts:
**Comms →  in WG advice process
Transparency → in WG advice process
Legal → in WG advice process**
Labs → on the Forum
Stewards → on the Forum
Gravity → on the Forum
Communitas →  on the Forum
0mega → on the For

[2022-01-21 17:24] tamarandom opened #1184 "Community relations: reach out to the proposals in advice process on our forum and let them know they can soon .."
## 👇🏽  What is this issue about? Give as much detail as you can.
Community relations: reach out to the proposals in advice process on our forum and let them know they can soon submit their proposal on CV and how to do it.

It would be great to do this *before* CV is live.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be

[2022-01-21 17:25] JuankBell commented on #1120
Momentum gained! next week we will have a first draft of our operations team for 6 months.

[2022-01-21 17:25] tamarandom opened #1185 "How-to: how to submit a proposal to the TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.
How to guide for how to submit a proposal to the TEC.
(how to get TEC tokens, how many one needs, proposal template, CV settings - setting expectations, etc)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be

[2022-01-21 17:29] mount-manu-zz opened #1186 "TEC Guide // Onboarding new Discord members"
Taking the onboarding data from our channel, updating our "Communitas - Outreach" spreadsheet, welcoming new members through a public message, and scheduling 30 minute 1-on-1s with users who are eager to become contributors.

[2022-01-21 17:29] GriffGreen opened #1187 "We are all comms!!! Engage on Twitter for the TEC like mad on the 24th and the 25th for launch!"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-01-21 17:29] chuygarcia92 commented on #1027
@Zeptimus has been working in a GREAT quantifier onboarding document, final one should be ready pretty soon but here's a draft:

https://docs.google.com/document/d/1I7OZrkGZaHUCQ1Ji-4B0DGWoHK1slECzoXQLvzCV_YM/edit#heading=h.qmtl1071sggz

[2022-01-21 17:30] JuankBell commented on #863
Next task: 3 month activities calendar

[2022-01-21 17:32] chuygarcia92 commented on #1139
@mount-manu has been working on access credentials for the website, and the Hubspot TEAM has been adding some web devs to our lines :)
@mount-manu do you feel okay to take this issue on as one of the most urgent fixes?

[2022-01-21 17:34] #1082 closed, assigned to liviade1

[2022-01-21 17:35] chuygarcia92 commented on #1074
DONE!

0.8 ETH transfer to Griff: https://etherscan.io/tx/0xecc9e959f577e53fb7a59e1cac433660490647e089622e695706c7a4fa752416

Griff's transfer to Lasertag multisig on Gnosis Chain: https://blockscout.com/xdai/mainnet/tx/0x4b097c0ade664cdec0afd8f64e09f2ca8184ebbbd924ab11d340bfb397f2e74d

[2022-01-21 17:35] #1074 closed, assigned to chuygarcia92

[2022-01-21 17:36] liviade1 opened #1188 "Update the text of the decision making template"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

https://www.figma.com/file/wJTMpwBS

[2022-01-21 17:37] tamarandom commented on #885
Hey @iviangita - I've assigned you to the legal issues that were unassigned. Feel free to close those that are no longer relevant.

[2022-01-21 17:38] chuygarcia92 commented on #1175
we're almost done! just need to fix some stuff with the gnosis safes linked to the dework projects

[2022-01-21 17:39] JuankBell opened #1189 "Working on "Unbreakable vows""
## 👇🏽  What is this issue about? Give as much detail as you can.
Celeste is a super powerful tool that could be used for various use cases, besides the one its being primarily used. Gravity is very interested in being able to give more legitimacy to its agreements by testing and helping to develop "Unbreakable Vows"

## ✨  What does success look like? (i.e., the criteria to meet to call this issue

[2022-01-21 17:45] liviade1 opened #1190 "design quant "tweak" session"
## 👇🏽  What is this issue about? Give as much detail as you can.
make a forum post with the details for this session that will gather all quantifiers to discuss the quant process they have gone through async

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Have a set of questions to guide their evaluation of the praise. Is there any duplicate praise they

[2022-01-21 17:50] tamarandom commented on #1182
@chuygarcia92 how can the Stewards help!?

[2022-01-21 17:57] tamarandom opened #1191 "Mirror.xyz as another channel for the TEC international languages"
## 👇🏽  What is this issue about? Give as much detail as you can.
Look into it.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be i