[2021-06-11 15:44] #729 closed

[2021-06-11 15:48] tamarandom opened #747 "Checklist for new Working Groups"
## 👇🏽  What is this issue about? Give as much detail as you can.
What are the little things that we need to do to add a new WG? Things like: discord channels, add to forum, update community call agenda, etc....

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. We have a checklist for what needs to be done for a new WG
2. All the Stewards know about it ;)
3

[2021-06-11 15:50] tamarandom commented on #735
Hey @chuygarcia92! I'm assigning to you until acidlazzer is on github! 🙏🏼

[2021-06-11 15:51] tamarandom commented on #732
Also assigning this one to you until acid is on github. 🤙🏽🙏🏼

[2021-06-11 15:56] liviade1 opened #748 "Make progress on the Covenant"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. work on the doc Shawn has started and have a draft for us to hack on the next legal call
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

[2021-06-11 15:56] tamarandom opened #749 "Design cool swag for the TEC Swag shop!"
**Welcome! This is an issue for any contributor to pick up so, if you want to contribute to the TEC mission, then you’ve come to the right place.**

If you’re not already on our Discord server, now is the best time to join us there: https://discord.gg/V9gQ2mRU9u

The Community Steward that will support and review this work is : @chuygarcia92 @markoprljic @tamarandom

## 👇🏽  What is this issue abou

[2021-06-11 15:59] tamarandom opened #750 "Making zenhub friendly for contributors with more "For contributors" issues"
## 👇🏽  What is this issue about? Give as much detail as you can.
Making it easier for new and active contributors to discover the work that needs to be done.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. When someone filters zenhub by the tag "For Contributors" there are issues that they can easily pick up.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of t

[2021-06-11 15:59] tamarandom opened #751 "Making zenhub friendly for contributors with more "For contributors" issues"
## 👇🏽  What is this issue about? Give as much detail as you can.
Making it easier for new and active contributors to discover the work that needs to be done.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. When someone filters zenhub by the tag "For Contributors" there are issues that they can easily pick up.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of t

[2021-06-11 16:03] liviade1 opened #752 "Prepare ETH Paris presentation"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-11 16:11] Santigs opened #753 "Covenant"
Covenant/Constitution

[2021-06-11 16:11] tamarandom opened #754 "Presentation: Community Stewardship's importance for bootstrapping DAOs"
## 👇🏽  What is this issue about? Give as much detail as you can.
This is what I submitted to EthCC. Haven't had confirmation but best I make it anyway.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Good deck to give this talk
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will

[2021-06-11 16:13] liviade1 opened #755 "organize praise analysis digest sessions"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. have a process for how we will digest the data
2. categorize the data
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links

[2021-06-11 16:14] GriffGreen opened #756 "Make a forum post about the power of Defaults in the Commons Config Dashboard"
## 👇🏽  What is this issue about? Give as much detail as you can.

This is a very complicated user experience... to mitigate that experience, we need to remove some choices... but in order to not put too much power in the hands of the technocracy, we will have an advanced tab that is configurable but with defaults set by advice process.

## ✨  What does success look like? (i.e., the criteria to mee

[2021-06-11 16:16] GriffGreen commented on #717
@markoprljic this is just for tracking on the main board

[2021-06-11 16:18] GriffGreen commented on #719
@markoprljic this is just for tracking on the main board

[2021-06-11 16:18] tamarandom opened #757 "Categorize praise"
(This issue needs more details please!)

## 👇🏽  What is this issue about? Give as much detail as you can.
This is the spreadsheet that was started
https://docs.google.com/spreadsheets/d/1e6o8XFEh8tRXzUiQcVQZCfx53aYCphPEJA3oxWqcBz4/edit#gid=0

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. There is a list of categories & keywords for Octopus to use to ana

[2021-06-11 16:21] natenatesoo commented on #742
@liviade1 Yes! I saw the discord tag which is really nice.  I think formally recognizing SME's is really important (simply notifying individuals that we are classifying them as such).  Along with that, I think it would be extremely beneficial to "onboard" and "inform" SME's on their role, what to expect, and how to be effective.  By doing that, I think we can avoid potential conflict that may aris

[2021-06-11 16:21] GriffGreen opened #758 "Onboard a Product manager for Commons Swarm"
## 👇🏽  What is this issue about? Give as much detail as you can.

We have a promising candidate :-D

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Someone feels authorized to make it happen!
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are

[2021-06-11 16:24] tamarandom commented on #547
@Santigs says close!

[2021-06-11 16:24] #547 closed

[2021-06-11 16:24] chuygarcia92 commented on #685
Solved!

https://tecommons.org/ directs to: https://medium.com/token-engineering-commons

[2021-06-11 16:24] #685 closed

[2021-06-11 16:26] #630 closed

[2021-06-11 16:26] tamarandom commented on #630
@Santigs says close! This is now happening.

[2021-06-11 16:26] tamarandom commented on #546
This is also done.

[2021-06-11 16:26] #546 closed

[2021-06-11 16:26] JuankBell opened #759 "Post and debate proposals for IH analysis results"
Post from a neutral the different strategies and prepare a voting process.
We will use tokenlog for this vote.

## 👇🏽  What is this issue about? Give as much detail as you can.
Decision taking on Ih analysis

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. People is aware and informed of the different proposals to improve the IH distribution
2. The propos

[2021-06-11 16:29] tamarandom opened #760 "Praise/IH review and vote"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-11 16:41] JuankBell commented on #728
Ddan Will take 17th with a NVC workshop, and Durgadas will tale the 24th for a Decolonization workshop :D Really cool sessions!

[2021-06-11 16:41] GriffGreen opened #761 "ABC Stats Page Design"
## 👇🏽  What is this issue about? Give as much detail as you can.

For the Commons Swarm to go with the Convert page, and educate the users a bit about how the bonding curve works

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. a very pretty page, sort of like info.uniswap

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be con

[2021-06-11 16:43] tamarandom commented on #747
@ddan4 - would this be something you would be interested in doing?

[2021-06-11 16:46] tamarandom opened #762 "Backlog refinement -SoftGov"
## 👇🏽  What is this issue about? Give as much detail as you can.
@tamarandom & @liviade1

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. The SoftGov issues backlog is cleared of old stuff and current stuff is refined.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valu

[2021-06-11 16:49] JuankBell commented on #678
This is in the icebox because will have a bigger impact after the hatch. Then it will me assigned to a new sprint.

[2021-06-11 16:58] tamarandom commented on #723
Being replaced by #756. Closing.

[2021-06-11 16:58] #723 closed

[2021-06-11 17:02] tamarandom opened #763 "Kickoff meeting with the TEC Scouts"
@eduardovegap to update the details.

## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue

[2021-06-11 17:04] tamarandom opened #764 "Kickoff meeting TEC Scouts"
@chuygarcia92 will fill in the details!

## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this is

[2021-06-11 17:05] tamarandom commented on #496
@liviade1 says close!

[2021-06-11 17:05] #496 closed

[2021-06-11 17:05] tamarandom commented on #617
This is being replaced by the TEC Scouts.

[2021-06-11 17:05] #617 closed

[2021-06-11 17:12] Vyvy-vi commented on #747
I think these might be some of the things to be added -
- [ ] Discord channel
- [ ] WG Meeting schedule to TEC calendar
- [ ] Set up a welcome doc(and meeting/agenda/etc. doc)
- [ ] Adding Working Group as Topic under "Working Groups" category on the forum (https://forum.tecommons.org/c/working-groups/13) and making a post about the WG
- [ ] Choose WG emoji :P (haha this is a joke, but most WGs ha

[2021-06-11 17:21] tamarandom commented on #531
Closing. The site is live! Still needs the token to be coded into the dshop code.
https://swag.tecommons.org/#/

[2021-06-11 17:21] #531 closed

[2021-06-11 17:32] tamarandom commented on #292
Closing, it's being tracked in the Commons Stack repo now.

[2021-06-11 17:32] #292 closed

[2021-06-11 17:39] tamarandom commented on #542
@chuygarcia92 will check with the new contributors with video editing experience if they want to take this on.

[2021-06-11 17:39] tamarandom commented on #750
dupe of #751

[2021-06-11 17:39] #750 closed

[2021-06-13 19:52] GriffGreen commented on #225
talk to @divine-comedian about the names for these...

[2021-06-13 19:57] GriffGreen commented on #226
This needs more input from @sembrestels

[2021-06-13 19:59] GriffGreen commented on #224
We know that the Hatch price is 1 wxDai... we as a community could make the open price 1 wxDai or 3 wxDai... or somewhere in between... or we could be greedy af and make it 20 wxdai... :-D

[2021-06-14 01:36] natenatesoo commented on #96
Since we have a lot of parameters to define and create forum posts for, I wanted to place this within the epic so we could keep track of all the work being done.

If you are working on a forum post for the Commons Upgrade parameters, please link it within this Document!

https://docs.google.com/document/d/1Y2b5ZbiU405Efh4RYWx0Tm0F2ZAWqRgOWTbAmQOebDQ/edit?usp=sharing

[2021-06-14 08:17] ddan4 commented on #747
sorry, just saw this. this is a good issue for me to keep an eye on, and maybe help with, because I definitely wouldn't have known all those things..  will check with vyvy-vi to see how I may be of assistance!

[2021-06-14 13:50] tamarandom commented on #714
It took all morning and half the afternoon (!!) but have reached out to everyone down to 8 Impact Hours. Lots of back and forth conversations, cross checking and follow-ups. This was straight-up typing for 6 hours. 🙇🏻‍♀️  🙇🏻‍♀️  🙇🏻‍♀️

[2021-06-14 14:03] Zeptimus commented on #747
"Get access to the youtube and make a playlist for that WGs call recordings" I think it depends on the steward if he wants to do it, what i would say it's make sure the recordings are availalbe via pawa or normal recording to upload. Some WGs might want take care of it but others might ask for  help, lets make sure its being done.

 Tomorrow im onboarding heater to the recording crew since he also

[2021-06-15 09:23] danelsuga commented on #665
It's also here https://github.com/CommonsBuild/tec-web/issues/32
and almost done! We can close it here, I think.

[2021-06-15 09:23] #665 closed

[2021-06-15 15:43] phacker3 commented on #747
Hey all! I chatted with Zeptimus today and he pointed me here. the check-list looks great! - one question I have though is when should a new TEC Working Group be created? I personally have some intuition around this just because I've experienced how the TEC works (and asked Livia 😄), but is there a formal definition? If might help folks (including myself!) understand if they should / shouldn't try

[2021-06-15 17:38] Vyvy-vi opened #765 "TOS, Policies and FAQs for TEC's forum"
## 👇🏽  What is this issue about? Give as much detail as you can.
The [Terms Of Service(TOS)](https://forum.tecommons.org/tos) page and the [Frequently Asked Questions(FAQ)](https://forum.tecommons.org/faq) page on the Forum(https://forum.tecommons.org) are outdated, and hold the default content from Discourse. Perhaps this could use a tweak to better convey TEC's messaging.

Moreover, since the Fo

[2021-06-16 10:21] danelsuga commented on #712
I've started by updating a Forum post on WG's and contributing and posted it to the orientation channel.

https://forum.tecommons.org/t/how-to-join-contribute/98

The hope is to have more regular posts and to encourage more new-joiners to reach out.

[2021-06-16 10:31] danelsuga commented on #713
I've added a simple pinned message. @solsista , what do you think?

[2021-06-17 15:58] laurenluz opened #766 "Forum Post: Disputable Conviction Voting"
## What is this issue about?

Make forum post explaining:

- Conviction Growth (Voting Power Appreciation)
- Relative Spending Limit
- Minimum Conviction(Minimum Threshold)

## 🔗  Are there links or docs related to this issue?
List of forum posts: https://docs.google.com/document/d/1Y2b5ZbiU405Efh4RYWx0Tm0F2ZAWqRgOWTbAmQOebDQ/edit
Starting draft post: https://docs.google.com/document/d/17DsZR8Ut-m

[2021-06-18 10:16] danelsuga opened #767 "Help? Could stewards or anyone: please update WG Forum pages"
## 👇🏽  What is this issue about? Give as much detail as you can.

Hi! I recently updated an orientation page on the Forum, which links to all the WGs and stewards. Could the stewards check their respective pages if they have a moment and make sure all's well? I'll have a pass too! Thank you.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Updated individ

[2021-06-18 10:29] danelsuga commented on #767
Comms
https://forum.tecommons.org/t/comms-working-group/162

Commons Swarm
https://forum.tecommons.org/t/gardens-swarm-working-group/159

Gravity WG
https://forum.tecommons.org/t/gravity-working-group/177

Hatcher Outreach WG
https://forum.tecommons.org/t/onboarding-working-group/166

Labs WG
https://forum.tecommons.org/t/labs-working-group/410

Legal WG
https://forum.tecommons.org/t/legal-working

[2021-06-18 13:17] tamarandom commented on #752
Brain time given this sprint, usually during walks or washing the dishes.

[2021-06-20 21:50] laurenluz commented on #96
@natenatesoo I made some suggestions to your entry/exit tribute post, happy to debate some of my suggested changes 😉

[2021-06-20 23:33] eduardovegap commented on #767
Done! Thanks Suga!

[2021-06-20 23:52] eduardovegap commented on #725
https://docs.google.com/document/d/1QrVWGmBMEthR59G8xnH4Pkmem_ib7y4qHEGpmud3rWc/edit# here is the document of work!

[2021-06-21 05:43] Santigs commented on #767
Hey Suga, @santigs is my Twitter handle, the telegram one is @Santigs67.
Not sure what you wanted to add in the post.
Content is fine for legal
Thank you!

[2021-06-21 07:40] danelsuga commented on #767
Thanks, @Santigs
I just wanted to make sure each page was up to date since some things have changed since first posted.

[2021-06-21 10:33] Zeptimus commented on #747
I think the most important document it's the manifesto and the rest goes naturally following our processes. It's super awesome, we have this checklist. I would not have all these requirements as a must but as a guide. In my personal opinion the most important thing its the manifesto and roadmap and show the community the results.

[2021-06-21 11:31] tamarandom opened #768 "Post to Forum: Proposal about the 85% reduction"
## 👇🏽  What is this issue about? Give as much detail as you can.
Went through advice process with CS core team and on TEC Soft Gov call and now need to do finishing touches and post to the forum... asap like ;)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted a

[2021-06-21 11:46] tamarandom commented on #767
I really liked the phrasing made for the Youtube WG list .... it feels more up to date than the ones here. Any reason not to use those?

[2021-06-21 14:37] lEscanore commented on #730
Create a list of DAOs and token engineers who are on Twitter and start following them (Done by lEscanore)
Follow TEC Hatchers who gave soft commits (Done by Ivi)
Increase followers if they follow us back (this is also an increase in awareness and engagement) (Done)

We will continue to follow Token engineers and DAOs, we already followed 33 Token Engineers from different projects and 16 DAOs. The

[2021-06-21 14:37] #730 closed

[2021-06-21 17:57] laurenluz commented on #766
Ok I wrote about:

- proposal deposit
- challenge deposit
- settlement offer
- settlement period

https://docs.google.com/document/d/17DsZR8Ut-mru2YaOhJrRR3ehGwZBcg9v5Yn72_2vBWo/edit

@divine-comedian @natenatesoo @GriffGreen - any of you wanna QA?

[2021-06-21 19:51] divine-comedian commented on #766
put in some QA!

I noticed there's lots of parenthesis, I suggested moving some into their own proper sentences.

When you're comparing the high vs. low parameter values add in the cons and not just the pros for each end (if any), otherwise it feels a bit bias and not quite the whole picture.

[2021-06-21 22:39] laurenluz commented on #766
Thanks @divine-comedian, I updated it based on your suggestions

[2021-06-22 19:55] tamarandom commented on #542
@chuygarcia92 I'm on a sync with Fahern (on discord, @lucashygate on github) and he is happy to take this on. He will reach out to you if he has any questions.

Here is what I shared:

- Turn the highlights of this video into 2-3 minute "highlight"
- https://www.youtube.com/watch?v=ShUSPMONPS8
- ![unknown.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/bcd3ebd7-b568-442b-a5d6-a1

[2021-06-22 21:03] #754 closed

[2021-06-22 21:03] tamarandom commented on #754
The talk was not accepted and I want to do this anyway but going to down grade it to nice-if-I-can-get-to-it-eventually!

[2021-06-22 21:05] tamarandom commented on #734
wooooot wooooot!
https://forum.tecommons.org/t/tec-working-groups-weekly-update/441

[2021-06-22 21:06] #734 closed

[2021-06-22 21:06] tamarandom commented on #757
Hey @liviade1, we should consider this closed now, right?

[2021-06-22 21:23] tamarandom commented on #713
Looks good. Wouldn't hurt to add the agenda so it's within easy reach when people hop on the call but it' really up to each WG what to keep pinned there. So closing ....

[2021-06-22 21:23] #713 closed

[2021-06-22 21:24] tamarandom commented on #736
Added @natenatesoo to the advice process list!

[2021-06-23 07:25] tamarandom commented on #82
Backlog refinement!

It's been 7 months. Closing. If there is a new idea for social cohesion a new issue for that would be very welcome!

[2021-06-23 07:25] #82 closed

[2021-06-23 07:52] danelsuga commented on #712
This is an active, ongoing project. I would like to regularly post Stewards contribution requests. I will start with posting the last one, but maybe we can create a new one this week? I suppose they don't change much?

[2021-06-23 07:53] danelsuga commented on #709
I haven't had too much time for this. I will check in with @natenatesoo to see if we can coordinate and make space for it.

[2021-06-23 07:54] danelsuga commented on #654
This is a regular process that I'm always doing! :) It's great to get the positive feedback from new joiners.

[2021-06-23 07:54] danelsuga commented on #740
I have not had time for this yet.

[2021-06-23 07:55] danelsuga commented on #741
I ended up editing a post by Jess for now and will continue to develop another one (and/or will edit a lot of the useful but older ones).

https://forum.tecommons.org/t/5-how-to-join-contribute/98

[2021-06-23 08:00] danelsuga commented on #767
I can change those.

The purpose of this issue was just to see if any of the details needed updating (call times, contact info, etc.).

Thanks!

[2021-06-23 08:46] tamarandom commented on #742
This doc is somewhat out of date now but it does address SME recognition.

[Onboarding and Resources Guide to the TEC](
https://docs.google.com/document/d/1UDnf26QQqqc77mnhn80MLCVzJU6IdvouT-OXPrIVXCg/edit#heading=h.tpx9g4b760ky)

CC: @danelsuga @liviade1

[2021-06-23 09:56] Vyvy-vi commented on #741
@danelsuga
When we make that FAQ post, perhaps we could also mirror some contents from there to the Discourse FAQ page on the forum-
https://forum.tecommons.org/faq

[2021-06-23 10:14] danelsuga commented on #741
Let’s do it! Thx, @Vyvy-vi.

[2021-06-23 12:40] #752 closed

[2021-06-23 12:42] liviade1 commented on #755
We had a few sessions in the past days to make sense of next steps for the analysis. Now the focus is on proposal making so I'll close this issue :)

[2021-06-23 12:42] #755 closed

[2021-06-23 12:44] liviade1 commented on #748
Hoping to have a draft to share this friday in legal

[2021-06-23 12:45] #757 closed

[2021-06-23 12:50] liviade1 commented on #381
@danelsuga can we take a look at this together?

[2021-06-23 12:51] liviade1 commented on #643
I don't think this issue is relevant anymore so I'm closing it

[2021-06-23 12:51] #643 closed

[2021-06-23 15:00] danelsuga commented on #381
That would be great. Thx @liviade1

[2021-06-23 15:27] cranders1 commented on #82
thnx @tamarandom

[2021-06-23 16:34] GriffGreen commented on #756
Mostly complete... need to do more research on Gardens params... but will try to finish over the weekend

[2021-06-23 16:34] GriffGreen commented on #756
https://docs.google.com/document/d/1nDvaIcGvl7GFFnQLSxAdwVUvHilx4JWTdiXjJVCu2jY/edit#heading=h.5d69kpaeixgu

[2021-06-23 16:48] GriffGreen commented on #758
Got bradley going, still onboarding him to the payment process and all the things

He is doing one on one's but still hasn't taken on the board... I will close thiswhen he has taken on the board

[2021-06-23 16:49] GriffGreen commented on #651
Still need to finish the vote and get Adria's sign off

[2021-06-23 16:51] #583 closed

[2021-06-23 16:51] #589 closed

[2021-06-23 17:39] tamarandom opened #769 "ethCC event planning"
(more details to come!)
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who s

[2021-06-24 14:34] tamarandom commented on #534
With help from @kristoferlund @Vyvy-vi and geleeroyale, progress was made (again) this Sprint but the token is the last piece to be done. And, a good documentation of how to edit the code and deploy for the next to need to know.

[2021-06-24 16:04] tamarandom commented on #764
Finished! They had their second mtg this week.

[2021-06-24 16:04] #764 closed

[2021-06-24 16:07] eduardovegap commented on #679
We need to decide if this would be taken care by TEC Scouts or Soft Gov.

[2021-06-24 16:39] JuankBell commented on #728
Ddan rocked it last week and today's Session lead by Durgadas will be surely great! Closing this issue :) thanks for all your support.

[2021-06-24 16:39] #728 closed

[2021-06-24 18:55] tamarandom opened #770 "Community sync livestream URL"
## 👇🏽  What is this issue about? Give as much detail as you can.
When the Community Sync call is full, people are not able to enter. @GriffGreen mentioned we could/do have a way to livestream but I wasn't able to find the URL!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.  People who are not able to get into the Community Sync call know where to go to

[2021-06-24 19:12] Zeptimus commented on #770
I was not streaming just recording to be more safe  on the praise if internet fails on the uploads (and i still fucked it up :/). I think one solution would be have someone recording it and i could stream it. Norally everything will go well but if something fails on the stream have a back up i feel its important for this call, specially for ivy to dish the praise.

[2021-06-24 19:29] Zeptimus commented on #770
@JuankBell @LinuxIsCool @Vyvy-vi @chuygarcia92 Anyone would like to take responsibility for the backup? 🙏🙏

[2021-06-24 21:58] tamarandom opened #771 "Removing the Hatch AMA weekly call"
## 👇🏽  What is this issue about? Give as much detail as you can.
Deleted from the calendar but now what?

- Twitter (@iviagita)
- Discord call announce bot @vyvy-vi)

Where else?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. There aren't places where the cancelled Hatch AMA call is still being brodcast
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Ad

[2021-06-24 22:43] Vyvy-vi commented on #771
The hatch-ama call reminder has been removed :+1:

[2021-06-24 22:45] Vyvy-vi commented on #770
I think for the praise backup, using the audio recorder bot might be a good backup(It should work in most cases, with the relevant praise)

[2021-06-24 23:22] Zeptimus commented on #770
I still think a second recorder would be the best, PAWA takes one slot on the call and don't get the video which Ivy uses for the praise attendance. I could also stream and record but i still think having someone backing it up would save some trouble normally i wont miss it but for example today i literally got distracted and didnt press record until we finish praise and i look to OBS for the time

[2021-06-25 07:22] tamarandom commented on #771
That was fast! Exellent!

[2021-06-25 09:46] tamarandom commented on #709
https://forum.1hive.org/t/design-and-brand-reinforcement/4005

related

[2021-06-25 14:41] eduardovegap commented on #736
Document of reference (still work in progress): https://docs.google.com/document/d/19OYvbzJ9-UEVonCJGtFz2PCGSV1PhMxTfVFnS6EwvXc/edit

[2021-06-25 14:42] eduardovegap commented on #763
I think we can close this one, and create new issues for the new action points.

The agenda for further reference is here: https://docs.google.com/document/d/18PKsdmm59GfQdqflpTIgO4aL-174xJIKQL2Gf__8aUw/edit

[2021-06-25 14:44] eduardovegap opened #772 "Create Manifesto for TEC Scouts."
## 👇🏽  What is this issue about? Give as much detail as you can.
We need to layout a draft for the Manifesto of the Scouts, that outlines: mission, vision, short / mid term objectives and goals.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Having a Manifesto for next sprint.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who s

[2021-06-25 14:46] eduardovegap commented on #679
Adding the link to the latest proposal from Upala: https://forum.tecommons.org/t/upala-price-of-forgery-digital-identity/450

[2021-06-25 14:48] eduardovegap commented on #704
Shall we keep next sprint label since we are going to do one last push? @tamarandom

[2021-06-25 15:48] Zeptimus commented on #690
Done https://forum.tecommons.org/t/params-working-group-audit/325

[2021-06-25 15:48] #690 closed

[2021-06-25 15:50] Zeptimus commented on #716
Do you think announce it every month like we did on the last community call would be enough to close this issue?

[2021-06-25 16:11] liviade1 opened #773 "Make a IH intervention proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-25 16:12] liviade1 opened #774 "host runoff session"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-25 16:12] liviade1 opened #775 "host IH debate calls"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-25 16:15] #650 closed

[2021-06-25 16:15] liviade1 opened #776 "integrate feedback in the covenant"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-25 16:16] GriffGreen opened #777 "Promote the feedback form for the Final Hatch Dress Rehearsal"

[2021-06-25 16:18] tamarandom opened #778 "Video: Coordination in the TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.
Linked to #740

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. People new to the TEC know the basics of using Zenhub and can quickly jump in
2. There exists instructions on how we use use Zenhub in the TEC
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be co

[2021-06-25 16:19] liviade1 opened #779 "Finalize IH intervention process"
## 👇🏽  What is this issue about? Give as much detail as you can.
What happens after the runoff vote.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

[2021-06-25 16:19] tamarandom opened #780 "Product backlog refinement"
## 👇🏽  What is this issue about? Give as much detail as you can.
With the WG that need a sensemaking session for the backlog!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Clear out the old issues, update the stale ones, make new issues for future work
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about

[2021-06-25 16:19] liviade1 opened #781 "Finalize IH intervention process"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-25 16:23] tamarandom commented on #724
Update: One final review by Shawn, then done!

[2021-06-25 16:25] tamarandom commented on #629
Update: this is done and being included in the final review of all docs.

[2021-06-25 16:25] #629 closed

[2021-06-25 16:27] tamarandom commented on #631
Update: In progress.

@mateodaza would you mind dropping an update in here about how it's coming along?

[2021-06-25 16:30] tamarandom commented on #763
Done!

[2021-06-25 16:30] #763 closed

[2021-06-25 16:32] tamarandom commented on #736
Update: check latest legal docs on the legal WG agenda.

[2021-06-25 16:34] tamarandom commented on #714
Done!

[2021-06-25 16:35] tamarandom commented on #493
Done, done and done.

[2021-06-25 16:35] #493 closed

[2021-06-25 16:36] tamarandom commented on #494
Dupe of #704

closing

[2021-06-25 16:36] #714 closed

[2021-06-25 16:38] tamarandom opened #782 "Hatch 1st day outreach campaign"
## 👇🏽  What is this issue about? Give as much detail as you can.
When we Hatch - it's time to tell all the people we've talked to.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. messaging for the 1st day of Hatch (1st week!)
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will h

[2021-06-25 16:54] tamarandom commented on #781
Dupe of #779

[2021-06-25 16:54] #781 closed

[2021-06-25 16:58] tamarandom commented on #747
Update: @tamarandom volunteering to figure out what to do with this excellent list

[2021-06-25 17:09] tamarandom opened #783 "Comms Hatch campaign plan"
## 👇🏽  What is this issue about? Give as much detail as you can.
For the specific Hatch comms related to Hatch

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Media planner for the hatch capaign
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  A

[2021-06-25 17:21] #142 closed

[2021-06-25 17:25] tamarandom opened #784 "ethCC TC swag - landing address in Paris"
## 👇🏽  What is this issue about? Give as much detail as you can.
Ready to order. Need a landing address in Paris!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to

[2021-06-25 17:28] chuygarcia92 commented on #310
Our community video is DONE!! It's still unlisted on youtube but you can already take a look at it before the campaign to launch it right before the hatch:

https://youtu.be/vf1rOMDzw38

[2021-06-25 17:28] #310 closed

[2021-06-25 17:31] tamarandom opened #785 "Nuggan making a POAP for Hatchers"
(by Nuggan)
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in

[2021-06-25 17:41] tamarandom commented on #738
Update: Done!

[2021-06-25 17:41] #738 closed

[2021-06-25 17:43] tamarandom commented on #727
update closing!

Come join us!

[2021-06-25 17:43] #727 closed

[2021-06-25 18:51] divine-comedian commented on #607
spec draft :

https://hackmd.io/Hj7pp7ZTQGmROC6zNDD1tg

[2021-06-25 18:54] divine-comedian commented on #596
draft spec found here:
https://hackmd.io/Hj7pp7ZTQGmROC6zNDD1tg

[2021-06-29 14:20] tamarandom opened #786 "Nice discourse feature, can we apply this to our own?"
## 👇🏽  What is this issue about? Give as much detail as you can.

How do trust levels work in Discourse. Would we benefit from integrating this in our own Discourse server?

![IMG_FC01B5225284-1.jpeg](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/714cff90-8c8c-4e58-b632-3a83e47af9b1)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Simple

[2021-06-29 20:00] #762 closed

[2021-06-29 20:02] liviade1 opened #787 "make IH intervention tokenlog repo and template"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-29 20:02] #787 closed

[2021-06-29 20:05] liviade1 opened #788 "help launching a sourcecred DAO"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-29 20:05] #788 closed

[2021-06-29 21:12] laurenluz commented on #766
New post on Spending Limit (formerly, Max Ratio/Beta) - ready for review @divine-comedian @natenatesoo @GriffGreen

https://docs.google.com/document/d/1NIIXO0czLgMRtwSMIQK8J7jGUSazqwOAsjoGCsGN6Hw/edit#

[2021-06-30 11:26] kristoferlund commented on #534
There is now a short doc on how to update the server: https://github.com/commons-stack/cslove-dshop/blob/main/devops/README.md

[2021-06-30 12:26] Vyvy-vi commented on #786
I think the above feature is a discourse(forum) feature, rather than a Discord feature. Moreover, this system does work on the TEC forum (*however, I'm not sure what's the set up for the eligibility of Level upgrades, and how we decide on which trust level gets attributed at which metric. if needed, we could config our to do this too)

[2021-06-30 16:06] tamarandom commented on #736
@natenatesoo's progress https://docs.google.com/document/d/1suk07MBVMKPj9cQDeINC1G9nvE_8HL_HtzmL0iGS6lo/edit?usp=sharing

[2021-06-30 17:25] tamarandom opened #789 "Final praise quant"
## 👇🏽  What is this issue about? Give as much detail as you can.
The final praise to happen 3 days before the Hatch

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related

[2021-06-30 17:31] #777 closed

[2021-06-30 17:33] tamarandom opened #790 "Praise audit"
## 👇🏽  What is this issue about? Give as much detail as you can.
Audit the deductions

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who shou

[2021-06-30 17:33] tamarandom opened #791 "Praise audit"
## 👇🏽  What is this issue about? Give as much detail as you can.
Audit the deductions

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who shou

[2021-06-30 17:33] #791 closed

[2021-06-30 21:24] tamarandom opened #792 "SWAGTEC airdrop logistics"
## 👇🏽  What is this issue about? Give as much detail as you can.
Can the Hatch dApp airdrop SWAGTEC at the time of funding?
---> @GriffGreen @sembrestels
if not, work out manual process for this (where to get the addresses, contact info, etc)
Way to check only 1 T is sent per address (even if multiple sends to the Hatch)
Is there a minimum required (e.g., > 20 wxdai) or not?

## ✨  What does succe

[2021-07-01 09:32] danelsuga commented on #739
@MrsBadgerface! I've found you! :D

After some advice process, Lívia offered the suggestion of doing short videos for these orientations to reduce unnecessarily repeated sessions.

@tamarandom, would you be interested, for example, in providing a short video on how new-joiners can use zenhub (in particular to find issues for new contributors)?

Through new joiner feedback, I have found that github

[2021-07-01 09:38] danelsuga commented on #739
@tamarandom - just an additional comment: of course I could do the zenhub/github video and/or all the possible orientation videos, and indeed as orientation coordinator, maybe I should be the one to start (as a university professor, I have a lot of experience in how to present as an educator); however, I am not a github/zenhub expert by any means!

Your feedback is welcome. :)

My vision was also

[2021-07-01 11:41] MrsBadgerface commented on #739
Hey @danelsuga Thank you for looping me in! I think short videos are an excellent idea. Yesterday, when I was trying to vote it wasn't working (it wouldn't let me vote), and one of the first things I did was to head to YouTube to see if there was a 'voting on tokenlog' video, to see if I was missing something obvious before asking for help. So! If there had been a short 'here's how to vote' video

[2021-07-01 14:18] tamarandom commented on #792
@iviangita and I jotted down some requirements and open questions about this:

SWAGTEC Airdrop

Requirements
-No more than 1 token should be sent to each address, regardless of the amount. So multiple fundings will not result in multiple airdrops to the same address.
-There is no minimum fund requirements. (So if someone funds only $1, we still send them the shirt even though it would be at a loss

[2021-07-03 09:53] tamarandom commented on #748
Hey @liviade1  I'm looking for a copy of the covenant. I found this link in the Legal agenda but don't have perms to open it.

Is the draft something that can be shared publicly?

https://docs.google.com/document/d/1inHqkkQuZzWQQhuq5A6sVwV0a3oQwfuDRv5nctYj8IE/edit#

[2021-07-04 20:33] laurenluz commented on #96
Made new categories on the forum for the [main params,](https://forum.tecommons.org/c/defi-legos-and-how-they-work-together/ccd-params/26) and the [advanced params](https://forum.tecommons.org/c/defi-legos-and-how-they-work-together/adv-ccd-params/27)

[2021-07-05 13:37] Zeptimus opened #793 "Community Video description"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-07-05 16:03] iviangita opened #794 "Transparency audits central point"
## 👇🏽  What is this issue about? Give as much detail as you can.
Make a pinned (?) post in the forum that's like a central point where we hold all the transparency audits

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Post is up on the forum
2. Easier for community members to access and monitor the audits
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Adv

[2021-07-05 17:30] eduardovegap commented on #772
Working document: https://docs.google.com/document/d/1APB06u7WpbjPjTN6ovLyyfyuBkWEYvG8ou807cNqKCM/edit#

[2021-07-06 11:46] eduardovegap commented on #704
last changes and updates has been added to the spreadsheet: including pings and change of the last two requested eth address.

Can we close the issue? @tamarandom

[2021-07-06 13:48] iviangita commented on #794
@Zeptimus and I finished this one yay! CLOSING!

https://forum.tecommons.org/t/welcome-to-the-transparency-audit-index/473

[2021-07-06 13:48] #794 closed

[2021-07-07 08:07] sembrestels commented on #792
Just talked with @iviangita. Changing the hatch app now is out of the scope for us, so I would suggest going the traditional manual way of sending SWAGTEC tokens using disperse.app.

The hatch contract transactions can be monitored and once a week collect the addresses that have minted TECH tokens. This can be done using [blockscout itself](https://blockscout.com/xdai/mainnet/csv-export?address=0x

[2021-07-07 17:23] tamarandom commented on #774
This happened.

[2021-07-07 17:23] #774 closed

[2021-07-07 17:30] GriffGreen opened #795 "Finalizing Impact Hours"
## 👇🏽  What is this issue about? Give as much detail as you can.

This epic is about getting the final Impact Hours set before the Hatch

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Audit Complete and Adjustments Proposed
2. TE Praise Party!
3. Final Praise Quant
4. Audit Adjustments Approved
5. People who have not activated Trusted Seed Removed
6. Fi

[2021-07-07 17:32] tamarandom commented on #783
@chuygarcia92 will post the campaign plan and close this issue!

[2021-07-07 17:33] GriffGreen opened #796 "Check that everyone paid had deductions"

[2021-07-07 17:34] chuygarcia92 commented on #783
Still a WIP but @acidlazzer will be working in an improved and updated design.

![Hatch-July-21-Calendar_01.jpg](https://images.zenhubusercontent.com/6000e68bc28f519103606a04/efb03772-0ce0-4e22-95c1-4824f3650182)

[2021-07-07 17:34] #783 closed

[2021-07-09 13:41] Zeptimus commented on #744
Done: https://forum.tecommons.org/t/using-dashlane-as-tec-credentials-manager/478

[2021-07-09 13:41] #744 closed

[2021-07-09 13:42] Zeptimus commented on #793
Done, Thanks manu :D

[2021-07-09 13:42] #793 closed

[2021-07-09 13:43] Zeptimus opened #797 "Do an audit on the credentials management"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-07-09 16:08] #773 closed

[2021-07-09 16:08] #775 closed

[2021-07-09 16:09] Zeptimus opened #798 "Privacy policy Doc"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-07-09 16:10] liviade1 opened #799 "Prepare a talk for the DAOist if I am accepted"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-07-09 16:10] GriffGreen opened #800 "Hatch Terms final edits, put in the Gitbook, make PDF, pass to Commons Swarm"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-07-09 16:11] tamarandom opened #801 "Update the TEC high level roadmap"
## 👇🏽  What is this issue about? Give as much detail as you can.
It ends at sprint 13! Will use this sprint to extend it. May change up the format too.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. New roadmap ready to share with the community so our goals over the next sprints are clear to all
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Pro

[2021-07-09 16:11] eduardovegap opened #802 "Bringing TEC Lounge to other communities!"
## 👇🏽  What is this issue about? Give as much detail as you can.
We have done our first test doing a lounge at Metagame. Next ones are: 1HIVE and a pick from the Highlights previously showcased on the community call.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. One more test.
2. Having a list and contacts to the nexts lounges.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who s

[2021-07-09 16:12] #748 closed

[2021-07-09 16:12] tamarandom commented on #534
@kristoferlund this is excellent! Thanks! Once we have the token issue solved we can add that piece to this doc and close this issue for good!

[2021-07-09 16:12] JuankBell opened #803 "Second Graviton training!"
## 👇🏽  What is this issue about? Give as much detail as you can.

We are going to start the second graviton training in september!

This document will be used to design the sessions and the study plan that we are going to be following.
https://docs.google.com/document/d/1txyn1dND8xG_ofNG_rxRzvNuBfGl3j20w9Au5N8kq0E/edit?usp=sharing

## ✨  What does success look like? (i.e., the criteria to meet to

[2021-07-09 16:13] liviade1 opened #804 "Finalize the Covenant"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-07-09 16:13] GriffGreen opened #805 "Praisemageddon final IH distro"
## 👇🏽  What is this issue about? Give as much detail as you can.
@LinuxIsCool and @GriffGreen will help...

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this i

[2021-07-09 16:13] eduardovegap opened #806 "Hatch Outreach during ETHCC"
## 👇🏽  What is this issue about? Give as much detail as you can.
This issue is to layout the process, strategies to spread the word about the TEC to TE and potential/interesting projects align with our values and mission.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be

[2021-07-09 16:13] eduardovegap commented on #771
Done.

[2021-07-09 16:13] #771 closed

[2021-07-09 16:14] tamarandom commented on #688
Finished that last piece to post to the forum. I'm seeing the proliferation go beyond my wildest dreams. Lookie here:

![Screen Shot 2021-07-09 at 6.13.34 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/b073edab-558a-4200-ad06-fccfa3ee9f12)

[2021-07-09 16:14] #688 closed

[2021-07-09 16:15] JuankBell commented on #678
We will have our first TEC lounge Today, Co-hosted between @eduardovegap and me :D

https://calendar.google.com/calendar/u/0/r/eventedit/copy/NTdjN3JiY2lpNWVnY2dodDVlMWdoYWU5ODAgNW1rZXAxYWQxajg2MGs2ZzdpN2ZyOHBscTBAZw/YmVsbC5qdWFuLmNhcmxvc0BnbWFpbC5jb20

We hope this can become a weekly activity in the TEC calendar so that we can continue building strong community relationships between contributors

[2021-07-09 16:16] eduardovegap commented on #681
Shall we fusion this issue or create a new one regarding the updates of the gitbook/forum and so on?

[2021-07-09 16:17] tamarandom commented on #655
The blog post that Shermin has drafted has the details that this 1-pager infographic meant to convey. Closing this even though the bigger infographic I had in mind was not realized. The important part - the visual explainers and the comprehensive blog post - are done.

[2021-07-09 16:17] #655 closed

[2021-07-09 16:19] GriffGreen opened #807 "TEC Unconference Planning"
## 👇🏽  What is this issue about? Give as much detail as you can.
In Paris, we need to have a TEC Post Hatch Sense Making Planning Sesh with all of us there!

Prob on the 24th :-(

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will

[2021-07-09 16:24] JuankBell commented on #759
15 closed issues after voting, https://github.com/CommonsBuild/IH-intervention/issues?q=is%3Aissue+is%3Aclosed

runoff posted by one person, and after the runoff the top 2 authors are invited to a hack session to merge their proposals together and commit to a collaborative result.

https://forum.tecommons.org/t/pre-hatch-impact-hours-distribution-analysis/376/50#what-if-there-is-a-polarized-scenar

[2021-07-09 16:33] #704 closed

[2021-07-09 16:35] tamarandom commented on #782
This will be the Hatch Checklist + Params as they relate to a Hatcher with a personal message!
We will use the IH + curate list.

[2021-07-09 16:38] tamarandom opened #808 "Hatcher checklist (the short and sweet version of the Hatcher Handbook)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-07-09 16:38] tamarandom commented on #767
@danelsuga is this done?

[2021-07-09 16:40] natenatesoo opened #809 "Revise Gitbook Hatch Descriptions"
## 👇🏽  What is this issue about? Give as much detail as you can.
Update all Hatch Descriptions within Gitbook as well as any other Gitbook information issues.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Update and maintain accurate descriptions.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this

[2021-07-09 16:47] tamarandom commented on #747
CC @liviade1

@Vyvy-vi can we talk about making this a formal doc for working groups to know how to launch themselves and then close this issue.

[2021-07-09 16:52] liviade1 opened #810 "Praise system development"
## 👇🏽  What is this issue about? Give as much detail as you can.

We have gathered many insights from the IH intervention process. Which ones do we want to incorporate moving forward?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Improve quantification process - what can be automated? What is important to remain manual?
2. Praise guidelines for produci

[2021-07-09 16:53] tamarandom commented on #759
Junkka says close.

[2021-07-09 16:53] #759 closed

[2021-07-09 16:53] liviade1 commented on #381
https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/

[2021-07-09 16:59] tamarandom opened #811 "Communicate meeting free week at the TEC July 19-23"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-07-09 17:02] tamarandom commented on #784
Closed!

[2021-07-09 17:02] #784 closed

[2021-07-09 17:04] tamarandom commented on #542
Done by fahern!

[2021-07-09 17:07] tamarandom commented on #732
Thank you @acidlazzer !!

[2021-07-09 17:07] #732 closed

[2021-07-09 17:08] tamarandom opened #812 "TEC stickers"
## 👇🏽  What is this issue about? Give as much detail as you can.
stickers? too late?
Can Julie print them in Paris.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related

[2021-07-09 17:14] tamarandom commented on #758
Closing!

[2021-07-09 17:14] #758 closed

[2021-07-09 17:16] tamarandom commented on #591
Closing.

[2021-07-09 17:16] #591 closed

[2021-07-09 17:18] #596 closed

[2021-07-09 17:18] tamarandom commented on #596
Griff says done. Closing!

[2021-07-09 17:20] tamarandom commented on #174
Griff says done. Closing!

[2021-07-09 17:20] #174 closed

[2021-07-09 17:20] #600 closed

[2021-07-09 17:20] #595 closed

[2021-07-09 17:20] #601 closed

[2021-07-09 17:21] #604 closed

[2021-07-09 17:21] #602 closed

[2021-07-09 17:21] #603 closed

[2021-07-09 17:25] danelsuga commented on #767
Yes.

[2021-07-09 17:25] #767 closed

[2021-07-09 17:28] natenatesoo opened #813 "Hubspot Proposal Epic"
The goal of the Hubspot Proposal Epic is to develop a proposal for funding once the TEC launches into a Commons.  Our Hubspot will be the central platform for coordinating the tasks of several working groups including Communications, Gravity, and Transparency.

There are five aspects of this proposal that need to be developed within this epic that includes:

1.) Evaluation of Costs
2.) Security Mo

[2021-07-09 17:35] tamarandom commented on #631
@liviade1 @mateodaza closing.

[2021-07-09 17:35] #631 closed

[2021-07-09 17:39] chuygarcia92 commented on #812
The DAOist TG group shared these local printing contacts and notes:

- https://www.panopli.co/
- https://kymono.co/ (they are not as qualitative as the first one)
- https://imprimeriedumarais.com/ (most expensive and a true printer, the other ones are more startup-focused)

We'll check in with them to get some quotes.

[2021-07-09 17:49] GriffGreen commented on #798
Just make sure we get something up on the gitbook before the Hatch... even if its not done completely

[2021-07-09 17:50] #720 closed

[2021-07-09 21:47] Zeptimus commented on #813
I think we should do a doodle to find a timing that it's good for everyone tagged here and @iviangita. We need to sync together to have the best outcome possible.

[2021-07-10 14:51] Zeptimus commented on #798
Here we have a first draft https://docs.google.com/document/d/1x0wpkV2i6FFBw7w7qNJCH6n49zKtQK0J1jOJS9Jgwd4/edit

[2021-07-11 19:55] Zeptimus commented on #798
Closing, one step close to hatch :D https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/hatch-101/privacy-policy

[2021-07-11 19:55] #798 closed

[2021-07-13 07:35] GriffGreen commented on #800
Complete on my end.... but waiting for confirmation that Vitor has added it.

[2021-07-13 07:36] GriffGreen commented on #790
Done, tabs added to the tec praise sheet

[2021-07-13 07:36] #790 closed

[2021-07-13 09:44] danelsuga opened #814 "Editing the Gitbook"
## 👇🏽  What is this issue about? Give as much detail as you can.

While larger additions and changes are needed, the Gitbook could use some basic tidying up in the form of copyediting.
## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Correcting and adding elements.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consul

[2021-07-13 13:26] danelsuga commented on #814
So far I've completed:
Token Engineering Commons
Code of Conduct
What Is the TEC (all)
Get Involved (all)
and relisted all WG's

[2021-07-14 07:20] tamarandom commented on #792
Thanks @sembrestels. That's what we thought and this csv solution will work. It's only 30 days!

[2021-07-14 15:02] tamarandom commented on #724
Hey @Santigs Has that last final review been completed? Is this issue ready to close?

[2021-07-14 15:04] tamarandom commented on #800
Hi @marthendalnunes! Has these final Hatch Terms been added to gitbook and the dApp?

[2021-07-14 17:23] tamarandom commented on #800
Update: closing

[2021-07-14 17:23] #800 closed

[2021-07-14 17:23] tamarandom commented on #724
Update: closing

[2021-07-14 17:23] #724 closed

[2021-07-14 17:24] tamarandom commented on #651
Update: close

[2021-07-14 17:24] #651 closed

[2021-07-14 17:24] #789 closed

[2021-07-14 17:24] tamarandom commented on #789
Done!

[2021-07-14 17:37] tamarandom commented on #747
@natenatesoo going to help on this!

[2021-07-15 01:40] chuygarcia92 commented on #807
The name of the place we're looking at for making this happen is Le Grand Breguet and the address is 17 Rue Breguet, 75011.

We still haven't confirmed with the manager but Julie is expecting an answer tomorrow.

[2021-07-19 14:24] iviangita commented on #792
Here's the updated link of data source from @sembrestels :)

https://blockscout.com/xdai/mainnet/csv-export?address=0xda58e84fdea0e5d11c380e78888e3239761b4a61&type=transactions

[2021-07-19 23:23] GriffGreen opened #815 "Create a Card preview for the Hatch.tecommons.org site"
![photo_2021-07-20_01-20-10](https://user-images.githubusercontent.com/14945613/126239604-f19c45f9-9f7d-42b3-85b9-5afa785643e7.jpg)

<img width="475" alt="Screen Shot 2021-07-20 at 1 20 22 AM" src="https://user-images.githubusercontent.com/14945613/126239617-ea1b1429-4732-431b-aec6-8da8a82101fe.png">

I'm not sure who should take this on... but we need a picture and some text that will autogenerat

[2021-07-20 08:15] markoprljic commented on #815
Please use any image from TEC Marketing resources. For text, I'm not the most qualified person to provide that :)
https://www.figma.com/file/kyXvCY9ttgQEtsLyzSnu16/TEC-Marketing?node-id=0%3A1

[2021-07-20 13:03] Vyvy-vi commented on #815
I can work on this :)

[2021-07-21 13:54] Vyvy-vi commented on #815
![Screenshot 2021-07-21 at 7 23 01 PM](https://user-images.githubusercontent.com/62864373/126500283-2c121655-1ddc-4f7f-a994-58c730b27ffe.png)
![Screenshot 2021-07-21 at 7 14 30 PM](https://user-images.githubusercontent.com/62864373/126500288-45b8ef25-3aa9-40ed-92e6-249a1fb0397b.png)
![Screenshot 2021-07-21 at 6 39 49 PM](https://user-images.githubusercontent.com/62864373/126500293-d125d870-2126-48

[2021-07-21 14:06] markoprljic commented on #815
Thanks @Vyvy-vi
I think the blue one is te winner :)

[2021-07-21 14:13] Vyvy-vi commented on #815
Hmm, it looks neat :)

I'm wondering what would be the best text possible for the description?

[2021-07-22 12:18] Vyvy-vi commented on #815
I opened a PR with the needed changes -  https://github.com/CommonsSwarm/tec-hatch/pull/119

(Once that gets merged and te frontend gets rebuilt, we should have the cards showing up)

[2021-07-25 20:24] Vyvy-vi commented on #815
Closed by `2df2034`

[2021-07-25 20:25] #815 closed

[2021-07-25 20:25] Vyvy-vi commented on #815
Yaay! We have Card previews now 🎉

[2021-07-25 20:27] Vyvy-vi commented on #811
I think this can be closed now.

[2021-07-27 09:00] tamarandom commented on #709
There is this already too :

https://github.com/CommonsBuild/tec-branding-assets/blob/main/Colors/TEC%20Colors.png

[2021-07-27 14:46] iviangita commented on #792
CLOSING!

Here's the airdrop tracker: https://docs.google.com/spreadsheets/d/1G5srPuTKHLnFa0CGUmGBVrm47hRCQeZfMFGaErHn7cs/edit?usp=sharing

[2021-07-27 14:46] #792 closed

[2021-07-27 14:51] iviangita opened #816 "SWAGTEC airdrop and notification"
## 👇🏽  What is this issue about? Give as much detail as you can.
Will manually airdrop SWAGTEC token to Hatchers and notify them via Telegram/Discord - or Hubspot once ready

Reference: https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/792

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.

[2021-07-28 17:42] #769 closed

[2021-07-28 17:45] #756 closed

[2021-07-28 17:45] #697 closed

[2021-07-28 17:45] #807 closed

[2021-07-28 17:45] #289 closed

[2021-07-28 17:51] #98 closed

[2021-07-28 17:51] #225 closed

[2021-07-28 17:53] #99 closed

[2021-08-02 12:52] #716 closed

[2021-08-02 14:03] iviangita opened #817 "Documentation of the Credentials Process"
## 👇🏽  What is this issue about? Give as much detail as you can.
We need to create a written process of giving credentials. Please refer to this forum post: https://forum.tecommons.org/t/credential-management/417/6

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. A documented process of giving credentials
2. Post the process in the forum and Gitbook
3.

#

[2021-08-02 14:04] iviangita opened #818 "Best practices of the advice process"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-02 14:10] iviangita opened #819 "Topics that need the Advice Process"
## 👇🏽  What is this issue about? Give as much detail as you can.
We'd like to increase the engagement of the community members in our Advice Process, especially in our forum. Here are the things that can be done as suggested by @JuankBell, who's taking this on as well. Thanks Juan!

[ ] Make a list of topics that need the advice process
[ ] Make a slide on the community call

## ✨  What does succe

[2021-08-02 14:12] iviangita commented on #797
Happening on Thursday, Aug 5, 3pm CET

[2021-08-02 14:16] Zeptimus opened #820 "Create a tutorias to wrap xdai and participate on the hatch"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-02 14:17] #820 closed

[2021-08-02 14:17] Zeptimus commented on #820
https://www.youtube.com/watch?v=tUfbre0Ob1E this is ready to distrubute @iviangita

[2021-08-03 10:42] mount-manu commented on #2
@chuygarcia92 I can help with this. I've been (secretly) onboarding people since ETHCC.

[2021-08-03 16:35] #235 closed

[2021-08-03 16:35] #236 closed

[2021-08-03 16:36] #512 closed

[2021-08-03 16:37] liviade1 commented on #666
Hey @Vyvy-vi , sorry I'm just finding this issue now, is there something still need here?

[2021-08-03 16:38] #640 closed

[2021-08-03 16:44] liviade1 opened #821 "Draft Soft Gov WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.

What should Soft Gov request funding for once the Commons is live?
What are the small projects that can be developed?
Who will be working on each one of them?
What is a fair funding?
How will the funds be managed between contributors?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

[2021-08-03 16:47] #779 closed

[2021-08-03 16:54] liviade1 commented on #677
@JuankBell is there anything still needed in this issue?

[2021-08-03 17:08] liviade1 opened #822 "Reward Systems - what is the figure that the reward system will need?"
## 👇🏽  What is this issue about? Give as much detail as you can.
Part of this (or all?) can be allocated via the initial buy-in. The rest would be a proposal to CV.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. A number denominated in TEC tokens
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this i

[2021-08-03 17:34] natenatesoo opened #823 "Develop an Instance of Boardroom for TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.
This issue is to integrate the TEC into the [Boardroom dApp](https://app.boardroom.info/)! Please take a look at some other projects are using to organize themselves.  It could be an extremely useful tool going into the future for the TEC to increase participation and agency among contributors within the TEC.

The benefits is that it

[2021-08-05 17:20] #768 closed

[2021-08-05 17:20] #381 closed

[2021-08-06 15:46] iviangita opened #824 "Transparency on Discord Tags/Roles"
## 👇🏽  What is this issue about? Give as much detail as you can.

Discord tags/labels on individual accounts are important in some certain tasks, especially to establish credibility and trust. We're hoping we can have a more transparent process on giving these Discord roles/tags to the community members who are actively contributing in TEC and it's clear to community members the functions of these

[2021-08-06 16:05] Zeptimus commented on #797
Done!

[2021-08-06 16:05] Zeptimus commented on #797
Done!

[2021-08-06 16:05] #797 closed

[2021-08-06 16:06] Santigs opened #825 "Covenant legal review"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-06 16:06] Zeptimus opened #826 "0mega WG transparency audit"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-06 16:08] Santigs opened #827 "TEC content ownership"
## 👇🏽  What is this issue about? Give as much detail as you can.
Discuss best way to choose and assign a proxy to act on behalf of TEC in the event of content conflicts

To be included in Gitbook

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue

[2021-08-06 16:09] chuygarcia92 commented on #735
The hatch swag is up and running!

https://swag.tecommons.org/#/

[2021-08-06 16:09] #735 closed

[2021-08-06 16:10] JuankBell opened #828 "Write a new blog post for Gravity, promoting the next Graviton training"
![gravity_invitation.jpeg](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/7d4572a5-ad08-42ac-924b-3695e98fb557)

## 👇🏽  What is this issue about? Give as much detail as you can.

We will have the second Graviton training in September, and to promote it, we want to write a new blog post inviting people to participate and share some of the progress that we have had in this last months

[2021-08-06 16:13] chuygarcia92 commented on #812
The stickers are done and already rocking most stewards laptops (I hope)

[2021-08-06 16:13] #812 closed

[2021-08-06 16:14] #719 closed

[2021-08-06 16:15] #766 closed

[2021-08-06 16:15] #475 closed

[2021-08-06 16:15] #476 closed

[2021-08-06 16:15] #607 closed

[2021-08-06 16:15] #477 closed

[2021-08-06 16:15] #478 closed

[2021-08-06 16:15] Santigs opened #829 "Legal discussions on WG tresury control"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-06 16:17] #226 closed

[2021-08-06 16:17] #799 closed

[2021-08-06 16:18] #825 closed

[2021-08-06 16:18] #421 closed

[2021-08-06 16:19] natenatesoo commented on #753
Update: Still in Progress -- Legal Perspective.

[2021-08-06 16:20] natenatesoo commented on #243
Update: Needs review, close to being done.

[2021-08-06 16:21] natenatesoo commented on #776
Update: Review for the proposal.  Adding Transparency Links.

[2021-08-06 16:22] GriffGreen opened #830 "CDD - Learning intro - Dev"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-06 16:22] natenatesoo commented on #736
Update: Comprehensive Version still in progress.

[2021-08-06 16:22] natenatesoo commented on #808
Update: Done!

[2021-08-06 16:22] #808 closed

[2021-08-06 16:25] natenatesoo commented on #677
Update: Closing, and reintroducing the subject via Forum.

[2021-08-06 16:25] #677 closed

[2021-08-06 16:26] natenatesoo commented on #747
Update: Review the checklist, and encourage more dialogue around WG formation and dissolution.

[2021-08-06 16:27] natenatesoo commented on #810
Update: Onboarding Octopus and other data scientists.

[2021-08-06 16:27] chuygarcia92 commented on #811
Done.

[2021-08-06 16:27] #811 closed

[2021-08-06 16:28] natenatesoo commented on #821
Update: Looking for collaborators.

[2021-08-06 16:28] JuankBell opened #831 "finishing the 2nd Graviton training study plan"
## 👇🏽  What is this issue about? Give as much detail as you can.
We have been discussing that the second graviton training should not just be a copy and paste from the previous one, and that there needs to be some sense-making to target the identified needs in the space. For that reason, we will have some syncs between the facilitators to continue polishing a great study plan that should be posted

[2021-08-06 16:28] natenatesoo commented on #822
Update: Looking for Collaborators for this issue.

[2021-08-06 16:29] natenatesoo commented on #823
Currently in Progress

[2021-08-06 16:29] natenatesoo commented on #511
Update: Mateo, Santi, Liviia reviewing.

[2021-08-06 16:29] #805 closed

[2021-08-06 16:31] natenatesoo commented on #666
Update: Potentially closed.

[2021-08-06 16:32] natenatesoo commented on #745
Update: Still needs Hubspot, Medium, and Gitbook.  Finish this sprint.

[2021-08-06 16:33] JuankBell opened #832 "Making the POAPs for the Graviton training"
## 👇🏽  What is this issue about? Give as much detail as you can.
make the POAPs that will be used to certify the participation in the graviton trainings and the people that will become gravitons

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. have 10 POAPs to deliver to participants of the training https://app.poap.xyz/admin/events
2. Make a design with

[2021-08-06 16:35] natenatesoo commented on #746
Update: Needs to collaborate with YGG.

[2021-08-06 16:37] GriffGreen opened #833 "ABC Forum post and Code Review Package turned into Brett"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-06 16:37] natenatesoo commented on #557
Update: Still in progress.  Waiting for the end of the second cohort of Graviton Training.

[2021-08-06 16:38] natenatesoo commented on #803
Update: Finish the studying plan.  Will have 3 syncs with facilitators.

[2021-08-06 16:38] GriffGreen opened #834 "Gardens Demo live on Rinkeby"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-06 16:39] natenatesoo commented on #678
Update: Creating some dates within the TEC Calendar for the Lounge.  Needing help managing the calendar.

[2021-08-06 16:40] GriffGreen opened #835 "Migration Tool tested in Demo"
Really Paulo is on this

[2021-08-06 16:40] natenatesoo commented on #545
Update: Waiting for Graviton Training to end, and more Growth.

[2021-08-06 16:41] natenatesoo commented on #828
Update: New Blog post to be distributed with the help of Durgadas.

[2021-08-06 16:42] GriffGreen opened #836 "EVM-Crispr upgraded to v1.0 (then ff v1.1)"
Paulo is on this

[2021-08-06 16:43] eduardovegap commented on #806
Followed up by messaging the people who join our discord community and welcoming them.

[2021-08-06 16:43] #806 closed

[2021-08-06 16:44] eduardovegap commented on #725
Needs to be reviewed and updated on the next Hatch outreach call.

[2021-08-06 16:46] natenatesoo commented on #836
Update: Close, but more testing required.

[2021-08-06 16:46] JuankBell commented on #819
Slide was made under the transparency part of the community call :)

![Captura de Pantalla 2021-08-06 a la(s) 6.44.55 p. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/bd108b63-815c-4612-8c09-e3e376b4c501)

[2021-08-06 16:46] #819 closed

[2021-08-06 16:46] eduardovegap opened #837 "Outreach for SWAG."
## 👇🏽  What is this issue about? Give as much detail as you can.
@iviangita requested help outreaching people who have funded the TEC HATCH by letting them know that they can claim their SWAG.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Sent message to everyone who has sent funds.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (Peopl

[2021-08-06 16:47] natenatesoo commented on #835
Update: Blocked by demo and EVM Crispr.

[2021-08-06 16:49] natenatesoo commented on #609
Update: Done.

[2021-08-06 16:49] #609 closed

[2021-08-06 16:50] natenatesoo commented on #223
Update: Done

[2021-08-06 16:50] #223 closed

[2021-08-06 16:51] natenatesoo commented on #586
Update: Done

[2021-08-06 16:51] #586 closed

[2021-08-06 16:55] natenatesoo commented on #830
@marthendalnunes
@PabloCGL

[2021-08-06 17:00] natenatesoo commented on #743
Update: Sweet Reminder for the Community!

[2021-08-06 17:04] natenatesoo commented on #778
Update: Very Important!  Possibly having a video tutorial of the Zenhub Board and related mechanics.

[2021-08-06 17:04] natenatesoo commented on #742
Update: Still In Progress

[2021-08-06 17:05] chuygarcia92 commented on #481
hatch swag is up so maybe this epic can be closed?

[2021-08-06 17:07] natenatesoo commented on #534
Update: Still waiting for Confirmation @kristoferlund.

[2021-08-06 17:07] natenatesoo commented on #731
Update: Forum Post incoming.

[2021-08-06 17:10] natenatesoo commented on #2
Update: Still work in progress.

[2021-08-06 17:13] JuankBell commented on #255
Ok from Gravity! :)

[2021-08-06 17:13] #255 closed

[2021-08-06 17:14] JuankBell commented on #256
Disputable voting and Dandelion Voting Ok from Gravity!

[2021-08-06 17:14] #256 closed

[2021-08-06 17:14] chuygarcia92 commented on #575
the C&D process has been covering this, so closing issue
https://hackmd.io/@1sBtuDmrRBG360k8-EXf2A/BJ1ZYSl5_

[2021-08-06 17:14] #575 closed

[2021-08-06 17:14] natenatesoo commented on #576
Update: Done.

[2021-08-06 17:16] chuygarcia92 commented on #576
we have a working template on the C&D repo, so closing :)

[2021-08-06 17:16] #576 closed

[2021-08-06 17:17] natenatesoo commented on #733
Update: Review with VyVy-vi.

[2021-08-06 17:20] natenatesoo commented on #542
Update: @chuygarcia92 still working on it.

[2021-08-06 17:22] natenatesoo commented on #785
Update: Nuggan working oni it.  Perhaps collaborate with Juan and Gravity POAP.

[2021-08-06 17:25] natenatesoo commented on #709
Update: Regroup, and establish a meeting around the development of a Style Guide.  Adding this to the Communications Agenda.

[2021-08-06 17:26] natenatesoo commented on #681
Update: Still a work in progress.

[2021-08-06 17:27] natenatesoo commented on #633
Update: Revisiting the SEO Process.  Adding to the Communications Agenda and potential meeting around SEO development.

[2021-08-06 17:30] natenatesoo commented on #315
Update: Closing this issue in favor of new.

[2021-08-06 17:30] #315 closed

[2021-08-06 17:30] chuygarcia92 commented on #733
some links are broken in the announcements, we should check every WG and pick up on the biweekly issue.. will check in with @Vyvy-vi if he needs support

[2021-08-06 17:32] natenatesoo commented on #140
Update: @Vyvy-vi do you have any thoughts on this?

[2021-08-06 17:36] natenatesoo commented on #782
Update: Few people remaining, searching for usernames.  Dan is finding usernames for those who are remaining.  90%

[2021-08-06 17:39] natenatesoo commented on #809
Update: Establish a recurring Review of all Documentation, and a protocol around it.

[2021-08-06 17:41] natenatesoo commented on #809
Update: This applies to ALL Documentation.

[2021-08-06 17:43] natenatesoo commented on #679
Update: High Priority and Blocked by uncertainty around the future of the Hatch Outreach WG.  Look into who will steward this effort into the future (TE Scouts?).  More discussion needed.

[2021-08-06 17:54] natenatesoo commented on #802
Update: Identify new communities to create new lounge space.

[2021-08-06 17:54] iviangita commented on #837
Linked to [816](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/816)

[2021-08-06 17:56] natenatesoo commented on #772
Update: Review the Manifesto, but it is completed. Follow WG creation process.

[2021-08-06 17:56] #772 closed

[2021-08-06 18:00] natenatesoo commented on #770
Update: Needs Confirmation.  Explore YouTube options.

@Zeptimus
@Vyvy-vi
@chuygarcia92
@JuankBell

[2021-08-06 18:03] natenatesoo commented on #717
Update: Review and QA

[2021-08-06 18:27] Zeptimus commented on #770
Done! https://www.youtube.com/c/TokenEngineeringCommons this is our new URL and also added a slide on the c.call presentation

[2021-08-06 18:27] #770 closed

[2021-08-06 18:27] #678 closed

[2021-08-06 18:27] JuankBell commented on #678
![Captura de Pantalla 2021-08-06 a la(s) 8.23.46 p. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/12d24258-a9cc-4fb5-a286-8a6ad2004439)

Thanks to @iviangita the TEC lounge is now a recurring event in the TEC calendar! We will be having this spaces all Fridays before the meme parties!

And also thanks to @eduardovegap for being supportive of this spaces in the TEC and other

[2021-08-06 18:36] Vyvy-vi commented on #733
I'll try and get this working on Sunday

[2021-08-06 18:50] Vyvy-vi commented on #666
The bot has this implemented, however moving forward, I think it might be of utility for us to fork the `pollen-bee` bot and related automations that 1Hive built for their sourcecred instance

[2021-08-06 18:50] #666 closed

[2021-08-08 12:04] kristoferlund commented on #534
@natenatesoo The Swagtec token is now fully implemented and working if that is what you mean. This issue can probably be closed unless there is something I have missed.

[2021-08-08 23:46] natenatesoo commented on #534
@kristoferlund @tamarandom Just looking to confirm that there is documentation on the token issuance?/problems, if we want that to be published within the cslove/devops repo. If not, lets go ahead and close the issue!

[2021-08-09 17:55] kristoferlund commented on #534
The issue was the token and the shop not working together in a good way. Now they do. Closing issue.

[2021-08-09 17:55] #534 closed

[2021-08-10 01:59] chuygarcia92 opened #838 "Implement forum WG updates to the website"
## 👇🏽  **What is this issue about? Give as much detail as you can.**
@kristoferlund had an amazing idea some weeks ago about implementing the Discourse API so that the TEC website can display recent updates by the working groups. The idea would be to start this implementation with the Commons Swarm weekly updates post and start migrating the agendas to the forum.

## ✨  **What does success look li

[2021-08-10 11:13] Zeptimus commented on #838
Yeah, this is super cool it will create engagement with the community and more vitality to our website is there anything I could do to make it happen?

[2021-08-13 07:33] iviangita opened #839 "Translation of TEC articles/documents"
## 👇🏽  What is this issue about? Give as much detail as you can.
Having our TEC articles translated into international languages will help us push our mission forward in different corners of the world and welcome more members to our community. Some contributors have already reached out to offer their time and skills to help with the translation and introduce the TEC to their parts of the world.

W

[2021-08-13 07:34] iviangita commented on #817
First draft: https://docs.google.com/document/d/1ZBEYdJbJWMaVPRSHgaG4g6PXdv91m05KXifgUBH9hNw/edit?usp=sharing

[2021-08-16 13:25] Zeptimus opened #840 "Build a roadmap for Transparency post hatch"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@iviangita

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the

[2021-08-17 15:21] iviangita commented on #817
Posted on the forum: https://forum.tecommons.org/t/requesting-and-giving-access-to-tec-accounts-and-managing-credentials/557

[2021-08-17 16:11] Michael-A-Heuer commented on #832
I would like to work on this issue.
I am POAP collector myself and I also want to learn how to use them for my project.

[2021-08-18 12:33] eduardovegap commented on #782
MISSION ACCOMPLISHED!

[2021-08-18 12:33] #782 closed

[2021-08-18 12:34] eduardovegap commented on #207
I think we can close this issue. The hatch has been completed and the outreach is done.

[2021-08-18 12:34] #207 closed

[2021-08-19 15:46] eduardovegap opened #841 "Framework for Project's Proposals."
## 👇🏽  What is this issue about? Give as much detail as you can.

This issue is to find consensus over a better process to handle proposals.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@liviade1

## 🔗

[2021-08-19 15:47] eduardovegap commented on #802
We are going to add the new targets from highlights to the TEC Curate: https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=755600565

cc: @natenatesoo

[2021-08-19 15:49] #725 closed

[2021-08-19 20:18] heueristik commented on #832
**Steps to finish:**
- [x] creating the POAP events
- To see the events go to the [POAP event page](https://app.poap.xyz/admin/events/) and search for `Graviton Session`. For the POAP edit codes ask me or request access to the *Graviton Session POAPs GoogleSheet*
- [x] [invite the POAP bot to the TEC discord](https://discord.com/api/oauth2/authorize?client_id=764554729476194315&permissions=2112&sc

[2021-08-20 08:17] iviangita commented on #816
CLOSING! Airdropped 1 SWAGTEC to all Hatchers. Notification still ongoing but we also released a [tweet](https://twitter.com/tecmns/status/1427616450689208336?s=20) about claiming Hatch swag :)

https://docs.google.com/spreadsheets/d/1G5srPuTKHLnFa0CGUmGBVrm47hRCQeZfMFGaErHn7cs/edit?usp=sharing

[2021-08-20 08:17] #816 closed

[2021-08-20 13:12] iviangita commented on #824
Will assign this to Zer8 once he accepts the invitation to edit on this workspace

[2021-08-20 13:17] iviangita commented on #817
UPDATE: Waiting on @Zeptimus to confirm where we can place this on Gitbook, then this can be closed :)

[2021-08-20 14:25] tamarandom commented on #681
We can close this. The high priority issue was fixed. The lesser priority one is ok to let go of.

[2021-08-20 14:25] #681 closed

[2021-08-20 14:35] tamarandom commented on #481
@chuygarcia92 Yes we can! Closing.  🥳

[2021-08-20 14:35] #481 closed

[2021-08-20 14:41] tamarandom commented on #743
@natenatesoo What a great idea! I'll tag this issue "for contributor" and "good first issue" and loop @danelsuga in so the onboarding team are aware of it.

[2021-08-20 14:42] tamarandom commented on #782
🤸  🤸  🤸

[2021-08-20 14:55] Zeptimus commented on #824
We have a first draft https://docs.google.com/document/d/1el7GdOZwqTTTYb3Es-tzR6e9uNb_KRTe1t7MGQ9JTPY/edit

[2021-08-20 15:08] tamarandom opened #842 "Rewards system proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
This is one of the action items we are carrying into this Sprint from our Retrospective.

Don't try for perfection on the rewards system, propose something and let it evolve, i.e., **“Don’t let perfect be the enemy of good.”**

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Someone publishe

[2021-08-20 15:10] tamarandom opened #843 "Talk with Vocdoni and 1hive about developmental support(Hiring lead for Dev team)"
## 👇🏽  What is this issue about? Give as much detail as you can.
This is one of the Retrospective actions that are being carried into this Sprint.

Hiring for dev team: Make a little description of dev skills we are looking for and put it out there
Answer: Aragon developer

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. We find one or more devs that are

[2021-08-20 15:13] tamarandom commented on #801
I'd say this is a 🌶️ 🌶️  priority for this Sprint.

[2021-08-20 15:16] tamarandom opened #844 "Stewards WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
What and who should be funded as part of the Stewards WG?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Drafting a crappy first draft for Advice Process
2. Draft a good proposal for publishing to the Forum
3. Eventually, after the Commons Upgrade, proposing to the DAO

## 🧍🏻‍♀️🧍🏻‍♂️  Who

[2021-08-20 15:31] tamarandom commented on #205
Housekeeping. 🧹  🧹  🧹

[2021-08-20 15:31] #205 closed

[2021-08-20 15:33] tamarandom commented on #696
Housekeeping 🧹 🧹 🧹

[2021-08-20 15:33] #696 closed

[2021-08-20 15:41] tamarandom opened #845 "Hatch DAO Proposals and Votes"
## 👇🏽  What is this issue about? Give as much detail as you can.
These are the voted that the Hatch DAO will have to vote on:

#1 75% Governance Rights to people that received deductions as stated in the Praise Debates. I can take this one :) (juan)
#2 Several people have lost their keys or want to switch their address for one reason or another. We can burn and remint in 1 tx. (Tamara and Zep to c

[2021-08-20 15:43] tamarandom opened #846 "Hatch DAO Vote: 75% governance rights restored"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 15:44] tamarandom opened #847 "Address changes: Burn and mint new tokens for those that have lost or changed their address"

[2021-08-20 15:45] tamarandom opened #848 "Hatch DAO Vote: Initial buy into the ABC for the DAO"
## 👇🏽  What is this issue about? Give as much detail as you can.

More details coming soon!

@tamarandom and @Zeptimus will collaborate on getting this done.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)

[2021-08-20 15:45] tamarandom opened #849 "Legal review of covenant before community vote"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 15:58] tamarandom commented on #760
These issues have been closed for a while. Housekeeping & closing.

[2021-08-20 15:58] #760 closed

[2021-08-20 16:09] tamarandom opened #850 "Zenhub onboarding"
## 👇🏽  What is this issue about? Give as much detail as you can.

Include @mount-manu and @MrsBadgerface in the Zenhub onboarding I'm doing for CS new contributor and Zer8.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have v

[2021-08-20 16:14] #809 closed

[2021-08-20 16:14] #736 closed

[2021-08-20 16:14] tamarandom commented on #736
Awesome work! Closing!

[2021-08-20 16:15] liviade1 opened #851 "Submit for advice process a proposal for new reward system's"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 16:15] tamarandom commented on #837
@iviangita @eduardovegap : do you feel that this outreach has been done? Can we close this now?

[2021-08-20 16:16] MrsBadgerface opened #852 "Revisit TEC agreements"
Revisit the TEC agreements and suggest edits as needed, to best reflect the TEC's VMM.

✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. The relevant stewards have approved any suggested edits.
2. The community has voted through the suggested edits.
3. If there are edits, the handbook has been updated to match.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice

[2021-08-20 16:16] liviade1 opened #853 "give feedback to eduardo's advice process on proposals"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 16:17] natenatesoo commented on #813
Evaluation of Costs, Security Model, and Roles and Access are achieved within this epic.  Partial Integrations have been made (Twitter only).  Website integration and blog integration are still desired.  We will be paying for Hubspot Marketing.  Right now we have a free 2 week trial that started on August 18, 2021.  Education around use of Hubspot is important and still needs to be worked on.

[2021-08-20 16:17] liviade1 opened #854 "set up snapshot for testing as potential platform for next votes"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@natenatesoo @liviade1

## 🔗  Are there links or docs related to this issue?

## 👀  Who shou

[2021-08-20 16:17] natenatesoo commented on #100
This is done.

[2021-08-20 16:17] #100 closed

[2021-08-20 16:18] GriffGreen opened #855 "Get the first web version out for the Config Dashboard - Intro, Learning and Token Thaw modules"
First release !!! Coming this sprint for sure.

This first release will have the first 3 modules... more to come :-D

[2021-08-20 16:18] liviade1 opened #856 "Update CV proposal template in the Forum"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 16:18] natenatesoo commented on #742
Update: SME's will be further detailed during this upcoming Sprint.  Working with Transparency and Soft-Gov as we fully develop the Advice Process.

[2021-08-20 16:20] GriffGreen opened #857 "Config Dashboard Second release - Tao Voting!"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 16:20] GriffGreen opened #858 "Config Dashboard Third release - Conviction Voting!"

[2021-08-20 16:21] GriffGreen opened #859 "Config Dashboard fourth release - Augmented Bonding Curve"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 16:22] GriffGreen opened #860 "Config Dashboard final (5th) release - Github issues can be created"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 16:27] Zeptimus opened #861 "Review and add graduated sanctions on code of conduct for admins"
## 👇🏽  What is this issue about? Give as much detail as you can.
Review the code of conduct for admins https://docs.google.com/document/d/1hnwSQn4vxboxazraX2qPwa25bBBrvk3TpXsSDkXhqCM/edit and add graduated sanctions for those who miss behave

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (P

[2021-08-20 16:28] MrsBadgerface opened #862 "Revisit agreements in Handbook"
## 👇🏽  What is this issue about? Give as much detail as you can.
Request by @liviade1 for someone to revisit the agreements in the handbook to ensure that they reflect our MVV.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Relevant stewards agree that any edits to the agreements are suitable.
2. Community supports edits.
3. If edits made, agreements in

[2021-08-20 16:41] #852 closed

[2021-08-20 16:46] JuankBell opened #863 "Make a long-term Gravity roadmap"
## 👇🏽  What is this issue about? Give as much detail as you can.

We have been using 3month roadmaps in Gravity, but feedback and insights show that it would be good to have a clear long term scope (1year) of the project, to follow interconnected goals and objectives that take us to the place we would like to be.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue do

[2021-08-20 16:47] tamarandom opened #864 "Comms WG Funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
(already work in progress....)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀

[2021-08-20 16:51] tamarandom commented on #785
We have the POAP for Hatchers. There might be a second one done by Nuggan. @GriffGreen will check with Nuggan.

[2021-08-20 16:52] tamarandom commented on #682
Fixed & closing!

[2021-08-20 16:52] #682 closed

[2021-08-20 16:54] JuankBell opened #865 "Sync with comms for more engagement in the TEC lounges and Graviton training register"
Sync with comms for more engagement in the TEC lounges and Graviton trainings

{ } promote the [second blog post](https://docs.google.com/document/d/1txyn1dND8xG_ofNG_rxRzvNuBfGl3j20w9Au5N8kq0E/edit) and the [register here](https://docs.google.com/spreadsheets/d/1PhvCZJFkk_j63Q8Aszay2DAn2qg39x6zJDSLlj924TY/edit#gid=679275498) spreadsheet
{ } Make a graphic piece for the TEC lounges

 ![gravity_inv

[2021-08-20 17:00] #833 closed

[2021-08-20 17:00] #836 closed

[2021-08-20 17:03] tamarandom commented on #842
Dupe of #851. Closing.

[2021-08-20 17:03] #842 closed

[2021-08-20 17:08] liviade1 commented on #851
https://docs.google.com/document/d/1ageex8VYF0yUE13t1e2eX4JIFdIOyRmHW9wpzPafdzo/edit#

[2021-08-20 17:10] tamarandom commented on #810
Shawn can bring this to the labs in early Sept.

[2021-08-20 17:12] tamarandom commented on #810
Suggestion: loop in rdfbx (I'm sure I have his handle wrong, sorry!)

[2021-08-20 17:18] GriffGreen opened #866 "Encourage Brett to review the ABC code"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-20 17:39] tamarandom commented on #737
End of an era. No longer happening on a bi-weekly basis. Will have to open a new issue when we have the date for the quant session.

[2021-08-20 17:39] #737 closed

[2021-08-20 17:40] tamarandom commented on #347
The bi-weekly praise quant is over. Closing!

[2021-08-20 17:40] #347 closed

[2021-08-23 14:50] tamarandom commented on #338
Backlog refinement, closing!

[2021-08-23 14:50] #338 closed

[2021-08-23 14:54] tamarandom commented on #679
Update: this post by @eduardovegap :
https://forum.tecommons.org/t/proposed-framework-for-receiving-projects-proposals/562

[2021-08-24 12:33] kristoferlund commented on #838
I'd love to hack away at this! Not sure at the moment how much available time I have but will think that through and get back to you.

[2021-08-24 14:34] iviangita commented on #837
Yes this can be closed. We will also follow up with Comms team on the status of Hubspot so we can send a Hatch Swag reminder via email as well.

cc: @eduardovegap

[2021-08-24 14:34] #837 closed

[2021-08-25 16:49] tamarandom opened #867 "Remove Hatch Outreach weekly discord autopost"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-08-26 12:04] iviangita opened #868 "Devops support for our merch and swag shop"
## 👇🏽  What is this issue about? Give as much detail as you can.

If you're looking at this issue hoping to contribute to the project, welcome! We'd love to have you contribute, so please let us know if you have any questions.

Comment on the issue or touch base in our [Discord](https://discord.gg/WxMPdEvV).

We have experienced some technical issues on our swag and merch shops and are still looki

[2021-08-30 11:47] Zeptimus commented on #745
First draft done a week or 2 ago, legal its reviewing it now

[2021-08-30 11:49] Zeptimus commented on #832
We should only have 1 person assaign as point of contact this job its being done well ill remove myself as assigne, but if there is any help needed just DM me or tag me here

[2021-08-30 11:54] Zeptimus commented on #848
Posted on the forum on advice process it's having good engagement https://forum.tecommons.org/t/should-we-do-the-initial-buy-into-the-bonding-curve/574/6

[2021-08-30 11:55] Zeptimus commented on #847
https://forum.tecommons.org/t/one-time-change-of-tech-addresses-as-requested-by-owner-because-access-was-lost-or-another-reason/571/4 It's on adivce process

[2021-08-30 13:27] Zeptimus opened #869 "Bot announcement is not working for transparency"
## 👇🏽  What is this issue about? Give as much detail as you can.
Since June 7  the bot it's not working on the transparency channel, if it's possible would be so cool if you could take a look 🙏🙏

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue.

[2021-08-31 05:41] danelsuga commented on #778
@tamarandom has been doing a couple Zenhub onboarding calls. One thought has been to record one of those as a future tutorial. My feeling is that running it cleanly and concisely without an audience would be best.

[2021-08-31 05:43] danelsuga commented on #740
Closing this issue, as active issue #778 discusses the same topic.

[2021-08-31 05:43] #740 closed

[2021-08-31 05:46] danelsuga commented on #654
For the last month, we stopped contacting new members individually and instead post collective messages in the Orientation channel. We are now actively working on new solutions with @MrsBadgerface and @eduardovegap.

[2021-09-01 15:55] tamarandom commented on #2
@mount-manu @chuygarcia92 Is this video different than the Community video that was just made?

[2021-09-01 17:07] #598 closed

[2021-09-01 17:08] #857 closed

[2021-09-01 17:27] danelsuga opened #870 "Removal of Hatch Outreach WG from TEC website"
Cross-posted in website dev as issue #35

## 👇🏽  What is this issue about? Give as much detail as you can.

Remove Hatch Outreach Working Group has closed. Please remove the WG from the TEC website.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Removal of Hatch Outreach WG from website that lists all WG's.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of th

[2021-09-02 04:13] Vyvy-vi commented on #869
I'll get it fixed

[2021-09-02 13:05] tamarandom opened #871 "Airdrop to builders that didn't also fund the Hatch"
## 👇🏽  What is this issue about? Give as much detail as you can.
There are some Builders that have not received a swagtec airdrop because they did not fund the Hatch. But they have been building the TEC for a long time. They were missed due to the process we use to export addresses from the Hatch dApp.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. List

[2021-09-02 17:02] tamarandom opened #872 "Steward session for WG Funding"
## 👇🏽  What is this issue about? Give as much detail as you can.
Make it happen this Sprint.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  W

[2021-09-02 17:24] tamarandom opened #873 "Another TEC Coordination onboarding for this Sprint"
## 👇🏽  What is this issue about? Give as much detail as you can.
The last ones went well. I like the dynamics of a live group. Can immediately answer questions as they arise.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have

[2021-09-02 19:44] tamarandom commented on #850
Done! Going to do another one next sprint.
More people showed up than I expected.

[2021-09-02 19:44] #850 closed

[2021-09-03 12:08] tamarandom opened #874 "Value proposition for early stage strategic investors"
## 👇🏽  What is this issue about? Give as much detail as you can.
Attracting early investors.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Thinking around ballpark figures and who would be good candidates for value-aligned, strategic partners
2. Feel out interest in early participation into the TEC
3. Small team to follow through to conclusion

## 🧍🏻‍♀

[2021-09-03 12:16] tamarandom opened #875 "Initial ABC Buy: Liquidity for secondary markets"
## 👇🏽  What is this issue about? Give as much detail as you can.
Advance ideation on the topic of acquiring TEC tokens at a favorable price in order to provide liquidity on secondary markets.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Someone wants to take this on!
2. Ideates on possible ways, probably with a nimble team
3. Selects best solution for

[2021-09-03 12:30] tamarandom opened #876 "Continue research on DAO Treasury Management"
## 👇🏽  What is this issue about? Give as much detail as you can.
Evaluate and propose suggestion for treasury management. The options are not few. What are the criteria we should use to evaluation the options, which one will best serve the TEC?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Someone owns this!
2. Evaluation of the options and selection p

[2021-09-03 15:05] MrsBadgerface commented on #862
Update:

- The contributors have dived into these and added tons of questions and ideas.
- I've shared the document in the stewards channel and asked for stewards to please answer questions when they can or support or reject suggestions.
- Livia and I will liaise on Monday 6th Sept re. next steps and ownership while I'm on holiday from the 8th Sept for 2 weeks.

The Google doc is here: https://doc

[2021-09-03 15:08] Zeptimus commented on #824
Closing https://forum.tecommons.org/t/tec-discord-roles/581

[2021-09-03 15:08] #824 closed

[2021-09-03 15:08] Zeptimus commented on #869
Thanks!!

[2021-09-03 15:11] Zeptimus commented on #745
Done, already reviewed by legal and after review by softgov we will add to the Gitbook

[2021-09-03 15:11] #745 closed

[2021-09-03 15:11] iviangita opened #877 "Praise bot message"
## 👇🏽  What is this issue about? Give as much detail as you can.

The Praise bot message needs to be updated since the Hatch is finished.

This is the old Praise bot message:

**Discord**
![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/255891ed-6da3-4f1e-a951-92ce58644356)

**Telegram**
![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/e75fd603-0

[2021-09-03 15:20] iviangita opened #878 "Documentation on types of Snapshot voting"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-03 15:31] GriffGreen opened #879 "Explore the bonding curve modification for the 75% Governance Giveback"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
A clear answer on if it is ok to use a negative virtual supply number for the launch.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are th

[2021-09-03 15:34] GriffGreen commented on #879
https://forum.tecommons.org/t/75-governance-giveback/569/

[2021-09-03 15:36] JuankBell commented on #828
Post published! https://medium.com/token-engineering-commons/graviton-training-season-2-8f9817cf404d

[2021-09-03 15:36] #828 closed

[2021-09-03 15:53] JuankBell commented on #831
Study plan ready! https://docs.google.com/document/d/1txyn1dND8xG_ofNG_rxRzvNuBfGl3j20w9Au5N8kq0E/edit
Next move : post on the forum

[2021-09-03 15:57] JuankBell commented on #846
Proposal posted. Advice process being done about the technical solution.
https://forum.tecommons.org/t/75-governance-giveback/569

[2021-09-03 16:07] #272 closed

[2021-09-03 16:07] #804 closed

[2021-09-03 16:07] #851 closed

[2021-09-03 16:07] #853 closed

[2021-09-03 16:09] natenatesoo commented on #854
Done!

[2021-09-03 16:09] #854 closed

[2021-09-03 16:09] liviade1 opened #880 "prepare graviton training session"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-03 16:11] danelsuga opened #881 "Development for Communitas WG!"
## 👇🏽  What is this issue about? Give as much detail as you can.
It's time to develop a WG for orientation and community building!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. New members feel guided.
2. Non new members feel guided!
3. Assistance on integration and relationships within the community.
4. Figuring it out if integration with TEC Scouts i

[2021-09-03 16:19] eduardovegap commented on #881
@danelsuga I took the liberty of adding some points to what success looks like.

[2021-09-03 16:23] #753 closed

[2021-09-03 16:24] Santigs opened #882 "DAO Tresury Legal discussions"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-03 16:31] chuygarcia92 commented on #448
hatch is done and a success :)

[2021-09-03 16:31] #448 closed

[2021-09-03 16:31] tamarandom commented on #829
Closing. The idea was to look for a Treasury WG.

[2021-09-03 16:31] #829 closed

[2021-09-03 16:32] #273 closed

[2021-09-03 16:32] tamarandom commented on #273
Clsoing. The DAO sends the funds. This can be a social agreement or something that comes out of SoftGov? @liviade1

[2021-09-03 16:33] liviade1 opened #883 "governance framework for snapshot"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-03 16:33] chuygarcia92 commented on #864
this presentation is a work in progress for the TE Comms DAO:

https://docs.google.com/presentation/d/1NEL4iyTe28C71RwNiGwBmQ_8NI27eLvU1IO2_7JeDQI/edit?usp=sharing

[2021-09-03 16:35] danelsuga opened #884 "Discord Bot with Q's to direct new members"
## 👇🏽  What is this issue about? Give as much detail as you can.
Put in place a Discord bot to help collect info form new members and direct them appropriately.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. New members will be organized upon arrival and will be able to find their way to best places for contributing and getting settled in the community.

[2021-09-03 16:35] chuygarcia92 commented on #785
Nuggan made the POAP:
https://poap.delivery/hatch-tech-holder

[2021-09-03 16:35] #785 closed

[2021-09-03 16:36] Santigs opened #885 "Legal implications of Revenues comming into the DAO apart from the Bonding Curve"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-03 16:36] liviade1 opened #886 "finalize cultural agreements"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-03 16:39] JuankBell opened #887 "Promote and Start the NVC study club"
## 👇🏽  What is this issue about? Give as much detail as you can.

As the graviton training is going to happen on tuesdays after soft gov, the timeslot after thursdays community call will be used to have a NVC study club.

The initial proposal is to have this calls on the DAO Book club server https://discord.gg/6P7cCxJ8EM So that after TEC community calls, the TEC server is available for making spo

[2021-09-03 16:39] JuankBell opened #888 "Promote and continue the NVC study club"
## 👇🏽  What is this issue about? Give as much detail as you can.

As the graviton training is going to happen on tuesdays after soft gov, the timeslot after thursdays community call will be used to have a NVC study club.

The initial proposal is to have this calls on the DAO Book club server https://discord.gg/6P7cCxJ8EM So that after TEC community calls, the TEC server is available for making spo

[2021-09-03 16:39] #57 closed

[2021-09-03 16:44] tamarandom commented on #887
Dupe of #888

[2021-09-03 16:44] #887 closed

[2021-09-03 16:50] chuygarcia92 commented on #542
Uploaded!
https://youtu.be/0GCei891fm8

[2021-09-03 16:50] #542 closed

[2021-09-03 16:54] danelsuga opened #889 "WG new contributors wishlist"
## 👇🏽  What is this issue about? Give as much detail as you can.
I would like to request on regular basis a new list from stewards for issues they would have for new contributors to take

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Regularly identifying roles for new contributors to share with them.
2. New contributors regularly taking on issues.
3. T

[2021-09-03 16:56] danelsuga opened #890 "WG weekly update!"
## 👇🏽  What is this issue about? Give as much detail as you can.
Each week I write-up a weekly update on the forum based on the stewards updated slides for the community call.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. stewards provide clear updates in their slides!
2. i use that info to write the update.
3. folks read the update on the forum and fi

[2021-09-03 17:01] JuankBell commented on #846
I think that this vote could be done through weighted voting with multiple alternatives:

1. No Governance giveback
2. 75% Governance giveback + (Quick and dirty solution)
3. 75% Governance giveback + (Slow and steady solution)
4. 75% Governance giveback + (still unknown solution)

Advice process* @GriffGreen

[2021-09-03 17:02] tamarandom opened #891 "Estimating how many contributors we have now!"
## 👇🏽  What is this issue about? Give as much detail as you can.
Since we stopped bi-weekly praise, we haven't been estimating active contributors. Find new way to do this.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have v

[2021-09-03 17:08] danelsuga opened #892 "Intro to the TEC video"
## 👇🏽  What is this issue about? Give as much detail as you can.

I would like to make a short video intro to the TEC going over the points I usually go over in the orientation sessions (MVV, WG's, etc.)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Getting an intro video up on YT (linked in various places) that really helps folks understand the TEC in

[2021-09-03 17:10] tamarandom opened #893 "Make snapshot more accessible to the public"
## 👇🏽  What is this issue about? Give as much detail as you can.
Add to website? Gitbook? Discord pinned message? Footer of our Blogpost, on our Twitter bio, etc?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. It is easy for Hatchers to find our snapshot link so they can vote!
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who s

[2021-09-03 17:11] cranders1 commented on #847
hey @tamarandom & @Zeptimus. happy to help with mint/burn if needed :)

[2021-09-03 17:15] GriffGreen commented on #891
https://docs.google.com/spreadsheets/d/1d7KVvAUlWb2yZPDTMttr1gEHzod6RKOiheGk-FX0BqE/edit?usp=sharing

In this sheet we track the number of unique discord handles (there is a tab that shows that)

This is an estimate... cause we have people on our telegram, that are left out of this count... but then also there are people who change their discord name that are counted multiple times... so i think i

[2021-09-03 17:19] GriffGreen commented on #891
Current estimate is 460

[2021-09-03 17:19] natenatesoo opened #894 "Website - Integrating Snapshot and Forum Feeds for WGs"
## 👇🏽  What is this issue about? Give as much detail as you can.
Increase the utilization of the Website and integrate our Forum and Snapshot modules along with additional Website Improvements.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Website should have a dedicated Governance page with Snapshot Embedded.
2. Website should have different areas tha

[2021-09-03 17:35] tamarandom opened #895 "documentation of infra/ops things - ex platforms, editing discord bots, etc"
## 👇🏽  What is this issue about? Give as much detail as you can.
There are backend operations that should be documented. What are they? Document them.
@iviangita  Swag shop.
@Vyvy-vi

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Documentation for ops things that need to be known / passed on.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Proces

[2021-09-03 20:45] tamarandom commented on #637
Closing this Epic as it is something that each WG will decide on their own.

[2021-09-03 20:45] #637 closed

[2021-09-04 01:16] natenatesoo commented on #8
I think we should actually utilize the Spaces Feature on Twitter to start engaging with our followers and others on TE Subjects and TEC Updates.  Its a really accessible feature.

[2021-09-04 06:23] #699 closed

[2021-09-04 06:23] tamarandom commented on #699
Refining product backlog. Closing this Epic for the Hatch params.

[2021-09-04 06:24] tamarandom commented on #276
Backlog refinement. Closing this Epic for the Hatch Params.

[2021-09-04 06:24] #276 closed

[2021-09-04 06:25] tamarandom commented on #76
Backlog refinement. Closing this epic  for the WG formerly known as Tech Spec (and taking a little trip down memory lane).

[2021-09-04 06:25] #76 closed

[2021-09-04 06:26] tamarandom commented on #89
Backlog refinement. Closing this Epic as it is not needed.

[2021-09-04 06:26] #89 closed

[2021-09-04 15:44] danelsuga opened #896 "Community WG Manifesto"
## 👇🏽  What is this issue about? Give as much detail as you can.

Advice process on the manifesto for the new Community WG

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)

The stewards would approve this manifesto and subsequently approve the Community WG so we can move forward both with the objectives of the WG (and eventually with a new proposal for fundi

[2021-09-04 15:50] Zeptimus commented on #896
yeah its so needed thanks katy for taking that on! The team looks awesome!!

[2021-09-05 08:06] GriffGreen commented on #896
So excited for a Community WG!!

[2021-09-05 08:08] GriffGreen commented on #894
Oh man that would be awesome! Seems like its right up @Vyvy-vi's expertise...  ooo that rhymes :-D

At least porting over a discord bot would be.

[2021-09-05 08:09] GriffGreen commented on #889
added mine!

[2021-09-05 15:19] Zeptimus commented on #847
the dao will do it for us on tec in 1tx regarding commons stack i think it will be manual @GriffGreen @knobsdao those 2 and tam know better if they need help there.

[2021-09-05 15:31] tamarandom commented on #889
Link: https://docs.google.com/document/d/1hkbt8R8BlHWsLd5OHHqZ-hMmH8dmkDAoY9c7J2ZtRc0/edit

[2021-09-05 18:26] Vyvy-vi commented on #894
All of these would be awesome!

For the second one, I think some time ago @kristoferlund suggested an idea for making WG updates from a topic on the forum show up in the website.

For the third one, I think working on accessibility can have a lot of value. :)

[2021-09-05 21:47] tamarandom opened #897 "Forums backend update"
## 👇🏽  What is this issue about? Give as much detail as you can.

![Screen Shot 2021-09-05 at 11.44.55 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/651377c7-65c6-460a-be5f-ce7a6aef0725)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. discourse update ;)
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who s

[2021-09-06 14:15] kristoferlund commented on #870
Done deal.

https://tecommons.org/workgroups

[2021-09-06 14:36] kristoferlund commented on #894
Great ideas @natenatesoo!

I'd say that is related to a slightly bigger decision. Should the TEC web continue to be a fairly simple landing page linking to other pages, projects and services? Or should the web be a place where members and outsiders spend actual time to interact with governance tools etc. I have no clear opinion yet. Perhaps that is something the commons can vote on and fund after

[2021-09-06 14:36] MrsBadgerface commented on #862
Handing this over to @liviade1 to move forwards as I'm away for the next two weeks.

[2021-09-06 16:22] tamarandom opened #898 "Gitcoin Grant R11"
## 👇🏽  What is this issue about? Give as much detail as you can.
We we do this?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@cranders1 @GriffGreen

## 🔗  Are there links or docs related to this issue?

[2021-09-06 17:00] cranders1 commented on #898
hey @tamarandom & @GriffGreen. happy to update the TEC grant for GR11.
i will try to update the logo and info, but still with a generic flavor.
if others have more specific grant ideas, i'm all ears ;)

[2021-09-07 07:10] AL0YSI0US opened #899 "Meeting ADA Accessibility Requirements across the Web"
The Community Steward that will support and review this work is : @

## 👇🏽  What is this issue about?

As I was falling down the 🐇 . . . . 🕳️ (rabbit hole) that is TEC I noticed there were parts of our sites that won't reach our entire audience. = ♿

I ran tests on a  few pages and will include photos in the comments within this issue to demonstrate a quick audit and allow others to see what I am

[2021-09-07 07:12] AL0YSI0US commented on #899
![website-audit](https://user-images.githubusercontent.com/75811965/132300412-7e878298-00d7-4754-b59e-60fc1c814407.PNG)

## 🔗 The links and docs related to this issue:
+ https://wave.webaim.org/extension/ (ADA compliant WAVE browser extension)
+ https://tecommons.org/ (website)

[2021-09-07 07:15] AL0YSI0US commented on #899
![handbook-audit](https://user-images.githubusercontent.com/75811965/132300974-d6b67910-bb19-44db-a476-b21ccd70d325.PNG)
![contrast-errors-handbook](https://user-images.githubusercontent.com/75811965/132301000-4551e424-5007-4878-a5cd-9dd9c99beede.PNG)

[2021-09-07 13:35] iviangita commented on #839
For the list of articles, we can start with only 3 for now. These are my best picks:

1) [Token Engineering Commons: Analysis of Stakeholders, Tokens & Governance Processes ](https://medium.com/token-engineering-commons/token-engineering-commons-69398048209a) - there are other introductory articles about TEC but some details in those articles are outdated. This one is the latest and the most compr

[2021-09-07 14:17] iviangita opened #900 "Update the Telegram pinned message"
## 👇🏽  What is this issue about? Give as much detail as you can.
 The pinned message in our Telegram channel needs to be updated - for transparency purposes and to give the members more accurate info

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/57a0403e-2bd5-4d37-94e9-b2538d6ba123)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue don

[2021-09-07 15:41] chuygarcia92 commented on #839
Maybe this could be a little ambitious but I'd love to contribute with Shermin's piece as well:
https://medium.com/token-engineering-commons/token-engineering-commons-69398048209a

[2021-09-07 21:02] chuygarcia92 opened #901 "TEC token listings"
## 👇🏽  What is this issue about? Give as much detail as you can.
Work on pre stuff required for listings. The goal is to list TEC ASAP after the Commons Upgrade.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. We're able to list TEC on main platforms shortly after the ABC launch
2. Establish contact with support for proposed listing platforms
3. Develop

[2021-09-07 21:04] chuygarcia92 commented on #11
Already sent an email also trying to list Gardens as a DAO platform. @0xGabi mentioned they are already in contact with them at 1Hive and it should be a low-hanging fruit :apple:

[2021-09-08 12:51] tamarandom commented on #839
@iviangita What do you think of keeping the list of articles limited to evergreen? At least to start with. So the last one I would take off the list. It will no longer be so useful in 2 months time.

@chuygarcia92 that's the same one as the first link in @iviangita's list. You know what they say about great minds!

[2021-09-08 12:55] tamarandom commented on #898
You are a superhero, @cranders1 ! ⚡ 🦸 ⚡

[2021-09-08 14:21] tamarandom commented on #870
⚡ ⚡

[2021-09-08 14:21] #870 closed

[2021-09-08 14:24] tamarandom opened #902 "Support Gravity"
## 👇🏽  What is this issue about? Give as much detail as you can.
Putting Graviton skills to use to serve the Gravity WG.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Beginning to end of a Graviton case
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)

[2021-09-08 14:25] tamarandom commented on #891
⚡ ⚡ ⚡

[2021-09-08 14:25] #891 closed

[2021-09-08 16:46] danelsuga commented on #892
I am in the process of preparing a TEC intro video based on the orientation I give on Wednesdays.

I wanted to get it out quickly to be useful. Let me know if you have any thoughts! 

@tamarandom @liviade1 @chuygarcia92 @eduardovegap

I figure we/I can do more of then, but I'm trying to produce a basic orientation intro one asap.

The video itself shows each screen pasted below for roughly 30 secs

[2021-09-08 22:10] Vyvy-vi commented on #869
There are some changes needed to the current system.. I'm wondering if I should go ahead and change the whole thing, or wait until we discuss the use of sesh.fyi in the server. (I think Nate brought that up in a call)

[2021-09-09 07:45] Santigs commented on #892
I think is a great idea but probably short small ones would work better.
Marketers say a video longer than 2-3 minutes is not effective.

El mié, 8 sept 2021 a las 18:46, danelsuga ***@***.***>)
escribió:

[2021-09-09 08:28] danelsuga commented on #892
Thanks @Santigs

The difference here is that I am not trying to get and hold the attention randomly of folks. It is an orientation video that they would actively be seeking out. A normal orientation runs usually an hour, so I think a 10-min video that simply identifies the structure of purpose of the TEC and includes what tools it uses would serve the community greatly!

For folks to be able to ju

[2021-09-09 09:09] Santigs commented on #892
I see your point and it sounds great. But keep in mind it will end up being
watched by anyone, not only those we expect to watch it so adding shortcuts
in the description to directly jump to those areas where someone would be
interested would be nice.

All in all, I think is a great idea, even adding a POAP for those joining
would be nice, it would help them get introduced into Metamask/Xdai which

[2021-09-09 09:11] danelsuga commented on #892
Thank you @Santigs for this great feedback!

[2021-09-09 12:53] iviangita commented on #839
@tamarandom yes we can limit the articles to evergreen, can we replace no.3 with this: [Wielding Promethean Fire — The Importance of Token Engineering Public Goods](https://medium.com/token-engineering-commons/wielding-promethean-fire-the-importance-of-te-public-goods-9afba0ce5a43)? :)

[2021-09-09 13:22] tamarandom commented on #892
@danelsuga does Advice Process come up in the introduction anywhere?

[2021-09-09 14:29] iviangita commented on #877
Hi @Zeptimus @liviade1 I finished revising the Praise bot message - hope you can take a look and feel free to add other changes! :)

https://docs.google.com/document/d/1D4lvWGlPMrj1gIDVP7UT2QKkMFbxMyMA8MoR3RZSTvQ/edit?usp=sharing

[2021-09-09 14:33] iviangita commented on #900
Hi again @Zeptimus @liviade1 I also finished revising the Telegram pinned message - I took some of it from the message in the Orientation channel (the one that Katy sends to the new members). Hope you can review and feel free to add other changes! :)

https://docs.google.com/document/d/1D4lvWGlPMrj1gIDVP7UT2QKkMFbxMyMA8MoR3RZSTvQ/edit?usp=sharing

[2021-09-10 07:09] tamarandom opened #903 "Take the cultural survey"
## 👇🏽  What is this issue about? Give as much detail as you can.

Here is it: [https://the-commons-stack.typeform.com/tecsurvey](https://the-commons-stack.typeform.com/tecsurvey)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Finish and submit the survey!
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted abo

[2021-09-14 12:48] danelsuga commented on #896
We've named it Communitas WG, and it's ready to go!

https://docs.google.com/document/d/1g9vycoqIZkg83KyRM-7wMeCN-QxZTSfO-Ofq8o7U9pQ/edit#

[2021-09-14 12:48] #896 closed

[2021-09-14 12:49] danelsuga commented on #884
@Vyvy-vi has this ready to go, and we should be implementing it very soon.

[2021-09-14 12:59] Vyvy-vi commented on #884
The only thing that's left to discuss is where do we want this data to go

[2021-09-14 17:41] iviangita commented on #839
To close this issue, this is the quick process what we’ve come up with:

1. We will open a new issue for each article to be translated.
2. Ivy will coordinate with the contributors who have previously expressed interests in translating articles for TEC and invite them to participate in the issue if they are available.
3. The translated articles will be posted on Gitbook or the TEC Content Map. As

[2021-09-14 17:56] iviangita opened #904 "OPEN FOR CONTRIBUTORS: Translation of TEC Evergreen Articles"
## 👇🏽  What is this issue about? Give as much detail as you can.

✅ Are you looking for something to contribute to TEC?
✅ Want to volunteer and get rewarded with [Praise](https://forum.tecommons.org/t/reward-system-moving-forward/570)?
✅ Do you speak other languages?

This issue is open to any TEC member who wants to get involved in our community by translating some of our evergreen content pieces

[2021-09-14 18:18] #839 closed

[2021-09-14 21:38] tamarandom commented on #873
Happening Wed., the 15th.

[2021-09-15 10:00] Vyvy-vi commented on #897
![Discourse Update has been completed](https://user-images.githubusercontent.com/62864373/133413344-153a46a0-30b0-4d95-b928-24e12e279f34.png)
done! :)

[2021-09-15 10:07] #897 closed

[2021-09-15 15:39] tamarandom opened #905 "TEC source on gitbook"
## 👇🏽  What is this issue about? Give as much detail as you can.
Nate had this great idea!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Have this awesome TEC source for gitbook!
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links

[2021-09-15 15:39] #905 closed

[2021-09-15 15:47] tamarandom commented on #633
dupe #632

[2021-09-15 15:47] #633 closed

[2021-09-15 15:49] tamarandom commented on #903
Done!

[2021-09-15 15:49] #903 closed

[2021-09-15 15:58] tamarandom commented on #8
Great idea @natenatesoo ! There is also a feature on Discord now.... Stage.

[2021-09-15 18:25] Santigs commented on #245
Here's the draft doc we will start with
https://docs.google.com/document/d/1hhUISETCrlPiW0PQGO35ksOFfQyM6CVVUesGdw6SPBA/edit?usp=sharing

[2021-09-16 07:46] tamarandom commented on #245
Thank you @Santigs!  I just requested access to the file.

[2021-09-16 07:46] tamarandom commented on #897
Excellent!!

[2021-09-16 07:49] tamarandom commented on #884
Good question! What would you propose? Perhaps a Google Sheet would suffice?

[2021-09-16 08:07] Santigs commented on #245
I gave you access and changed the link.
Hopefully everyone will have comment access now

[2021-09-16 08:12] danelsuga commented on #884
@tamarandom @Vyvy-vi

We’re choosing a private Discord channel in the end, I think, as it is easiest.

[2021-09-16 08:23] tamarandom opened #906 "What is the feasibility of changing the TEC Praise bot icon to the TEC logo?"
## 👇🏽  What is this issue about? Give as much detail as you can.
Is is currently the Commons Stack one. See here:

![Screen Shot 2021-09-16 at 10.18.48 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/70af0b01-7441-4180-896a-38ee8c3411b5)

Even though the Praise was received for TEC and not CS.

![Screen Shot 2021-09-16 at 10.19.42 AM.png](https://images.zenhubusercontent.com/

[2021-09-16 09:01] tamarandom commented on #877
Hey @Vyvy-vi !!

@iviangita and I just made some changes and it's ready to go! There is only one outstanding questions about the image that will be used when it is sent but I think we can see this when we test it out. Is it possible to create use a specific image and not default to one of the ones associated with the articles linked?

[2021-09-16 10:41] eduardovegap commented on #871
Updated List above 10 iH: https://docs.google.com/spreadsheets/d/1KTeRlsPTqo5zmnDorBWPsQvUwlYMvKOgdZifZJfUPd0/edit#gid=153626216

[2021-09-16 12:36] iviangita commented on #900
Hey @liviade1 and @Zeptimus, @tamarandom and I reviewed the new Telegram message together today and it's good to go. I'm posting it on Telegram now so I'm closing this issue.

If anyone has suggested edits, please let me know :)

[2021-09-16 12:36] #900 closed

[2021-09-16 15:45] JuankBell commented on #832
POAP bot working and set for the first session! Thanks @Vyvy-vi and @Michael-A-Heuer

[2021-09-16 16:54] Michael-A-Heuer commented on #832
Better remove the image above @JuankBell ^^.
You are leaking the first secret and some claim codes.

[2021-09-16 17:02] JuankBell commented on #846
Proposal to be voted on the 24-27 september. @chuygarcia92 tagged to help communicating the vote https://forum.tecommons.org/t/75-governance-giveback/569/15

[2021-09-16 18:21] tamarandom commented on #873
Finished!

[2021-09-16 18:21] #873 closed

[2021-09-16 23:03] Vyvy-vi commented on #884
This has been implemented :)

[2021-09-16 23:04] Vyvy-vi commented on #906
There's a small issue there.
CommonsStack and the TEC use the same discord bot for Praise.

To change the profile picture, we would need to deploy our own instance

[2021-09-16 23:05] Vyvy-vi commented on #877
I think that can be done

[2021-09-17 05:17] tamarandom commented on #906
Good to know. It sounds like the kind of thing we will need to do eventually.

Open question: what are the consequences to deploying an independent TEC praise bot?

[2021-09-17 05:55] tamarandom commented on #877
👍

[2021-09-17 06:34] Vyvy-vi commented on #906
There would be a hosting cost for the bot, and I think there might be some differences in how the praise gets handled for both CommonsStack and the TEC. (I think the praise goes to a spreadsheet, where griff separates them into separate Praise Quant sheets)

[2021-09-17 07:31] tamarandom commented on #884
Is the data collected in a form that can be searched or otherwise parsed. A few cases come to mind on how that would be very valuable for the TEC in the future.

[2021-09-17 08:50] tamarandom commented on #872
This is happening in the first Steward council (date, 9/23).

[2021-09-17 08:50] #872 closed

[2021-09-17 08:50] tamarandom commented on #902
In progress. Next call this Sunday.

[2021-09-17 08:54] danelsuga commented on #889
Thanks, everyone!

[2021-09-17 09:01] danelsuga commented on #890
Hi all! I don't think I can keep doing the weekly update. Can anyone help with that? @stewards Thank you!

[2021-09-17 09:01] tamarandom commented on #889
@freshelle - have you a little time to work with me or @Vyvy-vi  on this?

[2021-09-17 09:10] tamarandom commented on #747
@freshelle - have you a little time to work with me or @Vyvy-vi  on this? The piece of work is just to make the info captured in here available as either a word document or in the TEC handbook (we can check with @liviade1 which one is better).

[2021-09-17 09:11] danelsuga opened #907 "TEC Latest News: Medium article"
## 👇🏽  What is this issue about? Give as much detail as you can.

bi-monthly "TEC Latest News" article on Medium

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Writing the TEC Latest News twice a month including any pertinent topics as outlined during the Stewards call
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be

[2021-09-17 09:13] #889 closed

[2021-09-17 09:25] danelsuga commented on #884
@Vyvy-vi
@tamarandom
@liviade1
@natenatesoo
We should do advice process on this since it impacts things that are unseen.

For the future TEC, we probably need a way to parse and understand this data so we can use it and, for example, send contributors down different channels.

In Discord, the data appears to be just in a list. Maybe a spreadsheet would be better? And the questions designed in a wa

[2021-09-17 09:34] danelsuga commented on #884
Here is Vy's video showing how it works:

https://file.coffee/u/J5ZdAky_0djEKL.mp4

And here is the Discord channel where the data is dropped:

#orientation-data

[2021-09-17 09:45] tamarandom commented on #801
Ended up needing to get this done this Sprint. Sign-off from all the WG leads is in progress. Once it's signed off on, will share with the rest of the community.
https://miro.com/app/board/o9J_lbkGJHQ=/

![Screen Shot 2021-09-17 at 11.44.19 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/8ec5a00b-ecb5-48c2-838f-2b58b9fde237)

[2021-09-17 09:45] danelsuga opened #908 "Add Communitas WG to TEC website"
## 👇🏽  What is this issue about? Give as much detail as you can.
The new Communitas WG needs to be added to the TEC website please!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Adding the info for Communitas WG to the WG webpage of the TEC website
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about thi

[2021-09-17 09:48] danelsuga opened #909 "Add Communitas WG to the forum"
## 👇🏽  What is this issue about? Give as much detail as you can.
Add a page on the Communitas WG to the forum

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Include all the pertinent info to join the other WG's on the forum
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will ha

[2021-09-17 09:50] danelsuga commented on #881
The Communitas WG has been created! There are a few more steps to undertake (website WG page [#908], forum [#909]), but I believe this issue can now be closed.

[2021-09-17 09:50] #881 closed

[2021-09-17 10:20] danelsuga commented on #654
In this last sprint, we have continued with weekly orientations in lieu of individual contact. We have also created the Communitas WG and are developing new solutions for inviting in each and every new joiner.

[2021-09-17 10:23] danelsuga commented on #712
Orientation is more active now with announcements for weekly Orientation meetings and new joiners interacting with one another We also have the Communitas WG.

This is an ongoing project.

[2021-09-17 10:32] danelsuga commented on #892
I can include advice process. As the video is meant to be very short, it does not go into a lot of detail. However, I think it should be worth mentioning.

[2021-09-17 14:14] kristoferlund commented on #908
Sure I'll add! As soon as there is a logo @markoprljic.

[2021-09-17 15:06] Zeptimus commented on #869
ok, do you know when is it going to happen?

[2021-09-17 15:12] Zeptimus opened #910 "Work on listing our token on coingeko and see what do we need"
## 👇🏽  What is this issue about? Give as much detail as you can.

Identify all the needs to get our token listed

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to

[2021-09-17 15:12] iviangita opened #911 "Funding proposal for Transparency WG"
## 👇🏽  What is this issue about? Give as much detail as you can.
Draft a proposal on how to fund the Transparency WG and present it in the Stewards call

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@Zep

[2021-09-17 15:13] tamarandom commented on #844
I've done a lot of think work towards this over this Sprint. The outline for the model is taking shape. I expect that a first draft will happen next Sprint.

[2021-09-17 15:14] tamarandom commented on #778
Practicing the content in the live "TEC Coordination" sessions. There are still some kinks to work out.

[2021-09-17 15:15] tamarandom commented on #874
Making some progress here but this will continue over the next few Sprints.

[2021-09-17 15:18] Zeptimus commented on #878
Done! https://forum.tecommons.org/t/decision-making-guide/609/4

[2021-09-17 15:18] #878 closed

[2021-09-17 15:21] Zeptimus commented on #876
Still in progress we hold some debates
https://forum.tecommons.org/t/earn-interest-on-wxdai-with-hatch-funds-tec-x-agave/604/9
https://forum.tecommons.org/t/swap-tec-tokens-for-agave-tokens-tec-x-agave/605/10

[2021-09-17 15:44] Vyvy-vi commented on #884
If we want a spreadsheet, I could make the data go to Airtable. :+1:
For categorising, could we take some of the major keywords, and have a question that is a Choice Question with options?

[2021-09-17 15:47] Vyvy-vi commented on #869
I don't know when, but I think I'll go ahead and make the changes so that the call updates for Transparency work :+1:

[2021-09-17 15:48] tamarandom opened #912 "Checklist for onboarding new Stewards!"
## 👇🏽  What is this issue about? Give as much detail as you can.
Add this to the WG manifesto (details like discord and github roles, TG group, etc)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Easy to follow checklist is part of the Stewards manifesto
2. Follow the checklist for Mitch!
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (Peo

[2021-09-17 15:50] JuankBell commented on #832
POAPs ready!
Closing issue: next repeating task is feeding the bot with each week's password and link list.
![Captura de Pantalla 2021-09-17 a la(s) 10.47.13 a. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/1e7b7548-b71b-47f1-a70c-a44ad26927c7)

[2021-09-17 15:50] #832 closed

[2021-09-17 15:54] tamarandom commented on #867
Closing!

[2021-09-17 15:54] #867 closed

[2021-09-17 15:59] #883 closed

[2021-09-17 16:02] JuankBell commented on #831
Posted and shared with comms! https://forum.tecommons.org/t/second-graviton-training-study-plan/607

[2021-09-17 16:04] liviade1 opened #913 "fill in stewards params form"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-17 16:10] liviade1 opened #914 "support reward systems task force"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-17 16:10] #810 closed

[2021-09-17 16:12] liviade1 opened #915 "integrate feedback to decision making guide"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-17 16:13] tamarandom commented on #906
Tagging with Next Sprint to that this comes up for discussion in our Sprint planning now...

[2021-09-17 16:15] #280 closed

[2021-09-17 16:16] JuankBell commented on #861
OK from Gravity.

Violating this Code of Conduct may lead to:

*Discussions with the Stewards Working Group, to determine transformational strategies.
*Escalation to the Gravity Working Group to search for mediated solutions according to the TEC graduated sanctions,
*Eventually subject an Administrator to removal of platform access or other privileges in the organization.

[2021-09-17 16:16] #861 closed

[2021-09-17 16:18] tamarandom opened #916 "Retrospective action: have an open talk about financial expectations"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-17 16:18] tamarandom opened #917 "Retrospective action: is there anything in the culture we should abandon? does it feel like anything is holding us back? If so, how to make this transitions"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-17 16:18] chuygarcia92 opened #918 "Coingecko TEC token listing"
## 👇🏽  What is this issue about? Give as much detail as you can.
Reaching out to Coingecko about listing TEC token in time for the CU

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Contacting coingecko staff and start talks with them
2. Being able to list TEC in time for launch day

[2021-09-17 16:19] liviade1 opened #919 "Gravity transparency structure session with Juank"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-17 16:23] chuygarcia92 commented on #918
Duplicate of #910

[2021-09-17 16:23] #918 closed, assigned to chuygarcia92

[2021-09-17 16:23] JuankBell commented on #865
David (please DYOR...) is helping with this!

[2021-09-17 16:28] chuygarcia92 commented on #8
I think the community call audio could be also routed to Twitter Spaces from OBS when recording. Is this possible @Zeptimus?

[2021-09-17 16:30] tamarandom commented on #866
Done!

[2021-09-17 16:30] #866 closed

[2021-09-17 16:30] Zeptimus commented on #8
yeah i can get the audio if you guys need it!

[2021-09-17 16:32] JuankBell opened #920 "Gravity Gitcoin grant for round 12"
## 👇🏽  What is this issue about? Give as much detail as you can.
We need to decide how are we going to receive the funds coming from the grant, and reach a 100 followers in the "Gravity DAO (@GravityDAO)" twitter, to be able to participate. Inform that until having a better page, the https://tecommons.org/ will be used in the Gitcoin form.

## ✨  What does success look like? (i.e., the criteria to

[2021-09-17 16:45] tamarandom commented on #916
Starting with the topic in the Stewards' council and will see how to proceed from there.

[2021-09-17 16:46] tamarandom commented on #898
@cranders1 - I think this is all done - shall we close now?

[2021-09-17 16:54] cranders1 commented on #898
yep

[2021-09-17 16:54] #898 closed

[2021-09-17 16:56] tamarandom opened #921 "Promote gitbook polycentric gov"
## 👇🏽  What is this issue about? Give as much detail as you can.
This link here:
https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/governance/polycentric-governance-in-the-tec

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. People know that there is this section in the gitbook
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process

[2021-09-17 16:59] tamarandom commented on #823
Hey @natenatesoo : Was it decided that we drop this?

[2021-09-17 17:05] tamarandom commented on #557
Update: This will be distributed during the Graviton training

[2021-09-17 17:09] tamarandom commented on #2
Update: closing this. There is new initiative to do orientation video.

Tagging @chuygarcia92 and @danelsuga to look at the original idea.

[2021-09-17 17:09] #2 closed

[2021-09-17 17:19] tamarandom opened #922 "Kick off Contributor index for Comms"
## 👇🏽  What is this issue about? Give as much detail as you can.
(details to be added by @chuygarcia92 )

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. This should help match creative contributors onboarded into Comms
2. This should help coordination of creatives and TE comms projects
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People

[2021-09-17 17:29] tamarandom commented on #848
This is closed, it was posted to the forum for ideation!

[2021-09-17 17:29] #848 closed

[2021-09-17 17:31] tamarandom commented on #847
Update: It was approved in the forum and snapshot. Will be submitted to hatchDAO for vote this weekend. (I believe). @GriffGreen

[2021-09-17 17:33] tamarandom opened #923 "New live session for TEC Coordination this Sprint"
## 👇🏽  What is this issue about? Give as much detail as you can.
@Zeptimus offers to record this call, and use that.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related

[2021-09-17 17:36] tamarandom commented on #796
@GriffGreen This is ready to close, right?

[2021-09-17 17:38] tamarandom commented on #906
@Vyvy-vi @kristoferlund can we look at what it would take to deploy an independent Praise bot for the TEC and where in the Rewards System plan that would make the most sense to implement.

[2021-09-17 17:39] tamarandom commented on #893
@natenatesoo should this come into Sprint 18?

[2021-09-17 17:40] tamarandom commented on #841
Hey @eduardovegap - is this coming into Sprint 18?

[2021-09-17 18:04] danelsuga commented on #884
Those sound like great ideas, @Vyvy-vi. Looking forward to feedback from others. @liviade1 @tamarandom

[2021-09-20 06:11] freshelle commented on #747
@tamarandom, I drafted this [checklist ](https://docs.google.com/document/d/19CgtAf9pVzUApcduzprwE_1M2lsaNG6wvSBUHEmEKJs/edit?usp=sharing) with the big help of @iviangita

[2021-09-20 09:45] Vyvy-vi commented on #906
We would need an active worker, which can be available on any VPS like DigitalOcean for around 5$/month or something.
The hosting process should be straightforward, however we might need our own spreadsheet credentials(*I'm not sure).

With regard to the new Rewards plan, and the backend approach to it, I think the bot would remain like it is _however_ it would store the data in the backend via an

[2021-09-20 09:54] hurek commented on #906
@Vyvy-vi Do you want to have a micro-service architecture? Since my main stack is java + spring framework, I don't see a problem in running discord and telegram bot as components of the same application.

[2021-09-20 10:25] Vyvy-vi commented on #906
That can be done 🤔

[2021-09-20 11:45] danelsuga commented on #907
https://medium.com/token-engineering-commons/commons-upgrade-dashboard-education-initiatives-and-forums-on-aa3ea6491acf

[2021-09-20 12:11] tamarandom commented on #884
Thanks @Vyvy-vi and @danelsuga! If you recommend Airtable, @Vyvy-vi, then let's go with it. I am not very  familiar with it and think whatever is the simplest solution to create a searchable archive should work.

For the user journey - are they able to "opt-out" of this questionnaire? So if they decide not to answer these questions, will they still see the server channels?

[2021-09-20 12:17] eduardovegap commented on #884
@tamarandom yes they can! This is a bot that gets send as a personal message, so it doesn't affect the user journey.

[2021-09-21 09:49] iviangita commented on #877
Hello @Vyvy-vi just wanna check if there are updates on this? Please let me know if there's anything I can support you with :)

[2021-09-21 10:09] danelsuga commented on #892
Coordinating with Chuy.
Sharing the following info:

Here is the outline that I had used when I made my rough video. My reasoning is that it goes over the structure followed by the tools. I start with the theory/structure and move toward the organization. Discord is the segue into the tools and an opportunity to present the concept of praise.

Video: Presentation of the TEC (followed by presentati

[2021-09-21 10:12] danelsuga commented on #892
Just a reminder: this is an ORIENTATION video and not an INTRO video. The differences lies in who the audience is. The video is 15 mins for folks who cannot make an orientation and/or who are ready for an engaged (and yet quite short in fact) explanation of the TEC.

I imagine an INTRO TO THE TEC should be made too. But this particular video is specifically for orientation purposes.

[2021-09-21 11:48] tamarandom opened #924 "Rock the vote: campaign to let Hatchers know we will have a vote on 75% restore deleted governance"
## 👇🏽  What is this issue about? Give as much detail as you can.
Staying in tight sync with Comms on this one but there will be a vote from **Sept 24-28** that is very important to the TEC Hatchers. It will have a big impact so we should treat this one with a personal outreach to as many of the Hatchers we can reach. Especially those that were involved in the early discussions!

## ✨  What does su

[2021-09-21 12:39] tamarandom commented on #801
Done! ![Screen Shot 2021-09-21 at 2.39.01 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/6010284d-a865-409e-add0-0e56edede711)

[2021-09-21 12:39] #801 closed

[2021-09-22 10:08] iviangita commented on #911
Here's our draft: https://docs.google.com/document/d/1FrCvZz_otDLVop2nFGkRveTNz84hME-40KP-FEQNfso/edit?usp=sharing

[2021-09-22 12:33] eduardovegap commented on #924
Hello everyone

This is the link to keep track of Hatchers campaigns/outreach, including this one: https://docs.google.com/spreadsheets/d/169yWkwvAI_t1ucN5yRdFK4-EbDuWcIMKazScO-dCw6Q/edit#gid=823281628

[2021-09-22 13:24] tamarandom commented on #844
First draft is ready. Phew! Just in time for tomorrow's council!
https://docs.google.com/document/d/1Df96GptjepEDRJCK4bI6BCnr0KfQNaPpVsMLCCb6qwY/edit#

[2021-09-22 13:56] iviangita commented on #869
Hey @Vyvy-vi! I also noticed that the bot stopped working for Legal and Labs WGs. May we request you to check them as well? Let me know if you need anything from us to support you here. Thank you :)

[2021-09-22 15:57] tamarandom opened #925 "Banner update for the "welcome to the TEC" orientation weekly call"
## 👇🏽  What is this issue about? Give as much detail as you can.

Hi @danelsuga @MrsBadgerface @eduardovegap

I just noticed the banner for the rebranded "TEC Orientation" still says it's an AMA. Wondering whether you wanted to have new graphics for that banner?

![Screen Shot 2021-09-22 at 5.54.47 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/784cbba1-9f36-44e1-8774-94df1e

[2021-09-22 16:01] tamarandom commented on #902
Closing.

Thanks @JuankBell for how you handle mediations.

[2021-09-22 16:01] #902 closed

[2021-09-22 16:12] danelsuga commented on #925
Thanks. Absolutely. What is this banner? Where can I change it?

[2021-09-22 16:54] iviangita commented on #895
Here's our working document: https://docs.google.com/document/d/15PR6Q6JmyOI-WtbNls5ZMpvZhX97IKJMB-DF0XoScU8/edit?usp=sharing

@Vyvy-vi please DM me your email address so I can give you access :)

[2021-09-22 17:08] Vyvy-vi commented on #925
wupps, didn't change that

[2021-09-22 17:16] Vyvy-vi commented on #925
We could do 2 things to change the graphic-
- Get a new one. (I think `acidlazzer` has a template for that banner)
OR
- Edit the old banner in a slide here: https://docs.google.com/presentation/d/1A5z5IRhLeVEUgNb-h_USCVFZlmJFp5sDFDUt4QVEZ9Y/edit#slide=id.gcc4dd34b71_0_56
(you could export that slide to an image, and send it to me)

For updating the banner the bot sends, you could upload that image

[2021-09-22 17:19] Vyvy-vi commented on #925
I think it would also make sense to update the text sent in there

[2021-09-22 17:43] GriffGreen commented on #906
we will want to consider doing this in telegram as well

[2021-09-22 18:13] GriffGreen commented on #920
YEAH!

[2021-09-22 18:14] GriffGreen commented on #847
Zep is taking it on

[2021-09-22 18:15] GriffGreen commented on #844
love it!

[2021-09-22 18:16] cranders1 commented on #847
go zepti

[2021-09-22 18:24] GriffGreen commented on #874
maybe we should make this it's own forum post

[2021-09-22 18:27] tamarandom commented on #924
The message itself is here: https://hackmd.io/@FKnVPj1-QQG3HvvH8c3Dow/ryV9iuOQY

[2021-09-22 22:25] Vyvy-vi commented on #906
Considering how the new interactions API works, we could probably cross-link these neatly. (Interactions API allows you to run the bot entirely on an HTTP server) 🤔

[2021-09-23 07:00] tamarandom commented on #874
Yes, great idea! At the moment, it's think work and nothing is written yet but when something more concrete is ready, that's where it will go.

[2021-09-23 07:13] tamarandom commented on #906
Thanks @hurek @Vyvy-vi ! Looping in @kristoferlund so it's on his radar too.

I'm sensing this is feasible. I'm out of my depth with discussion on the technical architecture and advantages or disadvantages so look forward to the end solution following those discussions!

[2021-09-23 07:13] tamarandom commented on #847
@Zeptimus's doc: https://docs.google.com/document/d/1HQzKlRUvUUoIsV_ZNh4FY9Tgz-qiXuPDOyei3_aDIwc/edit

[2021-09-23 07:16] kristoferlund commented on #906
Do I understand this correctly? We consider migrating the current praise bot over to a java/spring architecture and separating the TEC and CS bots? The upgraded bot would run on an HTTP server accepting calls from the outgoing webhooks of the Discord Interaction API?

That to me seems like a good idea no matter how we move on with the rest of the praise project.

[2021-09-23 07:19] danelsuga commented on #884
This is from @saunic :

👉  **Add more questions to orientation data collection bot:**
🔹  What are your interests?
🔹 What are skills you have that you enjoy using?
🔹 What interested you in joining?
🔹  Which timezone are you in?
🔹  How much time are you interested in contributing, if you want to contribute?
*This way we know exactly how to direct EVERY new user right away, specific to their needs vs

[2021-09-23 07:20] danelsuga commented on #884
Advice Process requested from @liviade1 @solsista

[2021-09-23 07:23] kristoferlund commented on #906
Is praise data stored to google sheets directly by the bot currently or is there an intermediate copy/paste step? One way of taking baby steps for upgrading the praise process would be to move from google sheets to something more capable - Coda or possibly Airtable. If we choose that route we should consider building the bot so that it can support different data stores.

[2021-09-23 11:45] MrsBadgerface commented on #884
Back from holiday and catching up! Thanks so much @Vyvy-vi! This is brilliant. I love how the options open up. Is there a way we can see all the pathways? depending on what choices people make? (i.e. if there're here for learning, or for community etc.)?

We have a Communitas WG miro board section here: https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/board?rep

[2021-09-23 12:21] Vyvy-vi commented on #906
Yes!

[2021-09-23 12:32] danelsuga commented on #884
Here's nic! @saunic

[2021-09-23 12:44] MrsBadgerface commented on #884
Thanks @danelsuga

Also, having now read @saunic's dashboard idea, I think my comments are all moot points! Sounds like the dashboard would automate all of this info :)

[2021-09-23 13:47] kristoferlund opened #926 "Praise MVP Specs"

[2021-09-23 13:48] kristoferlund opened #927 "The Rules of Praise and Quantification"
Who: @liviade1 together with @LinuxIsCool and Octopus

This is the formal description containing rules and guidelines concerning praising and quantifying. This document will serve as specification for developing the quantification backend as well as key material for a "Praising best practices and FAQ". The doc is also a key reference for any community member that wants to understand how their prai

[2021-09-23 13:49] kristoferlund opened #928 "Praise Process Description"
Who: @divine-comedian plus @kristoferlund

How does the whole process tie together, from _praise given_ to _TEC in wallet_.

- Community influence, what can the community vote on?
- Reward System Committee, how does that work?
    - Fund requests
    - Payments
Etc.

[2021-09-23 13:53] kristoferlund opened #929 "Praise API"

[2021-09-23 13:54] kristoferlund opened #930 "Praise Wireframes"
See Miro board: https://miro.com/app/board/o9J_lyTkWjY=/

[2021-09-23 13:55] kristoferlund opened #931 "Choice of frontend architecture"

[2021-09-23 13:56] kristoferlund opened #932 "Choice of backend architecture"

[2021-09-23 14:48] kristoferlund opened #933 "Rewards quantification trial run"
Rewards System Team runs tests on configurations, revise and adjust w/ rewards committee, log simulation results.

[2021-09-23 16:08] saunic commented on #892
After speaking with @chuygarcia92 and @mount-manu I wonder if it would be a good idea if the video could include the info proposed for the slideshare for onboarding. (Some were already mentioned above)

Here's the info proposed for the slideshare:
🔹 What is the trusted seed? Why join the trusted seed, how to join
🔹 Working group summaries including:
- description of focus
- wishlist
- how can I be

[2021-09-23 21:04] kristoferlund commented on #932
- Preferred backend platform of @hurek is Java/Spring. Do we paint ourselves into a corner by making that choice? In general, we need make sure we don't become overly reliant on the knowledge of one person.
- What could be alternatives to Java/Spring?
- Is it realistic to make the backend completely event driven? As a way or future proofing it, or rather making it easier to make the step if we wan

[2021-09-24 00:08] hurek commented on #932
https://spring.io/event-driven <- @kristoferlund

We have an application for 200 thousand active users written in Java + Spring. It's not even reactive. It is as classic and monolithic as possible. And at the same time as fast as possible. We can use event-driven and microservices, connect kafka or another message broker, but in fact, what you want to do is not such a highly loaded application tha

[2021-09-24 07:05] kristoferlund commented on #932
I agree @hurek, we should try to keep the stack as simple as possible, this is not a super complex application. There will be no high request loads etc.

I don't want to go too deep into the discussion here but rather let you and @PabloCGL come up with a proposed architecture.

I came to think about some more boundaries/guides:
- We decided yesterday that one installation = one community. That mak

[2021-09-24 09:13] kristoferlund opened #934 "Praise Reward System Process and Community Advice"
### Background

@divine-comedian : once we have a clear idea on the detailed process for the reward system what is the next step for advice process? I think we should pointedly get some validation from other relevant experts, token engineers, data scientists etc.. would be very helpful to catch any oversights and not repeat the mistakes of the old reward system.

@kristoferlund : Yes, definitely!

[2021-09-24 09:17] kristoferlund opened #935 "Write advice process forum post"

[2021-09-24 09:18] kristoferlund opened #936 "Hold Q&A / advice session for the praise upgrade"

[2021-09-24 09:20] kristoferlund opened #937 "Praise quant #1 post Commons Upgrade"

[2021-09-24 11:50] hurek commented on #932
react is perfectly combined with Java. About the cost. We can setup the database in a container next to the application, but this is a bad practice. It is always better to keep the database somewhere else. And here we have two options. Either we keep the database in the cloud and pay some amount for its rent (5 or 10 dollars), or we keep the database in a container on another server. If we want to

[2021-09-24 11:53] hurek commented on #932
We also need to decide which database we want to work with. I really like PostgreSQL, I'm used to working with it. And Spring Data makes it very convenient to handle this. You can use mongo, but I understand it worse than with PostgreSQL @PabloCGL @kristoferlund

[2021-09-24 15:14] tamarandom opened #938 "Deploy survey, guide-bot & channel list on Discord server"
## 👇🏽  What is this issue about? Give as much detail as you can.
There are 3 components that are being updates: survey, guide-bot and channel list.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Deploy the new onboarding flow (see #1033)
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Tho

[2021-09-25 15:46] Vyvy-vi commented on #932
I'm wondering, if we're having thoughts about Java being a cornered spot, maybe we could consider using expressJs or Nest? (I think we have a reasonable amount of people that could work with Js, moreover, I think performance-wise even though this isn't "the best", but at the same time for anything close to our needs, it should work pretty well). And afaik, most Js backend frameworks play well with

[2021-09-25 18:10] hurek commented on #932
@Vyvy-vi The React works perfectly with Java/Spring. If you want to develop in Js, then you will have to do it yourself, because I am not so familiar with the JS stack. I am well aware of Spring Data (databases, transactions, etc.), Spring Security and other cool things that will allow you to quickly and reliably develop projects. I am not ready to undertake to develop a project with tech stack, i

[2021-09-25 18:12] hurek commented on #932
I am ready to write bots with JS, Python or another language, because they are "less responsible applications" and it is difficult to make mistakes there (each bot fits in 1 file). But if we talk about the backend, I'm ready to write it only in Java.

[2021-09-26 17:41] mount-manu-zz opened #939 "TEC x Economics Design: Strategic Partnership"
## 👇🏽  What is this issue about? Give as much detail as you can.
Economics Design (ED) is a startup dealing with anything and everything related to **research**, **education**, and **design** of cryptoeconomic systems. Currently they have a YouTube channel that does regular podcasts, a book called "Math and Economics of Token Engineering and DeFi", a course on "Token Economics 201", and they are c

[2021-09-27 11:06] kristoferlund opened #940 "Praise MVP User Stories"

[2021-09-27 11:07] kristoferlund opened #941 "Praise v1.0 User Stories"

[2021-09-27 11:16] kristoferlund opened #942 "Make an infographic for the Reward System"

[2021-09-27 11:41] kristoferlund opened #943 "As a User I want to be able to authenticate using Metamask only - no need for username/password"

[2021-09-27 15:09] iviangita commented on #877
UPDATE: @Vyvy-vi has applied the changes, I'm coordinating with @krisjpi to re-deploy the bot

[2021-09-27 18:59] kristoferlund opened #944 "Snapshot vote: Ratify params for the first quant after Commons Upgrade"
## 👇🏽  What is this issue about? Give as much detail as you can.

Ratification of the params to use for the first quant.

See #1015

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. SnapShot vote passes

[2021-09-27 21:10] kristoferlund opened #945 "As a PraiseReceiver I want to be able to link my Discord/Telegram to my verified wallet address to be able to receive rewards"
![image.png](https://images.zenhubusercontent.com/5fdba670baa205320c5a291e/a8276c76-97b9-45bf-8a45-f7b449c6fe91)

[2021-09-28 00:52] mount-manu-zz opened #946 "Twitter Scraping"
## 👇🏽  What is this issue about? Give as much detail as you can.
Twitter scraping, that is, coding a program that'll extract the unstructured data from thousands of Tweets from dozens of organizations from within our ecosystem or in our direct periphery, as a means to structure it in a way that allows us to do data analysis on it, resulting in (hopefully) valuable insights into underlying reasons

[2021-09-29 06:03] tamarandom opened #947 "New feature video for YouTube"
## 👇🏽  What is this issue about? Give as much detail as you can.
Now that the Hatch has happened, shall we choose a new Feature video for the YouTube page?

![Screen Shot 2021-09-29 at 8.02.05 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/fde38e03-e31a-407e-bd34-7672cee74dc1)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

[2021-09-29 06:11] tamarandom commented on #916
Closing. There will be more but the first one in the Stewards' Council was a really good start.

[2021-09-29 06:11] #916 closed, assigned to tamarandom

[2021-09-29 08:58] natenatesoo commented on #823
@tamarandom  We are restarting this issue.

[2021-09-29 13:24] iviangita opened #948 "Research on Transparency in other DAOs"
## 👇🏽  What is this issue about? Give as much detail as you can.
Do a research on how transparency is being monitored in other DAOs

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. A summary of transparency practices in other DAOs
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who wi

[2021-09-29 14:18] iviangita commented on #895
UPDATES:
Swag Shop - finished the draft- hoping @tamarandom can review it 🙏
Discord - @Vyvy-vi feel free to add the processes/documentation
Telegram - I'm still trying to find out who is in charge of the TEC Telegram channel so I can coordinate

Here's the working doc: https://docs.google.com/document/d/15PR6Q6JmyOI-WtbNls5ZMpvZhX97IKJMB-DF0XoScU8/edit?usp=sharing

[2021-09-29 14:24] iviangita commented on #911
@Zeptimus presented the initial proposal in the Stewards Council and we added the feedback to the document. Closing this for now, then we will revisit when it's time to make the real proposal to the Hatch DAO.

https://docs.google.com/document/d/1FrCvZz_otDLVop2nFGkRveTNz84hME-40KP-FEQNfso/edit?usp=sharing

[2021-09-29 14:24] #911 closed, assigned to iviangita

[2021-09-29 14:29] iviangita commented on #877
UPDATE: The new Praise bot message has been implemented in TEC Discord by @hurek. However, the one on Telegram isn't updated yet. @GriffGreen may I know whom I can reach out to to implement the changes on the Telegram praise bot message? :)

[2021-09-29 16:39] eduardovegap commented on #924
Accomplished, vote is closed.

[2021-09-29 16:39] #924 closed, assigned to eduardovegap

[2021-09-29 17:08] Zeptimus commented on #947
yeaah good catch what about the unconference what do you think?

[2021-09-29 17:10] eduardovegap commented on #802
So, we are trying to evolve the idea of the TEC Scouts. @Vyvy-vi proposed the idea of doing the TEC lounge through twitter spaces, and @chuygarcia92 added to the agenda for the next week agenda, to improve it.

[2021-09-29 17:19] eduardovegap opened #949 "Create template for Snapshot."
## 👇🏽  What is this issue about? Give as much detail as you can.

Snapshot or proposals should be standardized a little bit more. And I suggest that it includes how it affects hatchers.

Also the Template could be sync with the Forum proposals, a workshop may be needed to make it possible.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻

[2021-09-29 17:39] natenatesoo opened #950 "Reimagine Medium: how can we better use it?"
## 👇🏽  What is this issue about? Give as much detail as you can.
Re-imagining how we distribute community updates associated with our Working Groups.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Ensuring that updates are distributed to our Community through Medium
2. Getting more engagement and views on our Medium Page
3. Educating community members.

[2021-09-29 18:39] tamarandom commented on #947
Nice choice!!

[2021-09-29 18:45] Zeptimus commented on #947
Done!

[2021-09-29 18:45] #947 closed, assigned to Zeptimus

[2021-09-30 07:33] tamarandom opened #951 "Is this a bug on Aragon Voting or did I make some mistake?"
## 👇🏽  What is this issue about? Give as much detail as you can.

I voted yesterday and when I came back to look at the vote I received this message:

"Although the currently connected account holds tokens, it did not hold any TECH tokens when this vote began (00:25 UTC on 29th of Sep. 2021) and therefore cannot participate in this vote. Make sure your accounts are holding TECH at the time a vote

[2021-09-30 07:50] tamarandom commented on #950
Love this! Anyway I can support, holler!

[2021-09-30 07:53] tamarandom commented on #924
Excellent results! Big thanks again to @eduardovegap and Gene!

[2021-09-30 08:00] tamarandom commented on #895
@iviangita looks great! I added Youtube and Hubspot but as I'm thinking about it there are a lot more.... perhaps we list them all here. I'll take a first crack at it:

- Swag shop
- Discord & Discord bots
- Telegram
- YouTube
- Hubspot
- Forums
- Gitbook
- Github
- Website

[2021-09-30 09:08] tamarandom commented on #895
+ Medium ;)

[2021-09-30 12:01] iviangita commented on #871
Airdrop done: https://rinkeby.etherscan.io/tx/0x9d51cb54bc95fcd65d12ec969a9a412639daa80e94de4f78cdd9e4b185fd0b69

[2021-09-30 13:58] tamarandom commented on #906
Chatting with @Vyvy-vi and here are the nest steps as we see them:

If we decide to move forward with separating the TEC praise bot from the CS Praise bot, the next steps would be:

1. (tamara/griff) make new TEC praise spreadsheet & get credentials
2. (vyvy) setup discord application, invite 4-5 of the Stewards into the “team”
3. (vyvy) request from Kai server to host the bot
4. (vyvy) remove the

[2021-09-30 15:24] JuankBell commented on #888
First session today after Community call! Chapter 1 :) - Thanks @natenatesoo for creating the space in the DAO book club server https://discord.com/invite/vuwqVWwQyN

[2021-09-30 15:25] JuankBell commented on #888
Comms team also have helped promoting engagement trough twitter :D
 https://twitter.com/tecmns/status/1442932375302725634?s=20

[2021-09-30 15:27] JuankBell commented on #919
We made a zenhub board! Thanks livi for your help
https://app.zenhub.com/workspaces/gravity-614b594733915b001237f06e/board?repos=409276305
Cases from the registry are still to be migrated

[2021-09-30 15:41] JuankBell commented on #846
Snapshot proposal was approved with 92% support.
Follow up for the implementation and the discussion for the technical solution will be during Commons Swarm calls and in the same forum thread https://snapshot.org/#/tecommons.eth/proposal/Qmcbkz5vL9XW1LqhvoKQqLeP8wfToHkTQZjMYvuXxozB5j

[2021-09-30 15:59] #919 closed, assigned to liviade1, JuankBell

[2021-09-30 15:59] #917 closed, assigned to liviade1

[2021-09-30 16:00] #914 closed, assigned to liviade1

[2021-09-30 16:00] #913 closed, assigned to liviade1

[2021-09-30 16:06] natenatesoo commented on #94
Done.

[2021-09-30 16:06] #94 closed

[2021-09-30 17:02] tamarandom opened #952 "Retrospective action: Community call evolution"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-09-30 18:30] tamarandom commented on #245
There is a new one. Here is the link that you should use: https://docs.google.com/document/d/1YmbGQhGspIlxhFzmzc1saWG0wzPLwz42lOF2E5NDXXk/edit

[2021-09-30 18:47] tamarandom commented on #823
Yes! Let's do it!

[2021-09-30 19:01] tamarandom opened #953 "Scaling our community call! Max 25 is not enough!"
## 👇🏽  What is this issue about? Give as much detail as you can.
What options do we have for allowing everyone that wants to watch the community call like do it? We hit the 25max limit every community call now. Death by popularity!

![Screen Shot 2021-09-30 at 8.59.52 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/19caa713-fd38-4c3a-8374-b61a9dd55deb)

## ✨  What does succes

[2021-09-30 19:16] Zeptimus commented on #953
I would second Chuy and use stage and re-structure the community call since it's also something we agreed to improve this sprint.  I think re-structure the call could be done by Comms and or Stewards WG what about a monday meeting to get some ideas on how to draft it? :D

[2021-09-30 21:01] tamarandom opened #954 "Creating more accord between the TEC and TE discord servers"
## 👇🏽  What is this issue about? Give as much detail as you can.
This came up in our Stewards chat and this is to keep track of how to move it forward.

The mission of the TEC is to **be the shelling point for token engineers.**  The TEC and TE discord servers are now separate and the question is: how can we bring them closer together?

@GriffGreen has suggested having our community call on the TE

[2021-10-01 07:54] kristoferlund commented on #929
The API will not be a separate workstream but part of backend development.

[2021-10-01 07:54] #929 closed, assigned to Vyvy-vi

[2021-10-01 07:55] kristoferlund commented on #928
Find Process Description work doc here: https://docs.google.com/document/d/1jkRg3fhF-7ZiYklc1zR9pkt69FqBAWWKc3GaYjdFTaQ/edit

[2021-10-01 09:15] tamarandom opened #955 "Call announce bot banner for Communitas WG time change"
## 👇🏽  What is this issue about? Give as much detail as you can.
A number of people have voiced that they would like to join the Communitas call but are not able because it is the middle of the night in West Coast timezones. @eduardovegap and I are looking at Mondays at 8pm CET as the new time for Communitas WG to allow wider participation.

## ✨  What does success look like? (i.e., the criteria t

[2021-10-01 09:23] kristoferlund commented on #906
We can do as decribed. Or, we can wait until MVP of new praise is online by end of nov. Then, the bots need to be separated as part of the upgraded Rewards System anyway. Or rather, it wont be the same bot running on TEC as CS until CS also (hopefully) upgrade to the new praise system.

[2021-10-01 09:31] tamarandom opened #956 "Steward POAP"
## 👇🏽  What is this issue about? Give as much detail as you can.
We should have a TEC Steward POAP.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

[2021-10-01 09:32] #712 closed

[2021-10-01 09:40] tamarandom commented on #949
There is already a template in the Forum (when you submit a proposal). Can we use that exactly?

Here is a template thank Bankless uses. I came across it on Boardroom. https://docs.google.com/document/d/18IWZ2MwZkmh1XqGmwimiHs3bysm3LIq1ld8X2aYQpt4/edit

[2021-10-01 09:42] tamarandom commented on #908
Why don't we reuse the one for Hatch Outreach? It's a great one!!

[2021-10-01 09:46] tamarandom commented on #884
@Vyvy-vi is, I believe, working on the backend of this so assigning it to him.

[2021-10-01 09:49] tamarandom opened #957 "Communitas WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
Katy already drafted this. Excellent start and can be refined over the next Sprint(s).
https://docs.google.com/document/u/1/d/18JTaDqgG9VLnJWVfhFbsgLjz8ekmOMGSsmdWf9xYklY/edit?usp=sharing

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. We have a final WG funding proposal
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂

[2021-10-01 09:58] tamarandom opened #958 "Nic's proposal for a member dashboard"
## 👇🏽  What is this issue about? Give as much detail as you can.
### **A DASHBOARD TO SERVE US ALL**
or as @natenatesoo put it: "putting the A in DAO" lol

I propose an idea for a dashboard to meet the needs of our amazing community members.
🙏Thank you to @tamarandom @mount-manu @chuygarcia92 @natenatesoo for initial feedback and support for this idea!🙏

### Mission
This dashboard will be a portal

[2021-10-01 10:34] tamarandom opened #959 "Revisit aspects of the Steward role, paths for graceful exits, eligibility for base stipend"
## 👇🏽  What is this issue about? Give as much detail as you can.
The WG funding [proposal draft ](https://docs.google.com/document/d/1Df96GptjepEDRJCK4bI6BCnr0KfQNaPpVsMLCCb6qwY/edit)has brought up the question of how to determine Stewards who are actively participating and those that are not. The community has raised some ideas about[ time bounding](https://forum.tecommons.org/t/a-culture-of-self

[2021-10-01 11:13] kristoferlund opened #960 "SourceCred meeting tracker bot"

[2021-10-01 11:16] kristoferlund opened #961 "Praise Backend MVP Development"

[2021-10-01 11:18] kristoferlund opened #962 "Praise Frontend MVP Development"

[2021-10-01 11:28] #940 closed, assigned to nobody

[2021-10-01 11:29] #941 closed, assigned to nobody

[2021-10-01 12:08] tamarandom commented on #906
@kristoferlund  That is the question! My thinking is that as long as it is relatively easy we may as well just do it now rather than wait another 6-8 weeks (at least). From what I understand so far, it is relatively simple and we should probably just make a plan and execute. Do you think there is compelling reason to hold off? There very well might be something I am not thinking of!

[2021-10-01 13:00] mount-manu-zz opened #963 "Steward's Engagement Report"
## 👇🏽  What is this issue about? Give as much detail as you can.
Talking to one of the leads at Gitcoin's Memes, Merch, and Marketing (MMM) Workstream, I've come to find that their DAO has Steward Report cards! The idea is for it to gather and display the following values:
- Steward's initiation date
- Number of forum posts authored
- Steward's Workstream (i.e. Working Group)
- Steward's voting we

[2021-10-01 13:12] liviade1 commented on #963
@liviade1

[2021-10-01 13:24] kristoferlund commented on #906
If it's easy, let's do it! Or rather, @Vyvy-vi, if you say let's do it, let's do it.

[2021-10-01 14:12] tamarandom commented on #963
Nice!!  💜   Looking at Gitcoin's, this looks like a good chunk of work but in terms of transparency, it's right on!! Might I suggest the first step should be a proposal that estimates the budget and timeline for this work?

[2021-10-01 15:22] Zeptimus commented on #876
Update: https://forum.tecommons.org/t/lets-talk-about-treasury-management/642

[2021-10-01 15:28] iviangita opened #964 "Revisit the Transparency Audit process"
## 👇🏽  What is this issue about? Give as much detail as you can.
We're revisiting the audit process and see how we can improve it. Here's our working document: https://docs.google.com/document/d/1IgG94l6cCO3d0Zrfsi6ucUEp99A96P_s2uOTQhmB-Tc/edit?usp=sharing

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Adv

[2021-10-01 15:33] Zeptimus opened #965 "NVC Book cub presenting Chapter 2: Communication That Blocks Compassion"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-01 15:54] JuankBell opened #966 "Move the Gravity registry to the Zenhub Repo"
## 👇🏽  What is this issue about? Give as much detail as you can.

We were using a spreadsheet to have the registry of cases where Gravity has tried to facilitate management. Now we will be using a Zenhub repo. https://app.zenhub.com/workspaces/gravity-614b594733915b001237f06e/board?repos=409276305
We need to move the cases there, without names and sensitive information, to foster transparency and

[2021-10-01 16:02] tamarandom opened #967 "Handover Katy's tasks to others in Communitas"
## 👇🏽  What is this issue about? Give as much detail as you can.
As Katy needs to take some time away, we need to look at the pieces of work to hand over to others in Communitas.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Nothing falls through the cracks
2. The community is aware of how to get in touch with Orientation coordinators
3.

## 🧍🏻‍♀️🧍🏻‍♂️

[2021-10-01 16:04] #843 closed

[2021-10-01 16:07] #584 closed

[2021-10-01 16:08] #858 closed

[2021-10-01 16:08] #859 closed

[2021-10-01 16:08] #597 closed

[2021-10-01 16:08] #590 closed

[2021-10-01 16:08] #608 closed

[2021-10-01 16:08] tamarandom commented on #923
I didn't do it this Sprint. ;( Will do next Sprint. Looping in @Zeptimus to join me and record.

[2021-10-01 16:08] #879 closed

[2021-10-01 16:09] JuankBell commented on #888
We had the first session for the first chapter lead by me, Zepti will lead chapter 2, Aloysious chapter 3 and Bianca Chapter 4. we only need to promote more engagement :)

[2021-10-01 16:09] liviade1 opened #968 "host an AMA session"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-10-01 16:10] natenatesoo commented on #813
Update:

Evaluation of Costs is done.

Tackling for this sprint: Security, Roles & Access.
Adding: CSV List Restart

[2021-10-01 16:10] tamarandom commented on #877
Update: @hurek (Rudolf!) is the person to ask.

[2021-10-01 16:12] liviade1 opened #969 "start to work on decision making visuals/ infographics"
## 👇🏽  What is this issue about? Give as much detail as you can.
@chuygarcia92 offered help as well 🙏

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

[2021-10-01 16:12] GriffGreen commented on #877
https://github.com/commons-stack/CommonsStackBot/blob/master/constants.js

I think we can just change it there and it will update

[2021-10-01 16:15] GriffGreen commented on #877
lines 96 thru 106 are what need to be changed...

[2021-10-01 16:17] mount-manu-zz opened #970 "TEC x KfW Bankengruppe: TE for Structural Poverty Alleviation"
## 👇🏽  What is this issue about? Give as much detail as you can.
<working on description, will update soon>

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this

[2021-10-01 16:19] #860 closed

[2021-10-01 16:26] JuankBell opened #971 "Preparing and delivering the Graviton trainings"
## 👇🏽  What is this issue about? Give as much detail as you can.

This issue is to track the progress of the sessions of the second Graviton training, We currently had two sessions, but the training is ten (10) sessions long, so it would be good to have this issue as follow up for until the end.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. All facilit

[2021-10-01 16:26] GriffGreen opened #972 "CDD- Github Issue submission - QA"

[2021-10-01 16:32] tamarandom commented on #823
Update: Phase into this. Initial scope can be quite small and we build from there.

[2021-10-01 16:34] chuygarcia92 opened #973 "October Campaign- Gitbook/MVV"
## 👇🏽  What is this issue about? Give as much detail as you can.
A campaign for the month of October that will focus on small actions newcomers can do for getting a better sense on how to contribute to the TEC

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. New contributors approach stewards with initiatives, not questions
2. Community calls have more at

[2021-10-01 16:36] tamarandom commented on #846
done!

[2021-10-01 16:36] #846 closed

[2021-10-01 16:37] GriffGreen opened #974 "Build better infrastructure solutions for our DAO"
## 👇🏽  What is this issue about? Give as much detail as you can.
The IPFS thing is shitty... but it is what we got, lets fix that up

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Better UX for voting in the Hatch DAO
2. A non-scary link
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those

[2021-10-01 16:50] #865 closed

[2021-10-01 16:53] tamarandom commented on #254
Update: To have Gravity / @JuankBell put they eyes on the T&C before we use it.

[2021-10-01 16:55] tamarandom commented on #830
Closing!

[2021-10-01 16:55] #830 closed

[2021-10-01 16:58] natenatesoo commented on #893
Incorporated within other issues created, so we can close it.

[2021-10-01 16:58] #893 closed

[2021-10-01 17:05] tamarandom commented on #953
One of the options: move the community call to another platform.