[2022-01-21 18:16] #1147 closed, assigned to nobody

[2022-01-21 18:16] tamarandom commented on #1147
Guides solve this and they have started! Closing.

[2022-01-21 18:17] tamarandom commented on #8
Update: Need help with: technical pre-production, production and distribution

[2022-01-21 18:17] chuygarcia92 commented on #1181
TEC Writer's Guild: similar to the content workshop ideas.

- Promote guidelines for what is good content about TEC
- Be open and welcoming for any writers wanting to join TE content efforts
- Reward contributors who's articles and contributions have a clear benefit to the TEC

I'm including a draft for this in the TEAMs funding proposal

[2022-01-21 18:19] tamarandom commented on #1078
@acidlazzer @mcsmith89 : can you drop an update in here? @eduardovegap believes it was started. Is there any help needed?

[2022-01-21 18:33] liviade1 opened #1192 "conflict facilitators meet DAOs event"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-01-21 18:34] acidlazzer commented on #1078
![newcomer journey.jpg](https://images.zenhubusercontent.com/60b15c4caa64fc5b8e239a2b/3f846fb7-4eac-4b40-a3a6-0d8f0a5d325c) Hello! This graphic?

[2022-01-21 18:43] tamarandom commented on #1115
@divine-comedian this is done, right? Any reason not to close?

[2022-01-21 18:46] tamarandom commented on #1000
Hey @Vyvy-vi is this an issue we should pull into this Sprint!?

[2022-01-21 18:48] tamarandom commented on #1157
Hey @natenatesoo should this still be open? Is there anything left to do?

[2022-01-21 19:19] Vyvy-vi commented on #1000
I think we can

[2022-01-21 20:46] mount-manu-zz commented on #1139
Sure @chuygarcia92 , I got this

[2022-01-22 02:16] divine-comedian commented on #1115
Just waiting for @Zeptimus   to publish the onboarding guide to the forum and incorporate feedback from our test quant

[2022-01-23 11:21] Zeptimus commented on #1101
https://forum.tecommons.org/t/quantifier-onboarding/825

[2022-01-23 11:21] #1101 closed, assigned to Zeptimus

[2022-01-23 21:24] GriffGreen commented on #1155
Sem is saying we should add it to the covenant... makes sense

[2022-01-24 11:09] tamarandom commented on #1181
Awesome @chuygarcia92, yes these efforts dovetail together nicely. At the moment is there any meeting to join or POC driving the writer's guild initiative? Looping in @natenatesoo and @gideonro since we all have a shared goal of having editorial clarity and process for long form content.

[2022-01-24 16:55] iviangita opened #1193 "Update the Covenant"
## 👇🏽  What is this issue about? Give as much detail as you can.
Integrate the T&Cs for proposals and challenges into the Covenant because the Gardens doesn't want to add a new checkbox to the Gardens UI. Here's the [related issue](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/1155).

## ✨  What does success look like? (i.e.,

[2022-01-24 16:56] liviade1 commented on #1179
I changed the quadratic voting, now we need to change the ranked choice voting but @marthendalnunes has to look into it

[2022-01-26 14:54] iviangita opened #1194 "Maintain the TEC multisig tracking document"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@Zeptimus

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the

[2022-01-26 14:56] iviangita opened #1195 "Update the Transparency page on Gitbook"
## 👇🏽  What is this issue about? Give as much detail as you can.
https://token-engineering-commons.gitbook.io/tec-source/working-groups/transparency-wg

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

##

[2022-01-26 14:58] iviangita opened #1196 "Interview Dune Wizards"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about

[2022-01-26 19:45] tamarandom opened #1197 "TEC Fellows (idea that needs to be hashed out)"
## 👇🏽  What is this issue about? Give as much detail as you can.

(Idea passed from Z via @GriffGreen)
Would be great to focus on developing expertise in the TEC space, TE Academy is great and we need that but we also the next level.. Would be great to find people who have a lot of skills and call them TEC Fellows, give them a small stipend but a really amazing POAP that can reward expertise and a

[2022-01-26 19:45] tamarandom opened #1198 "TEC Demo day (idea that needs to be hashed out)"
## 👇🏽  What is this issue about? Give as much detail as you can.
(Ideas from Z passed via @GriffGreen)
He would like to see a Demo day once a month from the people that are receiving funds (substitute escrow with culture).

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be

[2022-01-27 08:55] iviangita commented on #245
Closing! Uploaded on IPFS https://gateway.pinata.cloud/ipfs/QmSYHg3Vthf8JGxHbDauWohy7aRKn3X2esHTWofVv4ei1A

[2022-01-27 08:55] #245 closed

[2022-01-27 12:14] #1140 closed, assigned to Vyvy-vi

[2022-01-27 12:15] divine-comedian commented on #1140
DONE

[2022-01-27 14:41] tamarandom commented on #1162
Dupe of #1163

[2022-01-27 14:41] #1162 closed, assigned to Vyvy-vi

[2022-01-30 12:04] tamarandom commented on #1139
Hey guys. Just FYI that the mission on the website is still the wrong one ;(

![Screen Shot 2022-01-30 at 1.04.29 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/68417d1c-d00d-4685-a6a2-2ae902e6d1bd)

![Screen Shot 2022-01-30 at 1.04.34 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/965386a6-c471-4c3a-bffb-d2cbdce1acd6)

[2022-01-31 16:38] Zeptimus opened #1199 "Make payment updates on the transparency proposal in the forum"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-01 10:17] tamarandom opened #1200 "Present TEC during the TEA x TEC Introduction to Token Engineering"
## 👇🏽  What is this issue about? Give as much detail as you can.

- [x] Jan - @JuankBell
- [x] Feb -  @natenatesoo (16 Feb at 6pm UTC/ 7pm CET (and 11am for ethDenver)
- [x] Mar - @eduardovegap (9 March at 8am UTC/ 9am CET)
- [x] Apr -  @eduardovegap (1 April 3pm UTC)
- [x] May - @juankaBell
- [x] June - @Zeptimus
- [ ] July - TDB (July 14 at 2:00 PM UTC)
- [ ] Aug
- [ ] Sept

## ✨  What does succ

[2022-02-01 10:57] kristoferlund commented on #1139
@mount-manu You'll be able to change this with the CMS login we set up.

[2022-02-02 17:50] tamarandom opened #1201 "Previous gitcoin donations: send to lasertag? Common Pool? = To be a forum post"
## 👇🏽  What is this issue about? Give as much detail as you can.
So we don't lose track of it, @GriffGreen!

Can also be assigned to someone else that can take this on!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valua

[2022-02-02 17:52] tamarandom opened #1202 "Tec.eth, tecommons.eth to Lasertag"
## 👇🏽  What is this issue about? Give as much detail as you can.
So we don't lose track of it, @GriffGreen

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this i

[2022-02-02 18:52] #1095 closed, assigned to chuygarcia92

[2022-02-03 11:36] tamarandom commented on #1121
Done! It's a 3/5 with myself, Ivy, Zep, Griff and Nate.

[2022-02-03 11:37] #1187 closed, assigned to tamarandom, gideonro, GriffGreen, liviade1, divine-comedian, eduardovegap, Zeptimus, iviangita, laurenluz, chuygarcia92

[2022-02-03 11:37] tamarandom commented on #1187
Closing!

[2022-02-03 11:37] #1121 closed, assigned to tamarandom

[2022-02-03 11:37] tamarandom opened #1203 "Communitas WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-03 11:38] tamarandom commented on #1203
@eduardovegap and I polished it off this Sprint and posted on Gardens. https://gardens.1hive.org/#/xdai/garden/0x1fc7e8d8e4bbbef77a4d035aec189373b52125a8/proposal/8

[2022-02-03 11:38] #1203 closed, assigned to tamarandom

[2022-02-03 11:44] tamarandom opened #1204 "Multisig for Communitas"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-03 11:44] tamarandom commented on #1204
Done.

[2022-02-03 11:44] #1204 closed, assigned to tamarandom

[2022-02-03 11:45] tamarandom commented on #1135
ok, kicked it off here: https://forum.tecommons.org/t/stewards-statement-of-commitment-period-is-open/856/2

[2022-02-03 11:45] #1135 closed, assigned to tamarandom

[2022-02-03 12:20] tamarandom commented on #1151
Theeeeeeeees close. We will need a little support from TEAMS if they have the bandwidth, @chuygarcia92 !

[2022-02-03 15:06] tamarandom commented on #874
Closing this because it never came together.

![meh.jpeg](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/1b1496be-adb3-4592-b0ae-e1a6dcd53fa3)

[2022-02-03 15:06] #874 closed

[2022-02-03 15:08] #875 closed

[2022-02-03 15:08] tamarandom commented on #875
Closing. Long done.

[2022-02-03 15:11] tamarandom commented on #912
Updated in the Manifesto. It's short. https://docs.google.com/document/d/1cqdURiW7Qv50J_Ha9FLr9IvdqnZGuhlsffL6O1ivHnA/edit

Onboarding process
-Onboarding checklist
--Manifesto: add to the Steward manifesto.
--Ancillary docs: add Steward to Stewards list
--Discord: Steward role assigned
--Telegram: add to the TEC Stewards group
--Github: add to Stewards team
-Onboarding ceremony
--Generally held d

[2022-02-03 15:11] #912 closed, assigned to tamarandom

[2022-02-03 15:12] tamarandom opened #1205 "ETHDenver & ETHDenver talk"
## 👇🏽  What is this issue about? Give as much detail as you can.
Finishing up the talk will be the main goal for the first week and being there is the main goal for the second week of this Sprint.

Note: There are 2 days I am on vacation: Feb 14 & 15.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice P

[2022-02-03 19:59] liviade1 opened #1206 "Q ranked choice voting - change from TECH to TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 02:05] GriffGreen commented on #211
More blasts from the past

[2022-02-04 13:30] tamarandom opened #1207 "Update TEC guide bot - add how to buy TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.
![Screen Shot 2022-02-04 at 2.25.27 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/3080fd53-43cc-4e47-bebd-2f2b77efabe3)

Adding this to the TEC your-guide bot. @Vyvy-vi is this something that can be edited by any Steward or Guide? Or does it require your special skills to update?

Text:
There are two ways to m

[2022-02-04 14:20] eduardovegap opened #1208 "Contributors Agreement for Communitas"
## 👇🏽  What is this issue about? Give as much detail as you can.

We need a document that can serve as a point of reference for the contributors of the working group. Simple and easy to understand.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this iss

[2022-02-04 14:57] tamarandom commented on #1151
There was a small hiccup with editing but it looks like it will be resolved. Would expect the ep to come out this Sprint.

[2022-02-04 14:58] tamarandom commented on #1036
@eduardovegap @Zeptimus @iviangita I will not be able to do this for these 2 weeks: Feb 16 & 25. Will it be possible for someone to cover those days?

[2022-02-04 15:02] tamarandom commented on #1201
Nice - that was quick: https://forum.tecommons.org/t/gitcoin-donations-what-should-we-do-with-them/859

[2022-02-04 15:04] tamarandom commented on #1020
Update: Each WG should be planning their own roadmaps. Will be thinking about this for Stewards and Communitas over the next Sprint but will not be able to execute anything until one of the following Sprints.

[2022-02-04 15:06] tamarandom commented on #494
Closing this. Veeeeery old.

[2022-02-04 15:06] #494 closed

[2022-02-04 15:06] #616 closed

[2022-02-04 15:07] tamarandom commented on #615
Sorry bout that! Some closed issues still had a repeating tag and came back to life! Fixing them now.

[2022-02-04 15:07] #615 closed

[2022-02-04 15:08] #907 closed, assigned to danelsuga

[2022-02-04 15:10] tamarandom commented on #211
heh, yeah. A trip down memory lane .....

[2022-02-04 15:10] #211 closed

[2022-02-04 15:10] #671 closed

[2022-02-04 15:10] #888 closed

[2022-02-04 15:10] #1079 closed, assigned to Zeptimus

[2022-02-04 15:12] #189 closed

[2022-02-04 15:12] #1041 closed, assigned to iviangita

[2022-02-04 15:12] #1103 closed, assigned to Zeptimus

[2022-02-04 15:15] tamarandom opened #1209 "Kernel Block 5"
## 👇🏽  What is this issue about? Give as much detail as you can.
This is going to take some hours per week. Will try to keep any interruptions to the minimal amount necessary.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will hav

[2022-02-04 15:17] Zeptimus commented on #1036
TEC Recorder can get it :D

[2022-02-04 15:20] Zeptimus commented on #1194
done, only needs to get updates time to time

[2022-02-04 15:22] Zeptimus opened #1210 "Dune analytics coordination"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 15:23] Zeptimus commented on #910
https://www.coingecko.com/en/coins/token-engineering-commons

[2022-02-04 15:23] #910 closed, assigned to Zeptimus, chuygarcia92

[2022-02-04 15:24] Zeptimus commented on #1196
done

[2022-02-04 15:24] #1196 closed, assigned to Zeptimus

[2022-02-04 15:25] Zeptimus commented on #1199
We are planning to post on the same thread of the proposal a comment with the budget of the month

[2022-02-04 15:42] eduardovegap opened #1211 "FAQ for Gitbook"
## 👇🏽  What is this issue about? Give as much detail as you can.

We need to update the Gitbook. Content is outdated and new info needs to be added. The priority is to develop a FAQ for guides, so they can have a script to use for replying frequent questions on the Discord. But also, a repository on the TEC Handbook.

Temporaly assigned to Gideon.

## ✨  What does success look like? (i.e., the cri

[2022-02-04 16:10] natenatesoo commented on #1157
Yes.  This is ongoing.  I don't have access to the results, but they are being distributed post community-calls to all first-time attendees.

[2022-02-04 16:26] #1188 closed, assigned to liviade1

[2022-02-04 16:27] #1190 closed, assigned to liviade1

[2022-02-04 17:10] liviade1 opened #1212 "update praise guide post in the forum"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 17:14] liviade1 opened #1213 "prepare ETH denver presentation"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 17:15] liviade1 opened #1214 "update polycentric gov post with CV and TAO voting params"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 17:16] GriffGreen commented on #1210
1st week the goal is to get a polished version

2nd week get feedback and integrate

[2022-02-04 17:17] GriffGreen commented on #1180
Need bounties for the audit... @iviangita will help

[2022-02-04 17:17] divine-comedian opened #1215 "Proposal Inverter - TEC deliverables as a PI contributor"
## 👇🏽  What is this issue about? Give as much detail as you can.
We need to establish clear deliverables that the TEC can contribute to the Proposal Inverter Dogfooding proposal

This is the current working doc
https://docs.google.com/document/d/10Yq9LltmqWvX-6Mbki2DEgwfdKaBjRZJMdu8iSQETDQ/edit?usp=sharing

Comms WG @chuygarcia92  has offered to draft a roadmap and some deliverables in the realm o

[2022-02-04 17:18] GriffGreen commented on #840
@iviangita can help!

[2022-02-04 17:24] #818 closed

[2022-02-04 17:25] JuankBell commented on #1150
https://gardens.1hive.org/#/xdai/garden/0x1fc7e8d8e4bbbef77a4d035aec189373b52125a8/

[2022-02-04 17:26] GriffGreen commented on #1189
Super cool!!

[2022-02-04 17:27] GriffGreen commented on #1169
Updated in a forum post, need to have 1-1's to figure out what success looks like for each person.

[2022-02-04 17:27] JuankBell commented on #1169
https://forum.tecommons.org/t/gravity-6-month-funding-from-the-tec/809/4

[2022-02-04 17:28] GriffGreen opened #1216 "Schedule and execute on 1-1's with Gravity Leaders"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 17:28] GriffGreen commented on #1176
@Zeptimus will support this !

[2022-02-04 17:30] GriffGreen commented on #1120
3 calls a week! :-D

[2022-02-04 17:31] GriffGreen commented on #863
We have a draft but it needs to become a infographic

[2022-02-04 17:32] chuygarcia92 commented on #1139
we're starting to make pull requests for these changes with the help of Casale, we're somehow blocked by the Comms TEAM DAO funding proposal but moving on for this sprint

[2022-02-04 17:34] chuygarcia92 commented on #1027
DONE! Praise @Zeptimus @divine-comedian @mcsmith89 for the great job on this:

https://forum.tecommons.org/t/quantifier-onboarding/825

[2022-02-04 17:35] GriffGreen commented on #1211
WG's FAQ!

What are the common questions we all get?

[2022-02-04 17:35] GriffGreen commented on #1211
Great for Twitter too

[2022-02-04 17:36] GriffGreen commented on #1208
A commitment for contributors :-D!

[2022-02-04 17:37] chuygarcia92 commented on #1181
@gideonro has made great progress on this first-approach document:

https://docs.google.com/document/d/1yEstQjovjE-m5LpNvYJJG4ynto1TgqlCe1kr4yOAalI/edit?usp=sharing

[2022-02-04 17:37] chuygarcia92 commented on #1182
Done!

[2022-02-04 17:37] #1182 closed, assigned to chuygarcia92

[2022-02-04 17:38] chuygarcia92 commented on #1083
Done!

[2022-02-04 17:38] #1083 closed, assigned to chuygarcia92

[2022-02-04 17:38] GriffGreen commented on #1208
Gravity is doing it organically

The written agreements facilitate off-boarding!

There might be some resistance to this process if there isn't a clear purpose

We need consistency so we can guarantee people have made clear commitments to fulfill important roles

[2022-02-04 17:39] GriffGreen commented on #1105
DONE! YAY!

[2022-02-04 17:41] chuygarcia92 commented on #11
@0xGabi and I had a call with the DeepDAO team. On standby for Aragon Connect issues, but gave them updates on token data and the supply API.

[2022-02-04 17:42] #1045 closed, assigned to nobody

[2022-02-04 17:42] GriffGreen commented on #1184
Reached out to Angela Sebnem and YGG

Angela = FUNDED

Sebnem & YGG needed more time

[2022-02-04 17:43] GriffGreen commented on #1184
@eduardovegap is excited to reach out to the OG proposals: https://forum.tecommons.org/c/advice-process/28

[2022-02-04 17:44] chuygarcia92 commented on #1191
Status update: considering setting up mirror for the international blog.
Original articles could link to the mirror translated versions of the same article.
To be discussed in Translations TEAM and Comms sync calls next week.

[2022-02-04 17:44] GriffGreen commented on #1168
SUCCESS!

[2022-02-04 17:44] #1168 closed, assigned to eduardovegap

[2022-02-04 17:44] GriffGreen commented on #1078
To be updated this sprint

[2022-02-04 17:44] liviade1 opened #1217 "host a session to gather feedback from praise quants"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. find best time slot
2. take notes of quantifiers impressions
3. share with the rewards team and discuss if any changes need to be incorporated

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this

[2022-02-04 17:46] chuygarcia92 commented on #1183
Status update:
Working on a welcome page/email that provides new subscribers with TEC 101 and implement Hubspot forms for missing data

[2022-02-04 17:47] liviade1 commented on #1047
hi @Vyvy-vi - how is the progress in this issue? is it something that should be in this sprint?

[2022-02-04 17:47] GriffGreen opened #1218 "Distribute the 1hive video"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 17:49] #1030 closed, assigned to sembrestels

[2022-02-04 17:49] #1155 closed, assigned to GriffGreen

[2022-02-04 17:51] GriffGreen opened #1219 "Add the Proposal and Challenger terms need to be added into the Covenant When legal is done"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 17:51] #951 closed, assigned to sembrestels

[2022-02-04 17:52] GriffGreen commented on #761
@markoprljic  This is a great issue for to test a designer with :-D

[2022-02-04 17:53] #611 closed

[2022-02-04 17:53] #288 closed

[2022-02-04 17:53] #96 closed

[2022-02-04 17:53] #286 closed

[2022-02-04 17:53] #594 closed

[2022-02-04 17:53] #593 closed

[2022-02-04 17:53] #587 closed

[2022-02-04 17:53] #605 closed

[2022-02-04 17:53] #468 closed

[2022-02-04 17:53] chuygarcia92 opened #1220 "Comms TEAM DAO support for Proposal Inverter"
## 👇🏽  What is this issue about? Give as much detail as you can.
The TEC is participating in the development of the Proposal Inverter along with PrimeDAO and Blockscience. Marketing and comms support is to be included in the presented proposal.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Other DAOs jump in to the Proposal Inverter funding.
2. Comms r

[2022-02-04 17:54] GriffGreen opened #1221 "Have another retrospective !!"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-04 17:59] #1179 closed, assigned to liviade1

[2022-02-04 18:07] #37 closed

[2022-02-04 18:07] #511 closed

[2022-02-04 18:07] #510 closed

[2022-02-04 18:07] GriffGreen commented on #841
@eduardovegap can this be closed?

[2022-02-04 18:11] GriffGreen commented on #1137
@divine-comedian can this be closed?

[2022-02-04 18:12] GriffGreen commented on #1134
@divine-comedian can this be closed? did you get enough reviews? do we need to add more details to it?

[2022-02-04 18:14] GriffGreen commented on #1132
This still needs the meeting tracker bot to get done... right... is this even true ? @mateodaza @Vyvy-vi can you verify?

[2022-02-04 18:17] GriffGreen commented on #936
@kristoferlund can you clarify?

[2022-02-04 18:21] GriffGreen commented on #1139
YEAH!

[2022-02-04 18:25] GriffGreen commented on #1151
w00T!

[2022-02-04 18:28] GriffGreen commented on #1191
@laurenluz @iviangita :eyes:

[2022-02-04 18:29] GriffGreen commented on #1039
Hoping to update this after the proposal is up

[2022-02-04 18:31] chuygarcia92 commented on #1027
Still needs to be uploaded to medium!

[2022-02-04 18:48] laurenluz commented on #1191
I can look into this! I have an issue for it in giveth comms as well

[2022-02-04 18:51] laurenluz commented on #1191
Would love to be in on this discussion! I'll join the comms sync next week to discuss.

We still plan to use medium? Or are we thinking to eventually transition fully?

Wanted to look into mirror for giveth as well

[2022-02-04 19:48] tamarandom commented on #1191
Awesome @chuygarcia92 @laurenluz @iviangita. Also so you are aware, @gideonro has been digging into Mirror and talking with them about their future plans.

From my POV mirror has a lot of potential but a total migration might be premature at the moment. I could imagine posting in both places for some period of time, giving us time to test our mirror and still keeping the audience in Medium.

[2022-02-05 03:14] gideonro commented on #1191
Yes, we should discuss. I had an informative conversation with one of their devs on Thursday.

[2022-02-05 07:51] Vyvy-vi commented on #1047
If I remember correctly, Tam and I set up TweetShift in the server few months ago

[2022-02-05 07:54] Vyvy-vi commented on #1047
That bot tracks the twitter feed.
Writing data to sourcecred might require some work. (Tweaking pollen-bot to do Twitter Authentication, and write the twitter identity to sourcecred)

[2022-02-05 07:54] Vyvy-vi commented on #1132
The bot is in testing mode right now.
I think we can get this done around 15th Feb

[2022-02-06 19:45] Vyvy-vi commented on #1207
Q) Is "invest" the word we'd be comfortable using here? (Legal considerations)

[2022-02-07 00:53] gideonro commented on #1207
It's a fair point. I'm not deep enough on the legal considerations here. But maybe we just phrase the question as, "How do I acquire TEC tokens?"

[2022-02-07 09:03] iviangita opened #1222 "Legal WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
Here's the draft proposal: https://docs.google.com/document/d/1xxgmHVtVX6w3ErP6uw9eKN1yBBja4w31gZOcpsHpOIU/edit?usp=sharing

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those

[2022-02-07 11:03] tamarandom commented on #1207
Thanks for flagging, @Vyvy-vi. You are correct. And agree with @gideonro on going with acquire.

[2022-02-07 11:10] tamarandom opened #1223 "DeepSkills service for onboarding"
## 👇🏽  What is this issue about? Give as much detail as you can.

Do discovery of the service, bring idea to Communitas.
If we move forward:
Review/finalize  scope of work and proposal from DeepSkills  (probably looks like 1-2 WG)
Earmark budget or submit new proposal.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be pa

[2022-02-07 11:15] tamarandom opened #1224 "Requests to move frozen TEC to new wallet"
## 👇🏽  What is this issue about? Give as much detail as you can.
Hi @liviade1 I am dropping this here so we can keep track of it. Below are the notes from the Stewards' weekly.

Requests re compromised wallet. Request to move vested, untransferable TEC tokens to diff wallet.
- Technical feasibility: Yes. mint and burn in one tx
- Request would go to General Magic to execute
- Social feasibility: a

[2022-02-07 11:21] tamarandom opened #1225 "Record the weekly Communitas call"
## 👇🏽  What is this issue about? Give as much detail as you can.

Please reach out to me if you can take this on! ;)

The Transparency team will train you and show you everything you need to know!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issu

[2022-02-07 12:18] divine-comedian commented on #1137
we should leave this open - doc is far from finished and we haven't had a quant review call yet

[2022-02-07 12:19] #1134 closed, assigned to divine-comedian

[2022-02-07 15:28] mcsmith89 commented on #1078
Hey Team!

The last few discussion points around this can be found on the retro board - https://miro.com/app/board/o9J_lYcRTik=/

![image](https://user-images.githubusercontent.com/60235653/152818351-58915b2e-f538-40ed-9c0b-d13e307103b0.png)

This has stalled on my end - re-calibrating with @eduardovegap for next best steps.

[2022-02-07 18:20] tamarandom opened #1226 "Monthly compensation distribution for Stewards"
## 👇🏽  What is this issue about? Give as much detail as you can.

Following the process outlined in the Stewards WG funding proposal that the community passed.

https://forum.tecommons.org/t/steward-wg-3-month-funding-proposal/713

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Stewards get their compensation for the previous month during the first week

[2022-02-07 18:20] tamarandom opened #1227 "Monthly compensation distribution"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-09 19:05] liviade1 commented on #1137
@divine-comedian is this something different from the tweak session? https://docs.google.com/document/d/1bvpgt8YbDJxdrC3i3cEK9HJYwPwrqNiaUV8nFDyDPgc/edit#heading=h.o22gr64rapuc

[2022-02-09 19:12] liviade1 commented on #1142
Juank praise was being recorded, just didn't receive the checkmark emoji.
There was one praise from acidlazer that wasn't recorded. Nuggan will look more into it to try to find a reason.
This was considered a minor issue.
since Vy is creating a new bot, it's expected this doesn't happen anymore.

[2022-02-09 19:13] liviade1 commented on #933
@kristoferlund do we have a date for this yet?

[2022-02-10 01:38] mcsmith89 commented on #1142
Agreed, Nuggan rocked it. All good.

[2022-02-14 11:52] Zeptimus commented on #1195
Done :D

[2022-02-14 11:52] #1195 closed, assigned to Zeptimus

[2022-02-14 11:56] Zeptimus opened #1228 "Transparency vs privacy arround multisig forum post"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-15 00:35] gideonro opened #1229 "TEC Website should point to TEC Handbook, not TEC Source"
## 👇🏽  What is this issue about? Give as much detail as you can.
Right now the link for Gitbook from the bottom of the page on the TEC website points to TEC Source. It should point to TEC Handbook instead.
![Screen Shot 2022-02-14 at 4.32.10 PM.png](https://images.zenhubusercontent.com/615b4fece819bd9e3a821b1b/7dfe9d40-8c11-4768-a3c6-4176c7315a86)

## ✨  What does success look like? (i.e., the cri

[2022-02-15 23:44] divine-comedian commented on #1137
this would be the same thing

[2022-02-16 13:51] iviangita opened #1230 "Transparency Audit (Jan-Mar 2022)"
This issue is about transcribing the data from our Dune Analytics, Snapshot, Dework, and Gardens accounts into the actual audit document that our WG is preparing. More specifically it involves getting each WG's contributors account addresses, cross-referencing that with the actions taken by the user (e.g. votes, bounty disbursements, etc.), and using that to paint a clearer picture of our communit

[2022-02-16 13:54] iviangita opened #1231 "Transparency Audit - Part 1: Processes"
## 👇🏽  What is this issue about? Give as much detail as you can.

This covers most the cultural procedures that are relevant to the community at large, for example:

a. The Advice Process
b. Creating a proposal on Snapshot
c. Submitting funding and cultural proposals
d. Nominating and offboarding stewards
e. Requesting credentials
f. Etc

Information to be included:

a. Documentation of these proc

[2022-02-16 13:56] iviangita opened #1232 "Transparency Audit - Part 2: Decisions"
## 👇🏽  What is this issue about? Give as much detail as you can.
This covers important decisions that don’t go through community voting:

a. Made internally (within smaller groups) that affect the community, for example:

- Choosing and offboarding stewards

- Default values of params in the dashboard

b. Went through the advice process, for example:

- Conducting a transparency audit
- The Covena

[2022-02-16 13:58] iviangita opened #1233 "Transparency Audit - Part 3. Votes and results"
## 👇🏽  What is this issue about? Give as much detail as you can.

This covers ALL votes that went through the following tools:

a. Forum
b. Snapshot
c. Tokenlog
d. TAO voting
e. Conviction voting

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue

[2022-02-16 15:18] mount-manu-zz commented on #970
This is more along the lines of Giveth's MVV so I'll close this for now.

[2022-02-16 15:18] #970 closed, assigned to mount-manu-zz

[2022-02-16 15:21] mount-manu-zz commented on #963
This is not a priority for me right now, nor have I dedicated any hours to this, so I'll close this for now and revisit it later if the community deems it a worthy pursuit.

[2022-02-16 15:21] #963 closed, assigned to mount-manu-zz

[2022-02-17 15:52] JuankBell commented on #1120
![GRAVITON_PRACTICE_GROUPS.jpeg](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/541dba6b-7801-49ff-8660-94427459c305)

Educational cycle of activities on Tuesdays! Coordination call on wednesdays, and Book club/ role plays on thursdays

[2022-02-17 16:10] JuankBell commented on #1169
https://app.dework.xyz/o/gravity-dao-4UHhckKWxf8whABj2pY8mV/p/trust-creati-7BGDkdjAK9Fh6c4clekm2E

[2022-02-17 16:11] JuankBell commented on #1176
https://app.dework.xyz/o/gravity-dao-4UHhckKWxf8whABj2pY8mV/p/trust-creati-7BGDkdjAK9Fh6c4clekm2E

[2022-02-17 16:19] JuankBell commented on #1189
We only got a minimum price from the hackathon, but we want to continue developing the tool. Thats why we will be having a weekly call on the 1hive forum on Wednesdays trying to follow an agenda trying to build a tool that could be useful for multiple communities.

1hive forum post. https://forum.1hive.org/t/unbreakable-vows-private-contracts-arbitrated-by-celeste/5012

Agenda:  https://hackmd.io/

[2022-02-18 17:10] natenatesoo commented on #1224
Needs Update from CommonStack on process and information.

[2022-02-18 17:11] eduardovegap commented on #1227
i recommend to use: https://app.dework.xyz/

[2022-02-18 17:13] natenatesoo commented on #1229
Additionally, the same link is used in the Gardens Wiki link which should be changed to the link for the TEC Handbook.

[2022-02-18 17:15] natenatesoo commented on #1068
Epic is done.  Only needed iterations.  This can be closed if no one objects.  Will remain as open epic until next sprint.

[2022-02-18 17:16] natenatesoo commented on #1200
done.

[2022-02-18 17:19] natenatesoo commented on #1036
Closing this issue due to lack of need.

[2022-02-18 17:20] eduardovegap opened #1234 "Processing of the Community Data."
## 👇🏽  What is this issue about? Give as much detail as you can.

Zeptimus and Eduardo have been creating presentation with community data from forum and discord. Now we want to create concrete actions with the data presented and create a process that could be standarized on which metrics are relevant for a community and what actions can be taken towards it.

## ✨  What does success look like? (i.

[2022-02-18 17:21] eduardovegap opened #1235 "Processing of the Community Data."
## 👇🏽  What is this issue about? Give as much detail as you can.

Zeptimus and Eduardo have been creating presentation with community data from forum and discord. Now we want to create concrete actions with the data presented and create a process that could be standarized on which metrics are relevant for a community and what actions can be taken towards it.

## ✨  What does success look like? (i.

[2022-02-18 17:22] eduardovegap opened #1236 "Updating Orientation call and deck."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-02-18 17:22] natenatesoo commented on #1078
The graphics should be updated to fit the context of the TEC user journey.

[2022-02-18 17:22] #1234 closed, assigned to eduardovegap

[2022-02-18 17:28] natenatesoo commented on #8
Setup with Livia and Edu to do a pilot episode and experiment how it goes.

[2022-02-18 17:28] eduardovegap commented on #1208
No feedback was provided. Closed until further notice.

[2022-02-18 17:28] #1208 closed, assigned to eduardovegap

[2022-02-18 17:31] natenatesoo commented on #803
Good Job! Second Gen Gravitons!

[2022-02-18 17:31] #803 closed

[2022-02-18 17:32] natenatesoo commented on #228
Great Job!

[2022-02-18 17:32] #228 closed

[2022-02-18 17:33] JuankBell commented on #1189
https://forum.1hive.org/t/unbreakable-vows-private-contracts-arbitrated-by-celeste/5012

[2022-02-18 17:34] JuankBell commented on #1189
https://forum.1hive.org/t/unbreakable-vows-private-contracts-arbitrated-by-celeste/5012

[2022-02-18 17:35] natenatesoo commented on #1176
Still need to finish adding individuals, and we need to assign the final 2 bounties.  Accounts need to be synced.

[2022-02-18 17:36] eenti commented on #8
Hey, this sounds fun! Count me in for anything you need on the technical side.

[2022-02-18 17:41] natenatesoo commented on #863
Still in Progress. To remain in Product Backlog.

[2022-02-18 17:43] natenatesoo commented on #1150
Still needs support to pass this proposal!  If not, revision of Budget will be implemented.

[2022-02-18 17:43] natenatesoo commented on #1192
Yay!

[2022-02-18 17:43] #1192 closed, assigned to liviade1

[2022-02-18 17:46] natenatesoo commented on #901
Yay! Good Job!

[2022-02-18 17:46] #901 closed

[2022-02-18 17:48] natenatesoo commented on #838
Any updates?!

[2022-02-18 17:51] natenatesoo commented on #1210
Done! Yay!

[2022-02-18 17:51] #1210 closed, assigned to Zeptimus

[2022-02-18 17:53] natenatesoo commented on #1228
Only thing this needs is a community vote on the issue.

[2022-02-18 17:53] natenatesoo commented on #1178
Done! Yay!

[2022-02-18 17:53] #1178 closed, assigned to nobody

[2022-02-18 18:00] natenatesoo commented on #1202
There were conversations about TEC.eth going to LaserTag, and tecommons.eth going to the translations T.E.A.M. for use in Mirror.

[2022-02-18 18:02] natenatesoo commented on #1151
Can this be closed?

[2022-02-18 18:06] iviangita opened #1237 "Transparency Audit - Part 4. Funding pool and reserve and fund movement"
## 👇🏽  What is this issue about? Give as much detail as you can.
This covers the financial specifics pertaining to internal accounting and treasury management. We will use graphs and Dune Analytics to present most of this data.

a. $TEC

- Revenue (inflow) from the Reserve
- Expenses (outflow) from the Commons Pool (fund distribution)
WGs
TE Projects
Rewards
Other ops expenses
Total funding being

[2022-02-18 18:07] natenatesoo commented on #1205
A++++++++ Talk!  Stewardship for the W!

[2022-02-18 18:07] #1205 closed, assigned to tamarandom

[2022-02-18 18:09] iviangita opened #1238 "Transparency Audit - Part. 5. $TEC holders ranking (data from Blockscout)"
## 👇🏽  What is this issue about? Give as much detail as you can.

Wallet addresses holding the top 30% of the total supply of $TEC
- Ranking of addresses with their respective %

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will h

[2022-02-18 18:10] natenatesoo commented on #786
Is this issue active, done, or in limbo?

[2022-02-18 18:10] iviangita opened #1239 "Transparency Audit - Part 6. Monitoring community buying & selling activities (wallet addresses, no names)"
## 👇🏽  What is this issue about? Give as much detail as you can.

a. General view of the $TEC (in graphics)

- Market supply
- Total number of token holders
- Total amount of $TEC in Commons Pool
- Total amount of wxDAI in Reserve
- Anything else?

b. Transactions that move the price by x% in x period of time
c. Top 10 buying and top 10 selling (based on number of $TEC tokens)
d. How much is being

[2022-02-18 18:11] iviangita opened #1240 "Transparency Audit - Part 7. Governance tokens"
## 👇🏽  What is this issue about? Give as much detail as you can.
a. How many governance tokens are minted (total supply)
b. How many governance tokens are available for voting
c. How many governance tokens are being used in farming, LP, etc.
d. Where/how they are used
- proposals voted on using the the tokens
- Farming, LP

## ✨  What does success look like? (i.e., the criteria to meet to call thi

[2022-02-18 18:11] natenatesoo commented on #993
@Vyvy-vi --- I added this to next sprint, however, please feel free to remove this label.  Also, I'm very interested in helping out with the Bot documentation, so please let me know if you need/want assistance.

[2022-02-18 22:42] kristoferlund commented on #838
I unfortunately don't have any spare capacity to develop this in the near term. One requirement for this it to be a good idea is also that there is a steady weekly stream of updates from the working groups on the forum.

[2022-02-21 13:47] Zeptimus commented on #1115
done https://forum.tecommons.org/t/quantifier-onboarding/825

[2022-02-21 13:47] #1115 closed, assigned to Zeptimus

[2022-02-24 00:08] mount-manu-zz commented on #1139
Done!
![Screen Shot 2022-02-23 at 6 06 55 PM](https://user-images.githubusercontent.com/55956086/155431941-256f9a64-1c52-47dc-80a0-975b85218c02.png)

[2022-02-24 00:08] #1139 closed, assigned to mount-manu-zz

[2022-02-25 12:50] kristoferlund commented on #1229
Perhaps [thefredo1000](https://github.com/thefredo1000) or @mount-manu can take this issue?

[2022-02-25 12:52] kristoferlund commented on #1229
Created an issue in the tec-web repo as well: https://github.com/CommonsBuild/tec-web/issues/40

[2022-02-28 19:37] tamarandom commented on #1207
Hey @Vyvy-vi - do you know when you will be able to get to this?

[2022-02-28 19:59] tamarandom opened #1241 "Update Working Group on the website"
## 👇🏽  What is this issue about? Give as much detail as you can.
We can remove:
Parameters
Commmons Swarm

We can add (need a short write-up, @liviade1 is the Steward)
Rewards

@mount-manu dropping this on you until you casale.eth is on github. 🙏🏼

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Proce

[2022-02-28 20:28] Vyvy-vi commented on #1207
Tomorrow

[2022-03-02 19:26] divine-comedian commented on #1097
Prepare for first quant on Mon. March 7

Period Created for 2 weeks until July 31 202, start with test real quant for 2 weeks then transition to 1 month blocks until we catch up

Praise Discord bot is ready in the TEC discord.

Waiting for @kristoferlund  to import praise users back into praise dashboard - needs to write scripts, should be ready for Mar 3

[2022-03-02 19:47] divine-comedian commented on #1097
Schedule recorded quant session early next week  synchronous call where we can answer questions and facilitate first quant process

[2022-03-02 20:41] GriffGreen commented on #1097
OMG YOU GUYS ROCK!

[2022-03-03 11:10] Vyvy-vi commented on #993
That would great!
Maybe we can sync on this?

[2022-03-03 14:40] tamarandom commented on #1142
Hey @mcsmith89 @liviade1 @0xNuggan is there any reason to keep this issue open? It can be closed now, right?

[2022-03-03 14:41] tamarandom commented on #1213
Excellent talk!

[2022-03-03 14:41] #1213 closed, assigned to liviade1

[2022-03-03 14:43] kristoferlund commented on #1142
Closing.

[2022-03-03 14:43] #1142 closed, assigned to mcsmith89

[2022-03-04 12:07] eduardovegap commented on #1236
Updated, added governance. Still need to be improved, will wait until the narrative for the User Flow will be drafted.

[2022-03-04 12:07] #1236 closed, assigned to eduardovegap

[2022-03-04 12:07] eduardovegap commented on #1235
This is own by Bends and Yineisy. Probably we will have some outcomes by next sprint.

[2022-03-04 12:17] eduardovegap opened #1242 "Outreach to top10 Hatchers."
## 👇🏽  What is this issue about? Give as much detail as you can.

Outreach to top10 hatchers in order to send them the physical edition of an NFT.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  A

[2022-03-04 12:17] eduardovegap commented on #1242
Accomplished.

[2022-03-04 12:17] #1242 closed, assigned to eduardovegap

[2022-03-04 12:20] eduardovegap opened #1243 "Improving onboarding for TEA."
## 👇🏽  What is this issue about? Give as much detail as you can.

TEA reached us, requesting support for their onboarding.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Deploy an adapted version of our onboarding to their needs and discord.
2. Identify how to strength  the relationship in between both communities.
3. Come up with action items that brin

[2022-03-04 12:23] eduardovegap opened #1244 "Present at TEA monthly presentation."
## 👇🏽  What is this issue about? Give as much detail as you can.

TEA invites us every month to present at their Monthly Introduction to TE, This time I will be presenting our community.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those w

[2022-03-04 12:24] eduardovegap commented on #1227
Most of the active contributors sent their request. The process went smoothly. Today we should be doing the distributions.

[2022-03-04 15:37] Zeptimus commented on #1228
done

[2022-03-04 15:37] #1228 closed, assigned to Zeptimus

[2022-03-04 15:37] Zeptimus commented on #1180
done, praise @iviangita :D

[2022-03-04 15:38] Zeptimus commented on #1199
done :D https://forum.tecommons.org/t/transparency-wg-funding-proposal-on-cv/834/11

[2022-03-04 15:39] Zeptimus opened #1245 "Audit TEC credentials"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-03-04 16:42] tamarandom commented on #1226
So. Close!

[2022-03-04 16:44] tamarandom commented on #1223
This is very cool but don't have the bandwidth to move it forward this next Sprint. Will leave in the product backlog. OPEN for someone who wants to carry the flag on this for Communitas.

[2022-03-04 16:44] tamarandom commented on #1209
The 2 weeks in ETHDenver I missed just about all the modules. Will play catchup this weekend.

[2022-03-04 16:59] tamarandom commented on #1151
Retroactive funding was requested for this. Idea being to save the not insignificant gas fees that would be needed if it went through a Giveth Trace.

Here is the vote: https://gardens.1hive.org/#/xdai/garden/0x1fc7e8d8e4bbbef77a4d035aec189373b52125a8/proposal/11

@chuygarcia92 Can I ask you what you think is the next best step? I think Twells is only waiting os us to confirm we are OK to release

[2022-03-04 17:12] tamarandom opened #1246 "Brainstorm on ritualizing "agency" in the community"
## 👇🏽  What is this issue about? Give as much detail as you can.
How can we develop rituals to help new community members practice agency.
Will flesh this out over the course of the Sprint. What do we currently do?  How can we help bridge the gap better from a permissioned work mindset to a permission-less work mindset.

Get the conversation started .....

## ✨  What does success look like? (i.e.,

[2022-03-04 17:13] liviade1 commented on #1224
Pineapple said he wants to wait for the tokens to be liquid (he still has access to his wallet even thought it is compromised)
vyvyvi also wants to change his wallet - he said he would talk to pineapple so perhaps they submit a proposal together

[2022-03-04 17:14] #1063 closed, assigned to mateodaza, liviade1

[2022-03-04 17:14] #1214 closed, assigned to liviade1

[2022-03-04 17:17] liviade1 opened #1247 "identify key points of the cultural build"
## 👇🏽  What is this issue about? Give as much detail as you can.
identify the key points of the cultural build that need to be communicated to every new comer.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. have a forum post that can be shared in the orientation calls
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be

[2022-03-04 17:22] JuankBell commented on #1084
done! ![Captura de Pantalla 2022-03-03 a la(s) 2.17.11 p. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/94ddc095-1b86-455b-a5d3-245fb5cb63c4) Must update in community call slides :)

[2022-03-04 17:22] #1084 closed, assigned to JuankBell

[2022-03-04 17:28] Zeptimus opened #1248 "Host LASERTAG council"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-03-04 17:30] JuankBell opened #1249 "Gravity - Aragon outreach"
## 👇🏽  What is this issue about? Give as much detail as you can.
We want Gravity to be sustainable by having several communities using our framework and tools. Aragon has reached out saying they will submit a proposal to encourage a tailored graviton training and support for developing conflict management processes. Point of contact is Michael Heuer and they want to call their  "umbrella proposal"

[2022-03-04 17:32] tamarandom commented on #1224
Update: @liviade1 will create a quick forum post to let community know how to make a proposal for change of wallet address.

[2022-03-04 17:32] liviade1 opened #1250 "advice process communication improvement"
## 👇🏽  What is this issue about? Give as much detail as you can.
With the help of Gideon :)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Wh

[2022-03-04 17:35] JuankBell opened #1251 "Gravity - VitaDAO outreach"
## 👇🏽  What is this issue about? Give as much detail as you can.
I have been contacted by people from VitaDAO trying to reproduce Gravity in their organization, first meeting will happen on wed, 9th of march.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. VitaDAO being clear on the services Gravity offers and how to reproduce them
2. Offering quality ac

[2022-03-04 17:38] JuankBell opened #1252 "Presentation at Fork the system hackathon Bogotá"
## 👇🏽  What is this issue about? Give as much detail as you can.
I will be talking about digital commons in this hackathon on march 10th https://forkthesystem.xyz/ and will try to find inspiration from griffs talk  https://www.youtube.com/watch?v=ADSOVkujrI4

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Quality presentation
2. Fair representation of th

[2022-03-04 17:39] tamarandom commented on #841
Closing.

[2022-03-04 17:39] #841 closed

[2022-03-04 17:40] #933 closed, assigned to kristoferlund

[2022-03-04 17:40] #1217 closed, assigned to Zeptimus

[2022-03-04 17:41] liviade1 opened #1253 "onboarding to the new reward system"
make a forum post to explain how it works and a demo in the community call
@Vyvy-vi can you do the demo?
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valu

[2022-03-04 17:42] tamarandom opened #1254 "Retro action: Create a Gardens Party where members can discuss and debate on current proposals within Gardens. (Communitas?)"
## 👇🏽  What is this issue about? Give as much detail as you can.
@eduardovegap @liviade1 dropping the retro action in here to be thought through / executed for this Sprint.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have v

[2022-03-04 17:42] liviade1 opened #1255 "Bright ID integration"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. write a forum post explaining how this impacts the community
2. add what is the suggested pathway.
3. create a snapshot voting for it after advice process

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulte

[2022-03-04 17:43] JuankBell opened #1256 "Gravity Q1 2022 blog post"
## 👇🏽  What is this issue about? Give as much detail as you can.
Our last medium article was last year! there are so many things to communicate in this start of 2022 that we need to make a new medium article explaining all what we look forward this year. @gideonro offered to support an we will meet on tuesday 8th

## ✨  What does success look like? (i.e., the criteria to meet to call this issue do

[2022-03-04 17:44] liviade1 opened #1257 "gather quantifiers and organize first quant"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-03-04 17:44] JuankBell commented on #1120
March 10th starting book club of this book. needs promotion and infographic [https://app.zenhub.com/files/306706322/a38c6928-899a-423c-a64c-7594e46a6794/download](https://app.zenhub.com/files/306706322/a38c6928-899a-423c-a64c-7594e46a6794/download) - Leadership and new science - finding order in chaos, by Margaret wheathley

[2022-03-04 17:45] tamarandom commented on #1202
Confirmed by @Zeptimus

[2022-03-04 17:45] #1202 closed, assigned to GriffGreen, chuygarcia92

[2022-03-04 17:48] tamarandom commented on #1201
Next step: rank choice voting on Snapshot.
Will bring up in the Stewards call next week and plan the date for the snapshot vote.

[2022-03-04 17:50] JuankBell commented on #863
![Captura de Pantalla 2022-03-03 a la(s) 7.45.35 a. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/877e6751-f90a-47ba-84af-fc8f3bf254d3)

[2022-03-04 17:52] #1257 closed, assigned to divine-comedian

[2022-03-04 17:54] tamarandom opened #1258 "How can TEC support community building for cadCAD and TokenSpice?"
## 👇🏽  What is this issue about? Give as much detail as you can.
Turn this into actionable items:

@GriffGreen  [Mar 4, 2022 at 12:40:41 AM]:
...Numfocus is a large portfolio of computational science libraries. He thought it would be great to also donate to them.

We should probably aslo find a way to support cadCAD and Token Spice as well... but what they really need are proposals for building Co

[2022-03-04 17:56] #1046 closed, assigned to nobody

[2022-03-04 17:56] tamarandom commented on #1046
There is a lot of momentum on these actions. Closing this issue now.

[2022-03-04 18:09] JuankBell commented on #1169
this can be closed! right now we have an initial group of 12 contributors, and may include some according to the needs that are identified while progressing.![Captura de Pantalla 2022-03-04 a la(s) 1.09.16 p. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/590392e7-18fd-446d-9726-f98b627e1199)
https://app.dework.xyz/o/gravity-dao-4UHhckKWxf8whABj2pY8mV/p/trust-creati-7BGDkdjA

[2022-03-04 18:09] #1169 closed, assigned to JuankBell

[2022-03-04 18:17] tamarandom commented on #1246
@durgadasji suggestion: "give permission" to show up with autonomy and agency, use liberating structure card for opening WG meetings

 @eduardovegap volunteers to help bring this into the Orientation call.

[2022-03-04 18:17] tamarandom opened #1259 "pick Durgadas brain on liberating structures"
## 👇🏽  What is this issue about? Give as much detail as you can.
And how to help ritualize agency in community members.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs rela

[2022-03-04 18:37] tamarandom commented on #739
Some backlog refinement, closing this epic.

[2022-03-04 18:37] #739 closed

[2022-03-04 18:38] tamarandom commented on #369
Backlog refinement, closing old epics.

[2022-03-04 18:38] #369 closed

[2022-03-04 18:38] tamarandom commented on #366
Closing old epics.

[2022-03-04 18:38] #366 closed

[2022-03-04 18:39] tamarandom commented on #109
Closing old epics. Legal is using the "legal" label and doesn't need this epic anymore.

[2022-03-04 18:39] #109 closed

[2022-03-04 18:42] tamarandom commented on #845
Backlog refinement. Closing old epics.

[2022-03-04 18:42] #845 closed

[2022-03-04 18:43] tamarandom commented on #636
Closing old epics.

[2022-03-04 18:43] #636 closed

[2022-03-04 18:43] tamarandom commented on #146
This epic can be retired!

[2022-03-04 18:43] #146 closed

[2022-03-04 18:43] tamarandom commented on #144
Closing old epics.

[2022-03-04 18:43] #144 closed

[2022-03-04 18:43] #145 closed

[2022-03-04 18:43] tamarandom commented on #145
Closing old epics.

[2022-03-08 13:11] #1137 closed, assigned to divine-comedian

[2022-03-08 13:28] liviade1 commented on #1047
thanks for the updates! @Vyvy-vi
I'm talking to Kristofer he will coordinate with you on this

[2022-03-08 13:29] #1132 closed, assigned to mateodaza

[2022-03-09 17:18] tamarandom commented on #1185
Hey @eduardovegap - can we bump this up in priority? Wesley wants to submit a proposal and I will be happy to walk him through the steps but I realize we don't have an easy document we can share with others!

[2022-03-09 17:31] tamarandom commented on #1185
Here is what I wrote:

The first step is to submit your proposal for Advice Process on the Forum.
When you create a new issue in the "advice process" section, the tempate for a proposal will be loaded.
https://forum.tecommons.org/c/advice-process/28

After a few days, you can move the proposal (it requires the link to the forum post) to the TEC Conviction Voting. Here: https://gardens.1hive.org/#/

[2022-03-10 13:12] tamarandom commented on #1177
Started the FAQ for guides here. Please add to it! https://docs.google.com/document/d/1edIsA8yYOxhC7if4mXW_3cz09zoeOhcQaj0wItymjZE/edit#

[2022-03-10 18:32] tamarandom opened #1260 "Gitcoin Grants --> GR13"
## 👇🏽  What is this issue about? Give as much detail as you can.
@cranders1 noticed that the TEC grant is inactive. He offered to help....

We should also have a templated checklist that is reusable for each round. Something like the one we just made for Commons Stack - https://docs.google.com/document/d/1adbs05kkiS4YTsPryTwT5tPc-enJ3s_TejopjbH0EGU/edit#

And a recurring issue that gets pulled int

[2022-03-10 18:43] tamarandom commented on #1227
Huge milestone... done!

[2022-03-10 18:43] tamarandom commented on #1225
Done!

[2022-03-10 18:45] tamarandom commented on #1244
Sorry I missed it, I know you did a great job!

[2022-03-10 18:45] #1244 closed, assigned to eduardovegap

[2022-03-10 18:57] tamarandom commented on #1260
Looks like it is live now but still saying round 12 ... who is the person taking care of this? @chuygarcia92 ... are you? ;)

![Screen Shot 2022-03-10 at 7.56.24 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/0043ac12-5d77-4777-b7f0-3c5fb265851c)

[2022-03-10 21:29] cranders1 commented on #1260
@tamarandom @chuygarcia92
i updated the grant with a brief blurb and a bunch of links
now live on grants explorer & eligible for matching
will try to revisit later with more thorough update
if anybody has a list or bullets of accomps since dec '21 (GR12) or even a wow factor slide, ill take it.

[2022-03-11 19:39] tamarandom commented on #1260
THANK YOU to whomever did this!

![Screen Shot 2022-03-11 at 8.39.39 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/b13f2188-76cc-4920-9799-f218802717b4)

[2022-03-11 19:41] tamarandom commented on #1260
Wait ... what do we mean by this "Our GR13 updated grant is forthcoming very soon. Apologies for the oversight 😎" ??

@cranders1 @chuygarcia92 ??

[2022-03-12 02:59] cranders1 commented on #1260
I fixed it @tamarandom . Just added a little more relevant info.
Unfortunately & fortunately, I can't just rattle off all the highlights any more ;)
Link checking always a help...Cheers.

[2022-03-14 18:32] #1248 closed, assigned to Zeptimus

[2022-03-14 18:32] tamarandom commented on #1248
Nice job, @Zeptimus, on the Council! !! Closing this issue now.

[2022-03-16 18:35] tamarandom commented on #1201
@Zeptimus to take it on!

[2022-03-17 15:32] iviangita commented on #246
The content is ready, here's the [link ](https://docs.google.com/document/d/1BltyTWMCkyJZktdEZu7o7hM1vI8v_JJmqhX74LNGNFM/edit?usp=sharing)to the final version.

Already added it to Gitbook as well, waiting for @liviade1 to approve my submission. Once it's published, we will integrate the link into the Covenant.

[2022-03-17 16:42] laurenluz commented on #246
This is amazing Ivy!! Thank you!

[2022-03-17 18:55] tamarandom commented on #1226
Yes! Done!

[2022-03-17 19:06] tamarandom commented on #1085
Hey @natenatesoo - this looks GREAT! We call it done, right? Is there any reason not to close this issue now?

![Screen Shot 2022-03-17 at 8.06.24 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/89b07f54-9094-4440-bb5a-9be71e10bc00)

[2022-03-17 19:12] tamarandom commented on #1087
Closing this epic. Almost all of the WG funding has already passed or is already on Gardens. The issues that remain can be tracked individually.

[2022-03-17 19:12] #1087 closed, assigned to tamarandom

[2022-03-17 19:13] tamarandom commented on #1194
@Zeptimus can you drop the document in this issue please?

[2022-03-17 19:14] Zeptimus commented on #1194
https://docs.google.com/spreadsheets/d/1QSZT4bGfIV48FqSl3ykrpDoS_5PZdwSCgqxNALrMBoY/edit#gid=485862828

[2022-03-17 19:16] tamarandom commented on #868
Good news! We have moved onto another platform (wordpress and a custom plugin). Closing this issue now.

[2022-03-17 19:16] #868 closed

[2022-03-17 19:18] tamarandom commented on #140
Keeping this open and tagging with Communitas since it is a good idea and maybe can be implemented in the future.

[2022-03-17 19:22] tamarandom commented on #1019
Hey @natenatesoo - going to close this issue since we have the TEC writers guild getting momentum on creating new articles.

[2022-03-17 19:22] #1019 closed, assigned to natenatesoo

[2022-03-17 19:29] tamarandom commented on #1177
We can still do some work on this @eduardovegap @mount-manu and Costa though we need to decide priority and whether to pull it into the next Sprint.

[2022-03-17 19:31] mount-manu commented on #1258
Update from Edu: They need someone to hold open office hours where people can hack on their stuff and know they have a person around to answer questions. But we just need a way to support the developers of open source models: its probably via a sort of cadCAD mutual aid group. So we need a nerdy community manager to cat herd for an expert to support a weekly (or more) occurring meeting.

[2022-03-17 19:34] tamarandom commented on #1163
Hey @Vyvy-vi how about this for the Discord Bot Army!? The Communitas Group would be very grateful!

[2022-03-17 19:35] mount-manu commented on #654
**Update from Edu:** Guide Role's functions; we do this on a Daily basis: using the Survey and orientation data to welcome newcomers, plus checking all the discord chat channel, checking for new members who are lost.

[2022-03-17 19:35] Vyvy-vi commented on #1163
That would be great!

[2022-03-17 19:37] tamarandom commented on #1106
Wups. Broken page. @Vyvy-vi maybe you and I work on this together. I should have access to our dns if you tell me where to point it to!

![Screen Shot 2022-03-17 at 8.36.32 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/4385acc1-84bd-49c8-adf7-dfb0fe1804ac)

[2022-03-17 19:37] mount-manu commented on #1235
**Update from Edu:** Processing the data and analytics that is provided by Discord and Forum. We aim to create actions items towards the improvements of the analytics on our community. Specifically: How many people stay after a week, Praise related data and how many people become engage on voice or text channels.

[2022-03-17 19:38] tamarandom commented on #993
Hey @Vyvy-vi @natenatesoo is this issue still relevant?

[2022-03-17 19:39] mount-manu commented on #1246
**Update from Edu:** Trying to find ways to create engagement and safe spaces for contributors to develop themselves (technically and socially) on the TEC.

[2022-03-17 19:40] tamarandom commented on #1254
This idea came up again in today's retrospective.

![Screen Shot 2022-03-17 at 8.39.57 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/72c3f0dc-d29e-48f0-96b6-284210bb08a7)

[2022-03-17 19:42] tamarandom commented on #1088
@Zeptimus you are a hero!

[2022-03-17 19:44] tamarandom commented on #1088
And you too @st8tikratio if you're the one doing it now! 🤣

[2022-03-17 19:50] tamarandom commented on #1246
Do we have next steps on this brainstorm? **Who** will do **what** by **when**? 😇

Maybe this can be a brainstorm in SoftGov or even a discussion group in the Stewards Council? Other ways we can tackle it, @eduardovegap ?

[2022-03-17 19:52] tamarandom commented on #1159
We have a temporary manual solution for now that works for the TEC Guides:
TEC!get_onboarding_data 10-10-2021

[2022-03-17 19:53] tamarandom commented on #1207
Update: @Vyvy-vi plans to deploy tomorrow. 🙌

[2022-03-17 19:56] tamarandom commented on #1184
@eduardovegap is this all done now? Can this issue be closed or are they more to reach out to?

Update: Wesley reached out to me to share he wanted to put together a proposal for his latest project: Proof of Competence https://poc.quest

[2022-03-17 20:01] tamarandom commented on #1185
@natenatesoo @gideonro This would make a great forum post and possibly a medium article. Can we add this topic to our article wish-list!?

[2022-03-17 20:03] tamarandom commented on #950
@natenatesoo I think you and @gideonro are on top of this and have been making huge strides. Going to leave this open since it seems like it is really a recurring task on your plate.

[2022-03-17 20:04] tamarandom commented on #751
@eduardovegap I really liked your idea of bringing this question into the Sprint planning! Going to add it to the agenda.

[2022-03-18 01:39] GriffGreen commented on #246
YAY! Great work Ivy!

And now this works for Gardens so no technical blockers for doing this. Praise Mitch!

Amazing that you saw this @laurenluz Giveth is everything cause of you ❤️

[2022-03-18 01:41] GriffGreen commented on #1201
Voted!

[2022-03-18 12:19] eduardovegap commented on #1254
I have discusses this with Angela, rather than just Garden's parties, it's an educational space that should be running weekly or every two weeks. The only educational space we have at the moment is LABS, so this is still in development, but for next sprint we should have something.

[2022-03-18 12:20] eduardovegap commented on #1177
Costa is working on the document, gathering questions that I may have slipped to include as well as learning about the TEC while "answering" the questions on the document. On Monday he should be providing feedback and presenting it.

[2022-03-18 12:25] eduardovegap commented on #1184
No, my apologies, it is mostly done for advice process one. But one question remained: are we going to also reach out to the OLD proposals, previously submitted on the forum?

[2022-03-18 12:28] eduardovegap opened #1261 "Create workflows for TEC and its people"
## 👇🏽  What is this issue about? Give as much detail as you can.

There are 4 keypoints for Gideon's document:

welcoming and orienting
assessing and ushering -> changed potentially to self-assesment.
supporting working groups
supporting overall community development.

We need to develop workflows to achieve this 4 points.

## ✨  What does success look like? (i.e., the criteria to meet to call thi

[2022-03-18 12:30] eduardovegap opened #1262 "Update of Communitas Manifesto"
## 👇🏽  What is this issue about? Give as much detail as you can.

The manifesto has reached a point that it needs update. We are proposing an update based on parts of the document "TEC and it's people".

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. The Manifesto reflects out currently mission and vision.
2. The WG members agree to its content.
3.

## 🧍

[2022-03-18 12:32] eduardovegap opened #1263 "Train new guides."
## 👇🏽  What is this issue about? Give as much detail as you can.

We want to improve the Guide Role. So we will be having one guide in training for the next sprint. Will help with the update of the spreadsheet, as well as the FAQ. Plus we will be having feedback loops every two weeks to share experiences and updates with the other Guides.

## ✨  What does success look like? (i.e., the criteria to

[2022-03-18 14:43] #1153 closed, assigned to iviangita

[2022-03-18 14:43] iviangita commented on #1153
Closing this since the challenger T&Cs are already covered in this [issue](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/246)

[2022-03-18 16:57] tamarandom commented on #1085
Closing....

[2022-03-18 16:57] #1085 closed, assigned to tamarandom, natenatesoo

[2022-03-18 16:58] tamarandom opened #1264 "Draft article from the material for the Getting Stewardship Right talk"
## 👇🏽  What is this issue about? Give as much detail as you can.
This was an ideas @gideonro had. This might be taken on by someone in the writer's guild rather than me but I'm dropping it in here so it stays on my radar for now.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who sh

[2022-03-18 16:59] tamarandom opened #1265 "Handover WGCL responsibilities to Manu"
## 👇🏽  What is this issue about? Give as much detail as you can.
Should take 6-10 hours this Sprint.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

[2022-03-18 17:06] #1027 closed, assigned to natenatesoo

[2022-03-18 17:08] JuankBell commented on #1252
Slides: fork from griff's presentations: https://docs.google.com/presentation/d/15bC2cXJ71dhJYUSaedzuTUxJIF_dRy3kumi90fW-Bys/edit#slide=id.g11995429dad_0_110

![FN01mzrWQAYF7Sz (1).jpeg](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/54805448-41b3-47bf-860d-d6e869b296a9)

[2022-03-18 17:08] #1252 closed, assigned to JuankBell

[2022-03-18 17:08] tamarandom commented on #1215
Forum update here: https://forum.tecommons.org/t/dogfooding-the-proposal-inverter-tec-as-a-payer-funder-sponsor/804/7

Hey @divine-comedian is there any other update you want to add to this issue?

[2022-03-18 17:09] Zeptimus opened #1266 "TEC Recordings"
## 👇🏽  What is this issue about? Give as much detail as you can.
Get TEC Recordings and upload them to youtube following transparency process (10 xdai each call)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable inp

[2022-03-18 17:09] JuankBell commented on #1176
First distribution happened yesterday! great work @Zeptimus - this sprint we will try to match some pending bounties and polish our process for march's distro.

[2022-03-18 17:10] tamarandom commented on #1229
This is the link for the handbook: https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/

[2022-03-18 17:10] natenatesoo commented on #1061
I'm actually looking to pilot this during the upcoming sprint -- moderating a panel on the DAO Proposal Inverter.

[2022-03-18 17:11] #1061 closed, assigned to natenatesoo

[2022-03-18 17:11] JuankBell commented on #863
This will be promoted within the medium article scheduled for end of march.
https://docs.google.com/document/d/1hC3CRWzcljSvHQ7iRQ1g_m8uCrPpRQ6Bdu6Ghw5N_jQ/edit

[2022-03-18 17:14] liviade1 commented on #1224
https://forum.tecommons.org/t/compromised-wallets-with-vested-tec-tokens-how-to-proceed/944

[2022-03-18 17:14] GriffGreen opened #1267 "Lead the creation and cat herding of the Tribute Adjustments Proposals Every 2 weeks"
✅  Are you looking for some way to contribute to TEC?
✅  Want to volunteer and get rewarded with [Praise](https://forum.tecommons.org/t/reward-system-moving-forward/570)?

Welcome! This is an issue that any contributor to pick up so, if you want to contribute to the TEC mission, then you’ve come to the right place.

If you’re not already on our Discord server, now is the best time to join us there

[2022-03-18 17:16] #1224 closed, assigned to liviade1

[2022-03-18 17:18] liviade1 commented on #1206
if we use the rep tokens this won't be needed. we'll have to change to the rep token instead

[2022-03-18 17:18] #1206 closed, assigned to liviade1

[2022-03-18 17:18] #1031 closed, assigned to sembrestels, GriffGreen

[2022-03-18 17:19] JuankBell opened #1268 "Promoting the research group around psychology and mental health"
## 👇🏽  What is this issue about? Give as much detail as you can.
Bianca is leading this initiative as something relevant to Gravity and as something that creates value for TE and the web3 space. Friday calls added to the TEC calendar.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Have regular contributors participating
2. ´Making an in depth research a

[2022-03-18 17:19] #1216 closed, assigned to JuankBell

[2022-03-18 17:20] JuankBell commented on #1256
Moved the development of the article to google docs. Contributors are: @scottbenjd @innov8tor3 @gideonro and @JuankBell  https://docs.google.com/document/d/1hC3CRWzcljSvHQ7iRQ1g_m8uCrPpRQ6Bdu6Ghw5N_jQ/edit

[2022-03-18 17:21] JuankBell commented on #971
Third graviton training to start late April!

[2022-03-18 17:23] tamarandom commented on #1258
Peter opened a proposal for Advice Process on the forum: https://forum.tecommons.org/t/cadcad-community-funding-proposal-ama-session/938

Closing.

[2022-03-18 17:23] #1258 closed, assigned to eduardovegap

[2022-03-18 17:27] natenatesoo opened #1269 "Develop Publishing Selection Criteria"
## 👇🏽  What is this issue about? Give as much detail as you can.
The purpose of this issue is to develop a public document that sets the criteria for TEC Medium Curation which sets standards and expectations around quality of publishing  for the TEC Publication

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Set standards for Publishing Processes for TEC

[2022-03-18 17:28] natenatesoo commented on #950
Progress has been made with the development of the Writers Guild and the Editorial Board.

[2022-03-18 17:31] tamarandom commented on #1254
Next steps:
- @liviade1 and @eduardovegap to sync on accountability + this space for info/debate
- Pick a date, invite proposal sponsors, promote

[2022-03-18 17:34] JuankBell commented on #1150
Passed! funds in multisig! First distribution made yesterday https://gnosis-safe.io/app/gno:0xfFbD35255008F86322051F2313D4b343540e0e00/balances

[2022-03-18 17:34] liviade1 opened #1270 "Add success metric to the CV proposal template"
## 👇🏽  What is this issue about? Give as much detail as you can.
This metric will help the community to make better decisions about proposals and will give us a way to help proposers to be accountable

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. we should add this question to the proposal template "What does success look like? (i.e., the criteria to m

[2022-03-18 17:41] tamarandom commented on #1240
Update: assigned to Enti. ;)

[2022-03-18 17:41] tamarandom commented on #1245
@Zeptimus says close. I close.

[2022-03-18 17:41] #1245 closed, assigned to iviangita

[2022-03-18 17:45] #1150 closed, assigned to JuankBell

[2022-03-18 17:49] liviade1 opened #1271 "set up a call with the Karma team to draft a colab"
## 👇🏽  What is this issue about? Give as much detail as you can.
Karma has a great dashboard with some activity metrics
We want to fork this for the TEC and integrate some of the Ostrom's metrics we discussed in soft gov
https://www.showkarma.xyz/dao/delegates/gitcoin
## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. have a plan on how to start and understa

[2022-03-18 17:52] tamarandom commented on #1268
Looping in @divine-comedian @mount-manu to put on radar of Communitas and share with newcomers to the TEC.

[2022-03-18 17:54] chuygarcia92 commented on #1175
UPDATE:
TE Academy TEAM multisig is already up & running! For the rest of the multisigs we've been bringing Zepti on board as a backup signature that doesn't restrict autonomy to the TEAMs, but supports in case of an emergency and/or risks around the funds.

[2022-03-18 17:57] liviade1 opened #1272 "collab with communitas to create awareness to proposals"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-03-18 17:57] chuygarcia92 commented on #1191
As the Translations TEAM keeps moving forward, we're starting to set up a Mirror profile for international content that can offer sub categories that divide content by languages.

As a supporting action, we would kindly suggest the Medium content authors to add an edit with the available languages for the content.

[2022-03-18 18:08] JuankBell opened #1273 "Boundaries between services provided by Gravity and TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Have a list of projects that provide public goods for token engineering that could be in the scope of gravity while being funded by the TEC?
2. have a letter for projects that are out of scope of the TEC with a disclaimer that the mediations a

[2022-03-18 18:08] liviade1 opened #1274 "update the covenant"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. add period for advice process (5 days unless is urgent?) copy from giveth
2. cv terms
3. graduated sanctions for lack of accountability?

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue

[2022-03-18 18:11] liviade1 commented on #1255
https://idchain.one/begin

[2022-03-18 18:17] tamarandom commented on #1158
@Mertozdal - going to close this unless you object!? Is there anything left to do? I think we've done a good job promoting 0mega. Especially you and @mount-manu

[2022-03-18 18:17] liviade1 opened #1275 "run script to replace quantifiers"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. add a map for how to automate this process
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this

[2022-03-18 18:23] liviade1 opened #1276 "finish setting up params with the reward board"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?
https://fmckl.notion.site/Reward-Boa

[2022-03-18 18:25] liviade1 opened #1277 "Integrate quantification to the onboarding journey"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-03-18 18:26] tamarandom commented on #1212
https://forum.tecommons.org/t/rules-of-praise-and-quantification/667

See "Notes for Quantifiers"

[2022-03-18 18:29] chuygarcia92 commented on #1138
Here's the last draft of the script the Animation TEAM is currently working on @liviade1

[https://app.zenhub.com/files/306706322/b7a38416-77cf-4631-a934-76898f36aaf4/download](https://app.zenhub.com/files/306706322/b7a38416-77cf-4631-a934-76898f36aaf4/download)

[2022-03-18 19:22] PatriciaTEA commented on #1200
hello @tamarandom ! For April I would like to propose that Intro to Token Engineering takes place at April 1st, 3 pm UTC. Is this doable for you? Who would be the TEC Steward to join us? :)

thanks!!

[2022-03-18 20:12] iviangita commented on #1222
Posted on the forum: https://forum.tecommons.org/t/legal-wg-funding-proposal-contingency-fund-and-retroactive-bonus/945

[2022-03-20 21:36] #1207 closed, assigned to Vyvy-vi

[2022-03-20 21:36] Vyvy-vi commented on #1207
The button was added and can be used in the TEC Discord server. Message me or reopen this issue if there are any text changes needed.:+1:

[2022-03-21 10:58] Zeptimus commented on #1266
I have a meeting today 21:30 CET to do an onboarding

[2022-03-21 11:37] kristoferlund commented on #1138
So looking forward to seeing this!

One comment:

last 5 days, during which the
quantifiers will work hard to carry
out this process in the best way.

Working hard is not the message we want to convey here I believe. To the opposite, one of the USPs with the new system compared to the old is that workload is expected to be significantly smaller.

[2022-03-21 11:59] kristoferlund commented on #1275
Replacing quantifiers is not the best of practices. Quant round 3 instead we try assigning 4 quants per praise. If someone drops off that then has less impact on avg praise score. Closing for now.

[2022-03-21 11:59] #1275 closed, assigned to kristoferlund

[2022-03-21 12:02] kristoferlund opened #1278 "Add all SourceCred params to period1 template"
## Details

All SourceCred config details should be added to `params.md` of praise round 1. Not only the node weights etc but also other relevant settings the community might want to change in the future.

https://github.com/CommonsBuild/tec-rewards/blob/main/round-1/params.md

![image](https://user-images.githubusercontent.com/9698363/159258288-e48e6b1b-3885-40fa-addf-a27df6fc47c3.png)

## Open q

[2022-03-21 12:16] kristoferlund opened #1279 "Execute quant round 1 payout"
## Details

The RAD Dashboard produces a distribution file. This distribution file is sent to the Reward Board DAO where board votes to approve payout.

⚠️ Only users who have activated their accounts can receive payouts.

## Open questions

**⁉️⁉️⁉️⁉️ How do we handle payouts to users who activate at a later time?**

## 💭 Who should be part of Advice Process on this issue

## 🔗 The links and docs

[2022-03-21 12:22] kristoferlund opened #1280 "Promote first quant payout"
## Details

When the first quant has been paid out we must let the community (and the world) know!

## Open questions

-

## 💭 Who should be part of Advice Process on this issue

## 🔗 The links and docs related to this issue

[2022-03-21 12:29] kristoferlund opened #1281 "Post first quant analysis to forum"
## Details

After first quant payout we need to make the analysis together with some comments available to the community. A forum post?

- Summarise any insights from the quantifier tweak session
- Add insights from the post quant analysis (the RAD Dashboard)
- Link to the RAD Dashboard
- What else?

## Open questions

-

## Wireframes

## 💭 Who should be part of Advice Process on this issue

## 🔗

[2022-03-21 12:53] kristoferlund opened #1282 "Execute first SourceCred grain distribution"
## Details

- Make a Grain distribution dated July 31 2021
- Export and save data to `sourcecred.csv` in `tec-rewards` repo: https://github.com/CommonsBuild/tec-rewards/blob/main/round-1/sourcecred.csv

## Open questions

## 💭 Who should be part of Advice Process on this issue

## 🔗 The links and docs related to this issue

[2022-03-21 18:48] Zeptimus commented on #1281
Hey Kristofer where can we see the data?

[2022-03-21 21:22] kristoferlund commented on #1281
@Zeptimus, find the RAD Dashboard here: https://github.com/CommonsBuild/tec-rewards

Check in with @0xNuggan for some RAD Dashboard onboarding. But perhaps we'll wait with the analysis until we have the real SourceCred data?

[2022-03-22 16:30] liviade1 commented on #1270
the template is updated

[2022-03-22 16:31] #1270 closed, assigned to liviade1

[2022-03-22 16:32] liviade1 commented on #1271
Sid, Mahesh and I had a great call today! Next step is drafting an advice process post to share what we are thinking - here are the notes  https://docs.google.com/document/d/1D3hbjs0lIEtcFWiBQaJMIe7h1SKgeBBeUHaaj8AwASY/edit

[2022-03-22 16:32] #1271 closed, assigned to liviade1

[2022-03-22 16:55] liviade1 commented on #1247
https://miro.com/app/board/o9J_lYcRTik=/

[2022-03-22 21:33] teresacd11 commented on #827
**What does success look like?**
1.	Having an Agreement with contributors where this is stablished and is fair for both parties.
2.	Having it signed by all current contributors.
3.	Having it updated to new contributors.

**Who should be part of the Advice Process?**
Gravity for conflict resolution, Legal

**Are there links or docs related to this issue?**
https://github.com/CommonsBuild/tec-handbo

[2022-03-22 21:39] teresacd11 commented on #243
This also aligns with the Code of Conduct and could be stablished in the same document as the content ownership one.

[2022-03-22 21:43] teresacd11 commented on #885
A separate legal entity could be stablished, a specialized lawyer could be of use for this matter.
Here is a great article related to this: https://mirror.xyz/fortunata.eth/hZOOn5rrQ3Kyq81iSEKXjUJmN281PBOgJByIn9dveU8

[2022-03-23 08:13] tamarandom commented on #1200
Hi @patriceaTEA! Will ask on today's Stewards' weekly. In general though, I would say whatever day works for you we can make work for us too. So let's lock in April 1 at 3pm UTC.

[2022-03-23 13:28] mateodaza commented on #1282
Here's the tool to get csv from grain and cred

https://observablehq.com/@mateodaza/cred-and-grain-csv-downloader

[2022-03-23 17:17] tamarandom commented on #1106
Hey @chuygarcia92 @Vyvy-vi - someone on the Orientation call just shared that they had a hard time finding out Discord because they used the link on our twitter bio (discord.tecommons.org) which shows this error.

We should fix the twitter bio with urgency until we have a way to fix this.

[2022-03-23 17:21] chuygarcia92 commented on #1106
I'll add a temporary invite link, sorry I hadn't noticed this issue before

[2022-03-23 17:21] Vyvy-vi commented on #1106
Oh wupps
Q) Who could access the DNS config panel for `tecommons.org`?

[2022-03-24 00:25] mount-manu commented on #1201
**Final Update from Zepti:** Done! It's on Snapshot and the community has voted that we shall convert it to WXDAI and send it to the Common Pool.

[2022-03-24 00:30] mount-manu commented on #426
**Update from Zepti:** There hasn't been much traction on this for the past 1-2 months. Perhaps this has fallen between the cracks @iviangita or perhaps it isn't a priority (knowing Ivi, it's probably the latter).

[2022-03-24 00:59] mount-manu commented on #1230
**Update from Zepti:** This epic's description has been expanded upon. Worth noting is the fact that this won't be completed for another 1 or 2 more sprints. A friendly reminder to @st8tikratio to sync with Zepti to give the issues within this epic more structure (as you guys were planning to do).

[2022-03-24 10:21] eduardovegap opened #1283 "Update information about Orientation Call."
## 👇🏽  What is this issue about? Give as much detail as you can.

The time for the orientation call has changed. We need to update it.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Update website
2. Update twitter
3. Update message orientation channel
4. Update community Slides

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who shoul

[2022-03-24 11:00] tamarandom commented on #1105
We'll need a subscription to make the workflows and multiple calendars work. @eduardovegap is working on this now.

[2022-03-24 11:02] tamarandom commented on #1105
Also, we're looking at alternative: https://cal.com/

[2022-03-24 15:07] tamarandom commented on #1106
We need help! @krisjpi @kristoferlund or @geleeroyale.

@Vyvy-vi and I have been looking through the dns configs on namecheap to no avail. I remember there was a hosting situ last time we tried to change this but since there is a CNAME to discord.tecommons.org someone must have found the way to do it. Any of you happen to know how?

[2022-03-24 15:44] mount-manu commented on #1120
**Juanka's Update:** Issue's description has been elaborated upon. We currently have Jeremy and Leen's Liberating Structures and Deep Democracy practice group on Tuesdays, a book club on Thursdays (currently reading a leadership-focused book), and a Web 3-applicable psychology research group on Fridays.

[2022-03-24 15:59] mount-manu commented on #1251
**Juanka's update:** Three calls have been had with VitaDAO's core team members. They've expressed an interest in Gravity's service because they have a case they'd like support with. The discussion to engage for this is ongoing.

[2022-03-24 16:08] mount-manu commented on #722
**Juanka's Update:** We've handled 2-3 cases for Giveth, free of charge, because we're testing our approach and because we're _brother_ communities. Moreover there's people working at Giveth that are active Gravitons (ReForest & bends).

[2022-03-24 16:22] mount-manu commented on #545
**Juanka's updates:** 1Hive approached us to handle a group of people trying to exploit their system, "HONEY farmers" if you will. Conversations have been had but there was no direct application of Gravity's mediation practices. We are expecting this to move forward after we expand Celeste's capabilities with the [unbreakable vows initiative](https://forum.1hive.org/t/unbreakable-vows-private-cont

[2022-03-24 16:27] mount-manu commented on #1249
**Juanka's update:** Aragon is developing a service very similar to Gravity's called [Umbrella](https://forum.aragon.org/t/collective-drafting-the-umbrella-proposal-fostering-an-all-weather-dao/3196) and we are assisting them by sharing our knowledge & empirical findings. Also, Aragon wants Gravity to lead a Graviton training tailored to their DAO's need, 3 months of follow-up assistance after the

[2022-03-24 17:36] mount-manu commented on #863
**Juanka's Update:** Besides pushing for engagement through Medium, Twitter, and our HubSpot biweekly newsletter, we want to organize hack sessions around what Gravity DAO's token engineering model would look like, how we can start configuring our Gardens, and setting up the legal due diligence that would allow us to crowd-fund through a Hatch event. Q3 will be when we elaborate on this and specif

[2022-03-24 17:43] mount-manu commented on #1256
**Juanka's Update:** Work has been done around this but it's mainly just ideas that need to be polished into something tangible. The topics that will be written about are: Gravity's value proposition; current Gravity events and an invitation to the next Graviton training; and the philosophy behind our trust creation and conflict mediation processes. The tentative date for the completion of this is

[2022-03-24 17:48] mount-manu commented on #971
**Juanka's Update:** Issue's name has been changed from "Continuing to deliver..." to "Preparing the Graviton trainings" as we're currently preparing the sessions and the hosts for the Graviton training that is starting in April.

[2022-03-24 17:51] mount-manu commented on #1176
@JuankBell since the first distribution happened 1 week ago, ought we close this issue now?

[2022-03-24 18:14] mount-manu commented on #1274
**Lívia's Update:** @iviangita: a friendly reminder to advance this issue on next week's Legal call 📄  or maybe sync / async with Lívia before if you're feeling bold 😎

[2022-03-24 18:30] mount-manu commented on #1255
**Update from Lívia:** Some collective sensemaking is being done around this right now, to build a consensus before the forum post is written. She estimates it'll be 1 more week before the forum post is live.

[2022-03-24 18:34] mount-manu commented on #1272
@eduardovegap were there any action points sketched out during this week's Soft Gov call, something for us to bring to Communitas and start getting minds & hearts into proposals?

[2022-03-24 20:02] mount-manu commented on #1001
**Vyvy-vi's Update:** This issue did not gain approval so we might as well close it.

[2022-03-24 20:02] #1001 closed, assigned to Vyvy-vi

[2022-03-24 21:24] krisjpi commented on #1106
I just need an invite link to a channel available to the "everyone" role with no expiry and no usage limit. I should be able to use that as the CNAME mapping and avoid the issues we are currently running into.

[2022-03-24 22:18] krisjpi commented on #1106
Update: I've been able to edit the CNAME to the invite link provided on Discord, but because the invite link is case sensitive, it is not getting all the way through to the proper invite. Namecheap defaults all characters to lowercase upon saving, even if they are entered in uppercase.

This is the mapping I used that gets me to Discord, but not to the server:
discord.gg.opts-slash.vapaqcxmwb.redi

[2022-03-28 13:20] iviangita commented on #426
Hey @Zeptimus is it possible to add 2 videos at the end screen?

https://youtu.be/HvWf3aPboPA
https://youtu.be/0qZooSmQbQ4

[2022-03-28 13:27] liviade1 opened #1284 "quantify praise"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-03-28 18:27] tamarandom opened #1285 "Gitbook audit, identify any gaps, dead links, etc."
## 👇🏽  What is this issue about? Give as much detail as you can.

This issue is about updating the following items and sections of the gitbook:

**Onboarding**

- Outdated Call time
- Praise bot link not working
- Add that you can ask for a 1 on 1 call if you can’t attend orientation call
- Discord rules is repeated in Lean More section

**Working Groups**

- T.E.A.M. DAO discord invites not worki

[2022-03-28 18:27] tamarandom opened #1286 "Gitbook audit, identify any gaps, dead links, etc."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-03-28 18:27] tamarandom commented on #1286
Dupe of #1285

[2022-03-28 18:27] #1286 closed, assigned to Costa91

[2022-03-29 09:03] tamarandom commented on #1261
Update from @eduardovegap : https://www.figma.com/file/W1ZXqBFuE0CHEKZmmgIE8V/WorkFlows-for-TEC?node-id=0%3A1

[2022-03-29 16:46] #1284 closed, assigned to liviade1

[2022-03-29 16:47] liviade1 commented on #1272
hey @mount-manu we didn't have time to get to this agenda point last week, but we will today, thanks for checking in

[2022-03-30 16:04] Vyvy-vi commented on #1159
Guides can run that command in the `#bot-setup` channel
(for privacy reasons, only guides can use the command and only in the above channel)

[2022-03-30 16:06] Vyvy-vi commented on #786
I think there's more info and discussion needed, before this issue can be worked upon

[2022-03-30 16:29] liviade1 opened #1287 "improve the marking of duplicates"
## 👇🏽  What is this issue about? Give as much detail as you can.
it's been time consuming and confusing to mark duplicates, how can we standardize the process a little bit more?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. can we have a checkbox to mark multiple duplicates at once?
2. keyword search?
3. adjust praise (on duplicate reference) based on

[2022-03-30 16:43] tamarandom commented on #1241
Hey @thefredo1000! While you are making those updates, there are two small things to update too:

Soft Gov and Steward weekly meetings are trading places.
Stewards will take place on Tuesdays at 7pm CET.
Soft Gov will take place on Wednesdays at 7pm CET.

[2022-03-30 16:46] tamarandom commented on #1287
Hey @liviade1 this should be in the Praise repo not Coordination, right?

https://github.com/CommonsBuild/praise_frontend/issues

[2022-03-30 16:52] liviade1 opened #1288 "automated tool to separate big discrepancies in quantification"
## 👇🏽  What is this issue about? Give as much detail as you can.
@0xNuggan suggested we could have a tool to pull discrepancies in the quantification, i.e one person gave value 5 to the same praise someone gave value 144.
If this was signaled by a tool we would save time and during tweak sessions and have that data available for including in the analysis

## ✨  What does success look like? (i.e.,

[2022-03-30 16:53] tamarandom commented on #786
True. I think we can close it. It should be part of a larger Discourse engagement is we take it on in the future.

[2022-03-30 16:53] #786 closed

[2022-03-30 17:39] tamarandom commented on #1288
@liviade1 this should be in the praise repo no Coordination, right?

[2022-04-01 12:32] iviangita commented on #246
Closing! This is now on [Gitbook ](https://token-engineering-commons.gitbook.io/tec-handbook/voting-templates-and-the-bonding-curve/terms-and-conditions-for-submitting-and-challenging-proposals)

[2022-04-01 12:32] #246 closed

[2022-04-01 14:28] iviangita commented on #1193
Closing this as it's duplicate of this [issue](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/1274)

[2022-04-01 14:28] #1193 closed, assigned to iviangita

[2022-04-01 14:31] liviade1 commented on #1274
https://ipfs.blossom.software/ipfs/QmfLK4DPMUxvbh5N8UkHtk3ZWzdoPpsacfsqhCDqNPHM7i

https://docs.google.com/document/d/1uBhtYLvx5PIGzYoEDa1HYxxmc9W3pPpP_cXxXfn1IgA/edit @iviangita

[2022-04-01 14:37] liviade1 commented on #1274
include a reputation threshold - bellow certain point people would need an escrow to submit proposals.
- what info we need to set that up
graduated sanction -
if you didn't deliver on a proposal you can't submit a new one unless xyz

[2022-04-01 14:46] liviade1 commented on #1274
add that every content produced in the TEC is open source

[2022-04-01 14:55] teresacd11 commented on #827
Here is the draft: https://docs.google.com/document/d/1-K1BalVCcLe9sz8Dl6ASGkdsrWw_eSu8/edit#

[2022-04-01 15:08] iviangita commented on #243
@teresacd11 shared these [Collective Agreements](https://token-engineering-commons.gitbook.io/tec-handbook/tec-agreements-1/collective-agreements) that somehow have the similar content as the [3rd Party Application Standards](https://docs.google.com/document/d/118ZLdlE7DoenME3c_IaZ4SWHqHsUkumA681ZYRNnjBY/edit?usp=sharing)

Can we disregard this then? I think we can keep the document but no need to

[2022-04-01 15:58] Zeptimus commented on #1266
Bear100 will do those, i just dm him to get him on zenhub

[2022-04-01 16:06] #1212 closed, assigned to liviade1

[2022-04-01 16:06] tamarandom commented on #1265
Took even less time. Manu is FAST!

[2022-04-01 16:06] #1265 closed, assigned to tamarandom

[2022-04-01 16:07] Zeptimus opened #1289 "Financial report for next stewards council"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-01 16:10] Zeptimus opened #1290 "Twitter Spaces: Build a transparency panel"
## 👇🏽  What is this issue about? Give as much detail as you can.
Explore how other DAOs are handling transparency and Nate will facilitate a call between Zep and someone from other DAOs (exploring to check with Aragorn or MakerDao)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who

[2022-04-01 16:12] tamarandom opened #1291 "Drafting Quadratic Rank Choice Voting explainer"
## 👇🏽  What is this issue about? Give as much detail as you can.
How does RCV actually work? Does anyone have a simple but accurate way to explain it to our community yet? I've started drafting something and am on the Snapshot discord looking for some specific answers about how we have implemented it there..

If anyone knows how it is actually implemented in Snapshot, please reach out to me!

## ✨

[2022-04-01 16:12] liviade1 opened #1292 "map out data streams for Karma"
## 👇🏽  What is this issue about? Give as much detail as you can.
look at the miro board with the metrics for ostrom principles and divide them in 3 categories of data.
1 - We already have this data being collected

2- we don't have but it can be done.

3 - We don’t know how to collect data about this.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

[2022-04-01 16:14] tamarandom opened #1293 "Move to Dework for monthly distribution / bounties for Communitas"
## 👇🏽  What is this issue about? Give as much detail as you can.
@chuygarcia92 accumulated a ton of learnings about using dework.
Consult with him and evaluate / plan to move Communitas distribution and open bounties for Communitas.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who

[2022-04-01 16:22] tamarandom commented on #1215
@divine-comedian closing this issue since the proposal is live on Gardens.

[2022-04-01 16:22] #1215 closed, assigned to divine-comedian

[2022-04-01 16:23] tamarandom commented on #1260
Thank you @cranders1! Closing this issue.

[2022-04-01 16:23] #1260 closed, assigned to cranders1

[2022-04-01 16:23] tamarandom commented on #1201
Closing.

[2022-04-01 16:23] #1201 closed, assigned to Zeptimus

[2022-04-01 16:23] JuankBell opened #1294 "Gravity @ devconnect!"
## 👇🏽  What is this issue about? Give as much detail as you can.
I will be going to EthAmsterdam and want to schill Gravity, also taking into account that the graviton training will start on the 26th of April.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Presenting Gravity and having contact with people interested and supporting.
2.  Having new people

[2022-04-01 16:25] tamarandom commented on #1151
Update: We will release it! Some minor glitches that we will live with rather than wait longer.

[2022-04-01 16:25] liviade1 opened #1295 "debrief wg funding discussion"
## 👇🏽  What is this issue about? Give as much detail as you can.
Many points opened from the last few meetings on this - this week I'll meet with Gideon to explore an action plan.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. describe possible routes
2. understand feasibility of each one
3.  draft a proposal?

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the A

[2022-04-01 16:31] eduardovegap commented on #1283
done

[2022-04-01 16:31] #1283 closed, assigned to eduardovegap

[2022-04-01 16:32] eduardovegap commented on #1263
Costa has started doing work for Guides for the past two weeks: updating the spreadsheet, researching for FAQ document and the gitbook update.

@Costa91 will start the second part of training by welcoming newcomers.

[2022-04-01 16:33] eduardovegap opened #1296 "Coordination with TEA"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Onboarding
2. Presenting TEC
3. Workshop for TEC?

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this

[2022-04-01 16:34] eduardovegap commented on #1261
Latest iteration: https://www.figma.com/file/rr2EaII46SP5YOnWzM9tVQ/TEC-Engagement-Processes?node-id=0%3A1

[2022-04-01 16:35] eduardovegap commented on #1254
Agreed with @GriffGreen to host it every two weeks, waiting for his agenda to match a time we can do it.

[2022-04-01 16:35] eduardovegap commented on #1235
Bends requested help with this.

[2022-04-01 16:36] liviade1 commented on #1281
I think it would still be interesting to have the praise ones there -- @0xNuggan what you think? is there someone that could help you posting the first analysis to the forum?

[2022-04-01 16:36] eduardovegap commented on #1243
This has been accomplished.

[2022-04-01 16:36] #1243 closed, assigned to eduardovegap

[2022-04-01 16:39] eduardovegap commented on #1105
We explored also Hubspot, but it's too expensive. It charges per user calendar. So my suggestion is to stick to calendly and paid it.

[2022-04-01 16:45] tamarandom opened #1297 "Retro action: Start talking about ---> Just like we have Active Gravitons, we ought to have active TEs for projects looking for consulting (AND we ask that their fee is paid in TEC)"
## 👇🏽  What is this issue about? Give as much detail as you can.
This is a big piece of work to take on. There were some ideas about smaller steps we can take in this direction.

Funnel from TEA into monthly sessions into the TEC
Twitter spaces with Token Engineers
Assign or self-assign "roles" based on the crypto-economic flower to know who to reach out to for advice process
Facilitate match maki

[2022-04-01 16:48] liviade1 opened #1298 "draft reputation system"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. snapshot governance
2. cv accountability
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue

[2022-04-01 16:52] tamarandom opened #1299 "Retro action: Plan for higher outreach for educational events"
## 👇🏽  What is this issue about? Give as much detail as you can.
Get the word out! Promote in other communities. Promote in Orientation.

Gravity training (starts April 26)
Gravity sessions / book club
Labs discord bot army
Gardens Q&A for proposals sessions
etc...

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part o

[2022-04-01 16:54] liviade1 commented on #1157
I added Nate as an editor

[2022-04-01 16:55] liviade1 commented on #1273
I created another issue for the bigger discussion - we should still decide what boundaries to bring to Gravity

[2022-04-01 16:58] tamarandom commented on #1235
![Screen Shot 2022-04-01 at 6.58.02 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/603e4f0a-f6d3-4ced-bc33-bd26645738ae)

[2022-04-01 17:05] tamarandom commented on #1277
Update: add this as some step as part of the onboarding journey.

[2022-04-01 17:05] cranders1 commented on #1260
always a pleasure @tamarandom

[2022-04-01 17:06] chuygarcia92 commented on #1175
## UPDATE
Current status of the different TEAMs and their Deworks/Multisigs:

| T.E.A.M. | Dework | Gnosis Safe |
| -------- | -------- | -------- |
| TE Academy     | Ready     | Ready     |
| Twitter Planning     | Ready     | Funds in place     |
| Translations     | Ready    | Funds in place   |
| Marketing     | In progress    | Stand-by   |
| Animation     | In progress    | To be reviewed b

[2022-04-01 17:17] tamarandom commented on #1222
On gardens! Closing this issue.

[2022-04-01 17:17] #1222 closed, assigned to iviangita

[2022-04-01 17:24] liviade1 commented on #1292
https://www.showkarma.xyz/dao/delegates/gitcoin

[2022-04-01 17:24] chuygarcia92 opened #1300 "Support communications for the quantification process"
## 👇🏽  What is this issue about? Give as much detail as you can.
Provide communications for the different parameters used in the Rewards System distributions

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Transparency around distributions of $TEC
2. Provide more insight into how our Rewards System works
3. Familiarize and attract new quantifiers to the

[2022-04-01 17:29] chuygarcia92 opened #1301 "Telegram community security improvements"
## 👇🏽  What is this issue about? Give as much detail as you can.
We've been having a growing presence of scammers in the Telegram group we need to address, since it's a factor that puts our community at risk

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. A bot operates the flamethrower now
2. Scammers are instantly banned from the group and their messag

[2022-04-01 17:35] Zeptimus opened #1302 "Wireframes for the ABC Stats page"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-01 17:35] chuygarcia92 opened #1303 "Bring meme parties back!"
## 👇🏽  What is this issue about? Give as much detail as you can.
The meme parties have provided a lot of valuable content as the TEC has moved forward. These events foster collective creativity among the community members and generates updated content that is very efficient for spreading a message. There needs to be an effort to bring them back and attract contributors to participate.

## ✨  What

[2022-04-01 17:36] chuygarcia92 commented on #1301
next step is requesting @GriffGreen to give miss rose admin access in the TG group

[2022-04-01 23:20] 0xNuggan commented on #1281
@Zeptimus , @chuygarcia92  and I are on it!

[2022-04-05 01:07] GriffGreen commented on #1254
Sorted out a time for this week but it's on Friday which is kind of lame for the party people in europe... so then we will move it to right before soft gov every other week.

[2022-04-05 01:17] GriffGreen commented on #1301
Done!

[2022-04-05 14:41] gideonro commented on #1164
@mount-manu, please ping me if you are still at all interested in writing this. Great story idea.

[2022-04-06 19:00] tamarandom commented on #1105
Another possibility: https://savvycal.com/pricing/

[2022-04-06 19:01] tamarandom commented on #1165
Hey @mount-manu - I pulled this from the doc we used to create the you tube video descriptions which was, I believe, also what we also used for the website, if it helps for the WG article: https://docs.google.com/document/d/1S8BkakHNifi-pMdzWJIaw5EV9sD444-c3Ndy4RFl5nY/edit

[2022-04-07 20:32] gideonro commented on #1241
Piling on with 2 more quick fixes to the website @thefredo1000
On the https://tecommons.org/join page, the Handbook link points to the TEC Source but should point here:
https://token-engineering-commons.gitbook.io/tec-handbook/
Also the Medium link points to our TEC profile, but it should point to our publication, which is here:
https://medium.com/token-engineering-commons

See image
![Screen Shot

[2022-04-12 06:05] mount-manu commented on #780
@tamarandom I'm already doing this with the Stewards I sync with so I've assigned myself—didn't want to unassign you though but feel free to.

[2022-04-12 07:13] mount-manu commented on #1274
**Update from @iviangita :** CV terms will be done this week and then linked into this issue so that they can be incorporated into the covenant.

(I've also shared a resource with Lívia that might help unblock the graduated sanctions part of this issue, assuming that's still causing friction).

[2022-04-12 07:20] mount-manu commented on #243
Although this is not critical, we might want to take advantage of our two new champions @teresacd11 and @Boonjue to move this forward, if only slightly. What do you guys think?

[2022-04-12 07:23] mount-manu commented on #1231
**Update from Ivi:** This is still in progress but here's what we've got so far:
https://docs.google.com/document/d/1z2TDCnHKYyiFTvwueBxnt9BC4AYRI504YyduIj19-Go/edit?usp=sharing

[2022-04-12 07:45] mount-manu commented on #1262
**Update from Gideon:** We're currently elaborating on the progress presented today in the [TEC Engagement Processes Figma file](https://www.figma.com/file/rr2EaII46SP5YOnWzM9tVQ/TEC-Engagement-Processes?node-id=103%3A358). When we're done, we'll update the manifesto accordingly.

[2022-04-12 07:46] mount-manu commented on #1261
**Update from Edu:** We're currently elaborating on the progress presented today in the [TEC Engagement Processes Figma file](https://www.figma.com/file/rr2EaII46SP5YOnWzM9tVQ/TEC-Engagement-Processes?node-id=103%3A358). When done, the workflows will have been structured accordingly.

[2022-04-12 08:05] mount-manu opened #1304 "How to Guide in the TEC (process they do, trackers, measuring)"
## 👇🏽  What is this issue about? Give as much detail as you can.
This is the sequel to the [Train new guides](https://app.zenhub.com/workspaces/tec-coordination-workspace-.5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/1263) issue

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (P

[2022-04-12 08:18] mount-manu commented on #1263
**Edu's Update:** This issue's done but we've opened a new one titled [Update new guides](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/1304) for us to keep _honing_ the orientation process or rather the proxy between newcomers and the Commons: guides. The distinction is akin to learning how to ride a bike vs riding a bike wi

[2022-04-12 08:24] mount-manu commented on #1263
**Edu's Update:** This issue's done but we've opened a new one titled [Update new guides.](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/1304) The new issue's purpose is to _hone_ our onboarding guides' competence since they are the proxy between newcomers and our Commons. The distinction between this closed issue and the new

[2022-04-12 15:57] bearhub100 commented on #1266
bearhub100

[2022-04-12 17:38] chuygarcia92 commented on #1220
### UPDATE
we had a Twitter space for the Proposal Inverter: https://twitter.com/i/spaces/1mrGmaZoWzkGy?s=20

Note: this audio will be saved by twitter for 30 days, we'll have a backup and re-upload to our youtube channel

[2022-04-13 19:06] Zeptimus opened #1305 "Transparency audit - Stewards milestones"
## 👇🏽  What is this issue about? Give as much detail as you can.

Review stewards milestones in the audit
## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this iss

[2022-04-13 19:11] JuankBell commented on #1256
https://medium.com/p/3afa66e43707

[2022-04-13 19:11] #1256 closed, assigned to JuankBell

[2022-04-13 19:11] #863 closed

[2022-04-13 19:28] JuankBell opened #1306 "Gravity - Gitcoin Outreach"
## 👇🏽  What is this issue about? Give as much detail as you can.
We are supporting Conflict management in diverse communities and along that stretching good relationships with them. Loie is leading the conflict management efforts in Gitcoin and we have had some calls with them to share ideas, thinking on

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. In

[2022-04-14 01:46] thefredo1000 commented on #1229
I though I made this change but I only pushed the changes to my fork, the changes to the official repo are in [this PR](https://github.com/CommonsBuild/tec-web/pull/41).

[2022-04-14 01:49] thefredo1000 commented on #1241
[This PR](https://github.com/CommonsBuild/tec-web/pull/41) has the changes, it's now live.

[2022-04-14 14:35] mount-manu commented on #1294
**Juanka's Update:** No space booked yet but currently in talks with Skylar from Ethereum Foundation to invite all the speakers involved so as to talk about the topics that'll be discussed in the conference. Also: Angela Kreitenweis has opened the doors for TE Academy to assist in providing a platform through which to reach out to potential speakers within our community.

[2022-04-14 14:44] mount-manu commented on #1249
**Juanka's update:** All points out to Aragon being ready to transfer the funds to us (6,000 DAI), in exchange for the consulting service we'll be providing to them regarding a white-labeling of Gravity for their DAO. The funds received will be converted to $TEC with the help of the Transparency WG. Juanka will be leading the charge in this 1st stage of consulting; we expect the funds to hit our w

[2022-04-14 14:51] mount-manu commented on #1306
**Juanka's Update:** Yesterday we held a meeting with Gitcoin; Loie is the liaison with them. The relationship will not be one of mentorship ([like what we'll have with Aragon](https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/1249)) but rather one of equal peers exchanging expertise. They already have experts leading this confli

[2022-04-14 14:55] mount-manu commented on #971
Here's the [3rd Graviton Training Study Plan](https://docs.google.com/document/d/1-6RvENG8Gggr8CwXZSZ9bFJYR1WdyeGYMq3ONzzXwpQ/edit). **Kickoff has been moved from April 26th to May 3rd.**

[2022-04-14 17:16] tamarandom commented on #1225
Bear has been killing it! Closing this!

[2022-04-14 17:16] #1225 closed, assigned to tamarandom

[2022-04-14 17:17] tamarandom commented on #1227
@eduardovegap completed for this month!

[2022-04-14 17:19] tamarandom commented on #1036
Hey @Zeptimus - is this one of the calls that Bear is taking on?

[2022-04-14 17:23] tamarandom opened #1307 "Retro action: Finance focused squad or WG. How to get started?"
## 👇🏽  What is this issue about? Give as much detail as you can.

We can just start with a weekly meeting! We need a champion to coordinate (find time, invite the folk, set the agenda, facilitate the call).

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about

[2022-04-14 17:25] Zeptimus commented on #1036
Hey tam, no i could ask him. Did the orientation call changed format again so we get a couple of them or we just want to get them all as normal syncs?

[2022-04-14 17:27] tamarandom opened #1308 "Retro action: Add expected milestones to proposal template so that it can be used in the audit."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-14 21:54] mount-manu commented on #1268
**Update from @BiancaGadelha:** In the psychology research group we are looking for wats of implement psychology in web 3. We’ve been discussing our goals and gathering information about resources and people who want to contribute to the team. Our intention is to search for articles that talk about mental health in the work space, implementing psychology on organization, remote work, burnout, slee

[2022-04-15 03:52] Boonjue commented on #243
We can talk about this during tomorrow's call.

[2022-04-15 05:47] tamarandom commented on #1036
Same format. What do you think @eduardovegap? Should we record each one as a weekly call or stop recording them now that we have a handful of the new format?

[2022-04-15 05:48] tamarandom commented on #1209
Closing!

[2022-04-15 05:48] #1209 closed, assigned to tamarandom

[2022-04-15 05:49] tamarandom commented on #221
Hey @mount-manu, passing this one over to you!

[2022-04-15 05:51] tamarandom opened #1309 "Finish setup of dework for Steward distribution"
## 👇🏽  What is this issue about? Give as much detail as you can.
@Zeptimus got the ball rolling on this. Just a few tweaks to make but we plan to test out dework for the April monthly distribution.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this iss

[2022-04-15 05:53] mount-manu commented on #221
Yes ma'am, [I want it that way](https://www.youtube.com/watch?v=4fndeDfaWCg)

[2022-04-15 09:52] tamarandom opened #1310 "Communitas WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
We are at the end of 3 month and we still have project runway through end of May.

Will need to propose a new WG budget in May to cover the next 3 (or 6) months.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who shoul

[2022-04-15 13:24] mount-manu commented on #1191
**Chuy's Update:** This issue is a function of the Translations T.E.A.M., for which a Gravity case was opened recently. However, the misunderstanding has been resolved and this issue is expected to be unblocked soon as the obstacles have been removed and solutions are in the process of being applied.

[2022-04-15 13:52] mount-manu commented on #1241
I was lagging on this issue but @thefredo1000 took the initiative and brought it home.

[2022-04-15 13:52] #1241 closed, assigned to thefredo1000

[2022-04-15 14:25] mount-manu commented on #813
[Our Marketing proposal is live on Gardens](https://gardens.1hive.org/#/xdai/garden/0x1fc7e8d8e4bbbef77a4d035aec189373b52125a8/proposal/18) and, with its current support, it's expected to pass in 17 days. While it passes, I'll develop a plan on how we intend to use those funds for our DAO's marketing efforts.

[2022-04-15 14:27] mount-manu commented on #946
The engineer who was working with me on this had to take care of his father, which became ill, and so this issue is currently on hold.

[2022-04-15 14:31] mount-manu commented on #1183
Our 1st biweekly newsletter went out last week and the 2nd will be sent out on the 20th of this month.

[2022-04-15 14:34] tamarandom opened #1311 "Conferences in Amsterdam"
## 👇🏽  What is this issue about? Give as much detail as you can.
Daoist, Schilling Point, DevConnect and EthAmsterdam (managed to get access to the last one by volunteering for 2 x 6 hour shifts 😂 ) in Amsterdam from April 18 - 25.

This Sprint I will be very low profile online in order to be very high profile irl.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue

[2022-04-15 14:49] tamarandom commented on #780
Woot!

[2022-04-15 16:11] tamarandom commented on #1105
Done. We just need to publish it so people know about it!

[2022-04-15 16:11] divine-comedian commented on #1279
waiting for finalization and publication of reward system parameters

[2022-04-15 16:12] tamarandom commented on #1184
We should try to get this done this Sprint. There aren't too many.

[2022-04-15 16:13] liviade1 commented on #1292
Bends has started this sheet https://docs.google.com/spreadsheets/d/1jAXe4MhOm6cdL-yjgpk_wUkEGZPCAvpJ-lyp1eLBX4o/edit#gid=0

We are also working on this miro board https://miro.com/app/board/o9J_lYcRTik=/

[2022-04-15 16:13] liviade1 commented on #1295
@Mertozdal and @bearhub100 offered to help here

[2022-04-15 16:17] liviade1 commented on #1274
added new period for advice process to the poly gov post that is linked in the covenant

[2022-04-15 16:17] liviade1 commented on #1274
added new period for advice process to the poly gov post that is linked in the covenant https://forum.tecommons.org/t/tec-polycentric-governance-framework/717

[2022-04-15 16:23] liviade1 opened #1312 "Governance token engineering guild kickoff"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.https://docs.google.com/document/d/14rS0rXBUUkromMON7vZfS-RLtWoGzMwJEqx2zxBuIiQ/edit
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗

[2022-04-15 16:28] mount-manu commented on #1295
@Mertozdal Would you like to take this on fully and be assigned to it?

[2022-04-15 16:33] Mertozdal commented on #1295
I would love to, my only blocker is for two weeks my bandwidth would be very limited. But, after that, I will have the necessary bandwidth!

[2022-04-15 16:33] tamarandom commented on #1273
Update: keeping this open so that we can reach a conclusion and communicate it to the community. @JuankBell and @liviade1 are collaborating on this issue.

[2022-04-15 16:37] tamarandom commented on #1272
Update: the piece of work here is to brainstorm ideas of how to get the community more involved / be more informed about proposals. One idea that was raised: set aside a weekly time for debate about proposals on the forum or in CV. Others?

[2022-04-15 16:41] mount-manu commented on #1131
Vy says it's done, I done close it.

[2022-04-15 16:41] #1131 closed, assigned to Vyvy-vi

[2022-04-15 16:47] mount-manu opened #1313 "Have baby"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-15 16:53] mount-manu commented on #1295
It's on then, we'll just put it under 'Next Sprint'. Thanks, brother!

[2022-04-15 16:57] tamarandom commented on #950
Closing this! It's def in good hands with @gideonro and @natenatesoo

[2022-04-15 16:57] #950 closed, assigned to natenatesoo

[2022-04-15 16:59] tamarandom commented on #434
Closing.

[2022-04-15 16:59] #434 closed

[2022-04-15 16:59] tamarandom commented on #453
Closing.

[2022-04-15 16:59] #453 closed

[2022-04-15 16:59] tamarandom commented on #1022
Closing.

[2022-04-15 16:59] #1022 closed, assigned to nobody

[2022-04-15 16:59] tamarandom commented on #296
Closing.

[2022-04-15 16:59] #296 closed

[2022-04-15 17:00] eduardovegap opened #1314 "Outreach for praise activation"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Design a message.
2. Outreach to 213 unactivated users.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs relate

[2022-04-15 17:00] mount-manu commented on #1296
**Update by Edu:** We did the onboarding with Angela K., and now the ball's on @liviade1 court but we'll keep this open so as to continue collaborating with TEA and giving them a spotlight during our Orientation call and Communitas sync.

[2022-04-15 20:41] kristoferlund commented on #1131
Is it though @Vyvy-vi? Wouldn't it be good to change wording? I don't think we should talk about pollen etc.

If we are going to use SC at all.

<img width="580" alt="image" src="https://user-images.githubusercontent.com/9698363/163630104-7dac2ffb-6775-4512-bbb0-f856265dfac0.png">

[2022-04-16 04:03] Vyvy-vi commented on #1131
There's a PR I opened a while ago for adding this to our fork of the pollen-bot

[2022-04-22 15:45] GriffGreen opened #1315 "Create a project on Giveth for fundraising with the LASER TAG address"
## 👇🏽  What is this issue about? Give as much detail as you can.
We should fundraise on Giveth!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀

[2022-04-22 16:27] teresacd11 commented on #827
Pending for final review in case someone has any other notes + implementation in Discord and Covenant. @iviangita
Notes where added by @Boonjue and reviewed.

[2022-04-25 14:24] mount-manu commented on #1304
**Update from Edu:** This has to do with keeping the onboarding process up to date with the latest developments in our Commons. A relevant example of this would be incorporating the [TEC Engagement Figma file](https://www.figma.com/file/rr2EaII46SP5YOnWzM9tVQ/TEC-Engagement-Processes?node-id=103%3A358) into the process, somehow, so as to make onboarding more holistic and not a one-off type of thin

[2022-04-25 14:29] mount-manu commented on #1303
**Update from Chuy:** At the time of writing, meme parties have been active for 2 Fridays now (and shall continue to happen for the foreseeable future).

[2022-04-25 15:48] eenti opened #1316 "Dune widgets not complying to start and end dates."
## 👇🏽  What is this issue about? Give as much detail as you can.
Some widgets from the TEC Dune Board aren't showing the correct information when using the date filter.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valua

[2022-04-28 16:08] iviangita commented on #827
Thanks @teresacd11! I reviewed the document and I have no additional changes. I'm trying to find the Discord message that people sign when they join the server so we can integrate this document there. I'll give updates once I have it. Aside from Discord, we can also add this agreement to Gitbook.

[2022-04-28 17:02] tamarandom commented on #1313
Well done, @natenatesoo !!!!

[2022-04-28 17:02] #1313 closed, assigned to natenatesoo

[2022-04-28 17:03] tamarandom commented on #1311
Was a trip. Best part is connecting with so much TEC fam on the ground there.

[2022-04-28 17:03] #1311 closed, assigned to tamarandom

[2022-04-28 17:04] tamarandom commented on #1305
Missed the window to add updates to the audit before it closed. Closing.

[2022-04-28 17:04] #1305 closed, assigned to tamarandom

[2022-04-28 17:05] tamarandom commented on #1036
Closing and removing the #repeating tag. If we want to record future orientation, we'll have to request again from Transparency WG.

[2022-04-28 17:05] #1036 closed, assigned to tamarandom

[2022-04-28 17:52] Costa91 opened #1317 "Gitbook Editing Permission"
## 👇🏽  I have been editing the Gitbook but the changes aren't being accepted and I can't find the way through the app to accept them myself.

## ✨  What does success look like?
1. Changes accepted by someone with the perms to do it or
2. Perms given to accept them

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuabl

[2022-04-28 18:16] tamarandom commented on #1317
I tried to help here, @natenatesoo, but am not able to see how I can approve the merges "in review" status!

[2022-04-29 14:07] Zeptimus commented on #1266
done, praise bear!

[2022-04-29 14:51] mount-manu commented on #1151
Success! Here are the fruits of @chuygarcia92's labor: https://www.youtube.com/watch?v=fXwnWCc2hL8.

[2022-04-29 14:56] tamarandom opened #1318 "Stewards WG funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
We will need to submit another funding proposal for the Stewards WG (the 3 months of funding end this month!)
This is a good opportunity to rethink the compensation for the Stewards WG.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Think and advice process different models than the one we

[2022-04-29 15:05] Zeptimus commented on #1088
Praise Ratio for doing it until now, Enti will take care of it now

[2022-04-29 15:06] Zeptimus commented on #1302
Working on the wireframe

[2022-04-29 15:08] Zeptimus commented on #1300
We just had a work session with @0xNuggan progress can be seen here: https://docs.google.com/document/d/1D0yM96fT9jgSQyQ1H5x9ytgnGGMXsepeOg7GgxAWoFw/edit

[2022-04-29 15:10] Zeptimus commented on #1237
done https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:10] #1237 closed, assigned to Zeptimus

[2022-04-29 15:11] Zeptimus commented on #1289
done

[2022-04-29 15:11] #1289 closed, assigned to Zeptimus

[2022-04-29 15:11] Zeptimus commented on #1233
done https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:11] #1233 closed, assigned to st8tikratio

[2022-04-29 15:11] Zeptimus commented on #1231
done https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:11] #1231 closed, assigned to iviangita

[2022-04-29 15:11] Zeptimus commented on #1232
done https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:11] #1232 closed, assigned to st8tikratio

[2022-04-29 15:11] Zeptimus commented on #1232
done https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:11] Zeptimus commented on #1240
done https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:11] #1240 closed, assigned to Zeptimus

[2022-04-29 15:11] Zeptimus commented on #1238
done https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:11] #1238 closed, assigned to Zeptimus

[2022-04-29 15:12] Zeptimus commented on #1239
done https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:12] #1239 closed, assigned to eenti

[2022-04-29 15:12] Zeptimus commented on #1230
epic closed :D https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-'22?node-id=219%3A339&scaling=min-zoom&page-id=0%3A1

[2022-04-29 15:12] #1230 closed, assigned to Zeptimus, iviangita

[2022-04-29 16:02] tamarandom opened #1319 "Apply to speak to all the upcoming conferences"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-29 16:05] tamarandom commented on #1229
Looks like that PR is merged so will close this now.

[2022-04-29 16:05] #1229 closed, assigned to thefredo1000

[2022-04-29 16:06] Zeptimus opened #1320 "Search for typos in the audit"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-29 16:07] #1312 closed, assigned to liviade1

[2022-04-29 16:09] tamarandom opened #1321 "Retro action Sprint 33: start preparing for eth barcelona, ethcc & eth mexico - have someone to organize a plan?"
## 👇🏽  What is this issue about? Give as much detail as you can.
What can this look like?

We can follow this in the Stewards weekly unless there is someone that wants to take the lead??

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those w

[2022-04-29 16:09] JuankBell commented on #1268
We will try to iterate on the DAO Health Survey made by talentDAO and apply it to our community to identify patterns and measure impact of actions based on the insights gathered from the data.

https://mirror.xyz/k3nn.eth/1rT8KGt6wHzC03UQphG-upuW8HqRX6bP9YfFTtijl0Y

[2022-04-29 16:12] liviade1 commented on #1272
conversation spinned to async work management https://hackmd.io/@lPFQ61eAQAap3vUN520DPw/SkR2rg04q

[2022-04-29 16:13] liviade1 commented on #1253
https://forum.tecommons.org/t/rules-of-praise/667
forum post updated + edu outreach efforts

[2022-04-29 16:13] #1253 closed, assigned to liviade1, Vyvy-vi

[2022-04-29 16:14] tamarandom commented on #1151
Closing!

[2022-04-29 16:14] #1151 closed, assigned to chuygarcia92

[2022-04-29 16:14] JuankBell commented on #1294
https://thinkingthursdays.substack.com/p/potential-in-the-ebb-and-the-flaw?s=w

![https___bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com_public_images_6b5e9286-064f-4b65-899a-f037193a6c8a_4032x3024.webp](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/0afb6bb6-9144-4c5c-9a10-1471962d0823)

![FRCASAwX0AIL5LH.jpeg](https://images.zenhubusercontent.com/5fb57c9c5472cf79e

[2022-04-29 16:15] liviade1 commented on #1171
https://forum.tecommons.org/t/measuring-tec-s-ecosystem-health/991
forum post shared for advice process

[2022-04-29 16:15] #1171 closed, assigned to liviade1

[2022-04-29 16:15] liviade1 commented on #1247
https://miro.com/app/board/o9J_lYcRTik=/

[2022-04-29 16:15] #1247 closed, assigned to liviade1

[2022-04-29 16:16] #18 closed

[2022-04-29 16:19] liviade1 opened #1322 "support financial wg organization"
## 👇🏽  What is this issue about? Give as much detail as you can.

https://docs.google.com/spreadsheets/d/1_fOUtuWoGH3mL_yKosOUFjUVULWhTKMzI-q1lKnwQE8/edit?usp=sharing

https://docs.google.com/document/d/1p-fUvWldkJKNRcwru6hY0UwvVFHLY24JqhHQhXI4TDo/edit

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice

[2022-04-29 16:20] JuankBell commented on #1249
We are starting our interactions with the Aragon community! we had an AMA last week and are bringing support to the tuesdays calls they are having in their discord.

 Already received 3.000 DAI on our multisig, 25% of the total funds.

They will be participating in the graviton training and will receive tailored practice groups.

https://www.notion.so/Umbrella-Initiative-68067593358646dda449808539

[2022-04-29 16:23] liviade1 opened #1323 "plan and have a roadmap for the ecosystem health development"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-29 16:26] #1294 closed, assigned to JuankBell

[2022-04-29 16:41] #1113 closed, assigned to divine-comedian

[2022-04-29 16:42] #934 closed, assigned to divine-comedian

[2022-04-29 16:46] #1015 closed, assigned to nobody

[2022-04-29 16:47] #936 closed, assigned to nobody

[2022-04-29 16:50] JuankBell opened #1324 "Website for Gravity"
## 👇🏽  What is this issue about? Give as much detail as you can.
We would like to have our own public page for Gravity, where we can have all our documentation, promote the graviton trainings, promote exclusive content and ease contact for services (conflict management cases or developing organizational gravity) and other revenue streams.

## ✨  What does success look like? (i.e., the criteria to

[2022-04-29 16:57] mount-manu commented on #1105
Completed! This is the Calendly link we'll be using: https://calendly.com/tecguides

[2022-04-29 16:57] #1105 closed, assigned to eduardovegap

[2022-04-29 16:58] tamarandom commented on #1314
Update: @eduardovegap and @Costa91 are killing it!

[2022-04-29 17:09] tamarandom commented on #1254
Update: Will launch next Friday at 6pm CET!

[2022-04-29 17:11] tamarandom opened #1325 "Advice process for Member Experience"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-29 17:12] tamarandom opened #1326 "Proposal for the Trivia night"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-04-29 17:13] mount-manu commented on #1301
Rose has got this so we close.

[2022-04-29 17:13] #1301 closed, assigned to chuygarcia92

[2022-04-29 17:16] tamarandom commented on #1316
@Zeptimus says done!

[2022-04-29 17:16] #1316 closed, assigned to nobody

[2022-05-03 09:24] tamarandom commented on #1262
Hey @gideonro - I accepted the edits and @eduardovegap and I updated the rest. If you are happy with the final result, please feel free to close this issue!!

https://docs.google.com/document/d/1g9vycoqIZkg83KyRM-7wMeCN-QxZTSfO-Ofq8o7U9pQ/edit#

[2022-05-03 11:45] tamarandom commented on #1309
Not going to move to dework for this. The CSV in gnosis safe is very easy and requires minimal overhead.

[2022-05-03 11:45] #1309 closed, assigned to tamarandom

[2022-05-03 11:47] tamarandom opened #1327 "Monthly compensation distribution for Communitas"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-04 19:19] gideonro commented on #1262
Just updated the doc, per conversation w/ Tam, to reflect the top-level info in the summary page from our collaborations in Figma. Just needs to be reviewed by @tamarandom and @eduardovegap.

[2022-05-04 20:43] mount-manu opened #1328 "Praise Transcribing for Newcomers"
## 👇🏽  What is this issue about? Give as much detail as you can.
Teaching new contributors about the Praise transcription process so that they can dish our Community Call's praise while we phase out or iterate on the Praise Transcription task.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. There's a constant influx of new contributors learning how trans

[2022-05-05 06:11] clara-zi opened #1329 "New project sign-up. Interview and record project owner's platform sign-up problems."

[2022-05-05 07:49] tamarandom commented on #1262
It looks a lot cleaner and easier to read this way. They all look good to me! @eduardovegap I'm going to close this now but please have a look too!

[2022-05-05 07:49] #1262 closed, assigned to gideonro

[2022-05-05 09:20] tamarandom commented on #1329
Hi @clara-zi

Can you please give some more context? Is this a piece of work you are recommending for TEC?

[2022-05-05 10:16] tamarandom commented on #1200
This deck is really out of date. @eduardovegap @natenatesoo or anyone have a better one for @JuankBell to use today? https://docs.google.com/presentation/d/1itLeveA9vXmaN9hXVVELZ_i4oFklr8RZpSxE1E1Vhqc/edit#slide=id.g1090e4ecc01_0_93

[2022-05-05 11:19] clara-zi commented on #1329
Hi,

I’m really sorry. This issue has been posted in the wrong place (I didn’t even know I had access to TEC github). Please remove/close.

thanks

From: tamarandom ***@***.***>
Sent: 05 May 2022 12:21
To: CommonsBuild/coordination ***@***.***>
Cc: clara-zi ***@***.***>; Mention ***@***.***>
Subject: Re: [CommonsBuild/coordination] New project sign-up. Interview and record project owner's platform

[2022-05-05 23:35] mount-manu commented on #1175
Chuy is telling me this is done so I'm closing.

[2022-05-05 23:35] #1175 closed, assigned to chuygarcia92

[2022-05-05 23:37] mount-manu commented on #1218
We've sent this through our bi-weekly newsletter and we also gave it some Twitter exposure so we can consider this done.

[2022-05-05 23:37] #1218 closed, assigned to chuygarcia92

[2022-05-05 23:38] chuygarcia92 commented on #1138
Advances for the script and the storyboard are presented recurrently in the Rewards System WG sync call. Still in pre-production for community advice process.

[2022-05-05 23:39] chuygarcia92 commented on #864
All proposals have been submitted. Closing this issue now.

[2022-05-05 23:39] #864 closed

[2022-05-05 23:49] mount-manu commented on #1039
**Chuy Update:** @Costa91 was going to look into this, any updates Costa?

[2022-05-06 15:04] mount-manu commented on #1199
**Zepti's Update:** This was done on Tuesday May 2nd so we can close it now.

[2022-05-06 15:09] mount-manu commented on #1180
**Zepti's Update:** Audit's done so we're closing this one. Here's the link to the work done: https://www.figma.com/proto/JOrcjzjhxVE5s2imJBbnOa/TEC-Transparency-Audit-JAN-MARCH-%2722?node-id=309%3A682&scaling=min-zoom&page-id=0%3A1

[2022-05-06 15:09] #1180 closed, assigned to Zeptimus

[2022-05-06 15:11] mount-manu commented on #1308
**Zepti's Update:** will work on finishing this before Sprint's end.

[2022-05-06 15:12] mount-manu commented on #1302
**Zepti's Update:** Some work has been done on this but we've yet to finish; we aim to finish (the wireframes) before Sprint's end. Here's the current progress: https://miro.com/app/board/uXjVO7-FzCI=/

[2022-05-06 15:13] mount-manu commented on #1320
**Zepti's Update:** Audit's done so this is done as well.

[2022-05-06 15:13] #1320 closed, assigned to iviangita

[2022-05-06 15:32] #1292 closed, assigned to liviade1

[2022-05-06 15:33] liviade1 commented on #1323
bends have been working here https://docs.google.com/spreadsheets/d/1jAXe4MhOm6cdL-yjgpk_wUkEGZPCAvpJ-lyp1eLBX4o/edit#gid=0
he will finish this by the end of next sprint

[2022-05-06 15:37] liviade1 opened #1330 "Data sources collection"
## 👇🏽  What is this issue about? Give as much detail as you can.
https://docs.google.com/spreadsheets/d/1jAXe4MhOm6cdL-yjgpk_wUkEGZPCAvpJ-lyp1eLBX4o/edit#gid=0

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Reaching out to stewards to get data from working groups
2. organize data in spreadsheet
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process

[2022-05-06 15:40] liviade1 opened #1331 "TE governance guild support"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-06 15:43] liviade1 opened #1332 "Async management"
## 👇🏽  What is this issue about? Give as much detail as you can.

https://app.clarity.so/tecsoft-gov/tasks
## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
- [x] create a clarity base for soft gov
- [ ] move soft gov workstreams there
- [ ] anything else? let's chat about this :)

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be

[2022-05-06 15:46] mount-manu commented on #1298
**Lívia's Update:** Need a whole day to work on this, will try to do it by Monday May 9th.

[2022-05-06 15:48] mount-manu commented on #886
**Lívia's Update:** Will check if this is still relevant or if the feedback we currently have can be incorporated. Until now, this stays in the product backlog.

[2022-05-06 15:50] mount-manu commented on #1219
@iviangita was there some progress related to this on the last Legal sync?

[2022-05-06 17:55] divine-comedian commented on #1138
first draft script -

https://docs.google.com/document/d/13QExdYKfzwOlN6QnJo5e_qwH04VjHL08U_7ORUuWHWk/edit

left some comments

[2022-05-08 19:20] mount-manu opened #1333 "Update the tecommons.org website with Sampo as a WG"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-09 17:11] mount-manu commented on #1296
**Update from Edu**: Finished! So we closin'

[2022-05-09 17:11] #1296 closed, assigned to eduardovegap

[2022-05-09 17:17] mount-manu commented on #1078
@gideonro You're already working on this so I'm just updating this issue for it.

[2022-05-09 17:18] mount-manu commented on #802
**Edu update:** Didn't happen; won't happen...so we close.

[2022-05-09 17:18] #802 closed

[2022-05-10 09:57] tamarandom commented on #1327
Done! Thank you @mount-manu for all the coordination around this!

[2022-05-10 10:04] tamarandom commented on #1293
@eduardovegap and I decided to hold off on this until we see the need for more bounties in the WG.

[2022-05-10 10:04] #1293 closed, assigned to tamarandom

[2022-05-10 17:50] mount-manu opened #1334 "Reimagining the Community Call's Format"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-10 18:07] tamarandom commented on #1226
Done!

[2022-05-10 18:22] tamarandom opened #1335 "2022 Stewards POAP"
## 👇🏽  What is this issue about? Give as much detail as you can.
We want to come up with a theme for this year's Stewards POAP!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or d

[2022-05-10 18:53] tamarandom commented on #1318
Draft is ready for advice process for all Stewards!
The big change is we propose to be paid in TEC! https://docs.google.com/document/d/1uNK5X6g44JYYR94d6yx0MhYAbmSGoxVpsdh-ZXcKyXI/edit

[2022-05-10 19:12] mount-manu opened #1336 "Organizational development for Gravity"
## 👇🏽  What is this issue about? Give as much detail as you can.
Aligning Gravity's organizational development with value creation, our own sustainability,
and linking it with Sampo's new mission.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Starting to craft Gravity's MVV
2. Finding and structuring our revenue streams
3. Finishing up with a web 3 bus

[2022-05-10 19:19] mount-manu commented on #971
**Juanka's Update**: 3rd Graviton Training study plan [has been posted on our forum](https://forum.tecommons.org/t/third-graviton-training-study-plan/996).

[2022-05-10 19:24] mount-manu commented on #1176
**Juanka's update:** Today we disbursed compensation for April's bounties.

[2022-05-12 08:11] tamarandom commented on #1318
On the Forum for advice process: https://forum.tecommons.org/t/steward-wg-3-month-funding-proposal-may-july/1005

[2022-05-12 15:37] #1317 closed, assigned to natenatesoo, Costa91

[2022-05-12 15:38] #1314 closed, assigned to Costa91

[2022-05-12 15:41] Costa91 commented on #1211
FAQ section added to the TEC Handbook.

[2022-05-12 15:41] #1211 closed, assigned to Costa91

[2022-05-12 15:48] Costa91 commented on #1096
- On the "app.gitbook" library I only have the TEC Handbook. I cannot find how to add the TEC Source to edit it. I was told Nate has administrative rights.
- On the TEC Handbook, I cannot find a way to edit the Top Menu. From the "app.gitbook" where I normally do the edits, the Top Menu with the incorrect links does not appear.
- I need to be given permissions to edit the webpage.

[2022-05-12 17:02] iviangita commented on #827
I submitted this content to TEC Gitbook - pending review from admin

[2022-05-13 01:12] mount-manu commented on #1335
@acidlazzer how we doing on this, tocayo?

[2022-05-13 04:48] divine-comedian commented on #1279
DONE!

 votes 2 and 3 on the reward board
 https://aragon.1hive.org/#/rewardboardtec/0x83ddc88de748c2389bf4d66f8708434fee599b7b/

[2022-05-13 04:49] #1279 closed, assigned to divine-comedian

[2022-05-13 08:59] tamarandom opened #1337 "Retro action: get in contact with tokenomics DAO - they are doing something we should have available for TEs"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 15:11] eduardovegap commented on #1326
Basic Draft is here: https://docs.google.com/document/u/1/d/15GWxna-OSIpDIg9d62UC0GbVftzILqA5CkO3k6n3Sm0/edit?usp=sharing

[2022-05-13 15:14] eduardovegap commented on #1263
@Costa91 has been almost fully onboarded and trained as a Guide. The only aspect left is to help him hosting 1-1. He will start shadowing Manu and Me next week.

[2022-05-13 15:15] eduardovegap commented on #1310
Updated document: https://docs.google.com/document/d/1uAbihCPiVAEMerkmVwP77TMXENkKUmiIx5pSyZMLw8o/edit

[2022-05-13 15:23] Zeptimus commented on #1302
Will do a hack sesh with tam this week probably will get done in that work sesh or that same day

[2022-05-13 15:24] Zeptimus opened #1338 "Circulating supply on coingeko"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 15:24] Zeptimus commented on #1338
Need to fill this doc https://docs.google.com/spreadsheets/d/1ZLU8jQg2jzff8Kni7RIevcUOrYuZTNgJVB0MMlZDIac/edit#gid=1565912853 and do the coingeko

[2022-05-13 15:25] Zeptimus opened #1339 "Create a transparency proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@iviangita

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the

[2022-05-13 15:26] #1184 closed, assigned to eduardovegap

[2022-05-13 15:26] Zeptimus opened #1340 "Exploring the intentions of the community regarding transparency arround salaries"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 15:26] Zeptimus opened #1341 "Exploring the intentions of the community regarding transparency arround salaries"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 15:27] Zeptimus commented on #1341
This is already on advice process https://forum.tecommons.org/t/transparency-around-tec-salaries/1006

[2022-05-13 15:27] Zeptimus commented on #1340
Close #1341 duplicate

[2022-05-13 15:27] #1340 closed, assigned to Zeptimus

[2022-05-13 15:28] Zeptimus opened #1342 "NFT for the audit"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 15:29] eduardovegap commented on #1177
The document has been finished: https://docs.google.com/document/d/1edIsA8yYOxhC7if4mXW_3cz09zoeOhcQaj0wItymjZE/edit

A more comprehensive version is also here: https://token-engineering-commons.gitbook.io/tec-handbook/hatch-101/faq

[2022-05-13 15:30] Zeptimus commented on #1342
@eenti already created this doc in markdown https://hackmd.io/@lPFQ61eAQAap3vUN520DPw/ByS69fqQq

[2022-05-13 15:32] eduardovegap opened #1343 "Update orientation deck"
## 👇🏽  What is this issue about? Give as much detail as you can.

update the old presentation, new one open for feedback: https://docs.google.com/presentation/d/1K5oKo43MVLGrwQrgRyHMbGaGUU5m2Up6/edit#slide=id.p5

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted

[2022-05-13 16:10] mount-manu commented on #1308
@Zeptimus  wants to talk to you @iviangita regarding this!

[2022-05-13 16:16] tamarandom opened #1344 "Focus on Stewards WG roadmap for next 3 months"
## 👇🏽  What is this issue about? Give as much detail as you can.
@mount-manu and I will be working on this together!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related

[2022-05-13 16:16] mount-manu commented on #1268
@eenti any update on this?

[2022-05-13 16:18] mount-manu commented on #1273
Leaving this for next sprint as Juanka is at full capacity right now.

[2022-05-13 16:32] tamarandom opened #1345 "Build deck in Spanish for presentation next month"
## 👇🏽  What is this issue about? Give as much detail as you can.
Related to #1200

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?
This is the orienta

[2022-05-13 16:36] tamarandom commented on #1337
Adding to the Stewards weekly agenda to next step this!

[2022-05-13 16:47] mount-manu opened #1346 "Find a web dev for 0mega's Consilience Library"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 16:51] gideonro opened #1347 "Define and get advice on Sampo Financial Report"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 16:53] tamarandom commented on #1329
Thanks @Clara-zi! I am closing this. ;)

[2022-05-13 16:53] #1329 closed, assigned to nobody

[2022-05-13 16:53] gideonro opened #1348 "Define and get advice on Sampo Financial Data Collection Process"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 16:53] tamarandom commented on #1143
Hey @divine-comedian - do you mean for this to be an epic?

[2022-05-13 16:56] gideonro opened #1349 "Write up and get advice on Sampo mission and manifesto"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 16:58] mount-manu commented on #1285
@Costa91 Edu says this might be done, is it?

[2022-05-13 16:59] gideonro opened #1350 "Gain advice on Sampo strategy document"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-13 17:05] divine-comedian commented on #1281
I settled for something a bit simpler given there's quite a bit of overhead to write something so complicated...

https://forum.tecommons.org/t/tec-rewards-distribution-july-2022/1004/

[2022-05-13 17:05] #1281 closed, assigned to 0xNuggan

[2022-05-13 17:06] chuygarcia92 commented on #1299
This is something we've been working on with @AnaTech in the TE Academy TEAM covering three educational opportunities:

- Discord bot army
- Graviton training
- TE Fundamentals

Our first approaches will be in the next communities' community calls:

- Shapeshift
- Opolis
- Giveth

[2022-05-13 17:06] chuygarcia92 commented on #1299
This is something we've been working on with @AnaTech in the TE Academy TEAM covering three educational opportunities:

- Discord bot army
- Graviton training
- TE Fundamentals

Our first approaches will be in the next communities' community calls:

- Shapeshift
- Opolis
- Giveth

[2022-05-13 17:08] divine-comedian opened #1351 "Reward Distribution Catchup - July 2021 - June 2022"
## 👇🏽  What is this issue about? Give as much detail as you can.
Execute reward distributions weekly until we arrive at June 2022 via the Reward Board.

1. Post forum post w/ rewards distribtuion - 48hrs advice?
2. Create tx with Transactions app in Reward Board
3. get people to vote, pass vote, execute

We'll need to reasses how much funds we want to release after this point and we will likely ne

[2022-05-13 17:09] chuygarcia92 commented on #1138
We had an amazing updates presentation with the Animation TEAM during the last Rewards WG call:

https://youtu.be/A1tBFmAerGs

[2022-05-13 17:09] JuankBell opened #1352 "Gravity participation at the Commons prize"
## 👇🏽  What is this issue about? Give as much detail as you can.
Gravity is participating in the Commons Prize voting phase! I create this issue to incentivize people on the WG team to vote, for gravity or for the project they prefer, but to participate.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Have people from the Gravity WG championing and follo

[2022-05-13 17:13] divine-comedian commented on #1143
nooo, I think this issue might be irrelevant now

[2022-05-13 17:14] clara-zi commented on #1329
Thanks

From: tamarandom ***@***.***>
Sent: 13 May 2022 19:53
To: CommonsBuild/coordination ***@***.***>
Cc: clara-zi ***@***.***>; Mention ***@***.***>
Subject: Re: [CommonsBuild/coordination] New project sign-up. Interview and record project owner's platform sign-up problems. (Issue #1329)

Thanks @clara-zi <https://github.com/clara-zi> ! I am closing this. ;)

—
Reply to this email directly, vi

[2022-05-13 17:22] divine-comedian commented on #1282
check w/ kristofer to see if this is done

[2022-05-13 17:24] #1276 closed, assigned to kristoferlund

[2022-05-13 17:26] #1287 closed, assigned to nobody

[2022-05-13 17:29] divine-comedian commented on #1282
@mateodaza @kristoferlund  is this done?

[2022-05-13 17:29] divine-comedian commented on #1278
closing this issue since we won't be using sourcecred params until ~ round 12

[2022-05-13 17:29] #1278 closed, assigned to mateodaza

[2022-05-13 17:30] chuygarcia92 commented on #1333
WG logo can be found in https://github.com/CommonsBuild/tec-branding-assets once it's done

[2022-05-13 17:31] mateodaza commented on #1282
@divine-comedian give me green light and I'll do the grain distribution - then we can get the csv

[2022-05-13 17:34] divine-comedian opened #1353 "Execute first payout w/ sourecred params"
June 2022 will be the first quant payout utilising sourcecred params.

We'll need to add the sourecred params into our distribtuion files and ensure the calculations execute successfully.

This will involve coordination between source-cred, RAD dashboard and the tec-rewards repo.

[2022-05-13 19:18] divine-comedian commented on #1282
@mateodaza assuming everything is done are there any potential dangers until waiting to distribute the gran until when we need to do the quant payout using it - for june 2022.

In my head we can do it now and call it done but this seems like and action hard to undo in the future if something in our plans change.

[2022-05-13 20:11] eenti commented on #1268
@mount-manu I mentioned the group to be included in the newsletter, but I don't really recall anything about promoting it beyond that.

[2022-05-13 21:19] divine-comedian opened #1354 "Praise bot for Telegram"
## 👇🏽  What is this issue about? Give as much detail as you can.

Implement an instance of the praise bot, similar to what exists in the TEC discord. This bot will help users dish praise and record praise to be quantified.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. bot has similar function and syntax to discord praise bot
2. users understand and can

[2022-05-16 08:56] tamarandom commented on #1318
Live in Gardens. Closing.

https://gardens.1hive.org/#/xdai/garden/0x8ccbeab14b5ac4a431fffc39f4bec4089020a155

[2022-05-16 08:56] #1318 closed, assigned to tamarandom

[2022-05-16 13:45] kristoferlund commented on #1282
How about doing the first Grain distribution Sunday June 12? The quant period that starts the following Friday, Jun 17, will be the first period to include June data.

[2022-05-16 13:50] kristoferlund commented on #1353
See also #1282

[2022-05-16 14:20] eduardovegap opened #1355 "Member's Experience"
## 👇🏽  What is this issue about? Give as much detail as you can.

This issue is to compile all the tasks that are needed in order to accomplish a wholesome Member's experience in our community. We have updated the issues of this epic based on relevance. 1 = The most important. 2 and 3.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.  Submit the New Commu

[2022-05-16 14:23] eduardovegap opened #1356 "Update the Survey bot (1)"
## 👇🏽  What is this issue about? Give as much detail as you can.

We will need to update the Survey that gets send to newcomers, and change the question of level of web3 knowledge, to which are your areas of interest, since this question seems more relevant to our current needs.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who sh

[2022-05-16 14:24] eduardovegap commented on #1246
We will tackle this, by the member's experience / journey on the TEC.

Added to the Epic.

[2022-05-16 14:26] eduardovegap opened #1357 "Create the Community Offering Channel"
## 👇🏽  What is this issue about? Give as much detail as you can.

We need to a create a discord channel for the Community Offering, and fill it with content, such as description and pinned message with instructions to follow.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Create the channel
2. Rail the stewards and contributors to be the first ones to s

[2022-05-16 14:26] eduardovegap opened #1358 "Create the Community Offering Channel (3)"
## 👇🏽  What is this issue about? Give as much detail as you can.

We need to a create a discord channel for the Community Offering, and fill it with content, such as description and pinned message with instructions to follow.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Create the channel
2. Rail the stewards and contributors to be the first ones to s

[2022-05-16 14:35] eduardovegap opened #1359 "Choose the questions for the Community offering (3)"
## 👇🏽  What is this issue about? Give as much detail as you can.

We need to pick the questions from which community member's will based their community offering.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable in

[2022-05-16 14:37] eduardovegap opened #1360 "Create channel for Quiz."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-16 15:03] eduardovegap opened #1361 "Test out the Trivia Game (2)"
## 👇🏽  What is this issue about? Give as much detail as you can.

Collaboration with 1Hive. We would like to launch a monthly Trivia Games. We need to gather the questions, decide a pool and promote it across TEA and TEC.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Get consensus on date and pool.
2. Gather 10 questions for the Trivia
3. Promote

## 🧍

[2022-05-16 17:53] csggene3 commented on #1355
I'd like to be able to contribute to solutions for this issue. Will discuss in Communitas WG call today 5/16.

[2022-05-16 18:38] kristoferlund commented on #1354
Thanks, this issue is also ion the Praise board: https://github.com/commonsbuild/praise/issues/74

[2022-05-17 13:57] tamarandom commented on #1334
Notes from the last Steward weekly:

Community call runs long (again)…
What is the main purpose of the community call?
Timbox each WG presentation.
Add 15 minutes to the end of the call? Make it a 75 minute call. (two calls that are impacted)
Ok for Gravity
Praise quant
Give spotlight a separate time
Make efforts towards async collaboration
Community call evolve into way to showcase TE projects, h

[2022-05-17 17:12] Zeptimus opened #1362 "Water and Giveth pool are not showing volume on honeyswap"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-17 17:13] Zeptimus commented on #1362
![09d3a1e945f525d6fd541f50bcf6f35b.png](https://images.zenhubusercontent.com/5fbebca411d994ca41a777f1/b4454a01-ad09-4d7a-be7f-2a3f4eae8389)

[2022-05-17 17:13] Zeptimus commented on #1362
![09d3a1e945f525d6fd541f50bcf6f35b.png](https://images.zenhubusercontent.com/5fbebca411d994ca41a777f1/b4454a01-ad09-4d7a-be7f-2a3f4eae8389)

[2022-05-17 17:25] tamarandom commented on #1337
Note: reach out to Angela who may already be in touch with them too.

[2022-05-18 00:10] mount-manu commented on #1235
Hey there @scottbenjd! I've just assigned you to this issue: any updates or blockers that you might wanna share with me so that we can forward this?

[2022-05-18 00:18] mount-manu commented on #1333
Hey there @markoprljic, long time no speak! How are we doing with the logo for the Sampo WG?

[2022-05-18 05:17] markoprljic commented on #1333
Updated the repo with the logo
https://github.com/CommonsBuild/tec-branding-assets

[2022-05-18 11:45] scottbenjd commented on #1235
hey @mount-manu. I'm currently working on issue #1330 , which I view as a dependency for this issue. Instead of having this issue under a "member experience" epic with the Communitas WG and the [Ostrom's Metrics](https://forum.tecommons.org/t/measuring-tec-s-ecosystem-health/991) work as separate work streams, I'm thinking of these two as different use cases some of the same underlying project. Th

[2022-05-20 12:08] mount-manu opened #1363 "Create a plan for open legal calls"
## 👇🏽  What is this issue about? Give as much detail as you can.
We want to have so that we have one sync call for WG coordination and the other call to discuss legal topics around TE and web 3.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue.

[2022-05-20 12:17] mount-manu commented on #1274
**Update from Ivi**: Final changes have been submitted, @iviangita will be reviewing them and then she'll post the covenant on the forum.

[2022-05-20 12:19] mount-manu commented on #827
Teresa completed this ([and it's live](https://token-engineering-commons.gitbook.io/tec-handbook/tec-agreements-1/content-ownership-agreement)) so I'm closing it now.

[2022-05-20 12:19] #827 closed

[2022-05-20 21:39] gideonro commented on #1349
First draft of Sampo mission and manifesto is done. Putting to Sampo working group next week for feedback.

[2022-05-20 21:41] gideonro commented on #1350
Initial feedback from Sampo working is complete. Presented to Stewards Council and requested feedback in document.

[2022-05-22 01:24] teresacd11 commented on #1363
Sounds, great, who do you have in mind for the first call @GriffGreen, will it be next Friday?

[2022-05-23 12:25] divine-comedian commented on #1143
Sorry this issue is still being actively worked on by @0xNuggan

This is our base template we'll use for automation.

https://forum.tecommons.org/t/tec-rewards-distribution-august-2021/1012

[2022-05-23 14:50] Zeptimus commented on #1338
We sent an email wiating for get updated by coingeko

[2022-05-23 14:53] Zeptimus commented on #1362
Here the current allowlist to gnosis
https://github.com/1Hive/honeyswap-subgraph/blob/main/src/commons/addresses.ts

1hive still working on it

[2022-05-23 18:53] eduardovegap opened #1364 "Update of discord channel's text."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-24 23:22] gideonro commented on #1350
Just posted to TEC Forum for final stage in advice process.

[2022-05-24 23:25] gideonro commented on #1349
Approved Sampo Mission:
The Sampo working group develops and grows the value of the economic layer of the Token Engineering Commons. It aligns this micro-economy with the TEC mission and the collective success and individual benefit of its token holders.

[2022-05-26 05:43] Costa91 commented on #1165
I was asked to do an outline, to be then delivered to the writers guild so they can develop it into the article.

https://docs.google.com/document/d/1-j9VmgsEteISqb7k4ChQMwjsObVoSN72/edit?usp=sharing&ouid=101908942387065528643&rtpof=true&sd=true

[2022-05-27 15:38] eduardovegap commented on #1361
This will be up on the forum next week, and then will be launched if no major reason is voiced against.

[2022-05-27 15:39] eduardovegap commented on #1261
We created and epic to recognize this process, I'd close this issue at least until next quarter when we will probably keep adding more workflows.

[2022-05-27 15:40] eduardovegap commented on #1337
This was accomplished by @liviade1 and they presented on the Community Call spotlight.

[2022-05-27 15:40] #1337 closed, assigned to eduardovegap

[2022-05-27 15:41] eduardovegap commented on #1343
Done.

[2022-05-27 15:41] #1343 closed, assigned to eduardovegap

[2022-05-27 15:41] eduardovegap commented on #1325
Will be submitted next week, we are waiting only for the Writer's guild budget proposal.

[2022-05-27 15:41] tamarandom commented on #1335
Hey @acidlazzer I will take this on while @mount-manu is taking some time off.

[2022-05-27 15:42] eduardovegap commented on #1310
Done, up next week.

[2022-05-27 15:42] #1310 closed, assigned to eduardovegap

[2022-05-27 15:42] tamarandom commented on #1319
Done for now!

[2022-05-27 15:42] #1319 closed, assigned to tamarandom

[2022-05-27 15:43] tamarandom commented on #201
Now that transcription of Praise is over, closing this issue!

[2022-05-27 15:44] #1068 closed, assigned to nobody

[2022-05-27 15:44] tamarandom commented on #1328
Now that transcribing praise is over, closing this issue!

[2022-05-27 15:44] #1328 closed, assigned to mount-manu

[2022-05-27 15:46] tamarandom commented on #1183
Hey @mount-manu @chuygarcia92 who will take this on for the month of June!?

[2022-05-27 15:46] eduardovegap commented on #1364
Jason dropped the following reviews of our discord channels:

Pinned messages: https://docs.google.com/document/d/1dD32HpmJLK7zpRwMbvfBGd4EvJQ1ZgsOn_ujjowgWHM/edit

Headers: https://docs.google.com/document/d/1Ovk8csmAGmUv5fudsrXclKwyXfFQB_dFw-Ac2ndkvA0/edit

[2022-05-27 15:49] tamarandom opened #1365 "Retro action: Boost token holder and contributor confidence with outline of plans for what's next"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-27 15:50] tamarandom commented on #1291
This turned into a CS article because Commons Prize is using QRCV and the results are confusing to folk!

[2022-05-27 15:50] #1291 closed, assigned to tamarandom

[2022-05-27 15:51] tamarandom opened #1366 "Evolution of Stewardship and Stewards WG"
## 👇🏽  What is this issue about? Give as much detail as you can.
What is the next phase of Stewards in the TEC?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to t

[2022-05-27 15:52] Costa91 opened #1367 "Updating 0mega WG handbook Sections"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-27 15:58] Zeptimus commented on #1308
Close legal wg is doing it together with soft gov

[2022-05-27 15:58] #1308 closed, assigned to Zeptimus

[2022-05-27 16:00] Zeptimus commented on #1302
Done! https://miro.com/app/board/uXjVO7-FzCI=/

[2022-05-27 16:00] #1302 closed, assigned to Zeptimus

[2022-05-27 16:05] #1177 closed, assigned to eduardovegap, Costa91

[2022-05-27 16:17] JuankBell commented on #1189
Update: figma dashboard https://www.figma.com/file/CjfHdFnXcrPGDXRnpG0DdS/User-flows-%2B-Mockups?node-id=20%3A2

[2022-05-27 16:20] chuygarcia92 commented on #1138
Here are the first steps around character brainstorming and development:

![image.png](https://cdn.discordapp.com/attachments/910578351201214544/978687090923565136/Robot_1.png)

![image.png](https://cdn.discordapp.com/attachments/910578351201214544/978687091221348362/Robot_2.png)

![image.png](https://cdn.discordapp.com/attachments/910578351201214544/978687091837894736/Robot_3.png)

[2022-05-27 16:22] liviade1 opened #1368 "support zhiwei on RAD categories development"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-27 16:23] chuygarcia92 commented on #1333
DONE!

![image.png](https://images.zenhubusercontent.com/6000e68bc28f519103606a04/1b1f97b5-ca6f-44a0-9d45-9b5c3d0fa61b)

[2022-05-27 16:23] #1333 closed, assigned to thefredo1000

[2022-05-27 16:26] tamarandom commented on #876
With Sampo live, we can close this.

[2022-05-27 16:26] #876 closed

[2022-05-27 16:27] chuygarcia92 commented on #1300
We'll keep posting this kind of tweet for every distribution:

https://twitter.com/tecmns/status/1527272862939234304?s=20&t=IVK1SQl9ZVJnaY4uQJVnxA

[2022-05-27 16:28] liviade1 opened #1369 "co-host session with omega"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-27 16:34] tamarandom commented on #1274
Hey @iviangita - can this be closed now? Is the covenant final?

[2022-05-27 16:39] chuygarcia92 commented on #1191
**UPDATE**:
The gravity case has reached [a solution](https://forum.tecommons.org/t/comms-t-e-a-m-dao-funding-proposal/865/7?u=chuygarcia92). And we'll be moving forward with the mirror setup proposal on the next Translations TEAM sync, to happen on Monday, May 30th.

[2022-05-27 16:39] tamarandom commented on #1315
Done.

[2022-05-27 16:39] #1315 closed, assigned to GriffGreen

[2022-05-27 16:43] tamarandom commented on #221
@eduardovegap volunteered to take this on for the next Sprint!

[2022-05-27 16:50] chuygarcia92 commented on #545
As Gravity has moved forward and started their third graviton training, they have been successful in outreaching to other communities like Aragon.

Closing this issue.

[2022-05-27 16:50] #545 closed

[2022-05-27 16:56] tamarandom commented on #1183
Assigning to @chuygarcia92 - but it will be Enti and Gene!

[2022-05-27 17:02] tamarandom commented on #1165
Passed to Writers Guild.
CC @gideonro

[2022-05-27 17:02] #1165 closed, assigned to Costa91

[2022-05-27 17:04] tamarandom commented on #1263
Closing! Welcome @Costa91 !!

[2022-05-27 17:04] #1263 closed, assigned to eduardovegap

[2022-05-27 17:06] tamarandom commented on #1227
Dupe of #1327

[2022-05-27 17:07] chuygarcia92 opened #1370 "Expanding the TE community to IRL events"
## 👇🏽  What is this issue about? Give as much detail as you can.
As both the TEC and the TE community expand, we want to be able to produce events that gather people interested in token engineering and cryptonomics. Our pilot(s) for these may be around ETH Barcelona and/or ETHcc.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Supporting events that repr

[2022-05-27 17:10] tamarandom commented on #1346
Closing.

[2022-05-27 17:10] #1346 closed, assigned to Mertozdal

[2022-05-27 17:10] tamarandom commented on #1158
Closing. Thanks @Mertozdal !

[2022-05-27 17:10] #1158 closed, assigned to Mertozdal

[2022-05-27 17:14] tamarandom commented on #1365
Leaving without a owner. @eduardovegap suggests a combined effort between Sampo and Communitas.
CC @gideonro @liviade1

[2022-05-27 17:43] gideonro commented on #1350
Feedback will continue to show up but all the work is done at this point. Closing this.

[2022-05-27 17:43] #1350 closed, assigned to gideonro

[2022-05-27 17:45] gideonro commented on #1347
We've split this out into two initial products - the first one is a "unified treasury chart" and it's defined and will likely even be done next week. Closing this. The second one is the other sprint issue - and will update that there.

[2022-05-27 17:45] #1347 closed, assigned to gideonro

[2022-05-27 17:46] gideonro commented on #1348
This issue has morphed into a bigger project that we are handing over to Transparency. It will focus on trying to standardize working group budgeting formats. I'm closing this off for Sampo but will be tracking progress with Transparency.

[2022-05-27 17:46] #1348 closed, assigned to gideonro

[2022-05-27 17:47] gideonro commented on #1349
90% done - but not closing as there is still some advice process that is needed.

[2022-05-27 19:02] eduardovegap opened #1371 "Improve tracking through Communitas spreadsheet (1)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-27 22:35] divine-comedian opened #1372 "Forum post to improve praise"
## 👇🏽  What is this issue about? Give as much detail as you can.
@Zeptimus and others mentioned dissatisfaction with the distribution of praise rewards and mentioned that there are many things currently not working with the way praise is being handled, perhaps inclding the quantification process.  Some more existential questions exist as well as in, what is the point of praise, what role do these

[2022-05-27 22:38] gideonro opened #1373 "Finalize Sampo Season 1 Proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-30 16:29] eduardovegap opened #1374 "Add checklist to "Your Guide channel". (1)"
## 👇🏽  What is this issue about? Give as much detail as you can.

We identify that we could use a checklist form that would help people get onboarded. Something similar to: https://verify.ens.domains/

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this

[2022-05-30 16:31] eduardovegap opened #1375 "Ongoing poll on what information is most important to newcomers (3)."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-30 16:34] eduardovegap opened #1376 "Match new member's after orientation call with WG (followup) (1)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-30 16:35] eduardovegap opened #1377 "Improved community-wide communication processes (1)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-31 16:56] gideonro opened #1378 "Create plan and write message to $TEC token holders to maintain their confidence"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-05-31 21:25] divine-comedian opened #1379 "name the reward system"
## 👇🏽  What is this issue about? Give as much detail as you can.
name the reward system with something more descriptive and creative than 'reward system'

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. a large amount of shareholders are made aware and provide ideas
2. we can definitvely settle on a name

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Pr