[2021-03-20 13:00] #522 closed

[2021-03-20 19:15] kristoferlund commented on #522
Great feedback @tamarandom! Wordpress definitely has its constraints when it comes to mobile first responsiveness. Perhaps the Wordpress website could be fixed to look good on mobile, I doubt it would be worth the effort though. Since the site currently is just a single page / landing page, building a mobile first page from the ground up is _not_ a major effort.

Is now the right time to do it? I

[2021-03-21 13:25] GriffGreen commented on #499
@markoprljic! Update

@Vyvy-vi and I had a chat this morning

Notes:

A bot made it thru already, named "Tesla"

A great way to avoid this is to make a TECommons invite website that will automagically create an invite for people that do the captcha.

We would need to remove the ability to make invites on the server... ideally we could restrict the discord server invites to be only 1 time use invit

[2021-03-21 13:34] GriffGreen commented on #499
@Vyvy-vi is not a web dev... we might need @mendesfabio or some other dev to jump in and work with him... also @krisjpi will have to give us a subdomain

[2021-03-21 13:37] GriffGreen commented on #499
@markoprljic you might want to do some design as well

[2021-03-21 13:59] Vyvy-vi commented on #499
1)- Regarding the captcha site:
We could use a 3rd party captcha service, like reCaptcha
Or make our own. Whatever works
2) Regarding how the site invites people:
An integration or bot in discord can use there API to make a server invite.
We could then redirect the user to a one-time usage link, after they complete the captcha.
3) We would need a bot application to monitor the discord invite links

[2021-03-21 16:21] markoprljic commented on #499
@Vyvy-vi @GriffGreen Thanks a lot for brainstorming and proposed solution. I'd love to get some feedback from devs on effort estimate and a bit more details what need to be done to make this work.

- We can create a landing page on our website for joining Discord (opportunity to communicate better to users and make it more attractive)
- Integrate Captcha from WP (don't see a problem here)
- Discor

[2021-03-21 18:52] GriffGreen commented on #499
The onboard flow proposal change...

Before it was:

#1 Create an invite link in discord, needing to choose expiration date and number of uses... then send that to someone

#2 Get to our discord and look for a DM and do the Captcha... if you don't have DMs open beg for help in our support channel

#3 Click the ✅ emoji for our community code

The problem with this flow is step #2... especially sinc

[2021-03-21 19:03] markoprljic commented on #499
Sounds good!

[2021-03-21 21:14] Vyvy-vi commented on #499
The discord oauth API might be useful here:
-> User logs into the site using discord ->  fills captcha -> gets access to server
This would remove the need to set up a different bot application for generating invite links:
https://discord.com/developers/docs/topics/oauth2
https://discord.com/developers/docs/resources/guild#add-guild-member

I think we could set up a site with Nodejs/Flask and use t

[2021-03-22 06:58] markoprljic opened #551 "Create "Join" page on the TEC website"
## 📋 Anything to add?

Join page to join our community.
Show Discord, Forum, Twitter, Youtube etc.
Use this page to onboard people to Discord

## 🎉 Subtasks

- [ ] Marko design
- [ ] Create a page in WP
- [ ] subdomain join.tecommons.org
- [ ] Discord API integration

## 🤼‍ Reviewer

@GriffGreen

## 🔗 Work doc - inspirational links

Related issue https://github.com/TECommons/coordination/issues/49

[2021-03-22 08:12] mount-manu commented on #497
Here it is:
https://docs.google.com/spreadsheets/d/1e57AY4x-UHAeJblp1rykqS1JQEITjJhQlzY1vFJEFzo/edit?usp=sharing

(Needless to say, this is a reiterative task which I assume responsibility for and as such I'll keep adding, refining, and updating it every 3 days. I'm posting the link now so that other people can access it and progress is established).

[2021-03-22 11:48] GriffGreen commented on #551
Thx for jumping all over this marko!

[2021-03-22 11:49] GriffGreen commented on #243
Thx livia!

[2021-03-22 11:50] markoprljic opened #552 "Prepare mobile views for TEC Website"
## 📋 Anything to add?

Prepare mobile view for TEC landing page.
When done send to @kristoferlund for coding.

[2021-03-22 11:55] markoprljic opened #553 "Migrate from Wordpress to Netlify"
## 📋 Anything to add?
Migrate current website from Wordpress to Netlify and make it fully responsive!

## 🤼‍ Reviewer

@markoprljic

[2021-03-22 13:07] kristoferlund commented on #553
Great! The development build is available here:
https://naughty-lalande-8b2365.netlify.app/

[2021-03-22 16:50] markoprljic commented on #499
Not to self: onboarding checklist, ask people if they have giuthub account. Needed for submitting requests and ideas directly through our github board.

[2021-03-22 20:56] markoprljic opened #554 "Create a list of useful links for new Discord members"
## 📋 Anything to add?
Hy guys. I'm just thinking loud. How about a URL collection? Maybe in the #🏁start-here  channel?
I'm pretty new here, trying to wrap my head around all the topics being discussed in this community. And I'm jumping around between discord, github, the forum, googledocs... At the beginning it would have been nice to have kind of a collection of usefull links, at least for me...

[2021-03-22 21:06] jessicazartler commented on #351
I am not sure if Disco really would like to submit a proposal - this was more an open exploration call to connect and see what is happening in their ecosystem - @liviade1 and I were particularly interested in chatting with them and potentially spinning up a research group/single time open discussion/AMA with Disco/DADA around the Invisible Economy and feminine economics.. I actually had it on my l

[2021-03-22 21:11] jessicazartler commented on #362
Thank you so much @rosamoc ! Sorry for taking so long to come back..

1. Can get Involved link to https://forum.tecommons.org/t/5-how-to-join-contribute/98
Build with us / Join the mission https://forum.tecommons.org/t/5-how-to-join-contribute/98
Join the Community link's to https://discord.gg/VSD3fbCn

-Delete Join the Ecosystem

2. Can you also create a link at the bottom for

TEC Handbook that

[2021-03-22 21:16] markoprljic commented on #362
@jessicazartler This request will be blocked by [this issue](https://github.com/TECommons/coordination/issues/553). I'll make sure to include your suggestions in next iteration.

[2021-03-22 21:17] markoprljic opened #555 "Website updates"
## 📋 Anything to add?

Can get Involved link to https://forum.tecommons.org/t/5-how-to-join-contribute/98
Build with us / Join the mission https://forum.tecommons.org/t/5-how-to-join-contribute/98
Join the Community link's to https://discord.gg/VSD3fbCn
-Delete Join the Ecosystem

Can you also create a link at the bottom for
TEC Handbook that links here https://token-engineering-commons.gitbook.io

[2021-03-22 21:18] jessicazartler commented on #362
k cool thanks!

[2021-03-23 00:41] JuankBell commented on #194
Great step by step process in this page (we could take some ideas to propose our own method) -> [https://usefyi.com/offboarding/]

Forum post pending, requesting Gravity support to an offboarding process (from working groups) is now an option in the Gravity Typeform. :D

![Captura de Pantalla 2021-03-22 a la(s) 7.33.36 p. m..png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/6495e3

[2021-03-23 06:31] tamarandom commented on #351
Hey @jessicazartler yes, I would very much like to join the exploration conversation with you and Livia. 🙏🏼

As for this issue, I will close it as it is more specifically about their submitting a project proposal to the TEC.

[2021-03-23 06:57] Vyvy-vi commented on #554
That would be great-!

[2021-03-23 08:36] #184 closed

[2021-03-23 12:46] kristoferlund commented on #553
Now there is a repo for the "new" web. A few small things to polish up but mostly done!

https://github.com/TECommons/tec-web

[2021-03-23 13:32] tamarandom opened #556 "Subdomain on tecommons.org"
## 📋 Anything to add?

URL : swag.tecommons.org

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-23 17:05] baartch commented on #554
May I shortly tell my story about my first contact with the TEC? :) I found a link to the Commons Stack Simulator on twitter. Wow, this was awesome and I was very excited! Then, after the simulation, there was a link to the _CS dDEV_ Telegram channel, so I joined, and had no clue where I am and what it is about. I felt like I was climing someone else's fence in the backyard. I wasn't sure if I was

[2021-03-23 17:27] baartch commented on #551
I allow myself to mention here a relation to what I wrote on the other issue:
https://github.com/TECommons/coordination/issues/554#issuecomment-805072770
What seems important to me is, who does the TEC wants as new members? I would suggest to mention this explicitely on a Join page.

[2021-03-23 17:36] jessicazartler commented on #351
Maybe we leave it open? They MAY submit a proposal.. we can ask anyhow..

[2021-03-23 17:38] markoprljic commented on #419
@GriffGreen Just for the heads up :)

[2021-03-23 17:44] tamarandom commented on #195
Suggestion from the Comms call : the TEC Params presented by Vitor (pending confirmation)

[2021-03-23 17:58] markoprljic commented on #195
@marthendalnunes See above.

[2021-03-23 18:00] markoprljic commented on #551
Thanks so much, @baartch this is great feedback. We'll definitely think about it when preparing the content for that page. Feel free to drop more suggestions and ideas here :)

[2021-03-23 18:02] markoprljic commented on #554
Amazing feedback @baartch Thank you!

[2021-03-23 18:45] tamarandom commented on #512
@liviade1 Where is the best place for me to start filling sections related to each Working Group? One of these two places (see image below)? Or somewhere else?

 ![Screen Shot 2021-03-23 at 7.38.15 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/e65720d0-1c23-41c0-a84c-4cc25ed5170b)

[2021-03-23 20:01] freedumbs00 commented on #195
Yeah...  I can ask him too.

[2021-03-23 21:04] JuankBell commented on #300
Slides -> https://docs.google.com/presentation/d/17L90oBGdVHCCGAzdnGI7JM7Um9LqYIrBtExN-QOs36Y/edit?usp=sharing

Tweet:

Today, Wednesday 24th of march, at 12:15 EST / 17:45 CET. @bellcho will lead a Gravity workshop to the @MetaFam, all people is invited to know more about this project from the @Tecmns and promote Alternative Dispute Resolution as something relevant in decentralized communities!

[2021-03-23 21:17] jessicazartler commented on #11
Yes, after the token is live, this is a place to list :D Thanks Tam!

[2021-03-23 21:18] jessicazartler commented on #8
This was an idea from Humberto about having a TEC podcast - we could close this.... unless someone wants to start a podcast haha

[2021-03-23 21:26] tamarandom commented on #520
Going to present these two options on the Stewards call tomorrow to finalize a name decision.

https://github.com/TECommons/CultureBuild
https://github.com/TECommons/CommonsCulture

[2021-03-23 21:51] tamarandom commented on #554
Thank you @baartch for sharing your experience and recommendations. The good news is that only the truly dedicated, like you, make their way in. But we can do better. The even more good news is that we are onboarding an onboarding coordinator this week. We are aware that there is a gap here and that we would very much like to make the journey from TEC-curious to TEC-active-contributor as frictionl

[2021-03-23 21:57] tamarandom commented on #538
🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊
 ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️
    🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧
       🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊
           ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️ ❄️
              🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧 🍧
                 🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊  🧊

[2021-03-23 21:59] JuankBell opened #557 "Survey for Conflict Management in DAOs"
## 📋 Anything to add?

Make a survey to identify and map what are the biggest needs of DAOs in relation to conflict management. Why people might not feel comfortable reaching out to Gravity and how can we make it easier to participate. The result of that survey could help us to better define our offer of services and where to focus our attention. (i want to involve Zep and Dan.restorative for this

[2021-03-23 22:15] JuankBell commented on #543
Slides -> https://docs.google.com/presentation/d/17L90oBGdVHCCGAzdnGI7JM7Um9LqYIrBtExN-QOs36Y/edit?usp=sharing

Tweet:

Today, Wednesday 24th of march, at 12:15 EST / 17:45 CET. @bellcho will lead a Gravity workshop to the @MetaFam, all people is invited to know more about this project from the @Tecmns and promote Alternative Dispute Resolution as something relevant in decentralized communities!

[2021-03-23 22:18] tamarandom commented on #493
Here is my plate for Sprint 6. The Curate xls is the single source of truth but I will periodically drop updates here too.

![Screen Shot 2021-03-23 at 11.16.56 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/a7d9ae8e-ed6e-4a27-b29e-5c6dbe2ecca7)

[2021-03-23 22:19] tamarandom commented on #220
For Sprint 6, we will have @natenatesoo covering while @cranders1 enjoys a much deserved family vacation.

[2021-03-23 22:53] JuankBell opened #558 "Gravity easy step by step process"
## 📋 Anything to add?

Define better the Methodology for conflict management in gravity (I think we have framed a process, but it would be really good to present it as an easy step by step guide or illustration so that anyone can follow the same pattern and procedures of the group) (i want to involve Durgadas & Santi in this)

## ❓ Why is it important?

This are some of the graphics of the flow th

[2021-03-23 23:13] JuankBell opened #559 "Gravity outreach"
## 📋 Anything to add?

Building bridges with people that is allied to our work, and also potential communities that can benefit from our practice while helping us test and improve our system (I want to involve Livia and Jess in this)

## ❓ Why is it important?

- Gravity relations with other DAOs

	- Clients: Regenerative renaissance university, TEC, Commons Stack, Giveth, 1hive, Metagame, PrimeDA

[2021-03-23 23:22] JuankBell commented on #138
Created three (3) new issues to keep designing parameters and planning next steps for Gravity. That enables this one to get closed.

Survey for Conflict Management in DAOs #557 https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/tecommons/coordination/557

Gravity easy step by step process #558 https://app.zenhub.com/workspaces/tec-coordination-workspace-5f

[2021-03-23 23:22] #138 closed

[2021-03-24 00:19] jessicazartler commented on #309
Zargham is crazy busy trying to get him ASAP - Will record Jeff/I's interviews on Thursday 🙏

[2021-03-24 01:35] iviangita commented on #543
@JuankBell I revised it because Twitter has limited characters and also changed the graphic because the schedule doesn't match the time of the workshop. Let me know if this is good for you or if there's anything you want to change :)

TWEET:

Today March 24 12:15pm EST / 5:15pm CET, our Gravity steward @bellcho leads a Gravity workshop for @MetaFam and talks about Alternative Dispute Resolution as

[2021-03-24 01:48] iviangita opened #560 "TWEET: cadCAD bootcamp study group"
## 📋 Anything to add?

From @bvanderlugt:

Hi folks  I am working with ygganderson to kick off a beginner/foundational cadCAD study group for the TEC labs series starting April 2nd. The plan is to go through the cadCAD bootcamp material and have at least one guest demo/QA from the cadCAD academy instructors (maybe hold a session on an advanced topic aka "cadCAD hacks"). I did reach out to @iviangi

[2021-03-24 12:29] iviangita commented on #560
Hey @bvanderlugt, I revised the wording you sent me via Discord because Twitter has limited characters. I also created a graphic for it - we can add a photo of you or any cool image that will represent the topic :) Please check the draft below and feel free to edit or suggest any changes! 🙂

cc: @jessicazartler for other content edits :D

**Draft tweet:**

Looking for a group to begin your token e

[2021-03-24 13:38] ddan4 commented on #557
A couple lists of DAOs and a few case studies:

https://daobase.org/discover/
https://ecosystem.daoincubator.org/wiki/dao
https://daoresearch.dgov.foundation/network-governance/dao-case-study-research

Deadlines get things done, in my world. Left to my own devices I can certainly focus on this in the coming week, but with a sense of the urgency I could better arrange the rest of my world.

We coul

[2021-03-24 15:17] jessicazartler commented on #560
This is awesome!!!!!! Thank you Ivy & Blair - just changed the slide title a bit - otherwise, looking great and can't wait to join!

@bvanderlugt is this to go over Jonathan's course? If yes, for an image, I would screenshot something cool looking from the course would be great to have an image on here as now we have so many events - it would stand out more :D cheers!

[2021-03-24 18:42] markoprljic commented on #553
https://tec-web.netlify.app/

[2021-03-24 18:42] #553 closed

[2021-03-24 19:21] liviade1 commented on #484
**New Member**
- automatically assigned when someone joins the server
**Community Stewards**
 - Can give praise powers
 - delete messages from users
- mute mics
**Contributors**
**Subject Matter Experts**
**Gravitons**
- delete messages
- ban users
- mute mics
**Praise Givers**
**Admin**
- ban users
- create, delete and modify channels
- can give praise powers

[2021-03-24 19:41] Vyvy-vi commented on #499
![Screenshot 2021-03-24 at 6 29 24 PM](https://user-images.githubusercontent.com/62864373/112372969-74925780-8d06-11eb-9a3b-8ec163858d04.png)
update on the integration: I've been playing with Discord OAuth API and the server addition logic works. The only thing needed here is captcha. (also, added a basic [UI](https://tailwindcss.com/), for the looks :joy:)

Would [`hcaptcha`](https://www.hcaptcha

[2021-03-24 19:44] Vyvy-vi commented on #499
More info on the bots that got through:
Here's a screenshot of the message sent-
![Screenshot 2021-03-24 at 8 36 51 PM](https://user-images.githubusercontent.com/62864373/112373629-30538700-8d07-11eb-873a-80fc7adc13dd.png)

There were multiple bots like this, with the same name
![Screenshot 2021-03-24 at 8 43 37 PM](https://user-images.githubusercontent.com/62864373/112373775-59741780-8d07-11eb-9c

[2021-03-24 20:01] markoprljic commented on #499
This is a good case for @krisjpi ☝️

[2021-03-25 05:24] iviangita commented on #195
Has Vitor confirmed to present? :)

[2021-03-25 06:11] tamarandom commented on #195
There is a 90% chance. Let’s put it in the Agenda and we can take out last minute if not. The new Giveth.io is plan B.

[2021-03-25 06:39] markoprljic commented on #310
Hey @mount-manu just checking in to see how you're progressing with the video. Let me know please.

[2021-03-25 06:41] markoprljic commented on #480
@freedumbs00 @GriffGreen Is Vitor going to record the walkthrough? What is the final decision about this?

[2021-03-25 06:47] markoprljic opened #561 "Update Gitbook with WG Information"
All Stewards please update Gitbook WG sections with information about each WG.
Don't stop there! Update other info you see that needs to be added to the Gitbook.

https://app.gitbook.com/@token-engineering-commons/s/tec-handbook/

Once you're done please remove yourself as an assignee from this issue and leave a comment to inform others.
Thanks!

[2021-03-25 06:59] tamarandom commented on #561
Hey @markoprljic ! Appreciate your enthusiasm but have you engaged in advice process with @liviade1 on this yet? She and I have started the conversation about what WG content should be in Gitbook versus Forum, and then where it would go. It would be best to continue to allow her to manage this so that it can be done in a more organized fashion.

I'm going to close this issue as that task is covere

[2021-03-25 06:59] #561 closed

[2021-03-25 07:06] markoprljic commented on #561
Perfect then. Wasn't aware of the discussion you had.
Thanks.

[2021-03-25 12:08] mount-manu commented on #310
@markoprljic Still editing and waiting on some final interviews to come my way. It's gonna be a tight fit for this sprint but I anticipate that by late next week I'll have a solid first iteration. After that, incorporating the feedback into a 2nd version with some final polishing edits will go into next sprint.

[2021-03-25 12:10] markoprljic commented on #310
Thanks for the update Manu.

[2021-03-25 15:53] freedumbs00 commented on #195
Vitor is presenting.

[2021-03-25 15:54] freedumbs00 commented on #195
closing issue

[2021-03-25 16:58] JuankBell commented on #194
Present this offboarding process for advice before posting on forum -> https://docs.google.com/document/d/1Hs1qJ-vn5Cbb8WINV1kpVz7okBvo4VJ87Dhz0XsQ8RI/edit?usp=sharing

[2021-03-25 17:08] Vyvy-vi opened #562 "Discussion on Multiple-ban bot, the recent bot-attacks, and the Auth site"
## 📋 Anything to add?
This issue comes from #499 and #484
This issue is sort of a culmination of the spam/scam bot issues, and prevention methods relating to that.

Q) Why a new issue?
Issue #499 could have been fine for this, however, the purpose of that issue, was to research on improving Onboarding Experience, but the current concern in this issue(#562) is regarding-
- Prevention of Spam/Scam B

[2021-03-25 17:46] Vyvy-vi commented on #484
There is a special consideration needed for the new bot(the one that can ban multiple users) and the power permissions to be given to the bot, as well as the people who could use the bot.
@JuankBell @liviade1 Their is a new issue regarding some of the security discussions needed for the bot - #562

[2021-03-25 19:29] JuankBell commented on #557
main goals, brainstorm

[2021-03-25 20:23] tamarandom commented on #463
@iviangita @Zeptimus Finished the second round of editing. Please have a look!

[2021-03-25 20:23] jessicazartler commented on #521
Heya @markoprljic I am not sure where to add this - couldn't find the other issue with the updates on CTAs I had written, but can you please add one more thing -- from @GriffGreen from Sebnem

Can we please add Freelio as partner? TE specific https://freeel.io/workshops

[2021-03-26 11:19] iviangita opened #563 "Praise bot issue - apostrophes"
## 📋 Anything to add?

Praise bot doesn't recognize my praise with apostrophes

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/de60d7b5-fff2-42d8-89c4-a25d80a90ce8)

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-26 12:16] tamarandom opened #564 "Access to TEC Twitter DMs"
## 📋 Anything to add?

@jessicazartler (or maybe @Zeptimus?)

Can one of you give @iviangita access to the TEC Twitter DMs? She is not able to access them at the moment. ;(

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-26 12:34] Zeptimus commented on #564
I can support her, the only thing we need its to get her on Keybase :D

[2021-03-26 14:16] Vyvy-vi commented on #484
The roles have been set up-!
The `New Member` role is auto-assigned to everyone on joining(it can be removed by `stewards`, `gravitons`, `Admins`)
Moreover, 3 more roles have been made-
`Can Edit Server` - This is for cases when Stewards or a Working Group needs to make a new channel or tweak the server a bit. (Can be assigned by `Admins`)
`Can Ban` - This allows use of the multi-ban bot(`TEC Auto

[2021-03-26 14:39] tamarandom opened #565 "Youtube page"
## 📋 Anything to add?

Is it possible to order the videos so that the NEWEST one is on the top of the list? Right now the first video on the playlist are the oldest ones. It would be great is the newest one is the first to play when someone goes to the playlist.

![Screen Shot 2021-03-26 at 3.37.20 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/b2d3a830-6463-4c98-b69a-9389b2

[2021-03-26 15:01] Zeptimus commented on #565
Yeah the logic behaind it was first things firts but i agree it is not a tv show we dont have to start from the oldest one :D, ill fix it during the day :)

[2021-03-26 15:42] Zeptimus commented on #565
Done!

[2021-03-26 15:42] #565 closed

[2021-03-26 15:51] Zeptimus commented on #463
Thanks Tam!! u're the best :D lets try to get it publish today @iviangita if its not to late for you

[2021-03-28 12:49] Vyvy-vi commented on #499
Update on the site:
A development version of it is deployed at https://tec-discord-oauth2.vyvyvi.repl.co/

This uses [hCaptcha](https://www.hcaptcha.com/) and requires two things from user-
1. Login via discord on the site
2. Submitting captcha
-> click 'Join' and be added to the server.

The captcha is set as Moderately hard. If needed, I think it could be made harder/easier
![Captcha difficulty

[2021-03-28 15:28] markoprljic commented on #499
@Vyvy-vi Great job! Thanks man.

For the deployment, we discussed to create a new page (Join the Community) on TEC Website and have the Discord option and link there. So I assume we're going to deploy it there, and maybe @kristoferlund can jump in here as he's going to implement it.

I'm still waiting for the content for that Join page, or I'm gonna draft something next week and we take it from th

[2021-03-28 16:09] Vyvy-vi commented on #499
I can set up the bot application, for monitoring the invite links(as discussed in the call with griff). However, I need some info on how to move forward with the bot: Should it delete any invite link, that has a use limit of more than 1?

Setting up this site on netlify(along with the main site) might need to change the current version up a bit, I think.
But most of the API calls should remain the

[2021-03-28 18:17] freedumbs00 opened #566 "Forum posts for Impact hour slope and description"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-28 18:34] #524 closed

[2021-03-28 18:34] freedumbs00 commented on #524
Finished.  Closing issue

[2021-03-28 22:50] freedumbs00 commented on #566
Issue has been updated on the Forum and explained.  Closing issue

[2021-03-28 22:50] #566 closed

[2021-03-29 04:24] iviangita opened #567 "TWEET: Mission, Vision and Values TokenLog Session!"
## 📋 Anything to add?

https://forum.tecommons.org/t/mission-vision-and-values-tokenlog-session/296

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@markoprljic @liviade1

## 🔗 Work doc - inspirational links

[2021-03-29 04:26] iviangita opened #568 "TWEET: Call Recorders and Comms Contributors"
## 📋 Anything to add?

- [x] Volunteers wanted for Transparancy WG // Recorders
- [x] Volunteers wanted for Communications WG // Project Managers, Writers, Editors, Social Media managers

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@markoprljic @tamarandom

## 🔗 Work doc - inspirational links

[2021-03-29 04:28] iviangita commented on #568
Call recorders:

https://twitter.com/tecmns/status/1375432457441341440?s=20

[2021-03-29 04:43] iviangita commented on #568
Draft for Comms - for editing/review please :)

Wordsmiths, WE WANT YOU! We’re looking for writers, editors, social media managers and project managers to support our content production & distribution 📝📣

Share your skills with us & help us advance token engineering!

To volunteer, DM our Communications Steward @markop 📩

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/2

[2021-03-29 05:47] iviangita commented on #560
Thanks @jessicazartler! I revised the tweet and the graphic and added them in this [document ](https://docs.google.com/document/d/1EbkDoObU8tJrRwjrqYxyJ8nrD635Es_i272d2fVWFpk/edit?usp=sharing)- feel free to suggest edits. If these are okay, I'll proceed and publish them once @bvanderlugt confirms the schedule :D

[2021-03-29 06:56] iviangita commented on #567
DRAFT:

TEC has evolved immensely since day 1 of our Cultural Build. Collaborate with us as we revise our mission, vision and value statements using TokenLog! 🗝️📜

Your insights are important to us 💡

Know more here: https://forum.tecommons.org/t/mission-vision-and-values-tokenlog-session/296

[2021-03-29 08:43] markoprljic commented on #568
Great @iviangita Push the button :)

[2021-03-29 12:52] GriffGreen opened #569 "Hand-off the Twitter 2-FA"
## 📋 Anything to add?

Help! We need easier access to the twitter account, can we make a sesh to pass off the 2-fa?

@markoprljic can you help make this happen? I don't know who wants to have the 2-fa... but it should be someone in the Stewards group.

## ⏰ Urgency/Due Date/Blockers?

this week

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspira

[2021-03-29 13:15] Zeptimus opened #570 "Discord bot to record the calls of the community"
## 📋 Anything to add?
@iviangita
https://top.gg/bot/pawa
https://top.gg/bot/craig

Those bots only record audio, one of them its open-source, but using a non standard language

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-29 13:18] Zeptimus commented on #570
@chuygarcia92

[2021-03-29 14:19] Zeptimus commented on #569
I can step in here if u guys want, my telegram dms arent scary for now :p but the important thing when sharing phone number, its people engage with keybase.

[2021-03-29 15:20] Vyvy-vi commented on #484
It would still be nice to have the incubator role tho so stewards can know who are the new people that might need help with onboarding.

@liviade1, In what time-frame, should the `New Member` ('incubator') role be removed by the bot?
I think a few weeks should be good or maybe more

[2021-03-29 15:57] jessicazartler opened #571 "Change auto image for Forum"
## 📋 Anything to add?

On Twitter, the Forum image card that automatically pops up for forum links is not super great, would be awesome if we can change it to a nicer image

You can check the image here https://cards-dev.twitter.com/validator or see below

Thank you for all your hard work!

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

[2021-03-29 16:48] jessicazartler commented on #560
It's perfect - so cute the image! Thank you so much, looks AWESOME!

[2021-03-29 20:03] divine-comedian opened #572 "Create Teams to simplify tagging in github issues"
Following the discussion between @markoprljic  @natenatesoo  and I today we have begun refining the process for our content distribtution, focusing on the zenhub board -https://github.com/TECommons/content-distribution/issues

Creating Teams within the TEC organization will help us to keep things moving down the pipelines, the idea is being able to tag entire working groups to review or add commen

[2021-03-29 21:21] freedumbs00 commented on #373
https://docs.google.com/document/d/1szNUKI7O89yA4vKpfLC_eEMozIJZJZBpUAz6Y4hARL8/edit#

Closing issue

[2021-03-29 21:21] #373 closed

[2021-03-29 21:32] kristoferlund commented on #499
@markoprljic, would the discord bot stopper/onboarder have to live on the actual /join page?

It could also live as a standalone landing page on a separate subdomain, for instance: discord.tecommons.org. Then we wouldn't have to migrate your code to React @Vyvy-vi. Maybe just add a bit more TEC styling and a header / message to give some context.

[2021-03-29 22:01] freedumbs00 commented on #480
I made the video.  Zep it adding to the TEC Youtube

[2021-03-29 22:01] #480 closed

[2021-03-29 23:08] jessicazartler commented on #560
@iviangita @bvanderlugt I also added it to the TE, CS, cadCAD public calendars :D

[2021-03-29 23:55] freedumbs00 commented on #550
Finished the IHT Token Audit.  But will need to again and verify once we are close to actually making then non transferable and of value.

[2021-03-29 23:55] #550 closed

[2021-03-29 23:56] freedumbs00 commented on #380
Tokens Minted and dished

[2021-03-30 09:40] markoprljic commented on #499
Nope, doesn't have to be on tec site @kristoferlund we can just style @Vyvy-vi  page.

[2021-03-30 10:24] tamarandom commented on #559
Hey @JuankBell I'm leaving this issue assigned to you but taking the other off. One issue = one person assigned. This way it's you that is responsible for making sure the work gets done and use advice process to make sure it gets done right with the help of the rest of our team. 🙏🏼⚡️

[2021-03-30 10:30] tamarandom commented on #571
This would be great @jessicazartler !

@freedumbs00 Can you take ownership of this one? I took @iviangita off as an assignee so we stick to the one issue = one person responsible to ensure it gets done.

[2021-03-30 10:35] #567 closed

[2021-03-30 10:37] #463 closed

[2021-03-30 10:37] iviangita commented on #463
Closing! Thanks everyone!!! :D

https://medium.com/token-engineering-commons/transparency-in-daos-999b17b0ff74

[2021-03-30 10:42] #560 closed

[2021-03-30 10:42] iviangita commented on #560
@jessicazartler thank you! will add the cal link to the repeating tweet :)

Closing this one as the announcement was already out: https://twitter.com/tecmns/status/1376605576596103174?s=20

[2021-03-30 10:47] tamarandom commented on #532
SWAGTEC is born!
Contract address : 0xB7791afC1ea3ec3d12b86Bc19711a63DA5096806

[2021-03-30 10:47] #532 closed

[2021-03-30 10:51] tamarandom commented on #530
The kindly @krisjpi took care of this!
http://swag.teccommons.org (Note that you won't see anything until the storefront is setup).

[2021-03-30 10:51] #530 closed

[2021-03-30 11:03] markoprljic commented on #569
@Zeptimus Can I reasign this one to you then?

[2021-03-30 11:03] markoprljic commented on #571
@freedumbs00 I pushed Marketing folder with graphic assets to the branding repo https://github.com/TECommons/tec-branding-assets

You can grab the Open Graph image from there and update the forum preview image.

[2021-03-30 11:15] markoprljic commented on #572
Excellent!

[2021-03-30 11:30] tamarandom commented on #501
Started onboarding Katy this Sprint! This will be her top priority.

In the mean time, we can go back to this [Contributor Tracker](https://docs.google.com/spreadsheets/d/1DRSPA9RwuTM4UCtFLF7UYq-ORZxItmy9y7XROmiXpbM/edit#gid=0) that was started a while ago. It has all the basics.

I added the following 4 columns though in preparation for matching open pieces of work with contributor skill sets.

-

[2021-03-30 11:30] #501 closed

[2021-03-30 11:36] tamarandom commented on #493
This was a very active week - 8 over the last week alone. Preparing another batch to reach out to in order to setup new sessions on the calendar!

[2021-03-30 11:41] Zeptimus commented on #569
Yes, if i have any problem ill let you know on comms meeting today :)

[2021-03-30 11:50] Zeptimus commented on #569
ok we can close this issue i deleted the  old phone number and added google authentificator i have the code it would cool if more people held it in case my phone get lost or something. Ill update this information on the keybase pinned missage

[2021-03-30 11:50] #569 closed

[2021-03-30 11:50] markoprljic commented on #569
Awesome!

[2021-03-30 11:55] tamarandom commented on #520
The Stewards decided on https://github.com/CommonsBuild

Hey @Vyvy-vi ! Just want to let you know that you were right about the automatic redirection. There are some noted exceptions though. I'm just going to c&p the jist of it below:

What happens when I change my organization's name?
After changing your organization's name, your old organization name becomes available for someone else to claim.

[2021-03-30 13:01] tamarandom commented on #520
If I understand correctly, only links that directly link to the profile page will 404.  So, this https://github.com/TECommons
And all the links to repositories will redirect. AFAIK, we don't link to the org page anywhere though once I make this change we will find out.

Planning to do it tomorrow morning, 9am CET. Wish us luck!

[2021-03-30 13:34] jessicazartler commented on #559
@JuankBell thank you for this, I would also say this looks more like an epic that would have particular tasks as issues. Let us know if you have anything in mind.. perhaps it would be good if you can start a tracking sheet for Gravity partnerships/trainings/connections with these groups - that could be a first issue. And then you could ask for contributors, or myself and Livia to support specific

[2021-03-30 14:08] jessicazartler commented on #560
Awesome thank you! :D Nice!!!

[2021-03-30 15:53] divine-comedian opened #573 "create forum post explaing voting on token log and quadratic voting"
Write explanation of quadratic voting and how members voting and voting power works on tokenlog

- call to action for mission vision and values proposal campaign
- call to action for hatch dao params proposals

[2021-03-30 16:16] jessicazartler opened #574 "Promote Comms call one hour before in Discord & Praise attendees"
## 📋 Anything to add?

Promote Comms call one hour before as a reminder on Discord and follow up right after the meeting to praise attendees

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ] Update graphic with date
- [ ] Post message in TEC general channel
- [ ] Praise Comms WG call attendees

## 🤼‍ Reviewer

@tamarandom

## 🔗 Work doc - inspirational links
https:/

[2021-03-30 18:20] tamarandom commented on #195
Another week, another Thursday community call. ;)

cadCAD EDU <-- can't do this week but another one, possibly.
giveth.io <-- our last resort option.

[2021-03-30 18:49] tamarandom commented on #531
Our dev that has been handling the Origin Protocol frontend for us has become highly involved in another project that's consuming all his cycles at the moment. He promises he can still do it but I am not 100% sure we will be able to finish this Sprint.

The time constraint with this is having it ready before the Hatch so there is really no need to push it too hard as the urgency is low.

[2021-03-31 06:17] iviangita commented on #426
@Zeptimus new videos for end screens :)

For Community Calls:

https://www.youtube.com/watch?v=8JXJXw1az-w
https://www.youtube.com/watch?v=V8EvvQs3wCA
https://www.youtube.com/watch?v=03HQCF12Qeg
https://www.youtube.com/watch?v=uZWR23QBOgA

For TEC Labs and Commons Swarm:

https://www.youtube.com/watch?v=7w6SMAcpnnQ

[2021-03-31 07:03] Vyvy-vi commented on #499
Should the styling match http://tecommons.org/ ?

[2021-03-31 11:51] markoprljic commented on #499
Yes.

[2021-03-31 11:58] markoprljic commented on #574
Thanks Jess, I'm also assigning @chuygarcia92 to this issue as he'll be helping us with PM in Comms.

[2021-03-31 12:46] Zeptimus commented on #426
done :D

[2021-03-31 14:17] jessicazartler commented on #574
Awesome!! Thank you both!!! :D

[2021-03-31 14:27] tamarandom commented on #220
Published! Confetti, confetti!
https://medium.com/token-engineering-commons/tec-mission-vision-and-values-introducing-1st-gen-gravitons-a4822eb6d769

[2021-03-31 14:31] tamarandom commented on #505
Hey @freedumbs00 Do you have higher rez images that the batch that threw a warning in the printful design tool? The store is ready for your l33t design skillz.

[2021-03-31 14:35] tamarandom commented on #484
Hey @Vyvy-vi you never cease to amaze!

My input would be that we keep it simple.

Let's say 5 weeks knowing 1) we can always change if need be and 2) we can add/remove the role manually for edge cases.

[2021-03-31 14:37] tamarandom commented on #36
An excellent piece!
https://forum.tecommons.org/t/mission-vision-and-values-tokenlog-session/296

[2021-03-31 14:40] tamarandom commented on #64
Hey @eduardovegap Can you share the latest on this one?

[2021-03-31 14:49] tamarandom commented on #194
Hey @JuankBell I think it is well thought out and well written. I left my feedback in the doc! 🙏🏼

[2021-03-31 15:05] divine-comedian opened #575 "Design Criteria for CDP Content Selection Process"
We need to make some guideline documentation for the metrics by which we would choose or choose not to approve an idea or requested content to be written.

Recognizing this will be a constantly evolving set of criteria but it's good to get some stuff on paper!

[2021-03-31 15:07] divine-comedian opened #576 "Create Template for Ideas and Requests on CDP"
nate has already made a pretty good template that we can plug in

suggestions and modifcations welcome. https://docs.google.com/document/d/1wdLEpfVIpcm6w1PdglyY0V2R_6s5E-lIiuWuUoyXIvo/edit

[2021-03-31 15:11] markoprljic commented on #575
Maybe a checklist we can run through that is embedded in the issue template? Still, criteria to be defined and I may not be the best person to define those :/

[2021-03-31 15:33] freedumbs00 commented on #537
@GriffGreen  Lets fucking do this

[2021-03-31 15:49] Zeptimus commented on #528
Audit its done, @freedumbs00 its going to add it  to advice process and we can close this issue

[2021-03-31 15:49] JuankBell commented on #543
The presentation went well, thanks everyone who made it possible, the Metagame crew, Jess, Tam, Ivy, Metaverde.
The video has been uploaded in the Metamedia youtube.
This were the slides.
https://docs.google.com/presentation/d/17L90oBGdVHCCGAzdnGI7JM7Um9LqYIrBtExN-QOs36Y/edit#slide=id.gc799d5c135_2_767

[2021-03-31 15:49] #543 closed

[2021-03-31 15:50] Zeptimus commented on #529
Audit its done, @Santigs its going to add it  to advice process Friday morning (CET) and we can close this issue

[2021-03-31 15:55] tamarandom commented on #195
Hey @eduardovegap I'm going to close this issue as we moved to tracking it in the Community Stewards call. If we need to open another one later to have a single person drive it, we can. It might even make more sense to add it to the Hatch Outreach weekly since that's where we will have the most knowledge about the projects we are reaching out to!

[2021-03-31 15:55] #195 closed

[2021-03-31 16:13] JuankBell commented on #545
I reached out to Chuy! we talked a bit about Gravity and the idea of collaborating with the 1hive community.
We scheduled a hack session for monday 5th april, after transparency Wg sync : )

[2021-03-31 16:39] jessicazartler commented on #220
WHOA! SMASHING job @natenatesoo !!!!!! It is a masterpiece!!!

[2021-03-31 16:47] #541 closed

[2021-03-31 17:06] #540 closed

[2021-03-31 17:07] liviade1 commented on #540
We have decided to reach out to each proposal right after the hatch and ask them to update it before submitting to the commons. This will lower confusion and overhead

[2021-03-31 17:14] GriffGreen commented on #374
80% Got Soft commits from
Lorelei
David HQ
Zargham
Eden

Wasnt able to get commits from Owocki or Cassady... but will follow up

[2021-03-31 17:18] #536 closed

[2021-03-31 17:23] ddan4 commented on #557
I've compiled this issue in a google doc and came up with some questions about its scope, in advance of a meeting between @JuankBell @Zeptimus and I, at the top of the hour.

### Who are we distributing this survey to?
a. Which Orgs and at what level of the org?
  - as seen by organizers?
  - as seen by entrants?
  - as seen by observers?

b. By which channels?
  - Discord
  - Telegram
  - Email

[2021-03-31 17:26] liviade1 commented on #484
Hey @Vyvy-vi amazing work with the roles 😍 thanks so much
Is it possible for us to have a "time spent in the server" as a parameter?
If so, it would be nice to have like 40 hours
Otherwise 5 weeks should be fine.

[2021-03-31 17:28] liviade1 commented on #562
@krisjpi might have some insights here

[2021-03-31 17:28] #36 closed

[2021-03-31 17:30] jessicazartler opened #577 "Identify potential hatchers & connect with Hatcher Outreach"
## 📋 Anything to add?

Go through my partnerships list & friends to identify and cross-reference with Tam if they have joined the TS, onboard them to TEC hatch

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [x] ID potential hatchers, group onboardings
- [ ] Create msg template & list
- [ ] Send messages & add Tam to group chats as appropriate
- [ ] Schedule & attend

[2021-03-31 17:31] divine-comedian commented on #573
1st draft submited for review - https://docs.google.com/document/d/15N_8SHDGW0mDq-EB3hTADt6RF9CYu9tNZOTvfKZ9YMI/edit

[2021-03-31 17:34] jessicazartler commented on #577
Sorry @tamarandom can you remind me where we are tracking hatchers? Would love to look at the list, add names/projects and talk to you about creating a msg template to send around - could we do a 15-30min kickoff call to sync on this? OR I can start the list and give you all the handles..

[2021-03-31 17:41] JuankBell commented on #557
Thanks @tam @zep and @ddan4.
This is the first document i have been working on, using some of the input taken from last week's Gravity working group. We wil have a small hack session today Wednesday 31th after stewards sync. (in 20 mins from this post, sorry for the small time for the invite)
https://docs.google.com/document/d/1NavAVn0ipiSsfFAv6SOG89tJp1ihNNzpMEAY-YmXc2c/edit?usp=sharing

[2021-03-31 17:43] jessicazartler commented on #309
FINALLY got Z yesterday! Will upload the video to our raw interviews folder, interviewing Jeff/me today so that is it for intvws from me!

[2021-03-31 17:45] jessicazartler commented on #292
Finished the draft!!! https://docs.google.com/document/d/1yfAbB7-lKDjXXciGuHUr1vbPsTikhdMAxNFg8g1Ihac/edit
Requested reviews

[2021-03-31 17:46] jessicazartler commented on #517
I need to catch back up with Shermin, I had suggested she wait a bit until the hatcher content is fleshed out a bit more.. but will continue this and check in with her now - also, she requested being invited to the Comms meetings so I will send her a calendar invite for that to join next week

[2021-03-31 19:26] natenatesoo commented on #575
@divine-comedian ....After putting some thought into this, I think it's important to ask where approval is actually needed?  If we look at the sources for our content, we have internal content that is created on behalf of Working Groups to achieve a communication goal, and we have external content that can be submitted to re-enforce our communication goals.

The external content doesn't need appro

[2021-03-31 19:31] tamarandom opened #578 "Discord bot for WG Weekly meeting announcements"
## 📋 Anything to add?

Bounced this idea off @Vyvy-vi  for a feasibility check. It's possible to have a discord bot post the WG graphic announcement one hour before the weekly meeting in the WG channel. Winning!

This piece of work is to pull together the assets and schedule to be used.
There will also be a second piece of work for @Vyvy-vi to have the bot setup, to come.

## ⏰ Urgency/Due Date/Bl

[2021-03-31 19:52] natenatesoo commented on #575
We can still maintain our pipeline for Ideas & Requests, but I suggest that Working Groups should be conscious of their messaging needs and use that pipeline as a source of inspiration for content ideas to be produced.  We should make sure that all issues within the ideas & requests pipeline are properly tagged with the relevant working group(s) upon submission, so relevant WG members can collecti

[2021-03-31 20:10] divine-comedian commented on #575
Yeah that makes lots of sense. I think it's a lot easier to ask WGs to self-manage than to find another group to shoulder that. I do think given your suggestions it would be good to have a couple housekeepers just to keep the board functional. making sure things are in the right pipeline, right tags and following up with idle issues to keep them moving.

[2021-03-31 20:12] tamarandom commented on #577
We synced already but for the purpose of having these docs always handy

TEC Curate list
https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=0

TEC Hatch deck
https://docs.google.com/presentation/d/1itLeveA9vXmaN9hXVVELZ_i4oFklr8RZpSxE1E1Vhqc/edit#slide=id.gc048f8b484_1_122

Hatch Outreach "script" (this includes that initial outreach message)
https://docs.

[2021-03-31 20:14] tamarandom commented on #574
Automating this should make it into the new sprint. #578

[2021-03-31 20:24] tamarandom opened #579 "Tamara to create a proposal for Mission Vision Values"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-31 21:18] jessicazartler commented on #577
You da, you da bestttttt

[2021-03-31 22:04] Vyvy-vi commented on #484
40 hours can be set up :+1:

[2021-04-01 05:59] markoprljic commented on #499
@Vyvy-vi Maybe we can use the section How to contribute from this post and pin in the welcome message on Discord for new joiners https://forum.tecommons.org/t/5-how-to-join-contribute/98

[2021-04-01 06:49] Vyvy-vi commented on #499
I'll add it to the bots message :+1:

[2021-04-01 08:01] tamarandom commented on #520
The TEC Github organization name has changed!

Repository links are automatically updated BUT any links directly to the organization name and subdirectories that are not repositories will need to be updated. **If you are using local repositories, you will have to update those**! No change for Zenhub as it links directly to repositories.

https://github.com/CommonsBuild

(Formerly https://github.co

[2021-04-01 08:01] #520 closed

[2021-04-01 13:46] divine-comedian commented on #573
forum post has been published - https://forum.tecommons.org/t/tokenlog-and-quadratic-voting-rock-the-vote/317

[2021-04-01 13:46] #573 closed

[2021-04-01 16:08] liviade1 commented on #484
perfect! thanks!!

[2021-04-02 10:45] tamarandom commented on #377
Hello @mount-manu ! Will you please drop an update in here. We're going to do our Sprint Planning tonight and it will be helpful to have a status. 🙏🏼

[2021-04-02 10:47] tamarandom commented on #64
Hello @eduardovegap ! This is assigned to you but it's @mount-manu that is taking this on, right? I want to confirm before swapping it over to him.

[2021-04-02 10:49] markoprljic commented on #554
@Vyvy-vi Will add links to get started to the Discord onboarding channel.

[2021-04-02 10:52] tamarandom commented on #525
Update : this piece has gone through an edit by @GriffGreen and is now going through a revision by @eduardovegap. Not ready for distribution yet but hopefully soon. 🌺

I've modified the title to reflect it's a revision (not distribution) issue and changed ownership to @eduardovegap so it's on his workload of this Sprint.

[2021-04-02 10:53] markoprljic opened #580 "Website updates"
## 📋 Anything to add?
Join page
Add Freelio partner
Other updates

## 🔗 Work doc - inspirational links

Issues created in this repo https://github.com/CommonsBuild/tec-web/issues/labels#workspaces/tec-website-development-6059f92fa00532000e04ceb3/board?repos=350109793

[2021-04-02 10:53] tamarandom commented on #64
Hey @mount-manu  - @eduardovegap signaled this is yours, so swapping the ownership to you.

[2021-04-02 10:57] tamarandom commented on #525
Actually, there is already #418 open for the editing process. Closing this one to keep things simple.

[2021-04-02 10:57] #525 closed

[2021-04-02 11:00] tamarandom commented on #491
Hey @natenatesoo @markoprljic Will you drop an update in this issue so it's clear to all where we are and what are the next steps? 🌸

[2021-04-02 12:08] tamarandom commented on #442
Closing this one!

We can revisit this at a later date but the high priority need is resolved by onboarding Katy as onboarding coordinator.

[2021-04-02 12:08] #442 closed

[2021-04-02 13:11] GriffGreen opened #581 "Need to change the icons and links in github to be Commons Stack not TEC"
## 📋 Anything to add?

![Screen Shot 2021-04-02 at 8 10 15 AM](https://user-images.githubusercontent.com/14945613/113418368-a3bf5d80-93c5-11eb-9d79-014ddb13ee4a.png)

## ⏰ Urgency/Due Date/Blockers?

this sprint

## ❓ Why is it important?

legal

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 13:15] GriffGreen opened #582 "CDD - ABC - Brainstorm"

[2021-04-02 13:16] GriffGreen opened #583 "CDD - ABC - Spec"

[2021-04-02 13:16] GriffGreen opened #584 "CDD - ABC - Dev (lots of work here!)"

[2021-04-02 13:16] GriffGreen opened #585 "CDD - ABC - QA"

[2021-04-02 13:16] GriffGreen opened #586 "CDD - ABC - Forum posts defining params"

[2021-04-02 13:19] Vyvy-vi commented on #554
Should these be added to the bot's message?

[2021-04-02 13:23] GriffGreen opened #587 "Commons Design Dashboard - ABC"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 13:24] GriffGreen opened #588 "CDD - Lockup - Brainstorm"

[2021-04-02 13:25] GriffGreen opened #589 "CDD - Lockup - Spec"

[2021-04-02 13:25] GriffGreen opened #590 "CDD - Lockup - Dev (lots of issues)"

[2021-04-02 13:25] GriffGreen opened #591 "CDD - Lockup - Forum posts"

[2021-04-02 13:25] GriffGreen opened #592 "CDD - Lockup - QA"

[2021-04-02 13:25] GriffGreen opened #593 "Commons Design Dashboard - Lockup"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 13:26] GriffGreen opened #594 "Commons Design Dashboard - CV"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 13:27] GriffGreen opened #595 "CDD - CV - Brainstorm"

[2021-04-02 13:27] GriffGreen opened #596 "CDD - CV - Spec"

[2021-04-02 13:27] GriffGreen opened #597 "CDD - CV - Dev (lots of work)"

[2021-04-02 13:27] GriffGreen opened #598 "CDD - CV - Forum Posts"

[2021-04-02 13:27] GriffGreen opened #599 "CDD - CV - QA"

[2021-04-02 13:28] GriffGreen opened #600 "CDD - Celeste - Brainstorm"

[2021-04-02 13:28] GriffGreen opened #601 "CDD - Celeste - Spec"

[2021-04-02 13:28] GriffGreen opened #602 "CDD - Celeste - Dev (lots of work)"

[2021-04-02 13:29] GriffGreen opened #603 "CDD - Celeste - Forum Posts"

[2021-04-02 13:29] GriffGreen opened #604 "CDD - Celeste - QA"

[2021-04-02 13:29] GriffGreen opened #605 "Commons Design Dashboard - Celeste"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 13:30] GriffGreen opened #606 "CDD - dV - Brainstorm"

[2021-04-02 13:30] GriffGreen opened #607 "CDD - dV -Spec"

[2021-04-02 13:30] GriffGreen opened #608 "CDD - dV -Dev (lots of work)"

[2021-04-02 13:30] GriffGreen opened #609 "CDD - dV -Forum Posts"

[2021-04-02 13:30] GriffGreen opened #610 "CDD - dV -QA"

[2021-04-02 13:30] GriffGreen opened #611 "Commons Design Dashboard - dVoting"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 13:34] iviangita commented on #568
Done! Closing!

[2021-04-02 14:00] markoprljic commented on #554
Yes, and meybe it wouldn't hurt to add them in start here channel permanently.

[2021-04-02 14:10] markoprljic commented on #581
Done. I put it on a dark background to distinguish it from the Commons Stack repo.

![Image 2021-04-02 at 4 09 56 pm](https://user-images.githubusercontent.com/5704285/113422989-fe5cb780-93cd-11eb-9378-cd5f7857a943.jpg)

[2021-04-02 14:10] #581 closed

[2021-04-02 15:19] iviangita commented on #529
Closing! Posted on the forum:

https://forum.tecommons.org/t/legal-working-group-audit/319

[2021-04-02 15:19] #529 closed

[2021-04-02 15:22] iviangita opened #612 "Update the transparency audits from Soft Gov, Hatcher Outreach and Gravity WGs"
## 📋 Anything to add?

Looping @iviangita

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ] Soft Gov
- [ ] Hatch Outreach
- [ ] Gravity

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 15:25] tamarandom opened #613 "Proposal Squad kickoff"
## 📋 Anything to add?

From our last retrospective... forming this squad to devise the procedures to do outreach to Projects/Proposals.
Main task here : to have the kickoff session.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 15:30] tamarandom opened #614 "How to outreach to proposals"
## 📋 Anything to add?

Answering these questions, among others :
- what is the best way to communicate the TEC to these projects
- develop script or deck to have a common, unified message
- create list of additional links/materials to share
- follow-up and tracking progress of the projects

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

[2021-04-02 15:33] tamarandom commented on #577
🦋 🐝

[2021-04-02 15:42] tamarandom opened #615 "Jess / Proposal squad outreach"

[2021-04-02 15:42] tamarandom opened #616 "Jake / Proposal squad outreach"

[2021-04-02 15:42] tamarandom opened #617 "Eduardo / Proposal squad outreach"
Native
crcl.fund
B4H Awards

[2021-04-02 15:42] tamarandom opened #618 "Metaverde / Proposal squad outreach"

[2021-04-02 16:10] tamarandom commented on #497
Update : Can these two xls tracking proposals / projects be merged into one?

[2021-04-02 16:11] tamarandom commented on #523
Update : Testing the process that was created.

[2021-04-02 16:20] tamarandom commented on #309
@jessicazartler Close this then??

[2021-04-02 16:20] tamarandom commented on #554
Update : Closed by Marko.

[2021-04-02 16:20] #554 closed

[2021-04-02 16:21] tamarandom commented on #292
Update : In review process

[2021-04-02 16:24] tamarandom commented on #518
Update : done by @divine-comedian & closing!

[2021-04-02 16:24] #518 closed

[2021-04-02 16:35] tamarandom commented on #390
Update : too early! We are reviewing and testing. Then a decision will be made about whether or not to use it. Closing!

[2021-04-02 16:35] #390 closed

[2021-04-02 16:39] tamarandom commented on #549
Update : closing!

[2021-04-02 16:39] #549 closed

[2021-04-02 16:42] GriffGreen commented on #374
Got one from Gus!

[2021-04-02 16:43] #523 closed

[2021-04-02 16:44] tamarandom commented on #538
!!!! Closing!

[2021-04-02 16:44] #538 closed

[2021-04-02 16:46] markoprljic commented on #578
@Vyvy-vi I will provide you graphics for all calls and the schedule and you creat the Discrod bot that sends reminders each week. Anything else you need for this to set up?

[2021-04-02 16:52] tamarandom opened #619 "Bug : submitting MVV proposal without title causes the issue to disappear"
This has happened to @eduardovegap and @markoprljic - to get in touch with them for more details.
Might this be template related, @kristoferlund

[2021-04-02 16:52] GriffGreen opened #620 "123"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 16:52] GriffGreen opened #621 "123"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 16:53] #621 closed

[2021-04-02 16:53] #620 closed

[2021-04-02 16:55] tamarandom commented on #528
Update : @freedumbs00 to post to the forum and then close this issue?

[2021-04-02 16:58] tamarandom commented on #243
Update : leaving open for @liviade1 feedback on this one.

[2021-04-02 17:10] tamarandom commented on #562
@Vyvy-vi -- @krisjpi and Kay (@geleeroyale) should be able to help with this.

[2021-04-02 17:13] jessicazartler commented on #309
Yes, thanks! Uploaded Z - doing the last two before Monday so consider it closed! Thank you

[2021-04-02 17:16] #309 closed

[2021-04-02 17:30] tamarandom opened #622 "Process to praise the Working Group attendees after each call"
## 📋 Anything to add?

Thanks @Zeptimus and @iviangita for suggesting to take this one. I'm opening this issue to give you time to think about how is best to do it. I assigned it to Ivy as the Master Praise Giver.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-02 18:05] jessicazartler commented on #577
I combed almost my WHOLE telegram haha and pulled the people who I thought were most interested/badasses that I've chatted with.. and also added some groups.. and for the 2nd - I added those who were tightest with the peoples

Have a sync with Griff today to talk about the strategy/efforts, and Tam will sync with you next week and let me know if you have any questions :D

[2021-04-04 10:20] mount-manu commented on #377
It'll be ready this sprint.

[2021-04-04 10:27] mount-manu commented on #64
The understanding @eduardovegap and I had was that I'd assist him, not that I'd assume ownership of the task. So, no @tamarandom I have no capacity for this during this sprint. Leave it assigned to me if it's ok for it to be completed during the next sprint.

[2021-04-05 04:25] natenatesoo commented on #572
I added the teams for our CPD process!

[2021-04-05 11:09] tamarandom commented on #64
Hey @mount-manu thanks for this update.  In this case, it should probably not be assigned to you. I'll add it to the Comms Agenda where we can group think on whether we still need it, what exactly we need, who is doing what and who should own quarterbacking it through.

[2021-04-05 12:01] Vyvy-vi commented on #578
I would look into setting up the bot tomorrow.
I was wondering, is there a fixed schedule for a few months, or does it change every week?

I think the calendar at https://calendar.google.com/calendar/u/0/embed?src=5mkep1ad1j860k6g7i7fr8plq0@group.calendar.google.com&ctz=Europe/Berlin should work, right?

[2021-04-05 12:10] Vyvy-vi commented on #554
![Screenshot 2021-04-05 at 5 40 11 PM](https://user-images.githubusercontent.com/62864373/113572539-ff901d80-9635-11eb-9cc3-76930f83640f.png)
Added some of the links mentioned

[2021-04-05 12:12] Vyvy-vi commented on #484
I think this can be closed
(Besides the role automation, all the roles have been created)
I think Admins and Stewards can assign the respective `Gravitons` and `Subject Matter Experts` and `Contributors` roles

[2021-04-05 12:52] freedumbs00 commented on #528
Posted and closing.

[2021-04-05 13:51] JuankBell commented on #570
@Vyvy-vi this is a great idea, it would me amazing if you can help us!

[2021-04-06 14:26] markoprljic commented on #64
Note to self:

- diagram from the hatcher's perspective as they go through the journey
- Tamara has a newer version in Miro
- needs visual design
- questioning the value add of doing this

[2021-04-06 15:52] markoprljic commented on #574
Revised template with new Discord VC link.

Hi everyone :grin::sunny::rainbow:

:telephone: Comms Working Group call in 1 hour on Working Group VC - Comms channel https://discord.gg/s2JuQCBNS4

AGENDA & CALL NOTES
https://docs.google.com/document/d/1UTNNyYLf6WC1wlytoU9IJ46z2I32NX0MrtJOs3j9Ahw/edit

MIRO BOARD
Link: https://miro.com/app/board/o9J_kjDw5AE=/
Password: TokenEngineering

MANIFESTO (Ope

[2021-04-06 16:41] markoprljic commented on #310
Inspiration videos:

https://twitter.com/discocoop/status/1349687411228504065

https://www.youtube.com/watch?v=AqjIWmiAidw

[2021-04-06 16:57] markoprljic commented on #64
Updated graphic from Tam in Miro board https://miro.com/app/board/o9J_krl8Cv0=/

- Something to be published as an infographic
- Commons Swarm example
- When do we need this? ASAP
- Value in sharing and easily talk about the Hatch
- To not have a lot of text and visually walk through someone through the 3 phases

@manualzuru assigned to this issue
@tamarandom ownership/reviewer

[2021-04-06 17:20] #572 closed

[2021-04-06 17:25] Vyvy-vi commented on #578
There was also a neat feature request from @markoprljic for auto-sending praise to everyone joining the calls.
This feature sorta sits in with this one, and the functionality can be coupled together, but there is a small issue- A bot can't assign praise(praise bot most probably ignores any messaging sent by any other bot)

The bot can be set up, so it generates the list of people that attended the

[2021-04-06 17:32] markoprljic commented on #377
This issue can be closed because it relates to the WHY video Manu is working on and examples have been provided and clarity has been provided from Manu on our weekly call.

Storyline:

1. Introductions
2. Problems
3. Solutions
4. Community

Short version and long version to be created.

[2021-04-06 17:32] #377 closed

[2021-04-06 17:33] markoprljic commented on #310
Someone made this https://eth10k.surge.sh/ and that made me think we could cut out interview audio in a similar fashion and have bg images, short clips accompany the narrative.

[2021-04-06 17:34] markoprljic commented on #310
Storyline confirmed by Manu:

1. Introductions
2. Problems
3. Solutions
4. Community

Short version and long version to be created.

[2021-04-06 17:42] jessicazartler commented on #64
@manualzuru or you meant @mount-manu ? :D

If manu alzuru is back, that would be amazing!!!

[2021-04-06 17:45] markoprljic commented on #64
Ah damn, thanks Jess, yes I meant @mount-manu :)

[2021-04-06 17:47] markoprljic commented on #578
Thanks VyVy, so this means I need to prepare the banners for you for all WG's. Will do that then.
I think the calendar is up to date and won't change unless timezone, or other, but it doesn't change every week so I think it;s safe to code it in as is.

[2021-04-06 17:48] markoprljic commented on #578
Due to the security issues, I suggest we drop the idea and make it the Stewards or Call facilitator's responsibility to dish praise to all attendees after the call.

[2021-04-06 18:55] Vyvy-vi commented on #578
That would be best :+1:

[2021-04-06 18:56] Vyvy-vi commented on #578
Moreover, IMHO when a steward/call facilitator praises for attending calls, it adds a human aspect and you feel good about attending the meeting and having a great day :)

[2021-04-06 19:29] JuankBell commented on #194
Feedback incorporated and posted in the forum!
Easy offboarding & rotation process for the TEC!
https://forum.tecommons.org/t/easy-offboarding-process-rotation/300

[2021-04-06 19:29] #194 closed

[2021-04-06 20:45] markoprljic commented on #562
@Vyvy-vi Did you try to reach out to @krisjpi and @geleeroyale and discuss the points in the checklist of this issue? If you have had any conversations so far please let me know. Likewise, let me know if we need to set up a quick hack sesh on this.

[2021-04-07 14:39] divine-comedian opened #623 "Write forum post for how to get wxdai"
how to get wxdai, what are the options, what are the STEPS?

Try to get people to start from DAI or ETH but also if they have BTC or crypto on other chains

[2021-04-07 15:18] markoprljic commented on #578
@Vyvy-vi Here are the banners for each WG and few other weekly calls. I think I covered all of them, if not please let me know and I'll add it.
I think you can easily export those slides as images to be attached to the call template text.

https://docs.google.com/presentation/d/1A5z5IRhLeVEUgNb-h_USCVFZlmJFp5sDFDUt4QVEZ9Y/edit?usp=sharing

[2021-04-07 15:39] markoprljic commented on #578
Comms WG template message:

Hi everyone 😁☀️🌈

☎️ Comms Working Group call in 50min on Working Group VC - Comms channel https://discord.gg/s2JuQCBNS4

AGENDA & CALL NOTES
https://docs.google.com/document/d/1UTNNyYLf6WC1wlytoU9IJ46z2I32NX0MrtJOs3j9Ahw/edit

MANIFESTO
https://docs.google.com/document/d/17w_UVi7lJjUNtj1Ji1WGd7Osk-E0edmfIRNoGRSP3yI/edit#

MIRO BOARD
Link: https://miro.com/app/board/o9J

[2021-04-07 15:44] #574 closed

[2021-04-07 16:10] Vyvy-vi commented on #578
I could set these up in a while :)
I'll have to take a look at what's the best method to keep track of the time of the meetings and what would work as a sorta permanent method, that won't break.

[2021-04-07 16:18] iviangita commented on #578
Transparency WG template message:

☎️ Transparency WG Call in 1h

🌟On the Transparency Voice Channel: https://discord.gg/CRSKAJtFMH

AGENDA & NOTES
https://docs.google.com/document/d/1jbuqlIXd3s9gRwXbT9ND0zUbE0MaEP9EyO6sHY46iOY/edit

MANIFESTO
https://docs.google.com/document/d/19-YlxdBuivR6qwSTPvlSP6kSLExUDSYT5frp7qaArFI/edit#heading=h.4qr126s3qfr1

Look forward to seeing you all there - have a b

[2021-04-07 16:34] JuankBell commented on #578
Hello Everyone!
All invited to join our Gravity Wg Call, all Thursdays after community calls. 🕊️
👩‍🚀  You can follow the notes of our sessions here:
[https://docs.google.com/document/d/19tpH6EU8jYX4FQ0CBtUf0MdsLzjpVo5x7n9W38u9Us4/edit?usp=sharing](url)
🚀 Check our roadmap in the manifesto:
[https://docs.google.com/document/d/1yrEcPoOW8Q1qDE-YWWF0MhXlcvpiMk0jmdQx25nfZ6k/edit?usp=sharing](url)

[2021-04-07 17:33] freedumbs00 opened #624 "Move the Audits in the Forum for Transparency."
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-07 17:53] #582 closed

[2021-04-07 17:53] #606 closed

[2021-04-07 19:03] divine-comedian commented on #623
first draft - https://docs.google.com/document/d/18557GJhhb7q7k3rYJ3cji8RgwUCnmf42rUpgporl65M/edit?usp=sharing

[2021-04-08 11:10] markoprljic commented on #562
Yes.

To prevent "mis-use", example- Someone is banning the "Tesla" bot, but there is also someone(actual human) in the server with a same name. Solution: The bot prints out a list of people who are being banned, before banning. We could maybe check if someone we know is getting banned by mistake

The discord invite can be done via the site- https://tec-discord-oauth2.vyvyvi.repl.co/
(Just need to

[2021-04-08 11:22] markoprljic commented on #497
@mount-manu Can you please see if we can merge the two sheets that Tam asked above? Also, I would like to finalize this task and close it, please let me know when this can be done. Thanks!

[2021-04-08 14:37] Vyvy-vi commented on #578
![Screenshot 2021-04-08 at 7 17 40 PM](https://user-images.githubusercontent.com/62864373/114045836-f60cec80-98a5-11eb-9c34-4d5b17e6750d.png)
Does this message look fine?
Or should it be in text?

Also, what time gap should be there? 30mins before or an hour before?

[2021-04-08 14:48] markoprljic commented on #578
@Vyvy-vi 1 hour before. The message preferably as text so that links can be clicked and accessible.

[2021-04-08 18:12] tamarandom commented on #220
The hero @cranders1 is taking it on again this time! 🙏🏼

[2021-04-09 01:50] freedumbs00 commented on #624
Moved to community into subcategory Audits.  Closing issue

[2021-04-09 01:50] #624 closed

[2021-04-09 01:51] freedumbs00 commented on #571
Closing issue.  Made changes

[2021-04-09 01:51] #571 closed

[2021-04-09 05:49] Vyvy-vi commented on #578
:+1: btw links are clickable in this too

I'll reformat and make this text :+1:
Would there be any considerable changes to the calendar, or is it constant, for now?

[2021-04-09 05:57] markoprljic commented on #578
If it's clickable then no need to convert.
Cal is constant afaik.

[2021-04-09 06:35] kristoferlund commented on #619
@eduardovegap @markoprljic can you detail, when and how did this happen? Does the issue disappear from GitHub or only from the TokenLog interface?

I tried to recreate the scenario but creating an issue without title does not seem to be possible on GitHub.

[2021-04-09 08:08] iviangita commented on #563
Hi @Vyvy-vi hope you can give us updates on this? :D

[2021-04-09 09:42] Vyvy-vi commented on #563
I reached out to `rdfbbx#6437` about this. They told me this is a known bug, but they're not sure if this is an issue on their bot's side.
They said they would look into this issue in holidays.

[2021-04-09 11:07] markoprljic commented on #619
I wish I could provide more details but that's all I got. I don't think my title was empty, instead I just left the default one there.

[2021-04-09 18:58] mount-manu commented on #497
Yes, I'll merge the two sheets into one, I just didn't know how to do it on the google docs spreadsheet. I'll figure it out, update it, and keep adding more TEs as well as TE projects. This will be ready to be closed by late next week, before the end of the sprint.

[2021-04-12 00:35] divine-comedian commented on #623
@GriffGreen  @freedumbs00  review ready

[2021-04-12 18:36] markoprljic commented on #499
@Vyvy-vi Proposal on Discord Captcha Landing page

![Image 2021-04-12 at 8 35 43 pm](https://user-images.githubusercontent.com/5704285/114444041-b52b1580-9bce-11eb-8ec2-81e76959f747.jpg)

Figma source here https://www.figma.com/file/SKZCNjAWvoPqZA7xeS8HGb/TEC-Website?node-id=808%3A514

[2021-04-12 21:15] Zeptimus commented on #612
Gravity Done
Soft gov, livi reach out and she is doing it

[2021-04-13 11:55] Vyvy-vi commented on #578
Here's a sample of it's working-

https://discord.com/channels/810180621930070088/810180622479917063/831496960627572737
https://discord.com/channels/810180621930070088/810180622017757185/831496958157651979

Also, I didn't really look that this issue was only for WG weekly calls. I kinda set it up to remind about all calls.(Should I change that and switch to WG Weekly only?)

[2021-04-13 12:12] markoprljic commented on #578
Great stuff! Keep the bot for other calls. Closing this now. Well done!

[2021-04-13 12:25] tamarandom commented on #578
Hey @markoprljic and @Vyvy-vi - What does it mean for all calls? In the "other calls" case, what image is sent and to what channel?

[2021-04-13 12:26] tamarandom commented on #578
Also, can you please share the link where the images are stored for each Working Group call. Thanks!!

[2021-04-13 12:29] Vyvy-vi commented on #578
Okay um here's how I am checking the call calender-
-> It fetches the upcoming events from the calendar
-> It reads the titles in the calendar and compares them to the words-
[COMMS/COMMUNICATION -
LEGAL -
COMMONS -
TRANSPARENCY -
HATCHER -
AMA -
GOV -
GRAVITY -
PARAMS -
OMEGA -
STEWARDS - ']
Based on the word that matches, it sends a message to the relevant working group channel with the template

[2021-04-13 12:31] Vyvy-vi commented on #578
By other calls, I meant it might pick up something like-
"Params Hack sesh" and send a reminder for that

[2021-04-13 12:33] Vyvy-vi commented on #578
I used the ones from - https://docs.google.com/presentation/d/1A5z5IRhLeVEUgNb-h_USCVFZlmJFp5sDFDUt4QVEZ9Y/edit?usp=sharing

[2021-04-13 12:33] tamarandom commented on #578
In that use case, what text will accompany the Params image?

[2021-04-13 12:34] Vyvy-vi commented on #578
Currently I haven't added any text for params, but we can decide on one with params WG and add it

[2021-04-13 12:34] tamarandom commented on #578
What I am wondering is what about a false positives based on the cal entry name. If I setup a hack session called "stewards hackathon" will a message be sent to the #Stewards channel that the weekly sync is happening?

[2021-04-13 12:35] tamarandom commented on #578
My $0.02 is that we keep the scope limited to the WG weekly calls and use a method that will not accidentally misfire the wrong message to our Discord.

[2021-04-13 12:35] Vyvy-vi commented on #578
Yes, most probably 😅

[2021-04-13 12:36] tamarandom commented on #578
😂 😂 😂

[2021-04-13 12:37] Vyvy-vi commented on #578
There's a small issue with that 😅
but maybe can be done.
Do the WG Weekly calls always use the same text in the calendar?

[2021-04-13 12:42] markoprljic commented on #578
Yes, for that reason I asked all Stewards to submit their messages to be used by the bot.

[2021-04-13 12:43] tamarandom commented on #578
Yes .... BUT we should account for allowing the name to change in the cal without breaking the bot. The chances of the name changing in the cal are higher than the cal date/time changing. ;)  <-- which reminds me, *should* it need to be changed, what's the best way to do that?

Can't we do something schedule-based like:

Tues 5pm CET send "Comms Weekly in 1 hr" to #comms
Tues 6pm CET send "Soft Go

[2021-04-13 12:43] tamarandom commented on #578
@markoprljic Can't we just make it easier on the Stewards and use a simple template? Like the one for comms but with the agenda and manifesto of the right group?

[2021-04-13 12:48] markoprljic commented on #578
The purpose of this bot is to make it easier for stewards. For that reason, I created generic banners for each WG that has no date on it so that Stewards don't need to do it manually anymore.
Also, stewards provided the text / message for their calls to be submitted by the bot.

I'm unclear on what should be made more easier?

[2021-04-13 12:54] Vyvy-vi commented on #578
I think either way, someone might have to manually edit the config files(It's all on github* so anyone can open a PR)
*haven't pushed the code yet since making it MVP first.

The manual time thing can also be done(I think)

[2021-04-13 18:35] tamarandom commented on #493
Sprint update:

Did Hatcher sessions and/or follow-ups with : Jonathan, Luuk, Daud, Rovers, Evrim, Vyvy-vi, Felipe, Ata, Mount Manu.

More in the pipeline.

[2021-04-13 18:43] tamarandom commented on #497
Hey @mount-manu !

I copied your two sheets into the Curate doc so they are handy to the Hatch outreach and Project Swat team to see and incorporate into our planning. So they're now merged here:
https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1251782427

Feel free to keep updating them there as needed. I think we can close this issue, right? Unless the

[2021-04-13 18:54] mount-manu commented on #497
Yes, we can close it, I'll be diligent in it being kept updated!

[2021-04-13 19:03] tamarandom commented on #64
Sprint update :

@mount-manu and I had two good sessions to go deep into the hatch Process and he will take the miro board version and see whether he and his team can either

1) make improvements to the original to make it more crisp and clear.
or
2) make a new stand-alone version from scratch.

He shared he is expecting to have a version to share for feedback by the end of this week.

[2021-04-13 19:51] ddan4 opened #625 "a spreadsheet of DAOs with contact \ social etc"
## 📋 Anything to add?

Working on the Gravity survey on conflict (and it's prevention \ resolution) in DAOs, I realized it would be helpful to have a list of DAOs, for distribution of the survey, including the following columns:

Parent • Stack • Ecosystem • Founded • Funding • Contact • Explorer • Location • Tag • Type • Status • Cal • Name • Text • Website • Blog • Feed • Governance • Forum • Ap

[2021-04-13 19:54] tamarandom commented on #484
Thanks @Vyvy-vi! The role automation part refers to the "new member' role being assigned for 40 hours on Discord or something else?

[2021-04-13 19:57] tamarandom commented on #577
Thanks for all of these excellent leads, @jessicazartler ! As it's part of th ongoing Hatcher Outreach (being tracked in Curate daily!) we can close this one out. As I reach out to the Hatchers I will coordinate with you on timings in the cal.

[2021-04-13 19:59] tamarandom commented on #497
🤙🏽

[2021-04-13 19:59] #497 closed

[2021-04-13 20:03] tamarandom commented on #563
@iviangita is this a new phenomenon or has it always been this way?

I wonder if there is an escape char that can be used "treat" the originals with a simple copy and replace?

[2021-04-13 20:05] tamarandom commented on #619
We should close this if we can't recreate it. Any objections? Who wants the satisfaction to hit close? 🏄🏽

[2021-04-13 20:14] markoprljic commented on #619
You! 🙂

[2021-04-13 21:02] tamarandom commented on #619
🏄🏻‍♀️

[2021-04-13 21:02] #619 closed

[2021-04-13 21:54] ddan4 commented on #625
I'm noticing there seems to be some convergence with #497 so I will try to figure out how I can collaborate there.

[2021-04-13 22:08] tamarandom commented on #625
Hey @ddan4. Wow! A lot of work went into that DAO Ecosystem sheet. I think you put it on the radar of the perfect group of people! I'll loop in @liviade1 too.

[2021-04-13 22:49] Vyvy-vi commented on #484
Yes, I am working on that.
I think I'll get enough time next week(or around 18th to move forward with other bot functionality)

[2021-04-14 01:55] jessicazartler commented on #625
Added @knobsdao as he and I do partnerships for Commons Stack and will perhaps employ some of these contacts - wow! Thank you for doing this!!!

Also, not that there are DAOs, but here is a great database (and our CS partners) who have blockchain 4 good projects database https://positiveblockchain.io/ in case its helpful

Awesome work, and good luck! Thanks for looping me in :D

[2021-04-14 08:46] eduardovegap commented on #418
This is issue can be closed, @GriffGreen finish this article and post it: https://forum.tecommons.org/t/how-you-can-hatch-the-tec/328

Thank you Griff <3

[2021-04-14 08:47] #418 closed

[2021-04-14 08:49] eduardovegap commented on #613
Squad is complete: Jess, Jake, Griff y Eduardo.

[2021-04-14 08:49] #613 closed

[2021-04-14 08:50] #419 closed

[2021-04-14 08:53] eduardovegap commented on #614
Closed.

Document of reference: https://docs.google.com/document/d/1KeMBHxQMjy9WuoFbnjzJP84KYt_qbPFlXiF-ZeVv5cQ/edit

[2021-04-14 08:53] #614 closed

[2021-04-14 08:56] iviangita commented on #563
@tamarandom it has always been like that for me. @Vyvy-vi also tried it and he encountered the same issue. Just worried that praises from other users will not go through if they have apostrophes and they don't realize it.

[2021-04-14 14:22] chuygarcia92 opened #626 "Find the part of Griff's Soft-Gov talk where Griff talks about TokenLog and tweet about it"
## 📋 Anything to add?

Add timestamps!

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-14 16:24] tamarandom commented on #579
🌈    https://github.com/CommonsBuild/TokenLog-SoftGov/issues/13  🌈

[2021-04-14 16:24] #579 closed

[2021-04-14 17:01] #527 closed

[2021-04-14 17:42] tamarandom commented on #537
Update : ready, set, close.

[2021-04-14 17:42] #537 closed

[2021-04-14 17:42] tamarandom commented on #539
Update : completed. decision made.

[2021-04-14 17:42] #539 closed

[2021-04-14 18:00] iviangita commented on #622
Assuming that the TEC call protocols are being followed (specifically having a moderator in WG sync calls), this is the suggestion that came out from our discussion in the previous Transparency call:

- Moderator helping to list out the names of the people attending the call. (Juan in community calls & stewards) but we need a clear list of monitors for calls -Tag team (speak about it with stewards

[2021-04-14 18:01] chuygarcia92 commented on #626
This is the file ready for uploading in any platform:
https://drive.google.com/file/d/1f5zU6PwQY9i9TKazKmiGQ07QFotaM74k/view?usp=sharing

[2021-04-14 18:01] #626 closed

[2021-04-14 23:10] Vyvy-vi commented on #563
I think this can be fixed in a quick Hack Sesh, if `rdfbbx#6437` is available(The Praise Bot isn't opensource, so can't really look for any solutions or debug it)

[2021-04-14 23:31] chuygarcia92 commented on #544
This is the final 2 min clip of Griff talking about TEC in his MetaFest presentation:

https://drive.google.com/file/d/116hZjJJl9mvHH-zKw1Ml2Dd_Ea6bqi93/view?usp=sharing

[2021-04-14 23:31] #544 closed

[2021-04-15 06:52] Vyvy-vi commented on #499
Thanks for the mockup :+1:
I'll put this in today

[2021-04-15 09:49] Zeptimus opened #627 "Check and update Hatchers outreach documentation"
## 📋 Anything to add?
https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1251782427
https://docs.google.com/spreadsheets/d/1cbFgKIcnDsqqvq-v5tAdL2iHH7GHojw9a_lxmcJr9es/edit#gid=0

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?
Supporting Hatcher outreach team to be more efficient reaching out to Hatchers

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍

[2021-04-15 11:15] iviangita commented on #426
@Zeptimus new videos! :D

For Community Calls:
Sprint 12 - https://www.youtube.com/watch?v=yX59yAXYp1M

For Commons Swarm:
Sim 67 - https://www.youtube.com/watch?v=H8M7w83CGYY
Sim 68 - https://www.youtube.com/watch?v=QBymnwmumz8

[2021-04-15 14:33] Zeptimus commented on #426
done :D

[2021-04-15 16:08] Vyvy-vi commented on #484
I think this can be closed :)

[2021-04-15 16:08] #484 closed

[2021-04-15 18:27] tamarandom opened #628 "Have a published step-by-step conflict mgt process connected with the graduated sanctions"
## 📋 Anything to add?

🤙🏽  Our Sprint 7 retrospective action! 🤙🏽

@JuankBell, please feel free to update this issue body as it makes sense for you on how to best address this.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 08:29] tamarandom opened #629 "Update the final Hatch T&C after the Parameter vote is final."
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 08:31] tamarandom commented on #247
Update : Discussions started and will continue into next Sprint.

[2021-04-16 08:33] tamarandom opened #630 "Have the SourceCred Committee sessions"

[2021-04-16 08:33] tamarandom opened #631 "Run trial of distribution (with small amount of tokens) (SourceCred)"

[2021-04-16 10:11] tamarandom opened #632 "SEO / Analysis of the current state & what our goal should be"

[2021-04-16 10:11] tamarandom opened #633 "SEO / Review SEO best practices"

[2021-04-16 10:11] tamarandom opened #634 "SEO / Develop list of metrics for measuring improvements"

[2021-04-16 10:12] tamarandom opened #635 "SEO / Implement, measure, tweak"

[2021-04-16 10:12] tamarandom opened #636 "SEO Project"
## 📋 Anything to add?

Project brief. https://docs.google.com/document/d/18RlOZf_DhV149eZ-KPArBF0iFnwsi9SSLiMOg-vD0CU/edit

**Overview**
Google search results for “Token Engineering Commons” and “Token Engineering Commons medium” currently result in links that are 1) out of date or 2) badly out of date. This project will do a short study, analysis and then implementation of a plan to improve our S

[2021-04-16 10:22] tamarandom commented on #491
Hey @rosamoc ! Thanks for this list! I copies the xls into a google sheets so it's more easily accessible for everyone!

Here it is : https://docs.google.com/spreadsheets/d/1P9DQkB-tvyGIaVaNR4Bdfkg3mhwDwDmMm66WwF3dcBw/edit#gid=0

This effort will be pulled into a SEO project we are initiating to take a holistic look at SEO - determine what our end goal is and then plan the pieces of work necessary

[2021-04-16 10:22] tamarandom commented on #491
Hey @rosamoc ! Thanks for this list! I copies the xls into a google sheets so it's more easily accessible for everyone!

Here it is : https://docs.google.com/spreadsheets/d/1P9DQkB-tvyGIaVaNR4Bdfkg3mhwDwDmMm66WwF3dcBw/edit#gid=0

This effort will be pulled into a SEO project we are initiating to take a holistic look at SEO - determine what our end goal is and then plan the pieces of work necessary

[2021-04-16 10:22] #491 closed

[2021-04-16 10:26] tamarandom commented on #429
Woot! All the issues in this Epic are closed.  🤙🏽  🏄🏽

Closing this one now as we are kicking off a new SEO initiative and it's covered in a new Epic,  #636

https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/636

[2021-04-16 10:26] #429 closed

[2021-04-16 10:30] tamarandom commented on #505
@markoprljic @freedumbs00 - A special Hatcher T-shirt design would rock. We have a default version with just the TEC logo but can we kick it up a notch? Is this something realistic for this Sprint?

[2021-04-16 10:36] markoprljic commented on #505
Let's do it!

[2021-04-16 10:39] markoprljic commented on #292
@jessicazartler Can we finalize this in the coming sprint?

[2021-04-16 12:59] #568 closed

[2021-04-16 13:05] iviangita commented on #382
We'll start sharing the community call video on Twitter too! Here's the edited content from Comms - see [issue 19](https://app.zenhub.com/workspaces/tec-content-production-and-distribution-60549332d7d741001bbea827/issues/commonsbuild/content-distribution/19):

Not able to join our Community Call yesterday? No problem, it’s on our YouTube channel. From the Praise Fest to our Working Group updates t

[2021-04-16 13:06] tamarandom commented on #531
@kristoferlund and @MerlinEgalite will chip in to help move this along!
🙏🏼  🐣  ⚡️  🤗   🙌🏼  💪🏽  🐣  🌺   🤩  💫   👨🏼‍🌾

[2021-04-16 13:08] tamarandom commented on #380
Hey @freedumbs00 - was this not done this Sprint!?

[2021-04-16 13:40] markoprljic commented on #505
Some ideas...

![Image 2021-04-16 at 3 39 21 pm](https://user-images.githubusercontent.com/5704285/115032767-fae72700-9ec9-11eb-80d7-ff0f8c675f73.jpg)

![Image 2021-04-16 at 3 39 34 pm](https://user-images.githubusercontent.com/5704285/115032783-fe7aae00-9ec9-11eb-954e-9382c8585bd4.jpg)

![Image 2021-04-16 at 3 39 40 pm](https://user-images.githubusercontent.com/5704285/115032793-01759e80-9eca-11e

[2021-04-16 13:51] tamarandom opened #637 "Funding for Working Groups"
## 📋 Anything to add?

Key components of this Epic include :
- Look at funding models that other DAOs are using (1-Hive, for example)
- Evaluate the options we have : praise+Sourcecred alone, funding proposals, hybrid of the two
- Explain to the Community Stewards what needs to be done by when
- Plan for the transition to the new funding (make sure everyone is aware of the process and changes)

##

[2021-04-16 13:52] tamarandom opened #638 "WG Funding / Look at funding models that other DAOs are using (1-Hive, for example)"

[2021-04-16 13:53] tamarandom opened #639 "WG Funding / Evaluate the options we have : praise+Sourcecred alone, funding proposals, hybrid of the two"

[2021-04-16 13:53] tamarandom opened #640 "WG Funding / Explain to the Community Stewards what needs to be done by when"

[2021-04-16 14:20] tamarandom commented on #210
This Case Study is a CS initiative being managed in the CS repo here:
https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/board?filterLogic=any&repos=280516198&search=case%20study

[2021-04-16 14:20] #210 closed

[2021-04-16 14:20] tamarandom commented on #209
This Case Study is a CS initiative being managed in the CS repo here:
https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/board?filterLogic=any&repos=280516198&search=case%20study

[2021-04-16 14:20] #209 closed

[2021-04-16 14:20] tamarandom commented on #214
This Case Study is a CS initiative being managed in the CS repo here:
https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/board?filterLogic=any&repos=280516198&search=case%20study

[2021-04-16 14:20] #214 closed

[2021-04-16 14:20] tamarandom commented on #213
This Case Study is a CS initiative being managed in the CS repo here:
https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/board?filterLogic=any&repos=280516198&search=case%20study

[2021-04-16 14:20] #213 closed

[2021-04-16 14:21] tamarandom commented on #212
This Case Study is a CS initiative being managed in the CS repo here:
https://app.zenhub.com/workspaces/commons-stack-workspace-5f1206c0362e7b000fc0161b/board?filterLogic=any&repos=280516198&search=case%20study

[2021-04-16 14:21] #212 closed

[2021-04-16 15:11] tamarandom opened #641 "Jess / Hatch Outreach (See Epic for details)"

[2021-04-16 15:13] tamarandom commented on #577
Hey Jess, there is a new issue for you for ongoing Hatch Outreach now & I'm closing this one. Great leads, can't wait to so sessions with you ...

https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/641

[2021-04-16 15:13] #577 closed

[2021-04-16 15:17] jessicazartler commented on #577
Thank Tam! Me too <3

[2021-04-16 15:17] jessicazartler commented on #641
:D

[2021-04-16 15:26] #264 closed

[2021-04-16 15:29] liviade1 opened #642 "MVV final steps"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important

## 🎉 Subtasks

- [ ] hack session on Sunday
- [ ] Promote
- [ ] Share results on Tuesday
- [ ] close issues
- [ ] Promote the new MVV everywhere

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 15:31] liviade1 opened #643 "Map the decisions hatchers should make"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ] list all the decision we are relying on the hatcher to take
- [ ] make a plan for how they will happen / which tools we'll use
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 15:34] liviade1 opened #644 "Glossary hack session"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 15:39] tamarandom commented on #577
I made a new issue to track the Hatch Outreach sessions. So it's on your plate this Sprint.
https://app.zenhub.com/workspaces/tec-coordination-workspace-5fad0d3fbbe4da0011c2f40d/issues/commonsbuild/coordination/641

[2021-04-16 15:40] #313 closed

[2021-04-16 15:44] iviangita opened #645 "Comms WG transparency audit"

[2021-04-16 15:53] tamarandom opened #646 "Create the guidelines on how to onboard new community members"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 15:55] GriffGreen opened #647 "Coordinate and run Hatch Config Parties almost every day"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 15:58] GriffGreen opened #648 "Incorporate user testing from Nathan and Craig to Hatch Config Dash"
## 📋 Anything to add?

https://docs.google.com/document/d/13sTO3eSs9IDde_g3P-5qpdNz4oumUhMQH17r0r9XbMc/edit?usp=sharing

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 15:59] GriffGreen opened #649 "Create a post that explains how to use the Hatch Dashboard and include Hatch Param Parties dates"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 16:01] GriffGreen opened #650 "Update the spec to the new Test DAO"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-16 16:05] tamarandom commented on #570
Update : Still in progress ... looking for a dev that can do this.

[2021-04-16 16:08] GriffGreen commented on #570
casale (duke nukem) — 04/13/2021
Well, the Discord API doesn't allow video detection for bots, so the only way to record it "natively" would be to record only the voice
Another thing I thought about is to run a Discord window on Chromium and then we can record with some automation, but that would need some cloud computing or something like that which can be very expensive
So I've been thinking if

[2021-04-16 16:09] tamarandom commented on #562
Update : this can be closed now!

[2021-04-16 16:09] #562 closed

[2021-04-16 16:11] tamarandom commented on #499
Can you please drop the link to the website when it's all live and we can close this issue!

[2021-04-16 16:14] tamarandom commented on #578
Update : once this is all working and these announcements are being posted to the channels, let's close this issue.

[2021-04-16 16:17] markoprljic commented on #578
@Vyvy-vi Please note that Transparency WG call is now bi-weekly!

[2021-04-16 16:19] GriffGreen opened #651 "Close all the Hatch Issues!"
![Screen Shot 2021-04-16 at 9.16.40 AM.png](https://images.zenhubusercontent.com/597b3dc4f8b79f8376e1224b/b98901a4-ab9d-4bb0-9d6c-d26d4a8ebc5f)

Work is happening in https://app.zenhub.com/workspaces/commons-swarm-workspace-5fe322aef3aab0001be1d518/board?repos=302764557,307524707,307465991,307811091,315995540,302769969,315489302,314825972,312708148,322581189,320314688,322963181,317923305,315581225

[2021-04-16 16:24] #639 closed

[2021-04-16 16:24] tamarandom commented on #639
Dupe #272

[2021-04-16 16:25] #535 closed

[2021-04-16 16:26] tamarandom commented on #638
Dupe #272

[2021-04-16 16:26] #638 closed

[2021-04-16 16:29] tamarandom commented on #423
Update : the vote passed. Will be closed on Sunday!

[2021-04-16 16:35] #132 closed

[2021-04-16 16:42] tamarandom commented on #517
Hey @jessicazartler Is there anything left to do with this one?

[2021-04-16 16:46] tamarandom opened #652 "Proposal deck"
## 📋 Anything to add?

@eduardovegap to fill in the details here

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-18 13:46] Vyvy-vi commented on #499
@tamarandom
You can view the Development Version here - https://tec-discord-oauth2.herokuapp.com/

It's still a Work In Progress, esp. with the data written on the site, and the design(mainly responsiveness, compatibility with different devices like phones, tablets, etc).
I would love some feedback. (I suggest trying to log in with a different discord account that isn't in the server)

(It would b

[2021-04-19 10:52] markoprljic commented on #499
On mobile the yellow button should be bigger.
On Desktop I'd move the subtext and button a bit higher.

Other than that it's good.

[2021-04-20 03:19] #505 closed

[2021-04-20 03:22] freedumbs00 commented on #648
These issues have been made and are in the Changing the Technocracy Repo.   Closing this

[2021-04-20 03:22] #648 closed

[2021-04-20 09:39] tamarandom opened #653 "Meet with all the Stewards to gather insight and feedback about Onboarding in the TEC"
## 📋 Anything to add?

Criteria for success:
-[ ] Katy will have had 1-1 with all the Stewards for advice process to inform the onboarding journey

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-20 09:43] tamarandom opened #654 "Scanning for new members and reaching out to them"
## 📋 Anything to add?

Criteria for success:
- Multiple times a week, scanning for new members and sending personal invitation to the AMA and our welcome message.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-20 09:50] tamarandom opened #655 "Hatch outreach 1-pager"
## 📋 Anything to add?

Target audience : Joshua Tan, Tarun Chitra, etc

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-20 09:52] danelsuga opened #656 "MVV Submission"

[2021-04-20 10:01] tamarandom opened #657 "Revise and resubmit MVV for runoff"
## 📋 Anything to add?

Criteria for success:
- Submitted to @JuankBell before the 5pm on 4/20.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-20 10:14] tamarandom commented on #563
Was this fixed? I just tried on CS and TEC discord servers.
![Screen Shot 2021-04-20 at 12 13 55 PM](https://user-images.githubusercontent.com/703624/115379514-e361b400-a1d1-11eb-9c40-9eef35040627.png)

[2021-04-20 10:55] Zeptimus commented on #570
My initial though was that anyone writing a comand on the server was able to get the recordings, then everything that the community want to get recorded would be done very easily, can that be done with the chromium thing?.

And isntead of saving it on the cloud couldnt that be link to our youtube acc where we can upload as much as we want for free.

[2021-04-20 11:03] Zeptimus commented on #627
Done https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1523587366

[2021-04-20 11:03] #627 closed

[2021-04-20 12:25] Zeptimus commented on #612
All of them updated: https://docs.google.com/spreadsheets/d/12_PK_G9-gGxPOm-mdl5dlfdh9GSZGuI5gkTLkWlfNcY/edit#gid=674364535

[2021-04-20 12:25] #612 closed

[2021-04-20 14:02] GriffGreen opened #658 "No one uses the Github template - make it shorter and include "Definition of done""
Look... another empty template... smh

## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-20 14:22] danelsuga commented on #646
There are now two brief documents to support this need for onboarding guidelines:

1) Onboarding Journey: a brief how-to guide including a message pinned on Discord for new folks (and ideally also sent by anyone who is the first to encounter some one new)
https://docs.google.com/document/d/1EiQTPNKANGwPiofEfHe-BVTzecA9vrNYPjrOt7umCXE/edit?ts=6074165a

2) Onboarding in the TEC: a short slideshow to

[2021-04-20 18:34] tamarandom opened #659 "What is the email situation for the TEC?"
## 📋 Anything to add?

Looking for some information about what email capabilities we have at the TEC now. 🙏🏼

Looping in the two people who might know best : @cranders1 and @knobsdao

Criteria for success:
-How are we collecting email?
-How many emails do we currently have?
-Who has access to the email system (and is it all in Hubspot now?)

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it importan

[2021-04-20 20:39] tamarandom opened #660 "Change medium link on website"

[2021-04-20 20:40] tamarandom commented on #660
Should direct people to the "feature" medium link:
https://medium.com/token-engineering-commons

 ![Screen Shot 2021-04-20 at 10.37.38 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/a666760a-3c95-4b72-aaaa-a07ae5fb9081)

[2021-04-20 21:46] tamarandom opened #661 "Hatch timeline"
## 📋 Anything to add?

Not what we are nearly there we have better target dates insight.
Compile and communicate to the other Stewards !

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-21 14:59] eduardovegap commented on #237
Closed, @liviade1, you can add notes if needed.

[2021-04-21 14:59] #237 closed

[2021-04-21 15:00] eduardovegap commented on #351
@jessicazartler any update on this? Thanks

[2021-04-21 15:02] eduardovegap commented on #353
Never answered. Closing this.

[2021-04-21 15:02] #353 closed

[2021-04-21 15:02] eduardovegap commented on #356
@GriffGreen did you hear back from then?

[2021-04-21 16:38] #623 closed

[2021-04-21 22:02] tamarandom commented on #64
Update :  @mount-manu's designer has had a family emergency and was not able to make progress on this. Fortunately Durgadas offered to take a crack at it!!

Thanks @mount-manu for taking this on in the first place. Hopefully, your designer's family recovers quickly. 🙏🏼

[2021-04-21 22:08] tamarandom commented on #657
Done!

[2021-04-21 22:08] #657 closed

[2021-04-21 22:09] tamarandom commented on #531
Our resident wizard, @kristoferlund, has made great progress so far. He will be on a family vacation and pick up the rest next week.

This mini-project is back on track!

[2021-04-21 22:19] tamarandom opened #662 "Planning the Spotlight in our weekly community calls"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@GriffGreen

## 🔗 Work doc - inspirational links
Being tracked here :  https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1967618670

[2021-04-22 09:27] tamarandom commented on #656
https://github.com/CommonsBuild/TokenLog-SoftGov/issues/12

[2021-04-22 09:27] #656 closed

[2021-04-22 09:34] tamarandom opened #663 "Issue template for pieces of work that should be tagged "For Contributors""
## 📋 Anything to add?

See the Commons Stack "for contributor" issue template as a model.

## 🤼‍ Reviewer

@liviade1

## 🔗 Work doc - inspirational links

[2021-04-22 10:38] markoprljic commented on #499
@Vyvy-vi Did we get someone to set up the subdomain?

[2021-04-22 10:46] markoprljic commented on #499
To summarise what we did to improve the onboarding:

- created a new Join page where people have overview of our channels and resources https://tecommons.org/join
- created a special Discord join page for people to complete the Captcha (awaiting subdomain deployment) https://tec-discord-oauth2.herokuapp.com/
- integrated `multiban` option and `canban` permission for all stewards so that we can ban

[2021-04-22 10:53] Vyvy-vi commented on #499
- We could also make a Google doc or something(maybe just a message we can copy-paste) with a step-to-step on how to get onboarded.

[2021-04-22 10:55] markoprljic commented on #499
@danelsuga is already doing that on Discord :)

[2021-04-22 13:08] danelsuga commented on #499
Hi!

Thanks for the shout-out, Marko. Vyvy-vi, here is the onboarding doc that includes the "how to get onboarded" message within it:

https://docs.google.com/document/d/1EiQTPNKANGwPiofEfHe-BVTzecA9vrNYPjrOt7umCXE/edit?ts=6074165a

Here is that message:

Here are some links to get you started.
🗓️ TEC Calendar ⏰
Our meetings are open to all. Find one in our cal; looking forward to seeing you there

[2021-04-22 13:09] danelsuga commented on #499
Hi!

Thanks for the shout-out, Marko. Vyvy-vi, here is the onboarding doc that includes the "how to get onboarded" message within it:

https://docs.google.com/document/d/1EiQTPNKANGwPiofEfHe-BVTzecA9vrNYPjrOt7umCXE/edit?ts=6074165a

Here is that message:

Welcome to the TEC! 🎍

 🌈✨ We’re happy you’re here! 🌈✨

🙋🏽‍♀️ Got questions? Join our weekly Onboarding AMA on Wednesdays at 4pm CET on our #com

[2021-04-22 17:57] Vyvy-vi commented on #578
Update on this-
Will be probably ready in a day or two.
The new version relies on cron-jobs. Any steward can edit their groups call time by referring to https://crontab.guru/ for the timings and editing a file.

[2021-04-22 18:14] Vyvy-vi commented on #499
I dm'ed Kris a while ago but didn't get a response.

[2021-04-25 20:17] cranders1 commented on #220
Here's a draft. Hack away.
https://docs.google.com/document/d/1WobIOMjad_bcSdf9qn23QlWRP2xV1iGqZB09VikJtEs/edit?usp=sharing

Info requests for @GriffGreen @danelsuga
Own language or a link or a no go will work.

Also opened a new, duplicate issue in C&D repo. Unsure if PQ blog desired to go through C&D process, so threw it in there just in case. Duplicate w/ [#39](https://app.zenhub.com/workspaces

[2021-04-25 23:30] natenatesoo commented on #632
In Progress. We will continue to develop a strategy including metrics for evaluation.

Goal: See considerable SEO improvements over the next 4-6 months.

Can we add a repeating tag for this?!

Thanks!

[2021-04-26 09:23] tamarandom commented on #220
@cranders1 @danelsuga Thanks! It makes sense to move this to the C&D repo, thanks for setting the issue up there!

https://app.zenhub.com/workspaces/tec-content-production-and-distribution-60549332d7d741001bbea827/issues/commonsbuild/content-distribution/39

Closing this one.

[2021-04-27 08:40] Vyvy-vi commented on #499
Update- Kris set up the DNS

[2021-04-27 12:29] divine-comedian commented on #576
@natenatesoo any updates on the template? If you have something ready I'd be happy to plug it in on github for ya.

[2021-04-28 12:16] iviangita commented on #622
Closing! We'll let anyone in the community dish the praise, but @Zeptimus and I will be monitoring/ensuring that WG attendees receive praise after each call. If no one gives the praise, Zep and I will do it.

[2021-04-28 12:16] #622 closed

[2021-04-28 16:21] JuankBell commented on #628
https://forum.tecommons.org/t/gravity-easy-step-by-step/354 :D

[2021-04-28 16:34] JuankBell commented on #558
https://forum.tecommons.org/t/gravity-easy-step-by-step/354 :D

[2021-04-28 17:05] GriffGreen opened #664 "Finalize the QA on the Hatch Config Dashboard"
## 📋 Anything to add?

https://hackmd.io/Bvq4z7GlTx-8is4OAx_tOg

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-28 17:53] JuankBell commented on #557
https://the-commons-stack.typeform.com/to/reUmcsJ6

[2021-04-28 17:57] #628 closed

[2021-04-28 18:00] #558 closed

[2021-04-28 18:01] JuankBell commented on #557
Next bullet point: distribution - start sharing the link of the survey.

[2021-04-29 09:36] danelsuga commented on #646
Closing!

[2021-04-29 09:36] #646 closed

[2021-04-29 09:36] danelsuga commented on #653
Two tomorrow and done.

[2021-04-29 09:38] danelsuga commented on #654
Doing this daily! :)

[2021-04-29 09:44] danelsuga opened #665 "Support T Wells with onboarding module framework"
## 📋 Anything to add?

https://docs.google.com/document/d/1ct8K4AMqiHJHkF9NfkK03EaVacoLnecUJrDfkarhJXY/edit?ts=60888640

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-29 11:34] markoprljic commented on #578
@Vyvy-vi Are we ready to close this one?

[2021-04-29 11:34] markoprljic commented on #499
All set up, @Vyvy-vi wanna close it?

[2021-04-29 11:34] markoprljic commented on #542
@chuygarcia92 Update on this? Will this be close before tomorrow?

[2021-04-29 11:35] markoprljic commented on #632
Added repeating tag @natenatesoo Moving this to repeating column.

[2021-04-29 11:41] markoprljic commented on #64
This will probably fall into the next sprint so I'll move it to the Product backlog.

cc/ @chuygarcia92

[2021-04-29 11:46] Vyvy-vi commented on #578
Yes, I guess

[2021-04-29 11:53] markoprljic commented on #578
Have all WGs provided text?
Where can they potentially change the text later?
Where can they update the schedule?

Can we provide that before closing?

[2021-04-29 12:34] eduardovegap commented on #415
not yet submitted, closing it to keep track of it on the TEC Curate: https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=875503092

[2021-04-29 12:34] #415 closed

[2021-04-29 12:36] eduardovegap commented on #334
Closing this issue, they aren't submitting due lack of time. Updated on TEC Curate.

[2021-04-29 12:36] #334 closed

[2021-04-29 12:38] eduardovegap commented on #358
Updated on TEC Curated, email and twitter was sent without answer.

[2021-04-29 12:38] #358 closed

[2021-04-29 12:42] eduardovegap commented on #652
Done, updates and comment check:
https://docs.google.com/presentation/d/1L5eudOvAvNY9dtwh8C6TR05CJnezmajbjkGsuYH5Do8/edit?usp=sharing

[2021-04-29 12:42] #652 closed

[2021-04-29 12:47] eduardovegap commented on #340
Updated the status on TEC Curated. If this gets follow up or submitted, please update here: https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=875503092

[2021-04-29 12:47] #340 closed

[2021-04-29 13:02] Vyvy-vi commented on #578
-> They could open an issue on-
https://github.com/Vyvy-vi/TEC-Discord-Automation/issues
-> They could open a PR and change the text in the respective file for the WG-
https://github.com/Vyvy-vi/TEC-Discord-Automation/tree/main/.github/workflows
(*I'll add some docs on how to edit the text in there)

-> They could update the schedule in the respective WG file in this folder, by editing the cron ti

[2021-04-29 13:21] #356 closed

[2021-04-29 13:25] eduardovegap commented on #106
Will move the tracking of this proposal to TEC Curate document, if they propose or any other update, please follow it up here: https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=875503092

[2021-04-29 13:25] #106 closed

[2021-04-29 13:27] eduardovegap commented on #198
@jessicazartler if Shermin propose, please update on TEC Curate: https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=875503092

thanks!

[2021-04-29 13:27] #198 closed

[2021-04-29 14:33] jessicazartler commented on #198
Sure, just dropped the proposal link in there - thanks Edu! <3

[2021-04-29 14:33] jessicazartler commented on #106
Sure, will do - talking with Nathalia, new TE Academy team member about getting the proposal in before the hatch - thanks for following up!

[2021-04-29 14:34] jessicazartler commented on #351
Sure thanks! We've been challenged to align schedules with Disco as they are crazy busy.. will follow up one more time with them - thanks for following up!

[2021-04-29 14:37] jessicazartler commented on #64
@tamarandom @Jeff-Emmett and I worked on diagrams in this piece https://medium.com/commonsstack/whats-in-a-hatch-3799a398243a

@tamarandom do you think we need anything further? Perhaps we will when we do an article on Phase 2, the Commons Upgrade, and show the side where people will be buying and selling to the bonding curve/CV for proposal funding..

Should we change this issue to the title "Hat

[2021-04-29 16:18] GriffGreen commented on #333
oh yeah!

I am down to make a Commons Swarm proposal.

[2021-04-29 16:44] #580 closed

[2021-04-29 18:40] Vyvy-vi opened #666 "Discord Bot to store wallet addresses (for sourcecred)"
## 📋 Anything to add?
@liviade1 shared a feature request to add an automation to collect wallet addresses and send/transfer the data to a spreadsheet.
(*Edits might be needed here for more details^^)

## ⏰ Urgency/Due Date/Blockers?
- Due date: 1-3 days
- Blockers:
  - [ ] Sorting out the deployment and which spreadsheet to use
  - [x] Discuss on which fields to store(map through discord name or d

[2021-04-30 12:13] tamarandom commented on #493
Went deep on key Token Engineers and those building actively (and for many years) in the space.

Tomer (good dollar and more), Mihai (ARK project), Julio (Circles), Jantine (Tezos), Dani (Tezos), Max (leapdao), Victor (Leapdao), Max (carbonbase), Abbey (Radicle)

Most of these were recommended by @jessicazartler and that's how they got on this Hatcher list. Praise @jessicazartler 🤗

[2021-04-30 12:21] tamarandom commented on #661
Note: The dates are meant for "internal" used. The nature of what we're building requires flexibility and expectation of the unknown unknowns we will encounter. All that means is that dates should not be published and should be used to plan comms and Working Group readiness checks. I love you all. 🤗

To whomever in the Sprint Retrospective asked for my gantt chart, careful what wish for.  😂  🙈

![

[2021-04-30 12:21] #661 closed

[2021-04-30 12:25] tamarandom commented on #221
![slay.jpeg](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/a7d32291-afdf-4b7d-a491-19b73f5f6cc5)

[2021-04-30 12:47] tamarandom commented on #64
I was thinking the same @jessicazartler.

We have this (below) thanks to everyone who has given such great feedback as it was evolving. I know it could be a lot better but it's good enough for right now. The good news is that I'm in touch with a creative director that is interested in taking a crack at making this more pleasing to the eye/ brain and I will open a new issue for that one.

Halleluja

[2021-04-30 12:47] #64 closed

[2021-04-30 12:49] tamarandom opened #667 "TEC Hatch visual explainer"
## 📋 Anything to add?

This is for the work Joe (not yet in github) is doing to improve the current Hatch phase diagrams we have thrown together.

Definition of done:
- a more professional version of the Hatch process diagram that we can use for Hatcher Outreach, Comms, Gitbook, Twitter, everywhere!

## 🤼‍ Reviewer

@tamarandom

## 🔗 Work doc - inspirational links
References #64

Miro doc with the

[2021-04-30 12:53] markoprljic commented on #292
@liviade1 @GriffGreen What's the status of reviewing this?

[2021-04-30 12:54] markoprljic commented on #517
Hi again @jessicazartler Any update on this?

[2021-04-30 12:56] tamarandom commented on #655
This is coming together. Thought work is mostly done and an ugly-baby (i.e., 1st draft) in the miro board.

A big piece of this will be the work we've started in #667 although this issue is a separate piece with a more specific target, larger scope and different key points (maybe).

Going to continue to work on it in the next Sprint.

[2021-04-30 13:22] Zeptimus opened #668 "Discuss and set up a work flow for the recordings with the bot"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 13:24] Zeptimus commented on #645
We will keep this issue open 1 more sprint, comms was really busy

[2021-04-30 13:26] Zeptimus opened #669 "Stewards WG transparency audit"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 13:32] Zeptimus opened #670 "Stewards WG transparency audit"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 14:18] tamarandom opened #671 "Monitor Discord new members, are people still getting stuck or is it getting better?"
## 📋 Anything to add?

The onboarding journey had bad metrics. There were some steps taken to improve that (see #499).

Are they working?

**Criteria for success**
- Method to measure what percent of new joiners are able to see/join all channels with ease, what percent get stuck.
- Tweak/test (if necessary). What can be improved?

Note: There is a stop-gap measure of @danelsuga, as part of her res

[2021-04-30 14:22] tamarandom commented on #556
Thanks @krisjpi !!!

[2021-04-30 14:22] #556 closed

[2021-04-30 14:36] tamarandom opened #672 "Invite Stewards to Hatch Outreach calls"
## 📋 Anything to add?

Specifically those that have not yet been in these sessions.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 14:37] tamarandom commented on #548
This is ongoing process. Checked-in with @eduardovegap to make sure we can close it. No need to keep it open anymore.

[2021-04-30 14:37] #548 closed

[2021-04-30 14:41] tamarandom commented on #672
Proposals outreach is being tracked in this xls. https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1523587366

I just moved this to that sheet and closing it here.

[2021-04-30 14:42] tamarandom commented on #352
Proposals outreach is being tracked in this xls. https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1523587366

I just moved this to that sheet and closing it here.

[2021-04-30 14:42] #352 closed

[2021-04-30 14:43] tamarandom commented on #357
Proposals outreach is being tracked in this xls. https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1523587366

I just moved this to that sheet and closing it here.

[2021-04-30 14:43] #357 closed

[2021-04-30 14:43] tamarandom commented on #354
Proposals outreach is being tracked in this xls. https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1523587366

I just moved this to that sheet and closing it here.

[2021-04-30 14:43] #354 closed

[2021-04-30 14:44] tamarandom commented on #335
Proposals outreach is being tracked in this xls. https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1523587366

Moved the project to that sheet & closing it here.

[2021-04-30 14:44] #335 closed

[2021-04-30 14:44] tamarandom commented on #339
Proposals outreach is being tracked in this xls. https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1523587366

Moved the project to that sheet & closing it here.

[2021-04-30 14:44] #339 closed

[2021-04-30 14:51] danelsuga commented on #671
I contacted @liviade1 and @JuankBell today to see if we could modify the message to make it clearer to new joiners that they will not have access to anything if they don't green-check the message. Perhaps if we make it supremely evident right from the start, that might help alleviate the problem.

[2021-04-30 14:54] #343 closed

[2021-04-30 14:54] tamarandom commented on #343
Proposals outreach is being tracked in this xls. https://docs.google.com/spreadsheets/d/1RJK8gPqUoRfehX9e60sTCMAM_R1rI2CuiV1r-i3wAXQ/edit#gid=1523587366

Moved the project to that sheet & closing it here.

[2021-04-30 14:59] tamarandom opened #673 "Stewards Audit ;) by Transparency WG"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 15:16] danelsuga commented on #671
Note also that of all the new joiners whom I contacted, none of them at this point have returned to green-check the message.

[2021-04-30 15:21] Vyvy-vi commented on #663
Is there any reason, that we're using the old issue_template location?

[2021-04-30 15:30] jessicazartler commented on #493
You da best @tamarandom <3 Keep up the incredible work!

[2021-04-30 15:38] jessicazartler commented on #292
It's been reviewed.. it's on me for next phase - integrating the feedback.. thank you :D

[2021-04-30 15:39] jessicazartler commented on #64
Awesome! Thank you to everyone x 2 and hallelujah indeed!!!! hahaha Yay for the creative director - thank you and good luck with exploring that collab

[2021-04-30 15:51] liviade1 commented on #640
write down what are the solutions we'll have available and talk about the autonomy each person and wg has :)

[2021-04-30 15:54] liviade1 opened #674 "Revise TEC agreements with Shawn"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 15:59] liviade1 commented on #666
Hey @mateodaza @Santigs would be good to hear your thoughts here

[2021-04-30 16:05] liviade1 opened #675 "revise and categorize proposal submissions"
## 📋 Anything to add?

give them feedback and categorize within our 3 buckets for funding and coordinate with comms to promote them

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 16:07] tamarandom commented on #499
Closing. New issue to monitor new joiners over the coming Sprints.

[2021-04-30 16:07] #499 closed

[2021-04-30 16:15] tamarandom commented on #635
Dupe with one in Comms.

[2021-04-30 16:15] #635 closed

[2021-04-30 16:15] #634 closed

[2021-04-30 16:15] tamarandom commented on #634
Dupe with one in Comms.

[2021-04-30 16:23] #644 closed

[2021-04-30 16:30] chuygarcia92 commented on #512
we will take a look into this issue next Monday at 12PM PST at the content workshop

[2021-04-30 16:35] liviade1 opened #676 "graviton time"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 16:39] JuankBell opened #677 "community support around post hatch changes discussions"
## 📋 Anything to add?

Talk with the stewards to identify the key changes and how to prepare the community.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@liviade1

## 🔗 Work doc - inspirational links

[2021-04-30 16:40] tamarandom commented on #616
Closing.

[2021-04-30 16:41] tamarandom commented on #615
Closing.
As there are new ideas and new proposals, share with @eduardovegap and Hatch Outreach team.

[2021-04-30 16:45] JuankBell opened #678 "Make Icebreakers and hangout spaces!"
## 📋 Anything to add?

Make more icebreakers to build community relationships and incentivize communication

https://icebreaker.video/events/GRgR0mLvZk3CaYKMpOBO (update questions)

Proposed schedule, and link with onboarding process @danelsuga so that new members can participate.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗

[2021-04-30 16:46] eduardovegap opened #679 "Proposals on the Forum Review"
## 📋 Anything to add?

Check the proposals of the forum, and come up with a review and updates to be followed up on the next HO Call.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-30 16:53] tamarandom commented on #466
This was done! Looks great. Closing.

[2021-04-30 16:53] #466 closed

[2021-04-30 16:59] tamarandom commented on #578
Ready for closing.

[2021-04-30 16:59] #578 closed

[2021-04-30 17:09] tamarandom commented on #660
Hey @kristoferlund can you please make this small change?

[2021-04-30 17:49] jessicazartler commented on #615
Thanks Tam, Jeff and I are due to submit a few proposals with Z - it's backlogged but we'll try to get it in end of hatch / before the Commons Upgrade - otherwise, I don't see a need for more proposals, they will come when there is $
Thank you for everyone's hard work!

[2021-05-02 17:31] Vyvy-vi commented on #678
I have a proposal here -
Since there's a discord bot being made, perhaps we can use the bot to host icebreakers in the discord itself. (might need a little work, but totally possible)

It's just that the icebreaker platform is a bit too buggy(and not opensource = A deal breaker :P)

[2021-05-02 17:34] Vyvy-vi commented on #666
There's a level of working set up here-
(Note- This isn't the final version, but since the data is on a database, this can be rendered onto a site/any other form which might be more helpful for anyone updating this with the sourcecred instance, or in case we automate the entry to sourcecred, accessing data from mongo should be straight-forward)
Link to PR: https://github.com/Vyvy-vi/TEC-Discord-Au

[2021-05-03 09:17] tamarandom opened #680 "Emphasize that there is an action required on this landing page"
Something like "You must READ AND ACCEPT the below to see and join channels on this server!" in big red letters at the top.

![Screen Shot 2021-05-03 at 11.15.20 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/64d64ff7-e609-4f80-86e4-e17c66ec68fe)##

 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Review

[2021-05-03 09:39] tamarandom commented on #680
Looks like some people think it's THIS check box they have to check and not the above one.

![Screen Shot 2021-05-03 at 11.38.20 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/e6478fc4-ef16-4bf9-9702-72b31b4c59f5)

[2021-05-03 09:49] danelsuga commented on #653
Done! :)

[2021-05-03 09:49] #653 closed

[2021-05-03 09:52] tamarandom commented on #220
Closing again. But this time removed the #repeating label so it will stay closed. ;)

[2021-05-03 09:52] #220 closed

[2021-05-03 10:16] iviangita commented on #563
@Vyvy-vi  the apostrophe issue still isn't fixed on my end, do other people also get this issue or is it just me? :(

![image.png](https://images.zenhubusercontent.com/5fb5cba95f94b9eb73a91fe5/c3a8ec74-7a82-4dbb-b7d6-ddb04247ff25)

[2021-05-03 11:39] Vyvy-vi commented on #563
@hurek
Maybe we can do a hack sesh in this issue, this week

[2021-05-03 14:02] hurek commented on #563
Solved on dev side. Just need to update bot.

[2021-05-03 14:09] Vyvy-vi commented on #563
Solved by https://github.com/hurek/Praise-Bot-Discord/commit/e992d77264e89a528e7cb5295e775fe135f5a056 thanks to @hurek
It might take some time for the fix to be reflected(until the bot is updated, but it's fixed)

[2021-05-03 14:09] #563 closed

[2021-05-03 14:11] iviangita commented on #563
@hurek @Vyvy-vi THANK YOU!!!!

[2021-05-03 19:30] jessicazartler opened #681 "Update & add What's in a Hatch link to Forum Posts / Update Glossary Hatch term"
## 📋 Anything to add?

Adding CS blog on "What's in a hatch to the two forum posts below.. also, @tamarandom the glossary definition of "Hatch" needs to be updated as it used to mean when the bonding curve got initiatilized.. now because of launching in two parts, we have changed the definition of the Hatch

Also then, the Hatch definition should be updated in the glossary of the forum/Gitbook
htt

[2021-05-03 19:59] danelsuga commented on #680
Hi @tamarandom. I cross-checked the wrong green-checks (the ones on explanatory message of @JuankBell ), and most folks had green-checked **both** messages, however at least two did not. I since informed them (and am keeping track of all that info on the contributor log).

Can some one please help me change the header of this message on the "start here" page? It really needs to indicate asap that

[2021-05-04 04:19] mount-manu commented on #369
Please elaborate on this, I might claim it.

[2021-05-04 04:22] mount-manu commented on #145
@jessicazartler would you please elaborate? Just got on the content publishing & distribution team so I might claim this.

[2021-05-04 07:03] tamarandom commented on #680
Hey @danelsuga thanks for checking on that. I am not able to edit that message myself but @JuankBell will be able to help you with editing or posting an updated welcome message on the #start-here channel.

[2021-05-04 10:03] tamarandom commented on #663
Hey @Vyvy-vi !! No good reason other that it's a very old template. ;) We'll be using the new template workflow now that we're taking the opportunity to refresh them.

[2021-05-04 12:13] tamarandom commented on #680
Hey @Vyvy-vi , @JuankBell is sending me to you. ;) Can you help @danelsuga with access to edit or replace that starting message, please.

[2021-05-04 12:49] Vyvy-vi commented on #680
I think there are a few edits needed-
1. The channel header(description)
This can be edited by-
   - Click on the settings symbol next to the channel name in the listing!
   [discord channel setting](https://images.zenhubusercontent.com/6032294817c1a127a267f9de/030f28f9-c5a6-4e3c-ab02-3079b6cc5d73)
    - Edit the `Channel Topic` field in the `Overview`
    - Save Changes
2. The old message can be

[2021-05-04 14:12] danelsuga commented on #680
Thanks, @Vyvy-vi !

1. I edited the "channel topic" for grammar but did not otherwise change that message. It should probably be changed to something clearer, however, such as: "In order to access any TEC Discord channels, new joiners must read and accept the following rules."

2. To edit the old message, I suggest the following (@tamarandom, @liviade1, @JuankBell, could you look at this please?):

[2021-05-04 20:10] Vyvy-vi commented on #680
@danelsuga  How does this look: https://discord.com/channels/810180621930070088/810183289863798815/816366230549823539 ?

[2021-05-04 21:34] Vyvy-vi commented on #671
The edits to the messages have been made. Hopefully, that should help emphasize that the reaction is necessary for getting access.
I think it would be more easily classified if we know how many of the users are actually human. The site made in #499, hasn't been adopted as of yet, however, once it is, we could be more sure about how many members are bots and how many humans(and in future, no new bo

[2021-05-05 05:31] natenatesoo opened #682 "TEC Website: Update Medium Link"
I'm not sure who to tag for this issue, but wanted to point it out.  Our current Link to the Medium blog need to be changed.

Current Medium takes us here: https://tecommons.medium.com/

It should take us here: https://medium.com/token-engineering-commons

[2021-05-05 11:16] danelsuga commented on #680
Thanks, @Vyvy-vi! That is really helpful! Looks great.

If I needed to tweak it, what would be the best way to do that? I think, for example, we might want to swap out links at some point (I took out an old link already for example, but it would be good to put back in an up-to-date onboarding link) and update the message itself (I did not change the original message at this point) as well as gener

[2021-05-05 11:51] Santigs commented on #680
We will go over it in the WG meeting next Friday

[2021-05-05 15:40] markoprljic commented on #681
@CommonsBuild/communications Does this need to go to the CD pipeline?

[2021-05-05 15:42] Vyvy-vi commented on #680
There is a bot command that you would have to run(this could have been straightforward, but the Carl Bot's developers screwed up the easier method and I think a fix wouldn't be comming any time soon)

Maybe next WG call or anytime you're free, I can show how to edit the message in chat.

Another way might be to delete that message and make a new one whenever needed

[2021-05-05 15:56] danelsuga commented on #680
Thanks, @Vyvy-vi! I'm going to close this issue now.

[2021-05-05 17:14] eduardovegap commented on #679
![Captura de pantalla 2021-05-05 a las 19.13.26.png](https://images.zenhubusercontent.com/5fb59e0d956d0a522cd3101d/d0f11792-db77-4685-9d89-fba81a17a50b)

where we are now!
Will keep updating.

Will check updates with @jessicazartler and do soft approach with them.

[2021-05-05 17:32] jessicazartler commented on #679
I've got the top 6 - Edu will do Dacade and Wesley with Token Log thanks Edu! <3

[2021-05-05 17:41] #664 closed

[2021-05-05 17:41] #649 closed

[2021-05-05 17:41] JuankBell commented on #557
Need to talk with @natenatesoo for distribution

[2021-05-05 17:43] #675 closed

[2021-05-05 17:51] JuankBell commented on #665
I shared with him this repository that has great links for each Wg! https://github.com/CommonsBuild/tec-info/tree/main/wg-digest

[2021-05-06 08:21] tamarandom commented on #665
Hey @chuygarcia92 @danelsuga  I'm doing the Transparency audit and just got to the question "Are the main tasks clearly assigned/owned by only one contributor in Github issues?"

This is the only issue the tarnishes an otherwise perfect record. 😂   I've added @chuygarcia92 as a reviewer but this task is specific for @danelsuga !!

[2021-05-06 08:41] danelsuga commented on #665
I synced with T Wells on Tuesday, May 4 and am syncing with @chuygarcia92 today, May 6.

[2021-05-07 10:40] tamarandom opened #683 "HatchDAO proposal, do it do it do it"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-07 14:22] GriffGreen opened #684 "Forum Posts keep getting "Bumped" how do we stop that?"
![Screen Shot 2021-05-07 at 7 21 04 AM](https://user-images.githubusercontent.com/14945613/117463822-5d26cb00-af50-11eb-8c14-a14ae2ca99d2.png)

[2021-05-07 19:07] mount-manu commented on #636
I got this, please assign.

[2021-05-09 06:51] natenatesoo commented on #557
I will work on distribution for the survey. Considering the goal of this survey, I believe we should really use a direct approach by offering this survey to different communities and see how they manage conflict.

Not many people will be willing to take the survey through traditional channels of distribution, and If we are trying to acquire useful information from this survey, I think if @JuankBel

[2021-05-09 06:53] natenatesoo commented on #576
I will create the template. Is there any way to limit the options of issue creation to the templates we offer?

[2021-05-09 09:40] tamarandom commented on #683
Done. https://github.com/CommonsBuild/TEC-Hatch-Vote/issues/52

[2021-05-09 09:40] #683 closed

[2021-05-09 09:53] tamarandom commented on #673
Done! https://forum.tecommons.org/t/community-stewards-audit/367

[2021-05-09 09:53] #673 closed

[2021-05-09 15:16] mount-manu commented on #636
I'll explain: the agency I'm a partner in (www.workowhole.in), although not listed in our services, knows how to do SEO for projects. We don't do it for free but I'm willing to cover the costs as long as the work translates into IHs.

On the other hand, I can understand how our inability to help with the diagram due to circumstances I assume responsibility for, would make some skeptical as to our

[2021-05-10 01:51] divine-comedian commented on #576
You can set the default template that will pop up automatically when an issue is created.

[2021-05-10 06:55] iviangita commented on #426
Sorry for the late update, here are the new CS videos to be added to TEC channel

For Community Calls:
Sprint 13 - https://youtu.be/xzGBg75Ihjk

For Commons Swarm:
Sim 69 - https://youtu.be/frfc5P-3ckQ
Sim 70 - https://youtu.be/OHdQLsXVYOo
Sim 71 - https://youtu.be/wNFPGYKyc6U

[2021-05-11 00:36] jessicazartler commented on #145
This issue is quite old so I don't remember the context.. what I would say is it could be helpful to have a content map for TEC like this one we made for CS https://www.notion.so/giveth/Commons-Stack-Content-Map-f572a1a856f84f4e99e5847d7b18efe7

I had to go hunting for all the Params links today.. so perhaps would be good to group articles in a context like that
@natenatesoo @markoprljic @tamarand

[2021-05-11 14:24] #312 closed

[2021-05-11 23:19] GriffGreen opened #685 "Medium linked on the website is the wrong one"
it should be linked to: https://medium.com/token-engineering-commons

But the link goes to just the author

[2021-05-12 12:16] kristoferlund commented on #660
✅   Forgot about this one but fixxed it now.

[2021-05-12 12:16] #660 closed

[2021-05-12 13:02] tamarandom commented on #145
Hi! This is quite an old one and it's also an Epic, so a container for all the issues related to the Comms content & distribution which has since moved to it's own repo here : https://app.zenhub.com/workspaces/tec-content-production-and-distribution-60549332d7d741001bbea827/board?repos=349409011

@jessicazartler or @mount-manu (or @chuygarcia92 or @natenatesoo or @markoprljic ) if you want to drop

[2021-05-12 13:24] tamarandom commented on #681
Thanks @jessicazartler !

I quickly fixed the Hatch definition in the Glossary since referring to initializing ABC as part of the Hatch is false. I left the link to the debate about the Hatch phases and added a link to the What is a Hatch article. It is just a quick fix.

[2021-05-12 13:27] tamarandom commented on #563
Excellent!! 🥳

[2021-05-12 13:30] tamarandom commented on #660
Awesome, thanks @kristoferlund !

[2021-05-12 13:42] tamarandom commented on #636
That is a very kind offer @mount-manu.

This SEO project is being led by @natenatesoo with support from @iviangita and @chuygarcia92. I believe they have a bi-weekly sync on the progress of this project. Do reach out to @natenatesoo to see how you can help out!

This is an Epic, so a container for all the issues related to the SEO project. Epics are not native to Github so you have to use Zenhub t

[2021-05-12 15:56] jessicazartler commented on #145
Thanks Tam!

[2021-05-12 15:57] jessicazartler commented on #681
Thanks Tam you da best! @markoprljic up to ya'all to decide the rest thanks so much you two!!

[2021-05-12 16:17] markoprljic commented on #145
IMHO I think it would be great to build up a page for such content and use that for onboarding people. I created the issue for that here https://github.com/CommonsBuild/content-distribution/issues/52

This issue can be closed if you ask me.

[2021-05-12 16:56] tamarandom commented on #667
Phase 1 and 2 are now separate from the TEC is live piece.

Here is the 2-phase part!

![Screen Shot 2021-05-12 at 12.54.05 PM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/2cc6111f-e70b-4a5c-ab26-ea5b46fa738d)

[2021-05-12 16:58] tamarandom commented on #672
@natenatesoo joined one and @Zeptimus should be able to join one later this week. 🤞

There are fewer Hatch Outreach sessions that the previous Sprints!

[2021-05-12 18:02] JuankBell commented on #678
That would be great @Vyvy-vi ! We were talking about start making them in the AMA calls during wednesdays. if there is a way we could pair randomly people for 1 on 1 in the Discord that would be amazing. But if its too hard we could give another try to the platform, I edited the questions of the past game with new ones!! :D https://gatheround.com/events/GRgR0mLvZk3CaYKMpOBO

[2021-05-13 06:34] tamarandom commented on #662
Thanks @jessicazartler and @natenatesoo !! Looking forward to seeing James presentation tomorrow!

[2021-05-13 06:44] danelsuga commented on #654
This is part of my daily process. Closing for this sprint!

[2021-05-13 07:50] tamarandom opened #686 "#join-here welcome message improvement on Discord"
## 📋 Anything to add?

Yesterday, @liviade1 mentioned in passing that it might be better if the message was shorter. (Need to check in with her on what her specific thoughts were about this).

Looking at the welcome message again, we should at least move the warning message to the bottom (as well as the top). Unless your discord is quite long, the warning message does not even show up on the scree

[2021-05-13 09:07] tamarandom opened #687 "Planning Hatch launch (and/or hatch close) celebrations"
## 📋 Anything to add?

Open question: How should we celebrate the Hatch. @jessicazartler offered some great ideas before and I am thinking we should explore and plan one of them.

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-13 09:07] tamarandom commented on #687
@jessicazartler this really is your domain. Would you have the bandwidth and be interested in taking this on?

[2021-05-13 09:14] tamarandom commented on #672
Will continue to do this as new sessions are made next Sprint. Closing this issue as it's a part of the process now.

[2021-05-13 09:14] #672 closed

[2021-05-13 09:17] tamarandom commented on #667
The piece of work for the TEC live will happen next Sprint. New issue for that coming!

[2021-05-13 09:17] #667 closed

[2021-05-13 09:19] tamarandom opened #688 "TEC Hatch visual explainer - spread far and wide"
## 📋 Anything to add?

- [x] TEC Hatch deck
- [x] Gitbook
- [x] Post on Forum
- [x] Attribute credit to: Joe Zandstra, Tamara Helenius, Jeff Emmett
- [x] updates on : https://forum.tecommons.org/t/3-become-a-hatcher/101

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-13 09:20] #290 closed

[2021-05-13 09:21] #495 closed

[2021-05-13 09:21] #533 closed

[2021-05-13 09:27] tamarandom commented on #641
Closing this! Thanks @jessicazartler, very much appreciate all that you've done to boost the outreach to people and projects in the ecosystem!

[2021-05-13 09:27] #641 closed

[2021-05-13 09:45] tamarandom commented on #671
Oh no! We don't have a champion for this. @Vyvy-vi would this be something you can take on? I imagine it will remain a repeating issue for the next few sprints while we observe the results of changes. @danelsuga is looking at when new members are stuck (i.e., not checking the green box) and reaching out to them directly. A few of us are also manually assigning the role when we see someone we know

[2021-05-13 09:53] tamarandom commented on #284
@GriffGreen I don't know if you could have been any more successful on this. These Param parties and debates were key. It was especially great that Niran from Panvala joined yesterday and said "history is being made" and that Ronald from positiveblockchain also shared his high regard for this approach after having attended a session this week.

[2021-05-13 09:54] tamarandom commented on #285
I used all my voting power!!! Need more voting power!! 😂

[2021-05-13 09:56] tamarandom commented on #423
@GriffGreen before closing this I just want to check the result. Is there any reason to leave this open?

[2021-05-13 11:58] tamarandom commented on #658
@danelsuga and I both has templates to update (see # 663) so we worked on it together.

Here is the draft: https://docs.google.com/document/d/1r1D0ZTbOCf3RQs2K6W-uOWniqzvJo5WDASmo5pYyArU/edit#

Asking for Advice Process from all the Stewards but especially @liviade1 @chuygarcia92 @natenatesoo @markoprljic @Zeptimus  --> Are there any components that could be added or altered to make the template m

[2021-05-13 11:59] tamarandom commented on #663
See update to #658!

[2021-05-13 12:03] tamarandom commented on #493
Hatcher outreach sessions have slowed this Sprint in favor of concentrating more effort on explainers and more helpful content to share. Happy with the progress. But in terms of reaching out to Hatchers, the Param parties have been amazing way to get the word out and explain more about the groundbreaking approach of the TEC!!

[2021-05-13 13:50] tamarandom commented on #659
Hey @cranders1 ! Since you tested out an email I'm thinking some good progress was made. Are there any outstanding items to do? Can you drop a short update here before our Sprint planning tomorrow, please?

[2021-05-13 13:58] chuygarcia92 commented on #310
## **UPDATE ON COMMUNITY WHY VIDEO**:

For the past couple of weeks @mount-manu and I have been going through the video. You can check our progress so far in this private link: https://vimeo.com/548443347/41765bb857

Some notes we are currently working on:

- Jake's interview is getting replaced by mine.
     * I'm adding a short definition for TE.
     * I'm covering Jake's topics as well as intr

[2021-05-13 13:58] cranders1 commented on #659
Hubspot is now active. Dan has migrated the appropriate CSTK records.
We have approx 125 email addresses from individuals who authorized info transfer from CSTK to TEC.

Currently testing.
Working on design, SEO, and overall utilization strategy at SEO work session fri 5/14.
More to come soon.

[2021-05-13 14:06] tamarandom commented on #517
Hey @jessicazartler! I'm reading the doc now and am thinking that as 1) it's already quite out of date regarding the Hatch and 2) you and Jeff published the What is a Hatch article by Commons Stack and 3) we have the visual explainers - that this subject is already well covered.

That said, a guest blog from Shermin would be enormous! And we should make the effort to make that happen.  @chuygarcia

[2021-05-13 14:16] tamarandom commented on #659
💚 💙 💜 💛 🧡

[2021-05-13 14:23] markoprljic commented on #310
Great update! :)
Looking forward to the next iteration and all points you mentioned to be fixed.

[2021-05-13 15:04] eduardovegap commented on #617
More focused on outreaching the ones proposed, and engaging with new ones.

[2021-05-13 15:16] laurenluz commented on #310
Hey @chuygarcia92 @mount-manu  - love the work you guys have been doing on the video - thanks so much for putting your heart into it!

A few comments:

1. I find it pretty distracting to see the little PIP views of the interviewers in the corners of some of the video shots. Especially in the interview with Zepti... screenshots below. It goes from his face and name, to his face and Jess. Anyway you

[2021-05-13 16:56] markoprljic commented on #658
I think these look great! Love to see success criteria incorporated. Thumbs up from me.

[2021-05-13 17:10] tamarandom commented on #531
There was a meeting of the minds - Ludo and @kristoferlund - yesterday and again this morning. Feeling confident that we will have this live soon!

[2021-05-13 19:07] tamarandom opened #689 "Social Media : Youtube page feature the Z/Trent params party"
## 📋 Anything to add?

I went looking for the Zargham/Trent params party link to share and there were a few steps to search for it (click on Videos and then scroll). Essentially if I didn't know to look for it I would not have seen it. (https://www.youtube.com/watch?v=qLlfPdbb8NY)

@chuygarcia92 @natenatesoo Do you think we should make this video the feature video during the param run-offs (instea

[2021-05-13 21:06] danelsuga commented on #686
Plan to sync with @Vyvy-vi to rewrite the message as suggested.

[2021-05-13 21:09] danelsuga commented on #680
Hi @Vyvy-vi. This issue was mentioned again in #686. I'm reopening this one since there were some useful details. @Vyvy-vi, can we sync to rewrite or edit? Thank you.

[2021-05-13 21:10] danelsuga commented on #686
Reopening #686, which is about the same thing with more details.

[2021-05-13 22:20] danelsuga commented on #665
Actively working on this! Hope to have something to show for it shortly.

[2021-05-13 23:20] chuygarcia92 commented on #310
yes, I agree with @laurenluz about the PIP... does it take out a lot of quality because of compression if we crop it a little bit? @mount-manu
if this is the case I could find a way to upscale it so we can still do it with less quality loss

[2021-05-14 06:00] markoprljic commented on #310
Somehow I feel the first early draft version that @mount-manu demoed on the Comms call was more impactful and we lost that a bit. Would love to see that version again.

[2021-05-14 10:42] tamarandom commented on #285
![photo_2021-05-13_23-04-45.jpg](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/729b986a-2123-4c38-bb09-e5109a82bb52)

[2021-05-14 11:36] Zeptimus commented on #670
https://forum.tecommons.org/t/community-stewards-audit/367 one of the best :D

[2021-05-14 11:36] #670 closed

[2021-05-14 11:43] Zeptimus commented on #668
Dione

[2021-05-14 11:43] #668 closed

[2021-05-14 11:43] Zeptimus commented on #645
@chuygarcia92  its there any update worth mentioning here?

[2021-05-14 11:44] Zeptimus commented on #426
done!

[2021-05-14 11:56] Zeptimus opened #690 "Work on how to approach the re-uploading of params audit"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-14 11:57] Zeptimus opened #691 "Create transparency on the process of the credentials"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-14 12:00] Zeptimus opened #692 "Comms WG transparency audit"

[2021-05-14 12:13] tamarandom opened #693 "Forum : latest posts are not latest"
## 📋 Anything to add?

When I go to the forum to look for the latest posts, I often come across these older posts that have been "automatically bumped" (see pic).

Right now, the #3 "latest post" is from Dec 2020. This is not a good UX for someone wanting to see the real latest posts from our community.

![Screen Shot 2021-05-14 at 2.09.08 PM.png](https://images.zenhubusercontent.com/5faaa1d038c64

[2021-05-14 14:49] tamarandom commented on #618
Closing these Proposal Squad repeating issues as Proposals strategy and workload evolves. We can open new issues when needed!

[2021-05-14 14:49] #618 closed

[2021-05-14 14:50] tamarandom commented on #333
Closing these Proposal Squad issues as the strategy and workload is evolving. We can open new issues when needed.

[2021-05-14 14:50] #333 closed

[2021-05-14 15:07] tamarandom commented on #669
Dupe of #670

[2021-05-14 15:07] #669 closed

[2021-05-14 15:08] #284 closed

[2021-05-14 15:08] #647 closed

[2021-05-14 15:09] danelsuga commented on #686
Santi has just given me the legal guidelines for changing the message, which includes switching the first two points (first two sentences basically) so that the info regarding being recording comes first.

I am syncing with @Vyvy-vi to take care of that as well as adding another request at the bottom of the message to check the message (as suggested by @tamarandom).

Also per Santi and his Advice

[2021-05-14 15:09] #423 closed

[2021-05-14 15:10] danelsuga commented on #686
Santi has just given me the legal guidelines for changing the message, which includes switching the first two points (first two sentences basically) so that the info regarding being recording comes first.

I am syncing with @Vyvy-vi to take care of that as well as adding another request at the bottom of the message to check the message (as suggested by @tamarandom).

Also per Santi and his Advice

[2021-05-14 15:10] tamarandom commented on #575
@divine-comedian @natenatesoo @markoprljic Are there any next steps for this issue? Or should be be closed?

[2021-05-14 15:12] GriffGreen opened #694 "Spin up weekly syncs with Sem on the Commons Swarm Roadmap"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-14 15:15] tamarandom commented on #576
Oooh this is the week of github issue templates!! There is a new one for Default Issues and Contributor Issues too!! (#663 and #658)

Would love your input on them @natenatesoo and @divine-comedian : https://docs.google.com/document/d/1r1D0ZTbOCf3RQs2K6W-uOWniqzvJo5WDASmo5pYyArU/edit

[2021-05-14 15:17] tamarandom commented on #625
@ddan4 Should we consider this issue done now and close it? Or is there anything left to do?

[2021-05-14 15:18] tamarandom opened #695 "Discord epic for all Discord related issues"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-14 15:48] tamarandom opened #696 "Hatcher Outreach Group Sessions"
## 📋 Anything to add?

Host Hatcher Outreach sessions for larger groups, entire teams on the Curate sheet instead of individuals or smaller groups.
(To be honest the biggest piece of work on this one is actually the coordination of so many calendars but give it a shot!)

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc -

[2021-05-14 15:55] #674 closed

[2021-05-14 16:14] #528 closed

[2021-05-14 16:15] GriffGreen opened #697 "Take the Hatch Spec that Sem makes and clean it up to be a bit more digestible"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-14 16:16] tamarandom commented on #692
Dupe of #645

[2021-05-14 16:16] #692 closed

[2021-05-14 16:21] divine-comedian commented on #310
If I understood correctly we're going to be shooting for a shorter video version that's around the 1:30 mark.

I agree with Lauren, let's switch up the music if we can, feels a bit slow and cheesy.

I have lots of feedback for how to shorten this video so we can hit our target length, nothing at all is personal but just a matter of how we can most efficiently convey our information, highlight our

[2021-05-14 16:26] GriffGreen opened #698 "Prepare the next Demo for Thursday the 3rd with Fake Tokens on xDai"
- [x] Make a plan (pick the days for our test)
- [x] Create the new tokens
- [x] Distribute tokens to trusted seed
- [x] Modify Hatch Front end to make it work with that
- [ ] Once we have the Params do a full launch

@sembrestels

[2021-05-14 16:52] cranders1 commented on #380
on it

[2021-05-14 16:59] tamarandom commented on #671
@tamarandom to find a champion. (Hope it can be you @Vyvy-vi )

[2021-05-14 17:00] tamarandom commented on #374
Update: closing!

[2021-05-14 17:00] #374 closed

[2021-05-14 18:14] Vyvy-vi commented on #671
Yes, I can take this next Sprint.
The discord invite site is useable, the next steps would be -
- Delete all invites to the server and use https://discord.tecommons.org/ for all discord invitations. (*note- we might need to discuss with Comms/respective WGs about editing links to the calls. We might need to tweak this a little bit to ensure that this can link to the discord voice channels too, but

[2021-05-14 18:35] laurenluz commented on #310
This is a good place to get music samples: https://audiojungle.net/

Would love to know... what voice are we trying to covey here? "this is serious and important work that you should care about" "this is fun and exciting and you should join"? The music does a lot to set the tone and right now it's kind of painfully corporate, which I don't think does us justice!

Here's a quick example for somethi

[2021-05-15 13:20] jessicazartler commented on #517
I contacted Shermin, she is no longer available to contribute. She has moved on to writing a new book. Closing.

[2021-05-15 13:20] #517 closed

[2021-05-15 13:52] jessicazartler commented on #310
@chuygarcia92 I appreciate all the hard work. I didn't reach Simon DLR (from South Africa) to get his permission, so please remove him from the video.

Some feedback:
-I strongly recommend removing Eduardo's soundbite about being "kids trying to change the economy" - nothing personal. but I don't think this is a great reflection for the work.
-For as many times as people say Token Engineering in t

[2021-05-15 20:01] danelsuga commented on #680
Synced with @Vyvy-vi to fix this issue. He recoded it, and it's up and running according to Santi's guidelines, also with the message in red to click the checkmark at the bottom.

[2021-05-15 20:01] danelsuga commented on #686
Synced with @Vyvy-vi to fix this issue. He recoded it, and it's up and running according to Santi's guidelines, also with the message in red to click the checkmark at the bottom.

[2021-05-17 11:07] tamarandom opened #699 "Params runoff"
## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-17 11:08] tamarandom opened #700 "Tamara / draft Hatch & DAO strategy and share with Katy for final edit"

[2021-05-17 11:08] tamarandom opened #701 "Griff / draft Hatch & DAO strategy and share with Katy for final edit"

[2021-05-17 11:08] tamarandom opened #702 "Zeptimus / draft Hatch & DAO strategy and share with Katy for final edit"

[2021-05-17 11:08] tamarandom opened #703 "Katy / Edit the final param drafts"

[2021-05-17 13:48] tamarandom commented on #700
https://docs.google.com/document/d/1bGcJQabPBN_jfbYekzBFpdjxqBy5AtnvN1CLQPs7cWo/edit

Passing to you @danelsuga
CC: @GriffGreen @liviade1 @Zeptimus

[2021-05-17 13:48] #700 closed

[2021-05-17 14:02] tamarandom commented on #671
Hero!

[2021-05-17 18:45] Vyvy-vi commented on #671
However, I don't know if we want to move forward with using the site

[2021-05-17 21:49] Zeptimus commented on #702
Its pasted on the document https://docs.google.com/document/d/1bGcJQabPBN_jfbYekzBFpdjxqBy5AtnvN1CLQPs7cWo/edit

[2021-05-17 21:49] #702 closed

[2021-05-19 15:44] danelsuga commented on #703
Done! Thanks @GriffGreen and @liviade1!

[2021-05-19 15:44] #703 closed

[2021-05-20 09:53] tamarandom commented on #701
Done!

[2021-05-20 14:00] Vyvy-vi commented on #671
I've looked a bit into the server onboarding process, and here's some takeaways-
1. Maybe we should have a hybrid approach, where we can use both normal discord links and the [`discord.tecommons.org`](https://discord.tecommons.org) website. I'll have to change the website workflow a bit and tweak the bot(store the user ids of the people that filled captcha, and are verified as "Human"). Whenever,

[2021-05-20 14:16] tamarandom opened #704 "Manage this: Impact Hour holders that have not activated their Trusted Seed membership that their tokens will not be valid after the Hatch date"
## 📋 Anything to add?

-Impact hours will be awarded at Hatch time.
-Anyone that currently has Impact Hours but have not activated their Trusted Seed membership will lose them at Hatch time.
-We have an xls of all Trusted Seed activations
-We have an xls of all Impact Hour holders
-We need to cross reference this list to identify those that have not activated
-Reach out to those individuals and le

[2021-05-20 14:48] cranders1 commented on #704
Yes, I will assist on this.
Need to review sheet status and versioning.
I was active on this task in the early months via tg, perhaps solo. Think I contacted close to 150 individuals. Stopped that activity several months back but def kept records :)
Should pry schedule a work sesh...

[2021-05-20 14:51] eduardovegap commented on #704
@cranders1 Let's talk!

[2021-05-20 15:00] Vyvy-vi commented on #666
Update: I worked on this a bit, and there are currently 2 approaches to storing the data.
Both the approaches can be used, however, we should discuss which one would be better and easier for the people filling the information.
<table>
<tr>
<td>via FORM</td>
<td>via COMMAND</td>
</tr>
<tr>
<td>
<img src="https://user-images.githubusercontent.com/62864373/119002082-2cac4b80-b9aa-11eb-9223-9b513b1e43

[2021-05-20 16:24] #676 closed

[2021-05-20 18:26] Vyvy-vi commented on #680
Closing this issue for now.
There's further discussion on this topic on #671

[2021-05-21 07:53] danelsuga commented on #671
Thank you, @Vyvy-vi, for all of this great information. I really like your solutions, and I'm totally down for a sync. I think that's a super idea. Timeframe availability can be flexible especially if it's you and I, since I am CET and you are India. Ideally we could do your early afternoon/my morning. It depends on who wants to join. I am in 100%. Let's get feedback from @tamarandom.

[2021-05-21 09:55] danelsuga commented on #654
Done for this sprint!

[2021-05-21 09:56] #680 closed

[2021-05-21 10:03] danelsuga opened #705 "Blog post using Mitch's forum post: How do the Hatch Param Proposals Stack up?"
## 📋 Anything to add?

Griff asked me to modify Mitch's forum post on the run-off vote and proposal comparison to get it on the Medium blog before this weekend.

Briefly to my eyes, it doesn't need a lot of editing. Mitch, @divine-comedian, can you support me on this issue with your thoughts? I'd like to give credit to you as the writer and also anyone else who worked on it with you. Anything else

[2021-05-21 12:31] divine-comedian commented on #705
It looks good! Don't forget to give credit to griff, nathansuits and juankbell for their contributions as well.

Have you edited into medium yet? It could be tricky going from the markdown document.

[2021-05-21 13:11] danelsuga commented on #705
Hi Mitch @divine-comedian! I haven't touched your post yet. I wasn't clear. Yes, it looks good! Is it OK with you if I run through it and tweak if needed?

Yes, I've edit into Medium, and it's not the best, but I'll figure it out. It's sort of piece by piece and all that.

Thanks! And great to all mentioned!

[2021-05-21 21:11] danelsuga commented on #705
Done! Great job, @divine-comedian!

https://medium.com/token-engineering-commons/how-do-the-hatch-param-proposals-stack-up-e2f9696d02f4

[2021-05-21 21:11] #705 closed

[2021-05-21 22:12] cranders1 commented on #704
i have the IH-TS activation crosstab sheet ready to share.

@eduardovegap where is the best place for it? TEC_curate? A fresh sheet?

@tamarandom does edu have access to sensitive sheets with addresses etc? was going to share but couldn't find him in the already permissioned docs. please advise. no offense edu.
the partial is already in the swiss assoc sheet under 'craig_airdrop_working' tab

unfo

[2021-05-22 07:23] Vyvy-vi commented on #671
*Though my personal time zone sorta matches UTC +1, so timing shouldn't be an issue.
I'm most available from 6.30pm CET to 10.30pm CET and 1.30pm - 3.30pm CET

[2021-05-22 14:23] Vyvy-vi commented on #686
Are their any more changes needed, or should we close this issue?

[2021-05-22 14:44] Vyvy-vi commented on #666
from last call, the [COMMAND method](https://camo.githubusercontent.com/11b36dac409f82cf4196472807a00e909707e14735a4d11067b19813e6760533/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3833313139323335333831323338313731352f3834343238383236353139363134323630322f53637265656e73686f745f323032312d30352d31395f61745f31322e32392e30395f414d2e706e67) was preferred, and thus we'

[2021-05-22 14:53] danelsuga opened #706 "Make Mitch's params comparison blog post "featured""
Hi folks! Could some one with the powers (i.e., admin TEC Medium account access) make Mitch's brand new article have "featured" status on the TEC page please?

"How do the Hatch Param Proposals Stack Up?"
https://medium.com/token-engineering-commons/how-do-the-hatch-param-proposals-stack-up-e2f9696d02f4

@jessicazartler
@chuygarcia92
@GriffGreen
@natenatesoo
@tamarandom
@Jeff-Emmett

Thank you!

[2021-05-24 01:38] eduardovegap commented on #704
Thank you Craig!

Not taken at all!
Working on it, sent you a message after checking the document provided, will probably prioritize people that have been accepted as TS and that have earned IH. After that, I will pass to the rest of the list.

[2021-05-24 09:45] danelsuga commented on #706
Thank you, @tamarandom, for helping me learn how to do it myself!

[2021-05-24 09:45] #706 closed

[2021-05-24 12:09] danelsuga opened #707 "Update last two Medium articles to reflect new run-off vote end date"
End of params run-off voting was changed from May 25 to June 1. Update this info in the following two articles:

Params Voting and Final Hatch Demo
https://medium.com/token-engineering-commons/params-voting-final-hatch-demo-81fa5efc242c?source=collection_home---4------0-----------------------

How Do the Hatch Param Proposals Stack Up?
https://medium.com/token-engineering-commons/how-do-the-hatch-

[2021-05-24 12:09] danelsuga commented on #707
Done.

[2021-05-24 12:09] #707 closed

[2021-05-24 15:53] tamarandom commented on #704
Hero, Craig, hero!

"bit of work ahead of us. i am happy to help out if needed on TG reachout." <-- YES! We can use all the help we can get here actually.

Looking at the sheet and it's not so bad actually. There are only 28 people with more than 20 IH that have **not** activated their trusted seed. We start with them. And then 60 more with more less than 20 but more than 4 IH.

[2021-05-24 21:25] Vyvy-vi commented on #693
I think this discussion refers how to disable the auto-bumping feature: https://meta.discourse.org/t/how-to-disable-discourse-automatic-bump-for-topics/116460

[2021-05-24 21:59] tamarandom commented on #693
Excellent, @Vyvy-vi, yes!

[2021-05-24 22:01] tamarandom commented on #693
@chuygarcia92, @Vyvy-vi agreed to take this on. I added you as the reviewer so this issue shows up in your Mentions on github.com/notifications.

@Vyvy-vi 🙏

[2021-05-24 22:03] tamarandom opened #708 "Critical bug, Forum, oh noes."
![Screen Shot 2021-05-25 at 12.02.37 AM.png](https://images.zenhubusercontent.com/5faaa1d038c6409364f7830c/bf46ed7a-0447-49d1-a4e5-08649f650b95)

## 📋 Anything to add?

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-24 22:36] Vyvy-vi commented on #693
I think it should be fixed now, however, to verify maybe monitor - https://forum.tecommons.org/c/defi-legos-and-how-they-work-together/9/l/latest for a while to see if it automatically bumps anything

[2021-05-24 22:38] Vyvy-vi commented on #708
It looks like someone would have to update this manually.
For this, we would need someone who has access to the Server/VM/Docker container that's running this, and run the commands-
[code]

For more info - https://meta.discourse.org/t/how-do-i-manually-update-discourse-and-docker-image-to-latest/23325

[2021-05-25 00:21] cranders1 commented on #704
Revised the sheets. Now should be picking up all matches.
Not much change though with respect to swiss app activation. Don't think that source sheet updated since last run through.

yes, just lmk when i have a list of folks to contact.

[2021-05-25 10:16] tamarandom commented on #693
That's great! Thanks, @Vyvy-vi ! I tried to delete the bumps on a handful of articles but it's a very painful to do manually. Do you happen to know is they can be automatically deleted from the posts?

[2021-05-25 10:16] tamarandom commented on #684
Dupe of #693

[2021-05-25 10:16] #684 closed

[2021-05-25 12:20] eduardovegap commented on #704
I added a new column to @cranders1 called "reached" to mark which ones I have contacted.

[2021-05-25 16:27] Vyvy-vi commented on #693
Even after delating the bumps, I don't think that would affect the relative placement of the posts in the featured section 🤔

[2021-05-25 16:44] tamarandom opened #709 "TEC Style Guide 🏄🏻‍♀️"
## 📋 Anything to add?

We need one. :)

A reference for wording and design conventions that we will adhere to at the TEC in our communications.

@natenatesoo you got a start on this already, if you have the bandwidth to move this forward in the next Sprint, please assign yourself!

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@chuyga

[2021-05-25 20:17] tamarandom commented on #708
Circle'd round with @krisjpi who might be able to do it but the longer term solution is to ask Kay (geleeroyale) if you can also have access to run this yourself.

[2021-05-26 12:50] tamarandom opened #710 "Deploy the new templates on Github!"
## 📋 Anything to add?

For issues #365 and #668 both text are in this doc,
https://docs.google.com/document/d/1r1D0ZTbOCf3RQs2K6W-uOWniqzvJo5WDASmo5pYyArU/edit

## ⏰ Urgency/Due Date/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-26 12:51] tamarandom commented on #658
Excellent, @markoprljic. Thanks for the feedback!

Passed to @Vyvy-vi to deploy. (#710)

[2021-05-26 12:51] #658 closed

[2021-05-26 12:51] tamarandom commented on #663
Passed to @Vyvy-vi to deploy. (#710)

[2021-05-26 12:51] #663 closed

[2021-05-26 15:52] tamarandom commented on #704
Hey @cranders1, there was an airdrop yesterday. Is there an easy way to update the Hatcher Tracking tab to reflect the newly activated?

[2021-05-26 18:30] Vyvy-vi commented on #710
![Screenshot 2021-05-26 at 11 29 01 PM](https://user-images.githubusercontent.com/62864373/119712494-43f1aa00-be7e-11eb-9ab0-8633b5666ebe.png)

I've set up the templates. (Ignore the Security part, since that's due to how my account is set up)
I'll open a Pull Request in a while, and we could maybe discuss if there is some change needed in the description text.

[2021-05-27 08:19] #710 closed

[2021-05-27 10:23] tamarandom commented on #662
Thanks @natenatesoo !

[2021-05-27 10:27] tamarandom commented on #493
No formal outreach sessions this Sprint but follow-ups to those that we have already reached out to for:

Two outreach campaigns started.
1. Vote for params (for anyone that has IH and/or CSTK)
2. IH associated with non-activated TS members will be lost forever on the day of the Hatch

Campaign outline:
https://docs.google.com/document/d/1YvzrtMnfTOEr-e5wi8nsBmmgcyyxFki5RxvMKBC4nx4/edit#heading=h.

[2021-05-27 10:29] iviangita commented on #691
Hi @Zeptimus I think we can close this? We've updated the access document and added it to Gitbook. Is there anything else that needs to be done? :)

[2021-05-27 10:32] tamarandom commented on #693
Yep. I manually deleted them from a few posts and, you're right, that didn't change their order in the Latest section. It just looks better! If there isn't an easy way to do this then let's accept that some of the older posts will have the bumps and that's ok.

[2021-05-27 11:06] Zeptimus commented on #691
yeah! thanks ivi :D

[2021-05-27 11:06] Zeptimus commented on #691
yeah! thanks ivi :D

[2021-05-27 11:06] #691 closed

[2021-05-28 10:23] tamarandom opened #712 "Make #orientation a fun, warm channel for new members"
## 👇🏽  What is this issue about? Give as much detail as you can.
#orientation is the home of Onboarding and orientation. A fun, warm place for new members to ask questions or leave comments.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. New members are active and engaged in the channel
2. Plans for what to share there when and how to create more engage

[2021-05-28 11:11] danelsuga commented on #686
2/3's of new joiners seem to be clicking the green check. That is better than before. I don't know if changing the message anymore will increase that. We can continue to tinker as need. I'll close this issue for now.

[2021-05-28 11:11] #686 closed

[2021-05-28 11:14] danelsuga opened #713 "Pinned Discord message for 0mega"
## 👇🏽  What is this issue about? Give as much detail as you can.

New joiners do not see any info about 0mega when they join Discord. It's hard to find information about 0mega on Discord.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Add a pinned message to the 0mega channel similar to the other WG's.

##🧍🏻‍♀️🧍🏻‍♂️ Who should be part of the Advice Proc

[2021-05-28 11:16] danelsuga commented on #709
Hi @natenatesoo! Let me know what you got! I'm happy to help.

[2021-05-28 11:51] tamarandom commented on #688
Pending the final version. There were some minor things changed and it's worth holding off distribution until those are done but it is looking .... 🔥🔥🔥

[2021-05-28 11:54] tamarandom commented on #696
Did not arrange this Sprint.
Still think it's worth doing so will keep this issue open.
Though will keep it in the product backlog and not pull it into the next Sprint.
Timing wise ... there is the period between now until the end of the Hatch.
The higher priority is getting those with IH activated with the TS because otherwise they will lose those IH forever.

[2021-05-28 12:01] tamarandom commented on #534
We turned a corner on this, finally!

Thanks to @krisjpi @kristoferlund  and @Vyvy-vi! But it's still quite perplexing to all.

Will document the details and strange backend mystery as best as I can.

The skeleton is up but not yet accepting our custom token. There are still steps to do. Anyone know anyone that knows the dShop code and how it works? We could really use that help on this project.

[2021-05-28 12:02] tamarandom commented on #704
In progress and will continue into the next Sprint.

Currently on pause during the CSTK burn but that will be resolved quickly and we will continue outreach!

[2021-05-28 12:02] tamarandom commented on #693
Closing! Thanks for all @Vyvy-vi! Who's better than you?

[2021-05-28 12:02] #693 closed

[2021-05-28 12:03] tamarandom commented on #531
closer and closer ... the skeleton site is up!

[2021-05-28 15:31] tamarandom opened #714 "Hatcher Outreach campaigns"
## 👇🏽  What is this issue about? Give as much detail as you can.
There are two simultaneous campaigns
- [x] IH not associated with activated TS will be lost forever
- [x] Vote, vote, vote

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. All individuals with >4IH have been personally contacted
2. All individuals I've personally done an outreach session wit

[2021-05-28 16:04] #694 closed

[2021-05-28 16:04] Zeptimus opened #715 "Discuss the role of internal comms for transparency"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##🧍🏻‍♀️🧍🏻‍♂️ Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about

[2021-05-28 16:05] #279 closed

[2021-05-28 16:08] iviangita opened #716 "Make Transparency Audit a big thing"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##🧍🏻‍♀️🧍🏻‍♂️ Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about

[2021-05-28 16:09] GriffGreen opened #717 "CDD - ABC - Mockup app"

[2021-05-28 16:09] GriffGreen opened #718 "CDD - CV - Mockup app"

[2021-05-28 16:10] GriffGreen opened #719 "CDD - Lockup - Mockup app"

[2021-05-28 16:10] GriffGreen opened #720 "CDD - Celeste - Mockup app"

[2021-05-28 16:10] GriffGreen opened #721 "CDD - dV - Mockup app"

[2021-05-28 16:12] JuankBell opened #722 "Gravity - Giveth outreach"
## 👇🏽  What is this issue about? Give as much detail as you can.

This issue is about the effort of extending the area of impact of Gravity, from the TEC to other close communities. On monday, 24th may at Giveth gov call @JuankBell offered the Giveth Team to use the Gravity [typeform](https://the-commons-stack.typeform.com/to/rCVsK5RK) to request support managing conflicts that may arise within th

[2021-05-28 16:18] chuygarcia92 commented on #645
Due this weekend:

- Audit
- Manifesto update
- C&D process
- C&D repo template
- Platform contact list

[2021-05-28 16:19] GriffGreen opened #723 "Figure out if we can cut Celeste from the Scope of the Commons Config Dashboard"
## 👇🏽  What is this issue about? Give as much detail as you can.

There is a lot to design with this dashboard... the ABC, CV and dV are all very complicated... lock up is also critical... Celeste is the 5th set of decisions but maybe we can pull it out and have these params decided in a separate process.

It could be a mix of working groups: Params, Legal, Gravity and Soft Gov could all weigh in.

[2021-05-28 16:28] tamarandom commented on #247
Update: will not happen. Not needed.

[2021-05-28 16:28] #247 closed

[2021-05-28 16:31] tamarandom opened #724 "Final review of legal docs"
## 👇🏽  What is this issue about? Give as much detail as you can.
Final review of all legal docs on gitbook, forum, anywhere else.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Legal sign-off on the legal docs publicly available
2.
3.

##🧍🏻‍♀️🧍🏻‍♂️ Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will

[2021-05-28 16:39] eduardovegap opened #725 "Goodbye Document for HO."
## 👇🏽  What is this issue about? Give as much detail as you can.

This issue is about creating a document that serves as a closing document for the Hatch Outreach working group, using the template of the manifesto as an starting point.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Having a framework - document that serves as a model for closing a worki

[2021-05-28 16:43] #708 closed

[2021-05-28 16:48] tamarandom commented on #689
Done!

[2021-05-28 16:48] #689 closed

[2021-05-28 16:49] tamarandom commented on #685
@kristoferlund is this something that you might be able to do?

[2021-05-28 17:06] GriffGreen opened #726 "Invite as many people into Params Parties as possible"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##🧍🏻‍♀️🧍🏻‍♂️ Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop about

[2021-05-28 17:08] GriffGreen opened #727 "SAVE THE DATES JULY 19th-23rd PARIS ETHCC"
## 👇🏽  What is this issue about? Give as much detail as you can.

https://ethcc.io/

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

##🧍🏻‍♀️🧍🏻‍♂️ Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should b

[2021-05-28 17:18] chuygarcia92 commented on #709
@acidlazzer should be able to help with this later this next sprint :)

[2021-05-28 21:44] laurenluz commented on #722
I shared the typeform again in our last dev call when we had a few more members of the team ❤️

[2021-05-28 23:09] Zeptimus commented on #727
yaaaaaaaaaaaay! :D

[2021-05-28 23:29] Santigs commented on #727
Nice!

[2021-05-29 12:56] JuankBell opened #728 "Prepare with Ddan and Durgadas two awesome Gravity Wg calls :) for 17th & 24th June"
## 👇🏽  What is this issue about? Give as much detail as you can.

@JuankBell will be traveling to Perú from the 14th to 28 of June. He will be following the community but this is a perfect opportunity to bring fresh air to the Gravity Wg calls and empower Gravitons to add value to the sessions. @ddan4 volunteered to do this and lead this meetings for two weeks, so we have full confidence he will d

[2021-05-30 04:55] ddan4 commented on #625
Well, I'm intending to fill out the columns, but I may also want to refine the selection of DAOs we'd be most interested in connecting with or keeping track of their communications.

It's not necessarily something that is just "finished" but that would also depend on our organizational needs whether this issue needs to remain open.

It would be worth it for me to visit comms wg session to get some

[2021-05-30 06:32] ddan4 commented on #728
I have a couple ideas for Gravity sessions.. but realised I will be available for only the first session on the 14th.

One idea think is most approachable for the near term would be exploring TEC praise through an NVC model, which people could use to practice NVC thought-forms as part of a practice we're already keeping

Its a simple concept I think could be really valuable to explore as a group

[2021-05-30 06:42] ddan4 commented on #557
I'm open to participate with some of this distribution, if you want I can look over your list and see if any jump out at me I'd be particularly interested \ suited to contact.. I may also like to join with you and Juan in some of your outreach, or get some advice on how best to approach.

[2021-05-30 17:25] Vyvy-vi commented on #693
Everyone 🙃

[2021-05-30 21:06] JuankBell commented on #728
Thanks Ddan, the one pager of Marshall Rosenberg seems a great idea. My initial thinking is that we can prepare this documentation without rush for the second Graviton training, and that we could schedule 2 sessions to cover this topic.

For the session of the 14th I would go for more approachable focus. Following the temperature of the community for the Hatch (which will be near these weeks), dis

[2021-05-30 21:18] JuankBell commented on #728
And for 24th June, will try to sync with Durgadas to see if he would be willing to lead that day.

[2021-06-01 15:32] eduardovegap opened #729 "Membership dApp Bugs."
## 👇🏽  What is this issue about? Give as much detail as you can.

Two people have tried to sent DAI to pay the membership dues, and they got different problems:

1. If you don't have gas, it "allows" you to pay, but it doesn't get reflected on the Score, unless you add the gas later.
![photo_2021-06-01 17.31.08.jpeg](https://images.zenhubusercontent.com/5fb59e0d956d0a522cd3101d/405f9216-31cb-46a1-

[2021-06-01 23:40] Vyvy-vi commented on #315
Looking at the user stats, I think since Discourse automatically does the "posts read/read time", maybe we can use [discourse's API](https://docs.discourse.org/) to get access to those metrics? (and then link those metrics to praise, when they hit certain values?)

[2021-06-02 09:41] Vyvy-vi commented on #315
![Screenshot 2021-06-02 at 3 03 08 PM](https://user-images.githubusercontent.com/62864373/120457253-ed232d80-c3b3-11eb-8f9f-bd3d165ee8f2.png)

(I rendered the above using discourse's API. Maybe we can set up the praise bot to automatically do this, and add a praise entry, or someone can run this script time to time and manually praise people in the server on a monthly basis(much like how we praise

[2021-06-02 10:50] eduardovegap commented on #729
This issue belongs to the Swiss Membership repository, so I am moving it there.

[2021-06-03 08:20] Santigs commented on #629
Updated the doc with the params
https://docs.google.com/document/d/1miPZG3UcYPml_bwjloMwB0OwXh9TBbD1kE_UBNMdIBc/edit

[2021-06-03 08:22] Santigs commented on #629
[https://app.zenhub.com/files/306706322/77da9fcc-b3a7-4ac4-800f-e56eaf75860f/download](https://app.zenhub.com/files/306706322/77da9fcc-b3a7-4ac4-800f-e56eaf75860f/download)

[2021-06-03 09:57] iviangita opened #730 "Follow TEC Hatchers, DAOs, and other token engineers"
## 👇🏽  What is this issue about? Give as much detail as you can.

This is part of our strategy to increase Twitter engagement as we discussed in our last Twitter sync.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Create a list of DAOs and token engineers who are on Twitter and start following them
2. Follow TEC Hatchers who gave soft commits
3. Increa

[2021-06-03 18:42] tamarandom opened #731 "Steward nomination process (change it?)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Advice process on Steward nomination process
2. Put proposal of options on the Forum for vote

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@liv

[2021-06-04 13:20] tamarandom opened #732 "TEC Hatch t-shirt and hat"
## 👇🏽  What is this issue about? Give as much detail as you can.

Limited edition TEC Hatch swag - t-shirt and hat, at least

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.  Design available on the swag.tecommons.org shop
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have

[2021-06-04 18:03] cranders1 commented on #704
Sheets updated with this week's swiss apps. Will update IH after tomorrow's PQ.

Started some forensics on individual cases with mismatches and other tomfoolery. All of these cases likely need individual attention/revision in the accounting.

SwissAsso-0207:
'craig_airdrop_working' - see craig notes, scroll to bottom, red

TEC Impact Hours & Addresses:
'Hatcher Tracking' - see Forensics column, re

[2021-06-05 06:21] danelsuga commented on #665
Coming along nicely! Realistically, the full structure can be complete by the Hatch but probably not in this sprint. T Wells just finished his teaching semester. He can now devote more time. He has shared a template with me today.

[2021-06-07 10:23] tamarandom opened #733 "Discord automatic call announcements !"
## 👇🏽  What is this issue about? Give as much detail as you can.

The TEC AMA has moved to 6pm, same day
The TEC Hatch AMA has moved to 4pm, same day
The Transparency is now bi-weekly
The Legal call is now bi-weekly

@iviangita will update all of the images (if needed)
@Vyvy-vi will you please update your awesome script that sends these ...

## ✨  What does success look like? (i.e., the criteria t

[2021-06-07 11:03] Vyvy-vi commented on #733
Sure 👍

[2021-06-07 20:22] knobsdao commented on #704
Hey @cranders1! I updated the addresses tab from the master from row 637 onwards.

Also, I added "default handle" where there was one and prioritised Discord over Telegram as a second option (this can be changed if needed be). The "YES" Column D are if they are in the registry and "For Review" means they were rejected or might be (feel free to delete this).

Let me know if I can do anything else f

[2021-06-08 01:05] cranders1 commented on #704
Awesome @knobsdao. Much thnx.
Will dive in and get back with any questions.

Definitely up for automating. But yeah, it needed to be cleaned and somewhat standardized first.
I always feel kinda silly bothering you to update things.

Don't change anything just yet.
After I harvest the updates, I will set up a sync to do some automating.

[2021-06-08 13:18] tamarandom opened #734 "Stewards' weekly update post on the Forum"
## 👇🏽  What is this issue about? Give as much detail as you can.
Details coming...

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should

[2021-06-08 14:30] tamarandom commented on #688
In progress

[2021-06-08 16:12] tamarandom opened #735 "TEC Swag (assigned to acidlazzer)"
## 👇🏽  What is this issue about? Give as much detail as you can.
We need swag.
t-shirts, hats, coffee cups, frisbees?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. A special design Hatch t-shirts (that all Hatchers will receive free)
2. There are multiple swag products available for the ethCC conference in Paris (July 20-22)
3. There is choice swag on

[2021-06-08 16:48] tamarandom commented on #726
Excellently done! Closing.

[2021-06-08 16:48] #726 closed

[2021-06-08 16:50] tamarandom commented on #659
I think it's safe to say we can close this now ....

EXCELLENT for our future email campaigns!

[2021-06-08 23:24] tamarandom opened #736 "Hatcher Handbook"
(@eduardovegap - please make changes to this issue as you see this!)

## 👇🏽  What is this issue about? Give as much detail as you can.
Parameters #83 won the vote! What does that mean from a Hatcher's POV?

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Article/post describing what the parameters mean for an individual Hatcher
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who s

[2021-06-08 23:30] tamarandom opened #737 "Dish IH tokens following the biweekly Praise Quant"
## 👇🏽  What is this issue about? Give as much detail as you can.
Making the magic happen.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Following the Praise Quant, IH tokens are minted.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@GriffGreen

## 🔗

[2021-06-09 10:55] tamarandom opened #738 "Gitcoin Grants - Round 10!"
## 👇🏽  What is this issue about? Give as much detail as you can.
Round 10 of Gitcoin Grants are coming up:
June 16 - July 1 - proposed dates for Gitcoin Grants Round 10

Putting this on our radar for TEC and TEC affiliated groups that want to submit for grants in this round.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. One or more Gitcoin grants are s

[2021-06-09 11:36] GriffGreen commented on #738
I will ask @sembrestels to redeploy the cv.commonsstack.org

[2021-06-09 17:42] #698 closed

[2021-06-09 17:42] #285 closed

[2021-06-09 17:44] GriffGreen commented on #583
Great progress, @divine-comedian is killing it

[2021-06-09 17:45] GriffGreen commented on #588
@divine-comedian is killing it :-D

[2021-06-09 17:45] #588 closed

[2021-06-09 18:27] GriffGreen commented on #738
@sembrestels and at @geleeroyale are rockstars

https://cv.commonsstack.org/#/ is deployed with a clean fresh dao, when we have the blog post we can change the "learn more" button too

:-D

[2021-06-10 09:47] danelsuga opened #739 "Periodic orientations"
## 👇🏽  What is this issue about? Give as much detail as you can.
New-joiners need orientation on a variety of subjects concerning the TEC. We would like to implement periodic orientations for things like using GitHub for new contributors, how to find the appropriate documents (agendas and works in progress, etc.), how to navigate the community, who is doing what, etc.

While the AMA can be useful

[2021-06-10 12:14] tamarandom opened #740 "Orientation: Using Zenhub in the TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.
(specifics coming soon)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@tamarandom

## 🔗  Are there links or docs related to this issue?

#

[2021-06-10 18:39] danelsuga opened #741 "FAQ forum post for Orientation channel"
## 👇🏽  What is this issue about? Give as much detail as you can.
Implementing different useful activities on the Orientation channel to orient new joiners. This one will be writing a forum post full of FAQ's that can be used elsewhere but in particular the Orientation channel.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. The forum will become a center

[2021-06-10 18:51] danelsuga commented on #665
We've made some great progress. Rolling in @markoprljic to implement it on the website now.

[2021-06-10 18:52] danelsuga commented on #713
Working on this with @solsista.

[2021-06-10 20:57] markoprljic commented on #665
I created the issue in Website repo and assigned to @kristoferlund https://github.com/CommonsBuild/tec-web/issues/33

[2021-06-10 22:18] Vyvy-vi commented on #140
Perhaps we could use some sort of central theme to spice the badge names a bit?

[2021-06-10 22:20] Vyvy-vi commented on #315
I think the discobot gives a welcome tour of the forum. Perhaps we could tweak the bot or something of the sort, or make an application that welcomes people in a welcome thread, when they make an account on the forum?

[2021-06-10 22:22] Vyvy-vi commented on #666
I'll probably be shifting the DB to https://airtable.com/ so that it can be easily shared with people part of the sourcecred team/DAO

[2021-06-10 22:22] jessicazartler commented on #738
Commons Stack is coordinating here https://github.com/commons-stack/iteration0/issues/658
Had kickoff meeting today
Lead :
heater#9765

[2021-06-10 22:24] Vyvy-vi commented on #666
Q) When Mateo's has entered the data, we can flush it, right?

[2021-06-10 22:39] divine-comedian commented on #589
DRAFT text/flow WIP can be found here -
https://hackmd.io/eUoBVMjcSzO_dynDEMpMUw

[2021-06-10 22:42] divine-comedian commented on #583
draft text/flow WIP can be found here - https://hackmd.io/Qey8zQxaRUyY_o4SLi-kBA

[2021-06-11 12:13] tamarandom opened #742 "How should we nominate and recognize SME in the TEC?"
## 👇🏽  What is this issue about? Give as much detail as you can.
Nate raised this. I'm dropping it here so it doesn't get lost. ;)

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. There is clarity around the SME role and how it is recognized in the TEC
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about th

[2021-06-11 12:52] tamarandom opened #743 "Have you posted in the Forum this week?"
## 👇🏽  What is this issue about? Give as much detail as you can.
Our Forum is one of the main ways that folk who are keen on the TEC but are occupied with other projects and work are able to check-in on what we are doing here.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Every Steward posts (or replies) to at least one Forum post every Sprint
2.
3.

#

[2021-06-11 13:36] #659 closed

[2021-06-11 15:10] Zeptimus commented on #645
DONE :D chuy is a rockstar!!  https://forum.tecommons.org/t/communications-wg-audit/418

[2021-06-11 15:10] Zeptimus commented on #645
DONE :D chuy is a rockstar!!  https://forum.tecommons.org/t/communications-wg-audit/418

[2021-06-11 15:10] #645 closed

[2021-06-11 15:10] Zeptimus commented on #645
DONE :D chuy is a rockstar!!  https://forum.tecommons.org/t/communications-wg-audit/418

[2021-06-11 15:10] Zeptimus commented on #645
DONE :D chuy is a rockstar!!  https://forum.tecommons.org/t/communications-wg-audit/418

[2021-06-11 15:10] natenatesoo commented on #742
Thanks Tam!

[2021-06-11 15:13] Zeptimus commented on #715
We discuss it on the last transparency call but we still not have a clear definition

[2021-06-11 15:16] liviade1 commented on #742
Good question. I've been giving them the tag on discord. I think it's ok to be quite informal. Maybe messaging them before would be a better practice.

[2021-06-11 15:20] Zeptimus opened #744 "Keep track of the credential forum post and warp everything presented there and present it to the community to take a decision"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Forum post that explains the pros and cons of the different account mgmt options
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Ar

[2021-06-11 15:21] Zeptimus commented on #690
I contacted vyvy just now, it should get solved early next week

[2021-06-11 15:22] Zeptimus opened #745 "Creating rules for every platform"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.  To have a list of actions possible on our platforms to then inform our Code of Conduct
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

#

[2021-06-11 15:27] Zeptimus commented on #745
We are meeting 1h every week https://docs.google.com/document/d/1hnwSQn4vxboxazraX2qPwa25bBBrvk3TpXsSDkXhqCM/edit

This last week we were working on YouTube, the idea its to get 1 platform every week and when we have them all, we start to work on the rules, but that would be something we should coordinate specially with cons since are going to be the ones using those platforms most of the time.

[2021-06-11 15:36] iviangita commented on #715
The issue came from a situation when one community member didn't know that the Impact Hour will be lost if they don't activate their TS membership, which we think is a general comms issue rather than an "internal comms" issue.

@Zeptimus and I discussed that while the Transparency WG should do its part in ensuring that an important information like this should be clearly and well communicated to t

[2021-06-11 15:36] #715 closed

[2021-06-11 15:40] Zeptimus opened #746 "Labs WG transparency audit"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2021-06-11 15:44] tamarandom commented on #729
Closing. Taken care of in the Swiss Mem dApp repo.