[2022-05-31 21:25] divine-comedian opened #1380 "name the reward system"
## 👇🏽  What is this issue about? Give as much detail as you can.
name the reward system with something more descriptive and creative than 'reward system'

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. a large amount of shareholders are made aware and provide ideas
2. we can definitvely settle on a name

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Pr

[2022-05-31 21:27] divine-comedian commented on #1143
nuggan was able to create the automation, the only thing that will need to be added manually will be the url link for the analysis report! closing

[2022-05-31 21:27] #1143 closed, assigned to mcsmith89, 0xNuggan

[2022-05-31 21:27] divine-comedian commented on #1097
we're still gearing up for the first sourcred distro, should happen in about one week, will follow up in this epic depending on success

[2022-06-01 05:29] iviangita commented on #1274
Closing! Posted the revised Covenant in the forum https://forum.tecommons.org/t/tec-community-covenant/572/14?u=iviangita

[2022-06-01 05:29] #1274 closed, assigned to iviangita

[2022-06-01 16:41] tamarandom commented on #1223
https://www.deepskills.io/dao-onboarding

[2022-06-03 12:37] eduardovegap commented on #1364
This was accomplished today. All channels were updated and the ones we couldn't, we message the steward and Vy to update them.

[2022-06-03 12:37] #1364 closed, assigned to jasontphelps

[2022-06-03 12:38] eduardovegap opened #1381 "Crossreferencing information on the TEC sources."
## 👇🏽  What is this issue about? Give as much detail as you can.
As usages of common/shared information have evolved synchronization issues have been exposed. This task is to provide a simple inventory of the most frequent overlaps and where consistency is most critical.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Urgent issues can be identified (muc

[2022-06-03 13:09] jasontphelps commented on #1381
I've made the re-organizations that came out of the 5/30 meeting and added both new sources and new categories of information. I've also noted where some of the urgent issues with dates/times have been corrected since this was first compiled

[2022-06-09 05:49] Costa91 commented on #1367
Done:
https://token-engineering-commons.gitbook.io/tec-handbook/cultural-components/working-groups/0mega

[2022-06-09 05:49] #1367 closed, assigned to Costa91

[2022-06-09 06:16] Costa91 commented on #1285
#1st Iteration of corrections done by the Writer's Guild added to the Live Document.

[2022-06-10 14:51] Zeptimus commented on #1338
Will take longer than expected

[2022-06-10 14:51] Zeptimus commented on #1341
Done pending vote to execute

[2022-06-10 14:51] #1341 closed, assigned to Zeptimus

[2022-06-10 14:52] Zeptimus commented on #1339
Done and passed :D

[2022-06-10 14:52] #1339 closed, assigned to Zeptimus

[2022-06-10 15:32] tamarandom commented on #1344
Closing. The evolution of Stewardship supersedes all else. This may come from that.

[2022-06-10 15:32] #1344 closed, assigned to tamarandom

[2022-06-10 15:33] tamarandom commented on #1264
Good news! Gaian is taking this on. Though he will make it more of an independent piece. Looking forward to this.

Closing this issue as it is being tracked under the Writers Guild.

[2022-06-10 15:33] #1264 closed, assigned to tamarandom

[2022-06-10 15:34] tamarandom commented on #1226
Completed for May.

This completed the first round of funding so closing this issue. The Stewards WG is advice processing taking a pause on the compensation for Stewards until we have progress on revenue and financial sustainability. At the moment, there is no new funding proposal.

[2022-06-10 15:34] #1226 closed, assigned to tamarandom

[2022-06-10 15:39] tamarandom commented on #1366
This is the only thing I am taking into this Sprint.

[2022-06-10 15:45] gideonro commented on #1375
I think you have everything from me on this, right? If not, let me know. Here's the link to the poll:
https://pol.is/8nhm7msknh

[2022-06-10 15:46] gideonro commented on #1373
Done!
Sampo Season 1 "Proposa":
https://gardensdao.eth.limo/#/xdai/garden/0x1fc7e8d8e4bbbef77a4d035aec189373b52125a8/proposal/25

[2022-06-10 15:46] #1373 closed, assigned to gideonro

[2022-06-10 15:50] gideonro commented on #1269
Completed a draft of this but now need to hand this off to you, @natenatesoo.

Here's the link:
https://app.clarity.so/tecwriters/pages/258dd63b-d7de-4d1f-922a-dde85a818325

I will happily stay involved in this as a member of the writers guild and would like to help with TEC Medium guidelines as much as time permits. This is important for our long-term success.

[2022-06-10 15:53] gideonro commented on #1349
This work will *never* be done completely, as this is a *living* document. With that said, it's good now. Marking done.

[2022-06-10 15:53] #1349 closed, assigned to gideonro

[2022-06-10 15:54] #1261 closed, assigned to gideonro, eduardovegap

[2022-06-10 15:55] gideonro commented on #1378
Plan is done. Message will go through one more round of edits. Holding off closing this and pushing it to next sprint.

[2022-06-10 15:56] gideonro commented on #1078
I think we can close this, right @eduardovegap ?

[2022-06-10 15:57] tamarandom opened #1382 "Retro action: Make a list of priorities, critical work, for the TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.
Gideon suggests that we can use Pol.is.
- 12 seed statements.
I propose we do this in the Stewards Council.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have v

[2022-06-10 16:49] gideonro opened #1383 "Organize Sampo Fund Managers and kick off Treasury Management project"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-10 17:14] chuygarcia92 commented on #1138
As part of the character development process and testing we gave a sneak peek in the GGR14 campaign ;)

https://twitter.com/tecmns/status/1534620445827158016?s=20&t=89-yQPv3ClDT59OtNCC62w

![GR14 TEC.gif](https://images.zenhubusercontent.com/6000e68bc28f519103606a04/b227783f-1204-4cda-a5f7-d20e4ea80cfa)

[2022-06-10 17:15] JuankBell opened #1384 "Metafam presentation"
## 👇🏽  What is this issue about? Give as much detail as you can.
Gravity was invited to have a presentation on the metafam festival/conference on the 16th of june

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Making a presentation for the metafam community and participants
2. invite people to the graviton trainings
3. Raise awareness of Gravity and fin

[2022-06-10 17:16] JuankBell commented on #1249
Proposal from GravityDAO tailored training + Open spaces on Aragon

Starting dates: (23rd of june, ending 19th of august)
@itsmils#2388 for scheduling - Slot and secure
At the Aragon Discord server
CET time zone - Friday 16:00
Pacific time zone - Thursday 13:00  (22:00 CET)

Every one week of Graviton training, 1 week of open spaces.

23 & 24 of june Week 1. - Transforming conflict (juan) conflict

[2022-06-10 17:27] JuankBell commented on #1352
We were finalists!!!!

[2022-06-10 17:27] #1352 closed, assigned to JuankBell

[2022-06-10 17:31] Zeptimus opened #1385 "Reach out WG lead checking who will update the data standarization"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-10 17:33] Zeptimus opened #1386 "Structure the audit"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-10 17:33] gideonro opened #1387 "Develop v1 of Sampo's project management and team organizing processes"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-10 17:35] Zeptimus commented on #1372
Done!

[2022-06-10 17:35] #1372 closed, assigned to Zeptimus

[2022-06-10 17:37] Zeptimus opened #1388 "Making data standarization master file"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-10 17:45] chuygarcia92 opened #1389 "Post the new TE Academy proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
The TE Academy TEAM will be posting a new funding proposal for the next 5-6 months

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. The community finds the TE Academy TEAM proposal interesting and providing clear value to the TEC.
2. Present a budget that fits the current common pool circums

[2022-06-10 17:47] gideonro opened #1390 "Meet with Jeff Emmett and Tam to discuss "TE Consulting Intake" services"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-13 18:22] LexBirdie opened #1391 "Design new ZenHub issue templates"
## 👇🏽  What is this issue about? Give as much detail as you can.

After receiving a tour of the ZenHub with an eye for onboarding and having a great conversation with Tam, I noticed that the current issue template in ZenHub doesn't quite serve the varied needs of the TEC working groups. The way ZenHub is currently used is especially confusing for newcomers trying to make their first contributions,

[2022-06-13 21:17] LexBirdie commented on #1391
Follow up to this contribution would be to create a "how to navigate communitas zenhub" resource for newcomers and potentially make it a permanent readme "issue" in the zenhub.  (suggested by @eduardovegap)

[2022-06-20 16:09] divine-comedian opened #1392 "upload FAQ content to TEC praise dashboard"
upload these FAQs into the tec's praise dashboard deployment

https://docs.google.com/document/d/19Y6U06P4rzg7qgTPSihWwf_nJhl2wHbNOzW1-94scUM/edit?usp=sharing

if there are more faqs from the community we can always modify

[2022-06-20 16:09] #1379 closed, assigned to divine-comedian

[2022-06-20 16:10] divine-comedian commented on #1098
@kristoferlund  this epic is finished then I suppose?

[2022-06-20 16:11] divine-comedian commented on #1097
we made the first grain distro but the results are less than ideal, we need to continue merging sourcecred accounts and tweak some distribution settings in order to get an accurate distribution.

we are able to remove grain distributions and recalculate them as needed before rewards go out.

[2022-06-20 16:12] divine-comedian commented on #1282
we made the first grain distro but the results are less than ideal, we need to continue merging sourcecred accounts and tweak some distribution settings in order to get an accurate distribution.

we are able to remove grain distributions and recalculate them as needed before rewards go out.

[2022-06-20 16:14] divine-comedian commented on #1280
we've been using the forum post template drafter and @0xNuggan is taking care of weekly publishin, keeping the community up to date, for every forum post we allow 48 hrs for community review before going to the reward board DAO - calling this issue DONE!

here's the first forum post for reference:
https://forum.tecommons.org/t/tec-rewards-distribution-july-2021/1004

[2022-06-20 16:14] #1280 closed, assigned to Zeptimus, 0xNuggan

[2022-06-20 16:22] gideonro commented on #1387
Done. Got great input from head of Clarity and we've now got a good org structure.

[2022-06-20 16:22] #1387 closed, assigned to gideonro

[2022-06-20 18:15] LexBirdie commented on #1391
Not able to add "Communitas WG" tag to this issue.

[2022-06-20 18:37] gideonro commented on #1390
Great call!

[2022-06-20 18:37] #1390 closed, assigned to gideonro

[2022-06-20 22:39] gideonro commented on #1378
Message is now posted into the forum:
https://forum.tecommons.org/t/june-2022-update-to-tec-token-holders/1058

[2022-06-20 22:39] #1378 closed, assigned to gideonro

[2022-06-20 22:43] #1078 closed, assigned to gideonro

[2022-06-21 06:57] tamarandom commented on #1391
Hey LBS! This is very thoughtful. Like I mentioned on the Communitas call yesterday there is a lot of detail that is not necessary relevant to all issues but would be better suited for a project or even the epic template.

For Github, there was an unaccepted invitation to join this repo. I cancelled it and re-invited you to join this repo. You should receive an email... or notification in gtihub.

[2022-06-21 21:30] #1098 closed, assigned to nobody

[2022-06-24 15:46] Zeptimus commented on #1388
https://docs.google.com/spreadsheets/d/1kiZEeCxml49AuhRT_TAq-fdnXp1XeDs71eTa-uxKeK0/edit#gid=0

[2022-06-24 15:46] Zeptimus commented on #1385
done

[2022-06-24 15:46] #1385 closed, assigned to Zeptimus

[2022-06-24 15:47] Zeptimus commented on #1386
done

[2022-06-24 15:47] #1386 closed, assigned to Zeptimus

[2022-06-24 15:48] Zeptimus opened #1393 "Coordinate development of the ADC advance page"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-24 15:49] Zeptimus opened #1394 "Get everyone to add the data on the WG budget sheets"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-24 15:50] Zeptimus opened #1395 "Get everyone to add the data on the WG budget sheets."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-24 15:50] Zeptimus commented on #1395
close dub·1394

[2022-06-24 15:50] #1395 closed, assigned to Zeptimus

[2022-06-24 16:05] tamarandom opened #1396 "Submit the Communitas funding proposal"
## 👇🏽  What is this issue about? Give as much detail as you can.
@eduardovegap updated the latest proposal and I am tasked with posting it to Gardens! Will try to get it done on this Sprint call.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue

[2022-06-24 16:06] gideonro commented on #1383
Had our first meeting and Nate has stepped up to lead this work team. Project has been set up in Clarity with a group and various projects.

[2022-06-24 16:06] #1383 closed, assigned to gideonro

[2022-06-24 16:06] eduardovegap opened #1397 "Communitas spending spreadsheet"
## 👇🏽  What is this issue about? Give as much detail as you can.

Transparency requested the filling of the spreadsheet that will be used for keeping track of spending on the Communitas WG.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Thos

[2022-06-24 16:06] tamarandom commented on #221
You've been doing a bang-up job, @eduardovegap! You mind if I take my name off this one now!? Or did you want to just take the wheel for one Sprint? 😆

[2022-06-24 16:07] JuankBell commented on #1384
done! https://www.youtube.com/watch?v=kyJKo6ZXfDo

[2022-06-24 16:07] #1384 closed, assigned to JuankBell

[2022-06-24 16:08] eduardovegap commented on #1365
The result of this was to send and share a Token Holder message.

Forum post: https://forum.tecommons.org/t/june-2022-update-to-tec-token-holders/1058
Token Holder message: https://docs.google.com/document/d/1D0lwEXWm37COQGU5aE9UpMNkjO1m-xP12jVPoMUxLHs/edit#

[2022-06-24 16:08] #1365 closed, assigned to gideonro

[2022-06-24 16:08] eduardovegap opened #1398 "Outreach to tokenholders"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?
https://docs.google.com/document/d/1

[2022-06-24 16:09] eduardovegap opened #1399 "Update TE flower"
## 👇🏽  What is this issue about? Give as much detail as you can.

We are doing workshops in order to seek consensus to a potential update of the TE flower: a model that can reflect more our community and the TE ecosystem.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be

[2022-06-24 16:10] gideonro opened #1400 "Develop high-level framework for TEC Treasury Policy"
## 👇🏽  What is this issue about? Give as much detail as you can.
This is about coming up with a basic plan regarding all of the key elements for a treasury proposal to the community. Nate will drive this and Gideon will provide support. Will hand this issue to Nate assuming he concurs.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Identify core compone

[2022-06-24 16:10] JuankBell commented on #1249
https://twitter.com/GravityDAO/status/1540326536217231361?s=20&t=hHY7wXNVzGPGigK0hQ62ig We are leading some practical sessions to raise competence dealing with Conflict in Aragon. Funding from Aragon to support conflict management processes will be requested for 6 months.

[2022-06-24 16:11] gideonro opened #1401 "Have a technical solution recommendation for Discord token gating"
## 👇🏽  What is this issue about? Give as much detail as you can.
Looking into just the technical aspects of what it will take to create token gates for voice and text Discord channels.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Identify the requirements through advice process
2. Identify the solution options
3. Find the best match

## 🧍🏻‍♀️🧍🏻‍♂️  Wh

[2022-06-24 16:12] Zeptimus opened #1402 "Write the ABC advance page budget"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-24 16:12] tamarandom opened #1403 "Draft advisory board responsibilities, pilot the idea"
## 👇🏽  What is this issue about? Give as much detail as you can.
One of the clear outputs of the Stewards pol.is report is near consensus on the idea of an advisory board to support the Stewards.
https://pol.is/report/r3wy7bkc3bmkxdar5stcn

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Draft responsibilities & benefits of being on the board
2. Advice pr

[2022-06-24 16:12] divine-comedian commented on #1380
dicussion moved to commons stack

[2022-06-24 16:12] #1380 closed, assigned to divine-comedian

[2022-06-24 16:13] gideonro opened #1404 "Develop first draft of plan for 'Token Engineering Consulting Intake' service"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@tamarandom Jeff Emmett

## 🔗  Are there links or docs related to this issue?

## 👀  Who sho

[2022-06-24 16:13] divine-comedian opened #1405 "Quant 13 - June part 1"
Manage quantifications and facilitate the review call for praise for quant 13!

[2022-06-24 16:16] divine-comedian opened #1406 "Troubleshoot how to connect sourced ID and praise IDs"
FROM DISCORD:

tagging @kristoferlund @mateodaza @0xNuggan  for expertise and collaboration on this issue

[2022-06-24 16:16] divine-comedian commented on #1351
we are currently at January - Should be done in about 5 weeks!

[2022-06-24 16:17] eduardovegap commented on #1345
@Zeptimus presented and one.

[2022-06-24 16:17] divine-comedian commented on #1000
is this actively being worked on or is it icebox? @Vyvy-vi

[2022-06-24 16:18] Zeptimus commented on #1345
https://docs.google.com/presentation/d/1EFwNqx6ENlxgb12DnCFnpFKt7vNnkHFcSdO1PMuDXqM/edit#slide=id.g127ec27dc23_0_3  Close

[2022-06-24 16:18] #1345 closed, assigned to Zeptimus

[2022-06-24 16:19] eduardovegap commented on #221
We are going to start rotating this. Proposal will come up soon.

[2022-06-24 16:22] eduardovegap commented on #1323
This need someone to execute it, and probably hire someone.

[2022-06-24 16:22] #1323 closed, assigned to liviade1

[2022-06-24 16:24] divine-comedian commented on #1368
needs to ping @tree-pi

[2022-06-24 16:24] chuygarcia92 commented on #1138
Advances for character animation

https://images.zenhubusercontent.com/306706322/2f342442-2c77-4103-ae53-8d30be1d4539/rewards_system_character_testing.mp4

[2022-06-24 16:25] divine-comedian commented on #1047
@Vyvy-vi @kristoferlund do you have updates on this?

[2022-06-24 16:26] JuankBell opened #1407 "Apply as a speaker to talk about Conflict management at DEVCON VI"
## 👇🏽  What is this issue about? Give as much detail as you can.
DEVCON will be in Colombia this year (OCT) - and I (@JuankBell) will apply for a small workshop to continue raising awareness about the need of conflict management in web3 projects and also look for potential clients for GravityDAO.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Being allo

[2022-06-24 16:28] eduardovegap commented on #1268
On July and August, survey will be applied to gather information, and analyze it, regarding mental health.

[2022-06-24 16:28] #1322 closed, assigned to liviade1

[2022-06-24 16:28] #1330 closed, assigned to scottbenjd

[2022-06-24 16:28] #1332 closed, assigned to eenti

[2022-06-24 16:28] #1369 closed, assigned to liviade1

[2022-06-24 16:29] #1272 closed, assigned to nobody

[2022-06-24 16:32] tamarandom commented on #1396
Yep, finished during the Sprint call! On Gardens now: https://gardens.1hive.org/#/xdai/garden/0x1fc7e8d8e4bbbef77a4d035aec189373b52125a8/proposal/27

[2022-06-24 16:32] #1396 closed, assigned to tamarandom

[2022-06-24 16:32] eduardovegap commented on #1273
On going process, on the first steps to find a methodology to provide services to other communities.

[2022-06-24 16:33] eduardovegap commented on #1189
We want to close our intention and our offering with an MVP of unbreakable vows next month.

[2022-06-24 16:33] chuygarcia92 commented on #1191
#### UPDATE:
First translations are up for [Wielding Promethean Fire — The Importance of Token Engineering Public Goods](https://medium.com/token-engineering-commons/wielding-promethean-fire-the-importance-of-te-public-goods-9afba0ce5a43) by @jessicazartler

**Spanish:**
https://mirror.xyz/0x6Ed3cb62B5E28F3D38C5c1E495a5666075091c7E/zOO2pC6RbiHBCDU1jeKOauP0Ji_j697ZFpZ9KGuejbM

**Turkish:**
https://

[2022-06-24 16:34] eduardovegap commented on #1176
Meeting with Zepti on the following days to distribute June.

[2022-06-24 16:35] liviade1 opened #1408 "Token gate + TE Academy"
## 👇🏽  What is this issue about? Give as much detail as you can.
explore if there are ways to collaborate with TEA in some type of token gated channel related to education or alumni engagement
## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Th

[2022-06-24 16:35] eduardovegap commented on #1120
Need support doing the outreach to other communities. Request assistance from other members of the TEC.

[2022-06-24 16:36] chuygarcia92 commented on #1389
Working document:

https://hackmd.io/@1sBtuDmrRBG360k8-EXf2A/Syk3A-IKq

[2022-06-24 16:37] eduardovegap opened #1409 "Strategy to outreach other communities"
## 👇🏽  What is this issue about? Give as much detail as you can.

Create a message and identify who can share with other communities.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there link

[2022-06-24 16:37] liviade1 opened #1410 "communication token gate forum post"
## 👇🏽  What is this issue about? Give as much detail as you can.
Explain why we are creating a token gated communication channel

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or

[2022-06-24 16:38] tamarandom opened #1411 "Token holder outreach"
## 👇🏽  What is this issue about? Give as much detail as you can.
Communitas wants to do a person outreach to token holders and share the token holder message from Sampo. Will take that into this Sprint!

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about thi

[2022-06-24 16:39] tamarandom opened #1412 "Support LBS with whatever they need for #1391"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-24 16:41] tamarandom opened #1413 "Continue brainstorming on the TE services board idea"
## 👇🏽  What is this issue about? Give as much detail as you can.
We have made some progress last sprint. Still fleshing out the idea, possibilities, benefits, etc.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable i

[2022-06-24 16:59] eduardovegap commented on #1220
Worked on this with Mert, maybe publishing on PrimeDAO medium. Translation will be coming.

[2022-06-24 17:07] eduardovegap commented on #1295
@Mertozdal any update on this? :D

[2022-06-24 17:07] eduardovegap commented on #1250
@natenatesoo let me know if there is any update on this :D

[2022-06-24 17:11] eduardovegap commented on #1388
We will request SAMPO feedback. We are going to try on the next Sampo call.

[2022-06-24 17:14] eduardovegap commented on #1402
We have a rough estimate on numbers, will type them and putting them on a document.

[2022-06-24 17:17] eduardovegap commented on #1381
This has been accomplished! Thanks @jasontphelps

[2022-06-24 17:17] #1381 closed, assigned to jasontphelps

[2022-06-27 17:12] LexBirdie commented on #1391
Some feedback from the June 20th Communitas meeting helped direct this issue a bit more. Now I'm angling to create a small variety of templates that can encompass the scope of work that is done in Communitas. Taking my first stab at this with my current knowledge. More concrete understanding about the operational structure for getting things done and how it plays out in the ZenHub would be helpful

[2022-06-28 08:40] kristoferlund commented on #1047
Building a bot for sourcecred no longer feels like an option. Praise might support external bots like this but does not do so yet. Adding a feature like this is a larger change we will not attempt without having a solid lead developer onboard.

[2022-06-28 08:42] kristoferlund commented on #1000
@divine-comedian see my comment regarding the Twitter bot.

[2022-06-28 09:56] iviangita opened #1414 "Transparency Audit (April-June 2022)"
## 👇🏽  What is this issue about? Give as much detail as you can.

The goal of the report is to provide the members with information around the processes, decisions, funding, and other activities that the community should be aware of.

Tentative date of completion is mid-to-late July.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  W

[2022-06-28 09:57] iviangita opened #1415 "Transparency Audit Part 1: Processes (Apr-Jun 2022)"

[2022-06-28 09:59] iviangita opened #1416 "Transparency Audit Part 2: Voting Schema and Results (Apr-June 2022)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@Zeptimus

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the

[2022-06-28 10:00] iviangita opened #1417 "Transparency Audit Part 3: Funding Pool Reserve and Fund Movement (Apr-Jun 2022)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@Zeptimus

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the

[2022-06-28 10:01] iviangita opened #1418 "Transparency Audit Part 4: TEC Analytics (Apr-Jun 2022)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-06-28 10:02] iviangita opened #1419 "Transparency Audit Part 5: Governance Tokens (Apr-Jun 2022)"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@Zeptimus

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the

[2022-06-28 11:50] divine-comedian commented on #1000
okay, icebox!

[2022-06-30 18:08] tamarandom commented on #1227
Hey @eduardovegap, passing the torch!

[2022-06-30 23:01] gideonro commented on #1383
Walked Nate through Clarity and helped get him set up with a group for treasury management team.

[2022-07-01 18:43] eduardovegap commented on #1374
Waiting for otterspace confirmation.

[2022-07-05 17:37] gideonro commented on #1404
The rough plan is done but we will continue honing it through the month of July.

[2022-07-05 17:37] #1404 closed, assigned to tamarandom, gideonro

[2022-07-05 18:01] gideonro commented on #1400
We won't have this done in this sprint. Will need to push into the next one.

[2022-07-08 16:08] eduardovegap commented on #1399
We have a base draft, that will be filled and worked during next weeks SOFT GOV and Communitas calls: https://cdn.discordapp.com/attachments/874645773122408478/993952243608993872/FLOWER.jpg

[2022-07-08 16:08] eduardovegap commented on #1398
Done. As a result we will need to update the discord usernames from our hatcher database.

[2022-07-08 16:08] #1398 closed, assigned to eduardovegap, Costa91

[2022-07-08 16:09] JuankBell commented on #1268
![Gravity_DAO (1) (1).png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/68911eb6-19c4-4ba2-a26d-23e5ad8f5810) Bianca and Ann will be presenting on august 4th and 5th to the Aragon community applying the survey, raising awareness and sharing practices.

[2022-07-08 16:09] JuankBell commented on #1268
![Gravity_DAO (1) (1).png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/68911eb6-19c4-4ba2-a26d-23e5ad8f5810) Bianca and Ann will be presenting on august 4th and 5th to the Aragon community applying the survey, raising awareness and sharing practices.

[2022-07-08 16:09] eduardovegap commented on #1325
https://docs.google.com/document/d/1hxr1WxZPXqZW1D1vd-gEBtBaFPY14sy1nbjRYA1qdd8/edit

Took longer than expected: Go straight to the section: **Membership at the TEC**

[2022-07-08 16:10] eduardovegap commented on #1304
@Costa91 has updated the process of tracking membership. Next sprint the document will be modified again to improve our processes.

[2022-07-08 16:10] JuankBell commented on #1249
![Gravity_DAO (1) (1).png](https://images.zenhubusercontent.com/5fb57c9c5472cf79e80e7f7e/bb6ce4b7-b7d7-4925-aebc-3a5f2b333e1f)

[2022-07-08 16:11] eduardovegap commented on #221
@natenatesoo supported on the sprint retrospective since i was at the conference.
Sprint planning was also accomplished this sprint

[2022-07-08 16:11] JuankBell commented on #1273
We need to improve in this for out focus of a service oriented provider, to deliver clear expectations, everything should be explicit and formal.

[2022-07-08 16:12] JuankBell commented on #1324
https://docs.google.com/spreadsheets/d/1fuNTwL2UfzD6ILHfKYJukbqqdAKQxiHE/edit#gid=583317375

[2022-07-08 16:13] eduardovegap commented on #1400
Document will be shared this sprint, follow up by advice process.
Bear100 is added because he is contributing with the organisation structure and policy.

[2022-07-08 16:13] JuankBell commented on #1324
Focus matrix uploaded, document to designed by @durgadasji for the page.

[2022-07-08 16:15] eduardovegap commented on #1250
Consolidation of information will happen this sprint. Compiling sources at the moment.

[2022-07-08 16:16] eduardovegap commented on #953
No solution have been found. No need to it at the moment, so it will be closed.

[2022-07-08 16:16] #953 closed, assigned to natenatesoo

[2022-07-08 16:17] chuygarcia92 commented on #1389
4/5 days of advice process in the forum:
https://forum.tecommons.org/t/proposal-for-comms-stewardship/1059/2?u=chuygarcia92

[2022-07-08 16:17] natenatesoo commented on #1157
Link to Results: https://docs.google.com/forms/d/1E6E-G7LMRBjsfju_jbVnUfI5FSQp2EmvxxRF0Qkua58/edit#responses

[2022-07-08 16:20] natenatesoo commented on #1400
Anyone interested in keeping up with the developments within this Issue can visit the Sampo WG Clarity page: Link is as follows:

https://app.clarity.so/Sampo/project/88

[2022-07-08 16:21] JuankBell commented on #1409
TLDR and clear documentation.

[2022-07-08 16:22] JuankBell commented on #1409
TLDR and documentation updated, results.

[2022-07-08 16:23] eduardovegap opened #1420 "Gravity outreach to Metagame"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-07-08 16:27] chuygarcia92 commented on #1220
Pushing promo for the article in the PrimeDAO side. TEC tweets got kindof lost in the middle of ETHBCN content, but will keep pushing next sprint.

https://twitter.com/PrimeDAO_/status/1543966124185985027

[2022-07-08 16:28] JuankBell opened #1421 "Gravity 2nd funding proposal from the TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

https://docs.google.com/document/d/

[2022-07-08 16:39] eduardovegap commented on #1039
The version in the gitbook is the most updated version. It needs more polishing and crossreferencing.

[2022-07-08 16:39] #1039 closed, assigned to Costa91

[2022-07-08 16:43] eduardovegap commented on #1307
Sampo was created. This is  closed.

[2022-07-08 16:43] #1307 closed, assigned to bearhub100

[2022-07-08 16:45] eduardovegap commented on #1413
We are moving towards creating an structural plan

[2022-07-08 16:48] eduardovegap opened #1422 "Make a list of grants for the TEC to apply."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-07-08 16:49] eduardovegap opened #1423 "Continuation of library wireframes."
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-07-08 16:50] eduardovegap opened #1424 "Preparing documentation for the proposal inverter"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-07-09 21:28] bearhub100 opened #1425 "SWOT Analysis of TEC"

[2022-07-09 21:35] bearhub100 opened #1426 "SWOT Analysis of TEC"
## 👇🏽  What is this issue about? Give as much detail as you can.
Doing a participatory SWOT analysis (strengths, weaknesses, opportunities and threats) with the feeling of as many people around the community as possible and create a final document that can be used to identify key ideas and start new work streams.
## ✨  What does success look like? (i.e., the criteria to meet to call this issue don

[2022-07-09 22:19] #1425 closed, assigned to nobody

[2022-07-11 16:46] divine-comedian commented on #1406
find a way to collect user collection with account collection in mongodb
users collections has addresses and discord ids
account collection has user ID we want
get and join information

join IDs from mongoDB to grain distribution from observable
something via github action, things we need to automate:
- run grain distribution
- run information from mongodb, find right query to grab information
- j

[2022-07-11 16:49] divine-comedian commented on #1406
@mateodaza will handle mongoDB information, build query to get information from account collection and user collection

@0xNuggan  will look into observable

[2022-07-11 17:12] mount-manu commented on #946
The engineer that I was working with postponed delivery due to a family emergency and then went AWOL so I'm closing this.

[2022-07-11 17:12] #946 closed, assigned to mount-manu

[2022-07-11 17:15] mount-manu opened #1427 "Comms WG Coordination Lead"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-07-11 17:47] LexBirdie commented on #1391
UPDATE:
After feedback and clarification, I have a better sense of what this community may need from its ZenHub templates. The latest proposal is to create four new types of templates for the community to utilize as it sees fit.

- Quick Issue - like a "reminder to self"
- Epic Issue - high context on large WG goals
- Contribution Issue - medium context on smaller contributions that make up epics/

[2022-07-13 16:50] acidlazzer commented on #1138
Advances for animation video: https://discord.com/channels/810180621930070088/910578351201214544/994260989769953352

Next steps:
- Sound Design (Sound libraries, proposals, music)
- Creating props and backgrounds
- Rigging the principal character to start animating
- Doing the secundary characters

[2022-07-21 16:33] #1405 closed, assigned to divine-comedian

[2022-07-21 16:39] divine-comedian opened #1428 "Overhaul Quantification Review Call"
## 👇🏽  What is this issue about? Give as much detail as you can.
Attendance has been getting progressively lower in the quantifier review call, I would like to reformat it to be an open builders call for data scientists/analysts/engineers. This would be a great opportunity to fill the void we feel of TEC lacking hard skills.

## ✨  What does success look like? (i.e., the criteria to meet to call t

[2022-07-22 14:33] #1397 closed, assigned to Costa91

[2022-07-22 14:33] Zeptimus commented on #1397
Done! praise Costa

[2022-07-22 14:33] #1394 closed, assigned to Zeptimus

[2022-07-22 14:33] Zeptimus commented on #1394
Done rest WGs missing will be added by transparency

[2022-07-22 14:34] Zeptimus commented on #1402
Done and passed on cv already :D

[2022-07-22 14:34] #1402 closed, assigned to Zeptimus

[2022-07-22 18:13] natenatesoo commented on #1220
@chuygarcia92 in accordance with your last comment, I will be including this within the current sprint!

Please add updates when you can.

[2022-07-22 18:16] natenatesoo commented on #1191
@chuygarcia92 Can we close this issue?

https://mirror.xyz/0x6Ed3cb62B5E28F3D38C5c1E495a5666075091c7E

Here is the channel, and I assume this has been accomplished and any other efforts can be created as a separate issue.

I will close this issue with a comment, and if this issue needs to be re-opened for any reason, please do so and place within the correct pipeline! Thanks!

[2022-07-22 18:16] #1191 closed, assigned to chuygarcia92

[2022-07-22 18:20] natenatesoo commented on #1389
@chuygarcia92 Has this been submitted to gardens?  What are the next steps, or what decisions have changed within this issue?

I will place within this next sprint, please feel free to close or change the pipeline for this issue.

Thanks!

[2022-07-22 18:22] natenatesoo commented on #1138
@acidlazzer I know that you have a finished product, but I'm not sure if there is still ongoing development.  If the core of this is finished, I would suggest closing this issue, and creating an epic if necessary for future iterations.

I will move this to the current sprint, but if finished, please feel free to close or start a new separate issue.

Thanks!

[2022-07-22 18:24] natenatesoo commented on #1351
@divine-comedian I will place this issue into the Repeating  pipeline with tag until we have confirmation of June distribution.

Feel free to close this issue when completed.

Thanks!

[2022-07-22 18:25] natenatesoo commented on #1335
@tamarandom Are there any updates here?

I will place this issue within the current sprint.  Please feel free to update or close when you have time!

Thanks!

[2022-07-22 18:27] natenatesoo commented on #1366
@tamarandom I assume this is an ongoing effort as Advice Process, and Feedback continues to come in.  I will add a repeating tag until we get more clarity on next steps.

Thanks!

[2022-07-22 18:28] natenatesoo commented on #221
@tamarandom I think this is something that will happen as you say, naturally! :)

I'm going to close it just for the sake of organization!  If you want it to stay open, please feel free to alter.

[2022-07-22 18:28] #221 closed

[2022-07-22 18:30] natenatesoo commented on #1403
@tamarandom Not sure of the entire scope of this effort.  I know its a lot, but perhaps we can close it and create an epic to consolidate some of the issues!

I will bring this issue into the next sprint and allow for modification if need be.

Thanks!

[2022-07-22 18:31] natenatesoo commented on #1331
@liviade1 I will keep this in product backlog until the issue is more defined.

If you have any updates, or wish to clarify the details of the issue, please feel free to add and move the issue into our current sprint.

Thanks!

[2022-07-22 18:33] natenatesoo commented on #1382
@tamarandom This issue was part of our Retrospective to do action, but does not contain any tangible outcomes.  I will close this issue, and incorporate it into the most recent Sprint Retrospective with the development of a TEC Roadmap which includes the efforts articulated in the title here.

If this needs to be maintained as an active issue, please feel free to re-open.

Thanks!

[2022-07-22 18:33] #1382 closed, assigned to tamarandom

[2022-07-22 18:35] natenatesoo commented on #1304
@eduardovegap Considering this issue contains constantly evolving work, it may be better to close the issue in favor of the development of an epic with tangible milestones as we continue to develop onboarding infrastructure.

I will add this to the current sprint with the recommendation to create an epic.

Please feel free to modify, close, or move pipelines.

Thanks!

[2022-07-22 18:37] natenatesoo commented on #1325
@eduardovegap Great work!  I'm going to add this within the current sprint with the objective of finding the best way to distribute this information.  Where do we want to put it?  Gitbook, Website, etc...

Thanks!

[2022-07-22 18:39] natenatesoo commented on #1388
@Zeptimus Do we have a central repository that we can place this document for public access?

If so, please feel free to close this issue.  If not, I think it would be good to add to Gitbook or Transparency Repository/Page if you have one developed.

I will add this issue to current sprint, but feel free to close if you feel like the issue has been accomplished.

Thanks!

[2022-07-22 18:39] natenatesoo commented on #1250
Continuing into this sprint.

[2022-07-22 18:40] natenatesoo commented on #1413
@tamarandom Conversations and disparate work still ongoing with this issue, so I will add it to the current sprint..

[2022-07-22 18:41] natenatesoo commented on #1400
This will be resolved and posted in the Forum during this sprint with a finalization of the Policy through snapshot.

[2022-07-22 18:41] natenatesoo commented on #1392
@divine-comedian Any updates on this?

I will add it to the current sprint.

Thanks!

[2022-07-22 18:42] natenatesoo commented on #1406
@divine-comedian Any updates on this effort?!

I will add this to current sprint.  Please feel free to change status.

Thanks!

[2022-07-22 18:46] natenatesoo commented on #1370
@chuygarcia92 Any updates on this?  Any tangible milestones that can be accomplished?

I will add this to the current sprint, and if you feel it needs to be in the backlog, please feel free to move it.

Thanks!

[2022-07-22 18:47] natenatesoo commented on #1299
@chuygarcia92 any updates on this?  Since this issue attempts to accomplish a lot of different things, I would suggest closing this issue and creating an epic for progressive development!

I will add this to current sprint, please feel free to change.

Thanks!

[2022-07-22 19:18] natenatesoo commented on #1282
@divine-comedian I will add this to the current sprint! Keep up the good work!

[2022-07-22 19:19] natenatesoo commented on #780
@tamarandom @eduardovegap I am going to add the repeating tag, and move to the repeating pipeline!

Thanks!

[2022-07-22 19:20] natenatesoo commented on #1368
@liviade1 Any updates on this?  Will add to current sprint.  If needed to be moved, please do so!

Thanks!

[2022-07-22 19:21] natenatesoo commented on #1096
@Costa91 I'm going to add this to the current sprint, and work with you on any additional clean ups and clarity.  Apologies for the delay on this issue.

[2022-07-22 19:22] natenatesoo commented on #778
@tamarandom This seems like it should be an epic.  I will work on developing one with the current outline within this issue.  I will keep this issue in the Product Backlog, and develop an epic.

Thanks!

[2022-07-22 19:23] natenatesoo commented on #1152
@tamarandom Is this issue to simply remove traces of WG existence/archive it.  Is Gitbook the only thing left?  If so, I will add to this sprint and close when finished.

Thanks!

[2022-07-22 19:24] natenatesoo commented on #1363
@iviangita Any updates on these initiatives?  I will add it to the current sprint!

Thanks!

[2022-07-22 19:25] natenatesoo commented on #1393
@Zeptimus As soon as funding goes through, is there a development plan that we can add to this issue?  Does this need a dedicated epic to organize for future sprints?

I will add this issue to the current sprint until more information emerges.

Thanks!

[2022-07-22 19:26] natenatesoo commented on #1415
@iviangita Any updates?

I will add this to current sprint, please feel free to alter.

Thanks!

[2022-07-22 19:27] natenatesoo commented on #1416
@iviangita Any updates on this issue?  Very similar to previous issue. Do you want to develop an epic?

I will add this issue to current sprint, please feel free to alter.

Thanks!

[2022-07-22 19:27] natenatesoo commented on #1417
@iviangita :) Ongoing.  I will add to current sprint, please feel free to alter.

[2022-07-22 19:28] natenatesoo commented on #1418
@iviangita :) Adding to current sprint!

[2022-07-22 19:28] natenatesoo commented on #1419
@iviangita :) Adding to current sprint!

[2022-07-22 19:30] natenatesoo commented on #1235
@eduardovegap @scottbenjd Any updates on this issue?  Should we create an epic for progressive development of Community Data?

I will add to current sprint, please feel free to alter, move, or close the issue.

Thanks!

[2022-07-22 19:31] natenatesoo commented on #1254
@tamarandom Can this issue be closed?

I will keep in product backlog until more information emerges.

Thanks!

[2022-07-22 19:32] natenatesoo commented on #1277
@liviade1 Any updates on this issue?  I will keep this in the product backlog until more information emerges.

Thanks!

[2022-07-22 19:34] natenatesoo commented on #1334
I'm going to close this issue do to lack of need/interest/progress.

Adjustments to community call format seems to happen naturally.  If this needs to be re-opened, please feel free to do so.  @mount-manu @tamarandom

[2022-07-22 19:34] #1334 closed, assigned to nobody

[2022-07-22 23:31] divine-comedian commented on #1368
I think this has made serious progress, if not done. I will let livia check it out though

[2022-07-22 23:32] divine-comedian commented on #1406
Thanks! Should be resolved in the next week.

[2022-07-22 23:32] divine-comedian commented on #1392
waiting for @kristoferlund to upload..no progress to report

[2022-07-22 23:40] divine-comedian commented on #1282
We're doing some brainstorming to overcome the technical hurdles on sourcecred, there will be a sourcecred distribution in probably two weeks.

[2022-07-22 23:42] divine-comedian commented on #1351
two more weeks and this should be done at the current pace.

[2022-07-25 14:51] acidlazzer commented on #1138
It is not finished :), this is just the final animatic ( where is showed the keyframes, time, sound draft ) to start doing the final animation :)

[2022-07-25 14:55] acidlazzer commented on #1335
The design is done, but don´t know if @tamarandom did the POAP event :)

[2022-08-05 17:22] #1401 closed, assigned to gideonro

[2022-08-05 17:22] gideonro commented on #1401
done. we went with guild.xyz

[2022-08-19 16:21] tamarandom commented on #1366
The proposal is on the forum for community advice process.
Next step will be to create a snapshot vote.
https://forum.tecommons.org/t/the-steward-wg-transformation-proposal-for-community-advice-process/1118/2

[2022-08-19 16:21] #1366 closed, assigned to tamarandom

[2022-08-19 16:22] tamarandom commented on #1335
Done and sent! Thanks to @Zeptimus for helping distribute them!

[2022-08-19 16:22] #1335 closed, assigned to tamarandom

[2022-08-19 16:23] tamarandom commented on #1403
This is part of the Steward Transformation proposal.
https://forum.tecommons.org/t/the-steward-wg-transformation-proposal-for-community-advice-process/1118/2

[2022-08-19 16:23] #1403 closed, assigned to tamarandom

[2022-08-19 16:28] tamarandom commented on #1413
Currently on hold.
We will revisit in Oct timeframe.

[2022-08-19 16:29] tamarandom opened #1429 "Tamara on vacation Aug 22 - Sept 9"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-08-19 16:30] #1411 closed, assigned to tamarandom

[2022-08-29 19:54] #1427 closed, assigned to mount-manu

[2022-09-02 17:32] natenatesoo opened #1430 "Swarm Epic #1 - Organizational Structure"
## 👇🏽  What is this issue about? Give as much detail as you can.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are there links or docs related to this issue?

## 👀  Who should be in the loop abo

[2022-09-02 17:53] natenatesoo opened #1431 "Sprint Swarm #1 - Organizational Structure"
## 👇🏽  What is this issue about? Give as much detail as you can.
The Topic Areas for this Sprint Swarm are:

Simplification of Process, communication, and Structure
Reduce Comms to a core team.  Optimize Resource allocation. Define WG Structures.
New Compensation Model for Contributors
Focus contributors in one WG area.

## ✨  What does success look like? (i.e., the criteria to meet to call this i

[2022-09-02 17:54] #1430 closed, assigned to nobody

[2022-09-02 17:54] natenatesoo opened #1432 "Restructuring Comms WG"
Tasks include:

Setting up a core team.
Consolidating Teams into one unit.
Eliminate unnecessary Multi-Sigs.
Move to monthly Payments

[2022-09-02 17:58] natenatesoo opened #1433 "Organizing Roles in Discord"
Tasks Include:

Identify new roles, reform old roles, and propose changes to our roles setup in Discord Server.  Engage with advice process with @iremozturan and Communitas WG.  Propose changes to the Forum.

[2022-09-02 17:58] natenatesoo opened #1434 "Organizing Discord Server - Cleanup Process"
Tasks Include:

Explore a new set-up for our Discord Server.  Identify areas where we can consolidate/clean-up to simplify the server.  Engage in the Advice process, and produce a Forum Post.

[2022-09-02 17:59] natenatesoo opened #1435 "Evaluate Funding parameters for WGs."
Tasks Include:

A forum post that evaluates the flow of money into WGs, requirements for success, and models that are sustainable for the TEC to implement in our efforts to keep WGs operational.

[2022-09-02 17:59] natenatesoo opened #1436 "Propose Sustainable Model for Compensation"
Tasks Include:

Providing a Forum post exploring an alternative Model for Compensation through the use of Holarchies.

[2022-09-02 18:00] natenatesoo opened #1437 "Re-Visit Documentation - Manifestos, Agendas"
Tasks Include:

Evaluate each WG's Manifesto and Agenda Documents.

Identify Improvements, modifications, or updates needed.

Notify WG stewards on updating these documents.

[2022-09-02 18:00] natenatesoo opened #1438 "Create List of Newcomer Tasks for each WG"
Tasks Include:

Create a list of newcomer tasks for each WG and have them ready for Orientation calls.

[2022-09-02 18:00] natenatesoo opened #1439 "Develop Stakeholders TEC List"
Tasks Include:

Delineate & Organize types of TEC Members into Lists.

Identify current & potential organizational partnerships for the TEC and aggregate them into a List.

Define purpose for these lists.

[2022-09-02 18:01] natenatesoo opened #1440 "Optimize Meeting Times and Community Calendar"
Tasks Include:

Evaluating the amount of calls we take in the TEC.  What is the most optimal to stay up to date.

Engage each WG and ask what times are good for meeting, and ensure they hold these calls.

Update Calendar with Scheduling changes.

[2022-09-02 18:01] natenatesoo opened #1441 "Exploring Reputation System"
Tasks Include:

Explore how the use of POAPS, Badges, etc. can be used in the TEC to improve Advice Process, Communication, and incentivize participation.  Forum Post.

[2022-09-02 18:06] natenatesoo commented on #1441
Assigned to: @Enti

[2022-09-02 18:17] natenatesoo commented on #1434
Assigned @Enti

[2022-09-14 14:46] Costa91 opened #1442 "Discord New Member Role Clean Up"
## 👇🏽  What is this issue about? Give as much detail as you can.

As we've gathered more members, the tag we assign to newcomers ("New member") hasn't been updated and so we've accumulated a big amount of users with this tag. Most of them are no longer new members and don't need for example: to be notified for the announcements directed to newcomers.

It is also good to get rid of clutter in the s

[2022-09-14 14:48] #1442 closed, assigned to Costa91

[2022-09-16 14:59] Costa91 opened #1443 "Discord Channels Audit 2.0"
## 👇🏽  What is this issue about? Give as much detail as you can.

An audit on the channels we have on discord, to clean up what we don't use.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about this issue. Those who will have valuable input.)
@

## 🔗  Are th

[2022-09-16 15:58] #1429 closed, assigned to tamarandom

[2022-09-16 16:00] tamarandom opened #1444 "Steward WG transformation - the next steps"
## 👇🏽  What is this issue about? Give as much detail as you can.

The snapshot vote passed for the proposal.
This Sprint will be focused exclusively on the next steps to transition to the new structures.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1.
2.
3.

## 🧍🏻‍♀️🧍🏻‍♂️  Who should be part of the Advice Process? (People who should be consulted about th

[2022-09-16 16:03] tamarandom commented on #890
Hey @Costa91! We should really rethink the format of this. There are a bunch of improvements that we can make!

[2022-09-16 16:05] natenatesoo commented on #1438
Done!

[2022-09-16 16:05] #1438 closed, assigned to natenatesoo

[2022-09-16 16:06] #1331 closed, assigned to liviade1

[2022-09-16 16:06] #1219 closed, assigned to liviade1

[2022-09-16 16:06] #1408 closed, assigned to liviade1

[2022-09-16 16:06] Zeptimus commented on #1419
https://www.figma.com/file/09F0cOEtObOsINqSInLokH/TEC-Transparency-Audit-Apr-Jun--%2722?node-id=21%3A1044

[2022-09-16 16:06] #1419 closed, assigned to eenti

[2022-09-16 16:06] natenatesoo commented on #1440
Still not executed.  Need more clarity on WG meeting times.

[2022-09-16 16:07] Zeptimus commented on #1418
https://www.figma.com/file/09F0cOEtObOsINqSInLokH/TEC-Transparency-Audit-Apr-Jun--%2722?node-id=21%3A1044

[2022-09-16 16:07] #1418 closed, assigned to Zeptimus

[2022-09-16 16:07] tamarandom commented on #718
Closing old issues.

[2022-09-16 16:07] tamarandom commented on #718
Closing old issues.

[2022-09-16 16:07] #718 closed

[2022-09-16 16:07] Zeptimus commented on #1417
https://www.figma.com/file/09F0cOEtObOsINqSInLokH/TEC-Transparency-Audit-Apr-Jun--%2722?node-id=21%3A1044

[2022-09-16 16:07] #1417 closed, assigned to Zeptimus

[2022-09-16 16:07] tamarandom commented on #721
Closing old issues.

[2022-09-16 16:07] #721 closed

[2022-09-16 16:07] Zeptimus commented on #1415
https://www.figma.com/file/09F0cOEtObOsINqSInLokH/TEC-Transparency-Audit-Apr-Jun--%2722?node-id=21%3A1044

[2022-09-16 16:07] #1415 closed, assigned to iviangita

[2022-09-16 16:07] #1416 closed, assigned to iviangita

[2022-09-16 16:07] Zeptimus commented on #1416
https://www.figma.com/file/09F0cOEtObOsINqSInLokH/TEC-Transparency-Audit-Apr-Jun--%2722?node-id=21%3A1044

[2022-09-16 16:08] tamarandom commented on #765
Closing old issues.

[2022-09-16 16:08] #765 closed

[2022-09-16 16:08] tamarandom commented on #862
Closing old issues.

[2022-09-16 16:08] #862 closed

[2022-09-16 16:09] #923 closed, assigned to tamarandom

[2022-09-16 16:09] tamarandom commented on #923
Closing. Wont't do.

[2022-09-16 16:10] tamarandom commented on #625
closing older issues.

[2022-09-16 16:10] #625 closed

[2022-09-16 16:12] tamarandom commented on #243
Closing old issues!

[2022-09-16 16:12] #243 closed

[2022-09-16 16:12] tamarandom commented on #1254
Closing old issues.

[2022-09-16 16:12] #1254 closed, assigned to eduardovegap

[2022-09-16 16:14] tamarandom commented on #1282
Closing old issues.

[2022-09-16 16:14] #1282 closed, assigned to mateodaza

[2022-09-16 16:15] tamarandom commented on #717
Closing old issues.

[2022-09-16 16:15] #717 closed

[2022-09-16 16:15] tamarandom commented on #761
Closing old issues. This is underway at GM!

[2022-09-16 16:20] #86 closed

[2022-09-16 16:20] #87 closed

[2022-09-16 16:21] tamarandom commented on #1297
Closing old issues.

[2022-09-16 16:21] #1297 closed, assigned to nobody

[2022-09-16 16:21] tamarandom commented on #1321
Closing old issues.

[2022-09-16 16:21] #1321 closed, assigned to nobody

[2022-09-16 16:21] #1353 closed, assigned to kristoferlund, mateodaza, divine-comedian, 0xNuggan

[2022-09-16 16:21] tamarandom commented on #1353
Closing old issues.

[2022-09-16 16:22] natenatesoo commented on #1439
Advice Process for evaluation.

[2022-09-16 16:23] tamarandom commented on #778
Coordination will change based on the Steward WG transformation. Closing this issue!

[2022-09-16 16:23] #778 closed

[2022-09-28 16:22] divine-comedian opened #1445 "Top-up #2 for Rewards Treasury"
## 👇🏽  What is this issue about?
Reward board needs more funding already! We need to get the forum post up and the subsequent gardens vote.

We will run out of rewards sooner than we promised, we'll need to explain why and ask for the community's approval to request funds

**how much should we request? another 20k wxDAI?**

## ✨  What does success look like? (i.e., the criteria to meet to call thi

[2022-09-30 15:19] #1227 closed, assigned to eduardovegap

[2022-09-30 15:19] eduardovegap commented on #1227
Repeated task, closing it now.

[2022-09-30 15:20] eduardovegap commented on #1327
Will do this month, will past the torch for next month to @Costa91 or @tamarandom

[2022-09-30 15:24] eduardovegap commented on #1325
Process is completed. We implemented the first phase on the beginning of september: Being a member means:

1. The newcomer introduce themselves on the "introduce yourself" channel.
2. Guides welcomes them and invites them to join Orientation call.
3. Guides praise them.
4. A week after, Guides do follow up.

[2022-09-30 15:24] #1325 closed, assigned to eduardovegap

[2022-09-30 15:25] eduardovegap commented on #1304
Passing the torch of this issue to @Costa91.

[2022-09-30 15:26] eduardovegap commented on #1246
We have changed the focus, we are no longer looking to onboard "contributros" to WGs. We act more like a social layer that guides folks on the TE ecosystem.

[2022-09-30 15:26] #1246 closed, assigned to eduardovegap

[2022-09-30 15:27] eduardovegap commented on #1277
Passing the torch to @iremozturan. To follow up if new quantifiers is needed. We can add this option to the orientation call, as something anyone could do.

Reward system will have to verify this before. @iremozturan if this isn't possible feel free to close this issue.

[2022-09-30 15:29] eduardovegap commented on #1361
Passing the torch on this to @gideonro. We talked about matching the trivia game for when the Curation service is ready to be shared.

[2022-09-30 15:32] eduardovegap commented on #751
Passing the torch to @iremozturan, when time comes, ideally we will have a list of simple tasks from WGs.

[2022-09-30 15:33] eduardovegap commented on #1439
Briefly comment on this: there are many lists around with Hatchers and People we believed where of interest. Let's not duplicate work. It would be nice to update the lists (they date back to January)

[2022-09-30 15:42] liviade1 commented on #1277
@divine-comedian is taking care of quantifiers onboarding. It's always good to have more quantifiers, so it's good to keep in the loop of the onboarding process

[2022-09-30 15:48] iremozturan commented on #1277
Just working to update the Onboarding presentation and I think this addition would help increase retention with simple and clearly defined step for a newcomer.

Thank you all!

[2022-09-30 16:40] divine-comedian commented on #1277
nice!

sure it's good have more quantifiers - I think many people in the pool aren't active anymore so I'm having to weed them out case by case.

we also NEED MORE PRAISE!!

[2022-09-30 17:20] natenatesoo opened #1446 "Stewardship & WG Transformation Process"
## 👇🏽  What is this issue about? Give as much detail as you can.
This Sprint Swarm will focus on initializing the Steward Transformation Process and for WGs to re-evaluate their Manifestos and role within the TEC.

## ✨  What does success look like? (i.e., the criteria to meet to call this issue done)
1. Commons Stewards Nomination Process
2. WG Manifestos revised.
3. WG Roadmaps and Functions def

[2022-10-12 11:04] #1064 closed, assigned to PabloCGL, mcsmith89

[2022-10-12 11:06] #1099 closed, assigned to nobody

[2022-10-12 11:06] #1097 closed, assigned to divine-comedian

[2022-10-12 11:06] #960 closed, assigned to nobody

[2022-10-12 11:06] #1000 closed, assigned to Vyvy-vi

[2022-10-12 11:06] #1047 closed, assigned to Vyvy-vi

[2022-10-31 23:10] brichis opened #1447 "Oops #4"

[2022-10-31 23:10] brichis opened #1448 "Oops #3"

[2022-10-31 23:10] brichis opened #1449 "Oops #2"

[2022-10-31 23:11] brichis opened #1450 "Oops #1"

[2022-10-31 23:25] #1450 closed, assigned to nobody

[2022-10-31 23:25] #1449 closed, assigned to nobody

[2022-10-31 23:26] #1448 closed, assigned to nobody

[2022-10-31 23:26] #1447 closed, assigned to nobody

[2022-10-31 23:35] brichis opened #1451 "Oops #5"

[2022-10-31 23:36] #1451 closed, assigned to nobody